[2016-12-14 19:58] eheintzelman commented on #643
Next up to meet Accountant MVP needs are data tables!  See accountant workflow for more context: https://github.com/colinxfleming/dcaf_case_management/blob/475bb8b8ad6dd8b1b8edba542c2dd47a34be31e5/_design/Accountant%20Flow%20-%2011-16-16.pdf

User stories:

1 - Accountant needs the ability to generate a list of unpaid, fulfilled procedures that can be printed or exported to a .csv or excel file.

[2016-12-15 05:10] colinxfleming commented on #643
Love this.

To speak to the questions about further discovery, I think right now we set this up according to the first option and iterate from there.

A concern: Right now one of the things we've tried our absolute hardest to avoid is a way to bulk export data out of this sys. I would like to pursue other solutions -- a custom view that's easy to copy/paste from, API calls to Quickbooks, building

[2016-12-15 05:14] colinxfleming commented on #643
sorry, hit go before I completed the second thought.

To speak to the questions about further discovery, I think right now we set this up according to the first option and iterate from there. I think there's merit in reviewing and taking stock of how program staff other than DCAF's accountant will put this to work, but I think that option 1 gets us something usable soonest, and I kinda think of fu

[2016-12-15 14:48] mebates commented on #643
If we are not allowing an export, we would _just_ need the second view, with the data entry, right? I think the inline editing of check number and date should work. Once it's entered though, does it disappear from the list? Or disappear upon reload?
Looks great @eheintzelman !

[2016-12-15 16:17] eheintzelman commented on #643
Re exporting data:  sounds good to explore other options.  For now, as long as she can view the data in a list format and either copy/paste or print out the view, it will meet her needs.

@mebates I think that's right.  We only need one view, as long as there is room for all the data fields.  I'll combine the two.  Good question about data disappearing - bad feedback if it disappears! My thought i

[2016-12-15 23:02] colinxfleming commented on #667
<img width="983" alt="screen shot 2016-12-15 at 6 02 11 pm" src="https://cloud.githubusercontent.com/assets/3866868/21245481/a4700e8c-c2f0-11e6-9d42-9c97aa22bebc.png">

Screenshot to clarify!

[2016-12-15 23:11] kscoulter commented on #728
@colinxfleming, I'm not going to be there in person today, but I'll work on some UI stuff + creating issues today.

[2016-12-15 23:13] colinxfleming commented on #728
@kscoulter you're a gem, thank you so much. Flag anything and everything that catches (or doesn't catch) your eye -- a fresh view of the system is super valuable at this point I think! Thanks a ton!

[2016-12-16 00:00] colinxfleming commented on #502
Resolved by keeping pledge and NAF pledges on the pregnancy object and moving everything else to ExternalPledge objects. Closing.

[2016-12-16 00:00] #502 closed

[2016-12-16 00:03] colinxfleming opened #782 "Update civic.json"
We're in full production now, time to update this!

[2016-12-16 00:14] kscoulter commented on #728
Colin, an you add me to the slack team? I don't see a way for me to sign
up. My email is kseniacoulter@gmail.com

On Thu, Dec 15, 2016 at 6:13 PM, Colin <notifications@github.com> wrote:

--
Ksenia Coulter

*Need a website? Contact me for details.*

[2016-12-16 00:17] colinxfleming commented on #728
@kscoulter check it out here -- http://codefordc.org/joinslack once you're hooked into that, we're the #dcaf_case_management channel

[2016-12-16 00:17] kscoulter opened #783 "Figure Out Why Line:XY Turns White After Click"
![linegoeswhite](https://cloud.githubusercontent.com/assets/12025195/21247114/174a8144-c2fb-11e6-8951-4e089b80b2af.gif)

Guessing it has something to do with a :visited style.

[2016-12-16 00:29] kscoulter opened #784 "Perform Validation on the Add Patient From Prior to Submit."
Perform front-end validation on the new patient form. It can be frustrating to fill out the form and lose all that information because an extra number has snuck into the phone number. Some HTML5 form elements already come with validation.

[2016-12-16 01:08] colinxfleming commented on #784
tagging in @Kevin-Wei

[2016-12-16 05:11] colinxfleming commented on #643
Just to log the contents of my and @eheintzelman 's conv tonight: Sorting is probably NBD, there's almost definitely a js library we can use of some sort. We can throw a javascript friendly person at it as a nice to have.

[2016-12-16 20:40] AlexandraCasser commented on #781
@mebates are you working on this?  If not I'd like to take it!

[2016-12-16 20:49] mebates commented on #781
@AlexandraCasser - please do! I'm the designer so I can consult with you as you develop.

[2016-12-17 19:59] eheintzelman commented on #643
Good feedback.  I've combined the reports into one, revised the search parameters, and added proposed sorting functionality.  I'll be running these wireframes by the accountant in early January for feedback.
![accountant dashboard - annotated](https://cloud.githubusercontent.com/assets/17989540/21289344/43d2e778-c469-11e6-9d7b-68e3d1b450f2.png)
![accountant billing report - annotated](https://clou

[2016-12-19 19:58] AlexandraCasser commented on #667
@colinxfleming Is this still relevant?

[2016-12-20 06:45] colinxfleming commented on #667
@AlexandraCasser yep, this is still live! Should be pretty straightforward but I'd very much appreciate your time and energy on this regardless.

You should feel free to join our [slack](http://codefordc.org/joinslack) too if you're so inclined! We're #dcaf_case_manager in there.

How'd you find us, if ou

[2016-12-20 06:55] colinxfleming commented on #783
@kscoulter love the GIF here, super helpful. Also really appreciate your brainpower on this aspect of our app!

Seems like other links also have this , which suggests that we can apply a global css style. Do you have a suggestion for what color we should change it to (maybe a black, a darker purple, or another color entirely?)

cc team design @eheintzelman @mebates

[2016-12-20 07:07] colinxfleming commented on #784
This is absolutely dead on and very insightful. Here are two possibilities in order of complexity:

* on failure, render new and have some errors populate (this might not work since we don't prerender the new patient partial)
* switch this to some ajax that renders error messages and prevents the form from submitting if it doesn't pass validation, and creates the patient, clears the create call, a

[2016-12-24 17:11] colinxfleming opened #786 "Update fetal anomaly to fetal diagnosis"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?** @KatSDC is making some clutch edits to special circumstances. Because we're a production system, we're going to want to update what's already in our prod db.

* **What feature or behavior is this required for?** Completing t

[2016-12-24 17:16] #631 closed

[2016-12-26 17:04] #782 closed

[2016-12-26 17:05] colinxfleming commented on #774
Here was our secret answer b/w I should read more closely:

<img width="796" alt="screen shot 2016-12-26 at 12 05 06 pm" src="https://cloud.githubusercontent.com/assets/3866868/21484593/9298c0a2-cb63-11e6-8210-4a7aa999f9d1.png">

[2016-12-26 17:05] #774 closed

[2017-01-01 01:08] #778 closed

[2017-01-01 17:57] colinxfleming commented on #786
Ran this in prod - closing.

[2017-01-01 17:57] #786 closed

[2017-01-01 23:14] DarthHater opened #791 "Upgrade to Rails 5"
In keeping up with the internet, it would be wise to upgrade to Rails 5. The biggest issue thus far is auth0 (a contender for SSO) requires Rails 5.

[2017-01-01 23:15] DarthHater commented on #323
After some looking at this, if we want a free solution, the best way forward seems to be using auth0 or some analog to use SSO, and then using Google. Users can then turn on 2FA on their Google Account and the DCAF effectively uses two factor auth.

[2017-01-01 23:16] colinxfleming commented on #746
This is fully resolved with #788

[2017-01-01 23:16] #746 closed

[2017-01-02 01:32] colinxfleming commented on #791
Since we have such a rigorous test suite, probably this is mostly getting the libraries in agreement so that we can do basic stuff like `rails test`, `rails db` stuff, `bundle install`, etc. Given that most of the stuff we used was engineered for rails 4, this might be kind of a pain (as @DarthHater can attest).

Here's the rails guide: http://guides.rubyonrails.org/upgrading_ruby_on_rails.html

[2017-01-02 01:48] colinxfleming opened #792 "Indicate environment in top navbar"
During data entry, we had a near miss where someone almost punched some data into the staging environment.

* **What are we trying to do?** Clearly indicate in the navbar what the current environment / heroku app is.

* **What feature or behavior is this required for?** Clearly marking what fund or environment

* **How should we solve this issue?** Replace `DC Abortion Fund` in `app/views/layouts/

[2017-01-02 06:06] colinxfleming opened #793 "Include pledge recommendations and guidelines based on LMP"
* **What are we trying to do?** DCAF has some guidelines on how much money to grant based on LMP; CMs should have pledge caps on hand when they're talking to patients, especially since they sometimes change.

* **What feature or behavior is this required for?** As a user, I want to not accidentally blow my budget and make the CM directors mad at me.

* **How should we solve this issue?** TBD

* **

[2017-01-02 06:15] colinxfleming opened #794 "Additional types of external pledges to log"
* Clinic discount
* MAYBE Access Exception (how DCAF logs $ to cover gas expenses, etc, but

Todo for me: Make sure that we can get rid of access exception

[2017-01-02 06:21] colinxfleming opened #795 "Improvements to notes section in patient edit view"
There are a few user feedback items pertaining to the notes partial as follows:

* Would be nice to be able to email a user from their notes -- e.g. if not system, link to a mailto of their email
* Notes metadata should not be styled as a table -- we can just have them next to each other in a header. Something like `User.name on YYYY-MM-DD TIMESTAMP` should work nicely.

Stems from #593

[2017-01-02 06:24] colinxfleming commented on #593
Clearly actionable stuff here has been spun into an issue -- closing. The rest, I think we should wait to see if they pop up again. 💯

[2017-01-02 06:24] #593 closed

[2017-01-02 06:45] colinxfleming commented on #694
I made us an `uptime robot` on uptimerobot.com. I'll close this when I get it plugged into either the team slack or my own personal slack.

[2017-01-02 06:51] colinxfleming commented on #694
(Other people who may be interested in an outage: the CMD team)

[2017-01-03 02:59] colinxfleming opened #797 "Add gmail/sso tokens to prod environments"

[2017-01-03 21:15] colinxfleming opened #799 "Write wiki page on how we security"
Should be ready by abortcon

[2017-01-05 23:40] colinxfleming opened #800 "Add rake task to generate training accounts"

[2017-01-07 21:03] #792 closed

[2017-01-08 19:29] mebates commented on #783
How about Navy blue? Also would love to incorporate an underline on hover. Good catch, thanks!

[2017-01-10 03:59] #323 closed

[2017-01-12 03:51] colinxfleming commented on #731
Taken care of by @ashlynnpai , just forgot to close! Closing out.

[2017-01-12 03:51] #731 closed

[2017-01-12 03:57] colinxfleming commented on #699
This is a priority and I'd be stoked if someone knocked it out!

[2017-01-12 22:48] mebates commented on #779
Yes to all of the above! Would recommend using standard radio buttons from U.S. Web Design Standards. https://standards.usa.gov/form-controls/#radio-buttons

[2017-01-12 23:12] colinxfleming commented on #743
Here's a link to the session deetz:

http://take-root.org/submit-a-proposal/

Proposals for the 2017 Take Root: Red State Perspectives on Reproductive Justice Conference should

address how presenters will connect to reproductive rights and justice in red states
include concrete take-aways and/or action items
be specific in their focus and what they uniquely contribute to Take Root
be engaging and

[2017-01-13 00:34] vtmeghan opened #808 "Blank appointment data validation bug"
Had bug where a pledge had been submitted, PT called back for another pregnancy, and somehow the date and clinic had been removed. New date/clinic were not able to be saved because pledge was already marked sent, but pledge was unable to be unsent because date/clinic fields were null.

Colin worked around by unpledging through the backend but actual fix needs to be worked out.

[2017-01-13 05:23] lwaldsc commented on #743
Great. Meghan and I started the CM UX survey tonight for some
numbers/feedback on the system. Can start a googledoc to organize sections
and start writing some copy.

On Jan 12, 2017 18:12, "Colin" <notifications@github.com> wrote:

[2017-01-13 17:02] lwaldsc commented on #781
Just a thought, @Mebates, but could the "remove" just be a 🚫 or something
similar with a hover over text "Remove from call list"? Might give us a
spare few pixels.

On Fri, Jan 13, 2017 at 11:33 AM, Alexandra Casser <notifications@github.com

[2017-01-13 17:30] AlexandraCasser commented on #781
@lwaldsc I think that's a really good idea.

@mebates How does this look to you?  I added some more padding to the table cells and thought we could fill in every other column to make it easier to differentiate.
![screen shot 2017-01-13 at 12 28 53 pm](https://cloud.githubusercontent.com/assets/12383179/21939041/ff454870-d98b-11e6-9258-01f51966258f.png)

[2017-01-13 17:45] AlexandraCasser commented on #667
@colinxfleming so sorry I never got back to you.  I found you via Code for DC...and now I have the time to actually contribute!  Hopefully you'll see a few PR's from me over the next few days.  Please bear with me--I'm new to the open source world and haven't done any Ruby coding in ages.

[2017-01-13 18:46] AlexandraCasser commented on #667
See: PR #810

[2017-01-14 06:50] #784 closed

[2017-01-14 08:16] colinxfleming commented on #808
Steps to recreate:
* create a new patient
* give them an appointment date and clinic name
* submit their pledge
* blank out their appointment date or clinic
* try to save a new appointment date or clinic

Expected behavior: Should save!
Actual behavior: No save!

The pledge sent field validation is tripping us up here. I think in an ideal world it lets you replace but not empty out fields necessar

[2017-01-14 08:16] colinxfleming commented on #797
All set!

[2017-01-14 08:16] #797 closed

[2017-01-14 19:34] colinxfleming opened #811 "Phase out passwords in favor of google SSO"
I'd like to move us entirely toward single sign on, so we can hop on google's security entirely and reduce the terror factor. Here are the hurdles we need to overcome to get to SSO-only:

* How do we get everyone google SSO keys to developers who need them without exposing them?
* How can we account for training needs, when a whole slew of people will show up and need accounts in a sandbox environ

[2017-01-14 19:54] colinxfleming opened #812 "Patient archiving"
Time to make an issue for this. Here is the issue:

* There are some patient records who we are functionally done with; either people who have elected to carry their pregnancies, or who have had their procedures with assistance from us, or who have just timed out past the point where they need our help (120 days or so).
* We no longer really need a lot of their personally identifiable information

[2017-01-14 19:55] colinxfleming opened #813 "Break out readme into wiki pages"
Per discussion at a hacknight in December with @lomky and @Kevin-Wei : Our readme is great but it's too long. We should break stuff like setup etc into individual pieces in the wiki.

[2017-01-14 23:04] stvnrlly commented on #813
Another approach is to use a `docs` folder and link to the files within it from the readme. I personally like that approach because it keeps the documentation with the project; I feel like wikis are more likely to drift apart from the code since you can't update the wiki as part of your feature branch.

[2017-01-15 01:07] colinxfleming opened #814 "Better patient mocking based around more realistic patient stories"
@lomky raised the excellent point that at this point, we know what patterns are in our patient stories, yet our seeds and test fixtures don't really reflect these stories. Adjusting them to reflect reality is likely to be time very well spent, both for realistic testing and so that developers can understand what things look like in livefire situations.

I've never done story based testing factorie

[2017-01-15 01:15] colinxfleming opened #815 "Add a list of documentation about our tech stack and onboarding resources"
This was a great suggestion that stemmed from a conversation last December. There are some established resources that form the baseline of this app, and it might be worth having some refresher docs on hand to jog people's memories about rails etc.

[2017-01-16 18:47] DarthHater commented on #813
Agree with @stvnrlly here, I mostly see Wiki's used for Roadmap, etc... and Docs living in the code base (impetus to update them, review them, etc...)

[2017-01-17 18:30] vincecampanale commented on #771
I'd be happy to take this one!

[2017-01-18 05:33] colinxfleming commented on #771
hey @vincecampanale , that would rule! Let me know if I can assist with anything as you dig in.

[2017-01-18 20:18] AlexandraCasser commented on #795
@colinxfleming Is this how you'd like the metadata to look?
![localhost-3000-patients-587908345e0dd11a782fd603-edit](https://cloud.githubusercontent.com/assets/12383179/22081390/684c2024-dd91-11e6-8791-4fc0fb452e1e.png)

[2017-01-18 20:27] mebates commented on #795
Hey @AlexandraCasser ! I would do the metadata like this:

Username    MM/DD/YYYY, 00:00 pm

[2017-01-18 20:30] AlexandraCasser commented on #795
@mebates  duh, that's what you said before ;)  Thanks.  I'm happy to take this.  Where on the page should the email go?

[2017-01-21 02:45] mebates commented on #795
You can make the username a mailto: link

[2017-01-22 06:00] #667 closed

[2017-01-22 22:32] valeriecodes commented on #808
Takin' a look.

[2017-01-23 01:04] valeriecodes commented on #808
Hi @colinxfleming !
I don't seem to be able to reproduce this, could you let me know what I'm doing wrong?
Here are the steps I'm taking:
- Going to build your call list & entering a name to get to the create patient screen
- Entering a name, phone number, appointment date (2-1-2017), clinic name and DCAF soft pledge (50) to get a valid record
- Logging a call
- Submitting pledge
- Changing appoin

[2017-01-23 18:52] vincecampanale commented on #771
Hey @colinxfleming happy to help! I'm running into some setup issues. The command `rake db:seed` is returning this error:

[code]

[2017-01-24 01:25] AlexandraCasser commented on #795
@mebates Is there an example of how to grab the user email on one of these pages?

[2017-01-24 05:05] colinxfleming commented on #795
@AlexandraCasser looks like we don't have that currently implemented (it's just rendering name), so I'd say let's skip it. (Sorry for remixing directions!)

But if it ever comes up again, you can use rails' `mail_to` helper (similar to `link_to`)! http://apidock.com/rails/ActionView/Helpers/UrlHelper/mail_to

[2017-01-24 05:13] colinxfleming commented on #771
hey @vincecampanale , it looks like a gem we were using depreciated something and you're the first person to get bitten, sorry!

Go ahead and comment out the code in `lib/tasks/quality.rake` and that should fix.

[2017-01-24 05:40] colinxfleming commented on #808
@valeriecodes for the life of me, I can't recreate this either -- when I try and clear out a patient field . Since it's happened all of once to our prod data and we can't recreate, I'm inclined to call this unresolvable as such (or maybe not possible with patients created more recently?) and close.

@vtmeghan can you make sure to flag for the dev team if this pops up again?

[2017-01-24 14:10] AlexandraCasser commented on #795
@colinxfleming Thanks, I thought that was the case but wanted to make sure I wasn't missing anything.

[2017-01-24 14:56] vincecampanale commented on #771
@colinxfleming Okay, I think everything is ready to go. This is the output of `rake test` - is it expected?

<img width="1277" alt="screen shot 2017-01-24 at 9 55 43 am" src="https://cloud.githubusercontent.com/assets/15335197/22252157/4c98571a-e21b-11e6-8e8a-4247be77f80e.png">

[2017-01-24 21:42] mebates-USDS commented on #781
Thanks @AlexandraCasser !
- I think the filled columns distract from the rows; if anything I would fill in by row
- If you abbreviate "Appointment Date" to "Appt Date" you'll have more space in that column.
- Phone should definitely stay on one line; that is a fixed width
- LMP also feels like it should be on one line too
- Notes column can get narrower so other things can fit on one line
- Don't

[2017-01-24 22:56] DarthHater commented on #748
In progress

[2017-01-24 23:45] colinxfleming commented on #771
@vincecampanale given the scope of this issue those are almost definitely false flags. I'd start up a pull request for what you did and see if it passes the CI test.

[2017-01-24 23:47] colinxfleming commented on #808
As noted in slack, I think this bug stems from a case of validation rules changing around a little bit in flight, so this will only be an issue in extremely rare cases. Closing as as a wontfix.

[2017-01-24 23:47] #808 closed

[2017-01-24 23:55] vincecampanale commented on #771
@colinxfleming I just meant that I was done with setup - I'll get on writing the tests now! I haven't done this before, so it may take a while but I hopefully I can get it done in a couple of hours.

[2017-01-25 00:00] colinxfleming commented on #771
Oh word! Yeah, go ahead and dig in without fretting about those. There are
some similar tests you can adapt for some ideas.

On Tue, Jan 24, 2017, 6:55 PM Vince Campanale <notifications@github.com>
wrote:

[2017-01-26 15:18] lwaldsc opened #817 "Report on the PTs to whom we've soft pledged but never hard pledged"
As discussed in the DCAF internal meeting on 1-25-17, we'd like CMs to be able to pull a report of patients we have soft pledged (gave an initial amount we could help them with) but never hard pledged (confirmed a sent pledge).

Starting this issue thread for discovery and discussion on how we build this baby.

cc: @NerdyGirl537 @colinxfleming @mebates

[2017-01-26 22:59] NerdyGirl537 opened #818 "Breakout PP Clinic Name Info"
We need to breakout the clinic name drop downs for all the Planned Parenthood clinics so that each clinic is represented individually.

This will be a critical part of the pledge process, especially when auto-generating the pledge forms.

Update the file where the clinic names are stored.

[2017-01-27 00:26] lomky commented on #699
Taking a stab at this tonight.

[2017-01-27 00:48] lomky commented on #699
@colinxfleming

Here is what I've come up with from your input & the guides:

 - a standard throttle of `limit: 10, period: 10`
 - more severe throttle for these, maybe tighter restriction to `limit: 2, period: 2`?
    - `login`, `forgot password`, `user create`
  - maybe also restrict tries per email for these?
    - `login`, `forgot password`

let me know your thoughts on the particular numbers

[2017-01-27 01:00] lomky commented on #699
Oh, I just noticed they offer a fully written basic configuration. I'm going to hack at that a bit before trying anything custom.

[2017-01-27 01:08] mebates commented on #743
"Using Tech to Remove Economic Barriers to Abortion Care"

- Feature Journey Map, images of the system, system benefits table

*Goals:*
- Discuss opportunities in tech for repro-justice activists
- Inform activists doing similar work that DARIA exists
- Connect with funds that may find this useful

*Main ideas:*
- The problem
- The solution/What we did: describe product
- How we did it: Partner wi

[2017-01-27 01:17] lomky opened #819 "Remove redundant "Log In with Google" link"
On the log in page there are two links to log in with Google, one above and one below. Let's pick our favorite location and wording and remove the other one.

[2017-01-27 01:35] mebates commented on #817
It could be an up-to-the-minute report, if you want. Just a page with a live feed of PTs in that situation.

[2017-01-27 01:51] lomky commented on #699
Initial functionality good-to-go. I'd like the weekend to get some tests in, but if you don't here from me by Monday feel free to merge.
Or merge if you make the call that it's good to go, but file me another ticket to write the tests please :D

[2017-01-27 01:51] lomky commented on #699
[Testing rack::attack](http://blog.hayleyanderson.us/2015/06/05/using-and-testing-rack-attack-to-improve-the-security-of-your-rails-app/)

[2017-01-27 01:56] nimiro commented on #812
The issue is pretty well summarized above, but here are tonight's discovery notes just in case:
https://github.com/colinxfleming/dcaf_case_management/wiki/Anonymization-notes

[2017-01-27 02:03] Kevin-Wei commented on #727
Heres an attempt https://github.com/colinxfleming/dcaf_case_management/pull/821

[2017-01-28 03:05] colinxfleming commented on #549
Closing as a wontfix, since this has been sitting in the backlog for a little while and I'm not sure what it entails these days. @ewiggins let me know if I should reopen!

[2017-01-28 03:05] #549 closed

[2017-01-28 04:08] ewiggins commented on #549
Hey , I think this was born out of the fact that I didn't have much ruby on rails experience at the time. Now I think it fine . :100:

[2017-01-29 20:21] vincecampanale commented on #460
@colinxfleming I'd like to give this a shot

[2017-01-30 04:08] colinxfleming opened #824 "Add ability to change a patient's line"
Problem description TK

[2017-01-30 04:09] colinxfleming opened #825 "How should search handle patients on different lines?"
Problem description TK

[2017-01-30 04:47] colinxfleming opened #826 "Fields in fulfillment, ext pledge not showing up in patient changelog"
Issue description TK -- affects $$ fields, resolved without DCAF.

Should also do this for external pledges

[2017-01-31 15:26] AlexandraCasser commented on #781
- [ ] I think the filled columns distract from the rows; if anything I would fill in by row
- [ ] If you abbreviate "Appointment Date" to "Appt Date" you'll have more space in that column.
- [ ] Phone should definitely stay on one line; that is a fixed width
- [ ] LMP also feels like it should be on one line too
- [ ] Notes column can get narrower so other things can fit on one line
- [ ] Don't mi

[2017-02-01 14:00] AlexandraCasser commented on #783
I'm going to give this one a go.

[2017-02-01 14:04] AlexandraCasser commented on #783
I'm happy to do this, but want to get the details straight.  So we want both nav links and body links to be navy blue after visited and underline on hover?

[2017-02-01 23:03] colinxfleming commented on #743
This is approved, and we need to have it to them by the 17th of Feb so they can print. Max size 24" x 36". Awesome job @NerdyGirl537 for getting this thru!

[2017-02-02 01:05] lwaldsc commented on #743
Do we have any idea of word count on each of these sections?

[2017-02-02 01:35] NerdyGirl537 commented on #743
It's going to be a design thing based on text size and aesthetics and what
we want to say.

On Feb 1, 2017 8:05 PM, "Lisa" <notifications@github.com> wrote:

[2017-02-02 18:14] lwaldsc commented on #660
Just bumping this issue because we've gotten more feedback that folks are confused and expecting a dropdown to work.

cc: @mebates

[2017-02-02 18:26] lwaldsc commented on #457
Bumping this thread bc of user feedback

I know we discussed having the pledge button turn into a "unsend pledge" button to allow further edits, but not sure if there was any movement on this. I think unsending pledges is confusing to a number of people so this needs to be addressed in some capacity.

[2017-02-02 18:30] lwaldsc opened #830 "Call list features/edits"
We've had a lot of user feedback on different actions they would like the call list to be able to make, including the possibility of keeping a pt we do not touch in the call list rather than having it move to the completed calls list. Just starting an issue thread to further discuss what options we'd like to see and what is possible from a design/development standpoint.

[2017-02-03 15:38] colinxfleming commented on #457
I don't think there's been any movement on that, and I think that's a major fixer upper that we can do. Here's my proposed behavior:

* Sending a pledge stays the same
* After a pledge is sent, `Send a pledge` button text turns into `Cancel pledge`
* Clicking said button pops up a modal with some copy about 'Uncheck this here box to cancel the pledge for Susie Everyteen'.

Going to let this marina

[2017-02-03 15:41] colinxfleming commented on #660
Thanks for flagging, @lwaldsc . Tagging in team ux to figure out how to handle (though I'll also skim the issues this weekend and make sure we haven't made a decision on this already).

[2017-02-03 15:49] colinxfleming commented on #783
@AlexandraCasser yeah, go ahead and set that as the global style and we can scope it down from there if need be.

[2017-02-04 18:11] colinxfleming commented on #146
At some point we need to roll out a full object model for clinics. Other conversations have more or less made this gel into something fairly complete, as follows:

[code]

[2017-02-04 18:59] colinxfleming opened #831 "ARG commands breaking docker build on circleci"
Circle's version of Docker doesn't play nice with ARG commands, so it can't auto-push new images. Should investigate.

[2017-02-04 19:03] #813 closed

[2017-02-04 19:37] colinxfleming opened #832 "Quality rake task breaking build"
description tk

[2017-02-04 19:37] colinxfleming commented on #831
[code]

[2017-02-04 19:38] #799 closed

[2017-02-04 20:14] lwaldsc commented on #146
@vtmeghan should have this information in a handy dandy chart, I believe.

[2017-02-05 00:30] lwaldsc opened #834 "Remove "undocumented" from special circumstances"
Do not think we should be tracking this in a systematic way to protect our patients' data. Can be noted in the notes sections if needed.

Thoughts @colinxfleming @NerdyGirl537 ???

[2017-02-05 00:53] #771 closed

[2017-02-05 00:58] colinxfleming commented on #834
Documenting some offline conversation: This stemmed from a conv with Baltimore. We have two paths forward here, one of which is a global remove (pretty straightforward) and the other of which is figuring out some way to configure certain settings by deployment (more involved but not impossible).

No action on this until we resolve how to handle this DCAF side, which requires input from  @vtmeghan

[2017-02-05 06:23] colinxfleming commented on #795
Just for reference, I think in the interest of obscuring user emails I think we can skip the request to toss in mailto links unless we get more requests. I'm not sure it gets us anything new for the CMs now that we have individual names associated with calls and notes.

e.g. the current implementation as @AlexandraCasser has it in #827 is good.

[2017-02-05 07:32] colinxfleming commented on #378
No clear action to take here after reviewing the doc. Closing.

[2017-02-05 07:32] #378 closed

[2017-02-05 17:44] #831 closed

[2017-02-05 17:51] #657 closed

[2017-02-05 20:05] lwaldsc commented on #677
Updated and closing.

[2017-02-05 20:06] #677 closed

[2017-02-07 16:18] colinxfleming commented on #834
Consensus from the CM directors is that this is good to remove; marking frontend and throwing in active.

[2017-02-07 16:21] colinxfleming commented on #834
Task here is to do the following:

Frontend change:
* Remove this from the frontend

Gold medal version:
* Write a rails console command that will remove Undocumented from existing patients' special circumstances
* Write a rails console command that will nuke any and all audit trails containing reference to undocumented status

[2017-02-09 00:18] mebates commented on #779
UX is done on this! Ready for some front end attention.

[2017-02-09 00:28] colinxfleming commented on #632
@Kevin-Wei can you handle?

[2017-02-09 00:32] colinxfleming opened #838 "Small UX changes to pledge fulfillment"
stems from conversation with @mebates

* no autofill options
* <strike>make submit pledge disappear if fulfillment is showing up</strike> (resolved elsewhere)

[2017-02-09 01:00] krisudekwu opened #839 "Google SSO test passes with bad value"
I was working with @DarthHater and he was showing me testing. As we were working, we found that changing the value in the Google SSO test did not cause the test to fail.

¯\_(ツ)_/¯

Command to run test:

rake test TEST=test/integration/google_sso_test.rb

Offending code:

https://github.com/colinxfleming/dcaf_case_management/blob/master/test/integration/google_sso_test.rb#L12

[2017-02-09 01:34] mebates commented on #743
I made a thing! Please let me know how it looks to you. Text needs:
- 50 words on the Problem
- 50 words on the Solution (if you do less for problem, you can have more for solution)
- 30 word "How we did it" blurbs. 5-7. If we can keep it down to 5 we can keep the journey image in and big.

Go team!
[DCAF_TapRoot_Poster.pdf](https://github.com/colinxfleming/dcaf_case_management/files/762395/DCAF_T

[2017-02-09 01:37] NerdyGirl537 commented on #743
Looks awesome so far!

On Feb 8, 2017 8:34 PM, "Mollie Bates" <notifications@github.com> wrote:

[2017-02-09 01:43] mebates commented on #660
I would suggest improving the date field by making it MM-DD-YYYY. Remove the calendar icon unless it will be an active calendar picker. The picker is not necessary; tabbed date entry is probably more important since the PT will likely be telling the CM the date. The only use for calendar picker is if the PT says something like "next Wednesday".

[2017-02-09 01:43] lwaldsc opened #841 "Resource guide"
***Currently our resource folder also includes the budget tracker and pledge form, so those features should be completed before we can migrate everything.

**Essential information we need**
Clinic contact information/price guide
Other local funds' contact information and eligibility
Other social resources contact information (could be supported in a follow up program)
LMP calculator (could be supp

[2017-02-09 15:50] colinxfleming opened #842 "Add DCAF and C4DC logos to the footer"
Now that we're starting to expand, we should brand a little bit! We have some footer space -- let's add a small code for dc logo and dcaf logo to the bottom of the footer partial.

You can snag a code for DC logo from https://github.com/codefordc/branding-assets .
You can snag a DCAF logo from http://dcabortionfund.org/ .

[2017-02-09 17:43] lwaldsc commented on #743
Just chiming in to say THIS LOOKS INCREDIBLE! Great job, Mollie!

On Wed, Feb 8, 2017 at 8:37 PM, NerdyGirl537 <notifications@github.com>
wrote:

[2017-02-09 18:38] NerdyGirl537 commented on #743
63 words for Problem:
Abortion funds are more in demand than ever while the anti-abortion crowd has been stepping up internet attacks. Add in the privacy concerns of handling medical information, and you have a lot of challenges for those helping people with access to abortion care. And our tools have not kept up with these challenges– secure websites can be cost-prohibitive, taking funding from d

[2017-02-09 18:45] NerdyGirl537 commented on #743
67 words for Solution:
The DC Abortion Fund built a partnership with Code for DC to build such a tool. After more than a year of collaboration, the low-cost app was launched for the entire fund in December, greatly improving DCAF’s efforts to center patients, improve services, and provide a secure and usable internal system. In addition, it’s engineered to be shared with other funds, or repurposed

[2017-02-09 19:10] NerdyGirl537 commented on #743
Thoughts on "How We Did It" section: ( @colinxfleming, could use a coder's perspective here too)
- End-user involvement from the beginning
- Collaboration with pro-bono tech
- Discovery process that included all level of users (i.e. Board, CMDs, CMs)
- Sprints and planning
- Use of industry best-practices.

[2017-02-10 03:52] colinxfleming commented on #743
@NerdyGirl537 I think the really cool stuff about this project are the first two bullets, and that these are the really exciting parts of them:

* Having our case managers and fund staff build out the workflow based on their experiences
* Collaborating with engineering and design teams outside the usual repro justice sphere

I'm less sure that people will be stoked on these but maybe:
* Going heav

[2017-02-10 04:15] colinxfleming commented on #743
Some proposed revisions for problem and solution -- @NerdyGirl537 feel free to adapt whatever you like from these.

### PROBLEM

### DOG SOLUTION

Since we now have @lwaldsc  and Michela's excellent survey, we might also consider dropping some of the feedback from that in here somewhere? Don't want to be the extra cook in the kitchen though, so I defer to the team here on that.

[2017-02-10 20:13] colinxfleming commented on #819
I think our favorite location is the top one -- let's strip the bottom one.

Thanks a ton for flagging @lomky  !

[2017-02-13 21:40] NerdyGirl537 commented on #743
@colinxfleming  I'm liking all of this.

@lwaldsc @mebates Other thoughts?

[2017-02-14 04:43] colinxfleming opened #845 "Limit patient results returned"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Limit the results on patient search to the 15 most recently touched patients.

* **What feature or behavior is this required for?**

Making it so that you can't enter a phone number of '202' and get back ~300 patients.

* *

[2017-02-14 04:44] colinxfleming opened #846 "User feedback from surveys and stakeholders meetings"
DCAF-side we've had a bunch of meetings, email chains, surveys, etc where we've collected user feedback. Much of it is already represented but I want to get it in one place (and out of my notebooks).

### From the CM Stakeholders meeting

@NerdyGirl537 , @lwaldsc and I had a meeting with the CMD brass where a few requests popped up. Much of it was represented in other places / issues but I want to

[2017-02-14 04:58] colinxfleming commented on #846
### From correspondence with CM JW

This is from an email awhile back (first week or so of production on the DC line, whoops). Below are items not resolved between then and now:

* Add an appointment date column to the dashboard to make it easy to arrange the call list by who will need their pledge soonest.
* Add an "urgent" toggle to the dashboard so that you can mark or unmark someone as urgent

[2017-02-14 05:11] colinxfleming commented on #846
### From correspondence with CMD Travis

[2017-02-15 00:28] lwaldsc commented on #846
Oh I really love the idea of tracking clinic referrals for leverage with
clinics. That's a great idea from Travis. Not sure how we integrate it into
the system, especially as many CMs (myself included) will refer to several
clinics, but it would be an interesting thing to track.

What a damn best problem to have, being able to leverage clinics instead of
being forced to send people to one a few hu

[2017-02-15 00:32] lwaldsc commented on #743
Love the blurbs. Think they work great at describing the problem and the
solution in limited space.

Not sure what we want to pull out of the survey. Do we think the "[X
Feature] made it easier for me to [X Direct Service Thing]." numbers would
be an interesting add here?

On Mon, Feb 13, 2017 at 4:40 PM, NerdyGirl537 <notifications@github.com>
wrote:

[2017-02-15 04:53] #783 closed

[2017-02-15 04:54] #460 closed

[2017-02-15 15:10] NerdyGirl537 commented on #743
I did an update of the poster based on previous comments.  It seems though my version of Adobe doesn't support the lovely font.  @mebates Can you help with that?

[DCAF_TakeRoot_Poster.pdf](https://github.com/colinxfleming/dcaf_case_management/files/777402/DCAF_TakeRoot_Poster.pdf)

[2017-02-15 15:39] mebates commented on #743
"we’ve already seen improvements in how we center and serve patients". What does 'center' mean?

@colinxfleming - can you fill in a line or two explaining how we did security?

I followed the convo above and filled in with some extra copy. Latest:
[DCAF_TapRoot_Poster.pdf](https://github.com/colinxfleming/dcaf_case_management/files/777493/DCAF_TapRoot_Poster.pdf)

[2017-02-15 15:47] colinxfleming commented on #743
Some security boilerplate:

[2017-02-15 16:17] mebates commented on #743
Latest:
[DCAF_TapRoot_Poster.pdf](https://github.com/colinxfleming/dcaf_case_management/files/777610/DCAF_TapRoot_Poster.pdf)

[2017-02-15 21:38] lomky opened #849 "Create Distinct Dev and CI Environment Test Settings"
Since introducing Rack-Attack in #699, we have tests that are not very useful to run every time a developer wants to test but add value in our CI build. There are probably other tests that meet these criteria today?

 - important to test
 - not likely to fail unless their corresponding code is directly messed with
 - take a relatively long time to run

Downsides:
 - a user may break something and

[2017-02-16 17:04] lwaldsc commented on #743
Oh my god @mebates this looks incredible! Great job, everyone.

I'm not sure if we still want to fit anything from the survey in, but at
this point, it might make everything a little too squished? If so, we can
pull some stuff out, but if not, it's still great data we can use on the UX
side.

On Wed, Feb 15, 2017 at 11:17 AM, Mollie Bates <notifications@github.com>
wrote:

[2017-02-17 11:33] NerdyGirl537 commented on #743
I love it. I'm gonna send this morning.

On Feb 16, 2017 12:04 PM, "Lisa" <notifications@github.com> wrote:

[2017-02-17 14:33] mebates commented on #743
@NerdyGirl537 hold on! I'm checking the resolution of the images with a test print.

[2017-02-17 14:46] mebates commented on #743
@NerdyGirl537 it should be good. send away!

[2017-02-17 15:25] colinxfleming commented on #743
This is a beaut. Awesome work @mebates and @NerdyGirl537 !

@NerdyGirl537 go ahead and close this issue when you've shipped it to our friends at TakeRoot!

[2017-02-17 16:02] NerdyGirl537 commented on #743
Shipped to Take Root!  Thanks everybody for all the amazing work!

[2017-02-17 16:02] #743 closed

[2017-02-18 05:47] colinxfleming opened #855 "Add data entry user so that we can have people enter fulfillment data"
* **What are we trying to do?**
Add a non-admin user who enter pledge data.

* **What feature or behavior is this required for?**
Entering fulfillment data, so our admins don't have to do it.

* **How should we solve this issue?**
By doing the following:
* Adding `data_volunteer` to the `Patient#role` enum, so we can start creating data volunteers
* Going into `views/patients/menu` and `views/pati

[2017-02-18 06:07] #737 closed

[2017-02-18 06:15] #819 closed

[2017-02-18 06:31] #855 closed

[2017-02-19 06:27] colinxfleming commented on #817
The sense I get from DCAF brass is that they want two things out of this:
* a sense of how much money they might suddenly be on the hook for, if a bunch of people cash in on their pledges; the design piece here is probably how to
* the rolling list that @mebates describes intended for CM followup, which I think we can use our normal call-list-style `table_content` for; the design piece there is pr

[2017-02-19 06:39] colinxfleming commented on #740
I thought there were more of these than there actually were! The only actual one is `clinic` and we're going to do something with that sooner rather than later. Going to close this as a false flag.

[2017-02-19 06:39] #740 closed

[2017-02-19 06:58] colinxfleming commented on #643
Spinning up an issue to implement the core of these designs, the Accountant Billing section.

I think we can save the sorting functionality for a bit later. CMs have also asked for that on the call list, I think we can solve this in a few different places but want to get the core of this in place first. Let's skip pagination too, as that's almost definitely going to turn into a pain.

On thinking

[2017-02-19 07:04] colinxfleming opened #858 "ACCOUNTING: Implement accountant billing view"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Generate a billing report for accountants!

* **What feature or behavior is this required for?**
Easier accountant reconciliation data entry, since we tend to punch these in ~50 at a time!

* **How should we solve this issue

[2017-02-19 07:16] colinxfleming commented on #839
hey @krisudekwu ! That link points to this line --

[code]

What that's doing is overcoming some capybara slowness. Capybara by default waits a few seconds for an element to appear, but sometimes jumps the gun, especially in CI environments. So to work around that, something we do is to use the command `has_content? 'text'`, which makes capybara sleep until it sees that text appear. If we take tha

[2017-02-19 07:28] #839 closed

[2017-02-19 07:35] colinxfleming commented on #660
MM-DD-YYYY hurts my heart as a lifelong lover of the ISO standard (perhaps my nerdiest, most terrible opinion) but I think @mebates is right on all counts here. I'll spin up an issue to standardize date entry as MM-DD-YYYY, and in the immediate term let's **remove the calendar icon**.

[2017-02-19 07:52] colinxfleming opened #860 "Standardize dates as MM-DD-YYYY"
* **What are we trying to do?**
As much as it pains me to admit this, I am the only person, possibly in the universe, who wants to set all dates as YYYY-MM-DD. Let's please set our dates as MM-DD-YYYY from here out.

* **What feature or behavior is this required for?**
Not driving our CMs up the wall by having different date formats in different places.

* **How should we solve this issue?**
A few

[2017-02-19 17:14] #699 closed

[2017-02-19 17:26] colinxfleming opened #861 "Docker build in CI unable to get platform-api gem"
As part of our CI build, on change to master we deploy a new image to our docker repo. It seems to be unable to install gems from git. We should resolve before March if possible.

[code]

[2017-02-19 17:40] colinxfleming commented on #748
Pasting my deploy journal from slack:

[code]

[2017-02-19 17:42] colinxfleming commented on #748
Look at this beaut --

![screen shot 2017-02-19 at 12 38 27 pm](https://cloud.githubusercontent.com/assets/3866868/23104686/ab103ca6-f6a0-11e6-8cb7-06d170854f46.png)

and this beaut, which used to say $42:

![screen shot 2017-02-19 at 12 41 27 pm](https://cloud.githubusercontent.com/assets/3866868/23104694/cdc76314-f6a0-11e6-85c0-33222a48e107.png)

[2017-02-19 17:42] #748 closed

[2017-02-19 17:53] lwaldsc commented on #660
@colinxfleming
https://media.giphy.com/media/OMK7LRBedcnhm/giphy.gif

[2017-02-19 18:59] colinxfleming commented on #694
After running into a mysterious and highly annoying problem with uptime robot, I've moved us to statuscake. I think there were some issues with the DNS migration that took a little while to cook. Anyway, alerts are set up, StatusCake is free AND pretty fully featured, I'm closing this out.

[2017-02-19 18:59] #694 closed

[2017-02-19 20:42] lomky commented on #860
I started work on this, but ran into issues with seeding the database that revealed a quiet existing bug. That bug is fixed in PR #862, not sure I can finish fixing this issue without the fix in that PR.

[2017-02-19 22:00] lomky commented on #860
I took an initial stab at this, not even worth PRing yet. Something is going wonky when you format dates as MM-DD-YYYY and then try to generate them via Date methods (validating fails). Might be simple to fix for someone more familiar with Dates in ruby & rails.

 - :exclamation:  This is open for others to grab, unless I get back to it first :slightly_smiling_face:

The [branch here](https://gith

[2017-02-20 12:15] AlexandraCasser commented on #834
Can do the simple remove.

[2017-02-20 12:34] AlexandraCasser commented on #838
@colinxfleming What file does this need to happen in?

[2017-02-21 00:00] DarthHater commented on #861
I'll fix this, easy.

[2017-02-21 01:12] #861 closed

[2017-02-21 02:25] colinxfleming commented on #845
Had a conversation with an interested party who's working on this!

[2017-02-21 02:30] #612 closed

[2017-02-21 02:30] colinxfleming commented on #612
Resolved by #809 !

[2017-02-21 02:35] lomky commented on #858
Tagging interest on this.

[2017-02-21 03:23] colinxfleming opened #864 "Notes from data entry"
I entered fulfillment data for a slate of patients today. These are the notes:

* There's a validation element to this that's currently challenging -- we should make it easy to glance and make sure that the clinic and pledged amount match up (#905)
* Clinics return fulfillments to us with patient weeks in weeks.days (e.g. they care about days). We should adjust the model to incorporate this but I

[2017-02-21 03:31] colinxfleming commented on #864
* Not clear to me whether or not the date the pledge was shipped matters but maybe we should include that too

[2017-02-21 03:33] colinxfleming commented on #864
* Almost missed checking the `fulfilled` checkbox, which now that I think about it is kinda redundant. We should see if we can just make it redundant

[2017-02-21 03:36] colinxfleming commented on #864
Fulfilled sets don't necessarily line up neatly with lines, unfortunately -- a few clinics have VA, MD, DC IDs all mixed in together which is kind of a pain.

[2017-02-21 04:05] colinxfleming commented on #864
Fulfillment partial isn't obscured on page load! Shows up at the bottom of the patient info partial. whoops.

[2017-02-21 04:23] colinxfleming commented on #864
LMP keeps incrementing even after the event itself, which is yielding a bunch of patients who are, like, 50 weeks since LMP. We should make it stop incrementing relative to appointment date.

[2017-02-22 01:54] lomky opened #866 "Rails5 Technical Debt: Long Term MongoID Enum Solution"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Find a long term solution to Enum support in MongoID. We have stop-gapped this by forking the [gem's main repo]( https://github.com/thetron/mongoid-enum/) into [ @DarthHater's space](https://github.com/DarthHater/mongoid-en

[2017-02-22 02:06] DarthHater opened #867 "Rails5 Technical Debt: Move Mongoid-Session-Store-rails4 to a Rails5 lib"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
* Well, right now we rely on a lib that is rails4 specific. It seems this lib is going to be absorbed into an official mongoid-session-store lib, and support for Rails 5 will be added there
* Problem is, they haven't release

[2017-02-22 22:42] colinxfleming opened #868 "Allow admin users to change a patient's line"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Allow admin users to change a patient's line.

* **What feature or behavior is this required for?**
The most common reason I fire up `rails c` these days is to change a patient's line. I want to empower the case management d

[2017-02-22 23:45] cschlessinger commented on #448
PR ready for review: https://github.com/colinxfleming/dcaf_case_management/pull/869

[2017-02-23 03:34] colinxfleming commented on #868
Kicking to active!

[2017-02-23 04:37] colinxfleming commented on #800
Let's do this: `rake db:seed:training` should create 20 accounts as follows:

* email: `training-account-#{i}@test.com`
* password: `P4ssword`
* password_confirmation: `P4ssword`
* name: `Training Account #{i}`

[2017-02-23 04:37] colinxfleming commented on #800
Bumping to active and marking beginner friendly, since it's a nice to have.

[2017-02-23 04:45] #832 closed

[2017-02-23 05:31] #712 closed

[2017-02-23 05:46] colinxfleming opened #873 "Fix deployment to staging"
currently in builds to master:
[code]
:|

[2017-02-23 05:56] #727 closed

[2017-02-23 06:02] colinxfleming commented on #779
promoting to active! Edits can be made in `views/lines/new`.

If you want to dig in on some css, feel free to make the radio buttons a global style.

[2017-02-23 06:04] colinxfleming commented on #779
ps please take advantage of bootstrap styling classes wherever possible!

[2017-02-23 07:46] cschlessinger commented on #448
@colinxfleming are the phone numbers in the initial screenshot real data? Noticed it earlier and got a little concerned

[2017-02-23 19:35] colinxfleming commented on #448
@cschlessinger Nah, they're the rest of 202-mash-hand-on-keyboard.

[2017-02-23 23:51] lomky commented on #858
Working on this for hacknight

[2017-02-24 00:37] ashlynnpai commented on #659
I'll do this.

[2017-02-24 01:13] ashlynnpai opened #875 "Setup instructions are divided into two locations"
The first part of the setup instructions are in the main readme under "Setting Stuff Up" and then moves to the setup.md file. It would help if they could all be in one place or if there was something in the setup.md file directing users to look at the "Setting Stuff Up" section first.

Also for the Cloud 9 instructions it would be helpful to explain to users how to kill mongo when you are done.

[2017-02-24 05:25] colinxfleming commented on #875
@ashlynnpai I really, really appreciate your documenting this. (PS sorry I missed you tonight -- glad to have you back!)

I think this is a great observation and we should 100% do both of these things. Let me know if there's a PR in the works for this, otherwise I'll plan on knocking it over this wknd.

[2017-02-24 11:51] ashlynnpai commented on #875
@colinxfleming I haven't done anything towards fixing this issue, it sort of just "came up" last night.  Thanks!

[2017-02-24 23:49] colinxfleming opened #877 "Omnibus issue for report requests"
Now that we have actual data, the time has come to start really working it. I've received a couple of data requests from DCAF brass and I think we can start building them out.

Backend wise, let's try and put these in a namespace under the patient object (something like `Patient::Reporting`) and try to right as much of it in activerecord as we can. For more complex items or things requiring statis

[2017-02-24 23:49] colinxfleming commented on #877
note to self that we should see what keshif can do for us, as well.

[2017-02-24 23:50] colinxfleming commented on #877
Requested by DCAF VP Lauren on 2/24/17:

[code]

[2017-02-25 16:42] #834 closed

[2017-02-25 22:40] colinxfleming commented on #648
Closing since we did it thanks to some legendary work from @DarthHater in #829

[2017-02-25 22:40] #648 closed

[2017-02-25 22:40] colinxfleming commented on #554
I did this and turned over to the DCAF board, I think we can call this resolved for all intents and purposes. Marking closed.

[2017-02-25 22:40] #554 closed

[2017-02-25 22:45] colinxfleming opened #878 "PatientsController#update invoking User.find several times unneccessarily"
* **What are we trying to do?**
Update a patient without calling `User.find` like ten times as part of it. See the logs at the bottom. Super low impact, but would be nice.

* **What feature or behavior is this required for?**
Reducing DB load!

* **How should we solve this issue?**
I have no idea! I poked around it using a variety of `includes` and couldn't tell what it was loading. I think it mig

[2017-02-26 02:47] #875 closed

[2017-02-26 08:54] #795 closed

[2017-02-26 20:58] ashlynnpai commented on #659
https://github.com/colinxfleming/dcaf_case_management/pull/882

[2017-02-27 02:11] colinxfleming commented on #867
Looks like there's an issue for rails 5 support that we can keep an eye on here: https://github.com/mongoid/mongo_session_store/issues/16

[2017-02-27 03:44] colinxfleming commented on #873
Resolved

[2017-02-27 03:44] #873 closed

[2017-02-27 03:48] colinxfleming commented on #864
From today's data entry shindig:

* Pledge fulfilled should autocheck when you start entering data in another field. easy to do with jquery
* The ability to search different lines and switch between lines easier would be very helpful
* Nonstandard dates are a pain
* Status not changing is kinda scary; should increment status
* +1 for LMP continuing to increment
* some kind of feedback on fulfillme

[2017-02-27 04:05] colinxfleming commented on #781
Fixed by #827

[2017-02-27 04:05] #781 closed

[2017-02-27 04:08] colinxfleming commented on #849
Per discussion in #851, let's revisit this if our test suite continues to balloon. Thanks much @lomky !

[2017-02-27 04:08] #849 closed

[2017-02-27 04:32] colinxfleming commented on #490
This is currently a major pain point so I'm going to slate it for the hackathon.

[2017-02-27 04:42] colinxfleming commented on #345
This would be a nice thing to come back from SF with for our case managers, who are currently hand filling these out. Would love it if we could generate that programmatically and fill it in with the relevant data from the patient.

I have no real awareness of what the available libraries look like, but prawn seems to require no additional dependencies other than ruby, so I'd favor going with that

[2017-02-27 04:45] colinxfleming commented on #457
I think our users would really appreciate this. Slating it for the hackathon.

[2017-02-27 04:46] colinxfleming commented on #448
Resolved in #869

[2017-02-27 04:46] #448 closed

[2017-02-27 04:50] colinxfleming commented on #449
Closing this as a wontfix, since there isn't a great path to this and this is a really, really complex problem.

[2017-02-27 04:50] #449 closed

[2017-02-27 04:51] colinxfleming commented on #524
Promoting to hackathon!

[2017-02-27 04:57] colinxfleming commented on #775
Documented for the DCAF board. Closing.

[2017-02-27 04:57] #775 closed

[2017-02-27 05:00] colinxfleming commented on #637
Collapsing into #877

[2017-02-27 05:00] #637 closed

[2017-02-27 05:01] colinxfleming commented on #877
We need a way to get the quant figures in from here:

http://dcabortionfund.org/wp-content/uploads/2016/02/DCAF_Annual_Report_2015.pdf

This is stuff that NNAF requests from everyone annually, plus some extras that go in our annual report.

[2017-02-27 05:14] colinxfleming commented on #811
possible solution: can we allow a regular sign-in just in sandbox and take it away in full prod? Something to consider.

[2017-02-27 05:19] colinxfleming opened #884 "Leave our case managers a nice note!"
When our case managers log in, we show them a nice message of encouragement, randomly selected from the strings in the array `app/helpers/welcome_message_helper.rb`.

I would encourage you to add something to this array during the weekend!

[2017-02-27 05:39] colinxfleming opened #885 "Remove HTML safe"

[2017-02-27 07:40] FeminismIsAwesome commented on #345
@colinxfleming , I'd like to give this a spin. I'll follow up with you on slack?

[2017-02-28 03:10] colinxfleming commented on #794
I haven't followed up with this but the fact that we haven't gotten a request for an access exception yet says to me YAGNI. Let's just add Access Exception to the list.

[2017-02-28 03:20] #794 closed

[2017-02-28 03:29] colinxfleming commented on #675
Closing as a wontfix

[2017-02-28 03:29] #675 closed

[2017-03-03 00:28] colinxfleming opened #893 "Update asset hash for CSRF"

[2017-03-03 16:53] #885 closed

[2017-03-03 18:03] colinxfleming commented on #824
@FeminismIsAwesome pointed out that this is a dupe of #868, whoops. Closed via #890

[2017-03-03 18:03] #824 closed

[2017-03-03 18:03] #845 closed

[2017-03-03 23:33] #800 closed

[2017-03-03 23:49] #659 closed

[2017-03-03 23:50] lomky commented on #858
I have a bit done on this, but nothing substantial. Planning on picking it up again at hacknight Monday, but if someone wants to knock it out before then they're welcome to steal it :)

[2017-03-04 00:26] KatSDC commented on #842
I'll take this one!

[2017-03-04 00:56] colinxfleming commented on #842
I'll see if I can dig up dcaf assets, but here are code for dc's: https://github.com/codefordc/branding-assets

[2017-03-04 01:03] KatSDC commented on #842
I found an SVG of the DCAF logo from their site. It's the square one, but I imagine when I complete this we can trade out the logo if need be.

[2017-03-04 06:14] janinedog commented on #660
I'll give this one a try.  :)

[2017-03-04 07:29] yf6 commented on #524
I'd like to give this a try during the hackathon, just to confirm, we are talking about this table here?
<img width="1191" alt="screen shot 2017-03-03 at 11 27 43 pm" src="https://cloud.githubusercontent.com/assets/1358856/23577014/0f685806-0069-11e7-81b3-71a11a043c83.png">

[2017-03-04 10:23] colinxfleming commented on #524
@yf6 yep, that's the one!

[2017-03-04 10:33] colinxfleming commented on #793
I think a good way to do this is to throw it in the abortion information section, either under the abortion cost or as helper text within the DCAF Pledge field. (Chef's choice.) So that should handle the design component okay.

The slightly more challenging issue is that different funds have different practices around this -- some might have no recommendations, some might have very strict rules. (

[2017-03-04 10:37] colinxfleming commented on #632
Here's the remaining part of this:

This is probably a fairly straightforward jquery exercise!

[2017-03-04 10:44] colinxfleming commented on #846
Stuff to spin into issues:

* design team: completed calls to main list, mark/unmark urgent without having to go to dash
* sort on headers in dashboard
* referred patient to clinic-ness

[2017-03-04 17:44] jingpei commented on #632
Gonna get started with this one today

[2017-03-04 18:36] colinxfleming opened #896 "Add sortability to call list dashboard table"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Our case managers have asked for the ability to sort the patient dashboard by the column headers.

![image](https://cloud.githubusercontent.com/assets/3866868/23581317/652f06a6-00c6-11e7-8ea9-70ca773c2191.png)

* **What feat

[2017-03-04 18:45] colinxfleming opened #897 "Add way to mark down that we referred a patient to a clinic"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Keep track of who we referred to a particular clinic with a checkbox.

* **What feature or behavior is this required for?**
Our case management directors want to keep track of this so that they can negotiate discounts from c

[2017-03-04 18:59] colinxfleming opened #898 "UX req: Way to mark patients urgent outside of the patient view"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
CM Joy asked for a way to add an "urgent" toggle to the dashboard (or outside of the  so that you can mark or unmark someone as urgent without needing to go all the way in to the patient notes.

* **What feature or behavior

[2017-03-04 19:06] phoenixeliot commented on #490
I'm taking a look at this one.

[2017-03-04 19:07] colinxfleming opened #899 "UX req: Way to add called patients back to call list once in completed calls?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Some feedback from CM Joy: " Could there be a way to to move someone from completed calls back to the call list. I had a hard time getting a record back in my call list when I left a message for someone and then they called

[2017-03-04 19:10] colinxfleming commented on #846
Actionable stuff spun out into individual issues; closing.

[2017-03-04 19:10] #846 closed

[2017-03-04 19:26] lilliealbert commented on #897
I am going to work on this!

[2017-03-04 19:33] lilliealbert opened #900 "Questions / Notes from a newbie reading DCAF 101"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make the [DCAF 101 doc](https://github.com/colinxfleming/dcaf_case_management/wiki/DCAF-101) easy to read for people with very little context!

* **What feature or behavior is this required for?**
Different words, probably!

[2017-03-04 19:40] janinedog opened #901 "Can't run tests (using Docker setup)"
* **What are we trying to do?**

Run the tests for the app.

* **What feature or behavior is this required for?**

Everything! :)

* **How could we solve this issue? (Not knowing is okay!)**

Make it work.  ;)

* **Anything else?**

Here's the commands I'm running and what's happening:

[code]

[code]

[2017-03-04 19:51] zorkian opened #903 "Failing integration test"
* **What are we trying to do?**

Submit documentation update, and get the integration tests to pass. Looks like `test/integration/pledge_fulfillment_test.rb` has a failing test: `test_0002_should show a link to the pledge fulfillment tab after pledge sent - PledgeFulfillmentTest::visiting the edit patient view as a data volunteer`.

* **What feature or behavior is this required for?**

Onboarding

[2017-03-04 19:51] zorkian commented on #903
Link to a failure: https://circleci.com/gh/colinxfleming/dcaf_case_management/1731?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2017-03-04 19:51] zorkian commented on #903
Failing output:

[code]

[2017-03-04 19:58] colinxfleming commented on #901
This is a weird one! @DarthHater as our resident God of Docker, have you seen this before? The key thing seems to be the last error in @janinedog 's post above.

[2017-03-04 20:08] lilliealbert commented on #903
I got one locally, but when I rerun with the same seed, I get a different failure 👻  :sob:

### failure No 1:
[code]

### failure No 2:
[code]

[2017-03-04 20:11] #660 closed

[2017-03-04 22:13] colinxfleming commented on #900
cc @lwaldsc

[2017-03-04 22:26] janinedog commented on #896
I'm going to take a look at this one.

[2017-03-04 22:54] colinxfleming opened #905 "Add ability to easily verify a clinic/pledge amount when entering fulfillments"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Easily verify that the patient has the correct clinic/amount set when we're doing pledge reconciliation/fulfillments.

* **What feature or behavior is this required for?**
QA during pledge fulfillments.

* **How could we sol

[2017-03-04 23:02] colinxfleming opened #907 "Change the order of fields in fulfillment"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
When clinics send us remit forms, we enter in data from them, and that data is in a standard order. This order is different from what's on the form, and we should get them in agreement so data entry for our fulfillments team

[2017-03-04 23:02] zorkian commented on #676
I'm looking at this one.

[2017-03-04 23:04] #897 closed

[2017-03-04 23:09] lilliealbert commented on #905
Doing this!

[2017-03-04 23:58] #905 closed

[2017-03-05 00:33] colinxfleming commented on #146
@jingpei for an MVP, here's the fields we can add to the model:

  accepts_naf: boolean
  gestational_limit: number
  costs_9wks: int
  costs_12wks: int
  costs_18wks: int
  costs_24wks: int
  costs_30wks: int

[2017-03-05 00:57] janinedog commented on #896
@colinxfleming Do you want a particular column sorted by default on page load?  Or no default?

[2017-03-05 02:06] rivers commented on #903
Another failure: https://circleci.com/gh/colinxfleming/dcaf_case_management/1752

[code]

[2017-03-05 02:36] zorkian commented on #907
Claiming, maybe! (Probably. Yes? Okay.)

[2017-03-05 03:24] colinxfleming opened #920 "Fulfillment partial isn't obscured on page load"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
If you are an admin go to the patient edit view of someone who's been pledged, the fulfillment partial shows up on load, instead of being hidden!

* **What feature or behavior is this required for?**
Clean app view, and keep

[2017-03-05 03:24] colinxfleming commented on #920
cc @yf6

[2017-03-05 03:28] zorkian commented on #457
Claim.

[2017-03-05 03:28] yf6 opened #921 "Hide fulfillment partial on page load"
When viewing a patient with status "Pledge Sent", on page load fulfillment partial isn't obscured and shows up at the bottom of the patient info partial.

https://github.com/colinxfleming/dcaf_case_management/issues/864

[2017-03-05 03:28] yf6 commented on #921
Working on this.

[2017-03-05 03:35] colinxfleming opened #922 "Submit pledge button still says 'submit pledge', even if a pledge has been submitted already"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make it clearer that a pledge has been sent!

* **What feature or behavior is this required for?**
Not confusing our case managers by making it super obvious when someone's received a pledge!

* **How could we solve this iss

[2017-03-05 03:40] #921 closed

[2017-03-05 03:44] colinxfleming commented on #920
closed via #926

[2017-03-05 03:44] #920 closed

[2017-03-05 03:44] yf6 commented on #922
MINE!

[2017-03-05 03:58] colinxfleming commented on #691
Marking hackathon. The frontend ticket in #922 handles most of this, but there's definitely a model change here -- if patient.pregnancy.pledge_sent evaluates to true, we should prevent editing attributes on `patient` or `patient.pregnancy` unless the `user.role` is a `data_volunteer` or `admin`.

[2017-03-05 04:00] colinxfleming commented on #691
Note that a regular CM should still be able to revert a pledge / mark a pledge unsent.

[2017-03-05 04:02] saragilford commented on #907
@cschlessinger and I have dibs!

[2017-03-05 04:26] #632 closed

[2017-03-05 04:32] zorkian commented on #922
Hmmm I think this is a duplicate of #457 which I just submitted a PR for. If it's not, then I must have misunderstood the other one, but I basically implemented what was requested here I think?

[2017-03-05 04:32] janinedog commented on #793
I'll take this!

[2017-03-05 06:58] #524 closed

[2017-03-05 09:27] #146 closed

[2017-03-05 09:29] #878 closed

[2017-03-05 17:22] #842 closed

[2017-03-05 17:59] zorkian commented on #691
Claiming.

[2017-03-05 18:38] colinxfleming commented on #907
Fixed via #919

[2017-03-05 18:38] #907 closed

[2017-03-05 18:40] colinxfleming commented on #896
Closed via #927 and #924

[2017-03-05 18:40] #896 closed

[2017-03-05 19:11] yf6 commented on #922
oh oops @zorkian good thing i haven't done much with it yet :D

[2017-03-05 19:43] colinxfleming opened #931 "Stop incrementing LMP after appointment date has passed"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Stop incrementing LMP after appointment date has passed

* **What feature or behavior is this required for?**
One of the nicer features for our case managers is a running calculator that lets them know how far along a patien

[2017-03-05 19:54] #457 closed

[2017-03-05 20:03] yf6 commented on #931
Me!

[2017-03-05 20:06] colinxfleming commented on #922
Oh yeah this is totally a dupe of #457. Sorry @yf6 @zorkian !

[2017-03-05 20:06] #922 closed

[2017-03-05 23:20] lilliealbert commented on #815
@colinxfleming Maybe something like this?

Add to readme after "Nearly everything else is out of the box.": Are you new to any of the technologies in the DCAF stack? Check out this page for more on our stack, domain, and links to useful documentation.

---

A new wiki page called, like, **Tech Stack & Resources** or something cooler?

## Code!!
### Rails
Ruby on Rails is a web app framework writte

[2017-03-06 02:02] mpetazzoni commented on #826
I did some investigation on this, but I haven't been able to fully confirm my theory yet. I suspect the root cause here is that the version of `mongoid-history` being used (0.5.0) has incomplete support for keeping the history tracks of embedded model objects, and upgrading to the latest (>= 0.6.0) might help, but may also require changing how the audit trail is kept (by keeping it all under the p

[2017-03-07 00:28] StraubJones commented on #779
Grabbing this!

[2017-03-07 00:55] mebates commented on #146
@colinxfleming - can we draw a little map of how the Analysts get to this view? Where is this fitting in the information architecture? Are there permissions about who can edit the clinics, and who can't? Also want to make sure that we use plain language for the input labels in our final version.

[2017-03-07 01:09] Kevin-Wei commented on #860
This I can do

[2017-03-07 01:25] mebates commented on #860
This makes me happy. Thank you all!

[2017-03-07 01:50] mebates commented on #900
Awesome feedback @lilliealbert !!!

[2017-03-07 02:01] lwaldsc commented on #900
These are great questions @lilliealbert! Give me a sec to run through them!

[2017-03-07 03:07] lwaldsc commented on #900
So first off, I apologize for the very little explanation. Most of the people who have worked on this project have some basic working knowledge of DCAF, so it's so great to get this kind of feedback from those who don't know our procedures! Will be adding these to the readme.

**- What is the call list? (People who need to be called by someone, people who need to be called by a specific case manag

[2017-03-07 18:17] colinxfleming commented on #900
Yeah, I think this is one of the most valuable pieces of feedback from this
weekend.

Lisa, can you make edits to the dcaf 101 doc to clarify these points? No
rush since we're unlikely to be doing a mass onboarding again anytime soon,
haha.

On Mon, Mar 6, 2017, 7:07 PM Lisa <notifications@github.com> wrote:

[2017-03-07 18:18] colinxfleming commented on #860
Kevin, yeah I imagine this is a problem you've run into before so if you
could take a swing that would amazinggggggg

On Mon, Mar 6, 2017, 5:25 PM Mollie Bates <notifications@github.com> wrote:

[2017-03-08 01:21] colinxfleming opened #946 "readme bump: suggest adding a positive message"
Should throw instructions for #884 in a doc called YOUR_FIRST_CONTRIBUTION.md and link to it from the readme. I think this did more than I thought in getting people oriented to what we are trying to accomplish with this app.

[2017-03-08 01:23] #815 closed

[2017-03-10 05:43] #931 closed

[2017-03-11 06:16] #901 closed

[2017-03-11 06:30] colinxfleming opened #947 "Style clinic edit page"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
More easily manage the index of clinics at `/clinics`, so we can find info we need about individual clinics we work with.

* **What feature or behavior is this required for?**
Displaying clinic information, and some workflow

[2017-03-12 06:39] colinxfleming commented on #779
Hey @StraubJones , let me know here or in slack if we can be helpful on this!

[2017-03-12 19:42] colinxfleming opened #948 "Should we collapse patient and pregnancy objects?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Simplify our object model, potentially collapsing patient and pregnancy.

* **What feature or behavior is this required for?**
Writing simpler code!

* **How could we solve this issue? (Not knowing is okay!)**
Quick history

[2017-03-12 20:18] colinxfleming commented on #893
Here's the sitch here: In `application_controller` we have a method called `csp_headers` as follows:

[code]

That `sha256-xxxxxxxxx` line is a hash of the js, I believe, but our JS has changed a few times since then.

Steps to resolve:
* figure out how to regenerate that sha hash of our assets
* figure out whether there's a way we can refresh it as part of deployment

cc @mccabe615 , would love y

[2017-03-12 20:50] #946 closed

[2017-03-13 22:22] StraubJones commented on #779
Oh I was going to just pick it up again at the next Hack Night but if it's more urgent than that someone else can grab it :)

[2017-03-14 16:41] mccabe615 commented on #893
One option would be to switch to nonces instead of hashes for inline JS.

https://blog.mozilla.org/security/2014/10/04/csp-for-the-web-we-have/

[2017-03-16 21:37] DarthHater opened #950 "Investigate Routes"
When upgrading rails in #865 and #853 I noticed our routes get knocked out by `rails app:update` / `rake rails:update`, which throws a bit of caution to the wind. It might be worth checking out routes.rb and ensuring we are following the most current patterns, etc...

[2017-03-16 22:28] colinxfleming opened #951 "User edit page: make changes"
TK, just an issue I noticed in talking to a user

[2017-03-16 22:35] colinxfleming commented on #826
Hey @mpetazzoni , wanted to flag #948 for you, since this has some implications for the work in here (though it doesn't dig us out of the problem entirely, since we'll still need to solve it for the `patient` -> `fulfillment` relationship). Let me know if I can be helpful or provide any context you'd like -- really appreciate your eyes on this.

[2017-03-16 22:40] colinxfleming commented on #826
This in turn makes me realize that I haven't really done a good job of describing the problem here. So here's a more fleshed out version using the template:

* **What are we trying to do?**
Record all field changes to the information currently stored in patient, pregnancy, fulfillment, or external pledge objects for a patient document.

* **What feature or behavior is this required for?**
Having a

[2017-03-16 22:46] mpetazzoni commented on #826
Thanks @colinxfleming, I have a pretty good grasp on what we're trying to do here. Unfortunately the gem update didn't help, so I need to dig deeper into mongoid-history to figure out what's going on.

I have some other changes in the area of the audit log that I'll submit as distinct PRs as well (mostly visual updates).

[2017-03-16 22:48] colinxfleming commented on #826
Solid @mpetazzoni . Let me know if there's anything I can do to be helpful. Looking forward to seeing the styling PRs.

[2017-03-17 15:00] colinxfleming opened #952 "Start documenting onboarding process for spinning up new instances"
Since we're starting to get some non-DCAF interest, it is past time to document what our onboarding / new org spinup process is.

This should include:
* how to onboard a new fund, in terms of training materials and agreements and etc
* how to spin up a new heroku instance in our pipeline
* how to migrate over data

[2017-03-19 03:03] #793 closed

[2017-03-21 15:17] #23 closed

[2017-03-21 15:17] #900 closed

[2017-03-22 04:08] colinxfleming commented on #658
Given the following:
* we need to account for N of these, where N is more than one but less than, like, ten
* they're going to vary from fund to fund
* we don't want to check them into version control
* we don't want to be the people who have to update them when there are changes
* they're sensitive but not Capital-P-Private (the stuff in this thread is, like, our CM training playbooks plus servic

[2017-03-23 02:21] colinxfleming opened #957 "Unhack our SSL cert"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Investigate whether or not Heroku's free SSL certs for custom domains is going to work for us

* **What feature or behavior is this required for?**
Moving off of our hacky way of doing this to a service-level handling.

* **

[2017-03-23 13:38] lwaldsc commented on #658
I don't think this is an *ideal* answer, but it's by far the easiest,
quickest, and most adaptable for other funds' use.

On Wed, Mar 22, 2017 at 12:08 AM, Colin <notifications@github.com> wrote:

[2017-03-23 15:56] colinxfleming commented on #947
Moving to active. This is a good UX task for tonight, personnel permitting! The object model is roughly thus:

* name
* street address
* city, state, zip
* gestation limit
* whether or not they accept naf $
* some complicated financial charting for costs based on gestation

[2017-03-23 15:58] colinxfleming commented on #877
@rfroetscher hey, if I remember right you had a second WIP branch here, right? If you still have that would you mind pushing it up and making a WIP PR for it?

[2017-03-23 16:00] colinxfleming commented on #413
@Kevin-Wei I've been thinking about this a lot lately. Would love to pick your brain on this.

[2017-03-23 16:10] colinxfleming commented on #658
I think the dev task here is to work with a DCAF stakeholder on porting these documents over to an accessible and reasonably secure place in google drive, and then adding the link up top. Probably this gets us 95% of the way there and that last 5% involves more design/frontend coding than it's worth.

[2017-03-23 16:10] colinxfleming commented on #658
( @lwaldsc and @vtmeghan please weigh in if there's sensitive information you feel we should NOT be putting in google drive in there.)

[2017-03-23 16:48] lwaldsc commented on #658
The only thing I can think of currently in Crypto that is sensitive is the
pledge tracker, but once the budget bar and audit systems are in place,
that should take care of the need for one.

I would say, we should envision something that will take its place so to
speak (an automated list of everyone that was marked 'pledged' this week so
CMs can check if a pledge was actually made if a clinic call

[2017-03-23 17:27] NerdyGirl537 commented on #658
I had a thought, about putting a link to the Google docs in DARIA. What do
y'all think?

On Thu, Mar 23, 2017 at 12:48 PM, Lisa <notifications@github.com> wrote:

[2017-03-23 23:52] colinxfleming opened #960 "Account for clinic costs in clinic model"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Account for clinic costs by week, as individual clinics.

* **What feature or behavior is this required for?**
Clinic-patient pairing / clinic_finder functionality.

* **How could we solve this issue? (Not knowing is okay!)*

[2017-03-24 00:16] Kevin-Wei commented on #413
http://rocketjob.github.io/symmetric-encryption/

[2017-03-24 00:25] Kevin-Wei commented on #413
even with heroku configuration http://rocketjob.github.io/symmetric-encryption/heroku.html

[2017-03-24 00:53] FeminismIsAwesome commented on #858
I'm gonna steal zing! @lomky do you have any code/branch that I might want to look at or should I go at it from scratch?

[2017-03-24 01:05] lomky commented on #858
Thank you for your theft @FeminismIsAwesome !

Here is my scratch work I put together, it's not much yet:

https://github.com/lomky/dcaf_case_management/compare/master...lomky:858_implement_accountant_billing_view

[2017-03-25 04:21] colinxfleming commented on #413
@Kevin-Wei this looks awesome.

I think we have two requirements here:

* encrypt our existing data (if encrypting the entire document is the path of least resistance I am cool as hell with that)
* make sure new data gets encrypted as it's saved and updated etc

If you have any code in that direction can you whip up a WIP PR with it, so we have it handy?

[2017-03-25 20:38] DarthHater commented on #791
Path paved a bit by the work in #853 #955 and #959 , picking this back up this week in either #865 or a new PR based off master

[2017-03-26 17:56] lomky commented on #814
I am interested in case manager input on these topics in particular:
  - What are realistic mixtures of different patient info
    - voice mail preference, other contact info, special circumstances
  - What are realistic examples of sparse patients, where we have only the bare minimum of information
    - name and phone number?
  - how many times are reasonable to have contacted a person?
     - h

[2017-03-28 18:51] colinxfleming opened #965 "Add 'download anonymized CSV of patients' functionality"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Create a 'download patient data to CSV' endpoint.

* **What feature or behavior is this required for?**
Letting non-programmer data analysts, of which DCAF has a decent amount, poke at our data in excel. I was against this f

[2017-03-28 20:29] rfroetscher commented on #877
hey @colinxfleming. I have a WIP PR here https://github.com/colinxfleming/dcaf_case_management/pull/966

[2017-03-28 21:47] colinxfleming commented on #814
@lwaldsc can I tag you in to work out the business side of this with @lomky ?

I defer to @lomky but I think it might make sense to aim for the following three test cases to start, and we can expand from there:
* patient who called and left a voicemail but who we haven't called back yet (minimal information case)
* patient who's had a few live calls but hasn't had a pledge sent yet
* patient with

[2017-03-28 22:19] lomky commented on #965
A thought: Let's make sure that all fields being exported in the CSV have to be specified, rather than filtering out sensitive ones. A whitelist of fields that are okay for the CSV export.

That way, if we add any new, sensitive fields to patients down the road we won't have to remember _then_ to exclude it, possibly putting privacy at risk if we forget.

[2017-03-28 22:21] lomky commented on #814
That looks like a solid base set, @colinxfleming! :100: I generally like testing with a set of standard cases and a set of edge cases. So we have the first half covered there!

[2017-03-29 03:26] colinxfleming opened #967 "Develop automated backup system"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Twice a day, run a task that takes a db snapshot and securely stories it somewhere, encrypted.

* **What feature or behavior is this required for?**
Me sleeping at night; data recovery in case of catastrophic failure. (I'm t

[2017-03-29 03:42] colinxfleming commented on #951
Here's the bucket list of stuff to alter, in `users/edit`:

* email should not be an editable field
* only name should be editable
* remove 'enter password to confirm' and password reset stuff
* instead of password reset, include a link to `new_user_password_path`

[2017-03-29 04:01] colinxfleming commented on #948
I poked at this just for funsies tonight and am now convinced it's a good idea -- I think we haven't really touched `Patient` or `Pregnancy` except to bolt on new stuff, and this gives us a chance to do a clean refactor.

[2017-03-29 04:11] colinxfleming commented on #818
Since we have basic clinic modeling in place, I just asked the CMDs to rack this by next Friday. Hopefully we'll be able to close this out soon (let's not close it out until we have clinics in prod, and until there's a link in the top navbar for CMDs).

[2017-03-29 14:34] colinxfleming opened #968 "Pledge modal popup not loading properly"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Hitting submit pledge on a patient pops up a modal but doesn't load the modal content, including the buttons which we need to ship a pledge. If you reload and then click submit pledge again, the modal seems to render fine.

[2017-03-29 14:47] colinxfleming commented on #968
Cursory googling also hints at this: https://stackoverflow.com/questions/17317816/rails-javascript-only-works-after-reload

[2017-03-29 14:50] colinxfleming commented on #968
Oh yeah, looks like turbolinks goes from 2.5.3 to 5 in #955 (see the Gemfile.lock diff) which I'd guess is the source of this.

[2017-03-29 17:59] DarthHater commented on #968
I'll take a gander at this (being I caused it, hah)

[2017-03-29 18:10] lwaldsc commented on #814
On it.

On Tue, Mar 28, 2017 at 6:21 PM, Kathryn Tipton <notifications@github.com>
wrote:

[2017-03-29 18:10] lwaldsc commented on #965
Agreed 1000%

On Tue, Mar 28, 2017 at 6:19 PM, Kathryn Tipton <notifications@github.com>
wrote:

[2017-03-29 18:35] DarthHater opened #970 "POTENTIAL BUG: Turbolinks upgrade uses new event type"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

So in moving to the new Turbolinks, apparently it uses a new event type. More on that here:

https://stackoverflow.com/questions/17317816/rails-javascript-only-works-after-reload

There are a few spots that still use the ol

[2017-03-30 02:41] #968 closed

[2017-03-30 14:31] lwaldsc commented on #814
Ok, worked these up last night while drinking some wine on the porch, so if there are bits that need clarification, please let me know. These are not even a fraction of possible scenarios our patients go through but they're kind of the first themes to come to mind.

Common: Regina calls us at 6 weeks LMP on 3-12. We call her back and reach the patient. We explain DCAF’s policies of only funding af

[2017-03-30 14:36] lwaldsc commented on #814
Turning these into Colin's cases:

**patient who called and left a voicemail but who we haven't called back yet (minimal information case)**
 Janis calls us on 6-17. She thinks she is about 9 weeks along, gives her phone number, and says it's ok to leave a voicemail. We have not called her back yet.

**patient who's had a few live calls but hasn't had a pledge sent yet**
 Cady calls in on 10-3 and

[2017-03-30 20:32] DarthHater commented on #967
I think we can leverage mLab backups for this.

PROS:
- Uses our existing db provider
- Stores backup to secure container they provide
- Doesn't require much if any tribal knowledge to know how to mess with it

CONS:
- Costs money (but not much, and this might be unavoidable)
- Backup storage is with database provider

Cost looks to be around 2 dollars a month for weekly backups, which is likely a

[2017-03-31 19:19] colinxfleming commented on #814
@lomky let me know if there's anything else you need toward this end! I think your original insight on  this is going to be really great in a lot of ways.

[2017-03-31 19:23] lwaldsc commented on #814
Agreed. Mocking up stories doesn't take long, so if there are any more
scenarios you're interested in or want maybe some more extreme examples or
more mundane examples, let me know!

[2017-03-31 20:18] AlexandraCasser commented on #728
Is this still needed?  It's kind of out of my wheelhouse but I'd like to learn.

[2017-03-31 20:21] AlexandraCasser commented on #951
@colinxfleming I could also take this if it's ready to go.

[2017-03-31 21:01] colinxfleming commented on #951
@AlexandraCasser go for it!

[2017-03-31 21:02] colinxfleming commented on #951
(let me know if you run into any snags in the process, of course. There might be a few curveballs buried in there, since a lot of this stuff comes straight from `devise`)

[2017-03-31 21:04] colinxfleming commented on #728
@AlexandraCasser yep, this is still on the list! If you want to claim, I would start by getting the alerts to match the web design style, and we can start turning them into helpers from there.

[2017-04-01 18:13] colinxfleming opened #973 "Move clinics to model from env vars"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Rather than referring to a comma separated list of clinics, we're trying to move everything to the clinic model.

* **What feature or behavior is this required for?**
Having the CM team able to update and maintain the list o

[2017-04-01 18:27] #676 closed

[2017-04-01 18:48] #658 closed

[2017-04-03 01:39] colinxfleming commented on #858
moving from the slack channel because I wrote kinda unclear directions here (sorry!):

* the code should live in `app/views/accountants/index.html.erb` and associated partials
* do the fields as follows (overruling what's in the designs):
- clinic (sourced from `patient.clinic_name` / `patient.clinic.name`)
- pt initials (source from `patient.name`)
- abortion care $ (`patient.fulfillment.procedur

[2017-04-04 17:23] colinxfleming commented on #960
Resolved by #961 and #977, so we'll close when #977 gets in

[2017-04-04 17:48] colinxfleming commented on #970
I'd like to bump turbolinks as we continue to dig ourselves out of technical debt. Promoting to active.

[2017-04-04 23:18] mebates commented on #654
Love this idea! @lwaldsc what do you think? What data would be relevant in the feed? Should it clear out every 24 hours or once a week?

[2017-04-04 23:29] mebates commented on #899
Looks like this can be easily solved by adding the word "Add" into the table of completed calls, to match what it looks like in 'Search'.

<img width="1265" alt="screen shot 2017-04-04 at 7 27 13 pm" src="https://cloud.githubusercontent.com/assets/6223901/24683433/00d6d516-196d-11e7-9424-6a987e553862.png">

[2017-04-04 23:34] mebates commented on #898
I think the current workflow should work for this.

[2017-04-04 23:44] mebates opened #978 "Integrate Clinic Finder with CM App"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Integrate Clinic Finder with the CM App so CM's can find the closest or cheapest clinic for their PT based on location and gestation limit.

* **How could we solve this issue? (Not knowing is okay!)**
Needs UX exploration on

[2017-04-04 23:47] mebates opened #979 "Limit Clinic Selection to clinics that accept NAF for some PTs"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We now have great data stored on clinics, and we want to reveal it to the CMs. Add a selector below 'Clinic details > Clinic Name' that says "Only show clinics that accept NAF funding". If the CM checks this box, limit the l

[2017-04-04 23:51] lwaldsc commented on #947
<img width="1077" alt="molly is an artist" src="https://cloud.githubusercontent.com/assets/10578608/24683878/0fed93b6-1970-11e7-850f-a85f2a26de6d.png">

[2017-04-05 00:04] mebates opened #980 ""Your current line: DC" shouldn't be a link"
In the top navigation, "Your current line: DC" should not be styled as a link. It is just a statement and no action can be taken against it. Please make it dark gray type that doesn't have any interaction. Thanks!!

<img width="1197" alt="screen shot 2017-04-04 at 8 02 30 pm" src="https://cloud.githubusercontent.com/assets/6223901/24684149/dd732804-1971-11e7-830d-8b4c98540a5b.png">

[2017-04-05 00:15] SamuelLangenfeld commented on #980
I'll tackle this monster

[2017-04-05 00:28] lwaldsc commented on #654
Thoughts we have to run through:

- Where does this live? On the dash? Under another link at the top?
- If a separate page, is this connected to an individual CM data center (#632) ? (This may be a pipe dream at this case, but I think would be nice for CMs.)
- Is this just one CM or across CMs on a single line?
- How often to clear: after 24 hours, 72 hours, or a week? My gut is to clear more ofte

[2017-04-05 00:28] mebates commented on #947
Sortable table with expand/collapse on the right edge:

<img width="655" alt="screen shot 2017-04-04 at 8 27 49 pm" src="https://cloud.githubusercontent.com/assets/6223901/24684605/3c6024a4-1975-11e7-9752-edda6b3dd39f.png">

[2017-04-05 00:36] mebates commented on #841
I see in #962 that we added this to the top nav. Since this opens a new tab outside of the app, I might consider adding it to the footer instead. Thoughts @lwaldsc ?

[2017-04-05 01:03] lwaldsc commented on #654
Thoughts @NerdyGirl537 and @vtmeghan ?

[2017-04-05 14:18] NerdyGirl537 commented on #654
I think 48 hours could be a good time frame which would make change over a little more seamless.  It should be line specific but not specific to the CM or it won't be helpful in handoff.

[2017-04-06 02:55] colinxfleming opened #983 "Autocheck 'Fulfilled' checkbox when entering stuff in any fulfillment field"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
In this fulfillment form, there's a boolean checkbox for 'Fulfilled' that's easy to miss -- we should make it so it autochecks if you enter any fields in the fulfillment form.

* **What feature or behavior is this required f

[2017-04-06 12:18] electricflannel commented on #983
I'm taking this bad boy

[2017-04-06 15:38] DarthHater opened #984 "Clean up Rails 5.1 deprecation warnings"
In moving to Rails 5.0.2 we cleaned up a lot of deprecations, but some remain.

When you run `rails test` you should see the following warnings:

[code]

Most of these are likely in gems since a cursory grep turned up no results, so we will have to figure out which gems they are in, update them, or figure out another alternative. This is currently causing no issues, but will prevent us from moving

[2017-04-06 22:39] colinxfleming commented on #979
The file in question here is `app/patients/views/_abortion_information`, and the clinic source is in `app/helpers/patients_helper.rb#clinic_options`.

The possible rub here is that if a clinic is selected, we don't want it to disappear. We might be able to do that with some jquery and data attributes, something like:

* all select options have a data attribute like `data-naf=true` or `data-naf=fal

[2017-04-09 18:50] colinxfleming commented on #830
@lwaldsc has anything bubbled up to the surface on this front? Wondering if we should close this in favor of specific issues, or if the next step here is having UX undertake a review of the call list functionality generally.

[2017-04-10 17:36] DarthHater opened #987 "Rails5 Technical Debt: Figure out if we need mongoid_userstamp"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

What are we trying to do?

We are relying on a Mongo library that has essentially gone into deep hibernation, and had to fork it to: https://github.com/DarthHater/mongoid_userstamp.git

Upstream when submitting changes we were asked to take over the librar

[2017-04-10 23:06] #980 closed

[2017-04-12 02:03] colinxfleming opened #988 "Can we remove the rails_12factor gem?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Rails 5 can do all the 12 factor app stuff by default, rather than requiring an external library. With some configuration.

* **What feature or behavior is this required for?**
Keeping the gemfile clean!

* **How could we so

[2017-04-12 02:06] colinxfleming opened #989 "Move to per-form CSRF tokens"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
In `config/initializers/new_framework_defaults.rb`, around L10 there is an option for `per_form_csrf_tokens` which a nice little security enhancement in rails 5. Should we

* **What feature or behavior is this required for?*

[2017-04-12 02:11] colinxfleming opened #990 "Restore Omniauth callbacks controller tests"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
A piece of slash and burn from our move to rails 5 was the omniauth callbacks controller tests, which relate to our log in with google functionality. We should bring them back up to speed.

* **What feature or behavior is th

[2017-04-12 02:17] colinxfleming opened #991 "Remove rails-controller-testing from gemfile"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
As part of our move to rails 5, we moved over our controller tests to a new style, but slashed and burned in a few places. One of those

* **What feature or behavior is this required for?**
Getting rid of extra libraries we

[2017-04-12 02:26] colinxfleming opened #992 "Auto-parallelize in CI with knapsack gem"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Test more faster by balancing tests across CI nodes

* **What feature or behavior is this required for?**
Test more faster

* **How could we solve this issue? (Not knowing is okay!)**
https://github.com/ArturT/knapsack#step-

[2017-04-12 02:44] #791 closed

[2017-04-12 03:03] mccabe615 opened #994 "New Contributor Security Onboarding"
* **What are we trying to do?**
Create a short introduction to security for new contributors to the project to review before submitting PRs.

* **What feature or behavior is this required for?**
Update to the contributing file or maybe a issue template that can be assigned to new contributors to complete. @colinxfleming it's your preference

* **How could we solve this issue? (Not knowing is okay!

[2017-04-12 03:14] #991 closed

[2017-04-12 03:39] colinxfleming commented on #994
@mccabe615 love this. My inclination is to put the full doc in `docs/SECURITY_INTRO.md` or something like that, and link to it in `docs/SETUP.md` and `.github/CONTRIBUTING`.

If you want to knock it out, go for it, otherwise I've tagged it as a first timer issue.

Sound like a plan?

[2017-04-12 20:45] AlexandraCasser commented on #728
@colinxfleming is it possible for you to assign this to me so I can find it more easily?  Thanks.

[2017-04-12 20:46] AlexandraCasser commented on #951
@colinxfleming is it possible for you to assign this to me so I can find it more easily?  Thanks.

[2017-04-13 04:31] colinxfleming commented on #951
@AlexandraCasser you bet!

[2017-04-13 04:38] colinxfleming commented on #951
whoops, maybe not, sorry. Looks like you need to have push access to the repo to be assigned stuff, sorry. I'll talk to you on slack on how to resolve.

The other day we were discussing migrating this project to a proper github organization, which would allow us to assign tickets easier (I think).

[2017-04-14 14:13] colinxfleming opened #996 "Running list of stuff requiring an engineer to do"
Want to start making a list of stuff that requires an engineer going in on the backend.

* CM Marie L created a duplicate patient last night due to a typo; asked me to destroy that patient record.

[2017-04-14 15:23] colinxfleming opened #997 "Remove google analytics"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Get google analytics out of our app!

* **What feature or behavior is this required for?**
It should make things a little snappier, and we aren't really doing anything with it currently. So it's just unnecessary bulk.

* **H

[2017-04-14 17:26] colinxfleming opened #998 "Eliminate heroku memory errors"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
A long running issue that's been merely bad but not super problematic is our site's memory usage. It's consistently running on overdrive, causing all sorts of alerts, etc. Today we hit a 503 error which I think means we're s

[2017-04-14 22:20] colinxfleming opened #999 "Abstract DCAF specific stuff out of app"
There's some DCAF specific stuff in the app that we need to abstract out. Here's our general ticket to log, for squashing in other tickets.

Stuff to generalize off the top of my head:

- [x] the pledge attribute is called `dcaf_soft_pledge`
- [x] PDF generation is hardcoded to dcaf's needs -- I have an example of the form but this is going to be pretty involved. In the short term we should just s

[2017-04-15 16:17] colinxfleming opened #1001 "UX question: How to handle all these admin links?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We're about to unleash a bunch of admin-only routes, such as:
* accounting
* reporting
* user management
* clinic management

This is four new links on the top dashboard, which probably is not going to fit. Where in the app

[2017-04-15 16:56] colinxfleming commented on #965
Marking this active. This is something that would open up a lot of analysis potential for DCAF and I think we should make it a priority after we sort out merging the patient and pregnancy models. If someone wants to work on a proof of concept with just `patient` fields, that'd be a great starting place.

[2017-04-15 18:08] cfinucane commented on #965
This seems as good a place as any to dive in, so I'll try doing a PoC this weekend.

[2017-04-15 19:11] #973 closed

[2017-04-15 23:56] cfinucane opened #1003 "Tests hang in Docker"
* **What are we trying to do?**
Run `rails test` inside Docker! (Or `rake test`, still not sure of the difference...)

* **What happens?**
It hangs within the first few tests (depending on seed).  A typical run looks as follows:

[code]

and then just this, forever.

The end of `log/test.log` looks like:

[code]

It doesn't seem to always be the same test, but I did notice that there tends to be t

[2017-04-16 00:17] cfinucane commented on #965
OK, I've attached an initial PR with a proof of concept like Colin described.  Aside from any technical issues in my code, it seems like some next steps would be:

- Deciding on what exactly goes in the whitelist
- Thinking about what exactly we mean by "anonymous."  I'm not sure if I'm just overthinking this, but making records truly un-linkable to individual people can be trickier than it might

[2017-04-16 01:38] cfinucane commented on #999
This is something I'm particularly interested in, given that I'm hoping to use this for another fund. Let me know when you feel like we're in a good place to move on this, as I'd be happy to tackle it.

[2017-04-16 03:57] cfinucane commented on #989
I've been looking into this.

It seems fine to enable, and all functionality is unaffected, but I don't think we get the full benefit of it currently because `bootstrap_form_for` doesn't seem to add the hidden `<input type="hidden" name="authenticity_token" ...` CSRF field (while `button_to` does get a proper form-specific token; see https://github.com/rails/rails/blob/ad37b79ec45dc3bb25b98daa872d

[2017-04-16 03:58] cfinucane commented on #989
Also, if it's ok to slightly expand the scope of this issue, there's now a related `Rails.application.config.action_controller.forgery_protection_origin_check` option that I'd like to enable.

[2017-04-16 04:06] DarthHater commented on #1003
This is an issue with Alpine and PhantomJS. Currently tackling.

[2017-04-16 04:55] #1003 closed

[2017-04-16 05:21] #967 closed

[2017-04-16 05:25] cfinucane commented on #989
Ah, I see, it's not a bootstrap issue, it's the `embed_authenticity_token_in_remote_forms` option... that makes more sense.

[2017-04-16 07:54] colinxfleming commented on #818
Resolved at long last in #975 . This is in the CMD's hands entirely now.

[2017-04-16 07:54] #818 closed

[2017-04-16 07:55] colinxfleming commented on #642
Resolved by #975 . @vtmeghan please make separate clinics be separate entries.

[2017-04-16 07:55] #642 closed

[2017-04-16 07:57] colinxfleming commented on #947
Bumping to frontend now that we have designs!

Feel free to heavily leverage this bootstrap component: https://getbootstrap.com/javascript/#collapse-example-accordion

[2017-04-16 14:18] colinxfleming opened #1006 "Transfer repository to DCAFEngineering organization"
The community around this project (100+ forks, many people who regularly contribute code) has outgrown this being a personal account repo. I think it's appropriate to move this project and its related stuff (forks of gems, clinic finder, etc) into its own github organization, @DCAFEngineering .

The benefits of this:
* reflects the way this project is actually running
* nice badge for contributors

[2017-04-16 14:39] colinxfleming commented on #989
We use a couple synchronous forms that I can think of -- patient create, I think call create sometimes, maybe one or two other things maybe? Patient create (`app/views/patients/_new_patient` if memory serves) is probably the best example. Rails 4 I don't think used CSRF for remote forms, so if you threw a `remote: true` in your form builder it'd just take it out.

I had no idea they rolled out a r

[2017-04-16 14:57] colinxfleming commented on #999
Other stuff to do:

* change `DCAF_GOOGLE_KEY` and `DCAF_GOOGLE_SECRET` to `DARIA_GOOGLE_KEY` and `DARIA_GOOGLE_SECRET` in `web_variables.env`
* in `app/mailers/application_mailer.rb`, change the domain to be a) a real domain and b) an env var with a default
* rename apps in New Relic to use env vars (something like `DARIA ['FUND'] (Development)
* rename db in dev and test envs in `config/mongoid.

[2017-04-16 15:00] colinxfleming commented on #999
* Change welcome message in `app/views/lines/new.html.erb`
* Change instances of `resolved_without_dcaf` in forms and pregnancy model to be `resolved_without_fund`
* Bump `civic.json`
* Rename `DCAF Data Center` to just `Data Center` in `app/views/reports/index.html.erb`

That's a good starter kit, I think.

[2017-04-17 05:20] colinxfleming opened #1007 "Order clinics on index page alphabetically"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
At `/clinics`, the list of clinics currently does not come back alphabetized, which makes finding a particular clinic a real pain in the neck. We're trying to sort that in a reasonable way -- let's go with alphabetically.

*

[2017-04-17 13:13] lwaldsc commented on #1007
Just to clarify on this, can we alphabetize by state (DC/VA/MD/Other)?

On Mon, Apr 17, 2017 at 1:20 AM, Colin <notifications@github.com> wrote:

[2017-04-17 14:45] colinxfleming commented on #1007
@lwaldsc this one's for the admin panel that deals with clinics so I'm not sure the utility is the same, but would this be helpful at the point where CMs are selecting clinics from the dropdown?

[2017-04-17 14:54] lwaldsc commented on #1007
Yeah. I still think it would be useful for the admins to be able to sort
that list by state, but I defer to their preference.

As for the CM side dropdown, I think it would also be useful there. Are we
breaking out the PP clinics as well?

On Mon, Apr 17, 2017 at 10:45 AM, Colin <notifications@github.com> wrote:

[2017-04-17 22:30] colinxfleming commented on #960
#977 is in! Closing

[2017-04-17 22:30] #960 closed

[2017-04-17 22:31] colinxfleming commented on #841
ping @lwaldsc  -- if you think it's good at the top go ahead and hit close, otherwise let's figure out where it should live.

[2017-04-17 22:31] colinxfleming commented on #841
Area Man Mashes Wrong Button

[2017-04-17 23:00] lwaldsc commented on #841
Honestly I would leave it on the top so it's easier for CMs to find. I know you're the expert Mollie but I know there will be a bunch of "where is the link" kind of questions soooooooooo

[2017-04-17 23:01] #841 closed

[2017-04-17 23:22] SamuelLangenfeld commented on #947
I'll jump on this

[2017-04-17 23:23] lwaldsc commented on #965
No! This is definitely something we want everyone to overthink. This is a great article. Even though we wouldn't release full date of birth, we don't even gather it anyway, so we're good to go. We do however gather age (rather than year of birth).

[2017-04-17 23:32] lomky commented on #779
Diving in on this tonight!

[2017-04-17 23:36] lomky commented on #779
- [x] Change 'Select line for this session' to 'Start'
 - [ ] Increase size of radio buttons
    -  U.S. Web Design Standards. https://standards.usa.gov/form-controls/#radio-buttons
 - [ ] Align radio buttons and text descriptions
 - [ ] Add padding between radio button and text description

[2017-04-17 23:43] colinxfleming commented on #736
This involves making a change to how we handle patient status -- manipulate the statuses in `app/helpers/status_helper.rb`.

`last_contact` is defined as `having a call with the status 'reached patient'`.

Probably you'll want to a) adjust the `STATUSES` constant and b) write a `Patient` method that tells you how many days it's been since they were last contacted, then c) write a `Patient` method

[2017-04-18 00:00] colinxfleming opened #1008 "Stop incrementing LMP after a certain point"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
One of the most useful features in the app is our `LMP counter`, which given a date of initial call and another date will tell you how many weeks since someone's last menstrual period. However, we don't have it stop ever, so

[2017-04-18 00:01] lwaldsc opened #1009 "/reports is down"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Trying to access sandbox.dcabortionfund.org/report
![image](https://cloud.githubusercontent.com/assets/10578608/25109085/54340c5c-23a8-11e7-8edd-f92f4984fd30.png)

* **How could we solve this issue? (Not knowing is okay!)**

[2017-04-18 00:10] colinxfleming commented on #812
I'm ready for this. This is one of the last bigger technical lifts we need to worry about. @lomky you're up.

* Let's throw code relating to this in a `patient_archiving_helper` or `patient_archiving_concern` and include that in the patient model
* Probably the sum result of this should be something like `@patient.archive!` that does everything we need it to

[2017-04-18 00:47] lomky commented on #965
We have a similar PII thought process happening with #812, let's make sure we don't miss insights in either convo.

[2017-04-18 00:52] lomky commented on #812
It may be useful to maintain the data in 'Relationship to other contact', but that feels a little iffy. We probably do want to know whether they had any Other Contact data or not, even if we scramble the data itself

[2017-04-18 00:57] maikelnabil commented on #736
Pull request here: https://github.com/colinxfleming/dcaf_case_management/pull/1012

[2017-04-18 00:58] lomky commented on #812
We probably need to nuke the whole change log, but how can we save useful info safely?

Create fields for "changed appointment date", "changed clinic location", those but after the pledge is sent? etc?

Maybe follow the same process for generating a CSV export  blacklisting entry by entry bsaed on the field being changed? "name" -> scramble, "notes" -> scramble, appt date -> leave be

[2017-04-18 01:02] lwaldsc commented on #654
Colin and I chatted this out tonight and feel it would be best as just an action log housed in scrolling box at the bottom of the dashboard. Would be a text list of recent calls and pledges within a 48-72 hour period over a given line, sorted by date. Thoughts?

##[Date]
*Lisa W. called C.F. (D0-6660) at 10:03 pm. **(+)**
*Lisa W. left a voicemail for K.T. (D1-2345) at 9:45 pm. **(+)**
*Lisa W. pl

[2017-04-18 04:37] colinxfleming commented on #1009
I mentioned this to @lwaldsc but I think this is at least in part due to pregnancy and patient being separate objects. I suspect this problem goes away after that.

That said, weird heroku log, because we definitely have a reports controller. So maybe this is something else.

[code]

[2017-04-18 15:04] NerdyGirl537 commented on #1008
Also a thought is that at 40 weeks (full term) is a key to archive the patient.

[2017-04-21 01:26] colinxfleming commented on #257
We get occasional logentries alerts for high response times, and part of the reason is looking up a bunch of fields in a bunch of documents to generate n amount of hidden modals. I bet we could really reduce the amount of code we generate by making it so we generate a single blank modal on page load, and then load up the content on clicking the call link.

@tingaloo any interest in javascripting t

[2017-04-21 01:37] colinxfleming commented on #306
I increasingly don't love the idea of storing zip code, which anecdotally it doesn't seem like our CMs are using that much, and which does trend toward the level. I also think that for clinic finder purposes we can either adjust it to take city/state or just have CMs be like 'we have this tool that helps people find closest clinics, what's your zip?' AND the libs we would crib off are not terribly

[2017-04-21 01:38] colinxfleming commented on #394
I am still interested in doing this.

[2017-04-21 01:48] colinxfleming commented on #408
a) Our current DB after what's basically 9-10m of data is ~40mb. So we have probably several years before we approach a single gb of data. Good job us.
b) That said we should upgrade our mlab because we're a serious production system now.
c) regular backups remain an open question.

Next step here is to clear the upgrade with DCAF brass and then take the upgrade step on heroku.

[2017-04-21 01:54] colinxfleming commented on #412
I think this is still a good idea and I'm still very much interested in setting it up!

[2017-04-21 02:35] colinxfleming commented on #997
Closed via #1010

[2017-04-21 02:35] #997 closed

[2017-04-21 14:09] tingaloo commented on #257
@colinxfleming I'm on it.

So basically remove this partial ```<%= render partial: 'calls/new_call', locals: {patient: patient} %>``` in ```_table_content```

And instead generate a global blank modal form, then ajax all that partial information on phone icon click? Let me know if i missed any other partials.

[2017-04-21 14:29] colinxfleming commented on #257
Yeah, pretty much! We should have pretty strong integration tests around logging new calls and confirming what information's there as well, so hopefully you can focus on just programming. Let me know if you hit any snags.

[2017-04-21 14:44] NerdyGirl537 commented on #306
Dude, I'm not even sure why we put it in to begin with.  It was never a field on the spreadsheet.  Maybe it was to make it more portable to other organizations?

[2017-04-22 17:38] colinxfleming commented on #965
I'm hearing some energy from DCAF brass about some adhoc analysis work they're interested in doing. Since this opens up a lot of opportunity let's try and prioritize this after PDF stuff goes out.

[2017-04-24 16:28] colinxfleming commented on #965
#1004 is a really rocksolid step to establish the core. I think we can consider this resolved when we:

* merge that PR
* bring in the patient and pregnancy objects in #1014  and add pregnancy fields to the whitelist
* figure out how to handle notes
* figure out how to handle calls
* figure out how to handle fulfillments
* throw a link to it somewhere on the site

[2017-04-24 19:11] colinxfleming commented on #812
@lomky you are definitely right that we want to know whether someone had an alt contact or not, and that we don't want to know the PII of that person. Relationship is a little borderline and I think I'd rather err on the side of not saving it.

re: persisting other contact info, in #1004 we're rolling out a `has_other_contact?` convenience method. Maybe we can have that as a persisted boolean fiel

[2017-04-25 02:25] pbkappa commented on #1007
hey there, I'm new! If it's cool I'll take this one

[2017-04-25 05:35] colinxfleming commented on #1007
Totally cool! Let me know if you run into any issues, and welcome!

On Mon, Apr 24, 2017, 7:25 PM pbkappa <notifications@github.com> wrote:

[2017-04-27 15:34] KatSDC commented on #1008
Let me take a shot at this ticket! I'll be at Monday's meetup too in case I get stuck.

[2017-04-27 22:38] colinxfleming commented on #884
@cmacaulay

[2017-04-28 07:34] colinxfleming opened #1016 "Add optional county field"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Add a `county` field (string) on `Patient` object, and then add it to the form in `app/views/patients/_patient_information` if an env var for `TRACK_COUNTY` is present.

* **What feature or behavior is this required for?**
B

[2017-04-28 21:16] colinxfleming opened #1017 "Add skylight"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
I'd like to add a little more monitoring to the application than new relic gives us. I'd like to add Skylight for this.

* **What feature or behavior is this required for?**
Monitoring app health, more easily identifying pai

[2017-04-28 21:20] colinxfleming opened #1018 "Investigate sqreen for attack monitoring"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Investigate `sqreen` for app monitoring, particularly attacks.

* **What feature or behavior is this required for?**
~ security ~

* **How could we solve this issue? (Not knowing is okay!)**
Step one is to investigate whethe

[2017-04-28 21:22] colinxfleming opened #1019 "Switch out brakeman for brakeman pro gem"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
THe company has very generously given us a license to use the gem. We should take steps to set that up in CI as part of runs.

* **What feature or behavior is this required for?**
~ security upgrade ~

* **How could we solve

[2017-04-29 01:23] colinxfleming opened #1020 "Set up gemnasium"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Set up gemnasium to monitor dependency vulnerabilities

* **What feature or behavior is this required for?**
~ security ~

Tagging in @DarthHater - can you handle?

[2017-04-29 01:25] colinxfleming commented on #1020
Come to think of it, DCAF proper should have the creds here, and we should see if we can set up some secondary emails. I'll set up account stuff.

[2017-04-29 01:30] colinxfleming commented on #1020
@DarthHater - regged a DCAF account and invited you. Let me know if you hit a roadblock!

[2017-04-29 19:25] DarthHater commented on #1020
Tagging in. I believe I need some elevated permissions on the DCAF org on gh and maybe even on this repo to get it setup. Expect emails.

[2017-04-30 22:42] #1006 closed

[2017-05-01 20:50] NerdyGirl537 commented on #877
Need a report to reflect number of calls by line for each day.  Need to know when the case load grows beyond what a single case manager can support.

[2017-05-01 21:55] colinxfleming commented on #950
I took a look at this recently and we still seem to be following best practices on this front. I'm marking closed.

[2017-05-01 21:55] #950 closed

[2017-05-01 22:04] colinxfleming commented on #989
@cfinucane has made a good case in here for doing both these things. Let's turn on `embed_authenticity_token_in_remote_forms` and `forgery_protection_origin_check`.

This is a good issue for someone who's interested in doing some minimal rooting around in rails configs! Marking beginner friendly and backend.

[2017-05-01 22:11] colinxfleming commented on #812
@lomky if it's cool I'd like to have you focus on this once we have the patient-pregnancy merge completed. I think you've got a good eye for security and privacy and I trust you to really do this right.

[2017-05-01 22:30] colinxfleming commented on #996
BAF brass asked me about insurance options. Right now this is set by code but our options aren't going to work for everyone.

[2017-05-01 22:39] colinxfleming commented on #994
Marking active, this is a good one for someone who's interested in getting a feel for the github pull request system and markdown!

Steps to complete:

* Put @mccabe615 's template above in a file at `docs/SECURITY_INTRO_FOR_DEVELOPERS.md`
* Add a link to `docs/SECURITY_INTRO_FOR_DEVELOPERS.md` with some explanatory text in the `New and looking to dive in?` section of `.github/CONTRIBUTING`

[2017-05-01 22:50] mebates commented on #898
Closing. We don't need to add this, users can reach the 'urgent' checkbox easily enough with the current workflow.

[2017-05-01 22:50] #898 closed

[2017-05-01 22:52] electricflannel commented on #1016
I'll take this one

[2017-05-01 23:26] mebates opened #1029 "Plan closeout 2017 PARTY"

[2017-05-01 23:41] mebates commented on #654
Love it. Just to add some easy specs:

h1. [DC] Call Line Activity Log
h3. [Date]
bulleted body list
'Add' as an underlined blue link

Easy peasy!

[2017-05-01 23:44] nickrobinson commented on #1007
Grabbing this one

[2017-05-01 23:56] lomky commented on #812
Yas! First pass notes summing up the conversation so far and my thoughts and questions.

PRIMARY: Patients who are 120 days + past the [DATE] should be archived

-  Needs:
    - patient privacy - remove no longer needed PII
    - system limitation - phone number based ID conflicts
    - process is irreversible
-  Wants
    - same patients archive linked somehow? (is this a need?)
    - use a conce

[2017-05-01 23:59] mebates commented on #1001
We need some dropdowns! Let's try to use the behavior from the USWDS Basic Header, minus the search bar and 'This is a govt website' bar: https://standards.usa.gov/components/headers/#basic

![fullsizerender](https://cloud.githubusercontent.com/assets/6223901/25599181/12225020-2ea8-11e7-9805-fdc40b265d21.jpg)

* Remove links to 'Dashboard' and make the name in the left corner to link to the Dashbo

[2017-05-02 00:16] mebates commented on #626
@colinxfleming - this issue kind of stalled out, but the last wireframe PDF is in great shape. I think we could move this to active development.

[2017-05-02 00:20] mebates commented on #454
Closing this, in lieu of activity feed issue #654

[2017-05-02 00:20] #454 closed

[2017-05-02 00:26] ashlynnpai commented on #1001
I'll take this.

[2017-05-02 00:39] mchelen opened #1033 "Upgrade to Turbolinks 5"
We are currently using Turbolinks 2.5.3

It would be nice to upgrade to the current version 5.x https://github.com/turbolinks/turbolinks

The biggest consideration is probably the handling of Jquery document ready:

4.x
http://stackoverflow.com/questions/18770517/rails-4-how-to-use-document-ready-with-turbo-links
[code]

5.x
http://stackoverflow.com/questions/36110789/rails-5-how-to-use-document-r

[2017-05-02 00:56] #1007 closed

[2017-05-03 04:13] colinxfleming opened #1039 "Log of tests that need wwriting"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Maintain high test coverage for our app by logging corners we cut, so we can add tests for them later.

* **What feature or behavior is this required for?**
Not accidentally breaking things as move into production

WIth that

[2017-05-03 04:33] #345 closed

[2017-05-03 04:43] colinxfleming commented on #1039
Integration test for the functionality in #986 (clicking 'NAF clinics only' disables non-NAF clinics from the select box)

[2017-05-03 04:51] #979 closed

[2017-05-04 22:58] colinxfleming opened #1041 "Confirm SSL certificate doesn't blow up on May 30"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
LetsEncrypt certs have an expiration period of 90 days, and the first one of those deadlines since we rolled them up is coming up on <strike>May 14</strike> May 30 at 22:37 GMT. After that benchmark we should confirm our Let

[2017-05-04 23:00] colinxfleming commented on #1029
![image](https://cloud.githubusercontent.com/assets/3866868/25728261/e824bf28-30fb-11e7-8711-c998d027607c.png)

[2017-05-04 23:14] cfinucane commented on #989
I've submitted a PR making the config changes.  I confused myself trying to explain it earlier, but as-is this will only make a difference for non-remote forms, which seems to be about half of all forms in the project, based on a quick grep:
[code]
Let me know if you want me to add a commit enabling `config.action_view.embed_authenticity_token_in_remote_forms` too.

[2017-05-05 00:44] colinxfleming opened #1043 "Include timestamp of pledge in fulfillment verification"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
While dogfooding pledge fulfillments, I saw a pledge of two with 'this is a resent pledge' -- would be helpful to have some sort of confirmation that the last pledge sent date matches that.

* **What feature or behavior is t

[2017-05-05 00:59] colinxfleming opened #1044 "How to handle patients who don't need our pledges?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Generally when someone doesn't use their pledge it's a patient decision, but there are rare circumstances where patients show up for an appointment and don't need the pledge (say, insurance covers it, or a miscarriage). Not

[2017-05-05 15:57] AlexandraCasser commented on #951
Hey @colinxfleming , does this look reasonable?

`<div class="authform">
  <h2>Edit <%= current_user.email %> (<%= current_user.name %>)</h2>

  <%= bootstrap_form_for resource, as: resource_name, url: '/users', html: { method: :put } do |f| %>
    <%= devise_error_messages! %>

    <h3>Change your account details</h3>
    <p>Email</p>
    <p><%= current_user.email %></p>
    <%= f.text_field :nam

[2017-05-05 17:02] tingaloo commented on #1039
[WIP test for #986 ](https://github.com/tingaloo/dcaf_case_management/blob/cefe9aa5463b86c1a886ea5399841653c77b19ed/test/integration/update_patient_info_test.rb#L87-L107) for whoever wants to pick it up.

[2017-05-05 21:51] colinxfleming commented on #146
Postscript in case we ever refer to this again, as of 5/5/2017:

* Permissioned for admins only, for both viewing the roll and editing/creating/updating/removing clinics
* Accessible from top navbar (via #1036 )
* Usable by CMs in the dropdown

Other stuff to be handled in other PRs.

[2017-05-05 22:00] colinxfleming opened #1046 "What should the buttons say in the cancel pledge workflow?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
If you go to cancel a pledge now, here's what you're going to see:

![screen shot 2017-05-05 at 5 58 27 pm](https://cloud.githubusercontent.com/assets/3866868/25765734/77aec222-31bc-11e7-8669-488470b4810c.png)
![screen shot

[2017-05-05 22:09] colinxfleming commented on #899
I'm going to close this as a wontfix unless other people besides Joy raise this as an issue -- I think this is tougher to implement from the backend side than it's really worth.

@lwaldsc @NerdyGirl537 please flag if you object and this is a super common use case where the system can really have a value-add -- right now I get the sense that there's a nontechnical solution of 'look at the voicemail

[2017-05-05 22:09] #899 closed

[2017-05-05 22:22] colinxfleming commented on #987
a quick programming note: since we're our own github org now, may be a good idea to fork these libraries in and draw from them there, rather than personal githubs.

[2017-05-05 22:24] colinxfleming commented on #728
@AlexandraCasser yep, assigned to you!

Yeah, these show up when you take actions like creating a patient, etc. Probably the paths of least resistance to trigger them within our app are creating a new patient, or creating a user.

[2017-05-05 22:25] colinxfleming commented on #951
@AlexandraCasser That looks good to me! Will you spin up a PR with that so we can try it out? We might have to make some slight controller adjustments in case devise is cagey about not having a password/password confirmation.

[2017-05-05 22:35] colinxfleming commented on #1009
I expect this to be fixed as part of #1014

[2017-05-05 22:40] colinxfleming commented on #965
Did a quick brain dump in the checklist above on how to handle our extra data after #1014 goes in. @cfinucane let me know if I can clear anything up in there -- #1014 is going in this weekend!

[2017-05-05 22:54] colinxfleming opened #1047 "Display only NAF clinics only works as an admin"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
CMs (with that user role) should be able to filter to just NAF clinics using the button on the frontend. Instead, it seems to be just limited to admins.

* **What feature or behavior is this required for?**
Filtering to just

[2017-05-05 23:08] colinxfleming commented on #812
re: same patients linked somehow, I think the ideal here is that the same patients will share IDs, and we'll be able to group them by that. We can use `patient_identifier` for that, which we can generate by some scramble or some consistent business logic. This is a DCAF need (DCAF is interested in what repeat users of our service look like).

Patient read only would be great. I think if after arch

[2017-05-06 04:05] colinxfleming commented on #1047
(on this)

[2017-05-06 04:38] #948 closed

[2017-05-06 05:16] colinxfleming commented on #1009
I was wrong about #1014 . But also, https://stackoverflow.com/questions/38198668/rails-5-load-lib-files-in-production

[2017-05-06 05:29] colinxfleming commented on #1009
I think this is resolved via moving some stuff to app/lib and some other assorted config changes. Will check that it's resolved in prod proper before marking this closed.

[2017-05-06 06:06] colinxfleming commented on #1039
@tingaloo I picked that thread up in #1048 , would love your thoughts on that

[2017-05-07 05:33] #1047 closed

[2017-05-07 15:35] colinxfleming commented on #1009
Moving some stuff to app/lib and other assorted config changes fixed part of this but not all of it. The request seems to time out, which means we're unfortunately going to have to make a much more involved fix.

Here's an error log from heroku:
[code]

[2017-05-09 05:17] cmacaulay commented on #984
@colinxfleming does this still need addressing?

[2017-05-09 05:35] DarthHater commented on #984
Casey, it totally does. I think most of the warnings are now in gems we
import, and not in our codebase but it would be good to affirm that/list
them (it's a bit obtuse at first glance right now), and also to see which
we can update gems to remove the warnings. Also might be worth floating PRs
to the upstream repos if the change isn't onerous.
On Tue, May 9, 2017 at 1:17 AM Casey Macaulay <notific

[2017-05-10 14:37] AlexandraCasser commented on #951
[Pull request is here.](https://github.com/DCAFEngineering/dcaf_case_management/pull/1050)

[2017-05-11 00:17] lomky commented on #812
re:re: same patient linked somehow, I've been mulling on this. We are using public info (phone number) plus public (open source) business logic. If a person knew someone's phone number they could apply the archive ID-scramble process and know the new ID and effectively remove the anonymitiy.

So, which we need is some secret salt, probably a private key? Are there best practices for salted hashing

[2017-05-13 16:09] colinxfleming opened #1051 "Add Patient#pledge_generated_by field"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Track what user last generated a pledge, in addition to timestamps.

* **What feature or behavior is this required for?**
Auditing/Verifying who generated the last pledge

* **How could we solve this issue? (Not knowing is o

[2017-05-13 16:27] colinxfleming commented on #989
Keeping this open until we get `embed_authenticity_token_in_remote_forms` in too. Other additional protections enabled in #1042 (thanks @cfinucane ).

@cfinucane if you want to rack that, that would rule.

I'd like to roll out to Baltimore with this in place, so tagging as such.

[2017-05-13 16:39] colinxfleming commented on #779
@lomky can you pop up your branch from this, if it's not too much trouble / you still have it laying around?

[2017-05-13 18:04] colinxfleming commented on #812
Rehashing our conversation from a few days ago, but setting an env var is no problem, and almost definitely the right way to go. We have a `secret_key_base` that rails uses as part of its engine for generating tokens etc, or we can separately set an `ARCHIVING_ENCRYPTION_SALT` for this.

If there winds up not being a fab way to do this then we can consult with @vtmeghan about a halfway solution, o

[2017-05-13 18:11] colinxfleming commented on #654
We haven't really explored event messaging that much, but I thnk we can do it fairly painlessly from a backend perspective. Here's a proposed backend implementation of it:

* We track certain CM-relevant events (logging a call, sending a pledge)
* Those go into a mongo collection, `events`, backed by its own model with no relations
* In the event the appropriate controller action gets hit (patient

[2017-05-13 18:13] colinxfleming commented on #306
Going with 'nah' on this unless some fund or other needs to track zip. Closing.

[2017-05-13 18:13] #306 closed

[2017-05-13 18:15] colinxfleming opened #1053 "Remove zip code"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We don't really need to track zip code in this app, so let's take it out.

* **What feature or behavior is this required for?**
Patient information security, not keeping extra stuff around.

* **How could we solve this issue

[2017-05-13 18:29] colinxfleming opened #1054 "Eliminate n+1 query on call list"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
The top two pieces of the call list, `Your call list` and `Completed calls` (populated by `current_user.ordered_patients(current_line)` and `current_user.recently_called_patients(current_line)` respectively) are loading via

[2017-05-13 20:36] #1020 closed

[2017-05-13 21:32] colinxfleming commented on #55
Resolved in #956 !

[2017-05-13 21:32] #55 closed

[2017-05-13 21:32] colinxfleming commented on #626
I'm into that. These designs are really fabulous. My inclination is to release it into the pond after we roll out to Baltimore in the near future.

[2017-05-13 21:38] #1019 closed

[2017-05-13 21:58] #867 closed

[2017-05-13 22:02] colinxfleming commented on #984
@cmacaulay echoing what @DarthHater said.

I think the offending libraries are `turbolinks` (my enemy turbolinks, at it again), `puma`, and `better_errors`. It looks like turbolinks is being poked at, but could I trouble you to bump puma and better_errors, and confirm that things still flow cleanly?

[2017-05-13 22:11] #988 closed

[2017-05-14 07:15] itroman commented on #1053
Happy to do this if it still needs doing :)

[2017-05-14 15:24] colinxfleming commented on #1053
Yes please, go for it!

On Sun, May 14, 2017, 3:15 AM Robert Roman <notifications@github.com> wrote:

[2017-05-14 18:35] colinxfleming commented on #1041
14th came and went without incident; sandbox reads July 30, prod reads may 30. Should check.

[2017-05-14 20:25] cfinucane commented on #989
I've looked a little more into getting full per-form CSRF tokens, but ran into a small case where we relied on the global CSRF meta-tag:

In `app/helpers/calls_helper.rb` we have 3 instances of code like this where we are relying on `jquery-ujs` to construct a form for us, but it has nowhere to get a CSRF token now that the global one is gone:

[code]

The reason I want to remove the meta tag is b

[2017-05-14 20:54] #1016 closed

[2017-05-14 21:03] lomky commented on #779
@colinxfleming done, not much to look at atm.

[2017-05-15 00:54] colinxfleming commented on #965
The core engine of this is in via @cfinucane 's outstanding work in #1004 . Remaining work outlined above. Should target for next weekend.

[2017-05-15 06:17] itroman commented on #1051
Would like to work on this...but may have a question or two along the way.

[2017-05-16 03:33] #1053 closed

[2017-05-16 14:34] colinxfleming opened #1058 "Prod: DB Model changes"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Remove depreciated zip data from prod, now that #1056 is all set!

* **How could we solve this issue? (Not knowing is okay!)**
`Patient.all.each { |x| x.unset :zip }` iirc. Will need to run this in prod after deployment. Mak

[2017-05-16 14:59] colinxfleming commented on #1051
hey @itroman ! Sounds good, let me know what snags you hit. I bumped the ticket to reflect an edit to the `PatientsController` in there too.

Getting the `pledge_generated_by` thing in the patient model cleanly is probably the trickiest part of this, and I think you can wire that up with something like `has_one :pledge_generated_by, class: User` or something like that. I forget the exact syntax, s

[2017-05-17 02:59] colinxfleming commented on #1001
Resolved by @ashlynnpai 's great work in #1036 !

[2017-05-17 02:59] #1001 closed

[2017-05-17 03:15] colinxfleming commented on #999
- [ ] Not sure 'select your line' in `app/views/lines/new` makes sense for single-line funds. Should do something like autoselect if there's only one line. Can spin this into its own ticket, so mark this off when it's its own issue.

[2017-05-18 03:13] colinxfleming commented on #490
I'm popping this into active. I think there's a useful feedback win here.

The technical step is to probably update `app/views/patients/update.js.erb` to reload the patient's status on the pregnancy edit page with new information.

[2017-05-18 03:16] colinxfleming commented on #858
Now that we can assign stuff I'm gonna assign to you @FeminismIsAwesome ! Please pop up a WIP PR if you have anything written when you get a chance!

[2017-05-18 03:27] colinxfleming commented on #838
Turning this into an actual task!

* Please add `autocomplete: false` to the form fields in `app/views/patients/_fulfillment` . We'd like this because the form acts weird and tries to put in random data otherwise.

[2017-05-18 03:35] colinxfleming commented on #989
Knowing rails, I bet there's a way to pass in a csrf token as a parameter here. Let me mull this over and let's come back to it in a week or two.

[2017-05-18 03:35] colinxfleming commented on #989
ps I really appreciate your digging into the source of the problem here. 💯 💯

[2017-05-18 03:37] colinxfleming commented on #686
Here are some super dope designs courtesy @nimiro --https://github.com/colinxfleming/dcaf_case_management/files/571543/DCAFwireframe110316_user_account_management.pdf

I'm ready to start moving on this, and I think it'd be a nice thing to get into place. Marking active.

[2017-05-19 00:11] SamuelLangenfeld commented on #838
Hey I'm going to take this since it's been inactive for awhile.

[2017-05-19 00:40] lomky commented on #812
Tagging in peeps:

@lwaldsc @alisonnjones

[2017-05-19 00:51] SamuelLangenfeld commented on #994
Hey @colinxfleming I'm going to jump on this one. We're wrapping up here but I should have it done tomorrow.

[2017-05-19 01:04] lwaldsc commented on #812
Playing FMK with our data

[2017-05-19 01:12] lomky commented on #812
@lwaldsc and I made a first pass through patient related data and did a quick kill/maybe/safe assessment. We definitely need a second pass to see if our combination of data becomes identifiable.

Had some conversations with @alisonnjones about linking patients. No conclusion, I don't think?

[2017-05-19 03:56] colinxfleming commented on #1058
Another migration in #1059 : `resolved_without_dcaf` is now `resolved_without_fund`. Please to run the following:

[code]

[2017-05-20 04:28] #838 closed

[2017-05-20 04:46] #992 closed

[2017-05-20 05:04] colinxfleming commented on #1058
Another migration: `dcaf_soft_pledge` is now `fund_pledge`. Please to run:

Patient.all.each do |pt|
  pt.update fund_pledge: pt[:dcaf_soft_pledge]
  pt.unset :dcaf_soft_pledge
end

[2017-05-20 05:14] colinxfleming commented on #812
The yellows, with my comments, are:

* **age (rounding/range appropriate?)** Yes, moving to a range would be perfect.
* **Spanish?** This does tend to have an impact on program delivery, I'd favor keeping it.
* **County** We don't use this, it's more for Baltimore. I suspect they'll want to keep it for business reasons I won't get into here.
* **Adults in household** We only really need this to ga

[2017-05-20 05:17] colinxfleming commented on #812
I agree on all the greens and reds, by the way.

[2017-05-20 17:12] alisonnjones commented on #812
Talked to cm team about this more. We think it could be useful to explore a two part archival process. @lomky told me about a way for us to automatically trigger archival after fulfillment data is entered in the profile. It would make sense to have a shorter archive/scramble timeline for pt profiles where the fulfillment data has already been entered. But, we might want a longer timeline for pt pr

[2017-05-20 20:27] #257 closed

[2017-05-20 20:34] colinxfleming commented on #984
@cmacaulay just wanted to check in and make sure all was well! Let me know if there's anything we can be helpful with!

[2017-05-20 20:52] colinxfleming commented on #490
#1015 resolves for the submit pledge flow (which, A++++++++++). Still need to include a couple other dynamic fields (some fields in patient information, fields in fulfillment partial, probably the changelog?).

[2017-05-20 20:57] lomky commented on #812
@alisonnjones we had thought a bit about "incomplete" status patients, but hadn't gotten any user-buy in yet, so that's awesome to get! :100:

I like the two-catch archive idea.
Patients archiving after fulfillment (maybe delayed ~7 days in case of corrections? accountant input needed there) is a great first trigger for scramble.
Then we just need to consider the outside bound for scrambling un-fu

[2017-05-21 05:02] colinxfleming commented on #433
I think brakeman addresses this in practice, though it's definitely a nice sandbox to have on hand for understanding how the vulnerabilities can play out in practice. I'm going to mark closed. (miss u charles)

[2017-05-21 05:02] #433 closed

[2017-05-21 05:04] colinxfleming commented on #662
I'm reasonably sure this is fixed in #1015 ! I'm marking closed. 💯

[2017-05-21 05:04] #662 closed

[2017-05-21 15:19] colinxfleming commented on #1058
Run in prod at 11am today, marking closed.

[2017-05-21 15:19] #1058 closed

[2017-05-21 15:22] colinxfleming opened #1068 "Google oauth busted"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Log in with google creds

* **What feature or behavior is this required for?**
Not sure when or how but at some point in the past two weeks we broke logging in with google in both sandbox and prod. The flow yields the follow

[2017-05-21 15:30] colinxfleming commented on #1068
Nevermind, I'm dumb and a commit I made changing this over snuck into master by accident. I'm resolving heroku-side.

[2017-05-21 16:04] #1068 closed

[2017-05-21 18:38] colinxfleming opened #1070 "Document how lines work"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
A core part of the app machinery is multiple lines, and this is not terribly well documented. We should add documentation about how it fits into the workflow of the app.

* **What feature or behavior is this required for?**

[2017-05-21 18:41] colinxfleming opened #1071 "Change LINES constant to DARIA_LINES in config/initializers/env_var_constants"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Because `ENV['LINES']` is set by heroku, we switched the var to `DARIA_LINES` in #1069 . We should do that in other places as well.

* **What feature or behavior is this required for?**
Clarity and consistency between variab

[2017-05-21 19:03] colinxfleming opened #1072 "Turn external pledges list into a config"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
The list of places you can log an external pledge is hardcoded. We should move this to a config of some sort.

* **What feature or behavior is this required for?**
Abstracting DCAF out as the sole user.

* **How could we sol

[2017-05-25 03:16] colinxfleming commented on #1044
I think this is really just a garden variety uncashed pledge. Closing.

[2017-05-25 03:16] #1044 closed

[2017-05-25 14:21] colinxfleming opened #1074 "Turn insurance options list into a config"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
The list of possible insurances is hardcoded. We should move this to a config of some sort.

* **What feature or behavior is this required for?**
Abstracting DCAF out as the sole user.

* **How could we solve this issue? (No

[2017-05-25 14:33] colinxfleming opened #1075 "Handle non-english, non-spanish speakers"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
BAF has a common use case of logging languages other than english, which mashes up against our current language model.

* **What feature or behavior is this required for?**
Accurately tracking language of callers

* **How co

[2017-05-25 14:36] colinxfleming opened #1076 "Don't add patient to call list when working in data entry mode"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Not add patients to a call list when entering them through data entry mode.

* **What feature or behavior is this required for?**
Not bogging down call lists on dashboard when entering ~100+ patients into the system at a tim

[2017-05-25 14:42] colinxfleming opened #1077 "Add medicaid coverage to clinic data?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Baltimore is interested in tracking medicaid info for clinics. We should figure out how to implement and what they're hoping to get out of it.

* **What feature or behavior is this required for?**
???

* **How could we solve

[2017-05-28 20:21] colinxfleming commented on #947
As part of #1011 we regressed slightly and took out the costs at weeks chart. Here's the code we used to generate that previously:

[code]

We can consider this closed when this is in the collapsible clinic details somehow, I think.

[2017-05-28 21:15] #983 closed

[2017-05-28 22:03] #1008 closed

[2017-05-30 01:23] #1033 closed

[2017-05-30 01:24] colinxfleming commented on #970
Resolved via #1033

[2017-05-30 01:24] #970 closed

[2017-05-31 02:38] colinxfleming commented on #1041
It blew up due to the rake task failing silently. see result:

[code]

I'm going to see if moving it to the ACM is trivial.

[2017-06-02 01:07] #1017 closed

[2017-06-02 01:33] #736 closed

[2017-06-03 15:41] colinxfleming opened #1089 "Turbolinks issue on pledge modal"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
It is with a heavy heart that I must inform us that our enemy turbolinks is at it again. The issue that had us stuck on version 2 or whatever, the pledge modal loading empty when nothing's happened on a page yet, has reared

[2017-06-03 15:52] colinxfleming commented on #1089
The modal pieces seem to be populating but the event that should be making the buttons populate, and unhide the main content, doesn't seem to be firing correctly. Digging in.

[2017-06-03 18:11] #1089 closed

[2017-06-05 00:24] colinxfleming opened #1094 "Should we keep new relic?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We currently have two monitoring systems, skylight and new relic. Skylight is a lot nicer and does a better job of directing us toward actual pain points. Should we just go with skylight?

* **What feature or behavior is thi

[2017-06-05 00:37] colinxfleming opened #1095 "Load reports asynchronously"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
The thing preventing us from using the reports endpoint right now is the page load timing out because of the heavy db load. One way around this is to load the reports asynchronously. We should do that!

* **What feature or b

[2017-06-05 01:49] colinxfleming commented on #1072
Reopening this until we figure out what to do about #1092

[2017-06-05 22:07] colinxfleming commented on #947
On second thought, we aren't doing anything with that data yet anyway, let's just call this good.

[2017-06-05 22:07] #947 closed

[2017-06-05 22:19] colinxfleming commented on #692
@DarthHater I'm tagging you in on this! I have a half started PR that I'll get into shipshape for you to run with.

[2017-06-05 22:21] colinxfleming commented on #893
@DarthHater I'd love for you to go on a fishing expedition on this front and see what it would take to easily regen the the sha-hash. Let me know!

[2017-06-05 22:25] colinxfleming commented on #735
@KatSDC want to take a look at this and see what it might look like from a code perspective?

[2017-06-05 22:34] colinxfleming commented on #825
* **What are we trying to do?**
When CMs try to create a patient who's already on a line, right now they're getting an absolutely useless error message, and patient creation fails. The failure is right, but the useless error message sucks. (Steps to recreate - try logging into the VA line and creating a patient with phone number `123-123-1231`.)

* **What feature or behavior is this required for?*

[2017-06-05 23:34] tingaloo opened #1097 "Add Reset Password Functionality for Admins"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We want to add reset password functionality for admins! This can be found at ```users#index```.

* **What feature or behavior is this required for?**
To reset passwords.

* **How could we solve this issue? (Not knowing is ok

[2017-06-05 23:36] tingaloo opened #1098 "Add Locking Feature for Admins"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Admins should be able to lock/unlock users for whatever reason.

* **What feature or behavior is this required for?**
User admin panel.

* **How could we solve this issue? (Not knowing is okay!)**
We are still discussing a w

[2017-06-05 23:37] mebates commented on #1075
@NerdyGirl537 suggests we loop back with @vtmeghan to see how the 'Spanish Only' checkbox is being used now. The intention was that if the box was checked, the 'Spanish Only' cases would be diverted to Spanish-speaking CMs. I'm not sure that we have anything very helpful in the UI that facilitates it (for example, it doesn't move to a spanish queue, or something).

If that functionality is not rea

[2017-06-05 23:40] mebates commented on #1046
I would suggest a simple dialog box like this (wireframe, use standards for other dialog boxes):

<img width="422" alt="screen shot 2017-06-05 at 7 39 47 pm" src="https://cloud.githubusercontent.com/assets/6223901/26807822/c5e5ab2c-4a26-11e7-90de-2748cf84e0c3.png">

[2017-06-05 23:42] tingaloo opened #1099 "Stupidtable Sort does not work after Search"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
In ```users/index.html.erb```, stupidtable sort does not work after search

* **What feature or behavior is this required for?**
It's a bug.

* **How could we solve this issue? (Not knowing is okay!)**
Something about javasc

[2017-06-05 23:50] tingaloo opened #1100 "Finish Writing Tests for User Management"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
There are a few TODOs lying in ```user_management_test``` that need finishing.

* **What feature or behavior is this required for?**
Being good people and writing tests.

* **How could we solve this issue? (Not knowing is ok

[2017-06-05 23:54] mebates opened #1101 "front end - lines should extend to bottom of content"
The vertical line dividing space on the patient screens should extend to the bottom of the content.

![screen shot 2017-06-05 at 7 21 32 pm](https://cloud.githubusercontent.com/assets/6223901/26808126/cbde8736-4a28-11e7-9bd0-791b9312c917.png)

[2017-06-06 00:05] mebates commented on #978
https://sandbox.dcabortionfund.org/clinicfinder

[2017-06-06 00:25] mebates opened #1103 "Increase max width of DCAF site"
The call list is really squished. I think we should increase the max width of the DCAF website site-wide. I probably set a max width 18 months ago, and I set it too narrow. I'm not sure what it is now, but it could be set to 1600 as a max-width. After it hits max-width, content should center and margins should increase.

LMK if you have questions!

![screen shot 2017-06-05 at 8 22 24 pm](https://c

[2017-06-06 00:28] tingaloo opened #1104 "Search Functionality on Admin Panel not Working"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We would like search functionality on the user management panel. Search button returns a POST error.

* **What feature or behavior is this required for?**
Required to search for users on the ```user_management``` panel.

* *

[2017-06-06 01:00] eheintzelman commented on #978
I have some questions for DCAF program folks before tackling this.  Take a quick look at the existing tool - https://sandbox.dcabortionfund.org/clinicfinder
@lwaldsc @NerdyGirl537

1 - How often do you anticipate DCAF case managers would use a tool like this?  25% of patients? 50% of patients? More than 50%? What factors would make it more or less likely for a case manager to use the tool?

2 - In

[2017-06-06 04:22] colinxfleming commented on #978
cc @vtmeghan @alisonnjones

[2017-06-06 16:33] NerdyGirl537 commented on #978
Hi @eheintzelman, here are my thoughts:
It's going to vary by state.  DC is pretty straight forward, and Maryland is too.  But Virginia is big and diverse and we also look at sending patients to North Carolina depending on LMP and location, so VA Line CMs would use it more than others.

I would look up clinics when a patient hadn't yet set an appointment or if I thought there might be a less expen

[2017-06-06 18:18] tingaloo commented on #1095
What do you think of having one chart displaying at a time? initially load the weekly patients data first, then having the rest as toggle options which dynamically change the graph?

[2017-06-07 04:41] #1051 closed

[2017-06-07 11:01] itroman commented on #1076
I went ahead with a PR for this as it looked like something in active development I could knock out fast.

[2017-06-07 22:16] vtmeghan commented on #1075
I don't know that it's really being used at all, given, as you say, there's no way to separate out Spanish-only PTs currently. I think a drop-down might be better, especially as we expand our outreach and get (hopefully) more non-English/Spanish patients.

[2017-06-07 22:28] vtmeghan commented on #978
So, I think this would also be used a ton by trainee CMs - one of the biggest things we hear from trainees after their first shift is that they feel like they don't have a good handle on which clinics to refer patients to. I think all new-ish CMs would be very likely to use this, especially as they cover new lines for the first time and are unfamiliar with the clinics.
I agree with @NerdyGirl537 t

[2017-06-08 04:20] colinxfleming commented on #978
It looks like current active clinics in DCAF's list comes to 43 locations, and just from eyeballing states about 20 of those are usable by deeper Virginia (stuff in GA, NC, TN as well as VA proper).

[2017-06-08 04:31] colinxfleming commented on #1075
Language workflow is unlikely to materialize at this point and it doesn't seem to be a problem.

I'd say let's start with a dropdown with the Baltimore language set (defined by a helper) and move language to either an enum or a string. (Basically we can pretty much make this look like the insurance dropdown but with language.)

[2017-06-08 04:31] colinxfleming commented on #1075
Long term we can then explore whether or not we can chuck this in a config a la #1072 and #1074 (see also #1092 ).

[2017-06-09 20:59] #1094 closed

[2017-06-09 21:00] #1076 closed

[2017-06-12 23:52] itroman commented on #1043
Happy to start working on this.

[2017-06-13 18:38] #412 closed

[2017-06-13 18:43] colinxfleming commented on #893
#1102 implements `secure_headers` which rules. There are a few remaining CSP steps to handle here:
a) we should take steps to take any and all inline js out of the view layer, since those are going to consistently cause report violations
b) after  that, we should switch the CSP violations procedure from reporting to stopping the action in the secure headers report URI, and the secure headers confi

[2017-06-22 02:26] colinxfleming commented on #1075
This is shovel ready. Instructions are:

* define a helper function in `patients_helper` that returns an array of languages -- Spanish, French, Korean to start
* alter the patient model such that language is a string rather than a boolean
* take out the spanish language checkbox in the patient information partial and replace it with a dropdown, populated by that helper
* write a test for the new h

[2017-06-22 02:30] colinxfleming commented on #1095
@tingaloo I think I'd prefer it as is (I think the ability to compare weeks/months/ytd was a requested feature by the CM brass) but I'm open to another solution here. I think long term, we were going to explore having these more static reports display on page load, and then have a more dynamic/d3-or-tableau-esque thing like keshif on another tab.

What do you have in mind here? Interested in your

[2017-06-22 02:37] colinxfleming commented on #713
I'm interested in revisiting this! @vtmeghan what do you think?

[2017-06-22 13:43] lwaldsc commented on #713
I am not @vtmeghan but I def support.

[2017-06-22 13:49] vtmeghan commented on #713
yes, definitely support - as long as there's a simple way to reactivate accounts (since we do have folks take hiatuses, etc...), I'm in favor.

[2017-06-22 14:07] colinxfleming commented on #812
I think @lomky 's thinking about scramble timelines here is right on. I'd say give fulfillment cases a 30 day grace period.

There's some DCAF standard operating procedure for returning a fulfillment to us - we ask for return within 60 days. I think doubling that is right on.

@lomky anything for unsticking here?

[2017-06-22 14:30] lomky commented on #812
Nothing sticking, just a lack of attention on my part. 😓 Planning on moving it forward tonight!

[2017-06-23 14:13] colinxfleming commented on #1101
I think the path forward here is probably moving the border attribute from the left menu (id `menu`) to the right side (id `sections`). That should set it to follow whatever's in that right panel.

[2017-06-23 14:21] colinxfleming opened #1115 "Document behavior of features within the app"
Issue template TK, but I got an email this morning asking how the call list / completed calls worked, and I'm sure that's not the only part where the 'how it works' is squirreled away in docs and pull requests somewhere. There might be a UX thing here to make this kind of useful information a little more available to CMs in the thick of it.

[2017-06-23 20:24] colinxfleming commented on #1095
This looks like a particularly good solution for this -- https://semaphoreci.com/blog/2017/06/08/speeding-up-rails-pages-with-render-async.html

[2017-06-23 20:34] lwaldsc commented on #1115
I'm a little confused by what you mean here, Colin, esp around "works." Is
this how it works on the backend or what?

Is this something that should go into the manual or something that needs to
be supplementary?

[2017-06-24 14:21] tingaloo commented on #1095
I see that the DB loads are initially done in the index with ```@weekly_report,@monthly_report,@yearly_report```.

Is this 27 DB calls at most? I was thinking of making it a background job with https://github.com/brandonhilkert/sucker_punch. Otherwise putting the reports in individual endpoints and using the render_async gem should work.

[2017-06-24 15:24] colinxfleming commented on #1095
I think an individual endpoint + render_async is the optimal way to go here. I love sucker punch and it's built with heroku dynos in mind, but it's at its best when you can just fire off something and not need a result to come back to your view (like emails, kicking off an ETL job, stuff on that order). render_async looks more akin to resolving promises (and looks way, way simpler to implement tha

[2017-06-24 16:19] tingaloo commented on #1095
Gave this a shot, adding ```render_async``` automatically throws console errors like this.
```Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-eval'". Either the 'unsafe-inline' keyword, a hash ('sha256-bYIgmUdITYFyqsXboR6JFTvMNyGAMxG1UuiDWGjn5ug='), or a nonce ('nonce-...') is required to enable inline execution.```
I

[2017-06-24 16:23] colinxfleming commented on #1095
Hop on slack and we can talk thru this. Those errors are from our CSP, but that should just be set to warn rather than stop.

[2017-06-24 16:28] #686 closed

[2017-06-26 03:47] #951 closed

[2017-06-26 04:11] #490 closed

[2017-06-28 00:58] lwaldsc opened #1119 "Pledge limit tool tip needs to be changed for Baltimore"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Change the pledge cap tool tip for Baltimore.

* **What feature or behavior is this required for?**
Changing DC's cap limit to Baltimore's:

* **How could we solve this issue? (Not knowing is okay!)**
Change some text, kay?

[2017-07-02 14:13] colinxfleming opened #1120 "Pledge fulfillment partial not clickable on hot reload"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Very small bug here:
* as an admin, create a new patient
* fill in appointment date, clinic, and pledge amount
* submit the pledge
* at this point, the fulfillment link should show up on the left side

Clicking the fulfillm

[2017-07-04 05:46] #1101 closed

[2017-07-04 17:50] #1120 closed

[2017-07-05 03:22] colinxfleming commented on #811
I don't think there's a world where we get out of having to have some sort of password entry, but I do think there's a way we can offer a carrot. I think we just make the Sign In With Google link bigger, add `recommended` so it looks like 'Sign in with Google (recommended)', and call this good.

[2017-07-05 03:31] colinxfleming commented on #408
At current rates, DCAF prod is going to start running up against limits probably end of next year mostly due to audit trails and sessions collections, which are currently taking up 76mb and 29mb respectively. (For context, patients is taking up 16mb.) Sessions we can occasionally just blast into oblivion, and hopefully the impact of audit trails will be lessened when patient archiving rolls out an

[2017-07-05 03:33] colinxfleming commented on #510
I'm closing this because I think our CMs have figured out where this lives, at this point, and changing it would cause more problems than it solved. If there's objection from @NerdyGirl537
 or @mebates please reopen.

[2017-07-05 03:33] #510 closed

[2017-07-05 03:43] colinxfleming commented on #1115
I think probably supplementary. Like, for the completed call list (the user question that sparked this), it follows this behavior:

* Someone is in your call list
* Someone has been called within the past 8 hours
* If that call resulted in a 'reached patient', they get removed from your call list as part of the nightly cleanup job that runs; otherwise they stay in your call list and pop up again

[2017-07-05 03:44] colinxfleming commented on #713
We'll roll this out after #1098 , so we can toggle CM lock/unlock. 6m it is, part of the nightly rake task.

[2017-07-05 03:47] colinxfleming opened #1125 "Change references to DCAF soft pledge to fund pledge"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Since we quietly started just calling pledges 'pledges' everywhere (instead of hard/soft), we should remove references to hard/soft around the app, including but not limited to: the DB field, pledge validation error message

[2017-07-05 03:54] colinxfleming commented on #274
Wonder if it would also be nice to have some marker of 'saved!' pop up when a field saves.

[2017-07-05 03:57] colinxfleming opened #1126 "Add insurance as external pledge option"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Add `Insurance` as an external pledge option

* **What feature or behavior is this required for?**

Accurate representation of where money is coming from

* **How could we solve this issue? (Not knowing is okay!)**

For now

[2017-07-05 03:58] colinxfleming commented on #766
Everything actionable here now spun out into its own deal; closing.

[2017-07-05 03:58] #766 closed

[2017-07-05 04:08] colinxfleming commented on #864
Everything actionable spun out into their own issues; closing the omnibus!

[2017-07-05 04:08] #864 closed

[2017-07-05 04:11] colinxfleming commented on #830
@lwaldsc I'm going to close this out, since there's nothing actionable here yet and it's been quiet. In the event that stuff bubbles up, do me a solid and make a new issue for the individual stuff you're hearing and tag it UX. $$$$

[2017-07-05 04:11] #830 closed

[2017-07-05 04:31] colinxfleming commented on #998
Some blog posts and libs here:

https://collectiveidea.com/blog/archives/2015/03/05/optimizing-rails-for-memory-usage-part-3-pluck-and-database-laziness

https://github.com/puma/puma/issues/342

https://github.com/arches/whacamole ?
https://github.com/schneems/puma_worker_killer ?

[2017-07-06 02:44] alisonnjones opened #1127 "Addressing Unknown Data Fields"
When exporting patient data using the CSV download tool you'll see that a significant amount of the input fields are blank. What I'd like to figure out if whether these fields are blank because they are unknown at that point in the cm process, or if they are blank because of how the inputs are presenting in the download.

I'd like to propose that we add "unknown" as an option to the following inpu

[2017-07-08 01:38] eheintzelman commented on #978
Here is a first take on a solution.

Clinic finder integration on Abortion Info>Clinic Details Section:
A shaded box below the clinic selection dropdown, indicating it is an optional tool.  We will need to collect zip code info, since this is not entered anywhere else in the system. NAF checkbox is integrated into the tool.
![clinic finder box](https://user-images.githubusercontent.com/17989540/27

[2017-07-09 00:34] colinxfleming commented on #978
This looks really solid, @eheintzelman ! Love the feel and the way you divide up the information here.

* Gestational age is a great flag. My thinking is that we preload a pair of drop downs with the current gestational age and let CMs adjust it if they want to see how results would change. What are your thoughts @eheintzelman ?
* Public transit is a lovely idea. That said, I think I'd want to kno

[2017-07-10 00:02] colinxfleming opened #1129 "Run db migrations in prod after enumerize PR gets deployed"
[code]

see #1106

tasks:
- [x] run in dcaf
- [x] run in baltimore
- [x] reseed sandbox

[2017-07-10 23:10] colinxfleming commented on #965
Resolved through the efforts of the village!

[2017-07-10 23:10] #965 closed

[2017-07-10 23:14] colinxfleming commented on #811
This is on the sign in form in `app/views/devise/sessions/new.html.erb`

[2017-07-10 23:37] mebates commented on #978
Great work @eheintzelman ! I think that the results can show up within the gray box, rather than on a new page. Agree with preloading the gestational age but also allowing them to edit. 5 results is great.

[2017-07-11 00:02] mebates commented on #817
Alison notes that this page might be super helpful for the new Case Management Follow Up / Audit Team. Serena is going to take a crack at this!

cc: @lwaldsc @NerdyGirl537

[2017-07-11 00:04] EricSchwartz7 commented on #1103
I'll take this one!

[2017-07-11 00:27] mebates commented on #1115
We could add tooltips to help explain things like this within the app. We could also think about an onboarding experience within the app to get people started. A great little primer: https://material.io/guidelines/growth-communications/introduction.html

[2017-07-11 00:29] tedlayea commented on #1043
Happy to work on it.

[2017-07-11 00:30] mebates commented on #1077
@lwaldsc or @nerdygirl537  - can you follow up on the user requirements for Baltimore and medicaid, please? This issue doesn't have enough info to do any UX work yet

[2017-07-11 00:30] cmgiven opened #1130 "Patient and pledge trends"
* **What are we trying to do?**

As a DCAF board member, I would like to see trends in patients contacted, pledges sent, pledges fulfilled in order to understand when there are periods of high or low demand.

* **What feature or behavior is this required for?**

Understanding seasonality in demand is a first step toward DCAF leadership being able to adjust weekly budgets in response to that demand

[2017-07-11 00:33] lomky opened #1131 "`bundle update` causes app to begin to fail"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
  - Keep everything running smoothly!

* **What feature or behavior is this required for?**
  - being able to safely run `bundle update`

* **How could we solve this issue? (Not knowing is okay!)**
  - I'm very suspicious of

[2017-07-11 00:36] lomky commented on #1131
After I commented out `platform-api`, `faker` began throwing an error. [Seems to be a problem for others as well](https://github.com/stympy/faker/issues/975)

[2017-07-11 00:40] cmgiven opened #1132 "Support flexible weekly budgets"
* **What are we trying to do?**

As a DCAF board member, I would like to adjust weekly budgets in order to better accommodate periods of high demand, while understanding how these changes will affect my annual budget.

As a case manager, I would like to have flexible weekly budgets in order to better accommodate periods of high demand.

* **What feature or behavior is this required for?**

Case ma

[2017-07-11 01:08] eheintzelman opened #1135 "Move checkbox to same line as label"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Clean up design for checkboxes and labels on Abortion Information tab

* **What feature or behavior is this required for?**
Eliminates confusion over which label goes with which checkbox

* **How could we solve this issue? (

[2017-07-11 13:23] tedPen commented on #654
I started laying down some groundwork for this. There's still a lot more to be done: [PR 1136](https://github.com/DCAFEngineering/dcaf_case_management/pull/1136)

[2017-07-11 15:01] colinmcglynn commented on #1075
I'll grab this one

[2017-07-12 01:08] lomky commented on #1131
`faker` released an update rolling back their error.
`platform-api` is still causing trouble. Commenting it out of the `Gemfile` & running `bundle update` allows the server to start again, but we should probably extract the gem more carefully than that.

[2017-07-12 02:53] #866 closed

[2017-07-12 03:32] colinxfleming commented on #1129
Resolved between 11pm and 113pm 2017-07-11 after merging #1106

[2017-07-12 03:32] #1129 closed

[2017-07-12 04:13] colinxfleming commented on #1131
`platform-api` is being shot into space via #1137 and #958 , which I hope to have into production tomorrow. (I think Heroku has a much smoother process around this now.) tough break for faker, yikes.

There are two open 'update a bunch of dependencies' PRs ( #1122 and #1123 ), so that hopefully fixes a good part of this. @lomky what say we call this good when we get our gemnasium badge to change f

[2017-07-18 01:18] #957 closed

[2017-07-18 03:47] colinxfleming commented on #1131
Platform-api is gone. One down one to go.

[2017-07-18 03:52] #1103 closed

[2017-07-18 03:52] #1043 closed

[2017-07-19 03:26] colinxfleming commented on #1135
Looks like these:

![screen shot 2017-07-18 at 11 25 39 pm](https://user-images.githubusercontent.com/3866868/28349361-7399a27c-6c10-11e7-812c-5daebcde98e2.png)

[2017-07-19 03:32] colinxfleming opened #1139 "Remove duplicate fields from export"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We rigged up a nice export for the analytics team, but it's got some duplicate fields in it that we should remove to make sure our analysts don't go crazy.

* **What feature or behavior is this required for?**

Clean data!

[2017-07-19 03:43] colinxfleming commented on #1127
I'd like @cmgiven 's expert opinion on analysis of unknown data. Also interested in the datakind team's thoughts, though I don't know their github handles, especially since they've gone thru our data before. My assumption would be that people marked nil are effectively 'unknown' for purposes of analysis, but I don't know what the analytics appropriate action to take here is, so I defer to the expe

[2017-07-19 03:46] colinxfleming commented on #1126
If we can work this into #1092 we should!

[2017-07-19 03:49] colinxfleming commented on #1041
Resolved via #1137

[2017-07-19 03:49] #1041 closed

[2017-07-19 03:54] colinxfleming opened #1140 "Update render_async gem so reports load, hopefully"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Get reports to render asynchronously, with nonces!

* **What feature or behavior is this required for?**

* **How could we solve this issue? (Not knowing is okay!)**

Run `bundle update render_async` and add `nonce: content

[2017-07-19 04:05] colinxfleming commented on #274
This is currently our oldest not-fixed issue, and it's kind of a significant one. I would love to prioritize this. Here is a potential strategy that I think might work:

* create a file called something like `update_failed.js.erb`
* change the controller action in the case of error to return `update_failed.js.erb` instead of an internal server error
* if a patient saves cleanly, flash a success me

[2017-07-19 13:02] alisonnjones commented on #1127
Let's talk tonight! I had a good discussion with the cm team about this,
and we have some other ideas for getting at the problem.

On Tue, Jul 18, 2017 at 11:43 PM Colin <notifications@github.com> wrote:

[2017-07-19 14:33] colinxfleming opened #1142 "Write data dictionary"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Write a data dictionary for the analysts.

* **What feature or behavior is this required for?**

Documenting common questions so the analysts can work without asking engineering!

* **How could we solve this issue? (Not kno

[2017-07-19 15:24] tingaloo commented on #274
There's a way to do this, https://stackoverflow.com/questions/23967390/rails-flash-notice-via-ajax/23967474.

It's similar to the whole dynamic loading before, knowing what to keep vanilla and what to change into UJS.

I got patient success working, but is the success message something you want to keep flashing every time a field gets changed?

Here's what I have so far, https://github.com/tingalo

[2017-07-19 15:59] tingaloo commented on #274
also can you give me a case where saving a patient returns a failure?

[2017-07-19 17:08] colinxfleming opened #1143 "Move to rails 5.1"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Upgrade to rails 5.1

* **What feature or behavior is this required for?**

Staying current! Long term health of the project! Using systemtest!!!

* **How could we solve this issue? (Not knowing is okay!)**

Put it in the c

[2017-07-19 18:59] tingaloo commented on #1140
Gave this a shot. Doesn't output still.
generated JS
[code]

console errors still show
```Refused to execute inline script because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-eval' 'nonce-fZxve0IQtLq1O8WvYOgj1gomqI9SRgOPgOX+4BaiYM0='". Either the 'unsafe-inline' keyword, a hash ('sha256-+PC+Kf6qxwFk9MeuRMDmsALBNWNX473zplWkiVYhJgY='), or a nonce ('nonce-.

[2017-07-19 20:17] colinxfleming commented on #1140
Do me a solid and spin up a WIP PR?

[2017-07-19 23:30] colinxfleming opened #1145 "Run spanish language migration"
`Patient.all.each { |pt| pt.update(language: 'Spanish') if pt[:spanish]; pt.unset(:spanish) }`

see #1138 -- run after that gets shipped

[2017-07-19 23:42] EricSchwartz7 commented on #1135
On it!

[2017-07-19 23:42] rudietuesdays commented on #811
on it!

[2017-07-19 23:46] SamuelLangenfeld commented on #1139
Sent in a pull request for this issue.

[2017-07-20 00:27] SamuelLangenfeld commented on #994
Submitted a PR for this issue.

[2017-07-20 00:41] eheintzelman commented on #825
How does this play out?  If a DC line patient calls the VA line, does the VA line CM just pass on the vm message to a DC line CM?  Or are there cases where the CM would want the ability to change the line for that patient? Is this a functionality that currently exists in the system or is it only enabled for admin?

Once we have a handle on this, we can create an error message that includes some di

[2017-07-20 00:48] eheintzelman commented on #978
Good suggestion on preloading the gestational age and making it editable.  Fine to punt on the public transit issue.

I'll wire up a solution incorporating @mebates suggestion for a gray box that can expand vertically.

[2017-07-20 19:04] lwaldsc commented on #1077
Re: Annie at BAF

"So I think what we'd like is the ability to, in DARIA, put in info re:
which clinics take Maryland Medicaid and to what gestational age (similar
to how you can fill in costs now). Colin mentioned something about creating
a clinic lookup tool, so I just wanted to make sure that if/when that is
built, it also includes information for Medicaid patients so our CMs can
steer them to

[2017-07-21 14:16] colinxfleming commented on #1142
@lwaldsc can I tag you in on this? I think starting with just straight up taking an export and writing down what all the columns mean would get us a huge part of the way there.

[2017-07-21 14:23] lwaldsc commented on #1142
![](http://3.bp.blogspot.com/-qUH2sD4GWB0/UUn5xBphLjI/AAAAAAAAA2o/MMYWv7n8sNw/s1600/thumb-up-terminator+pablo+M+R.jpg)

[2017-07-22 04:37] #994 closed

[2017-07-22 04:39] #1135 closed

[2017-07-22 04:49] #1140 closed

[2017-07-22 05:16] colinxfleming opened #1151 "Autoselect line for single-issue funds"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

If a fund only has one line, we should autoselect that, so they don't have to bother to click thru the welcome page.

* **What feature or behavior is this required for?**

Not annoying case managers with extra clicks!

* **

[2017-07-22 05:23] colinxfleming commented on #999
Remaining spots:

- [] Patients helper
- [] Pledgeable concern
- [] Ext pledge controller (in a comment)
- [] Pledge form (probably its own huge deal)

[2017-07-22 05:25] colinxfleming commented on #999
- [] User model, password restrictions (probably its own PR)
- [] app/views/patients/_pledge

That, I think, is the end of it!

[2017-07-22 20:03] lwaldsc commented on #1142
First attempt here. Edits and suggestions welcome @NerdyGirl537 @lomky
https://github.com/DCAFEngineering/dcaf_case_management/blob/master/docs/DATA_DICTIONARY.md

[2017-07-23 01:02] lomky commented on #1142
I think we export an age range generated from the age, rather than the age itself. Otherwise my first pass reading, looks good! :100:

[2017-07-23 03:26] #1018 closed

[2017-07-23 04:03] #1075 closed

[2017-07-23 04:38] colinxfleming commented on #1142
Yeaaahhhh this is awesome. Excellent descriptions of the moving parts and I think the analytics team is going to set off fireworks in celebration. A few notes on my pass:

* I think a note somewhere about what the 'reported by' options mean might be helpful. Can definitely see someone being being not sure of the distinction between CM reported and patient reported on first glance.
* We're currentl

[2017-07-23 04:44] #1139 closed

[2017-07-23 14:57] colinxfleming commented on #1145
Ran in console, looks good!

[2017-07-23 14:57] #1145 closed

[2017-07-25 01:35] eheintzelman commented on #978
Here are a few wires incorporating the box overlay approach.  These are wireframes only (limited styling!). I included a screenshot of daria in the background to get an idea of how it fits in.

Food for thought:
1 - Do we want the search results to continuously update as a CM changes the inputs, or do we require the CMs to hit 'search' (or 'apply') to see new results?

2 - Include column for NAF i

[2017-07-25 13:23] lwaldsc commented on #978
Oh my god Eva this looks so great!

Yes, definitely always include NAF funding in anything regarding clinics.

[2017-07-25 17:15] NerdyGirl537 commented on #1142
Ok.  Did a quick review.  Looks great.

On Sun, Jul 23, 2017 at 12:38 AM, Colin <notifications@github.com> wrote:

[2017-07-25 22:00] colinxfleming commented on #1142
@lwaldsc go ahead and close this out when you've got it up to speed. Thanks again for handling this so quick!

[2017-07-26 00:28] eheintzelman commented on #978
Thanks Lisa!  About NAF Funding - is this typically a black and white type of situation, where a CM says, 'yes definitely need NAF funding on this one,' or 'no don't need it here.'

Or is it just one of several factors that a CM would weigh when deciding what clinic to recommend? I'm imagining a situation where one clinic is cheaper but doesn't accept NAF; another one is more expensive and does ac

[2017-07-26 14:41] lwaldsc commented on #978
Yes. That's baaaaaaaaaaaaasically how it works. Almost all of the time,
you'll want to shoot for a NAF clinic because they can offer a lot more
funding than we can. The only time you wouldn't is if the geography just
isn't right and the amount of time and money a patient would spend on
travel wouldn't make it worth it.

[2017-07-26 14:46] lwaldsc commented on #1142
![](http://2.bp.blogspot.com/-PXqkfd9uTzc/VZ-UnbLh8qI/AAAAAAAAG9E/XRJnQpWqm6I/s640/The-Terminator-Arnold-1.jpg)

[2017-07-26 14:46] #1142 closed

[2017-07-27 23:44] lwaldsc opened #1160 "Simple language change in Special Circumstances"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Making our language less ableist!

* **What feature or behavior is this required for?**
Change "fetal anomaly" to "fetal diagnosis" in Special Circumstances checkboxes.

* **How could we solve this issue? (Not knowing is oka

[2017-07-28 05:00] colinxfleming commented on #1160
I'm pro making this but I feel like we've switched it back and forth a time or two at this point (last july/aug/sept if I remember right). Something to look at just to make sure there wasn't some other reason for it. Thanks for flagging @lwaldsc !

[2017-07-28 14:06] lwaldsc commented on #1160
@colinxfleming Huh. You're totally right. Sorry about that.

Someone mentioned it last night at the DCAF meeting and said DARIA still said anomaly. Couldn't log in to Daria at the time, so just took their word for it.

DISREGARD THIS MISTAKE! PLEASE DO NOT SHAME ME FOR MY INACCURACY!

[2017-07-28 14:06] #1160 closed

[2017-07-28 14:21] colinxfleming commented on #1160
My favorite kind of problem is 'one we've already fixed!' !

On Fri, Jul 28, 2017 at 10:06 AM Lisa <notifications@github.com> wrote:

[2017-07-31 03:44] colinxfleming commented on #1095
Despite working in dev this is still fighting back in prod -- nonce shit isn't blending right. Investigating why, reopening in the meantime.

[2017-07-31 03:51] colinxfleming commented on #274
@tingaloo you can crank out a failure by taking two patients and trying to name them the same thing, or giving them the same phone number. That should spit out a 500 because of the model validation choke.

Definitely would like the success message to keep flashing every time a field gets changed.

If we could chuck in some kinda spinner or something like that to indicate 'saving', I think that'd p

[2017-07-31 03:57] colinxfleming commented on #825
@eheintzelman I'm not sure how this plays out on the business side, actually. @lwaldsc @NerdyGirl537 what do CMs do when a patient hits the wrong voicemail when they're already going thru the process?

There are def cases where we'd want to change the line of a patient, but that's admin only right now. We can loosen that to data volunteers and/or CMs @vtmeghan or @NerdyGirl537 think it's appropria

[2017-07-31 04:03] colinxfleming commented on #1077
Based on the above from Annie I think there are two enhancements here:

* deal with Medicaid clinics in #978
* implement something similar to the 'Show only clinics that accept NAF funds' checkbox for Medicaid clinics

Either way, the route to both of these is slapping an extra boolean field for `accepts_medicaid` on the clinic object, and then adjusting the form and tests. Retagging as backend fo

[2017-07-31 04:19] colinxfleming commented on #978
It looks like this is basically ready for development, which is REALLY exciting. I'll spec it out into discrete parts soon and then we can start having engineering hammer on it.

We might cheat a little bit on the gray box and just have it expand down rather than overlay, but I think everything in here looks good to me and very doable.

Going to have to dust off the clinic finder gem I think!

[2017-07-31 13:19] lwaldsc commented on #825
Yeah, they'll simply email the case manager on the correct line with
something like "Oh hey Eva (#1-2345) called me on the DC line, but she's
actually yours." and then the correct CM would either start or continue
case management.

It really depends if the CM directors want to keep the added work of
changing a line for a patient. I don't think/know it happens often enough
to warrant letting all CM

[2017-07-31 13:21] mebates commented on #978
Looks great! I agree with Colin that it can be a section that expands down. Probably will work best at the full width of that section too (covering the left to right edges of 'clinic details'). Thank you Eva!

[2017-07-31 20:42] colinxfleming opened #1161 "Move sqreen subscription into nonprofit mode"
Sqreen requires touching base with them to let em know we're using it in nonprofit/small org mode when we get out of the trial period. I'll handle.

[2017-08-01 13:02] eheintzelman commented on #978
Thanks for all the quick feedback!  Here are the revised wires with the box taking up the full width and a few other changes.

- I moved the NAF checkbox and most affordable/closest toggle to the search results section. My thinking is to keep the CM input as quick and easy as possible. Just enter the zip code and boom, there are the results. Set the default to 'closest' with the NAF box checked (b

[2017-08-01 23:00] colinxfleming commented on #978
This has enough runway that I think we can call it a proper frontend task now. It'll require some changes to the `clinic_finder` gem as well and some form adjustment, but for now I think I just want @eheintzelman 's designs recreated.

* whip up a new partial for the form part as `app/views/clinicfinders/_form.html.erb`. hardcoding stuff is fine, bonus for using `bootstrap_form_for` and pointing i

[2017-08-01 23:03] colinxfleming commented on #274
@tingaloo sorry, forgot to ask the other day -- anything I can unstick on this?

[2017-08-02 01:56] tingaloo commented on #274
Got it working, pushed through some sticky jquery stuff. But #1163 is up and running.

[2017-08-05 04:27] #274 closed

[2017-08-05 04:29] #1131 closed

[2017-08-07 03:44] colinxfleming opened #1171 "Upgrade omniauth-google-oauth2"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Keep our oauth libraries up to date. (See the Gemfile for the particular two.)

* **What feature or behavior is this required for?**
Google SSO

* **How could we solve this issue? (Not knowing is okay!)**
Probably run back t

[2017-08-07 03:48] colinxfleming commented on #1171
(While we're in here, we should probably fix the associated tests in `test/controllers/omniauth_callbacks_controller_test`.

[2017-08-07 15:44] #811 closed

[2017-08-07 17:11] NerdyGirl537 commented on #825
Also, this weekend Joy contacted me thinking there was a problem with a patient on the DC line she'd been working with.  Turns out she had been logged onto the MD line when she entered the patient.  She could find the patient when logged into DC but not add to the call list.  (I'm not sure what all we've done on this issue for CMs as I didn't realize that you could see patients from other lines).

[2017-08-07 17:26] colinxfleming commented on #825
That's interesting! I thought that you couldn't search for patients on other lines. That's probably something for eng to investigate to make sure that's working as intended (no crossover, period, at this time). I'll file a separate ticket to confirm that's okay tonight.

@NerdyGirl537 can you chase @vtmeghan and confer on @eheintzelman 's question above?

[2017-08-07 17:43] colinxfleming commented on #326
Closing in favor of #413 -- we're not going to buy mongo premium or anything like that and anything we wind up doing will be thru mlab.

[2017-08-07 17:43] #326 closed

[2017-08-07 20:39] rudietuesdays commented on #1077
I'll work on this tonight!

[2017-08-07 22:13] colinxfleming commented on #735
Okay, here's a game plan for this. There are three changes I'd like here as part of this:

* Add a `pledge_sent_at` field in the patient model, which sets to the current time when someone marks a pledge sent. This is something I think we've needed for a minute but haven't finished off yet. A `pledge_sent_by` would be nice too as long as we're wrenching around. A rails `after_save` callback might b

[2017-08-07 23:11] KatSDC commented on #1104
I'll tackle this one tonight!

[2017-08-07 23:15] colinmcglynn commented on #735
I'll grab this

[2017-08-07 23:30] tingaloo commented on #1104
@KatSDC Thanks for taking the dashboard, it's been left hanging for a long time. Feel free to ping if you need clarification!

[2017-08-07 23:50] lwaldsc commented on #825
Per @vtmeghan and this big wall of error message text was cleared by @mebates @eheintzelman

Ideally, we should be able to search for a patient under all three lines.

Actions it should take if you search for a PT in DARIA but they are not on the line you are working:

1) Give you an error message "This number in already use on the [MD/DC/VA] line. Please contact the case manager on duty on the [M