[2015-11-10 01:14] mebates opened #2 "Rename project / repo / slack channel?"
What should this thing be called?

[2015-11-10 01:14] mebates opened #3 "Setup GitHub issue structure"
labels, milestones etc

document on readme

[2015-11-10 01:20] mattbailey0 opened #4 "project minutes process and tool"
Story: As a new contributor to the project, I want an easy way to get up to speed so that I can start helping as quickly as possible.

Possible solution: we need to keep a light weight blog or similar platform where we can note recent accomplishments, such as at the end of each Code for DC hacknight.  That way a new contributor can see not only the commit history but non-code accomplishments, such

[2015-11-10 01:22] mattbailey0 opened #5 "design a high level user flow"
Based on source research in the Google Drive (team members can help with access to this), design a high level user flow to describe the application.  Post it to the repository.

--> this issue needs more detail if people are going to pick it up and do it without a lot of introduction.

[2015-11-10 01:24] mattbailey0 opened #6 "add appropriate materials from Google Drive to repository"
To ease onboarding of new members, we should move whatever material we can (i.e. stuff that is appropriate to make public) to the repository from the Google Drive.

[2015-11-10 01:25] mattbailey0 opened #7 "Make a clickable prototype in invision"
To support usability testing and design refinement, build a clickable prototype from current wireframes using Invision - http://www.invisionapp.com/

[2015-11-10 01:27] mattbailey0 opened #9 "Add nontechnical roles to readme"
Add project needs by skillset to the readme.  Don't forget about non-technical users such as designers, testers, and copywriters.

[2015-11-10 01:28] mattbailey0 opened #10 "more extensive readme - setup instructions"
update the readme with step by step instructions for setting up the site in a development environment.

[2015-11-10 01:44] mebates commented on #6
For now, I've added wireframe links from google drive (with open access) to the bottom of the ReadMe. But I agree that we should add a folder with design assets.

[2015-11-10 01:53] mebates opened #11 "decision on version control standards"
add to readme
policies on forking and merging pull requests

[2015-11-10 02:14] mebates commented on #4
Here's a first stab. Would love for @colinxfleming to add more detail on what his group did (and even if you caught names?).
https://github.com/colinxfleming/dcaf_case_management/wiki/11.09.15

[2015-11-12 23:57] colinxfleming commented on #11
I'll add a draft policy on this over the weekend.

[2015-11-13 00:00] colinxfleming commented on #2
Can you give me a sense of what you have in mind, or what you think our project title should include?

I think I favor keeping reference to Dcaf but it's not a hard and fast requirement for me. Still, think it should include some ref to the org somewhere if not the title.

[2015-11-13 00:01] colinxfleming commented on #4
Assigning this to myself so I remember to update the wiki

[2015-11-14 17:42] colinxfleming opened #12 "Discuss what path to take for app development: Vallejo fork or separate deal?"
Vallejo is a django tool that Mollie found out about at CFA which solves a similar problem (managing a variety of contacts and cases, logging touches with them, and then marking them complete):  https://github.com/codeforamerica/vallejo-css-toolkit

(The alternative is whipping up something from scratch, most likely.)

I think this requires a conversation with some django-comfy folks about adaptin

[2015-11-15 17:19] mebates commented on #12
Or is the District Housing something worth forking? Agree that this should be a priority.

[2015-11-15 17:25] mebates commented on #2
I wonder if there's something snazzier and more brand-able than "case management". That's such a broad term and I'm not sure that it captures what we're trying to build (or that we generally know that). Do we think that this repo will be specifically for the DCAF tool and then the future 'neutral' version would be named something else?

[2015-11-17 00:28] adinneen commented on #5
User Flow!

![dcaf flow](https://cloud.githubusercontent.com/assets/12372787/11199057/1ebcf320-8c98-11e5-9553-e0d5f7e64f53.jpg)

[2015-11-17 01:26] mebates commented on #7
I'm getting started with InVision tonight. Users can join me by creating a login at http://www.invisionapp.com/. The link to our prototype is here (maybe): https://projects.invisionapp.com/d/main#/projects/5385941

[2015-11-17 01:37] colinxfleming commented on #12
After chatter with @cmgiven @stvnrlly @drownedout @chieflotsadoe we've decided to go with a fork of `districthousing` -- our reasoning is that code for dc sees slightly more rails people than django people, and it would be cool to have a successful code for dc project beget another project.

[2015-11-17 01:40] adinneen commented on #5
User Flow - Second Try!

![dcaf flow 2](https://cloud.githubusercontent.com/assets/12372787/11200243/45b1a5de-8ca2-11e5-876c-da0f738041f0.jpg)

[2015-11-17 02:01] mebates opened #16 "Design screens after 'submit pledge'"
What happens once the user hits 'Submit pledge'? Things may include:

- finalizing pledge amount
- creating PDF to fax
- faxing PDF
- going back to start screen

[2015-11-17 02:02] adinneen opened #17 "Pre-call screen"
Add a screen before a call is placed a patient to record any available information from the voicemail that was left.   This is only necessary when a new record is being created because DCAF has no information on the patient.

[2015-11-18 20:09] colinxfleming commented on #5
@adinneen this RULES and I am going to show it off to the CM/board in a bit

[2015-12-06 21:55] colinxfleming opened #18 "Database side: What to use?"
Since we've settled on Rails, I think the next major architecture decision we need to make is how to store our data securely and accessibly. DCAF is able to spend some money in order to outsource the security component of this rather than rolling it up from scratch, so cost should be a factor but we shouldn't just take the closest, free-est option and hack that into what we need. (If we have to sp

[2015-12-06 22:11] colinxfleming commented on #2
(For context, during the planning phase of this, we recognized that the data problems DCAF is facing aren't unique to DCAF -- lots of orgs do everything in running, messy excel sheets -- and talked about how we could build something out general purpose.)

I think that we should build this repo out focusing on DCAF, and then take the lessons learned with us into the future / neutral version. My rea

[2015-12-07 20:41] mebates commented on #12
So you're not going to fork, you'll start from scratch?

[2015-12-07 22:28] colinxfleming commented on #12
Right now I think I'm leaning slightly toward rolling our own -- Charles pointed out that districthousing is capital b big, and so there might be a lot we would need to shave off and it might wind up being a heavier lift in the long run.

I don't think we should make a final call on this yet though -- interested in what @stvnrlly @cmgiven Charles and Marcus from districthousing think.

[2015-12-08 00:33] mebates opened #19 "Make a data model for the app"

[2015-12-08 01:40] nmadero opened #20 "User Reporting Tools"
Users will need different type of reporting tools based on the data collected by case manager. The reports can be either in a dashboard or even in a static report. The dashboard can display number of active cases that are available or that need to be called in queue. They can also sort by demographics/income/zip codes of all the patients in the database.

There should also be an ability to export

[2015-12-08 02:04] mebates opened #23 "more extensive readme - DCAF 101"
We need to be able to quickly explain DCAF's workflow to new team members. We'll use the User Flow #5 but need more of a checklist model of things to cover

[2015-12-08 02:13] Kevin-Wei commented on #18
If the primary needs for starting out are:

- non relational tables
- schema flexibility
- rapid development

MongoDB fits the use case for this project.

For encryption needs [Symmetric Encryption](https://github.com/rocketjob/symmetric-encryption) is suitable option that works for any ruby ORM.

[2015-12-10 04:39] colinxfleming commented on #23
@lwaldsc @NerdyGirl537 if you've got capacity can you tackle a draft of this with me over the next week or so? I might enlist someone else from the CM working group as well.

[2015-12-10 05:17] colinxfleming commented on #18
@Kevin-Wei I'm into the symmetric encryption idea, and into the idea of using Mongo! I haven't used nosql before but have always meant to -- I'll do some reading up on it this coming week. Thank you very much for the suggestion!

I'm a little curious about the security aspect, since it's like the first question the DCAF board will ask about -- want to make sure that keeping patient data safe and p

[2015-12-10 05:19] colinxfleming opened #24 "Bump rails version to current 4.X.X version"

[2015-12-10 05:24] colinxfleming commented on #18
I did some googling and it looks like heroku, among others, offer Mongo options. Two specifics:

https://elements.heroku.com/addons/mongolab
https://elements.heroku.com/addons/mongohq

pretty neat!

[2015-12-10 16:57] mebates commented on #18
I believe the conversation was to roll with Mongo at first and then swap to something once we're past prototyping.

[2015-12-10 19:58] Kevin-Wei commented on #18
Mongo might not be a bad permanent solution. They just released 3.2 today and basically added joins with their implementation of [$lookup](https://docs.mongodb.org/manual/reference/operator/aggregation/lookup/#pipe._S_lookup) aggregation. aka SQL Joins.

of course the downside is keeping track of private keys and the DB's themselves will need to be done manually

[2015-12-21 01:42] colinxfleming commented on #24
Fixed in #21

[2015-12-21 01:42] #24 closed

[2015-12-21 02:03] colinxfleming opened #25 "Put 'clone and go' guide in the readme"
Should have step by step instructions to cloning and getting started for mac and pc environments.

In other words: It's my first day at code for dc, I've got the readme open, what do I need to install and set up to be able to run a local server and start wrenching around?

[2015-12-22 00:29] colinxfleming commented on #19
I think for initial planning we can use what's in the InVision app. https://projects.invisionapp.com/share/6757W6WFJ#/screens

[2015-12-22 01:43] Kevin-Wei commented on #25
installing homebrew on mac's
and using [homebrew](http://brew.sh/) to install [mongo](https://docs.mongodb.org/manual/tutorial/install-mongodb-on-os-x/) and [rbenv](https://github.com/rbenv/rbenv).

Once mongo and the project is installed with bundler.

Mac users need to `$ mkdir /data/db` and
`$ whoami`
`username`
`$ sudo chown username /data/db`

[2015-12-29 04:21] colinxfleming commented on #18
To update this: We're going to roll with mongo for development for the time being. The initial stab is in pr #28 .

[2016-01-03 04:56] colinxfleming commented on #12
Spoiler alert, we're rolling our own. Closing since we're well into rails-ing now.

[2016-01-03 04:56] #12 closed

[2016-01-03 07:16] #18 closed

[2016-01-03 20:21] colinxfleming opened #33 "Set up application layout"
Thanks to the great work of the design team, we've got some designs! So we should adjust the frontend application layout to account for that.

The Invision Prototype, which we should try to match, is here: https://projects.invisionapp.com/share/6757W6WFJ

For purposes of testing, you can go to http://localhost:3000/users/sign_up (the devise login pages).

This ticket has three components:
* <strik

[2016-01-04 03:36] colinxfleming opened #36 "Add CI badges to the readme"
Since we're using CircleCI, let's add the appropriate badges to the Readme.

[2016-01-09 20:29] colinxfleming commented on #36
Fixed in #37

[2016-01-09 20:29] #36 closed

[2016-01-09 20:51] colinxfleming commented on #6
@mebates Are there other assets from Drive we need to add, or can we pretty much consider this good to go?

[2016-01-16 23:54] colinxfleming commented on #23
After a discussion with @mebates it seems like a good idea to turn this into a wiki page. I popped it into https://github.com/colinxfleming/dcaf_case_management/wiki/DCAF-101.

Leaving open for the time being until we have a chance to discuss.

[2016-01-17 00:19] #25 closed

[2016-01-17 00:20] colinxfleming commented on #10
Fixed in #34

[2016-01-17 00:20] #10 closed

[2016-01-17 00:53] colinxfleming opened #39 "Update User model attributes in application controller"

[2016-01-17 01:13] colinxfleming commented on #19
Fixed in #38 !

[2016-01-18 02:33] #19 closed

[2016-01-18 02:43] colinxfleming opened #41 "Integration test: Authentication"
To ensure that the registration system works as expected, we should write an integration test that checks the following:

* There's a sign in link on the main page
* When you log in successfully, a success message displays
* When you are logged in, it displays some information about you (email or name or something) instead of a sign in link, and the bar includes a sign out link
* When you click th

[2016-01-18 02:52] colinxfleming opened #42 "Data-dismiss on success messages doesn't work"
![image](https://cloud.githubusercontent.com/assets/3866868/12379235/03ce1c3a-bd24-11e5-9685-9124e9b99591.png)

When you click that X on the right side of the green 'Signed in successfully' box, the message is supposed to dismiss, but doesn't.

The HTML for this is in `app/views/layouts/_messages.html.erb`; I suspect it's a JS error, maybe the Bootstrap JS library not being loaded.

[2016-01-18 02:59] colinxfleming commented on #41
(I tend to prefer the `capybara` library for this but I'm not married to it, if there's another preference!)

[2016-01-18 03:07] colinxfleming opened #43 "Models: Add enumeration to fields marked enumeration"
In several of the models, there are notes of enumeration. These attributes should be added to the respective model files, in consultation with sample DCAF data where appropriate (ask @colinxfleming for this).

Rails documentation on `enum` is here: http://edgeapi.rubyonrails.org/classes/ActiveRecord/Enum.html

[2016-01-18 03:12] colinxfleming opened #44 "Models: Add MongoidHistory"
A few models (`Note` and `Case`) have comments to add a library called `Mongoid::History`, so that we can see who made changes over time.

@kevin-wei is our local expert on Mongo, but I think this involves using the `mongoid-history` gem: https://github.com/aq1018/mongoid-history

[2016-01-18 03:20] colinxfleming opened #45 "Model testing: Add tests for Case, Patient, Call models"
These models need basic verification tests to ensure that objects save information the way we think they do.

A good best practices primer on what to test in model tests (and testing in general!) is here: https://robots.thoughtbot.com/how-we-test-rails-applications

[2016-01-23 16:50] colinxfleming opened #46 "Controller: Create, update, read, disable a Case"
Since we've got a datamodel, let's put it to work and start setting up some CRUD (Create/Read/Update/Destroy) operations!

I think we can make a form at `CasesController#edit` that'll be equivalent to https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983266 , and then get it to match the designs after we have the controller logic set up and in place.

Let's not stress about some of the

[2016-01-23 16:54] colinxfleming opened #47 "Model: Create some seed data"
Populate `db/seeds.rb` with some sample data that we can use for experimenting in a development environment. Should include:

* A completed case
* A half-finished case
* A fresh case
* An abandoned case

Will work on this with @NerdyGirl537 and @lwaldsc to make sure this is consistent with spreadsheet patterns.

(Gold medal version: FactoryGirl testing fixtures that also match these patterns.)

[2016-01-26 00:42] #39 closed

[2016-01-26 01:13] mebates commented on #33
How should we incorporate a design review into this (or other) issues? Should we?

[2016-01-26 01:37] mebates commented on #9
Covering the design needs in my latest pull request. @colinxfleming do you think the ReadMe properly describes the 'project needs' for developers?

[2016-01-26 01:42] mebates commented on #23
Looks like a good start - kind of confusing with all of the abbreviations; maybe we can take a plain language pass at it.

[2016-01-26 01:43] mebates commented on #6
I think this is good for now, once you merge my pull request. If any other missing items come up, we can reopen the issue.

[2016-01-26 01:43] #6 closed

[2016-01-26 01:45] mebates commented on #5
Should we close this? @adinneen can you drop the source files into the _design file so others can access it if necessary? What program did you build it in?

[2016-01-26 01:46] mebates commented on #16
Let's prioritize this for next week and work through it with a DCAF volunteer.

[2016-01-26 01:51] mebates opened #51 "Design login / welcome screen"
What does the very first screen look like for a case manager? How about a positive, grateful welcome and a very easy, no hassle login? What happens if they're a new user? Or if they forgot their password?

[2016-01-26 01:52] mebates commented on #51
Let's use this as a starting point: https://playbook.cio.gov/designstandards/form-templates/#login-form

[2016-01-26 04:37] colinxfleming commented on #47
Discussed with @lwaldsc and she won the prize on this -- we'll pair on this to build out some test data.

[2016-01-26 04:58] colinxfleming opened #54 "Readme fix: Add what type of server to run on Cloud9"
A pair of people went thru the Cloud9 local build directions tonight, and some useful feedback we got was that it's helpful to specify what kind of specific server to run, just in case. (Rails stable + Ruby 2.x.) Otherwise, the green 'Run Server' button is unresponsive.

We should add this to Cloud9 directions to avoid frustration and confusion.

[2016-01-27 01:21] #42 closed

[2016-01-27 01:55] colinxfleming opened #55 "Ask for CM full name when logging a sent pledge"
I think we have an open question about what Case Manager / User name data to have in this information, specifically whether to do `first name` and `last name` both, or just an all inclusive `name`.

**Background**: We set up models with both first and last in #38, and I rolled this back in #49 to allow user objects to save again. (Devise requires that you specifically whitelist non-devise attribut

[2016-01-27 01:58] #44 closed

[2016-01-27 02:04] colinxfleming opened #56 "Set up mongoid-history class"
Per https://github.com/aq1018/mongoid-history#usage, `Mongoid::History` somewhat involved setup requiring:

* Creating a history tracker class
* Creating a history tracker class initializer
* Deliberately making specific object classes trackable
* Tracking the history of specific fields

It also appears that there's an out of the box solution for tracking what user was responsible for changes that

[2016-01-27 04:16] colinxfleming commented on #51
Great call on the CIO standard. I'll create a separate issue to make the root route the sign in page as well.

[2016-01-27 04:18] colinxfleming opened #57 "Make the Rails root page the Devise sign in screen"
Nothing fancy, just go into `config/routes.rb`, figure out what the Devise sign in route is, and make it so that someone going to http://localhost:3000/ will go to the sign in screen.

[2016-01-27 04:21] colinxfleming commented on #23
@mebates good call on abbreviations and the need for a plain language pass. I'll see if I can take a whack at this in the off week, I think having this primer would really speed up onboarding.

[2016-01-27 04:24] colinxfleming commented on #33
@mebates I'm 100% about doing a design review and iterating on layouts/frontend code. There's a lot of UX expertise and talent on this between you and @adinneen and I don't want to waste any of it.

Should we do it incrementally on individual components (such as the top bar) as they're rolled out, or should we start doing them after we have kind of the basic views and interactions from the InVisio

[2016-01-27 14:39] lwaldsc commented on #55
Def into the third option if it's not too much extra work. We can have the CM enter their full name as kind of a signature when they send the pledge. I feel like using initials in the actual data is safer.

[2016-01-27 14:41] lwaldsc commented on #23
Yeah. This was def just a quick outline draft. I can mess around slash flesh it out as well.

[2016-02-02 06:03] colinxfleming commented on #11
Putting a nail in this -- our draft policy is as follows from the readme. We can iterate on it as appropriate.

## How Do I Contribute?
This project runs on Github forks and pull requests, so we can be sure to make changes incrementally and keep everything clean. For an introduction to github, check out (this guide on github.com)[https://guides.github.com/activities/hello-world/].
* To contribute,

[2016-02-02 06:03] #11 closed

[2016-02-05 03:14] stvnrlly opened #58 "Add license"
This is a great resource is one is needed: http://choosealicense.com/

[2016-02-05 03:15] stvnrlly opened #59 "Add civic.json"
See http://open.dc.gov/civic.json/ for more information.

[2016-02-06 03:51] colinxfleming commented on #7
Should we close this and start creating separate issues for separate additions to InVision?

[2016-02-06 05:05] colinxfleming opened #60 "How to keep track of technical requirements / feature requests / general ideas parking lot?"
Discussions with the data science team have continued and they're yielding some excellent insights and feature requests about how to process patient information. Want to figure out the best way to log them in git -- either a wiki page, separate git issues, or a unified issue backlog.

[2016-02-06 05:58] colinxfleming commented on #59
Info we'll need/want to fill this out:

* Page url
* Any partner info (include Mollie, Andrea, other contributors?)
* License

[2016-02-06 17:49] mebates commented on #17
This is a priority for Sprint 1

[2016-02-07 00:21] colinxfleming commented on #57
Resolved in 1718b30

[2016-02-07 00:21] #57 closed

[2016-02-07 00:26] colinxfleming commented on #54
Resolved in b1901c9

[2016-02-07 00:26] #54 closed

[2016-02-07 00:39] colinxfleming opened #61 "LOGIN: Unit tests for User model"
Add basic unit tests for user model to confirm that user records are save-able and stay that way as we develop.

[2016-02-07 00:42] colinxfleming opened #62 "LOGIN: Get MongoDB working with Heroku-deployed version"
We need to make a few changes to `config/mongoid.yml` to connect to the MongoLab instance we've set up in heroku. (This entails setting up a secrets file, either with `Dotenv` or `Figaro`, to save production secrets.)

[2016-02-07 00:47] colinxfleming opened #63 "LOGIN: Bring login page up to speed"
Let's use this as a starting point: https://playbook.cio.gov/designstandards/form-templates/#login-form (s/o Mollie for flagging!)

[2016-02-07 00:50] colinxfleming opened #64 "LOGIN: Create registration screen"
Create a view with basic signup information with necessary information from the User model -- nickname to use, email address, set password, etc.

[2016-02-07 04:42] stvnrlly commented on #59
Note that only `name`, `status`, and `tags` are required fields. I don't think this project has a homepage (though the repo is fine) and partner info would traditionally mean just DCAF (with the rest of us working on behalf of Code for DC). And of course the license will follow quickly after #58 :smile:.

[2016-02-07 06:15] colinxfleming opened #65 "ADD PATIENT: Design screen for adding basic patient info from a voicemail"
CMs are logging calls from voicemails with some basic data entry. We'll need a design for this.

[2016-02-07 06:23] colinxfleming opened #66 "ADD PATIENT: Set up Patient controller to create and save a record"
We'll need to set up a `Patient#create` route to create new records of cases.

The minimum version of this is creating a core `Patient` -- the gold medal version is creating an associated `Case` at the same time on creation of patient. No need to incorporate other object relationships yet.

[2016-02-07 06:28] colinxfleming opened #67 "ADD PATIENT: Basic form for new patient intake"
Should be located in `Patients#new`, and be a straightforward web form for patient name, phone, and whether it's cool to leave a voicemail.

[2016-02-07 06:29] colinxfleming opened #68 "ADD PATIENT: Unit testing of patients controller"
Tests for patients controller `create` and `new` routes.

[2016-02-07 06:31] colinxfleming opened #69 "ADD PATIENT: Integration testing of new patient / case creation"
Create an end to end integration test of logging in and creating and saving a new patient and case from a call.

[2016-02-07 06:38] colinxfleming opened #70 "CONTACT: Add a representation of contact attempt to the data model"
If I'm a case manager and I make a call, regardless of how it turns out, I want to track that -- how do we represent that in mongo? Is it a new object similar to `Note`, or is there something inherent in the `Note` object that we can use?

My inclination is an object similar to `Note` but could go either way on this. The technical requirement here is that we be able to log timestamps of calls, wha

[2016-02-07 06:43] colinxfleming opened #71 "CONTACT: Add a form for logging contact"
Create a basic form for creating a contact -- see the call modal at https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983265 . Bonus points for putting it in the modal!

[2016-02-07 06:46] colinxfleming opened #72 "CONTACT: Add integration test for logging a contact"
Scenario: I'm a case manager, and I have made a call to an existing patient which ended in leaving a voicemail, or talking to the patient, or the number no longer working. Should write an integration test confirming that this creates a record of the contact.

[2016-02-07 21:17] #62 closed

[2016-02-08 23:35] colinxfleming commented on #46
Too broad as is; splitting this into separate issues.

[2016-02-08 23:35] #46 closed

[2016-02-09 00:20] mebates commented on #64
This is related to issue #51! I'm all for making a really plain MVP for now, but please see if we can start with the US Federal Web Design Standard for login screens: https://playbook.cio.gov/designstandards/form-templates/#login-form

[2016-02-09 00:26] mebates commented on #65
I think this can be solved very simply by adding a 'name' field to the gray well we already have designed. The case manager has already entered the phone number, so if we require that they also enter the name  before 'add new patient to call list' we have enough good information to get the case started.

This could prove wrong in usability testing -- perhaps a lot more info comes in on the voicema

[2016-02-09 00:28] mebates commented on #65
Tonight I asked Lisa and Jen, what info do you usually hear on the voicemail?
- name (sometimes this is garbled)
- phone number
- weeks pregnant
- and can they leave a voicemail or not

[2016-02-09 00:35] mebates commented on #65
After a quick chat, I think we should include both name and LMP and make both fields *optional* since the case manager may or may not get all that information from the voicemail.

![screen shot 2016-02-08 at 7 34 52 pm](https://cloud.githubusercontent.com/assets/6223901/12904142/21c9e16e-ce9b-11e5-9f91-f6e39f85396d.png)

[2016-02-09 00:51] colinxfleming commented on #45
@kevin-wei

[2016-02-09 00:51] Kevin-Wei commented on #45
I got this... I think?

[2016-02-09 01:39] colinxfleming commented on #67
Fixed in #75

[2016-02-09 01:39] #67 closed

[2016-02-09 01:40] colinxfleming commented on #66
Fixed in #75

[2016-02-09 01:40] #66 closed

[2016-02-09 01:54] mebates commented on #65
This interaction has been updated in InVision (along with some other updates thanks to Lisa and Jen!)
https://invis.io/6757W6WFJ and a pull request was made with native files: https://github.com/colinxfleming/dcaf_case_management/pull/76. Considering this closed!

[2016-02-09 01:54] #65 closed

[2016-02-13 06:36] colinxfleming commented on #64
I'll tackle this during the weekend! Will just copy the fed suggestions for now, and we can tweak slightly after MVP.

[2016-02-14 18:45] colinxfleming commented on #33
Since design review is a bit of a broader question, I'm going to split it into a separate issue for further discussion, and rack the last bullet in the ticket in the current frontend PR I'm working on. Design review is an A++ flag and I want to make sure it doesn't get buried here.

[2016-02-14 18:47] colinxfleming opened #79 "How to implement design reviews?"
This popped up in #33 from @mebates  -- how can we effectively incorporate design reviews into the frontend work we're doing, to take advantage of the immense design talent on this project, and make sure that we're keeping the CMs happy?

[2016-02-14 19:25] colinxfleming commented on #58
Thanks for Choose A License Dot Com, @stvnrlly !

After looking, I think either an MIT or a GPL is our best bet. I think the major question that should drive the decision here is whether or not we want to keep work any work based on this open as well, or whether we're fine with it if another fund takes this, adapts it to their own need, but doesn't share their improvements. If we're cool with that

[2016-02-15 14:47] colinxfleming commented on #71
Leaving open for now -- partial located in `app/views/calls/_new_call.html.erb`. Could use a bootstrap fixer upper to match the invision design.

[2016-02-15 14:47] colinxfleming commented on #70
Fixed via #78

[2016-02-15 14:47] #70 closed

[2016-02-15 14:48] colinxfleming commented on #47
Prelim seed data is constructed in #78 and we should continue to iterate as we incorporate new models into the build. Closing.

[2016-02-15 14:48] #47 closed

[2016-02-15 20:40] mebates commented on #17
I think that we duplicated this issue in #65 and closed that one out. Does that look right to you @colinxfleming? If so, please close.

[2016-02-15 23:52] stvnrlly commented on #58
The goal of GPL is noble, but as a CC0 aficionado myself, I'd lean toward the MIT license.

[2016-02-16 04:32] #33 closed

[2016-02-16 04:32] #63 closed

[2016-02-16 04:32] #64 closed

[2016-02-16 04:41] colinxfleming commented on #51
This is all done except for the thank you message, which is outside the scope of this sprint; spinning that into a separate issue and closing.

[2016-02-16 04:41] #51 closed

[2016-02-16 04:49] colinxfleming opened #82 "Include a nice message on login"
CMs should be greeted with some sort of reminder that the work they're doing is important and valued. idk if this takes the form of patient stories, cat pictures, or just a big thumbs up emoji.

[2016-02-17 03:02] NerdyGirl537 commented on #82
I vote for cat pics

On Mon, Feb 15, 2016 at 10:49 PM, Colin <notifications@github.com> wrote:

[2016-02-20 04:25] colinxfleming commented on #71
Resolved in 8512820

[2016-02-20 04:25] #71 closed

[2016-02-20 06:12] colinxfleming commented on #45
Scaling this down to just implemented models.

[2016-02-20 22:58] colinxfleming commented on #68
Grabbing this.

[2016-02-20 23:31] colinxfleming commented on #59
Resolved in #81

[2016-02-20 23:31] #59 closed

[2016-02-21 01:06] #61 closed

[2016-02-21 01:08] colinxfleming opened #88 "Add User attribute tests"
Since devise is strict about whitelisting nonstandard params (such as `name`), we'll need some specific controller tests to ensure that we don't introduce a breaking change that prevents creation or saving of a user object.

No sprint necessary due to this being an enhancement.

[2016-02-21 01:42] #68 closed

[2016-02-21 02:24] #41 closed

[2016-02-21 15:59] colinxfleming commented on #69
I think we should bump this to a future sprint since it requires a little more backend wiring. Removing from sprint 1.

[2016-02-21 16:01] colinxfleming commented on #43
Closing this as too broad. We should break into separate issues in individual sprints.

[2016-02-21 16:01] #43 closed

[2016-02-21 16:03] colinxfleming commented on #58
I mulled it over a little and think @stvnrlly is right to point us toward MIT -- will take the steps to add that soon. If you have an objection please raise with me.

[2016-02-21 16:12] colinxfleming commented on #72
Taking this off the sprint too until we get slightly more of this constructed -- not appropriate to build this out at this time.

[2016-02-21 16:31] colinxfleming opened #90 "Wire up devise to send password reset email"
Devise should be able to send password reset emails. Right now it's yielding the following:

[code]

[2016-02-21 16:50] colinxfleming commented on #17
Sounds good! Marking complete.

[2016-02-21 16:50] #17 closed

[2016-02-22 01:05] colinxfleming opened #92 "PT INFO: Create edit/update routes for Pregnancy"
Create edit and update routes for Pregnancy, with a view for the edit route, so that we can recall and edit a case's information.

This case should be populated by separate partials for individual sections, instead of one master file. See other issues in this sprint.

See https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983267 for relevant design/prototype.

[2016-02-22 01:08] colinxfleming opened #93 "PT INFO: Create partial for top bar / core case information"
Create a partial for the top bar of the design - The name, phone number, LMP, Status, Appt Date portion.

See https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983267 for relevant design/prototype.

[2016-02-22 01:10] colinxfleming opened #94 "PT INFO: Create partial for abortion information"
Create partial for abortion information subsection. (Just the right side form.)

See https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983267 for relevant design/prototype.

[2016-02-22 01:13] colinxfleming opened #95 "PT INFO: Create partial for patient information subsection"
Create a partial for the patient information subsection. (Just the right side of the form!)

See https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983267 for the designs.

[2016-02-22 01:19] colinxfleming opened #96 "PT INFO: Be able to toggle between partials for abortion and patient information"
If you click on the text on the arrowed text on the left, it should be able to pop from section to section. See the design: https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983267

You can achieve this using the `Tabs` component of the bootstrap library: http://getbootstrap.com/javascript/#tabs

[2016-02-22 01:21] colinxfleming opened #97 "PT INFO: Make information/forms save/submit on change"
When an element of a form changes, it should resubmit the form (instead of updating when you hit the button).

[2016-02-22 01:30] colinxfleming opened #98 "PT INFO: Adjust Patient/Case models to current designs"
Models will require some adjustment to get into agreement with what's in the design forms. Let's stick to them and organize them in ways that make a little more sense.

We will no doubt have to add/rearrange a few fields as well. (Good call to Kevin for suggesting Mongo, this would be pretty hectic if we hadn't.)

Something like this is what I have in mind:

[code]

[2016-02-22 01:32] colinxfleming opened #99 "PT INFO: Create controller test for cases#edit and cases#update"
Create controller tests for the edit and update routes, using @ajohnson052 's `Calls` controller tests as a guide.

[2016-02-22 01:36] colinxfleming opened #100 "PT INFO: Write integration test for updating patient information"
Write integration tests to confirm that patient information saves when the form values change.

(Can accomplish this by navigating away from the edit route, then navigating back to it and confirming new values.)

[2016-02-22 01:38] colinxfleming opened #101 "PT INFO: Write integration tests to confirm switching between two tabs"
Write an integration test to confirm that we can pop back and forth between two tabs (see #96 ).

[2016-02-22 01:51] colinxfleming opened #102 "LOOKUP: Create search route for patients"
No point in saving these patient records if we can't pull them back up! Let's create a route in cases that lets us retrieve patients who have a phone number or secondary phone number that matches a patient's.

[2016-02-22 01:53] colinxfleming opened #103 "LOOKUP: Create partial for existing patient record display"
When a record shows up, we should have a clean way of displaying it with a partial. We should create a partial that matches the one in InVision, so we can go to that person and check on their info, or add them to our call list.

See https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983263 for the invision prototype design.

[2016-02-22 01:55] colinxfleming opened #104 "LOOKUP: Create tests for search route"
We should test the search route to ensure that it's working, and that it's only returning what it's supposed to, and nothing too weird.

[2016-02-22 01:56] colinxfleming opened #105 "LOOKUP: Create integration test for record lookup and display"
Record lookup is a fairly core function, so we should start testing it early. Let's make sure that searching a phone number of an existing record brings up the right record and displays its information.

[2016-02-22 02:11] colinxfleming opened #106 "CALL LIST: Be able to append calls to the call list (JS)"
When a user clicks the 'add to call list' button, append them to the Your Call List section below (without reloading).

[2016-02-22 02:11] colinxfleming opened #107 "CALL LIST: Don't let me put patients onto my call list twice"
We should have a safety valve in place so that we can't add individual patients to a call list twice.

[2016-02-22 02:15] colinxfleming opened #108 "CALL LIST: Call list should stay persistent when going back and forth between patient info and dashboard view"
Case managers shouldn't need to rebuild their call list if they go to edit a patient's information; the call list should stay persistent until they log out or until some time passes without action.

[2016-02-22 02:16] colinxfleming opened #109 "CALL LIST: Extract urgent cases loop into a partial"
From `app/views/cases/index.html.erb`:

[code]

We're going to wind up using this in a few different places. Let's extract this into its own partial so that we can more easily append rows to our call log.

[2016-02-22 22:31] colinxfleming opened #110 "Set up continuous deployment"
When master bumps and tests pass, send it off to heroku!

Don't have a particular recommendation for how this gets done as long as it's free.

[2016-02-22 23:48] Kevin-Wei opened #111 "Re-name case.rb model as case conflicts with ruby reserved word"

[2016-02-23 00:29] drownedout commented on #99
@colinxfleming I'll do this

[2016-02-23 00:35] drownedout commented on #94
@colinxfleming I can take care of the partials

[2016-02-23 00:54] drownedout commented on #104
https://github.com/ankane/searchkick

[2016-02-23 01:11] mchelen commented on #110
maybe https://circleci.com/docs/continuous-deployment-with-heroku ?

[2016-02-23 01:13] charleshuang80 commented on #93
@colinxfleming I'll start on the partials

[2016-02-23 04:52] ajohnson052 commented on #109
In PR 114, the table_content holds this block and takes a cases as a local variable

[2016-02-23 04:53] ajohnson052 commented on #102
PR 114 should take care of this

[2016-02-23 05:19] colinxfleming commented on #110
Good call! Thx @mchelen , will take a look at that this week.

[2016-02-24 00:25] colinxfleming opened #115 "Strip pundit gem"
This is not necessary for MVP and having it half installed will be more trouble than it's worth when we implement it for real. Take it out for now.

[2016-02-25 05:45] #58 closed

[2016-02-25 05:47] #109 closed

[2016-02-25 05:47] #102 closed

[2016-02-25 05:47] #103 closed

[2016-02-25 06:17] colinxfleming commented on #115
Fixed in #116

[2016-02-25 06:17] #115 closed

[2016-02-29 23:43] colinxfleming commented on #106
Working on this tonight

[2016-03-01 00:20] colinxfleming opened #118 "Call list cases should time out after 8 hours"
From discussions with @lwaldsc about call list depopulation behavior:

* A case manager should begin their night with an empty call list
* Any calls from the previous evening should time out after a certain amount of time
* We can't do this based on user session because someone might have to restart and that would wipe away their call list

[2016-03-01 00:25] colinxfleming opened #119 "Time out urgent pregnancies after five days"
(note: starting to create issues not associated with sprints for backlog issues. hope that's okay @adinneen , let me know if I should do this different)

@lwaldsc flagged that there's a scenario where urgent cases shoud probably eventually fade out, so that we avoid having a big backlog that nobody ever cleans up except like one superstar. (see also "the time the voicemail didn't get cleaned out f

[2016-03-01 00:27] colinxfleming opened #120 "When a case is marked urgent and in call list, should say 'In Call Log'"
![image](https://cloud.githubusercontent.com/assets/3866868/13413688/7eabc5ca-df1a-11e5-9cf7-e655394e6a2d.png)

[2016-03-01 03:58] colinxfleming opened #121 "Call log modal broken by JS"
Sad to say, the modal JS stopped working when the search bar went in.

Need to fix so we can continue to log calls, but not a huge deal.

[2016-03-04 00:29] #111 closed

[2016-03-05 04:13] colinxfleming commented on #107
Creatively fixed in @ajohnson052 's A+ work in #114, since objects are getting associated with `current_user`. Closing.

[2016-03-05 04:13] #107 closed

[2016-03-05 04:16] colinxfleming commented on #108
@ajohnson052 approached this in a very thoughtful way and this is fixed in #114 because of it.

[2016-03-05 04:16] #108 closed

[2016-03-05 04:17] #106 closed

[2016-03-05 04:20] colinxfleming opened #124 "Create integration test to confirm persistence of call list between screens/sessions"

[2016-03-05 04:21] colinxfleming opened #125 "Create tests for Users#add_pregnancy and #remove_pregnancy"

[2016-03-05 04:21] colinxfleming opened #126 "Create integration tests for adding a pregnancy / removing a pregnancy to/from call list"

[2016-03-05 04:39] colinxfleming opened #127 "Create test for mailer password reset"

[2016-03-06 05:19] colinxfleming commented on #127
Fixed in #91

[2016-03-06 05:19] #127 closed

[2016-03-06 05:26] colinxfleming commented on #110
Fixed in #117 . Thanks for the rec @mchelen !

[2016-03-06 05:26] #110 closed

[2016-03-06 05:27] colinxfleming commented on #90
Fixed in #91

[2016-03-06 05:27] #90 closed

[2016-03-08 12:47] ajohnson052 commented on #121
PR #129 addresses this, but it seems strange that it broke when the search bar went in. Makes me wonder if there's something else wrong...

[2016-03-10 01:25] colinxfleming commented on #92
Fixed in #130

[2016-03-10 01:25] #92 closed

[2016-03-10 02:09] charleshuang80 commented on #95
making this one and https://github.com/colinxfleming/dcaf_case_management/issues/94 one big form, and then we can style and break out into partials. Does that work?

[2016-03-11 04:18] #104 closed

[2016-03-11 04:18] #105 closed

[2016-03-11 04:29] colinxfleming commented on #121
There was some hardcore wrenching on the partials in my integration tests PR to dry everything up, so I think likely that's what screwed it up. At any rate, really appreciate your fixing it.

[2016-03-11 04:29] #121 closed

[2016-03-11 04:40] ajohnson052 commented on #121
Sure thing!

[2016-03-11 04:51] colinxfleming opened #132 "Patient dashboard partial: Enforce date format (YYYY-MM-DD) on appointment date string"
The view currently looks like so:

![screen shot 2016-03-10 at 11 38 47 pm](https://cloud.githubusercontent.com/assets/3866868/13693446/40ad8dec-e719-11e5-8a75-9159fdf73477.png)

The appointment date down in the right corner should be a datepicker module with the option to type in the date, rather than three separate drop-downs. This is to reduce the number of clicks/keyboard strokes a CM will nee

[2016-03-11 05:16] colinxfleming opened #133 "Table content partial: Change call to a glyphicon"
Line 11 of `app/views/pregnancies/_table_content.html.erb` currently reads as follows:

`<td><%= link_to "Call", "#call-#{p.patient.primary_phone}", data: {toggle: "modal"} %></td>`

Should read something more like so:

`<td><%= link_to '<span class="glyphicon glyphicon-earpiece" aria-hidden="true"></span>', "#call-#{p.patient.primary_phone}", data: {toggle: "modal"} %></td>`

Couldn't figure out

[2016-03-11 05:22] colinxfleming opened #134 "Move external assets into vendor/assets/"
We currently have three external assets that we should move into the vendor directory. They are as follows:

* - [ ]  app/assets/stylesheets/application.css.scss: `@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600);` (should be moved into stylesheets so it's accessible)
* - [ ] app/views/layouts/application.html.erb: `<link href='http

[2016-03-12 18:01] colinxfleming opened #139 "Run rubocop at end of sprint"
It's been three weeks, we're about due for a good lintin'.

[2016-03-12 18:59] colinxfleming commented on #93
I think the core of this is here and we can break the rest of it (appointment date as datepicker, last menstrual period as human readable thing) up into discrete issues. Will tag those issues in this and close.

[2016-03-12 19:09] colinxfleming opened #141 "Patient dashboard patial: Make Last menstrual period human readable and editable"
We currently have a top partial that looks like this:

![image](https://cloud.githubusercontent.com/assets/3866868/13724661/ea477830-e85a-11e5-926b-90ef936738e1.png)

I think it's an unresolved question of how we want to display last menstrual period so that it's human readable, and I'm not sure I have a great understanding of how it goes in the crypto spreadsheet. Let's hash it out here. For cont

[2016-03-12 19:09] colinxfleming commented on #93
Datepicker: #132
LMP display: #141

Closing as good to go!

[2016-03-12 19:09] #93 closed

[2016-03-12 19:14] colinxfleming commented on #94
Going to put the nail in this now.

[2016-03-12 20:24] colinxfleming commented on #95
Settling in on this now. @charleshuang80 built a super solid foundation out so it shouldn't take very long.

[2016-03-12 20:38] #96 closed

[2016-03-12 20:38] #94 closed

[2016-03-12 20:39] #95 closed

[2016-03-12 21:20] colinxfleming opened #144 "Standardize bootstrap col attributes"
We should standardize our `col` classes to either all `sm` or all `md`. Thanks @charleshuang80 for flagging this.

[2016-03-12 22:10] colinxfleming opened #145 "Extract root view into dashboard view"
This controller is starting to get a little heavy -- let's make sure we extract some of the core page stuff into a dashboard controller or something, and separate it out from the patient/pregnancy/etc controllers.

[2016-03-12 22:26] colinxfleming opened #146 "Clinic modeling"
We have a limited number of clinics that doesn't change much, that should be admin-editable. It's not optimal behavior to edit this from

IDK what the UX component of this looks like, but the proper data model is probably a `has_one :through` between pregnancy and clinic, so we can assign an identifier from a list of clinics.

[2016-03-12 22:27] colinxfleming commented on #146
I have no idea whether or not there's a more mongo way to do that. I assume there is, since documents and all.

[2016-03-12 23:38] #97 closed

[2016-03-13 16:23] #125 closed

[2016-03-13 16:28] colinxfleming commented on #145
Knocking this out now.

[2016-03-13 17:04] #145 closed

[2016-03-14 00:59] colinxfleming opened #149 "Set up MongoidHistory for Pregnancy object and associated embedded docs"
One of the things we're interested in is tying particular changes to particular users. To do that, we should set up MongoidHistory so that we can see what users were making what changes.

https://github.com/aq1018/mongoid-history#usage

It looks like it requires some additional setup to link actions to a given user -- control-f 'adding userstamp on history trackers' for more info.

[2016-03-14 01:02] colinxfleming opened #150 "Add partial for history of changes to a pregnancy"
Two steps here:

- [x] Create a partial for mongoid history
- [x] Adjust `app/views/pregnancies/_menu.html.erb` to include and display this tab pane
- [ ] Display the 10 most recent edits to the patient object and their user

Linked to #149

[2016-03-14 01:06] colinxfleming opened #151 "Create model tests for mongoidhistory logging"
I don't know how but I'm sure there are tests we should write for this! I will do some investigating and create a plan; creating this and parking for now.

[2016-03-14 01:07] colinxfleming opened #152 "Create integration test to confirm that mongoidhistory logging is accessible"
Do what it says on the label: Log in, go to a patient record, make an edit, confirm that the edit shows up.

[2016-03-14 01:14] colinxfleming opened #153 "Wire up call logging behavior from the form"
We need to make sure that call logging from the frontend is working and good. Specifically, we need to confirm the following:

* It's creating a call object (maybe already done and tested?)
* On completion, it's redirecting to the edit page if contact was made, closing the modal if not

[2016-03-14 01:18] colinxfleming opened #154 "Create call history partial for pregnancy edit view"
Create a call history partial that gives the opportunity to log and displays the ten most recent contact attempts, datestamps, user who called, and the result.

[2016-03-14 01:19] colinxfleming opened #155 "Make sure all calls are tied to particular users"
Do what it says on the label -- every call should be traced back to a specific user.

[2016-03-14 01:20] colinxfleming opened #156 "Integration test to confirm that hitting call result successfully logs a call, and that it displays properly"
Do what it says on the label!

[2016-03-14 01:25] colinxfleming opened #157 "Strong params issues with saving patient / clinic from pregnancy form"
There are some issues around how we've structured the forms which makes strong params assignment behave kind of weird. Fuller explanation TK.

Can punt on it for a little while as long as we need to since clinic won't be implemented for a little while.

[2016-03-14 23:00] colinxfleming commented on #157
Fixed via 545c009

[2016-03-14 23:00] #157 closed

[2016-03-14 23:00] colinxfleming commented on #157
(Thanks @charleshuang80 )

[2016-03-14 23:24] ajohnson052 commented on #153
I'll tackle this one!

[2016-03-14 23:25] ajohnson052 commented on #155
I'll work on this!

[2016-03-14 23:57] colinxfleming commented on #154
Work underway by @drownedout

[2016-03-14 23:57] colinxfleming commented on #150
Work underway by @drownedout

[2016-03-14 23:58] colinxfleming commented on #149
Underway via @charleshuang80 and @Kevin-Wei

[2016-03-15 00:25] cmgiven commented on #133
`.html_safe` for the win. Also added a label for screen readers.

[2016-03-15 00:47] colinxfleming commented on #154
Team member Rebecca is plugging away on this!

[2016-03-15 00:50] colinxfleming opened #160 "Create favicon?"

[2016-03-16 00:08] Kevin-Wei commented on #149
https://github.com/colinxfleming/dcaf_case_management/pull/165 we did it on patient though @colinxfleming

[2016-03-16 01:15] colinxfleming commented on #149
Doing it on patient is right on. Thanks a ton!

On Tue, Mar 15, 2016, 8:08 PM Kevin Wei <notifications@github.com> wrote:

[2016-03-16 02:23] #133 closed

[2016-03-16 02:56] #153 closed

[2016-03-17 01:20] colinxfleming opened #166 "Add Everything Okay Alarm unit test to AuditTrail model"
Nothing fancy, extremely minimal function. Enough to confirm that it initializes cleanly and saves, etc.

[2016-03-17 01:26] colinxfleming opened #167 "Implement AuditTrail tracking for pregnancy and clinic details"
As I understand it, currently it's just tracking changes to Patient objects; we'll want to track it for embedded Pregnancy and Clinic objects as well.

[2016-03-17 01:55] #99 closed

[2016-03-17 01:58] colinxfleming commented on #152
Mostly handled in #149 , will just need to confirm things show up in the appropriate partial

[2016-03-17 01:59] colinxfleming commented on #149
Spun handling this for embedded documents into its own issue; closing.

[2016-03-17 01:59] #149 closed

[2016-03-19 17:58] colinxfleming opened #169 "Set Ruby version to 2.2.4"
Heroku is starting to yell at me about how they're depreciating 2.0.0, and I don't want this to go by the wayside. We shouldn't resolve now to avoid having to lock people into specific ruby versions, but we should resolve before the MVP goes live.

[2016-03-20 01:42] colinxfleming commented on #155
I think this is a simple change so I'm going to handle really quick!

[2016-03-20 16:46] #166 closed

[2016-03-20 16:47] #155 closed

[2016-03-21 22:39] colinxfleming commented on #151
This was fixed in #171

[2016-03-21 22:39] #151 closed

[2016-03-21 23:13] colinxfleming commented on #156
It turns out that getting capybara to execute a `respond_to { |format| format.js }` is a tremendous pain. May wind up just smoke testing and unting.

[2016-03-22 03:48] colinxfleming opened #174 "Migrate call object user tagging to Mongoid::Userstamp"

[2016-03-24 03:51] colinxfleming opened #175 "Add Mongoid::Timestamps to Patient object"
Don't know how we missed this one, but we did!

[2016-03-26 03:38] colinxfleming opened #177 "How to display timestamps?"
This is starting to come up more and more -- can we agree on a way to handle datestamps and timestamps, and then develop a unified method to handle in a helper somewhere?

[2016-03-26 03:39] colinxfleming commented on #177
(Marking question so we can discuss before foraging forward)

[2016-03-26 04:30] colinxfleming opened #178 "Only display full call list toggle if there are 10+ calls"
In `app/views/pregnancies/_call_log.html.erb`, there's a toggle button that displays the full set of calls instead of just limiting to the most recent 10. In the event that there aren't ten calls yet, let's make it not show up.

[2016-03-26 04:32] ajohnson052 opened #179 "New Call Modal failing to save 'I Reached the Patient' calls"
The new call modal isn't working properly all the time. So far I seem to have issues when I try to go back to the dashboard index from the edit pregnancy page by clicking on "DCAF Case Manager" from the nav bar. If I refresh the page it works fine.

[2016-03-26 04:49] colinxfleming commented on #154
Fixed in #164

[2016-03-26 04:49] #154 closed

[2016-03-26 05:00] #150 closed

[2016-03-27 20:30] #88 closed

[2016-03-27 20:31] colinxfleming commented on #88
Wound up testing in integration tests, but NBD.

[2016-03-27 20:51] colinxfleming commented on #139
Fixed in #180

[2016-03-27 20:51] #139 closed

[2016-03-27 20:53] colinxfleming commented on #56
Fixed in #149 as the class `AuditTrail`

[2016-03-27 20:53] #56 closed

[2016-03-27 20:54] colinxfleming commented on #132
This is partially bumped but the click-to-datepicker functionality isn't set up quite yet.

[2016-03-27 21:00] colinxfleming opened #182 "Change core object to Patient?"
I've been mulling this over some and I wonder if there isn't some merit in changing the main unit of concern (what we search for from the dashboard, etc) to Patient rather than pregnancy, and scope pregnancy in such a way that someone only ever had one pregnancy which we dealt with.

[2016-03-27 21:12] colinxfleming commented on #98
Bumped in #131

[2016-03-27 21:17] colinxfleming commented on #182
I think it's appropriate to figure this out on the sooner side because right now we're splitting the baby a little bit -- mongoidhistory tracks patient but not pregnancy and call list is patient based, but search and edit forms are pregnancy based.

[2016-03-27 21:26] colinxfleming opened #183 "Test model relationships"

[2016-03-27 21:28] #98 closed

[2016-03-27 23:30] colinxfleming opened #185 "Make Pregnancy#last_menstrual_period_time editable/render in a friendly way"
![screen shot 2016-03-27 at 7 29 07 pm](https://cloud.githubusercontent.com/assets/3866868/14068466/396b74ea-f452-11e5-9ba4-d4853f75eb7e.png)

Menstrual period there in top-center is terrifying. Let's adjust that so that it's a human-readable and human-editable date.

Probably this involves turning it into a date from a datetime, and adding a datepicker.

[2016-03-27 23:36] colinxfleming opened #186 "Represent all of lmp_type, lmp_weeks, and lmp_time in the pregnancy edit page"
These three attributes all exist in the model -- we should figure out how to represent them accurately and cleanly on the pregnancy edit page (located in `_patient_dashboard.html.erb`).

Likely we'll need to get @NerdyGirl537 or @lwaldsc to weigh in on exact intended behavior here! But my guess is that we'll be collapsing them into one and inferring one (probably `lmp_weeks`) from the other (`lmp_

[2016-03-27 23:43] colinxfleming opened #187 "NOTES: Add notes partial to edit view menu"
We're building out note-taking function this sprint!

Let's build out a view partial for notes under `app/views/pregnancies/`.

It should include:

* A link in the sidebar in `_menu.html.erb`
* A toggleable partial in a new file with a table displaying current notes

[2016-03-27 23:46] colinxfleming opened #188 "NOTES: Create a notes controller with a create and update route"
So that we can save notes for pregnancies, let's create a controller that lets us create and update notes for a pregnancy.

Should have routing similar to `Calls`.

[2016-03-27 23:48] colinxfleming opened #189 "NOTES: Add userstamp and timestamp to note object"
Let's make sure that we have Mongoid::Userstamp / Mongoid::Timestamp on the note object, so that we can keep track of who made the note and when, in addition to the note's text.

[2016-03-27 23:50] colinxfleming opened #190 "NOTES: Create form to add a new note"
Let's create a form that hits notes#create and creates a new note on a pregnancy. Nothing too fancy, just a blank text area.

Should be inserted into the partial mentioned in #187 .

[2016-03-27 23:52] colinxfleming opened #191 "NOTES: Add unit tests for Note model"
Add tests to confirm the following for Note objects:

* Validation of text field presence
* Existence of creating userid
* Existence of created / modified timestamps

[2016-03-27 23:54] colinxfleming opened #192 "NOTES: Add controller tests for Notes controller"
Add unit tests for Notes controller's create and update routes.

[2016-03-27 23:54] colinxfleming opened #193 "NOTES: Create integration test for note creation"

[2016-03-28 22:53] colinxfleming opened #194 "NOTES: Add checkbox for urgency to the notes section"
Underneath the input box for a new note, there should be a checkbox to flag a patient as urgent, as represented in the InVision here:

https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983268

This should be an attribute on the `Pregnancy` object as well, and part of the main form.

[2016-03-28 23:54] mebates opened #195 "Spin front-end design improvements into their own issues"
Creating a checklist of design improvements for CSS-inclined friends to tick off over the next few weeks.
You can always refer to the [native .ai files](https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAFwireframe020816.ai) or the [Vivify clickable prototype](https://projects.invisionapp.com/d/main#/projects/5385941) if you don't know what I'm talking about!

**Everywher

[2016-03-28 23:58] rebeccaestes commented on #195
test

[2016-03-29 00:05] colinxfleming commented on #189
@Kevin-Wei has this handled

[2016-03-29 00:05] colinxfleming commented on #190
@ajohnson052 grinding on this

[2016-03-29 00:22] mebates commented on #195
Details on the type hierarchy. The names I'm using may not align with the names you'll use in the HTML. All type is Source Sans Pro. (Sizes cribbed from here: https://cfpb.github.io/design-manual/identity/typography.html#web-hierarchy)

Display: 48 px / 60 px, 300 (Light)
H1: 34 px / 42 px, 400 (Regular)
H2: 26 px / 32 px, 400 (Regular)
H3: 22 px / 28 px, 400 (Regular)
H4: 14 px, 700 (bold), upper

[2016-03-29 00:27] mebates opened #196 "BUG: Call Log showing up when it shouldn't"
When I first navigate to a patient detail page, it should show only "Abortion Information" in the lower right pane. Right now "Call Log" is appended to the bottom. It disappears once you click around in the nav. @rebeccaestes observed this bug too.

[2016-03-29 00:48] #196 closed

[2016-03-29 00:49] colinxfleming commented on #187
Closed in #197

[2016-03-29 00:49] #187 closed

[2016-03-29 00:57] mebates commented on #178
Also, let's not make it a big purple button! Something more subtle, please?

[2016-03-29 01:05] lwaldsc opened #200 "Implement structured data field values for dropdowns"
Listing the structured data field values:

**Race/Ethnicity:**
White/Caucasian
Black/African-American
Hispanic/Latino
Asian or South Asian
Native Hawaiian or Pacific Islander
Native American
Mixed Race/Ethnicity
Other

**Employment status:**
Full-time
Part-time
Unemployed
Odd jobs
Student

**Insurance:**
DC Medicaid
MD MCHIP
MD Medical Assistance for Families (MA4F)
VA Medicaid/CHIP
Other State Me

[2016-03-29 01:12] adinneen opened #202 "Status Indicator"
@lwaldsc Information on Status Indicator - Linked with DCM - 25 and DCM 27

**A DCAF Case can have 7 different statuses:**
1) No contact made (all new entries are defaulted to this status)
2) Needs appointment (a case that has a call log entry that says "spoken with" gets put in this status)
3) Fundraising (a case that has an appointment date AND clinic information gets put in this status)
4) Sent

[2016-03-29 01:17] adinneen opened #203 "SUNDAY PLEDGE VALIDATION: Pledge submission validation and error checks"
@lwaldsc The only error check required is when the person goes to submit the pledge.  Required fields there include:

A nice to have would also be error checks for clinics.  Some clinics have strict guidelines for how along in a pregnancy a person is.  Would be great to build that logic in so a case worker knows instantly if that person will be eligible at that clinic.

[2016-03-29 04:36] colinxfleming commented on #185
DCAF's case managers think in LMPs, so the primary way to interact with LP should be in weeks. That means we should convert last menstrual period input to x weeks and y days, and do the following:

* increment that based on time from call in the view
* represent what they were on input/creation
* strip out LMP_type and LMP_datestamp

[2016-03-29 04:36] colinxfleming commented on #185
(Thank you @lwaldsc for helping me work thru this!)

[2016-03-29 13:54] mebates commented on #195
Great work @rebeccaestes !!!

[2016-03-29 13:58] mebates commented on #200
:star:

[2016-03-29 14:20] mebates commented on #202
Are you thinking that the 'Urgent' label could go on any of the statuses? We have that indicated in the Notes section, not sure that it needs to be in the status too (or maybe it could be just an icon).

[2016-03-29 15:52] colinxfleming opened #206 "Create template for bug reports"
This project is very much beginning to cook, which means we're continuously deploying code a lot faster. Let's create some kind of click and go template for bug reports to reduce some of the hassle, and so we can get people to include information that the programming side will need to resolve.

[2016-03-30 13:00] mchelen commented on #178
@mebates How about `.btn-default` http://www.w3schools.com/bootstrap/bootstrap_buttons.asp or adding `.btn-outline` http://bootsnipp.com/snippets/featured/bootstrap-outline-buttons ?

[2016-03-30 13:18] mebates commented on #178
@mchelen, I think it can just be linked text. The action isn't important enough to warrant a button. Thanks!

[2016-03-31 00:12] colinxfleming opened #207 "Unit test userstamp/history/timestamp for core models"
Stemming from #198 we should make sure to userstamp/history/timestamp all this for the following controllers:

- [ ] Patient
- [ ] Pregnancy
- [ ] Pledge
- [ ] Call
- [ ] Clinic
- [x] Note

We can be casual about it (just check `respond_to`s) but should have some representation of it in our controller and model tests, since we're relying on these for frontend functionality and not just auditing.

[2016-03-31 00:21] colinxfleming commented on #195
#195 resolves the following:
 Remove black line around purple buttons
 Load Source Sans Pro and make it the default font for the site
 Base font size should be 17 px, not 14 px
 Font size for all input boxes should be 17 px
 Use sentence case across the site (i.e. "This is an item label" not "This Is An Item Label")
 Widen width of name / phone number entry box
 Lowercase "R" in "Search results" h

[2016-03-31 00:40] colinxfleming commented on #189
Fixed in #198

[2016-03-31 00:40] #189 closed

[2016-03-31 00:40] colinxfleming commented on #175
Fixed in #198

[2016-03-31 00:40] #175 closed

[2016-03-31 00:41] colinxfleming commented on #167
Fixed in #198

[2016-03-31 00:41] #167 closed

[2016-03-31 14:21] colinxfleming opened #208 "Run Rubocop at end of sprint"

[2016-04-01 04:09] colinxfleming commented on #200
For the 'Other's here, are we good to account for those in the notes section or is it necessary to have a freeform option for Special Circumstances and Race/Ethnicity?

[2016-04-01 04:11] colinxfleming commented on #200
Also, let's make sure these are represented in a helper file, in the event that we need to reuse them elsewhere.

[2016-04-01 04:17] colinxfleming commented on #202
Hey friends -- I'm gonna tag this admin for now while we get these questions figured out, since this isn't quite ready for programming action due to the urgent question/adjustment to the designs for Resolved Without DCAF, right?

[2016-04-01 04:19] colinxfleming commented on #203
We should be able to wire up fairly exhaustive validation as necessary. We can keep working on this issue until we have it documented.

[2016-04-01 04:22] colinxfleming commented on #203
w/r/t error checks for clinics, are there circumstances where someone would get seen anyway even if they're like a day or two after the limit? Maybe the right way to handle is to flash a warning message to the effect of 'Susie Everywoman is 13 weeks but this clinic only goes up to 12, are you SURE you want to send that pledge?' and let them do it after checking a box?

We can validate pretty hard

[2016-04-01 04:23] colinxfleming commented on #186
I'm planning on handling this over the weekend!

[2016-04-01 04:24] colinxfleming commented on #179
Resolving this is a priority; I'm adding this and associated integration tests to the current sprint, since we'll have two full meetings in that time.

Thanks for flagging @ajohnson052 !

[2016-04-01 04:25] colinxfleming commented on #72
This is constructed and has an associated bug -- adding to sprint 4

[2016-04-02 16:12] colinxfleming opened #210 "Bump readme"
It's about due for an overhaul -- we wrote it just after rails new-ing, and plenty has changed in the meanwhile.

At a minimum we should:
* add stuff about seeds
* Put the setup info higher or move it to the wiki or something
* add a note about how issues are carved up
* add a note about how we're managing this project (sprints from cards, issues released, etc)

[2016-04-02 16:48] colinxfleming commented on #186
For posterity/in case I get hit by a truck: The idea here is that our CMs are used to working with LMP in terms of weeks/days. So probably the proper route to go is to have any dates be inferred from weeks/days, figure out some way to represent weeks/days at time of call, and have the field continuously increment in the view as time goes on.

[2016-04-03 22:05] colinxfleming commented on #207
Sample code:

[code]

[2016-04-04 04:16] colinxfleming opened #214 "Collapse several partials into `table_content` partial in dashboards views"
Small bad behavior that we should clean up -- calling the search action is currently rendering a partial called `search_results`, which includes `table_content` for the data. Call list includes the same table headers information, and also includes `table_content` for the data. And urgent cases includes the SAME table headers information, and ALSO includes `table_content` for the data.

We should r

[2016-04-05 00:02] colinxfleming opened #215 "Update the data model diagram"
@charleshuang80 asked for this specifically a few weeks ago, and I dug it up today and it's woefully outdated.

Could probably use an overhaul. I think generally just a diagram of the objects and embeds and what data they represent is perfectly fine -- exact columns is probably unnecessary. Would likely be helpful to bring people up to speed quicker.

[2016-04-05 03:46] #188 closed

[2016-04-05 03:46] #191 closed

[2016-04-05 03:46] #192 closed

[2016-04-05 03:59] colinxfleming commented on #203
@adinneen I'm going to mark this as Question until we find some way to operationalize it (e.g. 'validate pledge based on clinic weeks limit') or spin it into subtasks. Sound good?

[2016-04-05 04:14] colinxfleming commented on #202
Re-marking as question since we have some hashing out of this to do yet!

So it sounds like based on @adinneen 's work with @lwaldsc, we're looking at status as an inferred field. NBD, that's pretty straightforward and I think it's a great idea, and a major value-add over the excel sheet!

I have two points of feedback:

* I'm a little confused about how to implement `Resolved Without DCAF`. It so

[2016-04-05 04:47] colinxfleming commented on #177
My inclination is `YYYY-MM-DD` for datestamps and `HH:MM XM` for timestamps (using a 12 hour clock).

Some additional stuff that we can consider, that has come up (as I find it):
* Using `getlocal` (s/o @ajohnson052 )

I'll get a proposed method in sometime in the near future.

[2016-04-05 04:50] colinxfleming commented on #7
Since this is now at the point of iteration and incremental changes, I think we can close this out.

[2016-04-05 04:50] #7 closed

[2016-04-05 20:18] Kevin-Wei commented on #177
http://www.foragoodstrftime.com/ !

[2016-04-06 21:14] mchelen commented on #178
@mebates Ok sure thing, I think I have that implemented, but I can't test it because I'm not sure how to add calls?

[2016-04-06 22:04] colinxfleming commented on #193
(This is underway in #209)

[2016-04-06 22:19] colinxfleming commented on #178
@mchelen our local expert on all things call-adding is @ajohnson052 . One of us will get you on the right track here at the mtg tonight.

It might be wise to make a seeds edit so we have a couple fleshed out instances with varieties of fake data, to reduce the overhead, as well.

[2016-04-06 23:42] colinxfleming commented on #203
Re: @lwaldsc @NerdyGirl537

We're both fine with the warning popup and confirmation checkbox. Brought up long term maintenance issues with changing of LMP limits, but should be relatively easy change on an admin level if this happens. As long as there is a simple workaround for CMs, think it might be useful to have some sort of warning.

[2016-04-06 23:57] colinxfleming commented on #202
Urgent and Inactive should be their own independent fields, independent of status. Both can be just icons but should be somewhere on the call list labels on the front page.

Urgent should be able to be toggled by a CM but maintained as part of the PT file (so can be seen by any CM).

The only reason we highlighted Pledge Sent and Pledge Paid was to maintain an open file for DCAF financial admins c

[2016-04-06 23:57] colinxfleming commented on #202
Above re: @lwaldsc @NerdyGirl537

[2016-04-07 00:04] colinxfleming commented on #182
RE: @lwaldsc @NerdyGirl537

Needs to be pregnancy based.  We do have instance of repeat customers within a year.

[2016-04-07 00:26] colinxfleming commented on #186
@lwaldsc and @NerdyGirl537 and I discussed this at some length, specifically what they'd like to see in LMP display and what calculated fields they would find useful. @mebates and @adinneen should also have a conversation with them to confirm but I think this is useful context for moving forward:

* CMs generally like the display field at current date in addition to LMP on intake; the reason for t

[2016-04-07 00:39] Kevin-Wei commented on #156
logs call first time. on the clickback through it never hits the controller.

[2016-04-07 00:45] mchelen commented on #178
Ok, updated PR #199 to make it a plain link

[2016-04-08 23:44] ajohnson052 opened #222 "Flag in readme that model changes require re-seeding"
When I am on the pregnancies edit form, and I use the “TEMP: Save Information” button, the request is not being completed. Although the button correctly directs to the pregnancies#update method, the data is not saving and it returns 400 Bad Request.

The “TEMP: Save Information” button should save all pregnancy information and redirect to the edit pregnancy page.

[2016-04-09 02:42] colinxfleming commented on #222
Thanks a ton for logging this @ajohnson052 ! I'll take a look at it as soon as I can since I think it's likely a blocker on some other stuff. (Following that we should start writing up lots of integration tests to not accidentally walk our code backwards.)

[2016-04-09 20:03] mchelen commented on #178
I've been digging into the `pregnancy.rb` model and I see this code:
[code]

So that means `recent_calls` will always have a max of 10 items, and `old_calls` will also have a max of 10, so at any time there is an absolute max of 20 total calls displayed.

Is that the desired behavior?

[2016-04-10 03:21] colinxfleming commented on #222
Note that this is linked to #100. Let's not consider this closed until tests are written so we don't continue to backslide.

[2016-04-10 03:23] colinxfleming commented on #179
Note that tests for this are in #156 and we shouldn't.

@Kevin-Wei has documented some weirdness in #156 that makes me think this is a JS issue, which is unfortunate.

[2016-04-10 03:41] colinxfleming opened #223 "Remove autofill on form in pregnancies/edit"
Flagged by @lwaldsc and @NerdyGirl537 :

* On `pregnancies/:id/edit`, autofill dropdown menu shows up:
  Thing I don't like: Chrome Autofill form options show up
  Thing I would like better: Remove autofill form options

This is probably as simple as adding an HTML5 option to disable autofills. Should be fairly straightfoward!

[2016-04-10 03:47] colinxfleming opened #224 "Split Pregnancy#people_in_household into children and adults"
@NerdyGirl537 and @lwaldsc flagged that there isn't a DCAF standard way to represent people in household. One of them (I forget which, sorry) tends to punch in a number, the other tends to split out between adults and children.

I think generally this is used mostly to guesstimate federal poverty level percentage, which is a determining factor in whether or not they're eligible for funding from ot

[2016-04-10 03:55] colinxfleming opened #225 "Restrict phone fields to a single number"
@NerdyGirl537 and @lwaldsc flagged that the phone number fields can take unlimited lengths, which could lead to unwanted

We should fix by limiting the length of the field in the relevant model, and add a unit test to confirm the validation.

[2016-04-10 04:08] colinxfleming opened #226 "Pregnancies#show should redirect to Pregnancies#edit"
I am tired of forgetting there's no show route and going to a 404 page.

[2016-04-10 04:10] colinxfleming opened #227 "Add "my dashboard" link in top nav bar on patient screens"
@NerdyGirl537 and @lwaldsc said on Monday that it wasn't terribly clear to them how to get from the pregnancy edit form back to the main dashboard. Is there some merit to adding some explicit nav text in the top bar?

[2016-04-10 04:15] colinxfleming opened #228 "Issues with adding patients to a call list from urgent pregnancies"
@lwaldsc and @NerdyGirl537 had some issues getting patients to add to the call list properly, especially from the urgent pregnancies form. Here are the specific issues they ran into and steps to troubleshoot from.

* Adding pt from call search does not add, only replaces:
  URL: dashboard
  Thing I don't like: Adding from the urgent cases does not properly populate the call log
  Thing I would lik

[2016-04-10 05:18] colinxfleming opened #229 "Draft contribution guidelines for repo"
We're starting to add more people to the project and I think it's a good idea to start fleshing out these other parts, especially as nontechnical contributions start rising to the surface. I'll handle the first draft.

https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2016-04-10 05:34] colinxfleming commented on #178
@mchelen I think either that or just the count of calls in general -- you can infer that `old_calls` will be null if there's ten or under. But yeah, you're totally dead on.

[2016-04-10 05:48] colinxfleming commented on #222
Adding to Sprint 4.

[2016-04-10 06:02] colinxfleming commented on #222
@ajohnson052 Did some digging and I think this is caused by trying to save over a non-whitelisted field -- we were experiencing this issue on the case manager demo site. I managed to resolve by re-running the seed file, which is an okay solution for now since the DB is still in flux.

Will you run `rake db:seed` to refresh your fake data and let me know if you continue to experience this issue?

[2016-04-10 06:03] colinxfleming commented on #182
Staying the course for now per advice of the CMs leads. Closing.

[2016-04-10 06:03] #182 closed

[2016-04-10 06:23] colinxfleming commented on #195
#220 resolves the following:
 'Submit pledge' button should be BIG (super button) and should have more blank space above it, separating it from the left nav menu items.
 Add lines into the page separating top entry, left nav and main right window.
 Black bar at the top should be gray, type should be black

[2016-04-10 06:46] colinxfleming commented on #226
My main frustration from this was actually caused by the bug described in #222 . Closing as irrelevant for now

[2016-04-10 06:46] #226 closed

[2016-04-10 07:10] #207 closed

[2016-04-10 12:36] ajohnson052 commented on #222
Well now I feel very silly - that seems to have fixed the problem!

[2016-04-10 15:25] colinxfleming commented on #222
Glad (and more than a little relieved!) to hear that solves it for you!

My takeaway from this is that the mongoid model being in flux can cause weird issues with things saving, and that we should flag in the readme (something like 'When beginning work, make sure you reset your seedfile'). Adjusting this issue accordingly.

[2016-04-12 13:33] colinxfleming opened #234 "Mark certain issues as beginners welcome"
Terry (on the code for dc leadership team) and I were discussing ways to make the project more open / easy to onboard people to, and one thing he suggested was to mark certain issues as beginner friendly or requiring no specialized knowledge about the project.

I think this is a good idea for empowering people to make important contributions early, so I think we should do it. I'll plan on tackling

[2016-04-12 13:43] colinxfleming opened #235 "Add test for seeds file"
As we continue to integrate in our models, we'll want to use the seeds file more and more; we should add a straightforward end to end test (either in CI or in the test suite) that throws a flag if anything's busted, just to be on the safe side.

Maybe a rake task similar to the one @Kevin-Wei  wrote for factory girl?

[2016-04-12 13:44] #178 closed

[2016-04-12 23:28] colinxfleming commented on #227
Still needs design work. What will it say and where will it go?

[2016-04-12 23:29] colinxfleming commented on #224
For now lets use numbers 1-10 in a dropdown.

[2016-04-12 23:32] colinxfleming commented on #79
@mebates and I are discussing:
- adding a field in the standard pull request template that says "Here's a screenshot of my work so designers can review what it looks like:"
- I will tag Andrea and Mollie for review on things that have front end implications
- Design review shouldn't be a blocker so if the designer doesn't get back with feedback within 48 hours I'll go ahead and merge.

[2016-04-12 23:43] colinxfleming commented on #186
After chatting with @mebates we think that the CM ideas are sound; probably should structure like this:

* a user entry for LMP weeks/days, with an inferred field of approx date of pregnancy
* a user entry field for appt date, with an inferred field that calculates weeks gestation on appt date from LMP on intake + appt date

Note that this requires some design adjustments to the top bar which are

[2016-04-13 01:12] mebates opened #237 "Organize release planning session - JUNE 2, 6PM, MLK LIBRARY DIGITAL COMMONS ROOM 5"
Doodle to pick a date: http://doodle.com/poll/b4r92bdes4cgdey7

Brain dump of things to discuss (please add to this in this issue!):
*Release 1*
- Where will the application live? How will users find it?
- What is it called?
- Who can create an account and how do we control that?
- First user should be @lwaldsc, possibly starting on July 11
- UXers can sit with Lisa on one or more nights to observ

[2016-04-13 23:54] edwardpark commented on #193
Ops accidentally closed the PR but i'll still volunteer to tackle this one

[2016-04-16 04:27] #206 closed

[2016-04-16 05:16] colinxfleming commented on #190
Fixed via @ajohnson052 's work in #236

[2016-04-16 05:16] #190 closed

[2016-04-17 03:35] #210 closed

[2016-04-17 03:35] #222 closed

[2016-04-17 03:41] colinxfleming commented on #174
Resolved in #198 (thank you @Kevin-Wei )

[2016-04-17 03:41] #174 closed

[2016-04-17 04:28] #3 closed

[2016-04-17 04:31] colinxfleming commented on #2
Backlogging this for after MVP, since the MVP will work no matter how snazzy the name is.

[2016-04-17 04:42] colinxfleming commented on #9
As we get closer to MVP I think we're going to spend more and more time testing and drafting directions. We've started to attract some nontechnical interest. My current thinking is to revisit in mid to late May and develop a testing plan/start a CM-led instructions manual team to write up things in the wiki.

[2016-04-17 04:42] colinxfleming commented on #9
(Backlogging since we're not actively working on it.)

[2016-04-17 04:47] colinxfleming commented on #20
To clarify the role of CSV functionality here:

* For MVP, we'll need to be able to export data to get it into the current CM system, since we aren't planning on doing a full switchover yet.
* For the full release, we should plan on restricting CSV export to just superusers given the sensitive nature of the data we're storing.

[2016-04-17 04:58] colinxfleming commented on #60
I have started to push people to create issues for this kinda stuff. Closing.

[2016-04-17 04:58] #60 closed

[2016-04-17 05:08] colinxfleming commented on #55
I think we can declare the third option (coincidentally, the one we're the way to proceed here, let's just keep name / username and require full name on pledge sending. Changing the title to reflect that and backlogging.

[2016-04-17 05:11] colinxfleming commented on #120
Promoting from backlog, should probably have this squared away for MVP.

[2016-04-17 05:20] colinxfleming commented on #144
After some comparison of what we have rolled up now I think we're looking for `sm`. I think we can roll this into a beginner friendly task.

[2016-04-17 05:29] colinxfleming commented on #144
The task here: In files ending `.html.erb` within the `app/views/` directory (so, all the stuff in subdirectories), we need to standardize the way things snap to grid using the bootstrap grid system.

There are a number of HTML elements with the class `col-(a size)-(a number)` (for example, `col-sm-6` or `col-md-3`. Up to now we have been using both `sm` and `md`, but now we want want to standardi

[2016-04-17 05:30] colinxfleming commented on #146
Promoting from backlog since we'll have to figure this out soon.

[2016-04-17 05:32] colinxfleming commented on #225
This is a pretty straightforward change -- marking as `beginner friendly`. The `Patient` and `Pregnancy` models have phone fields.

[2016-04-17 05:33] colinxfleming commented on #227
(Changing this to a design issue.)

[2016-04-17 05:35] colinxfleming commented on #234
I made a run thru the issues and flagged a couple that I thought were fairly straightforward changes as `beginner friendly`. Still TK is adding that as an issue category to the readme.

[2016-04-17 18:52] #234 closed

[2016-04-17 20:03] mebates commented on #227
Adding this to the wireframes and invisio soon:

![screen shot 2016-04-17 at 4 03 20 pm](https://cloud.githubusercontent.com/assets/6223901/14589673/f7bde39c-04b5-11e6-8be3-8e2f435400a0.png)

[2016-04-17 20:07] mebates commented on #202
Colin and I agreed that "Resolved without DCAF" would be an additional checkbox in the Notes section, like so:

![screen shot 2016-04-17 at 4 06 42 pm](https://cloud.githubusercontent.com/assets/6223901/14589692/749b0296-04b6-11e6-9517-a4719f5f238a.png)

[2016-04-17 20:13] mebates commented on #202
Per our discussions last week about status and pregnancy date, here's what the top section might look like for a case:

![screen shot 2016-04-17 at 4 12 59 pm](https://cloud.githubusercontent.com/assets/6223901/14589737/59ebc3d0-04b7-11e6-8eef-65b6a1247bf6.png)

[2016-04-17 20:34] colinxfleming commented on #202
Thanks for these designs, @mebates !

I'll change this issue to be bumping the InVision to reflect the changes, and link relevant issues to this one.

[2016-04-17 20:41] colinxfleming opened #240 "CALL LIST: Add calls completed partial to main dashboard view"
After a CM makes a call, we're going to want to move that call to a Calls Completed section, so a CM can keep track.

To that end, let's add a new partial similar to `call_list` to the main dashboard view.

[2016-04-17 20:48] colinxfleming opened #241 "CALL LIST: Add attribute to pregnancy to indicate whether they've been called in session"
So that a CM can tell if they've called someone, we need to be able to fill out the call list partial as detailed in #240.

Here's a minimal implementation: Let's say that if:
* someone has a call from the `current_user`
* that is less than 8 hours old,
* AND they would otherwise be in the call list,

then they should show up in Calls Completed.

We should accomplish this with an inferred field on

[2016-04-17 20:49] colinxfleming commented on #240
Until #241 is ready for prime time, go ahead and populate the `table_content` partial with `current_user.pregnancies`.

[2016-04-17 20:55] colinxfleming opened #242 "CALL LIST: Integration test for calls completed behavior"
Write an integration test to ensure that things show up the right way in `calls completed` based on the criteria laid out in #241 .

May have to install a time travel gem to accomplish this. Maybe `timecop`?

[2016-04-17 20:56] colinxfleming opened #243 "CALL LIST: Model test for calls completed attribute"
Add model tests confirming the behavior laid out in #241 .

[2016-04-17 20:58] colinxfleming commented on #241
For code clarity, we may also want to add a helper method to the User model that cleanly separates people who have and haven't been called on a call list. Call this the gold medal version!

[2016-04-17 21:32] colinxfleming opened #244 "STATUS: Add method to infer status to pregnancy model"
@adinneen did some great work with @lwaldsc in #202 to hash out Statuses. We should build this into the Pregnancy model.

In a nutshell, the statuses we want to capture (and the text output) are, in descending order of priority (e.g Resolved Without DCAF should trump everything :

* No 'Reached Patient' calls on record (No Contact Made)
* Has been reached, but doesn't have an appointment date (Nee

[2016-04-17 21:33] colinxfleming opened #245 "STATUS: Add tests for pregnancy status method"
Add unit tests for #244 in the pregnancy model.

[2016-04-17 21:35] colinxfleming opened #246 "Add status to table_content partial"
In the designs (see https://projects.invisionapp.com/share/6757W6WFJ#/screens/115983262) we have a status field as part of the stock content. Let's add that in, following the designs for how it should look.

These rollups come from the `table_content` partial in the dashboards -- we should make the edits there. (We also need a few of the partials edited to all use the same header columns -- see #2

[2016-04-17 21:40] colinxfleming opened #247 "Add status to pregnancy edit view"
Per the designs from @mebates , let's add status to the pregnancy edit view.

![image](https://cloud.githubusercontent.com/assets/3866868/14590207/4364b64c-04c3-11e6-9f11-1b66fe26bebd.png)

We should add status to the top dashboard. This particular portion is in `app/views/pregnancies/_patient_dashboard.html.erb` I believe.

Similar to #246, we can just stub with sample text until #241 is ready to

[2016-04-17 21:44] colinxfleming commented on #228
I've been thinking about this and I wonder if this is an issue with the relationship btwn pregnancy and user being `has_many : belongs_to`? Should this be something like `has_many : belongs_to_many` ?

[2016-04-17 21:44] colinxfleming commented on #228
Bumping this into sprint 5.

[2016-04-17 21:56] colinxfleming opened #248 "DASH: Add integration test to confirm Dashboard present on non-dashboard pages"
Using @mebates 's designs as a guide:

![image](https://cloud.githubusercontent.com/assets/3866868/14590308/1a7fc526-04c5-11e6-8379-9ab2c323f903.png)

If a user is logged in and not on the dashboards controller, we should include a link up in the top right next to the username to head back to the `authenticated_root_url`.

We can make these changes in `app/views/layouts/_navigation_links.html.erb`

[2016-04-17 21:58] colinxfleming opened #249 "DASH: Add integration test for presence of link back to Dashboard on certain pages"
Basically: Integration testing for #248 .

[2016-04-18 22:09] charleshuang80 commented on #240
taking a look at this

[2016-04-18 23:00] charleshuang80 commented on #214
working on this right now also

[2016-04-18 23:41] mebates commented on #248
And if all three links at the top can now be purple, even better! 💜

[2016-04-19 01:02] adinneen commented on #16
@mebates Hey Mollie these wires are super super rough but give you a sense of the flow we worked out.  I'll post a new ai file to the design folder.  Happy to touch base on any of this.

User starts by hitting the "generate
![dcafwireframe020816 1 -08](https://cloud.githubusercontent.com/assets/12372787/14624445/b9e5386a-05a8-11e6-8c4d-68cd0053d3f3.png)

![dcafwireframe020816 1 -09](https://cloud.

[2016-04-19 01:13] adinneen commented on #5
@mebates I built it in omnigraffle so will add that file to the _design folder!

[2016-04-19 01:13] #5 closed

[2016-04-19 02:21] mebates commented on #16
Great!
- On the 'confirm' modal, will the user be able to edit those fields or will they have to cancel to go back and edit?
- Will the word document autopopulate with the right information (that would be sweet!)
- Veer towards left aligning text instead of center aligning
- With the 'go back' button, does it go to the previous modal screen? Is it weird to navigate forwards and backwards in modals

[2016-04-23 18:57] colinxfleming commented on #214
Resolved in #250 !

[2016-04-23 18:57] #214 closed

[2016-04-23 18:57] colinxfleming commented on #240
Resolved in #250 !

[2016-04-23 18:57] #240 closed

[2016-04-23 19:16] colinxfleming commented on #248
@CamLatimer resolved primary issue in #251; changing this to an integration test to confirm behavior.

[2016-04-24 07:31] colinxfleming commented on #248
This is a good chance to take a stab at writing a capybara integration test if you've never done it before! Using the capybara API, you'll use a fake web browser to basically do the following:

* Visit the main dashboard
* Assert that the Dashboard link isn't there
* Visit a patient's edit URL
* Assert that the dashboard link is there
* Click the Dashboard link
* Assert that you're sent to the mai

[2016-04-25 03:06] #193 closed

[2016-04-25 03:18] colinxfleming commented on #195
The bulk of these are closed, and I think we can spin the remainder (h tag hierarchy, carets and blue highlights) into their own issues. Retagging as admin.

[2016-04-25 03:23] #208 closed

[2016-04-27 16:47] colinxfleming commented on #228
Want to confirm that my guess was right: a patient can only be on one person's call list at a time. If user one has patients a and b on a call list, and user two adds patient b to theirs, patient b disappears from user ones call list.

Won't be an issue for early stage stuff since the mvp will be single user, but we will Def need to resolve. E

[2016-04-27 21:06] colinxfleming commented on #186
New design to adjust to:

https://cloud.githubusercontent.com/assets/6223901/14589737/59ebc3d0-04b7-11e6-8eef-65b6a1247bf6.png

[2016-04-29 05:22] colinxfleming commented on #247
Resolving this (by accident) in #211

[2016-04-29 05:22] colinxfleming commented on #246
Resolved by accident in #211

[2016-04-30 17:47] charleshuang80 opened #256 "DASH: hook up dashboard 'week of' to current date"
Dashboard overview has a 'Week of' title that is currently static. Should be hooked up to reflect actual week of the current date. A dashboard helper method seems like one good option.

[2016-04-30 17:49] charleshuang80 commented on #256
@colinxfleming, wanted to add 'frontend' and 'beginner friendly' tags to this

[2016-04-30 18:07] charleshuang80 opened #257 "Call List: change use of new call modal to only use one modal in the DOM"
Currently every entry (row) in a call list, using partial _table_content, is inserting its own modal in the row, based on the partial in views/calls/_new_call. We should change the modal, where it is inserted, and how it is referenced in _table_content so that we can have a single modal that can be called by every entry (row) in the table, or even possibly by multiple tables because the dashboard

[2016-04-30 22:27] colinxfleming commented on #256
@charleshuang80 💯

[2016-05-01 20:44] colinxfleming commented on #249
Changed #248 to reflect this; closing as duplicate

[2016-05-01 20:44] #249 closed

[2016-05-01 21:00] #185 closed

[2016-05-01 21:00] #186 closed

[2016-05-01 21:00] #246 closed

[2016-05-01 21:00] #247 closed

[2016-05-01 21:10] colinxfleming commented on #245
Resolved in #252 (thanks @ajohnson052 !)

[2016-05-01 21:10] #245 closed

[2016-05-01 21:11] colinxfleming commented on #244
Resolved in #252

[2016-05-01 21:11] #244 closed

[2016-05-01 21:12] colinxfleming commented on #227
Turned into dev issues and just waiting on tests at this point -- I think we can consider this resolved from a UX perspective.

[2016-05-01 21:12] #227 closed

[2016-05-01 21:13] colinxfleming commented on #225
I think @ewiggins has staked a claim to this!

[2016-05-01 21:20] colinxfleming commented on #202
Resolved in #252 , tests stubbed out for when we implement pledge stuff.

This is resolved from a design and discussion perspective as well, I believe! Closing out.

[2016-05-01 21:20] #202 closed

[2016-05-01 21:22] ewiggins commented on #225
I have!

[2016-05-01 21:22] colinxfleming commented on #141
Duplicate issue; closing. (Also resolved in #211 )

[2016-05-01 21:23] #141 closed

[2016-05-01 22:20] colinxfleming opened #258 "PLEDGE: Convert AI design to PDF"
The design for the pledge modal that @adinneen and @NerdyGirl537 worked on is currently sitting in https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAFwireframe051816.ai -- can we get this converted to a PDF so it doesn't require illustrator to view?

[2016-05-01 22:24] colinxfleming opened #259 "PLEDGE: Create modal view for DCAF pledge"
Using the pledge designs in https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAFwireframe051816.ai (or its pdf equivalent) as a guide, create a partial called `app/views/_pledge.html.erb` that contains a form we can use to log a pledge from DCAF.

[2016-05-01 22:27] colinxfleming opened #260 "PLEDGE: Create pledge controller with create and update routes"
Nothing fancy or hard -- just rig up a quick pledge controller with `create` and `update` routes.

The `notes_controller` is probably useful as a model here -- should be structured and oriented in a similar way.

[2016-05-01 22:30] colinxfleming opened #261 "PLEDGE: Wire up the modal to send pledge"
Once we have a modal, let's wire it up so that it pops up when you hit the big Submit Pledge button.

NOTE: Depends on #259  being completed.

[2016-05-01 22:31] colinxfleming opened #262 "PLEDGE: Create integration test for sending a pledge"
Do what it says on the label -- confirm that the `Create Pledge` button works, creates a pledge, and that we can retrieve and update that pledge if necessary.

Depends on #259, #260, and #261 being completed.

[2016-05-01 22:33] colinxfleming opened #263 "PLEDGE: Controller tests for pledges_controller"
Let's make sure our controller is rocksolid by writing tests for it. Again, we can use the notes controller tests as a guide here.

Depends on #260 being completed.

[2016-05-01 22:35] colinxfleming opened #264 "PLEDGE: Adjust Pregnancy Status method to account for pledge stuff"
We have a few things stubbed in the pregnancy model and associated tests that we're waiting on pledges being wired up to complete. Specifically, general pledge related stuff.

Let's change the `Pregnancy#status` method to account for these, and also adjust the tests to account for this as well.

[2016-05-01 22:44] colinxfleming opened #265 "PT CREATE: Wire up dashboards#search to return the create a patient partial if there are zero results"
Right now, the create a patient partial is sitting in `app/views/patients/_new_patient.html.erb` but isn't hooked into anything. Let's adjust the `DashboardsController#search` method to return that partial if a search returns zero results.

We'll also want an integration test for this, and a controller test for this.

[2016-05-01 22:46] colinxfleming opened #266 "PT CREATE: PatientsController#create should create both a patient and a pregnancy from the payload"
Our data model associates a pregnancy with a patient object. As such, let's alter `PatientsController#create` so that it creates a Patient and then creates a dependent Pregnancy object as well.

We'll also want to create an integration test for this, and a controller test for this.

[2016-05-01 22:54] colinxfleming commented on #132
Adding to sprint 6!

[2016-05-01 22:57] colinxfleming commented on #132
This is an example of what I have in mind here:

http://eternicode.github.io/bootstrap-datepicker/

We're using a different library at the moment but it's clunky, so we should feel free to change it up if it suits our needs.

[2016-05-02 22:57] mebates commented on #132
Let's try this instead? US Web Design Standards discourage the date picker especially for memorized dates like your birthday. They do have this caveat "If users are trying to schedule something, a calendar picker might make more sense. Be sure to also provide an option for text entry as well." But, our cm's won't be scheduling, they'll just be recording what the patient tells them, right?
https://

[2016-05-02 23:28] mebates commented on #258
boom :boom:
https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAF_SubmitPledge.pdf

[2016-05-02 23:43] lankyfrenchman commented on #265
Hey! I'm new and would love to take a stab at this one. Not sure if you folks assign tickets or anything like that :)

[2016-05-02 23:44] NerdyGirl537 opened #267 "URL for Online Faxes"
@colinxfleming, @mebates

* What screen are you on? My url is: https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAF_SubmitPledge.pdf

* What are you trying to do? For the final screen of create pledge, there's a lovely link for the fax site.  However, it is the wrong URL.

* What should be happening? It should be onlinefaxes.com

* What's happening instead? Currently onli

[2016-05-02 23:48] Nico-ehs commented on #260
Working on this tonight.

[2016-05-02 23:51] charleshuang80 commented on #241
working on this now during sprint 6

[2016-05-02 23:57] #258 closed

[2016-05-02 23:58] mebates commented on #16
Latest designs: https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAF_SubmitPledge.pdf

[2016-05-02 23:59] rebeccaestes commented on #259
I'll start this

[2016-05-03 00:01] mebates commented on #259
See designs on issue #16 !!!

[2016-05-03 00:14] mebates opened #268 "Change name labels to include first and last on forms"
https://github.com/ascott1/ethical-web-dev/blob/master/web-apps-for-everyone/04-inclusive-forms.md

In my head, we only new the first name of the patient. BUT, I have re-learned that we need first and last. However, I think it's good to have just one input box for name, per the link above.

Should we add additional helper copy to indicate that we need both names?

[2016-05-03 00:19] ajohnson052 commented on #266
I'll take a look at this one!

[2016-05-03 00:35] mebates commented on #195
More design fixes!

On the patient views:
- [ ] What's going on with the grid? Are we using one? For the header (ex: "Call Log") there shouuld be equal distance above and to the left. Check out how the grid is set up in illustrator:
![dcaf_grid](https://cloud.githubusercontent.com/assets/6223901/14971911/e92c3dba-10a4-11e6-9c40-ca93145cb16e.PNG)
- [ ] Call Log and Notes headings are incorrect styl

[2016-05-03 00:59] lankyfrenchman commented on #265
@colinxfleming There's a pre-existing field called :last_menstrual_period_lmp_type that doesn't seem to exist anywhere else in the app. What field should be used here?

[2016-05-03 01:00] lankyfrenchman commented on #265
cc @ajohnson052, we've both run into this on this form for different topics.

[2016-05-08 18:26] #223 closed

[2016-05-08 19:54] #225 closed

[2016-05-08 20:11] colinxfleming opened #274 "Render inline errors in forms with rails-bootstrap-forms gem"
@ewiggins and I were working through a validation issue in #271  and in the process, it became clear that we aren't doing an excellent job of rendering form errors.

It's an open question of whether we should do this before MVP in July or not, but I do want to get it on the radar either way.

@mebates @adinneen want to weigh in here? Should we roadmap this as part of mvp?

Implementation-wise, the

[2016-05-08 23:31] colinxfleming opened #275 "User model: Test user-pregnancies relationship"
Making a note of this so I don't forget. Right now we're skipping tests for the relationship in the model, we should add these to make sure that we don't accidentally break the ability to populate call lists.

[2016-05-08 23:54] #45 closed

[2016-05-08 23:54] #183 closed

[2016-05-09 00:00] colinxfleming opened #277 "Models: Turn auditability into a concern, instead of having it separately in every model"
Here is an opportunity to use the Rails feature `concerns` for someone interested in taking a stab!

In just about every one of our models, we have the following code:

[code]

Rails has a feature in Rails 4 called `Concerns` which are basically helpers for models. Here's an SO thread about them: http://stackoverflow.com/questions/14541823/how-to-use-concerns-in-rails-4

In a nutshell, we want the

[2016-05-10 01:07] ewiggins commented on #277
@colinxfleming I'm going to work on this! Seems like a fun mini project for the larger project :) p.s. I just took a GitHub tutorial so I'm a pretty much a pro. lol 💯

[2016-05-10 01:22] colinxfleming commented on #277
Awesome, thanks Elisheba! Let me know if you run into any snags or need a
hand with the documentation.

On Mon, May 9, 2016 at 9:07 PM Elisheba <notifications@github.com> wrote:

[2016-05-19 13:32] #260 closed

[2016-05-19 13:44] colinxfleming opened #278 "Routing change: Patient > Pregnancy > Calls, Notes, Pledges"
To accurately reflect our object relationships, we should reorient our routing as follows:

[code]

This is almost certain to wind up being a pretty time intensive lift so let's backlog it for the time being.

Raised in #273

[2016-05-19 14:50] colinxfleming opened #279 "New pregnancy create form: Change default to current date"
Rolling into one issue since these both came out of @ajohnson052 's pull request in #273  --

Here's our form as it stands now --

<img width="984" alt="screen shot 2016-05-19 at 10 38 31 am" src="https://cloud.githubusercontent.com/assets/3866868/15397558/a0d222a2-1dae-11e6-8f69-0492db669d38.png">

An open question here: Is there a meaningful difference between initial call date and the day we ac

[2016-05-19 14:55] colinxfleming opened #280 "New pregnancy form: Adjust LMP to be weeks/months dropdowns instead of open text field"
Raised in #273 -- Our current form in `views/pregnancies/_new_pregnancy` is as follows:

<img width="984" alt="screen shot 2016-05-19 at 10 38 31 am" src="https://cloud.githubusercontent.com/assets/3866868/15397926/d0eb22d0-1daf-11e6-8695-88700530d087.png">

Let's change the LMP representation here to look more like what's in `views/pregnancies/_patient_dashboard` in the edit view, where weeks and

[2016-05-19 14:56] #266 closed

[2016-05-19 14:56] #265 closed

[2016-05-21 14:58] colinxfleming opened #282 "Add quality gem"
One of my coworkers who is big on code quality has made a gem called, appropriately enough, `quality` which rolls up a bunch of code quality gems. Let's put it to work -- https://github.com/apiology/quality

Let's install this gem and make sure `rake quality` is part of our CI pipeline at the point we actually deploy. We don't need it before that, I don't think.

[2016-05-21 15:11] colinxfleming opened #283 "Add brakeman gem and clean up warnings"
Brakeman is a security analysis gem that flags vulnerable code that we should put to work for us. There are three steps here:

* Install the gem - https://github.com/presidentbeef/brakeman
* Run the gem and clean up any warnings
* Add the gem to our CI process, so that a build fails if it introduces new vulnerable code

[2016-05-21 18:50] sco-bo commented on #256
Hey @colinxfleming and @charleshuang80! I have built a helper method for this and it is working on my local branch. Currently, it is set for the beginning of the week to be Monday and the end of the week to be Sunday (a 7 day week). I can tweak it so it is instead written for a 5 day 'work week' if that's more helpful. Let me know and I can make the necessary changes, write up a quick test and sub

[2016-05-21 20:09] colinxfleming commented on #256
Hey man! Thanks for putting in the work on this!

DCAF does weeks of Monday Sunday, so this should work without incident. I
would say go for it - I'll keep an eye out for the pull request!

Thanks a ton!

On Sat, May 21, 2016, 2:50 PM Scott Bobbitt <notifications@github.com>
wrote:

[2016-05-21 20:19] sco-bo commented on #256
Ok great! Finished writing the test so you should be seeing a PR soon. I'm relatively new to ruby/rails so feel free to offer any feedback on what I might be able to improve. Happy to help!

[2016-05-21 22:57] ewiggins commented on #134
@colinxfleming I'll take this. Seems like an easy win :100: :+1:

[2016-05-22 04:36] colinxfleming commented on #256
Happy to have you, Scott! Welcome aboard!

On Sat, May 21, 2016, 4:19 PM Scott Bobbitt <notifications@github.com>
wrote:

[2016-05-22 15:21] colinxfleming commented on #134
Thanks Elisheba!  Let me know if you hit any snags!

On Sat, May 21, 2016, 6:57 PM Elisheba <notifications@github.com> wrote:

[2016-05-22 16:10] NerdyGirl537 commented on #279
I can see it either way. I usually log all my patients before calling them
so inference would be fine for me.
Jenn
On May 19, 2016 10:50 AM, "Colin" <notifications@github.com> wrote:

[2016-05-24 00:19] mebates commented on #274
If we can build them in by July, that would be awesome. Could be a good think to work on in the next two weeks. I would recommend following the USWDS design, if that's easy enough: https://standards.usa.gov/form-controls/#text-inputs

[2016-05-24 01:05] colinxfleming commented on #274
Does the uswds have a standard library or something like that, by chance?

The path of least resistance is probably just using whatever is standard in
the bootstrap forms library we are using, which is probably fairly similar.

Agree that having this in before launching would be fantastic. Let's make
sure we have it on the list.

On Mon, May 23, 2016, 8:19 PM Mollie Bates <notifications@github.com

[2016-05-24 03:28] colinxfleming commented on #267
Thanks much for this, @NerdyGirl537 ! We'll make sure this is reflected as we continue to build pledge stuff out.

[2016-05-24 03:30] colinxfleming commented on #267
I don't think it's worth fixing in in the designs, and we can just fix when we implement in the frontend. Marking as such so we remember.

[2016-05-24 21:53] colinxfleming commented on #279
Let's do this as a medium -- let's keep initial call date and set it to the current date by default, but still have it editable.

[2016-05-24 21:56] colinxfleming commented on #279
Renaming and removing the `question` tag, now that we have a game plan.

[2016-05-24 22:02] colinxfleming commented on #237
Our winner for the date is **June 2**! We'll be at MLK library room 5.

[2016-05-24 22:12] colinxfleming commented on #274
For MVP let's go with the functionality baked into the bootstrap forms gem we're using. Here's a link to this: https://github.com/bootstrap-ruby/rails-bootstrap-forms#alert-messages

Let's start by implementing for the main form in `app/views/pregnancies/edit` and `app/views/pregnancies/_new_pregnancies`.

(A possible sticking point is that we have fairly minimal model validation at this time; fee

[2016-05-24 22:13] colinxfleming commented on #274
Renaming and retagging to reflect the game plan.

[2016-05-24 22:16] colinxfleming commented on #268
I've never seen that inclusive forms doc before and I kinda love it!

I think that adding helper copy to indicate that we need both names is a great.

(This is partially represented in #55 too.)

[2016-05-24 22:17] colinxfleming commented on #268
@mebates what are the next steps here? CM weigh in, frontend changes in the pregnancy view form, something else?

[2016-05-24 22:18] colinxfleming commented on #267
Temporarily backlogging until we have the pledge stuff wired up.

[2016-05-24 22:19] colinxfleming commented on #179
This seems to be only happening when you hit the 'I reached the patient' button. Still think it's a JS issue, but not clear how.

[2016-05-24 23:14] mebates commented on #268
How about just changing the text box label, like this?

![delete](https://cloud.githubusercontent.com/assets/6223901/15522902/cd494f8e-21e3-11e6-9964-d18c781fe542.PNG)

[2016-05-24 23:25] Nico-ehs commented on #279
Taking this tonight.

[2016-05-24 23:26] CamLatimer commented on #280
I'll get it on it!

[2016-05-25 00:02] clarissastark commented on #144
Hey @colinxfleming, I'll take this one to start!

[2016-05-25 00:10] Kevin-Wei commented on #228
Will try this guy

[2016-05-25 00:28] mebates commented on #195
## Some random UI questions for @colinxfleming:
- What's up with the add/remove in the call list? That wasn't on the mockup; was it added for another reason?
- Nice to have: can we do all address inputs so that the zipcode automagically looks up the city and state?

## Some things to fix
- [ ] The 'call now' modal needs lots of padding, spacing, and type styling love. Please match the mockup!
- [

[2016-05-25 00:33] Nico-ehs commented on #194
Add this next.

[2016-05-25 00:41] mebates opened #290 "Eliminate 'signed in successfully' notification in devise"
* What screen are you on? (ex: "My url is: ...") Dashboard, just after logging in

* What are you trying to do? (ex: "I'm trying to save a call.") I'm trying to get to work!

* What should be happening? (ex: "It should redirect me to the dashboard.") There shouldn't be a notification popping up to tell me that I signed in. It's obvious that I signed in!

* What's happening instead? (ex: "It's givi

[2016-05-25 00:55] mebates commented on #237
@colinxfleming @lwaldsc @adinneen - Please take a look at this issue in the next week and add the things you're interested in exploring. How should we structure this? I think it would be great if one outcome of this meeting was a group of epics, features, and stories for the next release. I'm hoping we can spend at least half of our time on that topic!

We will also be able to quick-follow our rel

[2016-05-25 04:34] colinxfleming commented on #290
Agree with @mebates that this is not ideal behavior. I think it's a feature of the authentication gem we use, `devise`, and I'm sure we can shut it off without too much trouble.

Let's try to find a solution within the gem library first (maybe there's a `flash: false` we can put somewhere or something?). And let's limit to just the sign in flash message instead, and keep it for password resets etc

[2016-05-25 04:35] colinxfleming commented on #290
(Relatedly I saw a 5m talk at RailsConf that was a guy talking about how much he hated, and I mean really hated, flash messages!)

[2016-05-25 04:38] colinxfleming commented on #268
Perf! Retagging as frontend, this is a pretty straightforward change.

Whoever takes this on will want to pop into the form field and adjust the label attribute in that particular instance. Refer to the docs in the `rails-bootstrap-forms` gem we use here: https://github.com/bootstrap-ruby/rails-bootstrap-forms

[2016-05-25 04:40] colinxfleming commented on #268
There are two places where we'll need to fix this, most likely: the `app/views/pregnancies/_patient_dashboard` view, and the `app/views/pregnancies/_new_patient` view. I think that's the only place we plug in names.

[2016-05-25 04:51] colinxfleming commented on #195
I think many of these are sustainable as their own issues, so I'm going to piece them out into new issues and close out this one.

@mebates re: the ui questions you wisely raised, IIRC I think originally the mockup was a + / - glyphicon? We've been using that as a placeholder but there's no reason we can't move it over. I'll review the designs before I spin that off to make sure I'm remembering co

[2016-05-25 04:58] colinxfleming commented on #195
re: ZIP code lookup, I'm super optimistic we can pull something off using a ZCTA or USPS or some sort of mapping API. My inclination is to skip it for MVP and then have it as part of the second phase of this, when we'll be bolting on additional functionality and adding reconciliation etc.

[2016-05-25 05:00] colinxfleming opened #294 "Bump the issue form to bold stuff"
* What screen are you on? (ex: "My url is: ...") Making a github issue!

* What are you trying to do? (ex: "I'm trying to save a call.") Be able to differentiate the stock language from the submitted text easily!

* What should be happening? (ex: "It should redirect me to the dashboard.") Should be bolded!

* What's happening instead? (ex: "It's giving an error message.") It's not bolded!

[2016-05-25 05:02] colinxfleming commented on #195
(PS totally went into a cold sweat thinking about ZIPS that span multiple cities and states, the bane of my existence in mid-2015.)

[2016-05-25 12:16] mebates commented on #195
On the mockups, the + near the note field was to see the full note. We do need an 'add to call list' plus in the part where they're looking up numbers

[2016-05-26 15:30] colinxfleming opened #297 "Extract helper tests in Pregnancy model into their own test"
See `test/helpers/dashboards_helper_test.rb` -- we should take a bunch of the helper stuff we're testing in `test/models/pregnancy_test.rb` and throw it in a separate file.

[2016-05-26 15:32] #256 closed

[2016-05-28 15:23] #228 closed

[2016-05-28 18:21] #294 closed

[2016-05-28 19:11] #297 closed

[2016-05-28 21:23] colinxfleming opened #300 "Bump rails version to 4.2.6"

[2016-05-28 21:47] colinxfleming commented on #237
I think having a group of epics/features/stories for next release is an A+ idea.

Here's the questions I'll want to make sure we address:

General administrativa:
* At some point we'll need to get information we capture during this week back into the Excel doc. What's the least annoying way to do that?
* How do we provide technical coverage for @lwaldsc ? It sounds like a design/UX person will be

[2016-05-28 21:52] colinxfleming opened #302 "Implement type hierarchy for headers"
From @mebates in #195, let's implement a standard type hierarchy for headers:

Details on the type hierarchy. The names I'm using may not align with the names you'll use in the HTML. All type is Source Sans Pro. (Sizes cribbed from here: https://cfpb.github.io/design-manual/identity/typography.html#web-hierarchy)

Display: 48 px / 60 px, 300 (Light)
H1: 34 px / 42 px, 400 (Regular)
H2: 26 px / 32

[2016-05-28 22:01] colinxfleming opened #303 "Remove blue highlight, add right-facing caret, increase font-size in pregnancies/_menu.html.erb"
From @mebates in #195 -

Currently, in the pregnancy edit view, you can see a full blue highlight over `Abortion Information`:

<img width="1111" alt="screen shot 2016-05-28 at 5 57 21 pm" src="https://cloud.githubusercontent.com/assets/3866868/15630197/b8a75446-24fd-11e6-99d9-374e28e28c79.png">

We should adjust this to match the designs, which feature a purple caret instead and no blue highlight

[2016-05-28 22:02] colinxfleming commented on #303
Let's feel free to use the `chevron-right` glyphicon here - http://getbootstrap.com/components/#glyphicons

[2016-05-28 22:07] colinxfleming commented on #195
Things are moved up to https://github.com/colinxfleming/dcaf_case_management/issues/195#issuecomment-216404608 . I'll create new issues for my many crimes against the grid system, UI, etc later tonight.

[2016-05-29 14:25] #179 closed

[2016-05-29 14:44] colinxfleming opened #304 "Properly get Patient Information and Abortion Information into grid system"
From @mebates in https://github.com/colinxfleming/dcaf_case_management/issues/195#issuecomment-216404608 -

Our views for Patient Information and Abortion Information on the pregnancy edit page are improperly indented.

Here is our design for these partials:

![image](https://cloud.githubusercontent.com/assets/3866868/15634043/bec00248-2588-11e6-90d1-1505bf99cb7d.png)

And here is a screenshot of

[2016-05-29 14:46] colinxfleming commented on #195
The following two bullets from https://github.com/colinxfleming/dcaf_case_management/issues/195#issuecomment-216404608 are moved to #304 . @mebates please confirm I translated these correctly!
- For the header (ex: "Call Log") there shouuld be equal distance above and to the left.
- Everything should align under the heading. See the grid screen grab

[2016-05-29 14:48] colinxfleming commented on #195
Down the list in the remainder of https://github.com/colinxfleming/dcaf_case_management/issues/195#issuecomment-216404608 -
* Select and hover states on the left nav don't match the specs on the design files (represented in #303 )
* Notes input box should be a lot bigger, wider, deeper (underway in #291 )
* On all tables, site wide, the table header should align left with the table content. It's a

[2016-05-29 14:59] colinxfleming opened #305 "Update designs to incorporate Add to / Remove Call List in the calls to make section"
Due to a misinterpretation on my part, I understood 'expand note' to mean 'add to or remove from call list'. Right now we have something similar to:

![screen shot 2016-05-29 at 10 50 40 am](https://cloud.githubusercontent.com/assets/3866868/15634151/36f0c0a2-258b-11e6-8ea0-bf8248f2250e.png)

And from our [designs](https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAFwiref

[2016-05-29 15:05] colinxfleming opened #306 "Calculate city/state from ZIP code rather than entering all three fields in patient information partial"
Right now we're asking for the following information from patients, including city, state, and zip:

![screen shot 2016-05-29 at 11 02 58 am](https://cloud.githubusercontent.com/assets/3866868/15634242/eb1f1870-258c-11e6-9ba3-1dc76c14c571.png)

We should be able to calculate city/state from just ZIP, so that CMs don't have to enter all three fields, and to reduce chances of weird typos mucking thi

[2016-05-29 15:06] colinxfleming commented on #195
The add to / remove from call list I'm moving to #305. I think we should confirm with @lwaldsc and @NerdyGirl537 before we pull the trigger on resolving that, though I think it'll be fairly straightforward either way due to @charleshuang80 's excellent work on generalizing that code.

ZIP code thing is moved to #306 .

[2016-05-29 15:16] colinxfleming opened #307 "Adjust Call Now modal to match the designs"
Here's our call now modal:

![screen shot 2016-05-29 at 11 14 38 am](https://cloud.githubusercontent.com/assets/3866868/15634301/903e02a2-258e-11e6-9b61-ef24fccd5488.png)

And here's the design:

![screen shot 2016-05-29 at 11 15 04 am](https://cloud.githubusercontent.com/assets/3866868/15634302/9f34c412-258e-11e6-9ca2-0e6a4fcc8276.png)

Note the slew of differences, such as the size of it, the sp

[2016-05-29 15:21] colinxfleming opened #308 "Create notes with ajax instead of synchronously"
* **What screen are you on?** Pregnancy edit page, specifically the notes partial

* **What are you trying to do?** Create a new note

* **What should be happening?** It should create a new note with javascript, and not reload the page

* **What's happening instead?** It's reloading the page.

The stuff to edit is in `NotesController#create`, specifically L9-14. We'll want to make that look more l

[2016-05-29 15:32] colinxfleming opened #309 "Remove datepicker up-down arrows and the clear X from initial call date field"
From @mebates in https://github.com/colinxfleming/dcaf_case_management/issues/195#issuecomment-221441155 -- this is kinda uggs and cutting off the actual date:

![image](https://cloud.githubusercontent.com/assets/3866868/15634384/8d5c1c66-2590-11e6-9499-274faed6a5c3.png)

Space is already kind of at a premium there, so let's take the clear `x` and the up-down arrows out of that form field. May inv

[2016-05-29 15:32] colinxfleming commented on #195
- The 'call now' modal needs lots of padding, spacing, and type styling love. Please match the mockup! (now in #307)
- When a user saves a note to a case, it shouldn't navigate away from the 'Notes' page. Right now it goes back to the Abortion information page (now in #308)
- This looks very funky! Do we need the up and down arrows and the x? (now in #309)

[2016-05-29 15:33] colinxfleming commented on #195
I think that's all of it! Closing this out.

[2016-05-29 15:34] #195 closed

[2016-05-29 15:45] lwaldsc commented on #305
Keep the 'remove' function.

[2016-05-30 02:53] colinxfleming opened #311 "Create a favicon!"
I have had to work around some pretty weird test failures before, but one of them today happened to be 'create a favicon'. I dropped in THRILLHOUSE.GIF, but we should remember to whip up a real one.

Please enjoy THRILLHOUSE.GIF in the meantime:

![thrillhouse1](https://cloud.githubusercontent.com/assets/3866868/15638628/31513d92-25f0-11e6-930d-49b0df72a1ee.gif)

[2016-05-30 03:08] colinxfleming opened #312 "Adjust Dockerfile to use phantomjs"
Pull request #310 adds the `poltergeist` gem for integration testing javascript, which entails adding the dependency `phantomjs`. We need to bump our Dockerfile to accommodate this new requirement.

Instructions for installing phantomjs are here: http://phantomjs.org/download.html

[2016-05-30 03:15] #72 closed

[2016-05-30 03:38] colinxfleming commented on #69
Starting this up!

[2016-05-30 05:49] colinxfleming commented on #100
Bring It On: Bring It On Again

[2016-05-30 22:34] colinxfleming commented on #283
(This is underway!)

[2016-05-30 22:51] #259 closed

[2016-05-30 22:51] #267 closed

[2016-05-30 23:02] #69 closed

[2016-05-30 23:37] colinxfleming commented on #132
@lwaldsc @NerdyGirl537 thoughts on the above? Do you find you're doing much scheduling (e.g. 'this weekend'), or is it more along the lines of entering dates ('my appointment is on the 26th')?

[2016-05-30 23:38] colinxfleming commented on #132
(Also we'll want to bump the `update_patient_info_test` integration test when we tackle this.)

[2016-05-30 23:40] colinxfleming commented on #200
Let's make sure we update `update_patient_info_test` when we implement this as well.

[2016-05-30 23:47] #100 closed

[2016-05-31 19:05] NerdyGirl537 commented on #132
@colinxfleming @lwaldsc
My experience is usually that they either have a specific date or no date.

[2016-06-01 01:09] mebates commented on #132
A vote for a date input, then!

[2016-06-01 01:13] mebates commented on #195
👍  reviewing all new issues now.

[2016-06-01 01:13] mebates commented on #303
Added 'backlog' label as this is non-essential for first release.

[2016-06-01 01:20] mebates commented on #160
closed per duplicate in #311

[2016-06-01 01:20] #160 closed

[2016-06-01 01:25] mebates commented on #237
Supplies needed for Thursday: sticky notes, sharpies, notecards, blank 8.5x11 paper, tape, whiteboard markers

Great group of questions @colinxfleming. I love the idea of hot fixes for Lisa, and backends attending the usability testing. I think we can just timebox R1 discussion to the first 90 mins, and R2 to the second 90 mins.

Is it 6-9 pm? Can we bring food in? I'm guessing the answer is no; a

[2016-06-01 01:47] mebates commented on #237
Draft agenda:

6:00-6:20 - Introductions, demo of product so far
6:20-6:50 - Release and security (How to find it, who can find it, who can register, security)
6:50-7:30 - Usability testing plan with @lwaldsc, plan for release to a single DCAF line
7:30-7:45 - BREAK
7:45-8:30 - Epic and feature exercise for R2 (Paired user story writing, sorting, voting). Determine MVP for release to all DCAF user

[2016-06-01 01:48] colinxfleming commented on #237
Yep, it's 6-9pm. I'll ask about bringing some snacks to keep us chipper.

I'll also get out the ask to the DCAF board team -- I think Meghan and Crofoot esp might have some valuable insights.

[2016-06-01 01:56] colinxfleming commented on #237
(Tapping in the core team, also: @NerdyGirl537 @Kevin-Wei @charleshuang80 @Nico-ehs @rebeccaestes @ewiggins @drownedout @CamLatimer @ajohnson052 @clarissastark @ashlynnpai @mchelen )

[2016-06-01 03:13] colinxfleming commented on #237
Just emailed DCAF stakeholders to request their presence. Also got clearance from our accountant to purchase things we need, so I'll take stock of what I have laying around and then we can invest in the remainder.

[2016-06-01 03:14] colinxfleming commented on #282
Removing from `deploy` due to this not being mission critical.

[2016-06-01 03:25] colinxfleming opened #318 "Make search cast a wider net"
Right now, our search code casts a pretty strict net, requiring someone to enter in exactly what's in database to retrieve a record.

Here are a few ways I'd like to loosen it before release:

* Make it hyphen agnostic (e.g. when searching for '111-222-3333', it'll find the record if '1112223333' is entered into the form too
* Make it case insensitive (e.g. 'susie everyteen' will return the record

[2016-06-01 03:29] colinxfleming opened #319 "Incorporate changelog for pregnancy and clinic models, in addition to patient model"
Right now, the `change_log` partial in the pregnancy edit view is only really displaying changes made to the patient object, such as name and phone number. We should adjust so that changes to pregnancy and clinic objects are represented here as well.

Full description TK.

[2016-06-01 14:13] lwaldsc commented on #237
"At some point we'll need to get information we capture during this week back into the Excel doc. What's the least annoying way to do that?"

Just to get some stuff out of the way ahead of time, I was planning on using both the excel sheet and DCAF system at the same time anyway. I'm sure there will be some tech hiccups along the way, but calls still need to be made. The new AbortBot 5000 will be

[2016-06-01 16:27] ewiggins commented on #237
Do we have a template for creating the user stories and epics? I can create or find simple templates ahead of the meeting for standardization when creating them.

[2016-06-01 23:59] ajohnson052 opened #321 "Relabel LMP days in edit pregnancy and new pregnancy form"
We're currently using '.' as a placeholder for the label on the LMP days field in both the patient dashboard and the new pregnancy form. We should come up with something prettier to display.

[2016-06-02 01:40] colinxfleming commented on #237
@ewiggins -- @mebates is our expert on that process. Mollie will you flag for @ewiggins if you'd like a second set of hands on that process before tomorrow?

[2016-06-02 01:44] colinxfleming commented on #237
Three points of housekeeping:

a) I got a hard no from the library on food, so probably grab something on your way to the library. Sorry, everyone.

b) I got clearance from DCAF's accountant to buy supplies, so I'll grab the hardware tomorrow morning on my way to work.

c) Megan F from DCAF's case manager team will be joining us! (She's not on github that I know of, so she isn't tagged here.)

[2016-06-02 14:48] mebates commented on #237
@ewiggins I'm not sure what you mean by templates! Usually for user stories we just use a sentence: As a X, I want to X, so that I can X. For epics, we just look for themes to the user stories. If you have another strategy or template I would love to hear about it!

[2016-06-03 03:32] colinxfleming opened #323 "Investigate 2-factor auth implementations with Devise"
Raised by @stvnrlly in slack -- is this a feasible thing to implement? Considerations off the top of my head:

a) cost (but only if it's really outrageously expensive, as DCAF has some money to burn on this and we're way under budget!)
b) support (we have a couple older volunteers who have a hard time with computers sometimes)
c) implementation (devise extension? something else?)

I'm pro but woul

[2016-06-03 03:35] colinxfleming opened #324 "Run thru 18f 'Before you ship' guide"
https://pages.18f.gov/before-you-ship/

thanks @stvnrlly !

[2016-06-03 03:36] colinxfleming opened #325 "Review SecCasts"
https://seccasts.com/

thanks @Kevin-Wei !

[2016-06-03 03:39] colinxfleming opened #326 "Investigate MongoDB encryption and security solutions"
https://docs.mongodb.com/manual/tutorial/configure-encryption/

Raised by @Kevin-Wei for further investigation. Might be worth checking to see if mongolab has one of these solutions.

[2016-06-04 03:34] colinxfleming opened #327 "Set up SSL certificate"
@stvnrlly suggested using letsencrypt as an SSL solution -- setting this up to make sure getting SSL set up is on our radar, and marking as admin until we figure out what the discrete steps are.

Putting this in the parking lot for now as well: https://github.com/lgromanowski/letsencrypt-plugin

[2016-06-04 03:37] colinxfleming commented on #326
Mongolab's pricing and etc: https://mlab.com/plans/

[2016-06-04 03:38] colinxfleming commented on #326
And Mongolab's security documentation: http://docs.mlab.com/security/

[2016-06-04 03:44] colinxfleming opened #328 "Remove content from splash page"
For cleanliness' sake, let's take productizing off the login page.

Putting as a placeholder for now; fleshing out instructions later.

[2016-06-04 03:45] colinxfleming opened #329 "Turn off robots.txt"
No scrapin' for this please!

[2016-06-04 04:08] colinxfleming opened #330 "Schedule dev and UX presence for soft launch 7/11 - 7/13"
@lwaldsc is taking this for a test drive during her shift 7/11 - 7/13 from 7 pm to 10 pm, and we want to make sure we're supporting her during this time. So we'll want to have a UX team member and dev team member onsite (near Stadium Armory) if possible.

Responsibilities for the UX team rep are: Observe user to find out what's working and what's not working; take careful notes for the team. [more

[2016-06-04 04:22] colinxfleming commented on #324
And the OWASP guide! https://www.owasp.org/index.php/Ruby_on_Rails_Cheatsheet

[2016-06-04 04:23] colinxfleming commented on #324
And probably the NoSQL specific guide: https://www.owasp.org/index.php/Testing_for_NoSQL_injection

[2016-06-04 15:14] CamLatimer commented on #328
I'll get on it.

[2016-06-04 15:18] stvnrlly commented on #329
Some good info on best practices in https://en.wikipedia.org/wiki/Robots_exclusion_standard and http://michaeljaylissner.com/posts/2012/01/16/respecting-privacy-while-providing-hundreds-of-thousands-of-public-documents/.

[2016-06-04 15:37] rekhers opened #331 "Installing PhantomJS on OS X versions newer than Yosemite"
versions newer than Yosemite due to an upstream incompatibility.
     Error: An unsatisfied requirement failed this build.

[2016-06-04 15:39] KatSDC opened #332 "Installing phantomjs fails"
Experiencing the same issue as Rekha: phantomjs installation fails in the terminal on my local environment (OSX 10.11.4)

Error code: curl: (22) The requested URL returned error: 404 Not Found

[2016-06-04 16:46] #268 closed

[2016-06-04 17:56] colinxfleming opened #335 "Add way to mark case completed"
(placeholder for now -- add model attribute -- should naturally time out or be marked as 'I'm keeping it' -- should include representation of active pregnancy vs inactive pregnancy)

[2016-06-04 17:56] mebates opened #336 "QA: Build list of QA scenarios"
Before we release the system, we should QA a series of scenarios that we're anticipating that @lwaldsc will need starting on 7/11. Let's use this issue to build the list and affirm that they are working.

[2016-06-04 17:59] colinxfleming commented on #336
This is an A+++ flag. We can (and should!) write integration tests for these as well to match, so we don't backslide.

[2016-06-04 18:01] mebates commented on #330
* Need a dinner plan for the group
* Need a shared note taking strategy for UX

[2016-06-04 18:38] colinxfleming commented on #330
Dinner plan is a good call. I'm more than sure we can either get something comped or get volunteers to cook, I'll get the gears turning on it.

[2016-06-04 18:39] #328 closed

[2016-06-04 19:03] #280 closed

[2016-06-04 19:27] rekhers opened #338 "how to update your repository with git by adding it as a remote!"
add this repo as a remote:

git remote add staging https://github.com/colinxfleming/dcaf_case_management

git pull staging master

pull from the master branch of your new remote repository called "staging" :)

[2016-06-04 19:31] colinxfleming commented on #338
We'll want to add this to the readme as part of standard setup!

[2016-06-04 19:40] colinxfleming commented on #248
Resolved in #272 by @ashlynnpai ! Closing.

[2016-06-04 19:40] #248 closed

[2016-06-04 20:08] colinxfleming opened #340 "Additional security gems to install"
https://github.com/civisanalytics/ruby_audit
https://github.com/rubysec/bundler-audit
https://github.com/rubysec/ruby-advisory-db

[2016-06-04 20:09] cmgiven commented on #327
Since you're using Docker Compose, a really easy way to get this done is: https://github.com/DanielDent/docker-nginx-ssl-proxy

It's an HTTPS proxy that takes care of obtaining and renewing LE certs. It sets the `x-forwarded-proto` header, so `force_ssl` in Rails should work fine. Maybe there are issues with using a proxy that I'm unaware of, though (I've never tried this with a Rails setup).

[2016-06-04 20:10] cmgiven commented on #327
Example docker-compose file: https://github.com/cmgiven/justgrimes/blob/master/docker-compose.yml

[2016-06-04 20:14] colinxfleming commented on #318
This code lives in `app/models/patient.rb`

[2016-06-04 20:14] colinxfleming commented on #318
Tagging in @katsdc !

[2016-06-05 22:22] #331 closed

[2016-06-05 22:22] #332 closed

[2016-06-05 23:11] colinxfleming commented on #336
We've been incrementally plugging away at these so far as integration tests. Here's what we have so far:

* Main page loads
* Authorization:
** Logging in successfully
** Logging in unsuccessfully
** Signing out

* Dashboard link should display / hide at appropriate times
* Logging calls
** Modal pops up and has proper information
** Clicking 'I reached the patient' behaves appropriately
** Clicki

[2016-06-05 23:14] colinxfleming commented on #336
We still definitely need to add tests for:
* pledge sending,
* calls completed section
* using the audit trail,
* call list population,
* persistence of call list behavior,
* switching between tabs on pregnancy edit view.

That's what we have open issues to write. I've been fairly good about creating issues to test features but I wouldn't be terribly surprised if I've missed a few.

[2016-06-06 02:22] #300 closed

[2016-06-06 02:32] #283 closed

[2016-06-06 02:50] colinxfleming commented on #340
Turns out ruby-advisory-db is the source material for ruby-audit, so no gem to install there.

[2016-06-06 03:33] colinxfleming commented on #224
Emailing the CM Directors on this matter tonight.

[2016-06-06 04:03] colinxfleming commented on #16
I think we can safely call this resolved -- we've got these represented in https://github.com/colinxfleming/dcaf_case_management/blob/master/_design/DCAFwireframe052416.pdf . Closing it out.

Fabulous work @adinneen and @mebates !

[2016-06-06 04:03] #16 closed

[2016-06-06 04:08] colinxfleming commented on #237
The result of this was a game plan between now and launch -- gameplans for sprints before initial showtime, and logging more long-term plans. These are represented in https://github.com/colinxfleming/dcaf_case_management/wiki .

@mebates straight killed it at organizing this session.

Closing it out!

[2016-06-06 04:08] #237 closed

[2016-06-06 22:55] colinxfleming commented on #323
Email sent to the case management corps. Will report back.

[2016-06-06 23:15] colinxfleming opened #345 "Generate and download PDF of pledge"
@lwaldsc @NerdyGirl537 can you all post a screenshot of a pledge form with fake information in it, so we can incorporate that into the pledge modal?

[2016-06-06 23:20] colinxfleming commented on #305
Tagging in UX -- should we update these designs to reflect this? If not, let's close.

[2016-06-06 23:20] colinxfleming commented on #305
^^ @mebates @adinneen

[2016-06-06 23:25] colinxfleming commented on #327
Changing this to a beginner backend task.

We need to alter our app to use SSL. This has three steps:

* Go thru https://github.com/DanielDent/docker-nginx-ssl-proxy and set up SSL
* Edit config files in rails to set `force_ssl` to true (this should be easily googleable)
* Tweak our `docker-compose` file to incorporate the changes above, using @cmgiven 's as an example

[2016-06-07 02:00] mebates commented on #305
Yes we need to work on this. It doesn't make sense as it is now! Thursday!

[2016-06-08 03:31] sco-bo commented on #309
I have a solution for this and it's working in Chrome. Oddly enough, this issue doesn't seem to be happening in Firefox, however the LMP fields don't look right in Firefox ¯\_(ツ)_/¯. I can take a look at that too if you think it would be worth opening another issue. I haven't tried it in IE but maybe someone here has access to IE?

[2016-06-08 13:56] #241 closed

[2016-06-08 14:02] #309 closed

[2016-06-08 14:18] sco-bo commented on #318
may try to take a stab at this unless others are working on it

[2016-06-08 14:23] KatSDC commented on #318
Sorry I should have commented, but I am working on this!

[2016-06-08 23:53] colinxfleming opened #348 "Set up heroku deployment pipeline"
Just a note for me: Some beater code in staging that reflects either its own branch or master, followed by the production app that points to the dcaf subdomain.

[2016-06-08 23:53] colinxfleming opened #349 "Set up DCAF subdomain"

[2016-06-09 00:09] #144 closed

[2016-06-09 00:32] colinxfleming opened #352 "Open more beginner friendly issues"

[2016-06-09 06:01] colinxfleming commented on #340
This is camping out in PR #344, ready to merge. I'm going to hold off on hitting that there button until I'm back, since this involves hard-setting a ruby version and that'll require some readme changes.

[2016-06-09 06:05] colinxfleming commented on #290
Resolved in #334, closing.

[2016-06-09 06:05] #290 closed

[2016-06-09 06:16] #338 closed

[2016-06-09 06:29] colinxfleming commented on #325
The insights in these screencasts are largely captured in #324 at this point. Closing.

[2016-06-09 06:29] #325 closed

[2016-06-09 06:33] colinxfleming commented on #263
Resolved in #263 by @ashlynnpai , closing!

[2016-06-09 06:33] #263 closed

[2016-06-09 06:36] colinxfleming commented on #156
Resolved in #310 ; closing.

[2016-06-09 06:36] #156 closed

[2016-06-09 06:43] colinxfleming commented on #4
We landed on the following techniques:
* Defining sprints as a team based on user stories
* Keeping track of sprints in the wiki and as github milestones
* Starting each hacknight with an update on what got done and where we are
* Concluding each hacknight by recognizing individual work done

I'm closing this out.

[2016-06-09 06:44] #4 closed

[2016-06-09 06:57] colinxfleming commented on #169
Changing to 2.2.4 since that's the version ruby-audit recommends.

[2016-06-09 07:08] colinxfleming commented on #120
Here's the path to victory for this issue:

We'll need to add some conditional logic to `app/views/dashboards/_table_content.html.erb`, specifically around line 27, where we have that if-else block.

You'll see that `table_type` is a variable that's available to us -- if that table_type matches `urgent_pregnancies`, then we want to have the link say `In Call List` instead of `Add`.

That's about i

[2016-06-09 07:11] colinxfleming commented on #307
I think this is a good issue for someone comfortable with frontend styling to take a stab at! Marking as beginner friendly.

[2016-06-09 07:14] colinxfleming opened #357 "Expand MongoidHistory to active pregnancy and clinic"
n/t for now; will flesh out later when it moves out of backlog but want to make sure this is captured.

[2016-06-09 07:15] colinxfleming commented on #305
Bumping issue title and removing `question` tag!

[2016-06-09 07:17] colinxfleming commented on #321
Someone ( @CamLatimer or @rekhers ?) resolved this during civic hack day with some creative CSSing; marking resolved.

[2016-06-09 07:17] #321 closed

[2016-06-09 07:18] #357 closed

[2016-06-09 07:24] colinxfleming commented on #302
Marking as beginner friendly since this is a straightforward css task.

Be sure to hit up @mebates to let her know you're working on it!

[2016-06-09 07:30] #352 closed

[2016-06-09 07:34] colinxfleming commented on #326
@Kevin-Wei can you look into a solution for this on Thursday and report back? Feel free to tag in someone else who's curious about mongo or encryption and have them help investigate what other people are doing on the cheap, as well.

[2016-06-09 07:37] colinxfleming commented on #132
Question is resolved, but I'm out of gas and too tired to write down detailed instructions at this time so I'm not marking as beginner friendly at this time. The tldr is that we need to have this function as a regular text field but enforce the styling of a datepicker, and when we get a clean, design-team approved solution to that we should apply it to both the pregnancy edit page and the new preg

[2016-06-09 07:39] #282 closed

[2016-06-09 07:42] colinxfleming commented on #279
Resolved by @Nico-ehs in #288 and its adjacent PR

[2016-06-09 07:42] #279 closed

[2016-06-09 07:49] colinxfleming opened #358 "Run through rails security guide"
http://guides.rubyonrails.org/security.html

[2016-06-09 07:49] colinxfleming opened #359 "Run thru OWASP rails guide"
https://www.owasp.org/index.php/Ruby_on_Rails_Cheatsheet

[2016-06-09 07:50] colinxfleming opened #360 "Run thru OWASP NoSQL guide"
https://www.owasp.org/index.php/Testing_for_NoSQL_injection

Probably not relevant to us because we're on activerecord/mongoid, but you never know.

[2016-06-09 21:19] colinxfleming commented on #323
Case management team consensus is that there's a place for a limited implementation of this -- something like a 'log in with two factor the first time and then have it recognize the device after that for the next n days'. Kinda like how with google 2fa, you can check a box and have it remember you for the next 30 days or whatever. I've renamed the issue accordingly.

I'm sure there are devise modu

[2016-06-09 21:25] colinxfleming commented on #326
Renaming and removing question since this is an investigate matter rather than an open discussion kinda thing now.

[2016-06-09 21:26] colinxfleming commented on #329
Heads up -- this is all set and taken care of! Merging the PR after hacknight tonight.

[2016-06-09 21:29] colinxfleming opened #362 "Add ruby version install instructions to readme"

[2016-06-09 21:55] #101 closed

[2016-06-09 23:21] ajohnson052 commented on #308
I'll take a look at this one!

[2016-06-09 23:33] mebates commented on #324
I'm on this.

[2016-06-09 23:33] dfelsent commented on #307
I'm going to take this issue.

[2016-06-09 23:41] mebates commented on #324
Okay, took a look and much was over my head! Would be good for a technical team member to review the Security and Infrastructure sections. Most doesn't apply to us but a quick scan through might help us find any obvious things we forgot to think of. It's a great list!

[2016-06-09 23:51] CamLatimer commented on #194
i'm on it

[2016-06-09 23:51] CamLatimer commented on #194
I'im on it.

[2016-06-09 23:52] drownedout commented on #311
Added the following as the favicon.

https://pbs.twimg.com/profile_images/711718930419556352/0pS4PuWX.jpg

[2016-06-09 23:54] Kevin-Wei commented on #327
PR includes to way to enable it sitewide

[2016-06-10 00:16] drownedout commented on #304
I believe I fixed this.

[2016-06-10 00:23] mebates opened #365 "Need 'Voicemail OK?' check box somewhere on the patient page"
@dfelsent helped me realize that we don't have a 'Voicemail OK?' check box any where on the patient info pages. Can we add the check mark in on the Patient Info page?

![image](https://cloud.githubusercontent.com/assets/6223901/15950716/5bbbd8b6-2e7f-11e6-8079-8f16cb94df82.png)

[2016-06-10 00:41] mebates commented on #305
I took another look at this and I think it's fine as is.

[2016-06-10 00:45] mebates opened #367 "NOTES: Show latest notes on dashboard"
The notes function shows up on the dashboard in a column. Right now I'm only seeing fake notes, not real notes piping in. Do we have it rigged up so that a portion of the latest note shows in the dashboard view?

[2016-06-10 01:02] dfelsent commented on #307
Submitted pull requests for designs. **But please note:** "Do not leave patient a voicemail" does not appear to be an option in this modal.

[2016-06-10 01:42] ajohnson052 commented on #308
Wasn't able to make any progress on this tonight after all :( Anyone should feel free to pick it up!

[2016-06-10 18:26] sco-bo commented on #365
I can take a stab at this unless someone else is working on it

[2016-06-10 18:32] sco-bo commented on #365
Where this field currently appears in the `_new_pregnancy` partial there is a note which reads ``. I can go ahead and implement a toggle in both of these spots instead of a checkbox or should I just go ahead with a checkbox?

[2016-06-10 19:07] colinxfleming commented on #365
Hey Scott, up to you whether you'd like to handle it in this pr. I'd say
that since we don't really need it for MVP, don't spend too much blood
sweat and tears on it, but would look nice for sure!

There's a bootstrap toggle library in vendor/assets but feel free to you
anything you like. Let me know if I can unstick anything in the process.

On Fri, Jun 10, 2016, 1:32 PM Scott Bobbitt <notificati

[2016-06-10 22:11] charleshuang80 commented on #359
OWASP was mentioned as a great resource for security issues. As a list of things to/check, this was also mentioned: https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project

[2016-06-11 14:51] #307 closed

[2016-06-11 14:53] #329 closed

[2016-06-11 15:44] colinxfleming commented on #367
Not currently, and we should add it!

Here's the relevant portion of the design:

![image](https://cloud.githubusercontent.com/assets/3866868/15985815/16fbfa94-2fbf-11e6-80b9-6d7be12b0d6c.png)

I think we'll call this resolved when:
* The last note taken renders where the placeholder is now. We should define this with a model method on `Patient` or `Pregnancy`, something like `Pregnancy#last_note`

[2016-06-11 15:45] colinxfleming commented on #367
Tagging frontend, since these are mostly frontend issues.

[2016-06-12 20:07] ewiggins opened #371 "Reach out to Consultant for Security Review"
See @ewiggins for contact information. Consultant graciously offered to review our application for security vulnerabilities. We need to reach out to him.

[2016-06-14 01:21] sco-bo commented on #365
hey sorry for the delayed response. The toggle actually looks pretty easy to do so that's fine! Would you like it to toggle between 'Voicemail/No Voicemail' or still have the question of 'Voicemail Ok?` then the toggle reading 'Yes/No'

[2016-06-14 02:30] colinxfleming commented on #365
Hey Scott, on my phone so I can't look right now but I'd say go with
whatever's in Mollie and Andrea's designs -- they're in the `_design`
directory in the repo. (You'll want to look for the PDF of the most recent
one.) Let me know if you need a hand identifying, and thanks again for
handling this.

On Mon, Jun 13, 2016 at 9:21 PM Scott Bobbitt <notifications@github.com>
wrote:

[2016-06-14 22:22] colinxfleming commented on #330
I got clearance from the board treasurer to allocate us ~$100 for dinner on these nights, so we're good on that front.

Let's repost this in the slack channel during the next meeting to move this along and get some signups.

[2016-06-14 22:27] colinxfleming commented on #9
Remixed to reflect readme changes in #356. Need to flesh out nontechnical help.

[2016-06-15 13:43] sco-bo commented on #365
Hey @colinxfleming and @mebates. The design mockup does show a toggle. I've tried to get this working over the past couple days but am not having any luck :( . I think it's a combination of the way bootstrap_forms formats the checkboxes and my limited knowledge of javascript. I don't want this to hold up the next release so maybe someone else should take a stab at implementing the toggle. Sorry gu

[2016-06-15 14:22] colinxfleming commented on #371
Probably the bulk of our vulnerabilities are going to be linux/devops based rather than application based (s/o to the team for writing good code!), so I think we can do this on the sooner side and it'll be perfectly fine.

@ewiggins do you want to to take a stab at drafting an email to the consultant?

[2016-06-15 14:28] colinxfleming commented on #365
No worries Scott! Can you push up your branch and make a PR? I'm inclined
to give it another set of eyes before we declare defeat, but let me know
what you think.

On Wed, Jun 15, 2016 at 9:43 AM Scott Bobbitt <notifications@github.com>
wrote:

[2016-06-16 02:43] colinxfleming commented on #365
Toss it all up! I'd rather have something halfway there that we can build
off of, if that makes sense?

On Wed, Jun 15, 2016 at 10:08 PM Scott Bobbitt <notifications@github.com>
wrote:

[2016-06-17 00:27] ewiggins commented on #371
@colinxfleming Yep!

Hello Mike,

It was great to meet you at the DCRUG Meetup. I enjoyed your presentation.

Thank you for offering to review the DCAF Case Managment app. We've already done most of the groundwork adding Brakeman to our Gemfile, and creating an issue to run through the OWASP Ruby and Rails Guides, but any advice you can give would be magnificent!

Here is a link to our Github: htt

[2016-06-17 04:07] #304 closed

[2016-06-17 14:25] colinxfleming opened #375 "Rewrite call logging integration test so it doesn't randomly fail"
Our capybara tests are occasionally failing randomly. I suspect this is either an issue in my writing sketch integration tests or with PhantomJS just being a jerk sometimes for no reason. Making a note to investigate.

[2016-06-17 14:27] Kevin-Wei commented on #375
Is it ajax? cause my phantom projects have a ton of ajax helpers to reduce intermittent blinking tests

[2016-06-17 14:32] colinxfleming commented on #375
They totally vary, which sucks! Sometimes it's javascript, but a lot of the
time it's stuff like 'Can't find link for Call Log on the pregnancy edit
view', which shows up on page load.

On Fri, Jun 17, 2016 at 10:27 AM Kevin Wei <notifications@github.com> wrote:

[2016-06-17 22:41] #169 closed

[2016-06-17 22:41] #340 closed

[2016-06-18 05:06] colinxfleming commented on #318
Hey @KatSDC, wanted to check in on this -- going okay? Anything I can help with/

[2016-06-18 05:19] #362 closed

[2016-06-18 15:27] #348 closed

[2016-06-18 15:43] colinxfleming commented on #375
On a lark I tried switching to selenium and it at least fails consistently! I think phantomjs just might be kinda bad for what we're doing.

[2016-06-18 22:12] colinxfleming commented on #349
Resolved on DCAF's side; also rigged up our production heroku app to point toward the DCAF subdomain. (No code changes, just some hosting tinkering.) Marking this complete.

[2016-06-18 22:12] #349 closed

[2016-06-19 04:59] colinxfleming commented on #358
Going down this for documentation's sake. Action items in bold.

#### Sessions
* Recommends setting SSL everything. We do that.
* Recommends providing a logout button. We do that.
* Recommends not storing large objects. We seem to store the current user, I'd like to store just the id, but since this isn't a devise default I assume it's a little overblown.
* Recommends not storing critical data in

[2016-06-19 05:02] colinxfleming commented on #358
#### CSRF
* Recommends using a required security token. We do this.

[2016-06-19 05:06] colinxfleming commented on #358
#### Redirection
* Recommends not doing stupid stuff with redirection. We redirect with `xxxx_path` so we're okay.
* Recommends not letting users supply URL parts to be redirected to. See above; we're good.
* Recommends taking precautions on file uploads. We currently don't allow file uploads.
* Recommends being very strict about allowing certain file downloads, and not letting users muss with par

[2016-06-19 05:11] colinxfleming commented on #358
#### Intranet
* Recommends taking a series of steps to minimize threat, including IP whitelisting and subdomaining the admin interface. **Not relevant for us at this time but good open questions we should grapple with. Let's backlog.**

[2016-06-19 05:12] colinxfleming commented on #358
#### User Management
* Recommends updating your plugins. **I'll create a ticket to `bundle update devise`.**

[2016-06-19 05:32] colinxfleming commented on #358
#### Injection
* Recommends whitelisting over blacklisting whenever possible. **We should consider assembling a whitelist of CM emails at the very least.
* Recommends protecting against SQL injection. Proud to say we're good on this one.
* Recommends sanitizing user input. **I think we're good but we should confirm that the form libraries we're using are okay. Rails offers a `sanitize` method also

[2016-06-19 05:34] colinxfleming commented on #358
#### Unsafe query generation
* Recommends having a default config on (namely, `deep_munge`). One step ahead of you on that one, guys.

[2016-06-19 05:35] colinxfleming commented on #358
#### Default headers
* Some stuff about headers. Not really relevant to us that I can tell.

[2016-06-19 05:36] colinxfleming commented on #358
#### Environmental security
* Recommends hiding env vars. We're good thanks to our use of the figaro gem.

[2016-06-19 05:38] colinxfleming commented on #358
That's all of it. I'll create issues for the bold items tomorrow and close this out then.

[2016-06-19 05:40] colinxfleming opened #378 "Run thru OWASP top 10 project"
via @charleshuang80 : https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project

[2016-06-19 05:40] colinxfleming commented on #359
Moving the OWASP top 10 to its own issue in #378. $$$

[2016-06-20 00:56] colinxfleming opened #379 "Turn on Devise::Timeoutable"
For an extra layer of security, we should make it so our sessions time out. We can do this using stuff from within our current devise install, I believe. Let's set at 2 hours initially, unless @lwaldsc or @NerdyGirl537 think we can reduce it to below that.

Action items:
* Add `:timeoutable` to user model
* Figure out how to set the timeout at 2 hours, then set it at 2 hours

[2016-06-20 01:06] colinxfleming commented on #358
Devise is hardset to `~> 3.5, >= 3.5.10` which resolves the note upthread. (Didn't PR this since it was such a minor change.)

[2016-06-20 02:06] colinxfleming opened #380 "Obscure error messages on password reset form"
When you reset your password, A security best practice from the rails guide is to obscure

Here's our current password reset page when you enter in an invalid email:

![image](https://cloud.githubusercontent.com/assets/3866868/16181437/e85867e8-3669-11e6-8fe4-da4e5f276144.png)

Based on this, someone could guess what emails do or not exist in our system, which is a security concern.

The action it

[2016-06-20 02:12] colinxfleming opened #381 "Rate-limit login form"
Right now (AFAIK) we don't rate-limit our login form, which means that you could feasibly just brute-force a password and login. We should implement some kind of rate-limiting that makes you cool off for 15 minutes after a few failed logins.

I'm sure this is something devise does, either with an extension or with something else.

(For all I know, this is already turned on! but we should confirm t

[2016-06-20 02:23] colinxfleming opened #382 "Filter out patient PII in system logs"
DCAF works with a lot of sensitive information, some of which we should definitely not be logging. We can edit by adding fields to `config/initializers/filter_parameter_logging.rb`.

Let's plan on filtering anything that looks like kinda sensitive information. To start:

* Patient: Name, primary phone, secondary person, secondary phone
* Pregnancy: Appointment date

Whoever takes on this ticket sh

[2016-06-20 02:31] colinxfleming opened #383 "Require strong passwords for users"
We should enforce a certain level of password complexity. e.g. require a lowercase character, uppercase character, and a number.

I'm agnostic as to whether we do this with a gem that extends devise or some other sort of validation on password. Google away.

[2016-06-20 02:33] colinxfleming commented on #358
Remainder of the bold flags have been moved to their own issues. Closing.

[2016-06-20 02:33] #358 closed

[2016-06-20 02:47] colinxfleming commented on #359
Running thru the first link. Again, action items in bold:

#### Command injection
* We don't use `eval`, `system`, backtick commands, or `Kernel` in any of our code. We're cool here.

[2016-06-20 02:47] colinxfleming commented on #359
#### SQL Injection
* We're safe on this front thanks to our full use of activerecord.

[2016-06-20 02:59] colinxfleming commented on #359
#### XSS
* The guide recommends that we take care about sanitizing variables if we use content_tags/html_safe/raw. We're good.
* It also recommends confirming that the href values of links aren't user-settable (e.g. someone shouldn't be able to set an attribute to `javascript:alert(‘yolo’)` and have an href destination change to that). **I'm less reasonably sure that all our links run off IDs, so

[2016-06-20 03:04] colinxfleming commented on #359
The OWASP guide is WAY better than the official rails doc. man.

#### Sessions
* **OWASP recommends using a database-backed session rather than cookie based.** This is something we can probably change with almost no hassle.

[2016-06-20 03:10] colinxfleming commented on #359
#### Authentication
A few action items from here:
* **OWASP recommends putting `before_action :authenticate_user` in applicationcontroller.** We might be doing this in effect with our routing (root vs authenticated_root) but should investigate whether or not we need to do it controller-side instead.
* **Increase password length.** This is settable via `config/initializers/devise.rb` with `config.p

[2016-06-20 03:11] colinxfleming commented on #359
#### Insecure direct object reference
* These are recommendations about setting up pundit. We aren't there yet; no action.

[2016-06-20 03:11] colinxfleming commented on #359
#### CSRF
* We use rails defaults. No action here.

[2016-06-20 03:12] colinxfleming commented on #359
#### Mass assignment and strong parameters
* We are a strong parameters project. No action item here.

[2016-06-20 03:15] colinxfleming commented on #359
#### Redirects
* I think we're good on this front since we don't allow redirecting to arbitrary stuff.

[2016-06-20 03:16] colinxfleming commented on #359
#### Dynamic render paths
* We don't do this.

[2016-06-20 03:20] colinxfleming commented on #359
#### CORS requests
* We can explore this if we ever move the frontend to react or something. As it is, no action since everything's coming from the domain.

#### Security related headers
* Rails 4 does this for us; no action.

#### Business logic bugs
* This is a reminder more than an actionable thing. No action.

#### Attack surface
* We hardset available routes so we avoid this whole class of is

[2016-06-20 03:21] colinxfleming commented on #359
#### Sensitive files
* **We should confirm that actual sensitive information is outside of config/mongoid.yml, config/initializers/secret_token.rb, and seeds.rb.

[2016-06-20 03:27] colinxfleming commented on #359
#### Encryption
* We wisely didn't roll our own; devise handles these recommendations for us.

[2016-06-20 03:29] colinxfleming commented on #359
#### Having a process of updating dependencies
* We're good on this thanks to the security suite we set up, which involves scanning for ruby and gemfile vulnerabilities as part of CI.

[2016-06-20 03:29] colinxfleming commented on #359
#### Tools
* There's a gem called `codesake-dawn` which serves as a security analyzer similar to brakeman. **We should install this and add it to our CircleCI checks.**

[2016-06-20 03:30] colinxfleming commented on #359
That's the end of this. I'll turn the bold items into issues soonish.

[2016-06-20 03:31] colinxfleming commented on #360
I was right, not really relevant to us thanks to activerecord. Thank you activerecord. Closing.

[2016-06-20 03:31] #360 closed

[2016-06-20 23:37] colinxfleming opened #384 "Confirm our links are all ID based, rather than user-input based"
The OWASP guide notes that having href values populate off of user input data creates the opportunity for someone to set a field to something that might execute arbitrary code and this is bad.

The action item here is to go thru views and confirm that any `link_to` or other HREF tags use object's BSON ids (which our system generates) rather than user-settable data (e.g. name). I'm reasonably sure

[2016-06-20 23:40] colinxfleming opened #385 "Use database-backed sessions rather than cookie-based sessions"
See the OWASP rails sheet - https://www.owasp.org/index.php/Ruby_on_Rails_Cheatsheet#Sessions

Cookies are easily user-screw-with-able; database backed sessions are a little tougher, so we should migrate to those.

This is potentially just a matter of switching a config value, but might be slightly more complicated. (If it is more complicated we should propose an edit to the OWASP wiki!) Keeping i

[2016-06-20 23:42] colinxfleming opened #386 "Is authenticated_root enough, or should we do a before_action also?"
OWASP recommends putting `before_action :authenticate_user` in our AppController (and excluding certain devise routes, so we can actually log in). We might be doing this in effect with our routing (root vs authenticated_root) but should investigate whether or not we need to do it controller-side also.

[2016-06-20 23:45] colinxfleming opened #387 "Correct actionmailer host"
In `config/environments/production.rb` -

[code]

This will eat mud since this url doesn't work anymore. We should adjust hosts, esp now that this has its own domain, etc.

[2016-06-20 23:46] colinxfleming opened #388 "Turn off 'Remember me' option on sign in"
Nah.

[2016-06-20 23:49] colinxfleming opened #389 "Validate complexity of passwords"
The OWASP sheet at https://www.owasp.org/index.php/Ruby_on_Rails_Cheatsheet#Authentication has a recommended validator for passwords in the user model as follows:

[code]

Let's plug it in!

Marking as beginner friendly because it's a good way to try out model validations; not marking as deploy since we only really need it for release 2, and not Release 1: Lisa Edition.

[2016-06-21 00:03] colinxfleming opened #390 "Install codesake-dawn gem"
In the interest of catching more security stuff, we should install and implement the `codesake-dawn` gem into our testing process!

The steps here are roughly as follows:
* Install the gem
* Figure out how to run it from the command line (probably something like `bundle exec codesake-dawn`)
* Add a command to `circle.yml` so that the command returns an error if `codesake-dawn` flags anything. Feel

[2016-06-21 00:04] colinxfleming commented on #359
Action items are turned into issues! Closing out.

[2016-06-21 00:04] #359 closed

[2016-06-21 00:17] colinxfleming commented on #324
Going thru this now and logging action items!

[2016-06-21 00:21] colinxfleming commented on #324
#### Compliance
* not relevant to us

#### Technical
* Our launch is planned (dry run, line release, full release, get tore up)
* 508 compliance not relevant at this time
* Our code coverage is great and we should brag about it, so I made a pull request to add in a codecov badge
* We aren't really running an API so that's not relevant
* **No good reason to not install google anaytics, let's do it.

[2016-06-21 00:27] colinxfleming commented on #324
#### Security and operations
* **There's a useful link to a scanner tool here - https://pages.18f.gov/before-you-ship/security/dynamic-scanning/ - This also seems useful and rails specific - https://github.com/ankane/secure_rails **
* We're all SSL everything (or at least in the process of getting there)
* No real suggestions about our specific infrastructure (other than 'the feds don't use heroku

[2016-06-21 00:28] colinxfleming commented on #324
More playbooks:
* **https://playbook.thoughtbot.com/#production**

[2016-06-21 00:28] colinxfleming commented on #324
That's all of them -- I'll spin them up into specific issues later.

[2016-06-21 00:31] colinxfleming commented on #235
I think we're unlikely to ever actually do this. I'm closing.

[2016-06-21 00:31] #235 closed

[2016-06-21 13:56] stvnrlly commented on #324
If you run into issues or find improvements, feel free to send them upstream. I know that the team that works on the guide would love that.

[2016-06-22 01:30] ewiggins commented on #371
@colinxfleming Reached out. Consultant reviewing, and will enter issues.

[2016-06-22 01:30] #371 closed

[2016-06-22 02:23] ewiggins commented on #277
@colinxfleming I give up on this. Maybe some other smart beginner can figure it out :) I'm going to work on something else.

[2016-06-22 23:14] colinxfleming commented on #371
You're a gem -- thanks Elisheba!

On Tue, Jun 21, 2016 at 9:30 PM Elisheba <notifications@github.com> wrote:

[2016-06-23 03:02] colinxfleming commented on #327
Took care of this heroku-side this evening. In the interest of not beating on it, I just went with the SSL endpoint option within heroku ($20) and the SSLEndpoint module ($15).

After we hit MVP we can revisit for a cheaper option, but I'm comfortable throwing money at it for a month or two.

[2016-06-23 03:03] #327 closed

[2016-06-23 03:13] colinxfleming opened #393 "Install google analytics"
I'm pretty sure DCAF has an account already -- I'll see if I can't dig up keys and pop in the slugs.

[2016-06-23 03:16] colinxfleming opened #394 "Run dynamic scan with ZAP Spider"
From the 18F and guide, this tool - https://pages.18f.gov/before-you-ship/security/dynamic-scanning/

In a nutshell, follow this on dcaf-cmapp-staging and see if it returns anything on either. If so, document in this thread so we can turn them into action items!

[2016-06-23 03:17] colinxfleming opened #395 "Run thru SecureRails guide"
Another guide to go thru before deployment? Wooooo!

Unlike certain other guides this one looks super useful -- https://github.com/ankane/secure_rails

Same deal, go thru the rack and document any action items.

[2016-06-23 03:18] colinxfleming opened #396 "Run thru Thoughtbot playbook"
https://playbook.thoughtbot.com/#production

[2016-06-23 03:18] colinxfleming commented on #324
Will do, @stvnrlly !

Closing out since we've got issues for these now.

[2016-06-23 03:18] #324 closed

[2016-06-23 17:11] colinxfleming commented on #396
Going down the checklist:

* We're on the latest heroku stack
* **We're currently using Unicorn instead of Puma; we should switch. Heroku deployment guide is here: https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server**
* We don't have any long running jobs at this time, that I know of.
* We're good on redundant processes
* We're using SSL
* We define a safe r

[2016-06-23 22:23] colinxfleming commented on #395
Down the line:

* **We should pass thru everything and make sure every use of a secret is within an env var, just to be extra safe**
* We're injection-safe
* **We aren't using secureheaders, whatever those are -- https://github.com/twitter/secureheaders **
* We're SSL kosher -- thanks @Kevin-Wei
* **We should look into `attr_encrypted` for hiding sensitive info at rest -- https://github.com/attr-e

[2016-06-23 22:29] colinxfleming commented on #277
@ewiggins I'm gonna take yr PR and run with it! Sorry that this turned out to be way more of a pain in the ass than I thought it was going to be.

[2016-06-23 23:25] eheintzelman opened #397 "Build call list: automatically populate search result with name/phone number"
After searching for a patient by name or phone number, the user gets prompted to create a new patient if the search produced no results.  Could the form field for name/phone number get automatically populated based on the search input (i.e., either name or phone number)?

[2016-06-23 23:30] eheintzelman opened #398 "Make new patients show up in the call list after creation"
After creating a new patient using the build call list function, the new patient does not show up in "your call list."

[2016-06-23 23:38] eheintzelman opened #399 "Urgent cases list: question about add/remove"
What do folks think about the use of add/remove for the urgent cases list?  I'm concerned that a user could interpret this as add/remove from the urgent cases list, not the call list as intended.

@mebates @lwaldsc @NerdyGirl537 your thoughts?

[2016-06-23 23:46] eheintzelman opened #400 "Strip `add/remove` from the Completed Calls section"

[2016-06-23 23:49] eheintzelman opened #401 "Abortion information: Format cost field"
Format abortion cost field for $

[2016-06-23 23:58] eheintzelman opened #402 "Change Patient#secondary_person and Patient#secondary_phone fields"
Should secondary person and secondary phone number be placed in a less prominent position on the layout?  As it is, it appears whether age, race/ethnicity, city, state etc. are descriptors for the patient or for the secondary person.

[2016-06-24 00:01] eheintzelman opened #403 "Edit changelog entries to appear in reverse chronological order"
Change log is in chronological order, whereas Call Log is in reverse chron order.  Can we make these consistent?

How about making the Change Log reverse chron.

[2016-06-24 03:02] colinxfleming opened #404 "Pregnancy edit form should save via ajax"
(TK technical requirements)

[2016-06-24 17:12] eheintzelman opened #405 "Usability testing - draft testing script"
Here is a draft usability script to use with a few DCAF case managers.  The idea is to get feedback on the design from case managers who are familiar with the process but who haven't seen the system design before.

I drafted scenarios to test what I think are the key functions.  Feedback would be great on any recommended changes/additions  @lwaldsc @mebates @NerdyGirl537

[2016-06-24 17:13] eheintzelman commented on #405
Introduction
	- Testing DCAF Case Manager system to see what it is like for people to use it
	- Will take 30-45 minutes
	- Will ask you to complete tasks in the system and want to hear exactly what you are thinking as we go
	- Testing the system not you.  Want your honest feedback
	- Feel free to ask questions as you go
	- If recording (do we want to?), explain that only people working on the proj

[2016-06-24 22:38] colinxfleming commented on #403
This is likely a pretty straightforward change in `app/views/pregnancies/_change_log.html.erb`! Marking as beginner friendly, since I think it's a good entrypoint into our codebase.

Compare to `app/views/pregnancies/_notes.html.erb` for an example of the reverse chron.

[2016-06-24 22:38] colinxfleming commented on #402
@mebates gonna let you handle this one!

[2016-06-24 22:56] colinxfleming commented on #400
This issue came out of a good insight from @eheintzelman -- by the time someone's considered a completed call, you don't really need to take them off your call list.

This involves an edit to `app/views/dashboards/_table_content.html.erb` around the part that determines whether the add or remove pregnancy link shows up.

[2016-06-24 23:00] colinxfleming commented on #398
Another great ux insight from @eheintzelman -- after a user creates a new patient, we should automatically add them to the call list, since there isn't really a scenario where we make a new patient and then don't try to call them.

The task here is to edit the pregnancy create route so that this action takes place.

[2016-06-24 23:01] colinxfleming commented on #397
@eheintzelman is 100% right, this is really annoying! This is probably an edit to the search function in `DashboardsController`, and probably to `app/views/dashboards/search.js.erb` as well.

[2016-06-24 23:18] colinxfleming opened #406 "Switch to puma instead of unicorn for web server"
The era of forking is over; long live the era of concurrency. Let's switch our server gem from unicorn to puma.

Mostly this will entail following these directions: https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server

[2016-06-24 23:19] colinxfleming opened #407 "Send logs to a remote service"
From the thoughtbot deployment playbook -- https://playbook.thoughtbot.com/#log-collection

The free option is the way to go.

[2016-06-24 23:20] colinxfleming opened #408 "Omnibus list of DB concerns: backup, size, sustainability"
Our mLab install is just the easy-peazy, straightforward one -- this might get dicey as we scale it up. When do we graduate from Free to Paid?

[2016-06-24 23:21] colinxfleming commented on #408
(Sub-question: BACKUPS??? 😬 )

[2016-06-24 23:22] colinxfleming opened #409 "Set up new relic"

[2016-06-24 23:22] colinxfleming opened #410 "Set up airbrake"

[2016-06-24 23:23] colinxfleming commented on #396
Issue-icized; closing

[2016-06-24 23:23] #396 closed

[2016-06-24 23:23] colinxfleming opened #411 "Make sure secrets are all within env vars"

[2016-06-24 23:27] colinxfleming opened #412 "Install secure_headers gem"
https://github.com/twitter/secureheaders

[2016-06-24 23:28] colinxfleming opened #413 "Use attr_encrypted for protecting sensitive data at rest?"
Leaving this here for now -- https://github.com/attr-encrypted/attr_encrypted

[2016-06-24 23:29] colinxfleming opened #414 "Edit config to prevent host header injection"
Bust open into config/environments/production and edit the following:

[code]

[2016-06-24 23:29] colinxfleming opened #415 "Autoemail on email address and password changes"
If not, we should! Let's make sure this is the case, so that users are alerted to account tampering.

[2016-06-24 23:31] colinxfleming commented on #381
Here's a handy library for this: https://github.com/kickstarter/rack-attack

[2016-06-24 23:32] colinxfleming opened #416 "Prevent caching of pages with sensitive information"
http://stackoverflow.com/questions/711418/how-to-prevent-browser-page-caching-in-rails/748646#748646

[2016-06-24 23:33] colinxfleming commented on #395
Issue-icized; closing!

[2016-06-24 23:33] #395 closed

[2016-06-25 02:56] mccabe615 opened #417 "Password Complexity?"
Should there be stronger requirements on password strength? Such as, minimum 10 characters, include at least one, special char, number, upper case and can't use the word password in any form.

[2016-06-25 03:14] mccabe615 opened #418 "Email Enumeration on Forgot Password"
When resetting your password if you include a valid email you get a success message and with an invalid one you get an error. This can lead to email enumeration which can then be used to brute force credentials. I believe this is happening in devise not the app proper. I need to look into how this can be changed to show the same error message even if the user isn't found.

*Valid user:*

<img widt

[2016-06-25 15:08] colinxfleming commented on #417
I think the example in this ticket is definitely a floor! Do you want to
whip up a regex that we can use to increase the strength of the
requirements?

On Fri, Jun 24, 2016 at 10:56 PM Mike McCabe <notifications@github.com>
wrote:

[2016-06-25 15:08] sco-bo commented on #383
Googled around and found [this](http://excid3.com/blog/rails-tip-adding-password-complexity-validations-to-devise) handy validation. It doesn't look like devise has any password complexity baked in, however there's [this](https://github.com/phatworx/devise_security_extension) gem which does a lot of different things in addition to strong passwords. I can implement that first validation, or if it s

[2016-06-25 15:11] colinxfleming commented on #417
Let's move further discussion of this to #389 -- going to close this out.

[2016-06-25 15:13] colinxfleming commented on #389
@mccabe615 pointed out the following in #417 : "Should there be stronger requirements on password strength? Such as, minimum 10 characters, include at least one, special char, number, upper case and can't use the word password in any form."

He's definitely right that the regexp above is a bare minimum and that we should ratchet up the complexity, as well as not allowing any 'password1234' kinda s

[2016-06-25 15:13] #417 closed

[2016-06-25 17:44] colinxfleming commented on #375
Renaming to reflect changes made in #420.

These test failures mostly seemed to be coming from capybara testing before the page had actually loaded, or javascript had actually executed. In most places this is fixed, but we're still experiencing a few random failures in the Logging Calls integration test as follows (try running the command `ruby -e "for i in 1..10 do; system 'rake test TEST=test/in

[2016-06-25 19:22] mccabe615 commented on #389
@colinxfleming I'll try to take a crack at a PR in the next couple of days to add a complexity validation for this.

[2016-06-25 19:28] colinxfleming commented on #389
Thanks, bud. Let me know if you run into any trouble spots or if there's
anything I can unstick for you.

On Sat, Jun 25, 2016 at 3:22 PM Mike McCabe <notifications@github.com>
wrote:

[2016-06-25 20:14] #229 closed

[2016-06-25 21:15] #177 closed

[2016-06-25 21:21] colinxfleming commented on #224
The consensus from the CM team is that this field is generally used to get a sense of whether or not they qualify for additional funding based on their FPL, so we'll want to break this out into adults/children in household. Extended comments below:

From Meghan:
[code]

[2016-06-25 21:33] colinxfleming commented on #224
In short, let's go ahead with splitting this into two. Action item here is to:

* Split `Pregnancy#household_size` into `household_size_children` and `household_size_adults`
* Alter the view in `app/views/pregnancies/_patient_information` accordingly

[2016-06-26 00:22] #200 closed

[2016-06-26 02:52] #124 closed

[2016-06-26 02:52] #126 closed

[2016-06-26 02:52] #242 closed

[2016-06-26 02:52] #243 closed

[2016-06-26 03:14] #409 closed

[2016-06-26 03:44] colinxfleming commented on #410
This costs money and I don't think it's worth spending money on. Marking closed.

[2016-06-26 03:44] #410 closed

[2016-06-26 03:50] #406 closed

[2016-06-26 03:57] colinxfleming commented on #384
I'm satisfied that we're okay on this front. Marking complete.

[2016-06-26 03:57] #384 closed

[2016-06-26 17:11] #367 closed

[2016-06-26 19:24] colinxfleming commented on #277
Turns out concerns are a lying demon hellchild. Closing as a wontfix.

[2016-06-26 19:24] #277 closed

[2016-06-26 22:02] ewiggins commented on #277
I know right! I don't usually quit things, but I was starting to hate concerns with a passion!

[2016-06-26 22:08] ewiggins commented on #390
I'll take this on tomorrow. @colinxfleming after testing, do you want this to be added to the gemfile?

[2016-06-26 23:18] #414 closed

[2016-06-27 02:00] #312 closed

[2016-06-27 02:01] colinxfleming commented on #393
Slugs popped in!

[2016-06-27 02:01] #393 closed

[2016-06-27 22:52] mebates commented on #405
@eheintzelman this is so fabulous. I'm sorry I didn't get you any feedback before the interviews! But thank you so much for taking this on; I think you script is great.

[2016-06-27 22:58] mebates commented on #336
@eheintzelman essentially created some great QA tasks in her Usability Test issue #405.

[2016-06-27 23:03] mebates commented on #399
Yeah this and the #400 issue came up because at plus/minus got misinterpreted as an add/remove. (full history in #305). I think we can just remove the 'add/remove' in urgent cases for now!

[2016-06-27 23:04] mebates commented on #401
:dollar:
Thanks @eheintzelman

[2016-06-27 23:05] mebates commented on #403
+1. Thanks @eheintzelman

[2016-06-27 23:13] mebates commented on #402
Ahh okay so this got misinterpreted from design to code. The original design's intent had a _duplication_ of the First/Last name and phone of the patient and then a secondary phone for that person.

Original Design:
![image](https://cloud.githubusercontent.com/assets/6223901/16398777/fa273116-3c9a-11e6-906d-6606c19be9ce.png)

I suggest two possible solutions:
1) Match the original design and make

[2016-06-27 23:23] lwaldsc commented on #330
Just for the record, I have some pretty decent takeout/delivery places around Capital Hill.

[2016-06-27 23:26] mebates opened #432 "Hide fake budget bar until it is real"
Before we launch the system to Lisa or others, can we comment out the fake budget bar?
We can leave the part that says "Week of X - X" if that's easy.

[2016-06-27 23:32] charleshuang80 opened #433 "OWASP: Run through RailsGoat for Ruby on Rails vulnerabilities"
[OWASP description](https://www.owasp.org/index.php/OWASP_Rails_Goat_Project):

Usage information on the [RailsGoat page](http://railsgoat.cktricky.com/getting_started.html):

Essentially, I think @colinxfleming and other interested devs (especially anyone else checking PRs) should run through the app to learn about Rails specific vulnerabilities and make sure we don't have them.

[2016-06-27 23:32] charleshuang80 commented on #433
[RailsGoat project github](https://github.com/OWASP/railsgoat)

[2016-06-27 23:34] mebates opened #434 "'Special circumstances' should be checkboxes, not a dropdown"
Patients can have more than one 'Special Circumstance' at a time. For MVP, you could eliminate the 'Other' plus text field for now and add it later.

![image](https://cloud.githubusercontent.com/assets/6223901/16399170/132c0120-3c9e-11e6-86c3-02bfdf49ae02.png)

[2016-06-27 23:41] mebates commented on #203
Bumping this up. Do we have required fields for submission?

[2016-06-27 23:46] charleshuang80 opened #435 "Get/Run Brakeman Pro"
We have already added Brakeman and are addressing the vulnerabilities (#283, #301). However, @mccabe615 mentioned Brakeman Pro in his presentation to DCRUG, stating that it has some deeper testing and analysis and is cost effective. Plus, there is a free trial if that helps. More info on the [differences between the paid version and open source version here](https://brakemanpro.com/pro_vs_oss).

[2016-06-27 23:49] mebates commented on #146
Tonight our test user was slowed down by having to enter the Clinic name and full address (this is more than the current spreadsheet asks for). For MVP, should we drop in a list of clinic names and eliminate the address part? Does the CM need to know the address in the system or can they can that info somewhere else?

[2016-06-28 00:02] mebates commented on #303
The left navigation should also be a larger font-size; it is 17 px now and it should be 22 px. Users aren't noticing the left navigation very well.

[2016-06-28 00:06] mebates commented on #404
As a case manager, I expect that the app will save information I input as I tab or click through the form, so that I can work quickly and navigate between sections without having to click a save button.

cc: @eheintzelman for your awareness!

[2016-06-28 00:13] charleshuang80 commented on #261
I will be working on this.

Pledge modal should pull information from the Pregnancy attributes.
* optional: trigger save
* Add form to app/views/pregnancies/new_pledge that creates and saves a new pledge associated with that pregnancy
** pledge should be of pledge_type final_dcaf, other information should populate from the pregnancy object
** pledge amount should be hard set to $100, until further

[2016-06-28 12:39] mccabe615 commented on #435
I reached out to Justin Collins at Brakeman to see if he can give DCAF a discount or free license. I'll update here once I hear back.

[2016-06-28 18:34] sco-bo commented on #389
@colinxfleming just checking, is #383 a duplicate?

[2016-06-28 23:33] KatSDC commented on #318
@colinxfleming Yes actually I encountered another error once I upgraded Rails that was resolved by also altering the output of the array with the to_s method. So I'm happy to resubmit with the clearer name. Additionally, I was able to resolve the order of the changelog for issue #403. Would you like me to submit that along with the updates to the patient model? Or should I save that for a differen

[2016-06-28 23:56] #365 closed

[2016-06-29 00:55] eheintzelman commented on #405
**Usability Testing Summary – 3 Users
6/27/16**
 
**Priority Changes/Fixes**
 
1 - Dashboard: After creating a new patient, automatically add patient to the call list [3 users]
 
2 -  Save information entered as the user navigates between tabs or consider putting a save bottom at the bottom of the form, which seems more intuitive to the CMs than having the save button on the side.  Also make sure

[2016-06-29 01:37] eheintzelman commented on #402
Based on the usability tests yesterday, it seems important to be able to designate a secondary person in cases where a mother or grandmother or other person makes the arrangements for a patient.  And that is the person that the CM should be in contact with.  But the CMs didn't like the term "secondary person".  One CM suggested 'Primary Contact (if not the patient)"

[2016-06-29 01:40] eheintzelman commented on #146
Based on the testing yesterday, the clinic address isn't essential.  One CM said that she sometimes googles a clinic's address to pass it onto the patient.  So it would be helpful, but not essential for MVP.

[2016-06-29 01:59] #318 closed

[2016-06-29 02:01] #381 closed

[2016-06-29 02:05] colinxfleming commented on #435
@mccabe615 that'd be dreamy. Let me know if there's anything I can do to assist on that front (pulling nonprofit paperwork, etc).

[2016-06-29 02:13] #432 closed

[2016-06-29 02:19] colinxfleming commented on #418
It looks like Devise has a `paranoid_mode` that you can turn on in the configs, that might include this? Investigating!

https://github.com/plataformatec/devise/search?utf8=%E2%9C%93&q=paranoid

[2016-06-29 02:49] colinxfleming commented on #412
This winds up being tricky because it's a real bear about ajax. I'm working on it.

Leaving this note here:

[2016-06-29 13:49] KatSDC commented on #403
I have a solution for this! Just tying up loose ends and then I'll submit the PR.

[2016-06-29 15:35] mccabe615 commented on #435
Hey @colinxfleming @charleshuang80 I heard back from Justin at Brakeman. They said they could give the project a free license! What email and name should be associated with it? I'll send over the details.

[2016-06-29 22:24] colinxfleming commented on #435
That RULES. Thanks for reaching out, @mccabe615 !

Can we associate with DCAF as an org? Name can be `DC Abortion Fund`, email can be `info at dcabortionfund dot org`.

[2016-06-29 22:35] colinxfleming commented on #434
I'll revert this to a plain text field for the time being.

In the long term, this probably involves setting up an associated special circumstance model with the options, and then doing a has_many :through. Or at least that's how you do it in postgres, might be a little different in Mongo.

Backlogging for the time being.

[2016-06-29 22:38] #380 closed

[2016-06-29 22:38] #418 closed

[2016-06-29 22:57] colinxfleming commented on #383
@sco-bo sorry, missed yr post the first time thru! Let's pocket that gem as something to look at after deploy. I like the idea of adding `session_limitable` a lot.

What do you think about just implementing that validation in the first link for the time being?

[2016-06-30 17:44] sco-bo commented on #383
Ya I can do totally do that @colinxfleming! Is this a duplicate of #389?

[2016-06-30 19:56] colinxfleming commented on #383
Scott -- yeah, these seem to naturally flow into each other, don't they?

Thoughts about closing this one and moving discussion / tracking to #389?

On Thu, Jun 30, 2016 at 1:47 PM Scott Bobbitt <notifications@github.com>
wrote:

[2016-06-30 20:50] sco-bo commented on #383
Ya sounds good to me!

[2016-06-30 21:46] colinxfleming commented on #405
This is really fantastic and very actionable feedback. I'll spin these into
individual issues and get feedback from Lisa and Jenn where appropriate.

@eheintzelman should we save the script in the repo as well, so we can
version control it and use it in the future?

On Tue, Jun 28, 2016 at 8:55 PM eheintzelman <notifications@github.com>
wrote:

[2016-07-01 13:19] eheintzelman commented on #405
I neglected to include all the positive things the CMs had to say during the usability testing!  It seemed very intuitive for them and they were able to work through the majority of tasks without any prompting.  Great design!

@colin where can I save script in the repo?

[2016-07-01 13:34] mccabe615 commented on #435
Justin sent an email with the info to that email. Let me know if you need anything else.

[2016-07-02 15:27] colinxfleming opened #446 "Fix integration tests, again"
* The call list test is breaking EVERYTHING due to Timecop - currently commented out
* A few other integration tests fail randomly in CI (expected false to be truthy). Suspect the problem is their not waiting long enough, but should investigate

Raised by @ashlynnpai in #445

( @ashlynnpai raised that for timecop we should either add an `after` hook of `Timecop.return` or `Capybara.reset_sessions!

[2016-07-02 15:40] colinxfleming commented on #146
I think that taking out clinic address is right on and moving this to a dropdown is right on. I think long term I'd like to have some kind of reference file where this kinda stuff will autopopulate as a read-only field, but that's probably a release 2 or 3 kinda thing.

I'll spin up a new issue for 'select clinic from dropdown for mvp', and change this to a backlog issue like 'load clinic info fro

[2016-07-02 15:45] colinxfleming opened #447 "Change clinic from a text field to a dropdown"
Having to fill out a full clinic address like we ask for now is overdoing it. Let's strip this down to just the bare element for MVP as follows:

* Remove the clinic address fields entirely (e.g. just leave `Clinic Name` and strip street address 1 and 2, city, state and zip);
* Turn Clinic Name into a select;
* Have clinic name populate from a method in `pregnancies_helper`.

Stems from discussion

[2016-07-02 15:49] colinxfleming commented on #146
There we go, nice and boring and technical. Steps here are:

* Figure out a YAML/JSON format  for clinics that reflect information worked out in tandem with CM team (starter kit: Address, spanish speaking-ness, costs)
* Make available as a general reference in the app
* Have clinic in the pregnancy edit form consume that YAML file to populate the dropdown

Tagging as admin and backlog.

[2016-07-02 15:57] colinxfleming commented on #402
I think `Primary contact (if not the patient)` will work nicely. This will wind up being just a matter of altering the label on the form at minimum, and probably some trivial backend work to reflect the new nature of the field. Changing this to `backend`/`deploy`.

Action items for the person that takes it on:
* Adjust the `Patient` model; change `secondary_person` to `other_contact`, and `seconda

[2016-07-02 15:59] colinxfleming commented on #402
(@eheintzelman @mebates let me know if any of that should be adjusted.)

[2016-07-02 16:03] colinxfleming commented on #405
+1 on these designs absolutely slaying. I think it reflects extremely well on our process (and @mebates 's brain and hard work!) that @eheintzelman was able to basically chuck our CMs in the pool and see them all figure it out without much trouble.

@eheintzelman I'd say either create a new directory in the root (something like `_usertesting`) or pop them into a directory within `_design`.

[2016-07-02 16:08] colinxfleming opened #448 "Make notes expander snap to grid"
see below:

![screen shot 2016-07-02 at 12 08 11 pm](https://cloud.githubusercontent.com/assets/3866868/16541330/bd81297c-404d-11e6-896a-636fe46e4be3.png)

[2016-07-02 16:31] colinxfleming opened #449 "Adjust search to allow for names or phones similar to others"
From user testing in #405 comes this recommended feature:

First things first is probably to spec out some examples or test cases: Given a patient we're looking for and an entry, what do we expect it to return?

Marking question and backlog for now until we hash this out.

[2016-07-02 16:34] colinxfleming opened #450 "Find some way to represent the primary contact so CMs know who they're talking to"
From user testing in #405 --

Throwing it up to UX on how to represent this.

See also #402 for part of the technical changes here.

[2016-07-02 16:35] colinxfleming commented on #450
punching in @lwaldsc @NerdyGirl537 -- how does this work in the sheet currently?

[2016-07-02 16:36] colinxfleming commented on #146
Observation from #405 -

[2016-07-02 16:37] colinxfleming opened #451 "Change order of tabs in pregnancy edit view"
From #405 -

The people have spoken, let's make this edit to `app/views/pregnancies/_menu`. Note that you'll also want to change it so that the active tab on page load is Patient Information.

Straightforward fix! Marking beginner friendly and frontend.

[2016-07-02 16:45] colinxfleming opened #452 "Questions about our status field - needs appointment vs fundraising? add soft pledge category?"
Raised in #405 -

+ @lwaldsc and @NerdyGirl537 to assist.

Open questions:
* Should we add a `Soft pledge` status? Probably. Thoughts?
* Should we merge `Needs Appointment` and `Fundraising`? Is there a better way to represent `Needs Appointment` than actual status, or is this something that we should keep as its own stage in the process? What would be most helpful and intuitive here?

Pledge subm

[2016-07-02 16:47] colinxfleming opened #453 "Change LMP to Weeks Along in patient edit view"
From #405 -

This is, in fact, confusing as hell. Is there a cleaner way to do this?

@lwaldsc @NerdyGirl537 @mebates @eheintzelman

[2016-07-02 16:48] colinxfleming opened #454 "How do we effectively transition from one week to the next?"
From #405 -

@lwaldsc @NerdyGirl537 @mebates

[2016-07-02 16:54] colinxfleming opened #455 "Add representation of language"
From #405 -

We've kind of skirted around language for awhile, but we're coming up on a point where we'll need to start working this in. My questions to start:

* Is a checkbox enough? Should we have a dropdown of 'select primary language' in the event that we get, like, a mandarin speaker on the line, or do we only ever really care about spanish?
* what UX adjustments should we make on this?

cc

[2016-07-02 16:58] colinxfleming opened #456 "Add text field to specify medical issues to abortion information?"
From #405 -

Thoughts? @NerdyGirl537 @lwaldsc @mebates @eheintzelman

[2016-07-02 16:59] colinxfleming opened #457 "Create way to resubmit pledge if there are changes"
From #405. Placeholder issue for now; not sure what this looks like yet but we'll need it for release 2 probably. marking backlog.

[2016-07-02 17:00] colinxfleming commented on #119
Raised in #405 -

[2016-07-02 17:02] colinxfleming opened #458 "Add voicemail notes?"
From #405 -

Thoughts @lwaldsc @NerdyGirl537 ? Would this have utility, is there a way we can box it up into a few set options or would free text be better, are there other ways we can press this into service?

[2016-07-02 17:04] colinxfleming opened #459 "Pledge confirmation should specify what state user is in"
From #405 -

Let's add this to the pledges modal in `app/views/pregnancies/_pledge`. Nothing fancy.

[2016-07-02 17:08] colinxfleming opened #460 "Add helper text for income"
From #405 -

Tagging in @lwaldsc @NerdyGirl537 @mebates @eheintzelman -
- What should we make helper text for?
- What copy be in the helper text?
- What is in the spreadsheet that we can crib from?

[2016-07-02 17:10] colinxfleming commented on #405
Created or linked issues in the user testing checklist above. @eheintzelman let's close this out when we merge a pull request with the script in it. Thanks again to you and Sabrina for your absolutely fantastic work on this front -- stuff like this is what turns a great product into a fabulous one.

[2016-07-02 17:14] colinxfleming commented on #435
@mccabe615 thanks a TON for hooking this up, this is really fantastic. Email is received with info, I'm going to get it all set up over the weekend sometime.

[2016-07-02 20:27] #308 closed

[2016-07-02 20:27] #404 closed

[2016-07-02 21:55] colinxfleming opened #461 "Spin up prod db"

[2016-07-02 21:57] colinxfleming opened #462 "Send Brakeman team a thank you card"
The most important words in language are: please and thank you! In keeping with that, we should make sure to send the Brakeman folks a thank you card.

Should get signatures from the dev / ux teams as well as the DCAF board.

[2016-07-02 22:14] colinxfleming commented on #435
High five, everyone --

![image](https://cloud.githubusercontent.com/assets/3866868/16542690/cec80326-4080-11e6-8152-72c291c2cb7f.png)

[2016-07-02 22:27] colinxfleming commented on #435
Remaining task to do here is to see whether or not we should adjust our CI (I suspect not, but I'll do some googling).

[2016-07-03 03:16] colinxfleming commented on #435
Closing out -- I think we're in the clear! I'll rerun against master a few times as we get closer to release day, but I think we're good here.

Thanks again to @mccabe615 for hooking this up!

[2016-07-03 03:16] #435 closed

[2016-07-03 03:43] colinxfleming commented on #407
I spun up a heroku logentries (tryit version, so free as hell) for our staging and prod environments. Not sure that they're working yet but I'll keep an eye on them tonight and see what happens.