[2016-07-03 04:06] #411 closed

[2016-07-03 04:16] #416 closed

[2016-07-03 04:35] colinxfleming commented on #379
Closed in #445

[2016-07-03 04:35] #379 closed

[2016-07-03 04:39] #385 closed

[2016-07-03 04:49] #386 closed

[2016-07-03 05:04] #134 closed

[2016-07-03 05:21] colinxfleming commented on #412
This seems to be more trouble than it's worth. Strikes me as absolutely ideal for APIs, not so great for things that utilize rails views as heavily as we are.

If someone with more experience getting this to work with js wants to pick this up it's in the branch `secure_headers`.

[2016-07-03 16:28] colinxfleming commented on #388
Fixed in #444

[2016-07-03 16:28] #388 closed

[2016-07-03 16:54] colinxfleming commented on #387
Adjusted this in staging and prod on the backend, we're all clear. Closing.

[2016-07-03 16:54] #387 closed

[2016-07-03 17:09] colinxfleming commented on #194
Looks like this has fallen off -- going to knock it out this afternoon.

[2016-07-03 17:31] colinxfleming opened #471 "Create integration test for marking someone urgent"
Via an integration test, we should write the following script:
- Create a patient and pregnancy
- Go to their pregnancy edit view
- Pop open the Notes section
- Confirm that the urgents box isn't checked
- Click the urgents box
- Nav back to the dashboard view
- Confirm that the patient is showing up in the urgent cases section

[2016-07-03 21:21] CamLatimer commented on #194
Ah. Sorry for getting sidetracked.

[2016-07-04 02:15] colinxfleming commented on #194
No worries! TBH this got a lot easier than it would have been otherwise
after I refactored the forms to all run ajax, so I'm glad we waited on
this.

On Sun, Jul 3, 2016 at 5:21 PM Cam <notifications@github.com> wrote:

[2016-07-04 05:14] #194 closed

[2016-07-04 05:38] colinxfleming commented on #397
Taking care of this tonight

[2016-07-04 14:34] mebates commented on #402
Sounds fine to me. We can adjust in the future if it's not working for CMs.

[2016-07-04 14:35] mebates commented on #450
We can talk more about this on Wednesday and design a new mockup.

[2016-07-04 14:36] mebates commented on #453
What if the label just said "LMP" ?

[2016-07-04 14:38] mebates commented on #456
I think the CM could use the 'Notes' section for this.

[2016-07-04 14:40] mebates commented on #460
We can work on this as we expand to new users and figure out where they are having trouble. Marking as backlog.

[2016-07-04 14:42] mebates commented on #405
@eheintzelman GitHub let's you drag and drop files now, so you can create a new folder and just drag in. I can help you on Wednesday if you'd like. Awesome job on the testing AND summarizing the results into clear next steps. THANK YOU!!!

[2016-07-04 14:43] mebates commented on #454
This seems like a great user story that could/should be prioritized into our next Release. I'll add it to the wiki.

[2016-07-04 15:48] colinxfleming opened #475 "Nice to have: Write a script to import spreadsheet data into the system"
Since Lisa will be picking up the work of the person who came before her, we'll want to give her a little bit of seed data so she can have a more realistic experience of what using the system is like in a live-fire situation.

Let's plan on writing some kind of script (and checking it into version control so we can iterate on it as we continue to roll out) that will let us take a spreadsheet and d

[2016-07-04 15:57] colinxfleming commented on #456
I kind of agree with @mebates -- seems like we can find a way to represent this within the current.

@lwaldsc @NerdyGirl537 are medical issues represented in the sheet anywhere currently?

[2016-07-04 16:10] #451 closed

[2016-07-04 16:31] colinxfleming commented on #447
Knocking this out this morning

[2016-07-04 19:18] colinxfleming commented on #335
@lwaldsc can you live without this for the dry run and just keep tabs on it in the notes? I'm moving to backlog for the time being.

Tagging in UX since I'm not sure where to pop this attribute in.

[2016-07-04 19:24] colinxfleming commented on #378
I'm gonna backlog this -- we've gotten a lot of this out of the way, and I think we should revisit when we get closer to release 2.

[2016-07-04 19:28] colinxfleming commented on #415
Devise doesn't do this out of the box, but we can backlog and keep on deck for release 2.

Here's a set of directions to implement - https://github.com/plataformatec/devise/wiki/Notify-users-via-email-when-their-passwords-change

[2016-07-05 03:29] colinxfleming commented on #407
We're in business. Closing.

[2016-07-05 03:29] #407 closed

[2016-07-05 15:52] NerdyGirl537 commented on #456
@colinxfleming we have a column at the end of the spreadsheet with a dropdown.  It also includes other issues such as homeless and domestic violence.

[2016-07-05 15:53] NerdyGirl537 commented on #475
@colinxfleming @lwaldsc if you don't have time to get to the script I'll help input the data by hand.

[2016-07-05 15:55] NerdyGirl537 commented on #453
That's what the spreadsheet has: just 'LMP'

[2016-07-05 15:59] NerdyGirl537 commented on #458
I don't know that it would be very useful to have a separate option.  We usually put that in the notes section along with other instructions the patient may have left in the voicemail.

[2016-07-05 15:59] lwaldsc commented on #456
@colinxfleming <https://github.com/colinxfleming> @NerdyGirl537
<https://github.com/NerdyGirl537> @mebates as I mentioned to Colin the
other day, I think the 'other issues' dropdown should be checkboxes if
possible (dealt with in #434) I don't know if this is possible with the
system as it is right now but it's sometime to think about moving forward.
This is could also include "medical issues (see

[2016-07-05 16:02] NerdyGirl537 commented on #455
On a Spanish language caller, we usually hand them off to a Spanish speaking CM.  We only deal with that patient from that point on with regards to the weekly budget.  Everything else is managed by the Spanish speaking CM.

[2016-07-05 16:09] lwaldsc commented on #455
I've never encountered anything other than Spanish, but maybe just make the
checkbox "Non-English Speaker" and we can indicate in the notes something
like "Spanish speaker, handed off to CM xxxxx".

On Tue, Jul 5, 2016 at 12:02 PM, NerdyGirl537 <notifications@github.com>
wrote:

[2016-07-05 16:09] NerdyGirl537 commented on #452
I think some of this is training and getting used to the system.  Usually, 'Needs Appointment' also means 'Fundraising' because the patient really hasn't started the process.  However, I like having the two categories so I can tell how far the patient is in the process.  The way we've set it up, when I see fundraising, I know I can go straight to talking about NAF and other funds and how the patie

[2016-07-05 16:41] lwaldsc commented on #335
Yeah. Not a problem. Definitely something we need to tackle, but I can just
indicate it in the excel as well.

On Mon, Jul 4, 2016 at 3:18 PM, Colin <notifications@github.com> wrote:

[2016-07-05 16:45] lwaldsc commented on #452
Agree with @nerdygirl537. I think it's just an issue of defining what the
statuses mean to the CMs during training. Needs appointment is a distinct
part of the process and what we can expect to discuss with the PT when we
call.

On Tue, Jul 5, 2016 at 12:09 PM, NerdyGirl537 <notifications@github.com>
wrote:

[2016-07-05 22:32] colinxfleming commented on #452
@NerdyGirl537 To be clear on the soft pledge front, this isn't a matter of whether or not we're representing soft pledge at all (we are), but whether or not it's worth spinning into its own status.

[2016-07-05 22:53] colinxfleming commented on #455
If we only ever really worry about Spanish then a checkbox for Spanish instead of a dropdown is fine for release 2, I think.

Probably the next step here in the longer term is looking at DCAF's data and seeing if we ever see other languages, and asking the CM Director team what happens when other languages pop up (or if they do at all)!

This might also speak to a need to be able to clearly identi

[2016-07-05 23:19] colinxfleming commented on #456
@lwaldsc @NerdyGirl537 it sounds like this class of circumstances is kinda similar to what we'll be representing with special circumstances checkboxes down the road. So if we want to work that in, there's a place in the designs for it.

It sounds like the consensus is notes in the short term, though?

[2016-07-05 23:21] colinxfleming commented on #458
@NerdyGirl537 given that we don't really have the workflow set up to look at the full note history before making a call, I wonder if there isn't some utility to pushing this information to a call modal or something.

[2016-07-05 23:28] colinxfleming commented on #453
Let me think about whether or not there's a good way to have current LMP editable. Right now LMP as appears in the helper text is calculated from initial call and LMP as reported at initial call, and making that editable as is will result in some pretty weird stuff happening.

[2016-07-05 23:30] colinxfleming commented on #475
@NerdyGirl537 It's a problem we're going to have a few times in the next few months, so I want to make sure we make some forward progress on it. If you're coming tomorrow I might stick you with a dev and have you pair on it to get it going.

[2016-07-06 00:03] NerdyGirl537 commented on #452
Ok.  That could be helpful.  Definitely something to talk about tomorrow night.

[2016-07-06 00:06] NerdyGirl537 commented on #458
I'm not sure that we need it now.  For first contact, we'll have just listened to the VM.  For follow up contacts, the notes will be available for review prior to the call.  I usually review the notes before I contact a patient I haven't spoken with.

@lwaldsc what are your thoughts?

[2016-07-06 02:44] #447 closed

[2016-07-06 03:01] colinxfleming commented on #458
I think what's guiding my thinking is as follows: Given that we've already established that a CM doesn't have the ability to review the full history of notes, let's say that you pick up a hotline shift and call someone who has a note about their voicemail preferences buried.

What are possible outcomes if you don't have this information at your fingertips, and you leave a voicemail identifying you

[2016-07-06 04:06] #397 closed

[2016-07-06 04:06] #398 closed

[2016-07-06 14:40] lwaldsc commented on #456
Yup. Sounds good to me.

On Tue, Jul 5, 2016 at 7:19 PM, Colin <notifications@github.com> wrote:

[2016-07-06 19:07] NerdyGirl537 commented on #449
Is there a way to strip out extra spaces in a name when storing the data?  Is the full name/phone number required to find the patient?  How does this search when we enter phone numbers in different ways (e.g. xxx-xxx-xxx, xxx.xxx.xxxx, xxx xxx xxxx, xxxxxxxxxx)?

I think it would be nice to search on partial information -- the last 5 of the phone number, by only first or last name.  Also, would be

[2016-07-06 19:34] colinxfleming commented on #449
On the search tip: The people on this project who have spent the most time thinking about the search feature are @KatSDC and @ajohnson052  . If @KatSDC and/or a UXer (@mebates , @SabrinaRitacco , @eheintzelman  ) is available for this I'd love to have them sit down with you and spec out some specific scenarios we can cover.

Team UX: Does that sound like a good approach?

Let's punt on the listing

[2016-07-06 19:49] KatSDC commented on #449
I would be happy to put some more time/thought into making the search more user friendly. Partial search would certainly be ideal, but I'll have to do some more research into how to achieve that with MongoDB. If a UXer has time - maybe next week? I can set aside time to discuss the best approach from a user perspective. I have class on Tuesday/Wednesday nights, but otherwise am pretty open.

[2016-07-06 22:19] colinxfleming opened #480 "Set up abortion cost section"
Here's what's in the designs:

![image](https://cloud.githubusercontent.com/assets/3866868/16636295/2cc1d62e-43a5-11e6-8679-58c15e3e55b0.png)

We need to flesh out the stuff on the right side and pop it into the abortion information partial. This will  entail integrating pledge objects into the form, so I'm marking backend.

Wire up so it matches the designs, minus 'Add other funding source'. We c

[2016-07-06 22:21] colinxfleming commented on #132
Changed title of issue. Should be possible with some regex validation in the Pregnancy model.

[2016-07-06 22:27] colinxfleming commented on #330
For team dev: Mostly this will entail being on hand to log any technical problems, and work on hotfixes in the event that anything pops up.

[2016-07-06 23:44] lwaldsc commented on #453
I do agree though that we need to make LMP editable for reasons stated in #405.
Not sure how that affects our coding but it's something that we will need. For right now, the autocalculated values under it aren't as important as being able to edit that number IMO.

[2016-07-07 00:12] lwaldsc commented on #453
Discussed with @NerdyGirl537 and @eheintzelman

If possible, could we recalculate Current LMP value based on the date LMP value changed and the new LMP and then rewrite the Current LMP to the new value?

CM1 opens up PT file on 8-2-2016 to see "Currently: 9 weeks (as of 7-29-2016) "
CM1 changes LMP from 9 weeks to 12 weeks for whatever reason.
SHERO would recalculate and rewrite Current LMP value

[2016-07-07 00:15] lwaldsc commented on #453
ALSO discussed with @NerdyGirl537 and @eheintzelman

The term LMP should be changed to something that reflects more accurately what we are measuring.
While LMP was a great catchall for old DCAF CMs, we don't always calculate last menstrual period.
Could we change it to "Gestational Age" or "Weeks Along" to make it more appropriately catchall.

[2016-07-07 00:19] NerdyGirl537 commented on #459
In past, this has been part of the patient identifier: First Letter of State and last 5 of phone number (ex. D4-0258 for DC caller).

[2016-07-07 00:31] lwaldsc commented on #450
In addition to partial search strings, the search *needs* to also look through "Secondary Contact" and "Secondary Number" to find other contacts.

[2016-07-07 00:35] lwaldsc commented on #450
@mebates @eheintzelman @NerdyGirl537

Autopopulate patient first and last name to the Patient Information page above Age

Rename and reorganize Patient Information fields
**Secondary Contact**
First and Last Name
Phone
Relationship

_Move fields to below ZIP_

[2016-07-07 00:38] lwaldsc commented on #450
Pulled in @dfelsent to make some quick changes on this because she is a rockstar.

[2016-07-07 00:49] NerdyGirl537 commented on #460
In the spreadsheet, we have helper text on the income field and the household field.  For Income, it shows "employment, Food Stamps, SS, TANF, etc.".  For Household, it shows "Number living in household.  Who lives in the house with the woman?  If there are children, list their ages - e.g. 2, 1 year, 5 years"

[2016-07-07 00:55] NerdyGirl537 opened #484 "VM Check Box Default"
The VM check box default should be 'No' so that unless the patient specifies, it won't tell the CM that VM is okay automatically.

[2016-07-07 00:57] eheintzelman commented on #434
The UX team would like to know if we can prioritize this so that the data is clean.  @mebates would especially like this!

[2016-07-07 01:01] eheintzelman opened #485 "Adjust time stamp on call log for EST"

[2016-07-07 01:03] lwaldsc opened #486 "Should be able to add notes even without contacting the PT"
You are currently unable to add notes if you have not indicated you have reached the PT. You should be able to add notes regardless of that step.

Tagging @colinxfleming to label this note as appropriate.

[2016-07-07 01:05] colinxfleming opened #488 "Create production user accounts for Lisa and Jenn"

[2016-07-07 01:08] MiroFurtado opened #490 "Patient Info in pledge and status isn't reflected until page refresh"
Pretty self explanatory. In order for the patient info to be saved (for example if I want to show the state of the patient in the pledge popup box), I have to click on the dashboard and then back on the patient.

[2016-07-07 01:09] mchelen opened #491 "Use docker hub automated build for container image"
https://hub.docker.com/r/mchelen/dcaf_case_management/

[2016-07-07 22:28] #403 closed

[2016-07-09 05:18] #399 closed

[2016-07-09 05:18] #400 closed

[2016-07-09 06:02] #382 closed

[2016-07-09 06:18] #303 closed

[2016-07-09 06:24] colinxfleming opened #496 "Remove !important tags from pregnancy menu styling"
We brute forced this through for MVP, but it shouldn't always be brute forced. A nice piece of code hospitality for someone who wants to take it on.

See `app/assets/stylesheets/pregnancies.scss` -- the `a, a:hover` tags contain an `!important` to force the color and background color, because we couldn't get the inheritance to chill out. The task here is to remove the important tags and recreate i

[2016-07-09 06:48] colinxfleming opened #497 "Turn off account registration"

[2016-07-09 07:01] colinxfleming commented on #490
So if I'm understanding correctly, the steps to recreate are:

* I am looking at a pregnancy edit page
* I edit an attribute such as phone number
* I click on submit pledge; submit pledge has the wrong phone number
* I reload the page and click submit pledge again; submit pledge now has the right phone number

[2016-07-09 07:03] colinxfleming commented on #490
Potential solution here is to have the submit pledge modal populate by js injection rather than on page load. I'll investigate tomorrow night.

[2016-07-09 07:03] colinxfleming commented on #490
Thanks a ton for flagging this @MiroFurtado . Good call.

[2016-07-09 07:04] colinxfleming commented on #485
Doesn't seem to be an issue in local/development but is an issue in staging and prod, so I wonder if it's a mongolab thing.

[2016-07-09 07:06] colinxfleming commented on #434
Acknowledged; I'll see if I can spin something up tomorrow.

[2016-07-09 07:07] colinxfleming commented on #484
Copy that. Flagging for @lwaldsc that I'm making this change

[2016-07-09 17:24] #497 closed

[2016-07-09 17:49] colinxfleming commented on #461
Prod db all spun up! Closing

[2016-07-09 17:49] #461 closed

[2016-07-09 17:51] colinxfleming commented on #488
Production accounts created, closing

[2016-07-09 17:51] #488 closed

[2016-07-09 17:54] colinxfleming commented on #485
Investigating this now. System clock seems to be four hours fast, probably thinks it's GMT.

[2016-07-09 17:56] colinxfleming commented on #485
Happening to all uses of time we have (such as `Notes`)

[2016-07-09 18:17] #485 closed

[2016-07-09 18:55] #484 closed

[2016-07-09 18:59] colinxfleming commented on #486
Can recreate on my end. Message from the logs:

[code]

Likely solvable via form edit

[2016-07-09 19:26] colinxfleming commented on #486
Stowing this for now because I couldn't solve in a half hour. The general story is as follows:

* For whatever reason, on the first load, it doesn't work at all
* It also seems to be happening to the `urgent_flag`
* It seems to sort itself out after that point -- after a reload notes and other things seem to save normally, it sends payloads to the proper endpoints, etc

[2016-07-10 04:27] #480 closed

[2016-07-10 04:27] #450 closed

[2016-07-10 04:28] colinxfleming opened #502 "Move abortion cost section to pledge objects"
This is a body we buried for deployment; we should move these so that they're separate pledge objects and treated / validated as such.

[2016-07-10 04:30] colinxfleming commented on #120
Tackling

[2016-07-10 04:37] colinxfleming commented on #120
On further examination I think we can close this out -- I thnk @sco-bo 's work resolves it in effect. We can revisit with clearer UX directions after mvp if we want. Closing.

[2016-07-10 04:37] #120 closed

[2016-07-10 05:54] colinxfleming commented on #383
Not really needed for deploy since we aren't opening it up, closing here and moving other conversation to #389

[2016-07-10 05:54] #383 closed

[2016-07-10 05:54] #132 closed

[2016-07-10 06:28] #402 closed

[2016-07-10 06:30] colinxfleming commented on #490
This probably isn't a Monday thing. Sorry @lwaldsc .

[2016-07-10 06:32] colinxfleming commented on #319
Cutting this corner -- this won't be in for MVP on Monday, sorry @lwaldsc

[2016-07-10 06:35] colinxfleming commented on #475
Untagging deploy since this has the potential to be a very messy operation, sad to say.

[2016-07-10 07:10] colinxfleming opened #506 "Pledge modal dismisses if you miss a button"
Missing a button causes the pledge modal in the edit view to dismiss. Not sure why. Annoying. Needs further investigation.

[2016-07-10 07:23] colinxfleming opened #507 "Adjust unit tests for status"

[2016-07-10 07:29] #261 closed

[2016-07-10 07:29] #264 closed

[2016-07-10 07:36] colinxfleming opened #508 "Glyphicons not showing up in prod"
potential solution http://stackoverflow.com/questions/20588786/glyphicon-works-locally-but-not-on-heroku

[2016-07-10 16:30] colinxfleming commented on #486
Something similar to this seems to affect the 'continue' button the pledge modal

[2016-07-10 16:58] colinxfleming opened #509 "CORS issue serving assets in production"
From pretty much any page in the production url:

[2016-07-10 19:37] NerdyGirl537 opened #510 "Abortion Date Entry"
I'm struggling a bit with the location of the appointment date.  It's good that it's always at the top, but that area doesn't have any other information that a CM would edit, so I've missed entering appointment dates.  Is there a way to put it in the 'Abortion Information' section as well?

[2016-07-10 19:57] colinxfleming opened #511 "Move clinics to json config file"

[2016-07-11 01:45] lwaldsc opened #512 "Make search function work for partial phone numbers"
As a reminder to @colinxfleming we need to make the search work for partial phone numbers.

[2016-07-11 01:53] lwaldsc opened #513 "Remove link to "Leave voicemail" when pt is flagged as No VM?"
"I left a voicemail for the patient" should be removed when a PT is flagged to not leave VM.

[2016-07-11 02:21] NerdyGirl537 commented on #513
I think that's fine.  Some times I leave VMs for PTs who haven't specified either way.

[2016-07-11 22:06] colinxfleming commented on #512
Will be working on this tonight, jumping off @KatSDC 's work the other night

[2016-07-12 00:52] colinxfleming commented on #512
After hacking on this for an hour and change I think the right path might be to change phones to be a string of all digits, and then do all the phone related formatting on the model level (similar to how we do LMP display as its own methods, and store it as a pair of ints).

This involves a few nasty steps:
* Changing the validations in the patient model over
* Mass updating all phone numbers in t

[2016-07-12 01:02] colinxfleming commented on #509
god help me I think I have to add in the `rack/cors` gem.

[2016-07-13 00:25] lwaldsc opened #514 "Safety check for appt date"
Need to put some sort of logical safety check into the appointment date format. Not sure what exactly we want to do here, but maybe making sure the apt date is after the initial call date.

![image](https://cloud.githubusercontent.com/assets/10578608/16787964/9c6c463a-486e-11e6-9a69-1de4f6711d4f.png)

[2016-07-13 02:00] colinxfleming opened #515 "Update seedfile"
After the pilot we should update the seed file to reflect actual scenarios, for better testing.

[2016-07-15 17:58] mchelen commented on #496
Here's the relevant commit: https://github.com/colinxfleming/dcaf_case_management/pull/487/commits/34e5ab49dc9dcaa41ed5acc37019b638a92a4527

I wonder if the color & background color are coming from Bootstrap, and need to be changed via class assignment?

[2016-07-16 22:11] #79 closed

[2016-07-16 22:22] colinxfleming commented on #118
This came up during the pilot, so I'm promoting it to the front for release. I also want to spec out exactly how it should behave before we start programming on it. Tagging in @lwaldsc, @eheintzelman , @SabrinaRitacco   and @NerdyGirl537  about best way to implement here.

Here are two system behavior options to get us started:
* Can we safely say that every day at like 4am, we should clear out ev

[2016-07-16 22:25] colinxfleming commented on #511
Dupe of #146

[2016-07-16 22:25] #511 closed

[2016-07-16 22:40] colinxfleming commented on #491
Discussed with @mchelen over 🍨 and he wins the prize on getting this set up! It's all yours, dog.

I removed xfvb in #517. @mchelen if there's other scruff we can take out, holler.

[2016-07-16 22:42] #305 closed

[2016-07-16 22:47] colinxfleming commented on #401
Fixed in #501
![image](https://cloud.githubusercontent.com/assets/3866868/16897660/cf038da0-4b85-11e6-94bc-6a543e6fc5d2.png)

[2016-07-16 22:47] #401 closed

[2016-07-18 03:29] colinxfleming opened #520 "Make call list drag and droppable"
During the pilot, @lwaldsc mentioned that she'd find it helpful to be able to rearrange her call list on the fly, rather than have them display in the order that they were added to her call list.

Open questions:

* What's the use case for this? How do CMs organize their calls, and how should we reflect that in the app?
* What should we make them sortable on? Name, phone number, LMP, everything in

[2016-07-18 03:32] colinxfleming opened #521 "New patient partial - input boxes for phone and name need to be wider"
Nice piece of low hanging fruit here -- modify the form input fields in `app/views/pregnancies/_new_pregnancy` to be long enough that you can get an entire phone number or name in.

Consult with team UX if you need clarity on this.

(Note that this came out of the pilot test.)

[2016-07-18 03:35] colinxfleming opened #522 "Expand patient voicemail preferences"
We were bikeshedding this prior to the pilot test -- now's a good time to figure it out, since we've had some livefire experience.

How should we represent a patient's request to not leave voicemail? Right now we're doing a simple 'yes' or 'no', defaulting to 'no', but @lwaldsc found that to be a little strong.

Tagging in @lwaldsc @NerdyGirl537 @mebates @SabrinaRitacco @eheintzelman . We'll want

[2016-07-18 03:38] colinxfleming opened #523 "Notes: Show full name of user instead of just initials?"
@lwaldsc mentioned during pilot that the ability to see the full name of a user (e.g. 'Colin' or 'Colin Fleming' instead of 'CXF' like we're doing now) in the notes section would be helpful.

Tagging as a UX question. @lwaldsc can you get this conversation started by saying what you're hoping to get out of it and what the ideal behavior is?

(Subnote: @mebates left a note about restyling this sect

[2016-07-18 03:41] colinxfleming opened #524 "Add ability for a user to remove their own calls"
A time or two during the pilot, @lwaldsc accidentally clicked 'left voicemail' on an 'unable to reach patient' call, and right now we aren't able to remove calls from the call log.

Potential solution here that I would like to run by UX: Maybe do it kinda like facebook does, where you can remove a call within a certain time period (5m? 10m?) of creating it, but then it's in there for keeps? Or sho

[2016-07-18 03:44] colinxfleming opened #525 "Reduce the size of the notes entry box"
Right now the notes entry box is kind of big. We should reduce it, so that you can see the first note and not just the huge box without scrolling down a little bit.

Steps:
* Reduce the size of the notes input in `app/views/pregnanices/_notes.html.erb`
* Get @lwaldsc or a member of team ux to approve

[2016-07-18 03:47] colinxfleming opened #526 "Represent patient notes in the call modal"
@lwaldsc spent some time clicking into the pregnancy view before making a call, to look at the notes for an individual person. Should we find a way to include the full set of notes for a patient in the call modal?

[2016-07-18 03:47] colinxfleming opened #527 "Represent Other Contact information in call modal"
How should we represent the fields `other contact name` / `other contact phone` / `other contact relationship` in the call modal?

[2016-07-18 03:48] colinxfleming opened #528 "Mark patients as resolved without help from dcaf"

[2016-07-18 03:49] colinxfleming opened #529 "Filter :search in system logs"
Let's make sure to filter out `:search` from application logs, in addition to PII in our actual model fields.

See #382 for the first pass at this -- should be as simple as adding another field.

[2016-07-18 03:56] colinxfleming opened #530 "Dashboard: Last note doesn't disappear when you click away"
In the dashboard view, last note doesn’t disappear when you click away -- you have to actively click on the + trigger, meaning you can create a cascading mess of note popups. We’ll want to add some kind of js trigger to close those note popups on clickaway.

[2016-07-18 03:58] colinxfleming opened #531 "People in household dropdown: Does it include the caller?"
Right now the `people in household` dropdown is not terribly clear. We should adjust the label language to something more useful.

[2016-07-19 00:16] #496 closed

[2016-07-19 00:29] colinxfleming commented on #531
Paging @lwaldsc @NerdyGirl537 for what would be most helpful here -- thoughts? Is 'People in household (including caller)' okay?

[2016-07-19 02:14] #390 closed

[2016-07-19 02:16] colinxfleming commented on #330
This was a raging success! Issues have been spun out of it. Closing.

[2016-07-19 02:16] #330 closed

[2016-07-19 02:23] colinxfleming commented on #20
I think exporting data is a feature we can skip in the short term. If we discover a need to get data out then we can investigate that.

I think some degree of internal reporting / analytics is hugely important, but I think that it's OOS until at least December 1, and probably realistically it's a 2017 thing.

[2016-07-19 02:26] colinxfleming commented on #224
We should also be explicit about how this includes the caller/patient, per the duplicate issue #531 .

[2016-07-19 02:27] colinxfleming commented on #531
Similar enough to #224, closing

[2016-07-19 02:27] #531 closed

[2016-07-19 02:31] colinxfleming commented on #514
This should be a fairly straightforward validation of checking `initial_call_date` against `appointment_date` in the pregnancy model. Marking for resolution this week.

[2016-07-19 02:37] colinxfleming commented on #528
A few times now we've needed to represent a patient as having resolved their pregnancy by either deciding to keep it, or finding cash independently, or something similar to that. To reflect this need, we should add an attribute in the pregnancy model so that we can mark a pregnancy complete.

The steps to this are as follows:
* Add a boolean attribute to the pregnancy model, `resolved_without_assi

[2016-07-19 02:51] colinxfleming commented on #502
Still need to figure out a path to this. Marking question.

[2016-07-19 23:50] colinxfleming commented on #527
I think that should just pull the additional information if available. Pretty straightforward.
Maybe something like a smaller title like “Alternate:  PersonZ (xxx-xxx-xxxx) - Mother" directly under the PT’s name and phone in the modal. - @lwaldsc @eheintzelman

[2016-07-19 23:52] CamLatimer commented on #448
I'll get on it.

[2016-07-19 23:57] ashlynnpai commented on #528
I'll take a stab at it.

[2016-07-20 00:03] colinxfleming commented on #526
@lwaldsc @eheintzelman

We both think having the full set of notes in the modal is somewhat impractical and has the potential to get very messy very quickly

Could we have a Call PT button within the actual pregnancy file at the top of the left hand tabs menu? Mirroring the Send Pledge button at the bottom.

Then a CM could pick a PT on the list, read notes, and be able to call from inside the pre

[2016-07-20 00:20] colinxfleming commented on #522
@lwaldsc

I feel like the default no and a Do Not Leave VM no are two answers to the question. I'd rather see a red, yellow, green kind of system, sort of like:

Yes- Can leave VM
Default - No instructions left; proceed with caution; leave a No ID VM if want
No - No VM; No ID

Tagging @NerdyGirl537 again for her thoughts

[2016-07-20 00:29] colinxfleming commented on #520
@lwaldsc

I think a simple sort by name, lmp, and status would be sufficient; talked with colin about it the one night and he felt that a drag and drop was a lot more coding than is practical right now. would be nice somewhere down the line to d&d but a simple chart sort by those issues would solve the need without as much effort.

[2016-07-20 00:33] eheintzelman commented on #524
Discussed with @lwaldsc - Would it be possible to make calls editable during a CM's current session?  Once the sign out or their session times out, they no longer have the ability to edit.

[2016-07-20 00:39] colinxfleming commented on #523
Hey @mebates can you refresh @lwaldsc 's mind on what she was talking about with this issue because she does not remember. Whoopse.

[2016-07-20 00:40] colinxfleming commented on #523
BC right now @lwaldsc does not feel strongly one way or the other about it. I think initials are just fine, but not opposed to popping in full names if others feel they are needed.

[2016-07-20 00:42] colinxfleming commented on #522
This also affects #513. If we have a true "no" instead of a default "no answer," I would remove the "leave voicemail" option.  - @lwaldsc

[2016-07-20 00:45] colinxfleming commented on #524
@eheintzelman I think we can swing that, or do something that's functionally identical. I'll change the issue accordingly.

[2016-07-20 00:51] colinxfleming commented on #345
[Blank Pledge Form (v.16.3) (1).docx](https://github.com/colinxfleming/dcaf_case_management/files/372699/Blank.Pledge.Form.v.16.3.1.docx)

[2016-07-20 01:06] eheintzelman commented on #527
How about additional instructions after "Call [PT NAME] now" and before the phone number.

If the patient is the primary contact, something like, "You can call this patient directly."

If other contact, something like, "Mary Miller (mother) is the primary contact for this patient."

Do we need to have a way to identify what phone number is primary?

Would like design input from @mebates

[2016-07-20 13:38] NerdyGirl537 commented on #522
I agree that there are 3 different options and I like the red/yellow/green system.  Default would be 'no instruction left.'

[2016-07-20 13:41] NerdyGirl537 commented on #523
My 2¢:
This is feedback from the in-service:  Some of the CMs were excited by the thought they could see the full name of the previous CMs who had worked with the patient.  I always just look it up on the calendar so it's not a big thing for me.

[2016-07-20 13:45] NerdyGirl537 commented on #520
A sort would be helpful.  Also would suggest a sort on call date.  The D&D would make CMs ecstatic beyond their wildest dreams.

[2016-07-20 13:47] NerdyGirl537 commented on #526
I think the full set of notes would be overwhelming/unwieldy on the main page.  This could be a training opportunity as well, as once the PT has been added to the call queue, the CM can just return to the main menu and do the call.

[2016-07-20 16:49] colinxfleming commented on #526
Sounds like the next step here is team UX insight. Tagging in @mebates

[2016-07-20 16:54] colinxfleming commented on #520
Let's see what our frontend heavy hitters ( @mchelen @rebeccaestes ) think is in the realm of the possible here -- how tough would it be to roll something like this out?

[2016-07-20 16:59] mchelen commented on #520
@colinxfleming sorting definitely seems easier, because it can be done entirely client side. d&d requires a way to save the results, which is a ruby task. maybe start with the easy one and meanwhile get things in the place for full d&d?

also i forget if the call list is paged or not?

[2016-07-20 17:00] colinxfleming commented on #522
It sounds like a consensus is emerging around this being a three option, defaulting on 'No ID VM'. Let's plan on rolling with that.

[2016-07-20 17:06] colinxfleming commented on #520
Call list isn't currently paged, no. We don't really see enough volume to worry about pagination for an individual CM.

Right now we're populating call list from a attribute on the User model (which functions as a normal array for most intents and purposes), so inventing some way to reorder that isn't totally out of the question.

[2016-07-20 17:35] mchelen commented on #520
If we can handle the reordering in JS, is there a good way to save the changes? Would that be a "save" button, or should it be handled after every move via Ajax?

[2016-07-20 17:44] colinxfleming commented on #520
I'd lean toward an ajax call that fires on change, which is consistent with
how we interact with data across the app -- pretty much everything except
note creation saves via ajax on change.

On Wed, Jul 20, 2016 at 1:35 PM Mike Chelen <notifications@github.com>
wrote:

[2016-07-20 18:25] mchelen commented on #520
Ok cool, so what should the Ajax call? I can take a look at some of the
other pages and see how it's being done.

On Wed, Jul 20, 2016 at 1:44 PM, Colin <notifications@github.com> wrote:

[2016-07-20 18:29] colinxfleming commented on #520
We'll probably have to set up a new route for this in the users controller.
Something like a patch to `UsersController#reorder_pregnancies` should do
the trick as an endpoint. I'm happy to whip this up in a day or two, should
be fairly straightforward.

On Wed, Jul 20, 2016 at 2:25 PM Mike Chelen <notifications@github.com>
wrote:

[2016-07-20 19:01] mchelen commented on #520
Ok cool, if you can make a route to this, I'll take a crack at the frontend
code. My go-to for sorting is Datatables, and it also supports d&d
https://editor.datatables.net/examples/extensions/rowReorder.html

On Wed, Jul 20, 2016 at 2:29 PM, Colin <notifications@github.com> wrote:

[2016-07-21 22:54] colinxfleming opened #533 "What procedure should we use to rename fields in the live db?"
It seems like when we change a db model field, existing objects stop saving until you run `rake db:seed` again. That's not a tenable situation after we start storing actual production data in the system.

What are best practices around this? Is there a gem we can install, or some rake task we can write which will automatically update?

@Kevin-Wei especially interested in yr thoughts here, since I

[2016-07-22 14:01] benjamincrane opened #534 "Have to install MongoDB, Bundler on Cloud9"
Currently the instructions for working on this in Cloud9 seem to be out of date. I had to install another version of Ruby, then the Bundler gem, then install Mongo in the Cloud9 workspace.

[2016-07-23 02:39] colinxfleming commented on #534
Thanks a ton for documenting this! Do you remember what commands you ran /
want to fire up a pull request with suggested Readme changes?

On Fri, Jul 22, 2016, 10:01 AM Benjamin Crane <notifications@github.com>
wrote:

[2016-07-23 18:06] #528 closed

[2016-07-23 18:16] colinxfleming commented on #507
Resolved by 0c0a016 and #532

[2016-07-23 18:16] #507 closed

[2016-07-23 18:33] colinxfleming commented on #530
There are a few issues here:

* Popovers do not dismiss on click away
* Multiple popovers can be open at a time

By the plus sign icon (which pops up the note), I mean this:

![screen shot 2016-07-23 at 2 33 23 pm](https://cloud.githubusercontent.com/assets/3866868/17079588/79d0dad8-50e2-11e6-8b3f-78f4f352db6b.png)

[2016-07-23 18:54] #514 closed

[2016-07-23 20:17] #9 closed

[2016-07-23 23:10] #82 closed

[2016-07-24 04:09] #275 closed

[2016-07-24 05:56] #375 closed

[2016-07-24 06:24] #262 closed

[2016-07-24 06:33] colinxfleming commented on #405
Resolved by @eheintzelman  in 1ed38a3 - closing

[2016-07-24 06:33] #405 closed

[2016-07-24 06:37] colinxfleming commented on #336
I think we can close this out via #405.

[2016-07-24 06:37] #336 closed

[2016-07-25 01:58] mchelen opened #543 "Add call list in db seed"
The default seeded db should contain entries for some of:
Your call list
Your completed calls

related to #539 #520

[2016-07-25 16:22] benjamincrane commented on #534
I can try. I would be more confident but I wasn't able to get MongoDB to work on Cloud9 so first I need to figure out what went wrong with that.

[2016-07-26 15:46] benjamincrane commented on #529
I have a commit adding :search to the filter parameters. I did a basic test on Cloud9 and the system log shows "[FILTERED]" in the Parameters output when I use the search function so I think it is working.

[2016-07-26 22:05] mebates commented on #523
I have no idea why it would be initials. I don't think we ever mocked up a 'notes history' screen. I think it should be first and last name, which would be most user friendly for new CMs in particular.

[2016-07-26 22:07] mebates commented on #526
I think both would be helpful.
1) A button within the pregnancy file to place a call. I think this makes sense on the "Call Log" section
2) A portion of the last note in the call modal - perhaps it could be limited by character numbers so you don't see a full novel, but maybe the first few lines with an ellipsis? That way it gives you a general idea of what is going on.

[2016-07-26 22:09] mebates commented on #522
:+1:

[2016-07-27 00:40] mebates opened #548 "Plan September Launch Party!"
We are launching DCAF Case Manager to the entire DC line by early September. Let's celebrate!

[2016-07-27 02:04] ewiggins opened #549 "Update Cloud 9 instructions in Readme to be beginner friendly"
Idea from #544.
- [Create detailed instructions from setting up a cloud9 account ]
- [ Take screenshots]

Create a detailed step by step on how to sign up for a Cloud 9 account and begin coding on your first beginner friendly issue stress free!

[2016-07-27 02:10] ewiggins commented on #549
I'm going to work on this once #544 and #534 are closed.

[2016-07-27 03:00] #534 closed

[2016-07-27 03:00] #529 closed

[2016-07-27 03:05] colinxfleming commented on #549
Love this. Thank you for tackling @ewiggins !

[2016-07-27 03:29] colinxfleming commented on #526
Sounds like a plan. I think @mebates is right on.

Action items here are:

- [ ] Add a button to pop up a call modal in the `_call_log` partial. Should behave exactly like the one on the dashboard for now.
- [ ] Add the first 400 characters of the most recent note to the new call modal underneath the links to log a call. See the note helper in `dashboards_helper` for some code you can adapt.

tagg

[2016-07-27 03:37] colinxfleming commented on #524
Technical requirements here are as follows:

Minimal:
* A user should be able to delete their own calls from the call log
* A user should not be able to delete other users' calls from the call log
* We should adjust the `call_log` partial to add the delete option, with a javascript alert confirmation

Gold medal version:
* a user should only be able to delete their own calls within their own sessi

[2016-07-27 03:38] colinxfleming commented on #520
This has coalesced around implementing drag and drop. Changing the labels and title to reflect.

[2016-07-28 02:48] colinxfleming commented on #457
Tagging in @lwaldsc and @NerdyGirl537 -- a few questions:

* If a pledge changes, do we need a record of exactly what was in the original pledge, or will just asking CMs to create a note that they're changing some details and resending be enough?
* Is there some representation of this we should have other than unchecking the box that says 'I have sent the pledge'?

Question for dcaf cm management:

[2016-07-28 02:49] colinxfleming commented on #454
bumping this -- what's the next step here?

[2016-07-28 02:56] colinxfleming commented on #452
I'm gonna do my best to roll this into a plan of attack, based on my current sense of the project. I propose this:

* We add a `soft pledge` status, defined as 'Has a number greater than zero in DCAF Soft Pledge'.
* We keep `Needs Appointment` and `Fundraising` statuses defined as is.
* We are very explicit about defining the different statuses in training materials.

Thoughts?

[2016-07-28 03:02] colinxfleming commented on #203
topping -- @NerdyGirl537 @lwaldsc what are the required fields for submission? Definitely we need name, pledge amount, clinic, appointment date. Do we also need abortion cost, patient contribution, or any of the patient information fields like insurance, income, etc?

[2016-07-28 03:06] colinxfleming commented on #119
Topping this. @lwaldsc @NerdyGirl537 what should the rule around this be? Maybe someone can only live on the urgents list for two weeks without a call being placed before they get removed from the urgents roll, or maybe after two weeks they get highlighted in red in the table?

What do you think will keep the urgents list clear, but also not kick people off who we're still actively working with?

[2016-07-28 03:08] colinxfleming commented on #118
topping for @lwaldsc @NerdyGirl537 @SabrinaRitacco @eheintzelman . I'm inclined to say that at 4am we run a scheduled system job that clears out every single call list no matter what - what do you all think?

[2016-07-28 03:24] colinxfleming commented on #335
Resolved in #532

[2016-07-28 03:24] #335 closed

[2016-07-28 03:28] #543 closed

[2016-07-28 03:29] colinxfleming commented on #448
@CamLatimer can I help unstick anything on this?

[2016-07-28 03:47] colinxfleming commented on #523
@lwaldsc @NerdyGirl537 and @mebates make a very compelling case for full name here.

Let's use the existing `name` field on the user model for this, and just clarify on the label that we'd like full name rather than adjusting the models.

@KatSDC can I tag you in to take care of this? Just a matter of changing the label for `name` in `app/views/devise/registrations/edit.html.erb` to read 'First an

[2016-07-28 03:56] colinxfleming commented on #522
The action items here:
* in the pregnancy model, change `voicemail_ok` to be an (enumeration)[http://edgeapi.rubyonrails.org/classes/ActiveRecord/Enum.html] with the options :voicemail_ok_no_id, :voicemail_ok_id_ok, and :voicemail_no (with the default of :voicemail_ok_no_id).
* Let's change the checkbox / toggle switch to a select element in the new patient partial and the pregnancy view patient i

[2016-07-28 03:57] colinxfleming commented on #458
I think this is effectively a duplicate of #522 - closing

[2016-07-28 03:57] #458 closed

[2016-07-28 03:58] colinxfleming commented on #456
So ordered, notes it is. Closing.

[2016-07-28 03:58] #456 closed

[2016-07-28 04:00] colinxfleming commented on #453
Changing this to Weeks Along makes a lot of sense. I'll make sure that's taken care of as well.

@lwaldsc thanks for that scenario, that's something I can code around without too much trouble. I'll tackle this on the plane on Friday.

[2016-07-28 04:11] colinxfleming commented on #455
I emailed the dcaf CMDs to make sure that we mostly saw english and spanish. I think we do spanish as a checkbox if it's just english and spanish, some kind of dropdown for non-english language otherwise. Will update the ticket when I hear back.

[2016-07-29 04:41] colinxfleming commented on #455
The sense I'm getting from team CMD matches what @lwaldsc has observed --  we only really need to represent spanish, and that non-spanish non-english speakers are fairly rare.

I think we should go with either an enum or boolean attribute to represent spanish. I'll mix up this issue as appropriate soon.

[2016-07-29 21:01] jeffreyeaton76 commented on #525
Hi. I'm planning to come to the Civic Hack Night on 8/4 and would love to help with this project. I thought I'd get to know it by taking on a beginner-friendly issue. See you next week. --Jeff

[2016-07-30 15:35] #525 closed

[2016-07-30 16:19] colinxfleming opened #551 "Fix CircleCI continuous deployment"
At some point in the past month, continuous deployment of whatever was in master stopped working. I thought it was an ssh key issue for awhile, but doesn't seem to be.

Here's the error log for investigation after I tried to push to heroku master manually:

[code]

[2016-07-30 19:07] CamLatimer commented on #448
Sorry man. I forgot I had started to work on this. I have the expander snapped. I was trying to do a little more to make the look of the table header consistent with the rest of the table, but I'll submit what I have.

[2016-07-31 03:53] colinxfleming opened #553 "Fix Dawnscanner (?)"
TK

[2016-07-31 03:54] colinxfleming opened #554 "Write service administration manual"
Placeholder issue for writing the systems administration manual for this. cc @NerdyGirl537

[2016-07-31 03:55] colinxfleming opened #555 "Write user manual"
Placeholder issue for writing the user manual for CMs. cc @lwaldsc

[2016-07-31 03:56] colinxfleming opened #556 "Load in data to production environment"
(Not until we have things locked down before deployment, pls)

[2016-07-31 03:56] colinxfleming opened #557 "Mark issues for deployment"

[2016-07-31 04:29] colinxfleming commented on #551
Can push from the CLI but still getting a publickey error. at least we're making steps in the right direction now.

[2016-07-31 21:57] mebates commented on #513
Hey team - The designs accounted for that. See below. Any way we can code this up in the modal?

![screen shot 2016-07-31 at 5 56 46 pm](https://cloud.githubusercontent.com/assets/6223901/17279666/36f349d2-5748-11e6-80a1-5aeba20adfce.png)

[2016-07-31 21:59] mebates commented on #455
Check box is good for now. In the future we could have some sort of workflow that assigns it to the spanish-speaking CM or adds it to her queue.

[2016-07-31 22:00] mebates commented on #454
Hey @colinxfleming - it's on our list for Release 2. Not something we can solve for before releasing to the DC line, I think.

[2016-07-31 22:15] mebates commented on #118
Makes sense to me.

[2016-07-31 22:16] mebates commented on #555
What format will this take? GitHub wiki? Google Drive? Doc, PDF?

[2016-07-31 22:16] mebates commented on #554
What format will this take?

[2016-08-01 04:32] colinxfleming commented on #555
I think my ideal format is something we can have under version control - so maybe something similar to the readme, like `MANUAL.md` in the root directory with the readme?

[2016-08-02 01:12] mchelen commented on #520
Ok I've got a lot of the UI elements in place. Minor stylistic question, what handle icon colors are the best?
![dnd3](https://cloud.githubusercontent.com/assets/30691/17313775/aa3e8da4-582c-11e6-8507-062dca0f3ac0.png)
![dnd2](https://cloud.githubusercontent.com/assets/30691/17313774/aa3e413c-582c-11e6-9a9e-5d5a3aaa3080.png)
![dnd1](https://cloud.githubusercontent.com/assets/30691/17313776/aa402a7

[2016-08-02 01:54] mchelen commented on #520
The big issue I'm having now is that the row, while dragging, has its cell widths messed up. I found 2 approaches to address this:

http://benw.me/posts/sortable-bootstrap-tables - works, but sets all cells to be equal width

http://stackoverflow.com/a/1372954 - can't get to work

[2016-08-02 03:54] colinxfleming commented on #520
@mchelen that rules. When you have some sense of what the payload looks like, can you send it my way? I think that's probably the last major piece of this still waiting in #539 .

Thanks again for your hard work on this.

re: grabber icons, I like the way the first one looks, and they'll be straightforward to change, so let's roll with that (if it's easy, otherwise go with whatever's simplest).

[2016-08-02 04:32] colinxfleming commented on #555
Made the ask to @lwaldsc @SabrinaRitacco @eheintzelman (and summoning them to this thread). I trust their judgment about what to document.

To walk back my earlier statement about having a markdown doc, I'd like it to be that eventually, but that's secondary to actually having it written, so please do whatever's easiest to crank out and collaborate on between each other.

Thanks all!

[2016-08-02 11:31] mebates commented on #520
Very cool! Can we go with a more subtle light gray for the handles? The drag-and-drop is not the primary action here, and we don't want to distract from the Patient Name link or the Call button.

[2016-08-02 11:35] mebates commented on #555
I have a feeling that we might want the Manual to be private, as well. It will probably contain instructions that we don't want to share with the world (login, etc).

[2016-08-02 20:50] mchelen commented on #520
@mebates Sure, that sounds good! There ended up being several other design questions, such as row highlight when dragging, so I put in some default styling for now and maybe we could go over them all at once?

[2016-08-03 18:03] NerdyGirl537 commented on #457
On the pledge changes, I don't think we need a record of the original pledge.  The thought is that we only receive back the pledge which was used for the procedure and so it's the only one the treasurer sees and reconciles.  As a CM, I'll add notes about a change in procedure date, clinic or cost, but after the pledge is sent, it drops off my radar.  My main concern would be if the patient continu

[2016-08-03 18:06] NerdyGirl537 commented on #452
Can we do something like put an asterisk by the patient's name if they have a soft pledge?  I'm thinking they'll be in the fundraising status if we've given them a soft pledge.  A lot of the new system will be training and helping the CMs learn where to find the information in the new system.

[2016-08-03 18:09] NerdyGirl537 commented on #203
We only need what you listed.  We don't include total cost (often an estimate until the day of the procedure), how much is coming from the patient (may change; also we may not have it if coordinating directly with another fund), and definitely none of the patient information.

[2016-08-03 18:14] NerdyGirl537 commented on #119
Thoughts:  what if we made a toggle like OK to leave VM?  Then a CM could turn it on and off.  Also, this reminds me that last I looked updating the PT to urgent required adding a note.  I was expecting to be able to just check the box and have it update.  I thinking having to add it with a note might get unwieldy.

For me, using this flag would be for the duration of my shift and at hand-off for

[2016-08-03 18:16] NerdyGirl537 commented on #118
What about looking at status?  If I haven't reached a PT, I want to keep them in the call list.  If they disappear, I might not remember who I didn't reach.  For the rest, 4 AM seems reasonable.

[2016-08-03 23:17] colinxfleming commented on #118
I think that's a useful insight from @NerdyGirl537 . I think we can turn this into a real task now, as follows:

* Add a `clear_call_list` method to the user model that iterates through every call in `user.pregnancies` and removes it if the patient hasn't been reached yet
* Create a rake task that calls the 'clear_call_list' on every user (see https://devcenter.heroku.com/articles/scheduler#defini

[2016-08-03 23:28] colinxfleming commented on #119
@NerdyGirl537 I hear you on the toggle, but I worry about the level of complexity there.

Having to add a note to hit urgent is a bug that we've filed in #486 . So that'll come around sooner rather than later.

I like the idea of urgents as a handoff mechanism, and setting that expectation. @mebates please flag if you object.

Let's plan on this as the plan of action:

* Write a method for the `Pr

[2016-08-03 23:38] colinxfleming commented on #203
Perf. Let's add a model condition as follows:

A pregnancy should not be allowed to create a pledge UNLESS the following fields are present:
* Patient name
* pledge amount from DCAF
* Clinic name
* Appointment date

In the event that any of these fields are nil, we should return an error.

[2016-08-03 23:47] colinxfleming commented on #452
@NerdyGirl537 I hear you on the soft pledge flag. Will you raise that with @eheintzelman @SabrinaRitacco on how to implement that?

Based on that, it sounds like we don't need a separate `soft pledge` status, and can just make do with what we have.

Code-wise, it sounds we're good to go here. I'm marking closed.

[2016-08-03 23:47] #452 closed

[2016-08-04 00:00] colinxfleming commented on #457
@NerdyGirl537 thanks for your insights here. It sounds like we can live without having to know that someone needs a resubmitted pledge; I think that's an appropriate corner to cut at this point. We can revisit if it ever matters.

I think there's some UX discovery for what editing a pledge should look like -- I don't think we have that established yet. Can you and @eheintzelman @SabrinaRitacco tac

[2016-08-04 00:08] #530 closed

[2016-08-04 00:25] colinxfleming commented on #555
@mebates That's a very good point, I think I lost sight of this.

Team UX and @lwaldsc can you write in a googledoc for now, and we'll figure out with the CM admin team where this should live long term?

[2016-08-04 00:26] colinxfleming commented on #454
Got it, thanks @mebates . Keeping on backlog until at least September.

[2016-08-04 00:29] colinxfleming commented on #455
Way into the workflow idea!

For now, the task here is to:
* Pop into the `Pregnancy` model and change `field :language, type: String` to `field :spanish, type: Boolean`
* Add a checkbox for `spanish` to the `pregnancy_information` partial

Nice and straightforward!

[2016-08-04 01:07] mchelen opened #560 "Call list d&d design questions"
- drag & drop handles
  - icon, color, size
- restricted handle area, or whole row
- placeholder row color
- drop even animation

[2016-08-04 01:08] mchelen commented on #520
@mebates i wrote up the design questions here: #560

[2016-08-04 01:35] #560 closed

[2016-08-04 02:32] colinxfleming commented on #475
I'm marking this backlog for two reasons:
* it's not necessary for release to DC
* right now I think we should be focusing on features that bring CM happiness.

[2016-08-04 02:55] #459 closed

[2016-08-04 03:04] colinxfleming commented on #491
Sorry for being the holdup on this @mchelen ! I'll get in this weekend, promise.

[2016-08-04 03:05] colinxfleming commented on #502
Backlogging since what we have right now is perfectly acceptable in a pinch.

[2016-08-04 03:05] colinxfleming commented on #506
Marking as bug, since it's not intended behavior, and deploy, since this will drive our CMs nuts I bet.

[2016-08-04 03:07] colinxfleming commented on #509
I'll handle this, unless someone has experience working with this sort of problem.

[2016-08-04 03:10] colinxfleming commented on #513
Adding to the instructions in #522; closing this as a dupe. Thanks for pointing this out @mebates !

[2016-08-04 03:11] #513 closed

[2016-08-04 03:13] colinxfleming commented on #523
@KatSDC let me know if you need me to unstick anything on this!

[2016-08-04 03:14] colinxfleming commented on #524
TBH I think this is a nice to have rather than a must have. I'm marking backlog, please let me know if you disagree @lwaldsc @NerdyGirl537 .

[2016-08-04 03:19] colinxfleming commented on #527
Having this in place for deploy would be helpful I think -- tagging as such

[2016-08-04 03:19] colinxfleming commented on #526
Feature is CM happiness related; tagging deploy

[2016-08-04 03:20] colinxfleming commented on #548
Backlog until September! (But then let's party up!)

[2016-08-04 03:20] colinxfleming commented on #551
This is on me, and I should sort it out ASAP.

[2016-08-04 03:21] colinxfleming commented on #553
We're covered on this front by Brakeman (THANK YOU BRAKEMAN TEAM) so I think we can live without it for the time being

[2016-08-04 03:26] colinxfleming commented on #311
@drownedout whipped this up, which was very kind of him.

Does someone have the ability to add it to our assets? Simple and straightforward, just replace the current image in `public/favicon.ico`.

[2016-08-04 03:29] colinxfleming commented on #448
@CamLatimer no worries bud! Take your time, and let me know if there's anything I can unstick for you.

[2016-08-04 03:31] colinxfleming commented on #434
We should have this in place by showtime, marking deploy.

[2016-08-04 03:32] colinxfleming commented on #345
Not necessary for MVP, backlogging.

[2016-08-04 03:35] #557 closed

[2016-08-04 13:50] NerdyGirl537 commented on #119
@colinxfleming another thought: a PT should also drop off the urgent list if the status changes to either "Pledge Sent" or "Resolved By Not DCAF" (or whatever we've decided for that one).

[2016-08-04 17:20] mchelen commented on #491
@colinxfleming hey no worries! i've been trying to think if there is any better approach, like if we want to do some of the container build steps locally in case people want to work on the docker config. but we can probably deal with that when such a use case comes up.

[2016-08-04 21:01] mchelen commented on #311
@colinxfleming what size .ico do we want, 32x32? are we worrying about multiple sizes? https://msdn.microsoft.com/library/gg491740(v=vs.85).aspx

[2016-08-04 23:12] colinxfleming commented on #311
32x32 is fine for now! If we need other sizes we can worry about it later

On Thu, Aug 4, 2016, 5:01 PM Mike Chelen <notifications@github.com> wrote:

[2016-08-04 23:26] colinxfleming commented on #119
@NerdyGirl537 let's punt on that for now while we get the general task for urgents cleanup in place, if that's cool with you. I want to get the minimum viable version of this in place before we get this really going and carve out the exact stuff.

[2016-08-04 23:31] drownedout commented on #506
On it.

[2016-08-04 23:31] benjamincrane commented on #415
Looking at this one tonight.

[2016-08-05 00:04] charleshuang80 commented on #119
I will start on this issue

[2016-08-05 00:24] mchelen commented on #486
here's the part of the html that changes on reload
**working**
[code]

**working**
[code]
I think the relevant code is in `app/views/pregnancies/_notes.html.erb` line 17

[2016-08-06 05:00] #506 closed

[2016-08-06 20:09] colinxfleming commented on #523
Fixed via 451d131 (thanks @KatSDC )

[2016-08-06 20:09] #523 closed

[2016-08-06 20:25] #486 closed

[2016-08-06 20:33] #455 closed

[2016-08-06 21:20] #512 closed

[2016-08-07 16:04] colinxfleming commented on #224
Going to rip this out this morning!

[2016-08-10 01:36] #522 closed

[2016-08-10 01:43] #224 closed

[2016-08-10 01:55] colinxfleming opened #572 "Write integration test for drag and drop"
PR #539 puts together a slammin' function for drag and drop reordering of call list... that I have no idea whatsoever how to write an integration test for. We shouldn't overlook this, but shouldn't address before launch on Aug 22.

[2016-08-10 02:59] #389 closed

[2016-08-13 17:10] #520 closed

[2016-08-13 18:58] colinxfleming opened #575 "Fix new relic"

[2016-08-13 20:35] colinxfleming commented on #554
Made an initial brain dump in the google drive, will follow up with @NerdyGirl537 after deployment.

[2016-08-13 23:17] colinxfleming commented on #509
Problem here is that for whatever reason the compiled stylesheet contains a bunch of references to the staging url. Probably (hopefully) can be fixed with an assets precompile somehow. Means hopefully we don't have to set up rack/cors.

[2016-08-14 04:58] colinxfleming commented on #508
The swearing free story here boils down to this:
* The bootstrap-sass gem uses absolute urls when compiling CSS assets
* If we precompile our assets in heroku, they'll utilize the URL for staging
* heroku pipelines only promote the slug, which contain the absolute urls to the staging assets
* Which in turn causes a cross site request, which in turn errors out

This is all karma for being like 'the

[2016-08-14 05:44] colinxfleming commented on #551
All set. Closing.

[2016-08-14 05:44] #551 closed

[2016-08-14 05:45] colinxfleming commented on #509
False alarm, it's not CORS but asset pipeline hell. See #508 for the root cause. Closing as a duplicate.

[2016-08-14 05:45] #509 closed

[2016-08-14 06:16] colinxfleming commented on #508
Turns out 576 didn't fix it, we'll have to do something similar to what's in https://gist.github.com/jonah-williams/5979761 to get the asset urls right.

[2016-08-14 06:49] #446 closed

[2016-08-14 19:39] colinxfleming opened #578 "Default to DC line for now"

[2016-08-14 19:39] colinxfleming opened #579 "Add multiple pregnancies functionality"
quick brain dump:
* either write a complex scope where a patient can only have one active pregnancy at a time OR
* treat patients in complete iso from each other and have them not show up in search except in some TBD admin mode after they're marked complete

Leaning toward B to increase safety/privacy and because of the fact that we can answer this in reporting with a fairly straightforward analyt

[2016-08-16 01:12] #578 closed

[2016-08-16 01:22] colinxfleming commented on #527
Let's roll with this as follows:

* If there's an `other contact` on the patient, display '{Other contact name} ({other contact relationship}' is the primary contact for this patient -- phone {other contact phone}' in red
* Otherwise do nothing

I think we can fine tune this down the line, and would prefer it be in place for showtime.

[2016-08-16 01:23] colinxfleming opened #581 "Hook up clear call list and clear urgent pregnancies as scheduled tasks"

[2016-08-16 02:24] colinxfleming commented on #119
Hey @charleshuang80 , just wanted to give this a tug for tomorrow

[2016-08-16 02:25] colinxfleming commented on #448
hey @CamLatimer ! Just giving this a tug -- let me know if I can help unstick.

[2016-08-16 23:17] jeffreyeaton76 commented on #526
I'm going to take a crack at this.

[2016-08-16 23:47] mebates commented on #555
Just agreed that @lwaldsc will put the final user manual in Crypto in a non-editable Word doc and update as necessary from the google doc

[2016-08-16 23:49] jayzmiles commented on #311
Hey Group - I left the letters off the logo to avoid the legibility issues at favicon sizes.

[2016-08-16 23:59] mebates opened #583 "Notes bug: note cutting off on dashboard"
The full note isn't showing from the dashboard:

![image](https://cloud.githubusercontent.com/assets/6223901/17719911/e6f1a18a-63eb-11e6-8da3-99ea53b4e107.png)

[2016-08-17 00:21] mchelen opened #585 "UX: Call modal "other contact info""
There are 3 fields from "other contact info" that are displayed in the call modal:
Other contact name
Other contact relationship
Other contact phone number

With #584 the modal will display properly only if all 3 are filled out.

In what way should we handle situations where only some of these fields are filled out?

[2016-08-17 00:22] mchelen opened #586 "DB Seed: other contact info"
The DB seed should include some sample "other contact info" for some patients.
Related: #585

[2016-08-17 00:23] mebates opened #587 "Create a footer"
Create a footer! And populate it with the following:

"Please send feedback or ideas for the CM App to DCAF.CMapp@gmail.com." (mailto link)

DCAF phone number, website
NAF phone number, website
onlinefaxes.com
+ <strike>link to User Manual in Crypto</strike> (later)

cc: @lwaldsc

[2016-08-17 00:23] mchelen commented on #311
I like it!

[2016-08-17 00:57] jayzmiles opened #589 "FRIDAY Establish multiple call lines on start"
Based on - "As a CM, I need to be able to choose the call line I'm working on tonight so that I input patient's data into the correct line"

[2016-08-17 01:55] jayzmiles commented on #589
A couple questions/observations we ran into:

- Is there a situation where a user (in any role) would need to view information from multiple call lines at once?
- We may solve for this issue from the perspective of the CM and then work on adapting this feature to other roles? (higher-level views for DCAF leadership or others)

Please feel free to add anything I missed, @eheintzelman.

[2016-08-17 03:30] colinxfleming commented on #555
Solid. @lwaldsc please flag when you've popped it in crypto and close it out? Thanks a ton for taking lead on this.

[2016-08-17 04:00] colinxfleming opened #592 "Reporting infrastructure"

[2016-08-17 23:45] ashlynnpai commented on #434
Taking a stab at this.

[2016-08-17 23:51] mebates commented on #585
I think that we need name and phone number at a minimum. Relationship seems optional

[2016-08-18 00:33] mebates opened #593 "DCAF Training: small issues"
Collecting some small issues we saw or heard during the DCAF team training. We can break these out into smaller issues and prioritize if necessary.

Dashboard/Status:
- Nice to see everything that happened on the last shift (a record of the patients served by the previous CM) (#654)
- "Nervous about somebody falling through the cracks" "Should I mark each of my unresolved patients as 'Urgent' to m

[2016-08-18 02:33] mchelen commented on #585
Ok, added to #584

[2016-08-18 02:33] #585 closed

[2016-08-18 13:47] colinxfleming commented on #593
Thanks a ton for logging these, @mebates !

I'm going to spin off the continue button not working as a bug and fix it before showtime, since that's something we need to be functional on Monday. The rest of these we can spin off and triage as normal.

[2016-08-19 17:06] eheintzelman commented on #589
@lwaldsc @NerdyGirl537 We would like your input. We discuss at the Sept 4th meeting if that's easier.

Here are a few follow-ups to Jay's comment above, focusing on solving the permissions issues from the perspective of the CM:

1- Are there times, outside of working a line, when a CM would need access to the system?  If so, for what purpose?
2- While working one line, are there situations when a

[2016-08-19 17:39] NerdyGirl537 commented on #589
@eheintzelman, the short answer on all three is currently no.  On the second item, there is a slight likelihood that a caller might select the wrong line and the CM not realize until after entering in the patient into the system.  That might require accessing the other line's data or some other way to get the patient's info.

@jayzmiles, the CM directors and the treasurer may.  It's difficult to s

[2016-08-19 17:59] eheintzelman commented on #589
@NerdyGirl537 That certainly keeps things simple. What about the CMs handling the Spanish-only patients?

[2016-08-19 23:49] colinxfleming opened #595 "Convert pregnancies to has_one"

[2016-08-20 00:29] colinxfleming opened #596 "Confirm that other clinic is an option in prod"

[2016-08-20 00:29] colinxfleming opened #597 "Fix javascript error that is causing the pledge form to not pop up"

[2016-08-20 00:30] colinxfleming commented on #311
Resolved by #582

[2016-08-20 00:30] #311 closed

[2016-08-20 01:12] #119 closed

[2016-08-20 02:26] colinxfleming commented on #274
Dropping this from MVP

[2016-08-20 02:26] colinxfleming commented on #203
Dropping from MVP and backlogging

[2016-08-20 03:44] #581 closed

[2016-08-20 03:45] colinxfleming commented on #596
Confirmed!

[2016-08-20 03:45] #596 closed

[2016-08-20 08:57] #595 closed

[2016-08-20 09:27] colinxfleming commented on #579
601 goes toward the latter, just need to add some unique-on-phone validator

[2016-08-20 09:34] #278 closed

[2016-08-20 15:55] colinxfleming commented on #555
I think at this point I'm very comfortable declaring victory on this -- we have a well-assembled user manual that covers major functions. I'm marking this complete.

[2016-08-20 15:55] #555 closed

[2016-08-20 15:55] colinxfleming commented on #556
This is underway courtesy of Alexa and @NerdyGirl537 .

[2016-08-20 16:15] #527 closed

[2016-08-20 16:17] colinxfleming commented on #434
Fixed by @ashlynnpai in #591

[2016-08-20 16:17] #434 closed

[2016-08-20 16:26] #118 closed

[2016-08-21 00:05] colinxfleming commented on #583
Popup seems to be breaking on singlequotes! Rude. Escaping this should fix.

[2016-08-21 00:12] colinxfleming commented on #597
Consulting with @NerdyGirl537 and it seems to be a similar-ish problem to our notes problem that alexis fixed a few weeks back -- something about reloading the page after wrenching on the patient fixes. Wonder if there's some field we have to fill out for the modal to produce valid code.

[2016-08-21 00:12] colinxfleming commented on #319
Backlogging

[2016-08-21 00:17] colinxfleming commented on #453
With regrets I'm going to move this out of deploy milestone. A little too gassed to take care of it -- I think we can handle before too long, but this is complex enough that I want to be in a more awake state for it.

[2016-08-21 00:21] colinxfleming commented on #521
Removing from deploy since it's not mission critical

[2016-08-21 00:53] colinxfleming commented on #508
Here's the exact problem I was running into, maybe some juice here:
http://stackoverflow.duapp.com/questions/37653073/heroku-pipelines-amazon-cloudfront-and-multiple-environments
http://stackoverflow.duapp.com/questions/8551927/assets-pipeline-on-heroku-how-to-manage-2-environments?rq=1

[2016-08-21 15:23] mchelen commented on #597
I can take a look, what are the steps to reproduce?

[2016-08-21 15:26] mchelen opened #605 "Improve error message when unable to save patient"
When creating a new patient via "Build your call list" the patient creation requires these fields:
- phone number (must be valid_
- name

If they are missing or invalid, an error appears:

It would be nice to make this error more specific, such as

or

[2016-08-21 15:47] colinxfleming commented on #597
Mike you're a gem.

From the dashboard:
* Create a new patient by searching for someone not in our system
* Click over to their view page
* Click submit pledge -- this makes their modal pop up

At this point, the expected behavior is:
* Clicking continue in the Create Pledge modal should take the modal to the
next step, the 'preview your pledge' thing we haven't yet hooked up

The actual behavior

[2016-08-21 15:53] #583 closed

[2016-08-21 16:33] colinxfleming opened #607 "Fix mailer from info"
password reset info comes from noreply@dcaf.org which is not a real thing. Should take steps to make it look like actual dcaf.

[2016-08-21 17:05] #415 closed

[2016-08-21 17:48] colinxfleming opened #609 "Cleanup job not working properly"
flagged by @NerdyGirl537 while doing data entry

[2016-08-21 18:23] #526 closed

[2016-08-21 19:28] mchelen opened #612 "Standardize modal code & style"
There are at least 2 different types of modals being used, such as the call modal and the pledge modal. Because they have different code & styling, they have different animation style, button styling, and only the call modal is successfully closed by clicking elsewhere on the screen.

The different types should be standardized, with code & styling reused between them.

[2016-08-21 20:49] #597 closed

[2016-08-21 22:59] #508 closed

[2016-08-21 23:08] colinxfleming commented on #508
Confirmed that this is resolved in #613. Closing for good and shooting this out of my brain

[2016-08-23 14:47] NerdyGirl537 commented on #203
CM on 8/22  sent three pledges and two had no appointment date and one had the wrong appointment date.  She also had one with an appointment date showing not matching what was in her notes and one that looks like it should have an appointment date (cost of procedure/clinic entered) but no appointment date in the field.

[2016-08-24 03:15] colinxfleming opened #614 "Ongoing thread for user feedback"
Now that we've started to use this in production, we're going to spin up this issue to start keeping tabs on user feedback. We can use this to inform future dev priorities, changes, etc.

Our first run is by Dee, call notes from night 1 are as follows:

* Words used to describe initial use: 'intuitive', 'got everything' (no action)
* activity: fairly heavy call load, sent several pledges (no actio

[2016-08-24 03:30] colinxfleming commented on #614
Night 2 with Dee:

* 'Way better today now that I'm used to it!' Observed that she was able to get through calls much faster
* Said it wasn't terribly clear why sending a pledge didn't remove the patient from the urgent cases or call list -- reasoning being that usually when we send a pledge, that's it unless we hear from them again
* With respect to default voicemail, she said that generally if s

[2016-08-24 03:30] colinxfleming commented on #614
cc @lwaldsc @mebates @eheintzelman

[2016-08-24 03:31] colinxfleming opened #615 "Notes from data entry process"
A core team of @verbingthenoun  and @NerdyGirl537 (plus a short assist from myself) did a slew of seed data entry. Wanted to make sure we logged these interactions with the system.

What follows are a couple notes I jotted down during the process:
* I entered a patient who had a phone extension. Since we strictly format phone to 10char, we couldn't squeeze this in at the end. I wound up putting it

[2016-08-24 13:07] verbingthenoun commented on #615
Alexa here, adding a couple of mine:

- I couldn't always get the clinic name to show up in the pledge popup, even after refreshing.

- Maybe more of an issue when doing data entry than real-time call logging, but not being able to update the initial call date was a problem if entered incorrectly, since LMP dates all work off of that call date.

- It didn't appear that it was possible to create tw

[2016-08-24 15:08] NerdyGirl537 commented on #615
For the import, I grabbed the file early and did a scrub for repeats.  We're still having problems with that as some CMs don't go and find the original entry and others maintain the PT during their shift and then update the old one as well (very confusing).  Also, CMs are putting in comments on spelling for the patient names (ex  "Sp?" or "Not sure on spelling" or just "(?)").

On the initial call

[2016-08-25 15:28] lwaldsc commented on #614
Night 3 with Dee:

- had a PT with multiple numbers. Reiterated the need to have the alternate number on the call popup, but told her it was in the pipeline.
- need the ability to store more than two phone numbers? how do we want to deal with that?
- include income by month (as well as week) as that's how most PTs will discuss their income
- how will CMs learn about changes to the system as they h

[2016-08-25 22:18] colinxfleming commented on #556
Done! Closing 🎊

[2016-08-25 22:18] #556 closed

[2016-08-25 22:24] colinxfleming commented on #579
We went with B, object model-wise.

[2016-08-25 22:24] #579 closed

[2016-08-27 03:55] colinxfleming opened #616 "Pledge controller code not consistent with behavior"
Winds up being an ajax call in practice; currently assumes the result is a redirect

[2016-08-29 16:24] lwaldsc commented on #614
Night 1 with Katelyn:

- CMs should ideally have access to the cheat sheets in Crypto via the CM App. This applies mostly to the other funds we work with and the contact/pricing list for clinics.
- She said she really appreciated how the system simplified the actual call process.
- Still wrote out notes by hand but is trying to force herself to rely on the "Your Call List" function.
- Was confused

[2016-08-29 16:28] lwaldsc commented on #614
Night 4 with Katelyn:

Overall, still very positive feedback

- Your Call List is still repopulating every day with seemingly little reason between PTs. She has seen PTs she has left a VM for, those still in the fundraising status, those marked resolved without DCAF, and a PT where another CM has sent a pledge already.
- Sending a pledge does not unmark a PT as urgent automatically. Both Katelyn a

[2016-08-31 21:51] colinxfleming commented on #614
First dupe! Got an email from Katelyn as follows:

[2016-08-31 22:03] colinxfleming commented on #524
Promoting this to active!

[2016-08-31 22:17] colinxfleming commented on #515
Promoting to active -- key to developer happiness

Cases to build seeds around:

* At least one patient should have `other contact` information (name, phone, and relationship)
* At least one patient should have an appointment a week from the current date and have a clinic selected
* At least one patient should have a pledge submitted
* At least one patient should be marked resolved without DCAF
*

[2016-08-31 22:18] colinxfleming commented on #548
@mebates and I discussed this a few weeks back and I think we decided mid-September. A good thing to do here would be to poll the group and Mollie and select a day that works for everyone, and log that and the venue in this ticket.

[2016-08-31 22:20] colinxfleming commented on #572
Promoting from the backlog. Drag and drop is kind of a key feature in the workflow we've built, and I think it's important to represent. Would be awesome to have an integration test dedicated just to this!

[2016-08-31 22:21] colinxfleming commented on #587
Promoting from backlog!

[2016-08-31 22:33] colinxfleming commented on #612
Promoting this from the backlog.

This is a great opportunity to remove a lot of redundant code and abstract it into something very effective. I'm looking for something along the following lines:

* Create a `modal_helper` with a method that generates code for a modal, and takes content as arguments
* Standardize the animation, code, dismissal, and button styling in this modal
* Replace the new ca

[2016-08-31 22:50] colinxfleming commented on #605
Right now it's not super clear why things aren't saving, so this is an opportunity to reduce an identified point of frustration for our users.

It should be as simple as correcting the error rendering in the patients controller (though please do some googling around to follow best practices etc).

[2016-09-01 02:13] colinxfleming opened #619 "Plan next training"
cc @lwaldsc

[2016-09-01 02:55] lwaldsc commented on #614
Night 7 with Katelyn:

- As stated above, no control for duplicate numbers!
- Found a few PTs which had not been entered in the system but handled the cases just fine.
- Has stopped using paper notes!

Her handoff emails:
-Was very short as she had no outstanding PT issues.
- Used budget tracker rather than system to indicate soft pledges (Indicating soft pledges is something that would be useful

[2016-09-01 04:08] colinxfleming opened #620 "Validate patient uniqueness on primary phone"
Barely a week in and we're already starting to run into duplicates on phone number. Let's add a validation such that Patient is unique on phone number as soon as we can. (Step two is merging duplicates already created in production, but I'll handle that part of it when this PR is ready to deploy.)

[2016-09-01 04:23] colinxfleming commented on #215
Promoting this to the current sprint, since ERDs are very helpful in onboarding. I think we can consider this completed when we have a picture of an ERD in the readme, plus a 10000 foot view explanation of how mongodb works in this project (e.g. define fields dynamically, no migrations, once-over on how `embedded` works.)

[2016-09-01 04:28] colinxfleming commented on #619
A few thoughts from conversation with @lwaldsc :

* the first cast of CMs is about done with the system. Soon we'll be starting round 2, so another training of the second squad is probably in order. Let's start shopping dates in mid-September
* sooner rather than later we should get this process into the CM directors' hands again so we can focus @lwaldsc on user feedback and pushing forward design

[2016-09-01 23:10] mebates commented on #548
@colinxfleming we discussed a weeknight affair with pizza, drinks, and treats. here's the doodle!
http://doodle.com/poll/33nixf5gqazgbzkt

[2016-09-01 23:16] Kevin-Wei commented on #607
I'll take a look at this

[2016-09-01 23:25] Kevin-Wei commented on #607
default from: 'no-reply@dcaf.org' is set in user_mailer.rb. Are we just trying to plug in something that makes more sense?

[2016-09-01 23:29] mebates commented on #612
And have a designer take a look at the visual design! When you submit a pull request, please include a screen grab so we can take a look. Thanks!

[2016-09-01 23:30] colinxfleming commented on #607
yeah, pretty much. Can we set a global default of
no-reply@dcabortionfund.org?

On Thu, Sep 1, 2016 at 7:25 PM Kevin Wei <notifications@github.com> wrote:

[2016-09-01 23:46] mebates opened #621 "Create DCAF Style Guide wiki"
Other designers need to be able to jump in and design for the DCAF CM App. Our design style should be documented on a wiki page. (ex: issue #302)

[2016-09-01 23:50] mebates commented on #524
For the UI, please add a column in the Call Log table with the word "Remove" in it, as a red underlined link. This resembles the 'Remove' behavior on the call list.

+1 to the javascript alert confirmation

[2016-09-01 23:55] charleshuang80 commented on #524
I'll work this issue today

[2016-09-01 23:56] NerdyGirl537 commented on #587
@mebates

DCAF phone number, website: 202-452-7464  http://dcabortionfund.org/
NAF phone number, website: 800-772-9100  https://prochoice.org/

[2016-09-01 23:58] mebates commented on #454
@lwaldsc and @NerdyGirl537 have assembled some sample transition emails into a google doc for us. If you are doing work on this issue, make sure to request access to the doc!

[2016-09-02 00:01] karldonus commented on #521
Hey! I'm going to tackle this issue. Thanks.

[2016-09-02 00:14] Kevin-Wei commented on #605
When the save fails we just need to update the flash msg to use the .errors hash in the create action on the patient's controller

[2016-09-02 00:34] Kevin-Wei commented on #607
devise.rb has a default you can set there too   config.mailer_sender

[2016-09-02 00:34] eheintzelman commented on #589
@colinxfleming Call line selection is ready for development.  It turned out to be quite simple for the CMs since there are not needs to access multiple lines at the same time or toggle between lines. We are not tackling roles other than CM that might benefit from the ability to view information from multiple lines at once in this user story.

1. Add concept of 3 lines (in code).  DC Line, MD Line,

[2016-09-02 00:40] NerdyGirl537 commented on #454
@mebates  Thoughts on transition.  I like the idea of some sort of communication between CMs.  We're all virtual and the email gives me the feeling of being connected to the other CM, that all my patients have been put in good hands.  The transition also allows CMs to share things that aren't in the system, especially when one of the sister funds is out of funding and when they will be able to fun

[2016-09-02 00:50] karldonus commented on #515
I'm going to take a swing at this issue.

[2016-09-02 00:59] mebates commented on #454
@NerdyGirl537 good thoughts. So the minimum action is to do nothing. 🎉

Another thing we could do is have an easy list of all the calls you've made *on your shift, across many nights* so you can review them and decide what information you want to share. We could also make it easy to share that list with the next CM. We've heard from folks that they liked being able to scroll through the excel doc

[2016-09-02 01:13] danfowler commented on #605
Looking into it 👀

[2016-09-03 00:05] jasonallenphotography commented on #620
On it!

[2016-09-03 04:06] jasonallenphotography commented on #620
Pull Request #624 is in, build passing.
Please let me know if I may be of further assistance!

[2016-09-03 04:54] jasonallenphotography commented on #587
Working on it!

[2016-09-03 22:54] #607 closed

[2016-09-03 22:59] #605 closed

[2016-09-04 21:28] colinxfleming commented on #620
Closed via #624

[2016-09-04 21:28] #620 closed

[2016-09-04 21:38] colinxfleming commented on #589
Awesome, thank you very much team UX! Going to quickly jot down some thoughts:

* The concept of lines is represented in the object model already, thankfully.
* We'll need to find a good way to scope a patient's experience to a particular line. MVP is locking to a particular url (e.g. `dcaf-cmapp-staging.herokuapp.com/dc` or something), nicer version is probably some kind of a session attribute th

[2016-09-06 01:14] mebates commented on #589
Perhaps instead of cancel, it should say 'logout'?

[2016-09-06 01:19] mebates commented on #548
The party will be on Sunday, September 18. Check slack for more details, coming soon! @lwaldsc and @ajohnson052 we hope you can somehow swing it - lmk if any timing changes would help!

[2016-09-06 02:33] colinxfleming opened #626 "Design administrative support screens for user management"
Right now I'm creating new accounts through the heroku console, which clearly is not tenable. We should turn account creation back on for people with administrative privileges.

[2016-09-07 04:00] lwaldsc commented on #614
Joy -

She found actual calls went much smoother and it was easier to talk with PTs; she could focus on actual conversation than messing around with spreadsheet. This also made collecting data easier as it was right in front rather than having to scroll through the spreadsheet.

- Calendar icon with no pop up is confusing - Should we remove?
- Notes on main dashboard sometimes pops up on hover, bu

[2016-09-07 09:36] NerdyGirl537 commented on #614
Just did a quick read. The one you asked to flag is actually not an issue.
I did this for over 100 patients on data entry. They stay in no contact
made until you click the I reached patient button.

On Sep 7, 2016 12:00 AM, "Lisa" <notifications@github.com> wrote:

[2016-09-07 19:08] eheintzelman commented on #589
'Logout' makes more sense, yes.

Unless we removed the cancel/logout option altogether?  How important is it to give users the option not to start a session after all, once they have logged into the system?

[2016-09-08 03:37] colinxfleming commented on #589
I can't really think of a case where someone would log in and not want to start a session of some kind, really. I'd vote for removing cancel as an option and making them dive right in.

[2016-09-08 03:45] colinxfleming commented on #589
Also, I'm reasonably sure we can knock the major components of this out in a hacknight, so I'll try to slate it for either this coming one or the one after.

[2016-09-08 03:55] colinxfleming opened #627 "Create standard operating procedure for deploying updates to production"
Who do we notify, what documentation do we have to change, how often, etc

[2016-09-11 16:42] colinxfleming commented on #619
Updates to this:

* Date set for Sep 22, 630-8pm, led by @lwaldsc
* Team CMD will be taking on training responsibilities within DCAF after that. (Let's make sure to ask them to write a manual that we can share with other funds if possible.)
* need to CM Katelyn if she wants to co-lead, since she's our reigning expert. (Want to make sure we confirm with Lisa before asking though)
* we'll have 2-3 C

[2016-09-11 16:48] colinxfleming commented on #454
Throwing this out, to piggyback on @mebates 's point above about CMs being on top of the last few days of calls -- we've heard in a few places that CMs are interested in some sort of activity feed. Maybe the initial block of wood we can start from is an activity feed of some sort with the last 3-5 days of calls, and meet this need by some combination of this + what we're already doing around last

[2016-09-11 16:53] colinxfleming commented on #524
@charleshuang80 I'd put good money on you being in good shape on this, but let me know if you need an un-stick!

[2016-09-11 17:08] mebates commented on #548
September 18
6-9 pm
Mollie's house
check slack for details

@colinxfleming : order pizza
@mebates : make salad, get plates, cups, silverware, make cake, make sure house is presentable

[2016-09-11 17:08] #548 closed

[2016-09-12 22:05] lwaldsc commented on #614
Ari -
- Still having issues with completed calls resetting into her call list the next day.
- Needs more than one alt phone number slots
- Seconds need for a fuzzy search; she flagged that many PTs give their number late in the voicemail
- Wondering if there was a way for CMs to flag a PT for admin review for some reason (the example she gave was duplicate records, but there could be other uses fo

[2016-09-12 22:54] lwaldsc commented on #614
Arona-

- "Resolved without DCAF" PTs are popping back into call list, in addition to others
- Would like appointment date on the Your Call List details so CMs can sort PTs by closest appt date
- Drag and drop was not working smoothly for her (Firefox 48.0.2/Windows 10)
- Asked for a button to call a PT from inside the PT file. After looking at the system today, it looks like there is one, but not

[2016-09-13 04:04] #587 closed

[2016-09-13 04:32] colinxfleming commented on #616
Tagging admin until I flesh this out

[2016-09-13 19:10] lwaldsc opened #629 "Appointment date added to Dashboard information"
Related to #510

A few CMs have flagged they would like a PT's appointment date in the dashboard information so they can also prioritize PTs with close appointments

![image](https://cloud.githubusercontent.com/assets/10578608/18487690/269479be-79c4-11e6-9356-499a236130d6.png)

[2016-09-13 20:52] NerdyGirl537 commented on #614
This has been banging around in my brain all week and I'm pretty sure I
read it wrong.  Definitely should check it out.

On Wed, Sep 7, 2016 at 5:36 AM, Jenn Rudiger <jenn.rudiger@gmail.com> wrote:

[2016-09-13 21:49] lwaldsc opened #630 "Add "hard pledge" box"
We will eventually need a hard pledge box as well as soft pledge for budget tracking.

[2016-09-13 21:51] lwaldsc opened #631 "Add "Other medical issue""
Need to add "Other Health issues" checkbox to the special circumstances

[2016-09-13 23:17] mebates commented on #630
Does a soft pledge simply turn to 'hard' upon submitting the pledge? Perhaps we ask them to confirm the amount during the 'submit' flow?

[2016-09-13 23:18] mebates commented on #629
Cool! Should be easy to add, just squeeze the space we leave for comments.

[2016-09-13 23:19] mebates commented on #626
This sounds like a 'support' function. Any other support-type things we should consider? Def needs more UX thinking.

[2016-09-13 23:19] mebates commented on #631
Is that valuable from a data-collection lens? Or just something that can be noted in 'notes'?

[2016-09-13 23:26] colinxfleming commented on #629
Promoting this to active!

[2016-09-13 23:32] colinxfleming opened #632 "Do automatic math of money needed for abortion vs money on record"
(suggestion from Lisa, logging as a recommended priority)

[2016-09-13 23:35] colinxfleming commented on #589
Promoting to backend/question since now this is pretty much ready to go from a UX standpoint.

I think how I'd like to have this shake out is to have picking a line assign a session variable, and then scope queries through that session variable. Thoughts?

[2016-09-13 23:55] jasonallenphotography commented on #586
On it!

[2016-09-14 00:12] Kevin-Wei commented on #572
Found a drag_to in capybara http://www.rubydoc.info/github/jnicklas/capybara/master/Capybara/Node/Element#drag_to-instance_method

[2016-09-14 00:14] colinxfleming commented on #632
In the `abortion_information` partial, underneath the abortion cost / pledge information section, there's an opportunity to make case managers lives easier by doing some math! Let's add some helper text below the abortion cost that shows the difference between the abortion cost and the money we have available.

[2016-09-14 00:24] mebates commented on #118
Hey guys - this issue is a bit confusing. Can you summarize where we landed on the rules about clearing calls (in plain language)? Need the info for reporting discussion... Thanks!

[2016-09-14 00:34] colinxfleming commented on #118
The logic here shook out as follows:

We remove you from a user's call list at 4am nightly if all of the following are true:
* you called the patient
* and reached them
* within the past 8 hours

[2016-09-14 01:04] jasonallenphotography commented on #515
Completed, to be pulled with @lomky:
- [x] At least one patient should have other contact information (name, phone, and relationship)
- [x] At least one patient should have an appointment a week from the current date and have a clinic selected

To do still, WIP:
- [ ] At least one patient should have a pledge submitted
- [ ] At least one patient should be marked resolved without DCAF
- [ ] At leas

[2016-09-14 01:05] mebates opened #634 "CMD Reporting MVP"
Real time reporting for the Case Manager Directors.

Notes from user interviews: https://github.com/colinxfleming/dcaf_case_management/wiki/Data-Reporting-Management-notes

Need to work to define the MVP based on the data we're currently collecting, then perhaps a second release after we have full budgeting functionality. Go team!

[2016-09-14 01:10] mebates commented on #634
@mjrich check out our first hit at reporting needs! can datakind help?

[2016-09-14 02:14] mebates commented on #634
First stab at a very-very MVP "DCAF Data Center", based on data I know we can immediately display. Obviously the MD and VA values will be "null" until we start those call lines. We have a lot more reporting to display, so we'll probably have to work in some navigation options.

![dcafwireframe091316_data center](https://cloud.githubusercontent.com/assets/6223901/18497755/21fcaa76-79ff-11e6-917a-a5

[2016-09-14 02:17] mebates commented on #632
Probably need ability to add 'other' fields to make this effective. If the
patient is 'short' the difference can be shown in red. Needs a little
design work, I think. (Anyone can pick up!)

On Tue, Sep 13, 2016 at 8:14 PM, Colin <notifications@github.com> wrote:

--
Mollie Bates   |   molliebates.com   |   734.945.5892

[2016-09-14 02:18] mebates commented on #118
So what came up tonight was the many patients who are 'dormant' for days, weeks, or forever. We don't want to encourage CMs to keep calling PTs who don't give DCAF a call back, and leaving them on the list for the whole shift might do that. And what if you come back a month later and they're still there? Or 9 months?

[2016-09-14 14:16] NerdyGirl537 commented on #630
I think there is an opportunity here to look at how we track pledges in the future.  The soft vs hard pledge, I think, is related to how we stored data on the spreadsheet.  We should really look at how we want to manage the budget and reflect available fund for the CMs.

[2016-09-14 14:24] lwaldsc commented on #631
As valuable as collecting any other special circumstance, yes.

On Tue, Sep 13, 2016 at 7:19 PM, Mollie Bates <notifications@github.com>
wrote:

[2016-09-14 14:25] lwaldsc commented on #629
Fantastic!

On Tue, Sep 13, 2016 at 7:26 PM, Colin <notifications@github.com> wrote:

[2016-09-14 14:28] lwaldsc commented on #634
I love this so much!

Is there a way to add a CM's personal stats in there as well?

Something like DC/MD/VA/You

I know that's something a couple CMs have mentioned wanting to have and
something we've briefly mentioned in the past.

On Tue, Sep 13, 2016 at 10:14 PM, Mollie Bates <notifications@github.com>
wrote:

[2016-09-14 14:49] NerdyGirl537 commented on #118
Okay, I'm working through some different thoughts here.  Perhaps, we need something as part of the handoff/transition between shifts that will clear the CMs call log.  Since we're considering some sort of report for the CM to share, perhaps that can also trigger clearing the call list?

[2016-09-14 15:18] NerdyGirl537 commented on #634
This looks great.  A quick question about the "new patients contacted": is that counting all the callers entered in the CM App?  If not, I'd love to see a summary of how many calls came in during the week.

Also, I noted that this is for the CMDs.  Would it be available for the CMs?

For naming, perhaps "Call Line Summary"?

And just a random note for realism: we usually send between 6 and 12 pled

[2016-09-14 15:20] lwaldsc commented on #634
Ahhhhhhhh I missed that it was for the CMDs only. I do think the CMs would
like a version of this though, including their own personal stats. Maybe
not as detailed? Not an urgent request, obviously, but something nice if
the coding isn't difficult.

On Wed, Sep 14, 2016 at 11:18 AM, NerdyGirl537 <notifications@github.com>
wrote:

[2016-09-14 21:17] colinxfleming commented on #630
I agree with Jenn here, I think getting away from the notions of hard vs
soft pledge would be really great. Would love to ditch that concept
entirely if at all possible.

On Wed, Sep 14, 2016 at 10:16 AM NerdyGirl537 <notifications@github.com>
wrote:

[2016-09-15 03:22] colinxfleming commented on #634
Making a quick note before I forget to make sure we account for the info
that nnaf asks us for every year

On Wed, Sep 14, 2016, 11:20 AM Lisa <notifications@github.com> wrote:

[2016-09-15 19:52] NerdyGirl537 commented on #630
Brain dump here for discussion and design of budget functionality:

The main thing a CM needs to know when coming on shift is actual funds available and projected spending for the week.  The budget resets at the beginning of the week (Mondays).  Each line as a specific budget.  If coming on shift on Monday, there is normally the full budget available but there may be some pending appointments alre

[2016-09-15 19:56] verbingthenoun commented on #630
Just to clarify on "hard vs. soft pledges" what I think would be most useful is being able to track what was pledged over time, and then have a separate place to denote the final amount sent to the patient. Right now, the system can only store one number for the pledge and I think it would be really helpful to see how pledges changed - do we usually shoot low/high? Are pledges more likely to be se

[2016-09-15 20:21] lwaldsc commented on #630
Just a quick thought on color scheme: I'd avoid red/green for accessibility
issues. I'm sure Mollie has more insight into this as the actual designer
on the team.

Backing off of Alexa's thought, it would be nice, data-wise, to see how our
CMs use soft pledging versus hard pledging. It may not look like a separate
"soft" versus "hard" but knowing how pledges change over the course of our
interacti

[2016-09-15 20:55] NerdyGirl537 commented on #630
To Alexa's comment on seeing how the pledge changes, would it work if it was stored in the change log?

[2016-09-15 22:30] colinxfleming commented on #634
Dug through my email and couldn't find them, so kicked them on to the board. In a nutshell, there's some stuff we need to report on for the annual report and to NNAF (stuff like 'how much got spent', 'how many patients', basic counts and crosstabs). I think a serious way to drive wider adoption might be to roll some of this stuff in early. (I'm also curious as to how much crossover there is.)

[2016-09-15 22:38] colinxfleming commented on #631
I wonder if there are other special circumstances we're missing -- was Other health issues in the spreadsheet and we just missed it? Or is this something that people were putting in when the spreadsheet validation broke?

[2016-09-16 03:02] colinxfleming opened #636 "Make issues for things raised during investigation"
Flagged by CM Kari. Investigating. I think the rake task just nuked everyone but I'm investigating.

[2016-09-16 03:22] colinxfleming commented on #636
Modified by id isn't populating. That's pretty annoying!

[2016-09-16 03:34] colinxfleming commented on #636
Looks like this was case manager behavior,  but:

a) it looks like the rake task isn't working and
b) `modified_by_id` in audit trail isn't populating.

Task here: spin both of these into separate issues.

[2016-09-16 04:19] colinxfleming commented on #634
The annual report is [here](http://dcabortionfund.org/wp-content/uploads/2016/02/DCAF_Annual_Report_2015.pdf). Probably none of this is relevant for a CMD dash, though, so I'll move it to another issue.

[2016-09-16 04:20] colinxfleming opened #637 "EOY reporting needs"
In a nutshell, the figures here: http://dcabortionfund.org/wp-content/uploads/2016/02/DCAF_Annual_Report_2015.pdf

TK: a list of NNAF requested data, as soon s I can dig it up from my inbox.

[2016-09-17 03:38] colinxfleming commented on #553
I think this is something that's more headache than it's worth, marking wontfix and closing.

[2016-09-17 03:38] #553 closed

[2016-09-17 03:47] colinxfleming opened #639 "AuditTrail#modified_by_id not populating when an object is edited (MongoidHistory problems)"
When I edit an existing patient or pregnancy, I expect that my user ID will save to the AuditTrail entry.

Instead, the AuditTrail object is being saved with `modified_by_id` being set to nil.

What I want is for `modified_by_id` to populate with my user ID when an object is modified and a new AuditTrail object is created.

[2016-09-17 03:48] colinxfleming commented on #636
AuditTrail made in #639
Cleanup job issue represented in #609

[2016-09-17 03:48] #636 closed

[2016-09-17 03:56] colinxfleming commented on #637
NNAF requested data is pretty much a near perfect crossover. Unless their questions change drastically I think we can just recreate questions in the annual report.

[2016-09-17 03:56] colinxfleming commented on #637
Tagging UX backlog.

[2016-09-17 04:05] #215 closed

[2016-09-17 04:30] colinxfleming opened #640 "CMD reporting: Create reports controller with index route"
Designs for a reporting dashboard are starting to surface from team UX (#634), and it's time to start typing!

Let's start with the following:
* Create a `reports` controller with an `index`
* Add a placeholder view for index
* Add a quick controller test to confirm that `get` works

[2016-09-17 04:31] colinxfleming commented on #632
Good call on there being a design need here -- retagging as UX and removing the milestone.

[2016-09-17 04:35] colinxfleming commented on #631
Outstanding question here is to figure out whether there are other special circumstances we're missing. That's on me, I'll figure it out this weekend.

[2016-09-17 04:49] colinxfleming commented on #630
Yeah, @verbingthenoun 's problem description is totally something we can engineer around with the changelog / audit trail. Thrilling that we'll be able to start to answer these questions.

I'm onboard with @NerdyGirl537 's excellent writeup of the problem here -- I think we're using different vocabulary for the same ideas of hard/sent and soft/unsent.

To confirm, @lwaldsc do you think that an exp

[2016-09-17 04:58] colinxfleming commented on #626
Google dump:
* http://wiki.summercode.com/rails_authentication_with_devise_and_cancan
* http://stackoverflow.com/questions/19017978/allowing-admins-to-add-users-with-devise
* http://stackoverflow.com/questions/23879648/devise-allow-only-admin-to-create-users

(There's a baked in devise form we can use for the immediate thing.)

I'm not sure about support type stuff, but I'm not super worried about

[2016-09-17 05:01] colinxfleming commented on #619
TODO for me: Print out training manuals and get them to the library
Approx headcount at this time: 22ish
Lisa's on point for asking KBC if she'd like to join for training

[2016-09-17 05:04] colinxfleming commented on #616
Not an active concern until we implement some kind of representation of multiple pledges from funds, which is its own big PITA. Closing for now.

[2016-09-17 05:04] #616 closed

[2016-09-17 05:07] colinxfleming opened #641 "How to handle phone extensions?"
This happened while I was entering data into prod -- we strictly format phone to 10 characters, and I couldn't squeeze in an extension and had to put it as a note in 'Other Contact' instead.

Should we add a field for extension somewhere, or just rely on other contact/notes to handle this? Any opinion or best practices from team ux?

[2016-09-17 05:14] colinxfleming opened #642 "Break out clinics all the way"
We have some grouped ones -- PPMW is one entity in the app, and that represents a few diff clinics. @NerdyGirl537 pointed out that we will probably need to break this out so that we can find the correct fax number.

Let's either break out the environment variable more, or start writing clinic yaml.

[2016-09-17 05:21] colinxfleming commented on #615
Spun actionable items into separate issues; marking resolved

[2016-09-17 05:21] #615 closed

[2016-09-17 05:22] colinxfleming commented on #592
Design in progress

[2016-09-17 05:22] #592 closed

[2016-09-17 16:20] colinxfleming commented on #626
After a good night of sleep (imagine that, after a good night of sleep I look at problems differently, who'd have thought), I think there might be some basic admin support of users we can roll up -- some kind of admin panel that's just a paginated view of users, their last login timestamp, and a button to send them a password reset email might be very helpful. What do you think @mebates ?

[2016-09-21 03:54] colinxfleming commented on #627
Plan is as follows:

* Follow a routine patching schedule of biweekly deployment on Sundays between 10am and 2pm, should there be code changes
* Email CMDs to alert on any feature adds / changes / etc
* Follow an emergency patch schedule as needed in coordination with the CM on duty and CMDs

[2016-09-21 03:54] #627 closed

[2016-09-23 17:19] eheintzelman opened #643 "Audit & Accounting for MVP"
Integration of some audit and accounting functions.

Notes from Interview with DCAF Accountant: https://github.com/colinxfleming/dcaf_case_management/wiki/Audit-&-Accounting-Notes

We need to decide how much to integrate for the MVP.  I see two big picture options:

1 - Maintain the current process where the accountant maintains a 'shadow spreadsheet' to reconcile pledges submitted by CMs with ful

[2016-09-24 05:14] #521 closed

[2016-09-24 05:55] colinxfleming commented on #643
I think I favor option 2. Getting out of the spreadsheet business and getting some of DCAF's admin functions out of the 'shadow' level is a pretty important goal, and I think the last two big things are this and clinic info.

Maybe we can strap a Reconciliation object onto our data model, and have that include Date of Procedure, LMP on Day of Procedure, and any other stuff that the accounting side

[2016-09-24 06:11] colinxfleming opened #645 "Investigate MongoDB indexing"
Are you great at MongoDB performance tuning, or interested in learning about it? Then I have a great opportunity for you!

As we continue to create more and more records, I'd love to keep our search functionality snappy. I suspect that the way to do this is to add indexes on the stuff we search for all the time, but I leave it up to the person taking this on to investigate and recommend a path for

[2016-09-24 20:54] colinxfleming opened #646 "Move to brakeman pro gem"

[2016-09-24 22:56] #609 closed

[2016-09-28 21:44] colinxfleming opened #648 "heroku free ssl on custom domains!"
roll this out and save some dollars!!

[2016-09-29 12:25] mebates commented on #634
I'll take a look at the annual report data to see if there's anything we can incorporate. We prioritized weekly reporting needs for MVP, per this document.

Though the target audience for this is CMDs, I discussed with the group that anyone would be able to see this screen, so I don't mind the idea of adding 'you' column under the "Past 30 days" and "Year to Date" headings. I like "Call line summa

[2016-09-29 12:28] mebates commented on #641
I would vote for notes. Generally want to reduce complexity and not design for the edge cases.

[2016-09-29 12:29] mebates commented on #626
Yes. A support screen or two. Needs work and thinking. Doing this at my job right now too.

[2016-10-02 21:48] colinxfleming commented on #626
Sounds like in practice this is probably two tasks:

a) Backend wise, wiring up `devise` and `pundit` libraries so that authorized users (e.g. CMDs, program admins such as myself and Jenn) can create users
b) UX wise, figuring out what authorized users need to be able to handle this administrative component of the system.

The former we can start on now, since it's basically just 'wire up the devi

[2016-10-02 22:00] colinxfleming opened #649 "Wire up Devise and Pundit to allow admins to create users"
Right now I'm creating users by hand through the rails console, which means that if I get hit by a bus, no more new users, which is a problem. I'd like to be able to get to a point where any of our admin users can create accounts, so that we can turn this into DCAF's problem.

Here are the steps to that, as I see them:
* Change `User#role` to be an `enum` instead of a string (see `Patient#voicemai

[2016-10-02 22:05] colinxfleming commented on #641
Notes works for me. @lwaldsc and @NerdyGirl537 please reopen this issue if you object to this course of action.

[2016-10-02 22:05] #641 closed

[2016-10-02 22:29] colinxfleming commented on #621
This is a fabulous idea! Is the first step here scoping out what we need to cover and then settling in and writing it?

[2016-10-02 22:46] colinxfleming commented on #515
@jasonallenphotography how's this coming? Anything I can do to give this a shove forward?

[2016-10-02 22:58] colinxfleming commented on #631
Was slacking on this -- emailed the CMDs tonight, will update thread when I hear back and then we can plan based on that.

[2016-10-03 03:23] colinxfleming commented on #639
I suspect that this is just because we either a) didn't read the manual closely enough when we set it up, or b) are overlooking something obvious, and that someone more familiar with the `mongoid-history` gem, so I'm marking `hacktoberfest` in hopes that someone nails this!

[2016-10-03 03:30] #575 closed

[2016-10-03 03:34] colinxfleming commented on #533
Now that we're storing production data, probably time to address this! Because I suspect this is something that someone familiar with mongoid has a workaround for, and because I want to have a solution on file, I'm marking `hacktoberfest`.

A test case, for reference:

* The user model has a field `role`, currently stored as a string. It's all null at present
* Soon we'll be changing that to an en

[2016-10-03 03:36] colinxfleming commented on #412
On the off chance someone is intimately familiar with `secure_headers` and can offer feedback on whether it's a good idea for this project, I'm all ears!

[2016-10-03 03:50] #640 closed

[2016-10-03 13:16] jasonallenphotography commented on #515
@colinxfleming Sorry for the delay on this one! Will work on this tonight and prepare for PR by lunch tomorrow at latest.

[2016-10-03 13:32] eheintzelman commented on #643
Ok, so moving in the direction of getting out of the spreadsheet business, I put together a proposed process flow for integration of accounting functions with DCAF CM.  I'm working on getting feedback on this from the accountant and would like feedback from @NerdyGirl537 and @lwaldsc

[DCAF Accountant Process Flow - Proposed - 10-3-16.pdf](https://github.com/colinxfleming/dcaf_case_management/file

[2016-10-03 17:30] pcofilada commented on #533
@colinxfleming I think since you are using mongoid you can just change the datatype of a field on the model and regarding on the data you should need to create a rake task for this.

[2016-10-04 05:17] colinxfleming commented on #533
@pcofilada thanks -- I kinda figured that was the case, so I'm glad moving something is straightforward enough. Do you by chance have an example of a rake task (or want to toss one up in a PR 🎆 )?

[2016-10-04 05:37] pcofilada commented on #533
@colinxfleming I'll just have a PR for this. Just let me know what specific fields you want to change.

[2016-10-04 17:06] jasonallenphotography commented on #515
Issue #515 goals completed, but some hiccups with tests locally - will see if I can resolve before submitting pull request for review!

[2016-10-04 17:26] colinxfleming commented on #515
@jasonallenphotography if you get stuck, just chuck up the PR and we can hash it out as a team

[2016-10-04 17:29] colinxfleming commented on #533
@pcofilada that'd be lovely, if you'd be so kind! In the short term we're going to be changing `User#role` from a string to an enum (so an int, in practice), so that's the immediate need. But major bonus points if it's something flexible enough to adapt in case we have to do this in the future. Thanks so much for your time and brainpower!

[2016-10-04 17:32] jasonallenphotography commented on #515
Testing hiccups seemed to be a local issue with Mongo/mongoid, which I've resolved by restarting. 0 flunks now, PR is in!

[2016-10-05 04:11] colinxfleming opened #653 "Add call to call list should always add that patient to the top of the call list"
A case manager pointed out that adding people to the call list doesn't always seem to do the same thing -- sometimes people just show up in the middle of it, which can be a little disorienting.

Right now we're saving call list order to a field in user, and then I think we're re-loading it. We should change the behavior such that using the `add_patient` method always adds that patient to the front

[2016-10-05 04:14] colinxfleming opened #654 "Feature req: Activity feed"
A CM said it would be nice to have some representation of what she did over the course of the evening -- her point of reference was a facebook activity feed. This seems to stem from a concern that the call list being cleared would run the risk of people falling through the cracks. For all the things we hate about the spreadsheet it does make history accessible.

Should keep in mind as an eventuall

[2016-10-05 04:21] colinxfleming opened #655 "Remove people from urgent list as part of nightly cleanup if a pledge is sent"
This stems from feedback from a case manager -- by our business logic, a case is generally considered 'resolved' from a case manager perspective when a pledge is sent, so it doesn't make sense to consider them still urgent.

This involves editing the `Patient#still_urgent?` method to return `false` if the additional conditions are true:
* `Pregnancy#resolved_without_dcaf` is true
* `Pregnancy#pled

[2016-10-05 04:26] colinxfleming opened #656 "Undo 'remove from call list'"
From #614 : At one point during an early shift, a case manager accidentally removed someone from her call list and she had to go back into the system to restore it. Suggested that some kind of safety valve would be helpful.

Obviously something way back in our product backlog that might be resolved by some kind of activity feed. But want to have this represented somehow.

[2016-10-05 04:40] colinxfleming opened #657 "Add monthly income text to options on income select"
Nice free basket from a CM -- it would be helpful if income options included monthly income, since that's how a lot of patients talk about their incomes in practice.

Two things to do here:
- The option displayed in the select should include monthly income (ex: `Under $9,999 (less than $192/wk - $834/month)`)
- The value persisted in the database should be just the first part of the option. e.g. I

[2016-10-05 04:46] colinxfleming opened #658 "What cheatsheets should we port over from Crypto?"
Brought up in #614 -- There are a few valuable reference sheets that still live in crypto, so as part of our effort to completely get out of crypto by the end of the year, it would be awesome to port these over.

@NerdyGirl537 and @lwaldsc can you log the types of information in there, if there's anything besides clinic info and contact for other funds we work with?

[2016-10-05 04:48] colinxfleming commented on #614
Have logged issues thru Joy. Will be continuing work shortly.

[2016-10-05 16:59] NerdyGirl537 commented on #658
The CM guide is in Crypto.  I don't reference it often anymore, but I think
it's a critical tool for the new CMs.

On Wed, Oct 5, 2016 at 12:46 AM, Colin <notifications@github.com> wrote:

[2016-10-05 17:06] NerdyGirl537 commented on #643
The flow looks good.  I think a lot will depend on the kind of reports the system will generate.  Coming from working in financial systems, tracking the check numbers can be helpful with regards to audits and redundancy can be highly desirable for that as well.

What about creating a tab specific to Accounting (like patient info or abortion info) where Emily can input all that information?

[2016-10-05 21:11] lwaldsc commented on #619
Training went really well. CMs in attendance flagged a lot of the same issues already discussed in #614. Seemed very excited about the system and eager to use it in real life.

[2016-10-05 21:12] #619 closed

[2016-10-05 21:12] lwaldsc commented on #614
First round of user feedback completed. Will start making issues from specific feedback.

Thanks!

[2016-10-05 21:16] lwaldsc commented on #643
Everything looks great to me. Not a whole lot to add as this isn't really my wheelhouse but I agree with Jenn on adding an Accounting/Audit tab.

[2016-10-05 21:20] lwaldsc commented on #658
Numbers to NAF and other East Coast funds (as well as our own #) would be
very useful to have as well. Maybe the sheet with contacts to other support
nonprofits in the DMV (homeless shelters, dv assistance, etc)?

On Wed, Oct 5, 2016 at 12:59 PM, NerdyGirl537 <notifications@github.com>
wrote:

[2016-10-05 22:39] colinxfleming opened #659 "REPORTING: Build basic report view"
Team UX has whipped up a draft design, and @itsWill set up a reports controller, so it's time to put it to work!

![dcafwireframe091316_data center](https://cloud.githubusercontent.com/assets/6223901/18497755/21fcaa76-79ff-11e6-917a-a57bc1ef6d6b.png)

Build this out in `app/views/reports/index.html.erb`. Don't worry about populating with actual data for now -- just write down 'TK' or hardcore a fa

[2016-10-05 22:40] colinxfleming commented on #634
Spun building the basic view into its own form so we can whip up a frame quick!

[2016-10-05 22:57] colinxfleming opened #660 "Remove calendar icon from appointment date field?"
placeholder from #614 until we figure out how to deal

[2016-10-05 23:14] Kevin-Wei commented on #645
all about https://docs.mongodb.com/ruby-driver/master/tutorials/6.0.0/mongoid-indexes/

[2016-10-05 23:16] mchelen commented on #612
2 places where current modals are:
Call modal
`app/views/calls/_new_call.html.erb`

Pledge modal
`app/views/patients/_pledge.html.erb`

[2016-10-05 23:29] itsWill commented on #659
I can take a stab at this!

[2016-10-06 00:26] souphan commented on #657
I'll take this =D.  I'm new to Ruby, so I will most likely have questions.

[2016-10-06 00:38] Kevin-Wei commented on #572
PR should be good now

[2016-10-06 00:51] mchelen opened #662 "Async modal content loading"
spun off from #612

[2016-10-06 00:57] mebates commented on #643
Ahh, I started a comment on this at work and didn't click send. I'm sorry!

I agree that we should add the audit/accounting left nav item. Let's start with adding a checkbox for 'fulfilled' and build on it from there! I don't see the purpose in adding any of the quickbooks functionality yet.

[2016-10-06 12:26] eheintzelman commented on #643
Yes, sounds good to add the audit/accounting left nav item and starting with the fulfilled checkbox.

Before the accountant even gets to financial items, she tracks data on actual procedure date, weeks on the date of procedure, and pledge amount (she calls it 'Abortion Care'), based on the returned IOUs from the clinics. Here are sketches of search and data entry for the accountant. It's programma

[2016-10-08 04:55] #655 closed

[2016-10-08 05:04] #656 closed

[2016-10-08 05:37] #645 closed

[2016-10-09 05:14] #462 closed

[2016-10-09 19:07] colinxfleming commented on #643
I love how this looks and how straightforward it is -- @eheintzelman this is really lovely to my eyes. Very interested in your thoughts @mebates !

Once we have an approx design squared away, I'd love to be able to get it in front of the accountant with an invision thing or something, to confirm that we aren't missing anything too significant.

[2016-10-09 19:08] colinxfleming commented on #657
ayo @souphan let me know if there's anything I can help unstick on this!

[2016-10-09 19:23] colinxfleming commented on #658
So the action items here are:

* Get the CM guide, clinic info, other fund contact info, and other support nonprofit documents out of crypto
* and into a private but accessible-from-within-the-system place TK
* Once we've done that, create a UX ticket to make them discoverable

@lwaldsc step one is pulling these down. Can you assemble and email to me?

[2016-10-09 19:39] colinxfleming opened #666 "Create call list clearing rules for between shifts"
From a conversation between @mebates and [the CM directors](https://github.com/colinxfleming/dcaf_case_management/issues/118#issuecomment-246886012):

@NerdyGirl537 seconded this.

Two things here:
a) finding some way to discourage people from calling patients over and over again when they don't hear back. There may or may not be a programmatic way to do this -- I suspect that the solution here is

[2016-10-10 19:54] nimiro commented on #626
Hi, here are some draft wires for user account management based on what we discussed at the meetup last week: [DCAFwireframe101016_user_account_management.pdf](https://github.com/colinxfleming/dcaf_case_management/files/520274/DCAFwireframe101016_user_account_management.pdf)

The data columns definitely aren’t finalized, and I wasn’t sure how important it is for directors to be able to bulk reset

[2016-10-11 00:35] #572 closed

[2016-10-11 04:27] colinxfleming commented on #20
This is underway in a separate thread -- closing out.

[2016-10-11 04:27] #20 closed

[2016-10-11 04:37] colinxfleming commented on #306
Now that we've got some user behavior on record: Collecting zip seems to be spotty. We can talk with CMDs about whether it's appropriate to eschew city/state and autopopulate based on zip code. Marking this as a question for now until I figure that out with the CMDs.

The good news is: there appear to be ruby libraries we can pretty much plug in that are reasonably snappy!

[2016-10-11 04:45] colinxfleming commented on #629
Tagging as hacktoberfest. This entails going in to `app/views/_table_content.html.erb` and adding a table cell with `patient.appointment_date` (or maybe patient.pregnancy.appointment_date`, I forget which). This in turn will be a great help for our case managers as they prioritize calls.

If necessary to get the squeezing right, you can adjust the note text length in the patient model, IIRC.

[2016-10-11 04:48] colinxfleming commented on #302
Marking hacktoberfest!

[2016-10-11 04:54] colinxfleming commented on #413
Marking this hacktoberfest to increase visibility.

As you can imagine, there's a lot of sensitive information in this system -- I'm interested in whether or not this is an effective strategy for safely storing information in such a way that some jerk can't just run the mongodb equivalent of `select * from patients`. Unfortunately, the PII we most want to keep under wraps (names and contact info)

[2016-10-11 05:02] colinxfleming commented on #460
Promoting this to active, since it's a pain point for users, and tagging hacktoberfest since it's pretty straightforward. Let's skip the household stuff since we aren't collecting child age anymore and keep the income one.

In practice, this is a matter of adding some helper text to the `Income` form field per @NerdyGirl537 's comment above. We use the [Rails bootstrap forms gem](https://github.co

[2016-10-11 15:13] lwaldsc commented on #460
Just as an aside, we need to be careful about what language we use. Just
saw "with the woman" (crypto is old old old haha) whereas we try to use
"patient" instead. Right now we don't use a lot of text, but as we start to
add more, just something to keep in mind.

On Oct 11, 2016 1:02 AM, "Colin" <notifications@github.com> wrote:

[2016-10-11 15:15] lwaldsc commented on #306
That would be really fantastic and save CMs time in addition to ensuring we
get that data. Would it work like "enter zip" then "pick from list of
towns"?

On Oct 11, 2016 12:37 AM, "Colin" <notifications@github.com> wrote:

[2016-10-11 15:24] lwaldsc commented on #666
I think clearing the call lists after a shift (while leaving the option to
mark pts as urgent if they need to retain them in the list) will
effectively take care of this. And don't urgent marks expire after 4 days?

On Sun, Oct 9, 2016 at 3:39 PM, Colin <notifications@github.com> wrote:

[2016-10-12 19:18] bristolkr commented on #659
Hi, I'd like to claim this. If I'm understanding the issue correctly, you just want the index to look like the UX mockup, with actual functionality to be added at a later date?

[2016-10-13 02:28] colinxfleming commented on #659
@bristolkr that's exactly right -- we're trying to just build out a recreation of the UX mockup for now, so we can then have people working on the components independently. Still, a pretty crucial first step! Thanks a ton for digging us up, and let me know if you have any questions or if I can unstick you on anything!

[2016-10-13 02:49] colinxfleming commented on #666
Yeah, urgents patients are de-flagged after a couple of days of no action.

The task here is to add something to the `User#clear_call_list` method that will completely wipe a user's call list if `User#last_sign_in_at` was over two weeks ago. This, in turn, will cascade up to the rake task that we run nightly. (And to add a test for the method you write that does this, if you can!)

Marking backend

[2016-10-13 03:48] colinxfleming commented on #306
@lwaldsc It'd probably be more like just 'enter zip' and then city/state would autopopulate. (There are a handful of zip codes with multiple cities or states, but even in those cases). I've got a privacy concern about storing ZIP though -- wonder if that's a little too specific than we absolutely need, esp since I don't think we'll ever really need to analyze on the zip level when city-state will

[2016-10-13 04:20] colinxfleming opened #667 "Adjust spacing in call log between header and new call"
In #610 @mebates requested more user-friendly spacing between the header and the ability to create a new call on the patient edit page. Since this is a pretty straightforward template fix in the view, let's make it happen!

The view is in: `app/views/patients/_call_log.html.erb`. Should be straightforward to do using the tools provided by bootstrap. Requested changes are as follows:

Bonus if we c

[2016-10-13 04:41] colinxfleming commented on #626
@nimiro thank you so much for this, this absolutely slays. I'd like @mebates ' eyes on this and once we have thoughts from her, dev side will build a shell and work on the functionality.

Really love how straightforward this is! Thank you so much.

[2016-10-14 17:01] pcofilada commented on #533
@colinxfleming Already submitted a pull request. Just let me know if you have any questions.

[2016-10-15 22:16] nickgnd commented on #629
Hi,
I would like to work on this issue, I'll give you a PR asap :)

[2016-10-19 03:39] #649 closed

[2016-10-19 03:45] #533 closed

[2016-10-19 04:09] #666 closed

[2016-10-19 04:20] colinxfleming opened #674 "Edit voicemail display text for Voicemail OK"
Change from `Voicemail OK` to `Voicemail OK, ID OK`. Trivial change -- code is located in `dashboards_helper`. Likely involves a test change too.

Stems from some user feedback in #614.

[2016-10-19 04:36] colinxfleming opened #675 "New patient partial should display as the result of a search regardless of whether it returns results"
Per the code in `dashboards_controller` and `views/dashboards/search.js.erb`, we currently pop up the form to create new patients if and only if there isn't a result. As a CM pointed out, since we have pattern matching and partial searches enabled, we should really be popping up the partial.

The task here is to:
- go into `search.js.erb` and edit it, such that regardless of whether the resultset

[2016-10-19 04:40] colinxfleming opened #676 "Patient status in cases of appt date left in voicemails"
CM Joy and @lwaldsc flagged a scenario where a PT will give an apt date in the voicemail, but we may not actually contact the PT. If the CM fills in the appointment date, the PT's status will be fundraising, regardless if we have ever talked to them. It is rare of enough an occasion, we may not have to do anything, but just want to flag that.

Should we adjust the behavior of status to account for

[2016-10-19 04:43] colinxfleming opened #677 "Update user manual on how to handle patients with more than one alt phone"
TODO for me: write the use case and detail plan of attack from dev side

[2016-10-19 04:51] colinxfleming commented on #614
💯

Actionable issues here are spun out. @lwaldsc , want to reiterate that you did an absolutely outstanding job of collecting and logging all this, and that the changes represented here are going to have the net effect of a massive CM experience improvement. Outstanding work.

[2016-10-19 04:51] #614 closed

[2016-10-19 04:54] colinxfleming opened #678 "How to flag people who we're playing phone tag with?"
Is there a way we can highlight these cases? What should behavior surrounding this be?

Will work out whether this is worth implementing and how.

Stems from #593

[2016-10-19 04:56] colinxfleming opened #679 "List a line's appointments in next few days on the main call list dashboard"
Stems from #593

[2016-10-19 05:02] colinxfleming opened #680 "Add 'Other (add to notes)' option to patient insurance"
Nice and easy -- add an option in the `insurance_options` method in `patients_helper` that makes 'Other (add to notes)' and option. This will let us do a better job of handling unusual cases among the patients we serve.

[2016-10-19 05:07] colinxfleming commented on #593
Marked up around half of these, so we can take advantage of additional eyes during hacktoberfest.

[2016-10-19 05:17] colinxfleming commented on #629
Fixed in #671

[2016-10-19 05:17] #629 closed

[2016-10-20 04:50] colinxfleming opened #683 "Build scratch call line splash page"
[Here is a rough mockup of the user select screen.](https://cloud.githubusercontent.com/assets/17989540/18189002/c64c7ae0-7084-11e6-86ee-dec20293707e.png). The task here is to recreate this, except without the cancel button, per discussion in the UX thread #589.

Let's put this in a file in `app/views/dashboards/select_line.html.erb` for the time being, and add a get route for it. (And tests, if p

[2016-10-20 04:51] colinxfleming commented on #589
Going to keep this as the admin thread for discussion of this feature and spin things off, to keep the issues as straightforward as possible. Setting up the view and route is repped in 683, and once that's built we can worry about the backend logic.

[2016-10-20 04:53] colinxfleming commented on #658
( @lwaldsc did this. So the rest of this is on me to figure out where to put them, and then on ux to make it discoverable.)

Unmarking question.

[2016-10-20 04:57] colinxfleming commented on #643
Pending a design review I think there are a few things we're definitely going to need:

a) Accounting specific view and controller
b) Modal with some accounting stuff in it
c) Changes to the patient edit view

the first two we can iterate on no problem. I'll spin those into separate issues.

[2016-10-20 05:02] colinxfleming opened #684 "Generate accountant dashboard controller"
So that we can allow our accountants to use the system, we need to spin up a sandbox for them.

The task here is to:
* spin up a new `accountants` controller which follow the same pattern as the `dashboards` controller (an index route and a search route for now)
* add simple controller tests (just confirm that a get or post returns a success is fine)

Stems from design thread in #643 .

[2016-10-20 05:07] colinxfleming opened #685 "ACCOUNTING: Build simple accountant dashboard view"
(Not tagging hacktoberfest until this is done, since it's probably best to have a designer in the same room!)

Let's start building out the accountants draft designs, so that we can iterate on them and add functionality piece by piece.

The designs @eheintzelman built are here:

![accountant input sketch](https://cloud.githubusercontent.com/assets/17989540/19152106/62f7311c-8b9e-11e6-8086-9abaedca

[2016-10-20 05:20] colinxfleming opened #686 "Build out draft user admin panel"
One of the ongoing goals for this app is to make sure that we get it to a place where engineers need to maintain fewer non-code parts of it; to that end, @nimiro is doing some heroic work building out some beautiful designs. Check them out here: https://github.com/colinxfleming/dcaf_case_management/files/520274/DCAFwireframe101016_user_account_management.pdf

The steps here are as follows:
- Add a

[2016-10-20 20:53] itsWill commented on #686
I'll take a stab at this!

[2016-10-20 22:19] #684 closed

[2016-10-20 23:20] mebates commented on #686
Which page of the mockup are we working from? Great work @nimiro !

[2016-10-20 23:27] lomky commented on #683
I'll take a stab at this tonight.

[2016-10-20 23:35] mebates commented on #626
@colinxfleming - what happens when you 'lock' an account? Do we want to keep a user and just restrict their access? Or should there be a way to delete a user?

And, what data is needed when you add a new account? First, last, email?

[2016-10-20 23:38] mebates commented on #686
@itsWill - can you touch base with @nimiro before you start, and keep an eye on our convo in #626? Thanks!

[2016-10-20 23:39] mebates commented on #626
@colinxfleming - does 'Create new account' trigger an email to someone to create a password? Or what?

[2016-10-20 23:47] vtmeghan commented on #679
@lwaldsc and I discussed - we don't think they should automatically be marked as urgent, but if there was a way to flag them in another way that would be great. Either by a section on the homescreen for "Appointments tomorrow" or "Appointments within 36 hours" that auto-populates, or by allowing searches by appointment date, that would be useful. probably need to complete #671 before this is possi

[2016-10-20 23:49] vtmeghan commented on #678
@lwaldsc and I discussed and don't think this is necessary (largely because PTs automatically get added back to the call list if we don't reach them.) @NerdyGirl537 @colinxfleming @mebates

[2016-10-20 23:52] vtmeghan commented on #676
@lwaldsc and I discussed and we think that although this is a somewhat rare scenario, it would be useful to change the behavior of the status, so that the status remains "No Contact Made" for these patients. @NerdyGirl537 @colinxfleming @mebates

[2016-10-20 23:52] JoshNezi commented on #685
Attempting this one.

[2016-10-21 00:00] vtmeghan commented on #642
@lwaldsc and I think that we definitely need to break up the clinics, especially PPMW and other affiliates. We could do it similarly to how it used to be in Crypto where you picked the clinic and then the location in a separate field - for most clinics, this would auto-populate/only be one option, but for PP and some other clinics, you would have several options to choose from. (And eventually we'

[2016-10-21 00:03] vtmeghan commented on #642
Prioritize for sprint 11

[2016-10-21 00:04] vtmeghan commented on #676
Prioritize for sprint 11

[2016-10-21 00:20] mebates commented on #460
How will the helper text appear?

[2016-10-21 00:22] mebates commented on #677
We should just use the notes section for this.

[2016-10-21 00:32] mebates commented on #685
@JoshNezi - This is definitely not done, design wise. Please let @eheintzelman and me know what you're up to and maybe give us a peek before you get too far!

[2016-10-21 00:35] vtmeghan commented on #631
@lwaldsc and I think that other medical issue needs to be added. Should also add "Minor," and "Undocumented." Also CMD Kate had flagged changing "fetal anomaly" to "fetal diagnosis." @mebates @colinxfleming @NerdyGirl537 @eheintzelman

[2016-10-21 00:36] eheintzelman commented on #685
@JoshNezi In particular, we are moving away from the modal for entering data...

[2016-10-21 00:36] mebates commented on #679
I would suggest leaving this in the backlog and focusing on our Release 2 priorities.

[2016-10-21 00:41] JoshNezi commented on #685
@mebates @eheintzelman yeah.....I have a few questions about this.

[2016-10-21 00:42] mebates commented on #203
This is at the top of our Release 2 prioritized backlog. Can we bump this up in priority? Anything else needed from CMs or UX?

[2016-10-21 00:52] lomky commented on #683
Rough version done and submitted!

[2016-10-21 01:02] vtmeghan opened #691 "Lock records for editing except by admins and data volunteers when pledge has been sent"
1. Case should be locked for editing (except by Accountant and Admin users) once pledge is marked as submitted.
2. Submit pledge button should change to "Retract (or unsubmit) pledge."
3. Clicking the retract pledge button should function as an "unlock" button, in the event that a pledge has to be re-submitted. Patient status should then change back to "fundraising."

@mebates @colinxfleming @ehei

[2016-10-21 01:04] lwaldsc opened #692 "SUNDAY Create functioning budget bar"
Starting issue to develop budget bar

Weekly budgets:
DC: $1345
Virginia: $1345
Maryland: $1615

@colinxfleming @mebates @eheintzelman @NerdyGirl537 @vtmeghan

[2016-10-21 01:10] mebates commented on #692
I can't find any images of our budget bar concept, gonna have to dig through some papers tonight.

[2016-10-21 14:11] eheintzelman commented on #643
@colinxfleming Based on feedback from the team and the accountant workflow, here are suggested changes to the list of needs:

a) Accounting specific view and controller - within this, I can think of 2 accountant use cases

- Search for individual patient by unique Patient ID
- Search for fulfilled cases that need to be viewed as a list and printed out for entry into Quickbooks (I'm imagining some

[2016-10-21 15:00] eheintzelman commented on #685
@mebates @colinxfleming Since the current plan is to do away with the modal, how about we limit this for now to searching by Patient ID or Name and seeing search results. This is modeled after the search function for CMs to build a call list.

Key difference - Accountant wants to search by unique Patient ID (M3-2349).  Colin, can you confirm this is possible based on what is in the system now?

![

[2016-10-21 19:44] itsWill commented on #686
@mebates I just picked the first page, I understand the frontend design is not ready yet so this mainly sets up the backend, we can then change the view according to the design you and @nimiro come up with once its decided.

[2016-10-21 21:07] colinxfleming opened #694 "Investigate CI services for uptime"
(thanks nerds who nuked dyn)

[2016-10-22 02:44] valeriecodes commented on #674
I'll take this.

[2016-10-22 04:39] colinxfleming commented on #674
hey @valeriecodes ! Good to see you, hope you've been well.

@itsWill kindly knocked this out yesterday, so I think we're good on this front. Any chance I could direct you toward #448 if you're looking for a quick-ish one?

[2016-10-22 05:02] colinxfleming commented on #626
@mebates yeah, I want to go with the locking strategy over the deletion strategy so that we can keep their notes, call records, etc. We wouldn't be able to preserve that if we did hard deletes.

Data required to create a new account is name (which we collect as a blob rather than separate first and last) and email.

Correct that creating a new account triggers an alert email sent to that address t

[2016-10-22 05:09] colinxfleming commented on #685
@eheintzelman Sure, we can adjust things so that we can search by patient id, no problem. It'll require a very slight backend change, but one I was thinking about making anyway.

[2016-10-22 05:10] colinxfleming commented on #685
@JoshNezi sorry, sounds like I jumped the gun on this -- apologies!

[2016-10-22 05:20] colinxfleming commented on #643
@eheintzelman into it. My instinct on a lot of this stuff is to follow the principle of least privilege and restrict it entirely to people with accounting privileges. So for CMs the edit view would be the same but an accounting nav item wouldn't show up. Is that cool?

Automated process might be a little trickier but I'm sure we can carve it out. We'll have to discuss with the accountant what the

[2016-10-22 05:25] colinxfleming commented on #677
Potential rub is that only the first two phones are searchable, so that's a potential pain point, I agree with you. Just want to make sure we have this decision documented for when someone asks us for it again.

@lwaldsc @NerdyGirl537 @vtmeghan can you weigh in on how often we get patients with 3+ phones and how problematic it is to just keep the top 2 of them?

[2016-10-22 05:28] colinxfleming commented on #203
Tossing it in sprint 12. I'll write a plan of attack for it shortly.

[2016-10-22 05:31] colinxfleming commented on #679
Agree with @mebates that popping into the backlog is the way to go here, now that we have some client feedback and we know that this isn't an urgent fix. Let's revisit in 2017.

[2016-10-22 05:36] colinxfleming commented on #460
We use a similar technique in LMP display on the patient edit page. It'll show up the same as the 'Currently' thing underneath the input form.

<img width="303" alt="screen shot 2016-10-22 at 1 35 24 am" src="https://cloud.githubusercontent.com/assets/3866868/19617178/e7dbaede-97f7-11e6-9d8c-09ae5da90aa3.png">

[2016-10-22 05:37] colinxfleming commented on #691
Thanks for your brain on this @vtmeghan . Marking backlog for now.

[2016-10-22 13:18] valeriecodes commented on #674
Sounds good, thanks @colinxfleming !

[2016-10-22 16:56] NerdyGirl537 commented on #677
Honestly, I've never had a patient with more than 2 phone numbers.  Definitely need 2 numbers, That happens a lot.  I think we can make it a training issue: suggest putting the line that will show up in the voice mail as the main number for searches; remind CMs to search on name if the phone number can't be found.  I'm for simplicity and have a concern with trying to cover every, single situation

[2016-10-22 17:25] eheintzelman commented on #643
@colinxfleming Could the accouting nav be viewable but not editable for CMs? Re the automated process,  I talked to the accountant about this and she suggested 30 days past LMP + 120 days = 150 days past LMP.  Clinics have 60 days to get the returned IOUs to DCAF and then DCAF has 60 days to pay out. I'll check with her again next time I get the chance.

[2016-10-22 17:44] eheintzelman commented on #643
I've wireframed the proposed accountant left nav and put together two options for user flows to mark cases fulfilled.  Filling in the check data comes later in the accountant workflow.

Option 1: Simple checkbox triggers a change in status to fulfilled.

Option 2: Call to action button below left nav triggers change in status to fulfilled.  A modal (ok I keep coming back to this!) guides the accou

[2016-10-23 19:10] souphan commented on #657
Hello Colin,

I modified the monthly income portion, but am having issues finding the portion that stores the selection to mongodb.  I was under the impression it would be under /config folder.

[2016-10-23 23:28] #515 closed

[2016-10-23 23:28] #586 closed

[2016-10-24 02:28] #653 closed

[2016-10-24 02:41] #674 closed

[2016-10-24 04:55] colinxfleming commented on #677
Agree with @NerdyGirl537 . @lwaldsc can you weigh in, and if you agree, make any appropriate edits to the user manual about best practices when logging multiple phones?

[2016-10-24 04:56] colinxfleming commented on #678
Closing as a wontfix.

[2016-10-24 04:56] #678 closed

[2016-10-24 12:31] mebates commented on #685
Sounds like a good approach to me

[2016-10-24 13:54] eheintzelman commented on #685
Here are digital versions.
![accountant simple search](https://cloud.githubusercontent.com/assets/17989540/19648298/9fe5885a-99cf-11e6-8cd6-eeb68187b58d.png)
![accountant simple search results](https://cloud.githubusercontent.com/assets/17989540/19648308/a78a0e0a-99cf-11e6-9141-e8f11149c776.png)

[2016-10-24 14:15] eheintzelman commented on #691
I like this solution and it mostly answers my questions about locking data in #643.

[2016-10-24 18:01] JoshNezi commented on #685
@colinxfleming no worries.

[2016-10-24 19:10] mccabe615 opened #699 "Implement Rate Throttling"
The following package can implement various forms of rate throttling and banning on various functions. This is something worth implementing on functions such as login and forgot password.

https://github.com/kickstarter/rack-attack

[2016-10-25 02:20] colinxfleming commented on #699
We have this established in a limited way for login attempts thru devise, but I agree that there's a need to implement a general policy around it and that this is a good idea.

From a skim of the docs I suspect that this is a pretty straightforward install -- marking hacktoberfest in case someone wants to take a stab. My inclination is to do this formally for login, forgot password, user create, a

[2016-10-25 02:32] colinxfleming commented on #642
As @mebates noted in another thread, clinic validation is a priority for second release. We should handle this as part of #203 .

[2016-10-25 02:46] colinxfleming commented on #631
@vtmeghan @lwaldsc  we can back out minor from age, no?

It sounds like the task coalescing around here is the following (assuming that we don't need to collect `minor` twice):
* Add `Other medical issue` and `Undocumented`
* Change `Fetal anomaly` to `Fetal diagnosis`

@vtmeghan @lwaldsc can you approve this course of action?

[2016-10-25 02:47] colinxfleming commented on #631
Also I don't think there's a design issue here given how this is currently rendering -- plenty of space we can utilize.

[2016-10-25 02:58] colinxfleming commented on #662
@tingaloo here's the async issue mentioned in the other PR -- @mchelen has been working on abstracting our modals generally in #663 -- @mchelen do you think your work there is nearing a place where @tingaloo can start up on this issue?

[2016-10-25 03:42] colinxfleming opened #700 "Logging call test is still randomly failing"
Need to rewrite to be HEAVY on `has_x` methods, per @Kevin-Wei 's suggestion.

[2016-10-25 04:37] #302 closed

[2016-10-25 18:06] mccabe615 commented on #699
Awesome. I'd like to take a crack at this but not sure if I have time immediately.

[2016-10-25 18:11] lwaldsc commented on #677
Swore I already answered this. Agree 100% with @nerdygirl537. I'd
personally love more than two searchable numbers but I also don't want to
make the dash too busy so we're good with two.

On Mon, Oct 24, 2016 at 12:55 AM, Colin <notifications@github.com> wrote:

[2016-10-25 18:20] colinxfleming commented on #626
Mollie -- right now when you lock an account it's more or less functionally
the same as a complete access restriction, and it doesn't take away
anything they might have created to go along with it (e.g. their notes are
preserved). I'm in favor of locks instead of hard deletes for this reason.

On Thu, Oct 20, 2016, 7:39 PM Mollie Bates <notifications@github.com> wrote:

[2016-10-25 18:21] colinxfleming commented on #657
To close the loop on this -- we talked about this in slack and unstuck this!

On Sun, Oct 23, 2016 at 3:10 PM souphan <notifications@github.com> wrote:

[2016-10-25 18:21] colinxfleming commented on #626
And yeah, people get auto emailed on account creation. Right now i think it
just sends a message to the effect of "you have an accoubt now and here is
the url". I'm working on getting it to a place where before logging in they
have to reset their password.

On Thu, Oct 20, 2016, 8:05 PM Colin Fleming <c3flemin@gmail.com> wrote:

[2016-10-25 18:25] lwaldsc commented on #631
Yeah, grabbing it from age works perfectly.

On Mon, Oct 24, 2016 at 10:47 PM, Colin <notifications@github.com> wrote:

[2016-10-25 21:56] lwaldsc commented on #679
Oh definitely. This doesn't need to be a priority, but wanted to give
feedback as we were going through questions.

On Thu, Oct 20, 2016 at 8:36 PM, Mollie Bates <notifications@github.com>
wrote:

[2016-10-26 04:46] colinxfleming opened #702 "Fix template breaking view code in new patient partial"
(spinning up an issue to properly attribute a hacktoberfest fix)

[2016-10-26 04:50] #702 closed

[2016-10-29 05:15] #646 closed

[2016-10-29 18:38] colinxfleming opened #705 "Using remove call empties urgent call list partial"
Bug discovered by @tingaloo -- using remove call empties out the call list partial until reload. Clearly not expected behavior, proper behavior should be no effect on this partial.

(NOTE: Resolved by code in #704 so no need to address separately)

[2016-10-29 19:44] colinxfleming commented on #203
Plan of attack:

Backend:
- [ ] Validate `Prengnacy#pledge_sent` such that someone cannot mark it true if the following are null:
* Name
* DCAF soft Pledge amount
* Clinic
* Appointment date

Frontend ( @mebates please approve):
- [ ] Add an `errors` section to the `Create Pledge` modal with (an MVP of this that does it based on moment of page load is fine)
- [ ] Prevent people from clicking conti

[2016-10-31 05:08] colinxfleming commented on #675
(Should get design to weigh in on this before we actively write code against it. I jumped the gun here.)

[2016-10-31 21:58] mebates commented on #692
![fullsizerender](https://cloud.githubusercontent.com/assets/6223901/19873069/4b43b42e-9f93-11e6-991d-11465b722f98.jpg)

Here's my original sketch for the budget bar. Basically we'll want to set the weekly budget for each call line, then create a bar that shows each week's:

1. Hard pledges (total $ of submitted pledges so far that week)
2. Soft pledges (total $ of soft pledges made so far that we

[2016-11-01 12:50] mebates commented on #626
Cool! I think we had some next steps on the designs, right @nimiro?

[2016-11-01 19:23] nimiro commented on #626
Yeah, here are the updated designs.
[DCAFwireframe110116_user_account_management.pdf](https://github.com/colinxfleming/dcaf_case_management/files/564853/DCAFwireframe110116_user_account_management.pdf)

There are still a couple questions:
- Should the case manager director be able to edit all fields for an existing user (full name, email, role) as currently depicted?
- The exact wording of the con

[2016-11-02 05:09] colinxfleming commented on #626
My inclination is that we do want a CMD to be able to edit everything, but let me mull it over. I'm cognizant of the fact that privileges elevation in particular is a risk so I want to look at how other securityminded orgs do it before we reach a decision. If you need a decision at this point to be able to move forward, let's assume yes if that's cool with you.

Confirm that there'll be an email w

[2016-11-02 05:24] colinxfleming commented on #692
To start specing this out from dev side, this entails:

* The ability to set a global budget for a line - probably a new user route or a new budgets controller
* The ability to increase $$ for a line for weeks when we go over (prob a gold medal version)
* The ability to calculate sent pledges in a given week (might mean this is not embedded in Patient objects since we'll be interacting with them s

[2016-11-02 05:32] colinxfleming commented on #626
PS these designs are wonderful @nimiro . Really appreciate how clear and concise the flow is! Thank you so much.

[2016-11-03 00:09] colinxfleming commented on #659
@bristolkr please let me know if you've made progress on this, otherwise we're going to introduce it back into the pool tomorrow at the team meeting. Thanks much!

[2016-11-03 00:09] #683 closed

[2016-11-03 00:31] colinxfleming commented on #692
After thinking about this I think we should set budgets as environment variables in the app (and not have them CMD-editable for now), and focus on the latter two items. Breaking them into issues now.

[2016-11-03 00:42] colinxfleming opened #709 "BUDGET: Create class method for determining money pledged in a given week"
Our goal here: Take all patients whose appointment date is in a given week and calculate the DCAF pledge amount. Here's the rub: I don't know what the best way to do it is.

Here are the requirements: We need to be able to filter to pledges in a given calendar week, and distinguish those between pledges that have been sent and those that haven't.

Here's a suggested path to this, but I'm amenable

[2016-11-03 00:53] colinxfleming opened #710 "BUDGET: Create budget bar helper method"
The task here is to develop a Rails helper method that we can use to take an input and spit out a budget bar.

Here are the technical requirements:

* Generate a helper called `budget_bars_helper`
* Assume an input as follows: a hash consisting of the following: `{ pledged: INT, sent: INT }`
* Ideally using the [bootstrap progress bar component](http://getbootstrap.com/components/#progress), have

[2016-11-03 01:03] colinxfleming commented on #692
Spec'd out the major parts of this in #709 and #710, and added them to sprint! Spec-ing this out in this limited way I'm very optimistic that we can have this done without too much additional hustling.

[2016-11-03 01:14] colinxfleming opened #711 "PLEDGE VALIDATION: Validate Pregnancy#pledge_sent field in model"
Here's a hugely helpful thing that lets us ensure we're always working with high quality data --

We need to validate the `pledge_sent` field to ensure that the following fields are set before we allow people to mark it true:

* Name
* DCAF soft pledge amount
* Clinic
* Appointment date

Would be AWESOME if you can also write unit tests confirming presence of each of the fields as well!

Should be

[2016-11-03 01:52] colinxfleming commented on #686
Demoting from active development so we can focus on required stuff for Dec 1 -- thanks a ton to @itsWill for getting this process started!

[2016-11-03 02:19] colinxfleming opened #712 "REPORTING: Create Patients contacted class method"
Sourced from #634 : It's time to start working on some of the backend machinery so we can populate the components of the Data Center. The first step of this is to

Here's what I'd like:

* A class method `Patient.contacted_since(datetime)`, which takes a regular datetime or timestamp (e.g. `Time.now`) or a date as an argument
* Which filters to all patients with a call logged as `Reached patient`

[2016-11-03 02:23] colinxfleming commented on #685
Let's plan on building this out according to the digital designs above. Please chuck it in `app/views/accountants/index.html.erb` (okay to create that folder and file if it doesn't exist yet). The important part for now is just coding up the template, so we can start bolting individual pieces onto it. Feel free to liberally copy code over from the dashboards index!

[2016-11-03 02:27] #471 closed

[2016-11-03 23:00] mebates commented on #203
Sounds great to me @colinxfleming !

[2016-11-03 23:03] mebates commented on #631
All sounds great to me!

[2016-11-03 23:27] mebates opened #713 "Lock users out after 6 months"
In order to control the number of users and access to the system, can CM App automagically lock users out after six months of inactivity? CMDs could unlock their accounts if they become active again (see #626).

CMs are supposed to work at least one shift per quarter.

[2016-11-03 23:30] mebates commented on #626
Reviewed with CMs tonight, looking great! @nimiro is going to make some small adjustments. It would also be awesome if we started using the 'alert' style from US Web Design Standards with this new feature, and any future alerts. https://standards.usa.gov/alerts/

[2016-11-03 23:38] lomky commented on #709
I'll take a stab at this :grinning:

My only question is if it would be one function or two:

Are there other use cases that would want all the patients with appointments in the next week?
 - if so, then we could teach the `Patient` object a more generic function like `patients_with_upcoming_appointment` taking a duration parameter, and then maybe move the data extraction we're looking for into a

[2016-11-03 23:47] mebates commented on #692
Soft pledges need to be accumulated over two weeks rather than one. Also, if I made a soft pledge a month ago, I should be able to have it counted towards this week's total (even if I don't change it) if I receive a call from them this week. This is complicated!

[2016-11-04 00:00] colinxfleming commented on #709
Love the idea of abstracting it like that -- if this is something that
lends itself well to that, I'd say go for it!

On Thu, Nov 3, 2016 at 7:38 PM Kathryn Tipton <notifications@github.com>
wrote:

I'll take a stab at this 😀

My only question is if it would be one function or two:

Are there other use cases that would want all the patients with
appointments in the next week?

   - if so, then we

[2016-11-04 00:08] mebates commented on #685
Could we remove the instructional stuff out of the search bar, and onto the page? As soon as you click into that, it goes away. Could just be simple helper text below the search box that says, "You can search by .... x, y, z."

[2016-11-04 00:09] mebates commented on #685
One of the items on the search results should be a link, right? Name or case number? Let's style that as blue with an underline so the devs know it should be a link. Great work @eheintzelman!

[2016-11-04 00:14] mebates commented on #692
We discussed tonight that we don't want to give the ability to change the budget. CMs can go over at the discretion of their CMD but we will have better data if we leave the budget in tact.

Clarified visuals tonight, using colors from DCAF logo:
[budget bar.pdf](https://github.com/colinxfleming/dcaf_case_management/files/570361/budget.bar.pdf)

[2016-11-04 00:16] mebates commented on #589
I think we're done from this, in terms of questions and design. Closing.

[2016-11-04 00:24] mebates commented on #630
Just found all of these great comments about pledge type. I think we should close this issue and shift it over to the budget bar issue. #692 We don't need to add an actual hard pledge bar!

[2016-11-04 00:24] #630 closed

[2016-11-04 00:30] mebates commented on #692
Trying some different language here per @NerdyGirl537's great comments in #630. But 'With outstanding pledges' was too long - any other ideas?

![screen shot 2016-11-03 at 8 30 19 pm](https://cloud.githubusercontent.com/assets/6223901/19990475/625a8390-a204-11e6-93bd-0fc372baa0f3.png)

[2016-11-04 00:48] mebates commented on #632
![img_0463](https://cloud.githubusercontent.com/assets/6223901/19990735/52ac7cee-a206-11e6-8499-a4d8faf3477b.JPG)

Worked through this with @lwaldsc tonight.
1) move 'Resolved w/out..." to the right of Clinic details
2) Move 'Cost details' below
3) Abortion cost on left column
4) Right column: PT cont, then DCAF, then NAF, then "+ Add other"
5) Add other chunk to include "Other", a dropdown, and m

[2016-11-04 00:58] lomky commented on #709
I'm not going to get this to a PR state tonight. I'll try to get it there this weekend!

[2016-11-04 01:03] lomky opened #714 "README addition: How to Run the Tests"
The Fine Manual is missing how to run the test suite.

If the circleci I snooped is any indication, it should be run like so:

### Whole Test Suite (long running)

`rake test`

### Individual Tests

`rake test test/path/to/test_file.rb`

And possibly other ways I do not know?

[2016-11-04 13:19] nimiro commented on #626
Updated wires - with style adjustments and the addition of a locked user account page with an unlock button - are here: [DCAFwireframe110316_user_account_management.pdf](https://github.com/colinxfleming/dcaf_case_management/files/571543/DCAFwireframe110316_user_account_management.pdf)

The existing user account page still needs some thought. Basically, an admin should be able to edit and save a fi

[2016-11-04 20:36] lomky commented on #709
@colinxfleming I think I have found where this is sticking in my head. I'm used to a slightly different MVC pattern.

I work mostly in Mojolicious, which has distinct model controllers for dealing with single objects vs collections of objects. E.g. CRUD code dealing with a single Patient would go in `./Patient.pm` and CRUD code dealing with multiple Patients would go in `./Patient/Manager.pm`.

Wh

[2016-11-04 21:54] colinxfleming commented on #709
@lomky excellent questions, really appreciate that you're engaging with the rails 'style' here!

the short version is that code that deals with that object or objects of that type goes in the same class definition. You can check out some similar code under `Patient#urgent_patients` -- it's a similar hit of everyone in the db that just filters down to people who have the urgent flag set to true. If

[2016-11-04 22:10] lomky commented on #709
@colinxfleming Brilliant! Instance vs Class completely unstuck my head. I have been too long away from a proper OO language 🐫

[2016-11-04 22:45] colinxfleming commented on #709
💯 💯 💯 💯 💯

[2016-11-04 23:02] colinxfleming commented on #589
@mebates going to keep it open just as a feature 'master issue' we can spin stuff out of so I don't lose track of it! But yeah, the design stuff is all done, just have to knock it out.

Have retitled to make it clearer that the UX component is set!

[2016-11-05 00:52] colinxfleming commented on #711
(nb @ashlynnpai 's got this!)

[2016-11-05 02:19] colinxfleming commented on #710
Taking a whack at this over the weekend!

[2016-11-05 15:18] lomky commented on #709
I cannot seem to get the tests to pass. :( submitting a PR so others can review the code and hopefully help spot my bug!

[2016-11-05 15:48] colinxfleming commented on #709
Deeply appreciate that you took the time to go the extra mile and write
tests! I'll have some feedback for you by the end of the day if not sooner.

On Sat, Nov 5, 2016, 11:18 AM Kathryn Tipton <notifications@github.com>
wrote:

[2016-11-06 02:32] colinxfleming commented on #657
@souphan check this stuff out -- http://guides.rubyonrails.org/form_helpers.html#the-select-and-option-tags

The stuff in the second code block in 3.1 is what I'm talking about. Basically, there's an array of two-piece arrays getting put in that looks like this:
[code]

and what rails is doing when it builds that form into HTML is turning it into something like this:

[code]
where it goes thru eac

[2016-11-06 04:33] colinxfleming opened #719 "Make a note of unimplemented models"
This is a pain point for literally everyone who touches either `pledge` or `clinic` and doesn't pass The Bus Test. Task for me: Make a note in the model files IMMEDIATELY.

[2016-11-08 14:28] souphan commented on #657
Thanks for the helpful explanation.  I will update you once I get this done, or have any other questions.

[2016-11-11 21:42] DarthHater opened #721 "Switch Dockerfile from rails to ruby"
According to the rails official image, it will be deprecated on Dec 31st, 2016:

https://hub.docker.com/_/rails/

Advice is to switch to ruby, install rails, etc...

Some handy dandy instructions on how to do so: http://blog.kontena.io/dockerizing-ruby-application/

[2016-11-12 23:34] mchelen commented on #714
That's probably correct, if you are basing it on circleci. Want to create a PR that adds this to the readme?

[2016-11-12 23:50] lomky commented on #714
I would just need to know whereabout to place it.

[2016-11-13 08:24] #721 closed

[2016-11-13 15:39] lomky commented on #714
Done with a best guess. Can always edit in the PR!

[2016-11-13 17:16] colinxfleming commented on #685
@DarthHater you should consider this open season -- iirc there's an accounting controller already made for you to start building off of. You might be able to consume some of the existing search partials. Go with @eheintzelman 's designs and ping her on slack if you've got any questions probably.

( @JoshNezi let me know if you're still plugging away at this and I've missed it!)

[2016-11-13 17:27] colinxfleming opened #727 "ACCOUNTING: Make patient identifier searchable"
Right now we have patient identifier as a method that's inferred from a patient's `line` and `primary_phone_no`. Our accountant primarily works with those identifiers, so we're going to want to incorporate that into our search functionality -- e.g. I should be able to enter `D3-1122` and have it return the patient with that identifier.

Here are two options:
* persist as a db field that gets popul

[2016-11-13 17:35] colinxfleming commented on #677
Sounds like we're in agreement -- @lwaldsc will you make an edit to the user manual detailing this behavior and close?

[2016-11-13 17:41] #711 closed

[2016-11-13 17:47] colinxfleming commented on #631
This is ready to rumble! Most likely it just involves making a few changes to the part of the patient view and making these edits in the form. Please refer to directions in https://github.com/colinxfleming/dcaf_case_management/issues/631#issuecomment-255921472 .

[2016-11-13 17:50] colinxfleming commented on #713
Doable, and a very good idea. We could probably write a task here as part of the nightly cleanup job that disables CM accts that have had too much time go since last login.

How should we prioritize this @mebates ?

[2016-11-13 18:03] colinxfleming commented on #632
Really love this. Awesome work @lwaldsc and @mebates .

[2016-11-13 18:08] colinxfleming commented on #626
The USA standards look great. Totally a doable thing to move those over. That's probably a good candidate to spin into a beginner friendly issue, I'll do that now.

@nimiro anything I can help unstick on that front? @vtmeghan might have some insight on what the ideal there is too.

[2016-11-13 18:13] colinxfleming opened #728 "Change alert styling to match USA.gov standard format"
@mebates has made the excellent point that we should make our flash notices prettier, and has suggested the usa.gov standards here: https://standards.usa.gov/alerts/

Let's try our best to do this using what we have in bootstrap already.

Mostly this involves wrenching in the messages partial we have, `app/views/layouts/_messages.html.erb`, and cleaning it up a little. Write helpers to handle logi

[2016-11-13 18:13] colinxfleming commented on #626
Spun message styling out into #728

[2016-11-13 18:15] colinxfleming commented on #709
Fixed by @lomky in #717 !

[2016-11-13 18:15] #709 closed

[2016-11-13 18:18] #714 closed

[2016-11-13 18:40] DarthHater commented on #685
Sure thing, I'll crack at it.

[2016-11-14 05:20] #491 closed

[2016-11-15 13:27] mebates commented on #713
Let's do it in about six months! Backlog. :)

[2016-11-15 18:41] #319 closed

[2016-11-15 18:41] #639 closed

[2016-11-16 15:45] nimiro commented on #626
@colinxfleming Thanks, I think I'm good on the alert visual design, using the US Web Design standards. And I have some thoughts on the flow issue (i.e. allowing an admin to easily save edits to user account fields before resetting the password) - just need to wire it up before thursday :)

[2016-11-16 20:53] colinxfleming commented on #643
Dev @DarthHater did some A++ work stringing up the accountant dashboard and a search. Looks like the next step here is to bolt pledge fulfillment stuff into its own object, and wire up the stuff in the views.

I think I favor the first workflow for mvp. Interested in others' thoughts. There are some common elements between both that I think we can get started on either way though.

re: the lockabl

[2016-11-16 21:07] colinxfleming opened #731 "ACCOUNTANT: Add Fulfillment section to Patient edit view"
This is a good opportunity to get a feel for how we have the patient view arranged. Here are the designs from @eheintzelman : https://cloud.githubusercontent.com/assets/17989540/19648468/5031e410-99d0-11e6-9331-76cac8a8ca50.png

For now, just recreate the panel on the right in the patients edit view. Most likely the steps here are as follows:
* Add a 'Fulfillment' section to `views/patients/edit.h

[2016-11-16 21:23] colinxfleming opened #732 "ACCOUNTING: Add fulfillment object"
We need to be able to mark a pledge as paid out administratively, so we'll want to do that with a fulfillment object. For MVP, let's do that as follows:

* Add a `Fulfillment` object; a Patient should have one fulfillment object
* Create it on initialization of a new patient object, at the same time as a new pregnancy object
* Add fields based on the last panel of https://cloud.githubusercontent.c

[2016-11-16 21:45] eheintzelman commented on #731
I got some feedback from the accountant making the design even simpler.  Here's an update.

![pledge fulfillment v3 - landing](https://cloud.githubusercontent.com/assets/17989540/20367068/e9a5c99c-ac1b-11e6-89a4-61fe5a801e57.png)

[2016-11-16 21:47] colinxfleming commented on #692
I think these are the remaining things here once we have an initial bar in (copied from the mvp PR):

- [ ] Account for possibility of overflow
- [ ] Set a minimum width or some way to drop $$ info into the view like in the #710 picture
- [ ] Possibly adjust CSP to allow for inline style (consult with @mccabe615 about the goodness of this idea, otherwise we can whip up something in a stylesheet I'

[2016-11-16 22:11] colinxfleming opened #733 "PLEDGE VALIDATION: Add errors to view"
Known national treasure @ashlynnpai wrote up some validations which require

On the patient edit view load (or modal load or whatever), let's do the following:

* See what would happen if we did try and save a pledge (without actually saving it)
* If any errors come back, render them in the modal in `app/views/patients/_pledge.html.erb`

This will give our CMs a nudge in the right direction, keep

[2016-11-17 04:41] colinxfleming commented on #700
Dashboard integration test too

[2016-11-17 04:57] colinxfleming commented on #700
FAIL["test_0001_should update Call Lists", #<Class:0x000000067e0198>, 108.14871252099692]
 test_0001_should update Call Lists#RecordCallTest::Home Page Call Actions (108.15s)
        Expected false to be truthy.
        test/integration/record_call_test.rb:46:in `block (3 levels) in <class:RecordCallTest>'
        test/integration/record_call_test.rb:45:in `block (2 levels) in <class:RecordCallTes

[2016-11-17 05:09] #710 closed

[2016-11-17 21:24] eheintzelman commented on #643
Are we taking into account two separate steps in the accountant workflow within DCAF? It's important because the accountant needs the ability conduct searches separately for procedures that have been fulfilled (but not paid) vs. procedures that have been fulfilled (and paid).

Step 1: Accountant marks pledges fulfilled and enters data for procedure date, weeks along, and abortion care $.  Status h

[2016-11-17 22:11] colinxfleming commented on #643
I think that squares into our data model fairly cleanly, as it exists -
just involves changing around how we define status. Are there design side
changes we should anticipate to reflect this need?

On Thu, Nov 17, 2016, 4:24 PM Eva Heintzelman <notifications@github.com>
wrote:

[2016-11-17 22:35] mebates commented on #731
Looks great! I wonder if we could prevent the 'Pledge Fulfillment' tab from appearing or being clickable until after the pledge is sent. Good or bad UX?

[2016-11-17 22:40] #685 closed

[2016-11-17 22:41] mebates commented on #632
@colinxfleming - this is on our priority list for Release 2. Do you need anything more to get development moving?

[2016-11-17 22:54] colinxfleming commented on #731
Team dev can make that work either way, so whatever you think the good ux
solution is, haha. Either way we probably obscure it from regular CMs and
just show it to people with increased privileges, right?

On Thu, Nov 17, 2016 at 5:35 PM Mollie Bates <notifications@github.com>
wrote:

[2016-11-17 22:55] colinxfleming commented on #632
I think this depends on having the pledge model implemented, which is probably not in the cards for this release. Cool to stick at the top of release 3?

[2016-11-18 00:21] lomky commented on #732
I'll take a stab at this.

[2016-11-18 00:24] valeriecodes commented on #733
I'll take a stab at this!

[2016-11-18 00:28] colinxfleming commented on #659
@ashlynnpai can you take on this one?

[2016-11-18 00:29] mebates commented on #632
For the MD and VA release, we want to prioritize the 'add other' functionality, but save the math for release 3.

[2016-11-18 00:43] ashlynnpai commented on #731
I'll take a stab.

[2016-11-18 01:11] colinxfleming commented on #732
Slight iteration from @eheintzelman --

![pledge fulfillment v3 - landing](https://cloud.githubusercontent.com/assets/17989540/20367068/e9a5c99c-ac1b-11e6-89a4-61fe5a801e57.png)

[2016-11-18 01:27] mebates opened #735 "ACCOUNTING: New status for unfulfilled pledges"
We may need a new status for a pledge that was sent, but not fulfilled. It should timeout after a certain period of time after being sent. Accountant suggested ~150 days would be a safe number of days.

@eheintzelman @vtmeghan @lwaldsc @NerdyGirl537

[2016-11-18 01:45] mebates opened #736 "New status for non-response"
Another new status -
"Patient dropoff"
120 days since last contact, PT automatically goes into that status.
Should scramble PII in the same way "Resolved without DCAF" will.

[2016-11-18 01:50] mchelen opened #737 "Pledge button & modal styling"
Create CSS styles for Pledge button and pledge modal

[2016-11-18 02:01] eheintzelman commented on #731
Just talked to DCAF folks and yes it's fine to just obscure the pledge fulfillment from regular CMs, if that's easiest.

For the accountant/admin, I like Mollie's idea of only making the pledge fulfillment tab clickable once the pledge is sent.

[2016-11-18 15:02] eheintzelman commented on #643
No design side changes that I can think up.

[2016-11-18 23:14] valeriecodes commented on #733
It looks like the modals aren't currently using the pledge models or controllers. Should they be? If not, how should we check for errors?

[2016-11-19 01:07] colinxfleming commented on #733
Nah, keep it using the patients update endpoint like it is in the form.

As for method, I'm not sure if there is a Rails accepted way to do
something like 'try to validate under these conditions' - if so let's use
that, otherwise can just add some conditionals to the view, probably? What
do you think?

I'll make sure to depreciate the unused stuff this wknd. You're right to
flag this as it makes g

[2016-11-19 15:03] ashlynnpai commented on #731
Can you tell me where the higher level privileges are defined? I see only admin_user.

[2016-11-19 15:09] colinxfleming commented on #731
I think `current_user.admin?` should work -- it should use the enum on the
user model, which is how we are giving people increased privilege. See some
of the users controller methods for an example of how we've been doing
this. (Sorry I can't be more specific, I'm on my phone!)

On Sat, Nov 19, 2016, 10:03 AM Ashlynn Pai <notifications@github.com> wrote:

[2016-11-19 15:14] ashlynnpai commented on #731
Thanks, I didn't realize you were using admin for that.

[2016-11-19 19:45] #732 closed

[2016-11-20 01:29] colinxfleming opened #740 "Remove unimplemented controllers and models"

[2016-11-20 03:43] ashlynnpai commented on #731
Can't figure out why this integration test isn't recognizing test_helper methods ('NoMethodError: undefined method `log_in_as' for PledgeFulfillmentTest:Class').

https://github.com/ashlynnpai/dcaf_case_management/commit/e990c60def80e53c5e38fcb20c727e856abbd83e

[2016-11-20 18:57] ashlynnpai commented on #731
https://github.com/colinxfleming/dcaf_case_management/pull/741

[2016-11-21 05:47] #733 closed

[2016-11-21 16:15] colinxfleming opened #743 "Create a presentation poster!"
@NerdyGirl537 was talking about presenting our work at a conference -- this is probably something that would benefit from UX eyes. (I think there was a conversation about this at the last hacknight, but wanted to make sure it was represented in the issues!)

[2016-11-21 19:17] DarthHater commented on #740
Is there a list of this? I can easily pick this off.

[2016-11-22 00:58] DarthHater commented on #727
A few things on patient identifier, it's always a combination of those two fields? Is there a potential for them to be non unique (two patients could have the same identifier by accident because they share common fields that make it happen)?

Since it uses last five of phone number I could see it happening, if they shared line all you would need is two people in DC who have 11234 as their last fiv

[2016-11-22 21:49] colinxfleming opened #744 "Create issue template"
For dev issues especially, we should resurrect templates with the following info:

* what feature is this required for if any
* why it's important
* possible roadmap

[2016-11-23 05:49] colinxfleming commented on #589
Remaining steps after #745 gets merged:

[2016-11-24 16:25] colinxfleming commented on #203
I think this is resolved by the work in #742 and #739 .

@mebates can you approve? Example below.

![image](https://cloud.githubusercontent.com/assets/3866868/20471956/a96046e4-af83-11e6-84b9-7cc6eaad151f.png)

[2016-11-24 17:40] colinxfleming opened #746 "Implement pledges from other funds (Multipledge)"
Per @lwaldsc , the DC line doesn't see that much out-of-DCAF action, but the MD and VA lines often involve collaboration with other funds, so it's important that we implement the ability to represent N other pledges in a case, instead of how we're doing this now (which is pretty much just NAF and us). So it's important to have it implemented for showtime.

This probably entails the following:

* i

[2016-11-24 17:49] colinxfleming opened #747 "MULTIPLEDGE: Frontend changes to accept multiple pledges from other funds"
Since the MD and VA lines require a lot of collaborative work with other funds, we need to have some clean notion of that represented easily. The scope of this issue is rigging up those changes in the patient edit view.

![img_0463](https://cloud.githubusercontent.com/assets/6223901/19990799/e47216b6-a206-11e6-8080-3fdb1788435f.JPG)

Which follows the following list of changes:
1) move 'Resolved w

[2016-11-24 17:51] colinxfleming commented on #632
The multiple funds pledge stuff is now repped in #746, which will get us where we need to be for release. I'm backlogging this for since automoney is out of scope for release 2, I think.

[2016-11-24 18:19] colinxfleming commented on #735
This should be a pretty straightforward change to our status logic once we have the business logic clearly defined. Either way a great thing to represent. Good call!

[2016-11-24 18:24] colinxfleming commented on #737
iirc the issue here is UX approval of modal styling once #663 gets approved, no? Tagging under that assumption but please correct me if I'm wrong $$$

[2016-11-24 20:20] colinxfleming commented on #727
@DarthHater just in case we never closed the loop on this -- I think the right way to do this is to ensure that the way we generate or infer a patient identifier is a standalone method, so we can pop it out with something better. I'll hit up DCAF's CMDs about this separately and we can spin that part of it into a separate method. Thanks for flagging this -- let me know if I can do anything else to

[2016-11-24 21:03] lwaldsc commented on #727
I definitely don't think we're married to using PT phone number based ID at all. I am 100% behind another unique identifier.

As said, it may also help us for the few times there are different PTs with the same number. As long as we keep some sort of safeguard against multiple entries for one PT (not exactly we want to do here).

[2016-11-24 22:11] NerdyGirl537 commented on #727
I think the issue here is referring to it as a "unique" identifier.  The idea of the identifier is to mask part of the PPI while providing enough information, when combined with the patient name, to make sure the correct pledge is being paid.  So think of it as a coded identifier rather than a unique one.  Thoughts?

[2016-11-24 22:13] DarthHater commented on #727
@NerdyGirl537 yeah, I get that. I'm referring to it as unique as if it's searchable, you could technically get two if you were using the identifier, potentially causing some UX issues, blah blah blah.

[2016-11-24 22:19] NerdyGirl537 commented on #727
@DarthHater I think it would be fine to return all matching and let the accountant find it.  Honestly, I'm not even sure we need to store the identifier, given we have a really smart partial look up on the phone number.  It just needs to be used to protect the information on the pledge form.  The accountant could just login by the phone line indicated (D/M/V) and then use the partial look up to fi

[2016-11-24 23:08] DarthHater commented on #727
I'm fine with whatever, just wanted to call out the potential issues. I'll try and crack at this a bit later today.

[2016-11-25 02:39] mchelen commented on #737
Yup you are right!

On Nov 24, 2016 13:24, "Colin" <notifications@github.com> wrote:

[2016-11-25 06:25] colinxfleming opened #748 "Investigate cheaper SSL solutions"

[2016-11-25 06:26] colinxfleming opened #749 "General readme update"
About that time!

[2016-11-26 18:04] #749 closed

[2016-11-26 18:12] #744 closed

[2016-11-26 18:21] colinxfleming commented on #2
DCAF's CM corps wants to call this Daria, for DCAF Abortion Records Information Application. Cool to make that change for December 5 @mebates ?

[2016-11-26 22:56] colinxfleming opened #753 "Get UX approval for line selection process"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

* **What feature or behavior is this required for?**

* **How should we solve this issue?**

* **Anything else?**

[2016-11-27 03:57] itsWill commented on #747
I'll take a stab at this one

[2016-11-27 04:03] colinxfleming commented on #747
Good to see you again, @itsWill !

We're in our final push and are flipping a switch on Sunday 12/4, can you be sure to make a pull request by Thursday? Something that's a work in progress is totally fine -- just want to make sure we don't lose any of your hard work!

Thanks my dude!

[2016-11-29 01:35] lwaldsc opened #758 "Alternate contact not populating in call pop up"
Using the system tonight, alternate contacts were not populating in the call screen pop up. These were contacts with no alternate number.

[2016-11-29 05:19] colinxfleming commented on #758
Code here is in `calls_helper` and `views/calls/_new_call.html.erb` -- probably this is just a matter of a helper only rendering stuff if alt name and alt number are set. Sounds like the desired behavior is for presence of either one to make alt info show up in the call partial.

[2016-11-29 15:22] colinxfleming commented on #758
In bug report-ese, here's what this comes out to:
* Given that I have a patient who has a secondary contact name but not a secondary contact number,
* I expect that when I open a new call modal, I will see the secondary contact name;
* Instead, I don't see the secondary contact name.

Pretty small fix but Monday will be the first exposure most of our users have to this system, so if we can get thi

[2016-11-30 04:36] colinxfleming opened #759 "BUDGET BAR: Budget bar styling"
Placeholder to remind myself to finish budget bar styling

[2016-11-30 16:28] lwaldsc commented on #758
Gotcha. Sounds good!

On Tue, Nov 29, 2016 at 10:22 AM, Colin <notifications@github.com> wrote:

[2016-11-30 19:17] valeriecodes commented on #758
👍  Thanks @colinxfleming and @lwaldsc

[2016-12-02 15:39] valeriecodes commented on #705
@colinxfleming should this be marked as closed/resolved?

[2016-12-02 15:40] valeriecodes commented on #680
@colinxfleming is this issue still outstanding? Happy to pick up.

[2016-12-02 22:20] colinxfleming commented on #705
@valeriecodes you are right! This was resolved in #704 by @tingaloo . Thanks for flagging!

[2016-12-02 22:20] #705 closed

[2016-12-02 22:20] colinxfleming commented on #680
yes pls!

[2016-12-03 02:09] #589 closed

[2016-12-03 02:36] colinxfleming opened #762 "Shut off data entry form on Sunday"
Once everything's been mass entered and we get an all clear from @NerdyGirl537 , let's turn off data entry mode.

[2016-12-03 07:47] #747 closed

[2016-12-03 10:07] colinxfleming opened #765 "Fix formatting error in patient edit page abortion information partial"
The extra pledges are a little off-grid -- we should do our best to match them with the section above.

![screen shot 2016-12-03 at 5 06 41 am](https://cloud.githubusercontent.com/assets/3866868/20858600/61f6c642-b916-11e6-80c1-c40fa4b591ba.png)

[2016-12-03 20:00] colinxfleming opened #766 "Omnibus thread for feedback from data entry weekend"
(A QUICK PROGRAMMING NOTE: We tend to roll up feedback into omnibus threads like this and then spin individual stuff off into their own issues, which get some additional written context. Please don't make PRs against this issue. Thanks!)

Here's a running list of actionable stuff from conversations, trainings, etc during data entry for the full rollout. @NerdyGirl537 you should log stuff you're he

[2016-12-03 23:27] valeriecodes commented on #765
Taking a look at this.

[2016-12-04 06:23] colinxfleming commented on #766
* Since we quietly started just calling pledges 'pledges' everywhere (instead of hard/soft), we should remove references to hard/soft around the app, including but not limited to: the DB field, pledge validation error messages.

[2016-12-04 15:12] colinxfleming commented on #766
* We've got an n+1 query problem for the main dashboard due to the new call modals requiring a lot of DB hits. It's causing high load times for people with large call lists (doubt it's affecting people using it in routine ways though). May not be the simplest fix but might be a nice optimization.

[2016-12-04 15:45] souphan commented on #657
I just got around to doing this again, and I believe this is what you wanted:

 <%= f.select :income,
                       options_for_select([[income_options[1],'Under $9,999'],
                                           [income_options[2],'$10,000-14,999'],
                                           [income_options[3],'$15,000-19,999'],
                                           [income_option

[2016-12-04 17:26] #152 closed

[2016-12-04 17:26] #700 closed

[2016-12-04 17:26] #765 closed

[2016-12-04 17:32] #680 closed

[2016-12-04 19:00] colinxfleming commented on #766
* A data entry vol punched a few people into the DC line by mistake because session wasn't set. We should force line to be set in session anywhere on the dashboard controller.

[2016-12-05 00:09] colinxfleming commented on #766
* @vtmeghan ran into a snag where someone was not creatable because of phone, but not searchable due to line scoping.
* For some reason the env var for `LINES` comes back as `63` and I have no idea why. The lines var is properly set and the lines we actually use are showing up, so idk man.
* We should change `Line: (STATE)` to `Your Line:`. Had a point of confusion about this. Might also be good t

[2016-12-05 02:17] NerdyGirl537 commented on #766
Brain dump in no particular order:
- We have patients crossing state lines (finding in both MD and VA or MD and DC or VA and DC; think students especially).  This will gum up the old system with "unique" patients and phone numbers on each line.
- Patients with no phone numbers: crypto data loss or issue to address with CMs?  (can't create a patient w/o phone number in DARIA)
- Several patients who

[2016-12-05 03:01] colinxfleming commented on #766
I'm settling in to resolve a few problem cases now, which I think might yield some good insights. Github in one window, excel in another, sheet in a third, like a boss.

[2016-12-05 03:31] colinxfleming commented on #766
* LMP counter on the patient edit page below LMP at intake keeps going no matter what. Should stop that

[2016-12-05 03:54] colinxfleming commented on #766
* Pledge sent partial is referring to external unimplemented clinic object and not actual clinic attribute we're using.

[2016-12-05 04:28] colinxfleming commented on #766
@NerdyGirl537 I punched in a couple stragglers' worth and re-uploaded the resolved ones. Have three more to rack before I exhaust what was in there tonight. idk if it flagged anything but was good dogfooding.

[2016-12-05 15:52] colinxfleming commented on #766
* The dashboard page has an n+1 query problem -- every user in the call list is getting hit individually, so for people doing data entry a dashboard visit means 100+ queries to the effect of `select * from patients where id = x limit 1`. For individual CMs during normal use it probably doesn't matter much, but we should do it if for no other reason than to get logentries alerts to hush.

[2016-12-06 04:16] colinxfleming commented on #766
* Accidentally screwed something up and did a db rollback. The good news is that we can restore from backups without incident via doing a db:mongoid:purge and a mongoimport, and this proves it. We should start taking regular daily or bi-daily backups as part of a schedule. I don't think we need to do this as part of the mongo service we use, and probably storing them in s3 and keeping them for lik

[2016-12-06 04:17] colinxfleming commented on #766
* Wonder if it would also be nice to have some marker of 'saved!' pop up when a field saves.

[2016-12-06 04:21] colinxfleming commented on #766
* Backend thing: We're now searching on line so we should index that too!

[2016-12-06 04:35] colinxfleming commented on #766
* Got our first person who's used DCAF's services twice, several months apart (e.g. multiple pregnancies). I'm entering them as their own patient and saving using a validation skip from the backend, but this does mean that we'll need to find a way to figure out how to handle this better now that it's a reality.

[2016-12-06 16:02] colinxfleming opened #769 "Migrate from Unicorn webserver to Puma"
It is time to do this. Memory usage with unicorn is getting a little out of hand.

[2016-12-07 03:14] colinxfleming commented on #769
We're deployed on heroku, and here's their documentation on deploying with puma:

https://devcenter.heroku.com/articles/deploying-rails-applications-with-the-puma-web-server

Moving to active development, since I think we should make this a priority.

[2016-12-07 03:16] colinxfleming commented on #753
I expect that we'll be firing up a new issue to work thru some of this. Closing.

[2016-12-07 03:16] #753 closed

[2016-12-07 03:16] colinxfleming commented on #762
I'm not doing this. Spinning up an issue for writing controller and integration tests instead.

[2016-12-07 03:16] #762 closed

[2016-12-07 03:20] colinxfleming opened #771 "Write tests for data entry functionality"
This is a good opportunity to learn some minitest, the ruby library we use for writing tests!

* **What are we trying to do?** QA our data entry form, `/data_entry`!

* **What feature or behavior is this required for?** We wrote a data entry function in a hurry for deployment; we want to have it tested so that we don't accidentally break it in a future small release.

* **How should we solve this

[2016-12-07 03:23] colinxfleming commented on #659
This is back in the pool!

[2016-12-07 04:46] colinxfleming commented on #766
* probably around 4 used-DCAF-twice incidents so far.

[2016-12-07 05:28] colinxfleming commented on #460
Promoting to active since it's a nice CM happiness thing and I think it'll help with transition.

Again, task here is to add `Employment, Food Stamps, SS, TANF, etc.` as helper text to the income field in the view for `patients#edit`. You might have to dig thru a few partials to get there but it should be a straightforward enhancement when you get there. Should be a nice introduction to how our vi

[2016-12-07 14:55] NerdyGirl537 commented on #766
Another thing I've noted is that the spreadsheets had started to track which clinic had referred the patient not just that it was a clinic referral.  Am wondering if the DCAF Board is working on something specific with that.

[2016-12-07 15:01] NerdyGirl537 commented on #766
Need to look at the case of Angela Harris in both MD and VA.

[2016-12-07 15:46] colinxfleming commented on #766
The clinic referral thing is something that trickled down from the CMDs that I hadn't gotten around to putting in github. I was under the impression that it was more 'we pointed that patient toward that given clinic' (which in turn gives DCAF leverage to negotiate cost reductions) but I don't think the business logic around it is terribly well documented, and it definitely isn't clear from the spr

[2016-12-07 17:11] DarthHater commented on #769
I can take this if need be.

[2016-12-08 00:04] mebates commented on #203
Looks good!

[2016-12-08 00:17] mebates commented on #2
oh man. i won't argue with the people! 👯

[2016-12-08 00:37] kscoulter commented on #728
I'll take this one.

[2016-12-08 00:42] KatSDC commented on #631
Going to start working on this!

[2016-12-08 00:53] mebates commented on #765
👏

[2016-12-08 01:45] colinxfleming opened #774 "fix circleci"

[2016-12-08 01:47] DarthHater opened #775 "Document Pipeline from CircleCI to Heroku"
Eliminate bus factor

[2016-12-08 05:08] colinxfleming commented on #728
hey @kscoulter , sorry we didn't get more time to go thru the stack -- thanks much for joining us tonight, hope to see you next week! I think your feedback about accessibility and semantic HTML is SUPER ON POINT so I'd love to work with you to make the app a lot sharper on that front.

[2016-12-08 19:12] NerdyGirl537 commented on #766
From one of our outstanding data entry volunteers:

- Adding immigration/non-citizen option to the extenuating circumstances checkboxes
- Include a spot for notating what portion of the procedure insurance is covering in the "Abortion Information" section
- Include a spot for notating what portion of the procedure the clinic is covering as a discount in the "Abortion Information" section
- Create

[2016-12-10 16:07] #769 closed

[2016-12-10 16:21] colinxfleming commented on #774
I THINK I've resolved this via some circleci settings adjustment (screenshotted below under advanced settings). From googling, it might also be 'permissive building of fork pull requests' but let's see if this fixes it first.

In short: Made a config fix, let's see if it takes!

<img width="838" alt="screen shot 2016-12-10 at 11 18 27 am" src="https://cloud.githubusercontent.com/assets/3866868/210

[2016-12-10 16:50] colinxfleming commented on #719
Pledge has been implemented as `ExternalPledge`, our representation of non DCAF/NAF pledges. One down one to go!

[2016-12-11 05:48] #2 closed

[2016-12-11 05:48] #719 closed

[2016-12-11 05:58] colinxfleming commented on #323
A pair of 2fa devise extensions:
* https://github.com/Houdini/two_factor_authentication
* https://github.com/tinfoil/devise-two-factor

[2016-12-11 06:00] colinxfleming commented on #475
Overtaken by events, now. Closing.

[2016-12-11 06:00] #475 closed

[2016-12-12 02:43] colinxfleming opened #778 "Switch External Pledges to use ajax"
Due to time crunch, External Pledge creation (in edit pregnancy) was rolled out synchronously, and when you make a new one it reloads the page. I'd like to cut that functionality and instead have the new external pledge route run a `create.js.erb` that reloads the external pledges for that patient. Nonessential but nice to have and will make for a more seamless experience.

[2016-12-12 03:00] colinxfleming commented on #766
Plenty to spin out into microissues. I think we can call this good to go and start spinning things out. Good mix of copyedits, small features, and UX stories we should talk about.

[2016-12-12 03:02] colinxfleming opened #779 "Frontend improvements for call line selections"
Per request of @mebates in #745 -- probably some stuff we can strip out in here.

[2016-12-12 03:02] #203 closed

[2016-12-12 05:40] #758 closed

[2016-12-12 17:03] mebates opened #781 "Fix spacing on call list"
The call list is very cramped and difficult to read. It needs margins between each column, and some massaging of column widths. Work directly with me to fix this.

![screen shot 2016-12-12 at 12 02 16 pm](https://cloud.githubusercontent.com/assets/6223901/21108402/feb9050a-c062-11e6-928a-925076b9e036.png)

[2016-12-14 19:13] eheintzelman commented on #779
- Change 'Select line for this session' to 'Start'
- Increase size of radio buttons
- Align radio buttons and text descriptions
- Add padding between radio button and text description

@mebates other suggestions?