[2017-08-08 00:22] rudietuesdays commented on #978
Starting to take a look at this tonight!

[2017-08-08 00:29] mebates opened #1172 "Dates should be expressed consistently everywhere"
We are displaying dates in different ways all over the app. (Appointment date, Procedure Date, Date of Check) They should be displayed consistently.
Please make it consistent across the site: MM-DD-YYYY

Additionally, the date entry behavior should be the same - our preferred solution is tabbed input with the option for a calendar date picker, with structured entry. (match the behavior of "Date of

[2017-08-08 00:41] colinxfleming commented on #1172
@eheintzelman can I by chance get an example of what you'd like a tabbed date input with option for datepicker to look like?

[2017-08-08 00:49] eheintzelman commented on #1172
Check out the 'date of check' field on the pledge fulfillment tab. You can model this, except change the slash to a dash.

[2017-08-08 00:52] meagdoh opened #1173 "Update Docker instructions"
Per 8/7 CodeforDC hack @colinxfleming

https://github.com/DCAFEngineering/dcaf_case_management/blob/master/docs/SETUP.md

[2017-08-08 00:58] eheintzelman commented on #825
Thanks for the language!  Here it is in the warning status style. In this example, the case manager is on the DC line and searched for a patient that already exists on the MD line.

![error message](https://user-images.githubusercontent.com/17989540/29051695-8657b3f2-7bb2-11e7-8ab2-4a6360a52645.png)

I assume that this pulls down from the top of the page, like the other status messages.

Font awes

[2017-08-08 01:01] colinxfleming opened #1175 "Write clinic controller and integration tests"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

What are we trying to do?
Clinic creation and maintenance is an area where our integration test coverage is pretty spotty. We should bump that.

What feature or behavior is this required for?
Having our acts together

How could we solve this issue? (Not kn

[2017-08-08 01:02] lwaldsc commented on #654
Tagging @vtmeghan @alisonnjones @deesriv cuz we talked about it tonight

[2017-08-08 01:03] lwaldsc commented on #978
I'm so damn excited this is becoming a reality.

On Mon, Aug 7, 2017 at 8:22 PM, Rae <notifications@github.com> wrote:

[2017-08-08 01:07] lwaldsc opened #1176 "Clean up crew reporting"
**Placeholding this issue to build out when I have a second**

Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do**
We're trying to reduce the amount of drop-off (patients who call us, but are never pledged) we experience as an organization.

* **What feature or behavior is thi

[2017-08-08 03:33] colinxfleming opened #1177 "What's the knapsack gem's problem?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Run tests in CI efficiently by splitting our tests onto parallel boxes in Circle. This used to be okay via something and then they started recommending the knapsack gem, but now THAT is causing some sketchy segfaults.

* **W

[2017-08-08 03:35] colinxfleming commented on #1175
This is something we scrimped on a little bit -- we should add better controller and integration tests around creating, saving, and updating clinics, especially on the integration front.

[2017-08-08 03:35] colinxfleming commented on #1175
Assigning to myself as penance.

[2017-08-08 03:36] colinxfleming commented on #1173
Sorry this bit you @meagdoh !

[2017-08-08 03:37] colinxfleming commented on #1119
Let's add a config for this once the config model PR gets in.

[2017-08-08 13:37] lwaldsc commented on #825
This looks great Eva! <3

[2017-08-08 14:44] lwaldsc commented on #1176
Realizing we **DID** have an issue on this. I could not find it for the life of me last night while I was searching for it. #817

Anyway. It's pretty closely related, but that was specifically people we have soft pledged rather than all calls.

I'm gonna close this issue @colinxfleming and migrate over there.

[2017-08-08 14:44] #1176 closed

[2017-08-08 14:45] lwaldsc commented on #817
Updating this issue so we can get it somewhere in the To Do hopper.

So in addition to soft pledged patients, this should also be able to patients who we have not pledged yet but fall under:

- We have made at least one call to in the last 14 days (regardless of the outcome of the call).
- There has been no change to the patient's file since that last contact.

This report would not be exportable,

[2017-08-08 14:46] lwaldsc commented on #817
Tagging in @alisonnjones @deesriv @vtmeghan for their thoughts.

[2017-08-08 15:00] alisonnjones commented on #817
Thanks, @lwaldsc ! I think what we want to do is have a search tool that populates the search results into a display similar to a call list. The search terms would be based on the following criteria -
1. Pledge sent field is blank (no pledge has been sent yet)
2. The last call recorded with the patient is between 7-21 days old

[2017-08-08 15:05] colinxfleming commented on #817
The timbre of this reminds me a lot of #679 -- is there some crossover there?

[2017-08-08 15:08] alisonnjones commented on #817
@colinxfleming it definitely sounds like there could be. i think the difference is in the usage. We'd want the cm clean up crew to use this search tool to do follow up, whereas the urgent flag from #679 would be primarily used by cms on shift who need to have those pts on their radar. i see #679 coincided more with the events feed than this type of functionality, but that's just me

[2017-08-08 15:11] lwaldsc commented on #817
They definitely both fall under "Reducing drop off" but yeah, different
issues and different actions.

[2017-08-08 15:30] deesriv commented on #817
Agree with Alison and Lisa. Also I think that this one might still want to
capture patients regardless of contact made or not so that as few calls go
unanswered as possible, whereas #679 involves some more context about a
patient. Both aim to reduce dropoff and missed appts in diff ways/by diff
people.

On Tue, Aug 8, 2017 at 11:11 AM, Lisa <notifications@github.com> wrote:

[2017-08-09 01:52] colinxfleming opened #1179 "Add timestamp to 'patient saved' flash message"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
When PatientsController#update saves some data, it flashes a 'Patient saved!' message in green, which is nice. Let's add a timestamp to that of `MM-DD-YYYY HH:MM A/PM` to give folks a heads up about what the current status i

[2017-08-09 01:54] colinxfleming commented on #1039
There are like

[2017-08-09 01:54] #1039 closed

[2017-08-09 01:54] colinxfleming commented on #1039
Effectively resolved, let's move any further tests to an issue thread.

[2017-08-09 01:56] colinxfleming opened #1180 "Add integration tests for creating and updating clinics"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Clinic creation and maintenance is an area where our integration test coverage is pretty spotty. We should bump that.

* **What feature or behavior is this required for?**
Having our acts together

* **How could we solve thi

[2017-08-09 01:58] #1077 closed

[2017-08-09 12:45] #1074 closed

[2017-08-10 04:29] colinxfleming commented on #1095
Note to myself to unscrew the CSPs here and clear some runway for @lapolonio . I'd expect to see some movement on that this weekend.

Relatedly, it looks like https://github.com/ankane/chartkick is nonce-compatible, so it'll blend with our CSP, which is good news! So I think converting over what we have now to chartkick (see `app/views/reports/_patient_report.html.erb`, particularly the ugmo js bl

[2017-08-10 13:10] tingaloo commented on #1095
I have no issues with ```unsafe-inline```. Why do we need the CSP file? Does Rails lack JS security?

[2017-08-10 16:59] lapolonio commented on #1095
Appearantly

so I think the csp script_src line should be:
`script_src: %w('self' 'unsafe-eval' 'unsafe-inline'),`
and removal of nonce from render_async

Given these suggestions are what is used. It seems that we don't need chartkick and can keep c3?

[2017-08-11 03:42] colinxfleming commented on #1095
@tingaloo @lapolonio short version: I'm good with either c3 or chartkick, we should go with preference on this. That said I'd really like to keep `unsafe-inline` disallowed.

**Longwinded posting about CSPs**: Our CSP was the result of a security finding during our initial review. Rails does a bunch of good security stuff out of the box (see the security doc here http://guides.rubyonrails.org/secu

[2017-08-11 12:03] DarthHater commented on #1177
![image](https://user-images.githubusercontent.com/5544326/29212268-7307e89c-7e52-11e7-81f2-c669bb3d88d9.png)

[2017-08-11 13:22] tingaloo commented on #1095
Hm, if inline JS is out. I'm thinking we include a ```patient_report.js.erb``` file that houses the ```<%= javascript_tag do %>...``` stuff. Then render the .html partial ```patient_report.html.erb```

Unless the javascript is failing elsewhere, i think that is a potential solution.

[2017-08-11 16:08] lapolonio commented on #1095
I agree keeping `unsafe-inline` out is ideal to keep in for security reasons.

Current report pattern:
server side async loading of DOM and javascript code which is automatically executed and renders the graph

Issue:
Current CSP config doesn't allow for inline scripting. However this make it really hard for javascript to know that the query is done and async DOM is present and ready to render gra

[2017-08-11 19:18] colinxfleming commented on #1095
Vue looks pretty lightweight, might be a good solution here if we do need to adopt a js-first approach to this. (We def don't need to manage app state between routes.)

My inclination is to make a last weekend push with the existing reports code (render_async partials with nonces, c3 or chartkick), before we put a js framework in place. @lapolonio can we poke at this together tonight/tomorrow and

[2017-08-11 19:19] colinxfleming commented on #621
@mebates can I give you a nudge on this? Still worth doing?

[2017-08-11 20:34] lwaldsc opened #1187 "Updated CM user guide"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Update our CM user guide because I haven't since January and we've done a lot of cool ass shit since then.

* **What feature or behavior is this required for?**
Just a few folks looking over the updated version for anything

[2017-08-11 21:19] lapolonio commented on #1095
Sure.

Note there is a difference between turbolinks navigate vs page refresh. On page refresh the entire page is loaded with DOM and script for each graph. With turbolinks navigation the async loaded script is blocked by CSP.

[2017-08-12 06:08] colinxfleming commented on #1095
@tingaloo had a great comment in #1183 that I wanted to expand on -- apologies to you both for not saying this sooner! We shouldn't feel married to c3 if there's agreement among us that chartkick would be easier to implement and maintain. The c3 code got built on the fly as part of a hackathon to display the results of the reporting code, which currently lives in `app/lib/*`, and c3 was just what

[2017-08-12 06:09] colinxfleming commented on #1095
@lapolonio  the turbolinks thing is is really interesting and a great flag -- the behavior I'm seeing on that front is that the reports load fine the first time and then choke if you navigate away, add a contact or patient, and then return to the reports view. Is that about what you're seeing?

[2017-08-12 06:29] colinxfleming opened #1189 "Move language to a config"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Languages options should be settable by funds instead of us, so let's make this a config.

* **What feature or behavior is this required for?**

Removing engineers from day to day configuration changes

* **How could we sol

[2017-08-12 10:30] tingaloo commented on #1095
I heard good things about chartkick. I'm all about upgrading over
maintaining, so go for it!

On Sat, Aug 12, 2017, 2:09 AM Colin <notifications@github.com> wrote:

[2017-08-12 15:02] #1009 closed

[2017-08-12 15:45] colinxfleming opened #1192 "Add a tooltip for 'why is this person this status'?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Add an explanation for what our statuses mean.

* **What feature or behavior is this required for?**

Not confusing CMs about what our engineering terms mean.

* **How could we solve this issue? (Not knowing is okay!)**

In

[2017-08-12 15:49] colinxfleming commented on #1187
Reviewed, looking sharp! Left comments in doc.

[2017-08-12 18:01] lwaldsc commented on #1192
Love this idea!

[2017-08-13 01:33] #1054 closed

[2017-08-13 03:34] colinxfleming commented on #394
I did this and it returned three flags, all of them very minor. I'm making separate issues for these and then closing.

[2017-08-13 03:39] colinxfleming opened #1196 "Turn off password autocomplete"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Increase the security of our app by turning off autocomplete on our sign in form.

* **What feature or behavior is this required for?**
Keeping our app security flag free, even for minor stuff!

* **How could we solve this i

[2017-08-13 03:44] colinxfleming opened #1197 "Fix cache-control and pragma http header set for a few endpoints"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Prevent caching on certain controllers in the headers. Exact alert content is below:

![screen shot 2017-08-12 at 11 41 20 pm](https://user-images.githubusercontent.com/3866868/29245933-e2540bca-7fb7-11e7-9a98-7aa0601cc7e9.p

[2017-08-13 03:46] colinxfleming opened #1198 "Content-type header missing when hitting google sso endpoint"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Set a content type header on our hits of the google oauth endpoint, to reduce a MIME security risk.

Exact content of the alert from ZAP as follows:

![screen shot 2017-08-12 at 11 44 55 pm](https://user-images.githubusercon

[2017-08-13 03:47] #394 closed

[2017-08-13 03:58] colinxfleming commented on #413
Quick dump: https://www.compose.com/articles/encrypting-sensitive-data-in-your-mongodb-database/
https://github.com/rocketjob/symmetric-encryption
https://github.com/attr-encrypted/attr_encrypted/issues/130

[2017-08-13 05:22] colinxfleming commented on #1180
dupe of #1175

[2017-08-13 05:22] #1180 closed

[2017-08-13 05:37] colinxfleming commented on #1046
@SamuelLangenfeld let me know if you need a hand figuring this out here -- iirc the next/cancel verbiage is set in a kind of complicated way.

[2017-08-13 05:40] colinxfleming commented on #1119
Config PR is in, this is ready to go!

[2017-08-13 05:51] colinxfleming commented on #1115
If @mebates feels good about tooltips I feel good about tooltips for sure. Here's a prelim list of things that I think would be helpful to have some explanatory text around:

* Call list
* Completed calls
* Urgent cases
* Status
* Record a new external pledge
* Resolved without assistance from DCAF

@lwaldsc can you work with @vtmeghan @deesriv to whip up some boilerplate text around these? Keep i

[2017-08-13 05:52] colinxfleming commented on #1192
Dupe of #1115

[2017-08-13 05:52] #1192 closed

[2017-08-13 06:00] colinxfleming commented on #825
Switching to a backend task since this is now shovel-ready. This probably involves some complex wrenching in searchable but I think it should be doable. Some guidelines:

* For simplicity's sake, if it's easiest to just worry about primary phones and/or exact matches then do that.
* It may be easier to search the other lines only if the primary search returns no results.
* Might have to adjust the

[2017-08-13 06:01] colinxfleming commented on #825
ps as @lwaldsc noted, @eheintzelman this is a real beaut and some wonderful work digging team eng out of this unexpected hole!

[2017-08-13 06:03] colinxfleming commented on #1104
@KatSDC let me or @tingaloo  know if you run into any walls on this!

[2017-08-13 06:17] colinxfleming commented on #735
@colinmcglynn let me know if you run into any snags!

[2017-08-13 22:37] SerenaYudon commented on #634
Hi all,

I'm attaching two wireframes I made for the Call Line Summary Page. I annotated the wireframes, let me know if you want clarification on those. I can do more based on your feedback. I am presenting two options for the page.

**Option 1**
![fullsizerender](https://user-images.githubusercontent.com/29069749/29253869-ea86f5fc-8055-11e7-991a-08af81cb7d02.jpg)

**Option 2**
![fullsizerender 2]

[2017-08-14 00:54] colinxfleming opened #1199 "Date of check field not saving"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Save the date of checks for the fulfillment team.

* **What feature or behavior is this required for?**
Logging accounting data.

* **How could we solve this issue? (Not knowing is okay!)**

Steps to recreate:
* Create a new

[2017-08-14 00:57] colinxfleming opened #1200 "DARIA BRAAF rollout omnibus thread"
Starting an omnibus thread for spinning up a new instance of DARIA for our friends down the road -- want to make sure we have a place to put anything that arises as we go through this process with them.

@NerdyGirl537 if there's anything we need to get out ahead of please post in this thread! Any timeframe would also be killer. Thanks much!

[2017-08-14 01:45] colinxfleming commented on #408
Audit trails is increasing at a rate of about 10mb/month. We're going to need a recipe to deal with that soon-ish. We might consider nuking audit trails over, like, 4 months old as a matter of course just to keep this clean anyway.

mlab does system level backups daily but restoring is a 'when they get around to it' affair. I wonder if in an effort to keep prices down we should consider rolling ou

[2017-08-14 03:09] colinxfleming opened #1201 "Make reports queries more efficient"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make reports at `/reports` work at scale!

* **What feature or behavior is this required for?**
Viewing reports and making informed judgments about the state of the program from that.

* **How could we solve this issue? (Not

[2017-08-14 13:29] lwaldsc commented on #1201
![](http://www.wikihow.com/images/b/be/Complete-a-Mortal-Kombat-Finisher-Step-13.jpg)

[2017-08-14 13:32] lwaldsc commented on #1200
Is this for BRAAF rather than RRF or both funds? Should we edit the issue subject just to keep things clean in case RRF wants it?

[2017-08-14 13:36] lwaldsc commented on #1115
On it. I'm on the line tonight, so it's a dedicated night in for DCAF'ing. Should have them shortly for review/discussion for Meghan and Dee.

[2017-08-14 14:12] colinxfleming commented on #1115
Yes please! @lwaldsc if you're taking a shift, might not hurt to take notes on any pain points or trouble spots you run into and popping them in separate issues.

(cc @mebates about Lisa being on the line this week, not sure if there's anything that's been kicking around team design worth flagging)

[2017-08-14 14:12] colinxfleming commented on #1200
oh, yeah, this is braaf. Editing to reflect

[2017-08-14 14:33] NerdyGirl537 commented on #1200
@lwaldsc @colinxfleming I just sent a note to Toby.  Last time I heard from her, she told me she was waiting for Tannis (another board member) to get back from vacation. I'll let you know when I hear from her.

[2017-08-15 23:36] lwaldsc opened #1202 "Call List 'remove all' button for dashboard"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make a button to remove all calls from your call list.

* **What feature or behavior is this required for?**
If the call list does not purge properly, it's a pain to remove each call by hand.

* **How could we solve this iss

[2017-08-16 01:06] colinxfleming commented on #1202
Feature request sounds good but I'm kinda interested in why the list didn't purge properly. Might be worth digging into that too, let's be sure to file a issue for that if it happens tomorrow?

[2017-08-16 01:07] colinxfleming commented on #1202
Tagging UX for input on where we should put this button, then turning over to backend.

[2017-08-16 01:07] lwaldsc opened #1203 "Patients still marked urgent after pledge sent"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Need to revisit this because patients are still marked urgent after a pledge is sent. Refreshing the dash doesn't remove them.

* **What feature or behavior is this required for?**
My sanity

* **How could we solve this issu

[2017-08-16 01:11] lwaldsc commented on #1202
Yeah I was wondering that too, to be honest, but it's been a while since I
used DARIA, so figured that's how we made it.

Will do tomorrow if it's still wonky.

[2017-08-16 01:34] colinxfleming commented on #1161
Emailed 8/15.

[2017-08-16 01:36] colinxfleming opened #1204 "Run migration on baltimore to reflect referred_by field change"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
#1158 includes a change from 'DCAF website or social media' to `#{FUND} website or social media`, so we're going t

* **What feature or behavior is this required for?**
Keep our data nice and clean by

* **How could we solve

[2017-08-16 01:52] #1125 closed

[2017-08-16 03:23] lwaldsc commented on #1115
Paging @deesriv @vtmeghan @NerdyGirl537 to the red courtesy phone.

- Call list
This sortable list is used to keep track of patients to call back during your shift. Use the search to populate it.

- Completed calls
This is a list of patients you have already called tonight.

- Urgent cases
These patients have been marked urgent. This list is shared across all case managers working on a single line

[2017-08-16 04:34] colinxfleming commented on #413
* `symmetric-encryption` seems straightforward to run but entails some additional setup
* `attr_encrypted` also seems straightforward,
* last ditch, this gem which the maintainer is looking to shove off (RIP mongodb): https://github.com/KoanHealth/mongoid-encrypted-fields

[2017-08-16 14:27] lapolonio commented on #1095
@colinxfleming i haven't seen that but I can try to reproduce locally

I guess I can try to port the graph code over to chartkick

[2017-08-16 14:29] colinxfleming commented on #1095
@lapolonio Yeah, if you could port the chart code over to chartkick that would be lovely.

[2017-08-16 14:30] colinxfleming commented on #1161
Got clearance from sqreen on 8/16, declaring victory.

[2017-08-16 14:30] #1161 closed

[2017-08-16 19:46] deesriv commented on #1115
@lwaldsc <https://github.com/lwaldsc> @vtmeghan
<https://github.com/vtmeghan> @NerdyGirl537
<https://github.com/nerdygirl537>  @alisonnjones tagging CM and data
friends!

These look awesome to me! Thank you Lisa. Are there other categories we
would want mouseover things for? Just looking, I couldn't find any, but in
the CM script we have tiny explainers for that the demo data questions can
sound l

[2017-08-16 19:59] alisonnjones commented on #1115
wow i love everything about the mouseover tooltips. can't think of anything else to add at the moment (so comprehensive!) but i'll noodle on it more.

[2017-08-17 00:07] mebates commented on #634
Hi Serena - Nice work! I'm liking Option 1 best. When we last talked, I remember there being additional info that we were trying to pull into reporting, and we were trying to figure out how the information architecture might change because of that. Do you recall?

I think the dropdown with date ranges is great and will be very helpful to the team.

Don't worry about the budget bar; we have require

[2017-08-17 02:15] lwaldsc opened #1209 "Call list not clearing"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Call list isn't clearing the way I think it's supposed to. We should probably take a look at that.

Probably has to do something with: https://github.com/DCAFEngineering/dcaf_case_management/pull/570

* **Anything else?**
He

[2017-08-17 02:16] lwaldsc opened #1210 "Patient information saved pop-up"
If possible, can we have the patient information successfully saved pop up not force everything else on the page down? It's not a make or break feature, but it's kind of irritating while trying to input patient data.

[2017-08-17 03:09] #1199 closed

[2017-08-17 03:32] colinxfleming commented on #634
paging @lapolonio to this -- if you aren't too deep on chartkick stuff (I'd still REALLY like to have that around) there's a bit of meat here! We can put this in our current reporting endpoint I think.

[2017-08-17 04:33] lapolonio commented on #634
@colinxfleming i started incorporating chartkick. one thing i can't figure out is how to incorporate nonce to the generated javascript

There seems to be a discrepancy between https://github.com/ankane/chartkick/blob/f42f3bb732c9f7a9871da31a57935bfc3f1a2c35/lib/chartkick/helper.rb and local installed from gem helper.rb (which doesn't contain the nonce code)

[2017-08-17 04:44] lapolonio commented on #1095
@colinxfleming i started incorporating chartkick. one thing i can't figure out is how to incorporate nonce to the generated javascript

There seems to be a discrepancy between https://github.com/ankane/chartkick/blob/f42f3bb732c9f7a9871da31a57935bfc3f1a2c35/lib/chartkick/helper.rb and local installed from gem helper.rb (which doesn't contain the nonce code)

[2017-08-17 04:51] colinxfleming commented on #1095
@lapolonio do me a solid and push up a work in progress pull request?

It looks like the nonce handling is at https://github.com/ankane/chartkick/blob/f42f3bb732c9f7a9871da31a57935bfc3f1a2c35/lib/chartkick/helper.rb#L49 . You can see what's in the gem you actually have by doing `gem open chartkick` and nav-ing to the right spot. Any weird discrepancies there?

[2017-08-17 05:06] lapolonio commented on #1095
@colinxfleming o i installed an old version (1.2.4) i updated (2.2.4)
another note the json data has to change to get the same column chart
from
[code]
to:
[code]

which is totally different from how it is pulled in Line_Summary.
You can test by going to https://www.chartkick.com/ and executing in Inspector (Chrome)
[code]

[2017-08-17 12:18] tingaloo commented on #1210
I can think of two ways, either we allocate space up top reserved for notifications or have the notifications plop over.

[2017-08-17 22:19] alisonnjones commented on #1127
Hi @colinxfleming @lwaldsc  @NerdyGirl537 ! I have another set of questions/flags for you about the CSV export -

1. The "Date of Check" field on the pledge fulfillment page in DARIA does not show up in the CSV export. Can we add this to the export on the back end so we are able to see the date of check information in the CSV pull?

2. The data fields on the pledge fulfillment page in DARIA do not

[2017-08-18 01:06] colinmcglynn commented on #1119
I can grab this

[2017-08-18 20:13] NerdyGirl537 opened #1214 "Customize BRAAF Information"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Get ready to bring BRAFF onto system.

* **What feature or behavior is this required for?**
Changing any tool tips, pledge caps, and fund specific information for BRAAF.

* **How could we solve this issue? (Not knowing is ok

[2017-08-19 17:12] colinxfleming commented on #1029
Throwing out a couple dates that I think might work well:

* Weekend of 9/9 (Saturday or Sunday)
* Weekend of 9/30 (Saturday or Sunday)

I think it's probably a good idea to avoid weekend of 9/23 since the code for dc anniversary is the day before on Friday, and the national day of civic hacking is that saturday; probably also a good idea to avoid the weekend of 9/16 since the abortion access hack

[2017-08-19 17:32] colinxfleming commented on #1214
Down the line:

* There's a PR that I'm going to merge today #1215  that'll let them set their own text for cap guidance, so nothing much to do there.
* The places I see the logo are the footer and the favicon. I think it's fine on both of those tbh, since this is a DCAF/Code for DC product, pretty much.
* The phone / website link are an oversight, I think! I'll spin up an issue to set those to en

[2017-08-19 17:41] colinxfleming commented on #1210
@tingaloo I think either way is great, probably slight preference for plop over unless it's notably harder.

Tagging frontend and active, I think this would be a nice improvement.

[2017-08-19 17:56] colinxfleming commented on #1127
Down the line:
* Weird that date of check isn't pulling. I'll take a look and see what the deal is there. It's been a null field until recently due to a surprise bug, a fix for that should deploy soon-ish.
* Yeah, it looks like there's some discrepancy there on `Gestation at procedure in weeks`, and possibly also `Procedure cost`. I'll figure out what's up and open a ticket.
* The Accounting tool

[2017-08-19 21:40] #1119 closed

[2017-08-21 14:39] colinxfleming commented on #1115
Going thru email for awhile back and found a request for better information about what stuff on the clinic edit pages do, so leaving that here as well.

[2017-08-21 23:05] #1210 closed

[2017-08-21 23:05] #860 closed

[2017-08-21 23:10] colinxfleming commented on #1172
Fixed via #1088

[2017-08-21 23:10] #1172 closed

[2017-08-21 23:43] colinxfleming commented on #453
Since this is a little complex, and it's the last week of august I'm kind of inclined to tag this one 'wontfix' and just add a helper tooltip to note that LMP is relative to initial call date.

@lwaldsc @mebates @NerdyGirl537 what do you all think? Is this a clutch feature or is it something we can fudge by leaving as is?

[2017-08-22 02:04] lwaldsc commented on #453
File me under "good enough as it is."

[2017-08-22 04:12] colinxfleming commented on #998
#1219 looking promising after a day.

[2017-08-22 14:06] colinxfleming commented on #691
@vtmeghan is this a skippable thing, or do we need it?

(unless @zorkian has this in a ready-to-go state!)

[2017-08-22 14:22] colinxfleming commented on #1130
Moving this to the `dcaf_analytics` repo in https://github.com/DCAFEngineering/dcaf_analytics/issues/1 since this is primary an analytics team ask. (Charting / productizing we can explore once the analytics side is looking good.)

[2017-08-22 14:22] #1130 closed

[2017-08-22 14:26] colinxfleming commented on #1072
This is resolved via #1092

[2017-08-22 14:26] #1072 closed

[2017-08-22 14:33] NerdyGirl537 commented on #453
Same here

On Mon, Aug 21, 2017 at 10:04 PM, Lisa <notifications@github.com> wrote:

[2017-08-22 15:25] mebates commented on #453
fine with me - but is it an easy fix to just change the label to "weeks along" as suggested above?

[2017-08-23 00:41] mebates commented on #1029
I'm out of town 9/9 for a wedding, Saturday and Sunday. :(

[2017-08-23 01:41] zorkian commented on #691
I do not have any progress on this since the hackathon. Please feel free
to unclaim and let someone else take it over, if you want!
--
Mark Smith
mark@qq.is

On Tue, Aug 22, 2017, at 07:06 AM, Colin wrote:

Links:

  1. https://github.com/vtmeghan
  2. https://github.com/zorkian
  3. https://github.com/DCAFEngineering/dcaf_case_management/issues/691#issuecomment-324037167
  4. https://github.com/n

[2017-08-23 11:55] SamuelLangenfeld commented on #1046
@colinxfleming are we keeping the two step modal process for cancelling the pledge? Or would we rather just have a one step dialog box?

[2017-08-24 01:10] lomky opened #1223 "Create & Document our Long Term Maintenance Plan"
* **What are we trying to do?**

Come up with our plans for what the long term maintenance mode looks like, and document it.

* **What feature or behavior is this required for?**

Long term health of the mature app.
Being there for our awesome funds.
@colinxfleming getting more sleep!

* **How could we solve this issue? (Not knowing is okay!)**

A solid doc with the decisions we make in this threa

[2017-08-24 03:30] colinxfleming commented on #1223
👍

[2017-08-24 03:32] colinxfleming commented on #1214
@NerdyGirl537 when you get a sec could you send me the emails of anyone at BRAAF who should be on the updates distro list?

If you wouldn't mind also emailing me that copy of their pledge form that would be 💯

[2017-08-24 03:32] colinxfleming commented on #1204
Did this on Sunday, closing.

[2017-08-24 03:32] #1204 closed

[2017-08-24 03:33] colinxfleming commented on #1200
Per #1214 this is game on! @NerdyGirl537 do they have a start date? When would they like to start entering data?

[2017-08-24 03:41] colinxfleming commented on #1046
@SamuelLangenfeld gotta defer to @mebates on what the right call here is, I'm not sure.

[2017-08-24 03:43] colinxfleming commented on #1126
Resolved by #1092 , whoops.

[2017-08-24 03:43] #1126 closed

[2017-08-24 03:47] colinxfleming commented on #1115
Promoting to active. Most immediate task here is to add tooltips in the style of the pledge guidelines  tooltip (shows up above `Pledge Amount` under abortion information in the edit patient view) for the items @lwaldsc outlines -- Call List, Completed Calls, Urgent Cases, Status, New External Pledge, and Resolved Without Assistance.

[2017-08-24 03:48] colinxfleming commented on #1115
(Please throw as much of this stock text as you can in helper methods.)

[2017-08-24 03:53] colinxfleming commented on #453
Definitely! Thanks for not letting that slip @mebates .

Renamed to reflect that, promoted to active and tagged appropriately.

The ending task here is to pop into the patient dashboard partial and change the label for 'LMP at intake' to 'Weeks along at intake'.

You may have to do a little bit of styling stuff (making `at intake` the label for the days dropdown, adding a css overflow property to

[2017-08-24 04:01] colinxfleming commented on #413
I'm promoting this to active, but it's definitely complicated and tough, so please.

`symmetric_encryption` seems to be slightly better documented, but migrating is going to be difficult. Let's start with a proof of concept of adding an encrypted field on the model and go from there.

[2017-08-24 04:02] colinxfleming commented on #691
thanks @zorkian ! Hope everything is well back west! 👋

[2017-08-24 04:14] colinxfleming opened #1224 "Move CSV export to an async call"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The only place in the app we're still getting memory errors or timeouts is the CSV export, which has become too big to pull. Rather than optimize the export I'd rather cheat and just move it to an async call, so it doesn't

[2017-08-24 04:15] colinxfleming commented on #1224
@alisonnjones for awareness

[2017-08-24 04:17] colinxfleming commented on #998
I spent some time beating on this as hard as I could after #1219 and I think we can declare victory here. Closing.

[2017-08-24 04:17] #998 closed

[2017-08-24 13:55] alisonnjones commented on #1224
Thanks for the notice @colinxfleming ! Do we think this issue is the reason why some folks are having trouble completing the CSV download at random times?

[2017-08-24 15:27] NerdyGirl537 commented on #1200
@colinxfleming Needing you to confirm you are good with 9/25 or if we need to push it to Oct.

[2017-08-24 18:37] colinxfleming commented on #1200
I'm good to flip the switch so they can start entering data on or around 9/25, though I might be out of pocket for much of that week due to a potential trip.

Someone who isn't me should probably spin up this server in question so that this knowledge isn't completely siloed in my head, I'll coordinate that with the rest of the team.

@alisonnjones this'll be another $7/m on our heroku bill. Are th

[2017-08-24 18:38] colinxfleming commented on #1224
@alisonnjones yeah, pretty much -- this issue aims to solve that problem.

[2017-08-24 18:41] alisonnjones commented on #1200
Yes, we need them to sign a contract and speak with our legal team before anything goes live. @NerdyGirl537 please let me know when we need to send them contract so that we're good to go with the 9/25 start date/timeline. the 10/1 billing start date sounds good to me. @colinxfleming  do you remember if you connected BAF with Emily? How does that invoicing work for BAF?

[2017-08-24 19:14] NerdyGirl537 commented on #1200
@alisonnjones send any time.  They are excited and ready to get started. Let's check that one off as an easy kill.

[2017-08-24 19:19] colinxfleming commented on #1200
I don't remember where the BAF process left with Emily. I assume they paid up but I was well off the board at the point at which they'd have cut a check. (Procedure as spelled out in the contract is pretty much 'Cut an annual check at the beginning of the new FY'.)

@alisonnjones and @NerdyGirl537 please keep this thread posted on progress to getting legal squared away. Thanks much for dunking on

[2017-08-24 21:09] colinxfleming commented on #408
I have an idea for this that's I think we can do on the so-cheap-it's-really-free, but it's going to require some buy in from @alisonnjones (and maybe BAF as well) and will require AWS S3 and possibly an EC2 box. But I really, really, really don't want to pay mlab 50 cents per run (which comes out to real money after awhile).

[2017-08-24 22:54] lwaldsc commented on #691
This would be super awesome if we could do this but if it's too complicated, we can push it back.

[2017-08-24 23:54] lwaldsc commented on #1029
The weekend of the 30th works for me.

[2017-08-25 00:09] colinmcglynn commented on #1189
I'll take this

[2017-08-25 20:19] SamuelLangenfeld commented on #1046
@mebates I have a couple of choices for you for the styling on this issue and I was just wondering which you'd prefer. Here's the basic modal style for cancelling a pledge based on your design:
![screenshot from 2017-08-25 15-41-40](https://user-images.githubusercontent.com/22413614/29730792-c0015940-89af-11e7-8e25-6f4afc9bc3e1.png)

Or I could make it more in line with the styling from the modal

[2017-08-27 21:41] #1104 closed

[2017-08-30 03:11] colinxfleming commented on #1046
@SamuelLangenfeld let's go with the middle one -- closest and most consistent to what we're doing now. Thanks for doing the legwork on this!

[2017-09-01 15:29] valeriecodes commented on #1224
I can take a look at this if no one is working on it yet @colinxfleming

[2017-09-01 15:31] valeriecodes commented on #1196
I got this.

[2017-09-01 16:13] colinxfleming commented on #1224
@valeriecodes I'd really appreciate that a lot! To simulate the data export size I'd probably suggest seeding around 10k or 15k patients, which I think will give some idea of the wait/delay. Please let me know if I can be helpful at all.

[2017-09-01 16:23] colinxfleming commented on #1196
🦅

[2017-09-01 17:04] valeriecodes commented on #1196
https://github.com/DCAFEngineering/dcaf_case_management/pull/1228

[2017-09-02 01:12] valeriecodes commented on #1224
@colinxfleming Another possibility here is to make the CSV call on the postgres level, which I've seen speed things up a lot, but means introducing raw SQL, which is obviously less friendly. I'll try a couple things and benchmark.

[2017-09-02 02:05] colinxfleming commented on #1224
If i had to guess i would bet we could leverage the render_async gem to do
this e-z. The grimmest option is probably setting up some activejob deal.
I'm super interested in seeing what you work out for this!

On Fri, Sep 1, 2017, 9:15 PM Valerie Woolard Srinivasan <
notifications@github.com> wrote:

[2017-09-03 01:35] #1196 closed

[2017-09-03 04:03] #1224 closed

[2017-09-03 16:58] #735 closed

[2017-09-03 22:27] valeriecodes commented on #1197
I can grab this.

[2017-09-04 17:07] SamuelLangenfeld commented on #1179
I'll get on this issue.

[2017-09-05 00:18] colinxfleming commented on #952
Oops, wrong button, sorry Jenn. This was resolved awhile ago and forgot to close.

[2017-09-05 00:18] #952 closed

[2017-09-05 00:19] colinxfleming commented on #952
#1093

[2017-09-05 23:31] #1070 closed

[2017-09-05 23:39] colinxfleming opened #1231 "Turbolinks and render_async don't play nice together"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Get things which render with `render_async` to populate when following links.

* **What feature or behavior is this required for?**

The most immediate impact is the activity feed -- to see this in action:

* visit the auth

[2017-09-05 23:42] colinxfleming opened #1232 "Frontend styling edits for activity feed"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I put together the activity feed div together pretty hackily in #1226  and made some guesses about how to render things, but I would love an opinion on it from someone with good design tastes and instincts. To that end, I t

[2017-09-05 23:50] colinxfleming opened #1233 "Activity feed should live-ish update"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The activity feed needs to be reloaded for it to show changes. Instead it would be awesome if it reloaded when a CM takes an action that would add something to it (making a call or a pledge).

* **What feature or behavior i

[2017-09-06 03:02] colinxfleming commented on #1232
Here's what it looks like currently:

<img width="1167" alt="screen shot 2017-09-05 at 11 02 36 pm" src="https://user-images.githubusercontent.com/3866868/30092670-52d6f6ee-928e-11e7-8941-990f480e8c51.png">

[2017-09-06 03:04] colinxfleming commented on #1232
<img width="1165" alt="screen shot 2017-09-05 at 11 04 14 pm" src="https://user-images.githubusercontent.com/3866868/30092714-8d66f7be-928e-11e7-918f-c4f82e0c0a58.png">

[2017-09-06 15:19] lwaldsc commented on #1232
Fantastic!

Would you hate me if I asked for the icons for VM and couldn't reach be different than reached? Was this a specific design decision @mebates or something we can change?

Just to make it easier for CMs to differentiate at a glance who still needs to be called.

[2017-09-06 16:01] colinxfleming commented on #1232
@lwaldsc Not a specific design decision that I can recall, and that's a pretty straightforward change. Feel free to pick something you like from this set of icons here: https://getbootstrap.com/docs/3.3/components/#glyphicons

[2017-09-06 16:16] NerdyGirl537 commented on #1232
Loving this!!! and agree with @lwaldsc on the different icons. @colinxfleming maybe the envelop icon for VM and the X icon for couldn't be reached?

[2017-09-06 17:52] lwaldsc commented on #1232
I would suggest using the _earphone_ glyph for Voicemails and Could Not Reach and the _comment_ glyph for Reached. There isn't much difference between VM and CNR as far as moving the patient along in the process (and accounting for patients we cannot leave a VM for), so I don't think they need to be differentiated.

Thoughts?

[2017-09-06 18:49] NerdyGirl537 commented on #1232
Good points! I think it would also encourage CMs to keep trying those VM patients rather than going "we left a VM; they're good."

[2017-09-06 22:45] colinxfleming commented on #1232
Paging @DCAFEngineering/designers ! Knew I set those teams up for a reason.

@lwaldsc @NerdyGirl537 I'll definitely make the glyphicon change, that's straightforward enough that we can do it in #1226 imo.

[2017-09-08 04:33] #654 closed

[2017-09-08 15:12] lwaldsc opened #1237 "Activity feed (Add to call list) links don't work :("
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Be able to add patients to the call list directly from the activity feed.

* **What feature or behavior is this required for?**
It's super helpful.

* **How could we solve this issue? (Not knowing is okay!)**
Uh... make them

[2017-09-09 17:52] colinmcglynn commented on #1189
Closed by https://github.com/DCAFEngineering/dcaf_case_management/pull/1234

[2017-09-09 17:52] #1189 closed

[2017-09-09 18:11] colinmcglynn commented on #453
I got this

[2017-09-11 01:15] colinxfleming commented on #1237
There's some code in `events_helper` that powers this. The engineering task here is to get the commented out `add_link` code to work.

Tagging backend and active.

[2017-09-11 01:16] colinxfleming commented on #1231
Fixed via #1239

[2017-09-11 01:16] #1231 closed

[2017-09-11 01:28] colinxfleming commented on #1223
Here's my quick

* I believe @NerdyGirl537 and @alisonnjones are the current keeper of the new fund process. I THINK there's some chatter with national that we have to have before we have a SUPER open process, but at the very least we can set up some way to get in touch with us (e.g. 'email X or hit us up on slack if you're interested in whether or not this will work for your fund').
* On existing

[2017-09-11 12:24] alisonnjones commented on #1223
Would love to discuss ideas for what our world will look like
post-September tonight. This includes 1) maintenance plan for DARIA for DC,
BAF, and BAF, 2) future build plan for new DARIA functionalities and tools,
3) game plan for how to strategically leverage DARIA for future roll out to
other funds.

Sound good?

On Sun, Sep 10, 2017 at 9:28 PM Colin <notifications@github.com> wrote:

[2017-09-11 18:17] lwaldsc commented on #1223
👍👍👍👍👍👍👍👍👍👍👍

[2017-09-11 22:04] colinxfleming commented on #1071
This is not worth the trouble. Closing.

[2017-09-11 22:04] #1071 closed

[2017-09-11 22:13] colinxfleming commented on #999
Good to go, closing!

[2017-09-11 22:13] #999 closed

[2017-09-11 22:35] #779 closed

[2017-09-11 22:55] mebates commented on #1029
We're looking at October 14!!! Holla if you have a conflict.

[2017-09-11 23:05] mebates commented on #1232
Are the icons interactive? If they are just a code and not something you can click, please avoid the color purple. I would also make them smaller, OR add more line spacing between each activity item, so they don't crash into each other.

[2017-09-11 23:08] colinxfleming commented on #1232
Yeah, they're just code. Let's swap them to black maybe?

More line spacing sounds great.

@serenayudon can i tag you in on these code changes?

On Mon, Sep 11, 2017, 7:05 PM Mollie Bates <notifications@github.com> wrote:

[2017-09-11 23:09] mebates commented on #1232
50% gray should do it. If you want, you could do something more positive for a pledge sent, like a green!

[2017-09-11 23:12] NerdyGirl537 commented on #1029
I'm booked! I'll offer as an alternative to join my Oktoberfest party the
following weekend.

El 11 sep. 2017 18:55, "Mollie Bates" <notifications@github.com> escribió:

[2017-09-11 23:18] mebates commented on #1202
I would go with a simple destructive link. Not a primary action; doesn't need a button.
I would also include a dialog confirmation: "Are you sure you want to remove all patients from your call list? This action cannot be undone." Yes/No

<img width="892" alt="screen shot 2017-09-11 at 7 17 55 pm" src="https://user-images.githubusercontent.com/6223901/30301008-f3d3f3e4-9725-11e7-8454-4223d196d713.p

[2017-09-11 23:37] lwaldsc commented on #1202
$$$$$$$$$$$$$$$$$$$$

[2017-09-11 23:39] mebates opened #1240 "Create a program-impact summary for our project"
* **What are we trying to do?**
Sum up the impact of building DARIA on the DCAF and it's patients, as we wind down the project
Share our success with the world

* **How could we solve this issue? (Not knowing is okay!)**
Sum up the bullet points in a wiki
Share in annual report?
Write a blog post

[2017-09-11 23:41] lwaldsc commented on #1240
This reminds me we need to send out the CM review survey again to our corp
to see what has changed from last time.

[2017-09-11 23:43] colinmcglynn commented on #825
I'll grab this

[2017-09-11 23:44] tedPen commented on #1237
I'll take a look at this tonight.

[2017-09-11 23:48] mebates commented on #817
Likely a 'won't fix' as we can get this information in excel.

[2017-09-11 23:51] colinmcglynn opened #1241 "Let's make it easier to deploy new instances!"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make it easier for new funds to deploy an instance (and consequently less of a burden for an organization to manage)

* **What feature or behavior is this required for?**
Create either a highly specified checklist or turn it

[2017-09-11 23:56] eheintzelman opened #1242 "General QA review"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make the design look like the mockups.

* **What feature or behavior is this required for?**
Make it even easier to use.

* **How could we solve this issue? (Not knowing is okay!)**
Review design overall for inconsistencies,

[2017-09-12 00:23] eheintzelman commented on #1242
Sandbox
-  Left align column titles with column data (all sections in sandbox)
![image](https://user-images.githubusercontent.com/17989540/30302203-78bff7d6-972d-11e7-9ac8-022baf9d8ae7.png)
- Consider moving plus sign left, adjacent to ellipses. I'm concerned that users would potentially think the plus sign is a call to action, like the delete and call icons, instead of the indicator for showing t

[2017-09-12 00:52] colinxfleming commented on #1223
Here's my notes from the discussion tonight:

Divided this up into three components -- engineering support / maintenance, new feature requests, and supporting client funds using our software.

* software maintenance

** heroku ate shit -- who's job is it to turn it back on? Probably core team's
** routine patching - Kat willing to put up a few hours, others also willing
** routine support requests

[2017-09-12 00:58] colinxfleming commented on #1240
blog post

[2017-09-12 00:59] colinxfleming commented on #1223
some action items
**** Write a 'how to turn it off and turn it back on again' guide
**** heroku has an option of limited controls of given apps -- investigate

[2017-09-13 19:18] eheintzelman commented on #1242
Abortion Information tab
- Decrease the vertical spacing between these two checkboxes.  Make it consistent with the two 'enable' checkboxes on the left.
![image](https://user-images.githubusercontent.com/17989540/30394218-6f3d7fee-9890-11e7-993e-34fb09053405.png)

Call Log
- Recommend changing 'Record new call' to a button style, since it is an action.
![image](https://user-images.githubuserconten

[2017-09-27 01:07] eheintzelman commented on #1242
Preferred language dropdown (located in 'patient information' tab)
- In the sandbox, English is the only choice that is showing up.  Not sure why.  I assume this should include at least Spanish and possibly other languages?

Abortion Information tab
- Can we round the 'outstanding balance' to two decimal points?  Would like to avoid this, which happened when I entered $150.90 for the abortion cost

[2017-09-28 02:45] #1237 closed

[2017-09-28 02:48] #1179 closed

[2017-09-28 17:26] NerdyGirl537 commented on #1242
@eheintzelman for your questions:
Language is now a pick list updated under the admin profile in the Admin Tools --> Config Management

For the abortion amount, I would recommend keeping it with 2 decimal places. I think that would work better. Just my opinion. @lwaldsc Thoughts?

The CMs know what to do with the 'Referred to Clinic' check box.

On pledge fulfillment, that only shows up if you are

[2017-09-28 17:57] lwaldsc commented on #1242
I would round to the nearest dollar. We almost never use cents.

[2017-09-28 21:02] colinxfleming commented on #1242
@eheintzelman my email just reminded me that hacktoberfest is coming, which means that a bunch of people will likely be looking to make one-off contributions such as UX fixes. In other words, keep these coming and feel empowered to get EXTREMELY nitpicky!

[2017-09-30 15:43] colinxfleming opened #1246 "Design fix: Left align columns with column data"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Left align column titles with column data in `table_content` elements, like so:

![image](https://user-images.githubusercontent.com/3866868/31047181-bfd0ec02-a5d3-11e7-9442-d41348089cc9.png)

* **What feature or behavior is

[2017-09-30 15:55] colinxfleming opened #1247 "Design improvement: Left-align 'show additional text' plus icon for notes"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

In our table content partial, we have a plus sign icon that displays additional text for the next note if it breaks grid. Right now it's in its own `td` cell, and we should have it inline with the text it's associated with

[2017-09-30 16:00] colinxfleming commented on #1242
@eheintzelman re the dropdown button, I think there's a path to that but it's not super clear how to break it up off the top of my head. a great flag though. Note to self to mull that one over!

[2017-09-30 16:05] colinxfleming opened #1248 "Design improvement: Consistent spacing on checkboxes"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

If you go to a patient edit page (by clicking on a patient name link) and then click on the `Abortion Information` link on the left sidebar, you'll see this:

![image](https://user-images.githubusercontent.com/3866868/31047

[2017-09-30 16:18] colinxfleming opened #1249 "Design improvement: Use number inputs for numbers in patient_information partial"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

@eheintzelman has pointed out that we should use number fields for numbers, and she's def right!

* **What feature or behavior is this required for?**

Clean data!

* **How could we solve this issue? (Not knowing is okay!)*

[2017-09-30 16:22] sagar-kalra commented on #1248
i would like to work on this, @colinxfleming

[2017-09-30 16:45] sagar-kalra commented on #1248
Please help me out, how to test the changes made locally?

[2017-09-30 18:14] colinxfleming commented on #1241
* heroku lets you use an `app.json` to set up a bunch of env vars and attach things. Since our app is 90% env vars this is a good move.

* there are four services we use: CSP, Sqreen, Skylight, and GCloud. These we probably can't autogen keys for and will require manual setup. Fortunately everything but gcloud is pretty much optional.

[2017-09-30 18:26] colinxfleming opened #1252 "cedar-16 upgrade"

[2017-09-30 20:29] colinxfleming commented on #1241
TODO:

* why can't @colinmcglynn put new apps in the pipeline but @colinxfleming can?
* finish readme updates in `SETTING_UP_NEW_INSTANCE.md`
* go thru BRAAF instance and make sure everything they need is there (first user, etc)

[2017-10-01 00:26] eheintzelman commented on #1249
After I wrote this comment in #1242, I started seeing this 'toggle-spinner' like dropdown used all over the place on other websites. So clearly, I was wrong and this is a common signifier for a dropdown. Stylistically, I prefer the simple downward chevron (as in original @mebates design), but from a usability standpoint, what we have works just great. It also looks different enough from the spinne

[2017-10-01 04:12] TraGicCode commented on #1246
I'll try and knock this out

[2017-10-01 04:27] #1248 closed

[2017-10-01 05:20] TraGicCode commented on #1247
I'm on this

[2017-10-01 05:24] TraGicCode commented on #1246
Should be done!

[2017-10-01 19:35] amsourav commented on #1246
#1257

[2017-10-02 03:06] colinxfleming commented on #413
Tagging this as hacktoberfest -- if you have set this up in MongoDB before I would love to talk to you!

[2017-10-02 03:07] #1173 closed

[2017-10-02 03:12] colinxfleming commented on #1099
Tagging hacktoberfest. Probably this involves wrenching around in `app/views/users/index.html.erb`, the associated search render `app/views/users/search.js.erb`, and maybe the stupidtable invocation in `app/assets/javascripts/table_sorting.coffee`.

[2017-10-02 03:33] colinxfleming opened #1259 "Merge FUND and DARIA_FUND env vars"
note to self

[2017-10-02 04:08] colinxfleming commented on #1200
Spun up a working version via new pushbutton method in #1251

[2017-10-03 00:06] eheintzelman commented on #1242
@colinxfleming My two cents (different from my initial assessment) is that we can leave the dropdown as is.  See my comment in #1249

@lwaldsc Tried to clarify my comment about pledge fulfillment data getting wonky, above.

[2017-10-03 00:42] mchelen opened #1260 "Docker rake task fails"
* **What are we trying to do?**
Run DCAF with Docker

* **What feature or behavior is this required for?**
Docker development

* ** Error: **
[code]

[2017-10-03 01:02] mchelen commented on #1260
Maybe caused by ec61c1b55b7 but we also need 62dd4304fe9efc

[2017-10-03 01:09] ChrisBarthol commented on #1260
I tried to install this project and ran into the same issue.

Can confirm it is from the ec61c1b55b764dd9b2b7955e217da46283775c2c as I switched back to the environment variables and was able to run `docker-compose run web rake db:seed` successfully.

[2017-10-03 01:17] eheintzelman commented on #1249
Are you also looking to discuss the dropdown vs. spinner for some form fields?

The control used for the cost fields is useful for numeric fields - quick entry by typing or option to use the spinner to increase/decrease value.
![image](https://user-images.githubusercontent.com/17989540/31106082-bf32812c-a7b6-11e7-8d7c-aff1165d7269.png)

Applicable fields:
- Age
- Minors in household
- Adults in ho

[2017-10-03 02:16] meagdoh commented on #1173
LGTM Thanks @colinxfleming !

[2017-10-05 22:54] colinxfleming commented on #1214
Per an email, need to customize the fax link as well -- BRAAF has a different service they're using.

[2017-10-05 23:26] colinxfleming commented on #1214
Talked to Toby tonight and she brought up zip codes -- rediscuss

[2017-10-08 05:54] colinxfleming commented on #1252
Confirmed that our prod boxes are on the 16 image now, closing as resolved.

[2017-10-08 05:54] #1252 closed

[2017-10-08 06:39] #1151 closed

[2017-10-08 06:47] #1246 closed

[2017-10-08 07:24] colinxfleming opened #1266 "User password reset flow not letting users actually reset their passwords"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Allow users to reset passwords, if absolutely necessary, through the frontend workflow.

* **What feature or behavior is this required for?**

Allowing users to manage their own credentials, in the event that they don't wan

[2017-10-08 10:22] Sey1000 commented on #1266
I'll have a look at this!

[2017-10-08 15:07] colinxfleming commented on #1266
Thank you very much! Probably this either broke in an upgrade or we set it
up wrong. Let me know if i can be helpful as you dig in!

On Sun, Oct 8, 2017, 6:23 AM Sey Cheon <notifications@github.com> wrote:

[2017-10-08 17:20] Sey1000 commented on #1266
Ok I'm back. My guess is that something is overriding the edit password devise path skipping user authentication.. I'll do my best, but I am not sure yet if I can fix this. Update to come!

[2017-10-09 17:16] tingaloo commented on #858
Took a stab at this, but one thing I'm stumped on is iterating through Patients that have a fulfillment object that exists.

My mongoid isn't that fresh but I've tried variations of these
[code]

Could use some mongoid expertise on this one.

[2017-10-09 18:47] colinxfleming commented on #858
We do this kinda stupidly and create a fulfillment object at point of patient creation. Which is an antipattern we should do away with at some point! But I think in the meantime the best way to get at fulfille patients is like so:

[code]

To get at nested fields, easiest to wrap em in quotes and access fields with dots, I think.

[2017-10-10 00:09] lwaldsc opened #1268 "Turn CM Resources link into a config"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
CM Resources link currently redirects to a production google drive link. Documents are currently stored in the drives of the individual line accounts.

* **How could we solve this issue? (Not knowing is okay!)**
Not sure. Ne

[2017-10-10 03:36] colinxfleming commented on #1268
hey @lwaldsc -- great flag, thanks for logging! Sounds like the resources link in prod for DCAF is a little more general, and we'd get some more utility about linking to a more general resource, if I'm reading you right, or should maybe rearrange things a little bit to have things in one central 'home'.

I'm going to assign this to you and have you chase @vtmeghan and the rest of Team CM for this,

[2017-10-10 03:37] colinxfleming commented on #1266
@Sey1000 💯 💯 . If you did some digging and got nowhere, please let us know what didn't work -- that's just as helpful a lot of the time!

[2017-10-10 03:38] #1241 closed

[2017-10-10 04:03] lwaldsc commented on #1268
Yeah. Sorry I didn't give more thought to it, but on the line and just wanted to get the ticket up while I was still thinking of it. Sounds great!

[2017-10-11 15:46] Sey1000 commented on #1266
@colinxfleming Sorry for a late response. I started teaching on Monday and had very little time to work on it. It seems like devise passwords controller is not being able to skip authenticate_user! method, meaning it's expecting user who forgot password to sign in in order to change the password LOL
My plan for now is first poke around the configuration to see if we can quickly fix it, and if that

[2017-10-11 15:49] Sey1000 commented on #1266
In the meantime, the email link was missing port of localhost (it was saying http://localhost/... instead of http://localhost:3000/...), so I added that to development environment configuration

[2017-10-11 23:14] colinxfleming opened #1270 "Log event on patient create"

[2017-10-12 03:23] colinxfleming commented on #1270
@lwaldsc @NerdyGirl537 @alisonnjones when I was talking to a BAF person this evening, it occurred to me that it might be useful to include created patients (e.g. 'CM Jane Hetfield recorded patient Susie Everyteen' or something similar). Do you all think there's any utility to this?

[2017-10-12 15:17] lwaldsc commented on #1270
Are you talking in the activity feed?

I think there's definite utility but I'm afraid that's gonna really clog it
up. We create patients all the time.

Thoughts Jenn or Alison?

[2017-10-12 15:44] alisonnjones commented on #1270
Yeah, I think it could be too cluttered. But, if there was a way to
sort/peel them off if the screen got too busy, I could see this being very
useful.

On Thu, Oct 12, 2017 at 11:17 AM, Lisa <notifications@github.com> wrote:

[2017-10-12 16:15] NerdyGirl537 commented on #1270
I'm gonna have to think on it. From a quick survey, it seems like not everything is getting logged (i.e. CMs aren't clicking on the phone icon and recording the call outcome) and it might be an easier way to find patients the CM has called that week as well.

[2017-10-13 18:16] NerdyGirl537 opened #1271 "Not able to upgrade users"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Bump new users in BRAAF to admin. Currently new users are created as CM and a change to any other class of user doesn't save.

* **What feature or behavior is this required for?**
Fund's ability to manage users.

* **How cou

[2017-10-21 20:29] #1197 closed

[2017-10-21 20:29] #1198 closed

[2017-10-21 21:08] NerdyGirl537 opened #1277 "Update BRAAF's name"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We need to change the display name at the bottom of BRAAF's page to Blue Ridge Abortion Assistance Fund (not Access).

* **What feature or behavior is this required for?**
To make BRAAF's website shiny.

* **How could we sol

[2017-10-21 21:36] colinmcglynn commented on #1277
Fortunately, that is set as an environmental variable, so I updated it on heroku, no code change required! @NerdyGirl537 I don't have a log in for BRAAF, could you double check that their name is showing up properly now?

[2017-10-21 22:14] NerdyGirl537 commented on #1277
@colinmcglynn Checked out. Looks good!

[2017-10-21 22:14] #1277 closed

[2017-10-21 22:46] colinmcglynn commented on #1241
I can finally deploy instances of the app, just took a million support messages to Heroku to fix some unspecified problem

[2017-10-23 04:28] colinxfleming commented on #1260
durf. sorry folks. If @mchelen or @ChrisBarthol want to roll out a fix that'd be clutch (probably just reverting the changes in lines 4-6 and 12-14?)  but otherwise I'll try and spin one up shortly.

[2017-10-23 22:53] colinxfleming commented on #1270
@NerdyGirl537 @lwaldsc can you all talk about this at the meeting this week and log whatever you decide in here? I'm good either way, so it's up to you both on the utility of this.

[2017-10-23 22:58] colinxfleming commented on #1214
I'm going to make a semi-executive decision and say no zip code for now, since I don't think it serves our project to continue going back and forth on this even if it does make them adjust their procs a little bit. If this is a pain for them on an ongoing basis then we should rediscuss, but for now they should think about just making a note about eligibility or zip in their notes.

The discrete ta

[2017-10-23 22:58] #1214 closed

[2017-10-23 22:59] colinxfleming commented on #1127
@alisonnjones are there any discrete steps to take here engineering/app side? If not can we spin some stuff into the DARIA analytics repo and close this here?

[2017-10-23 22:59] colinxfleming commented on #1171
Marking active. We're a little out of date here and I'd love to bump this.

[2017-10-23 23:03] colinxfleming commented on #996
Spinning the first one into a ticket and closing this.

[2017-10-23 23:10] colinxfleming opened #1279 "Add destroy route for patients"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Once in a blue moon, CMs create duplicate patients, and a CM Director will reach out to me to ask to delete them. This doesn't happen often enough but it's a feature they should have in the unusual set of circumstances that

[2017-10-23 23:10] colinxfleming commented on #996
#1279 for the destroy thing. Insurance options is covered in configs. Closing.

[2017-10-23 23:10] #996 closed

[2017-10-24 04:37] #1260 closed

[2017-10-24 04:40] colinxfleming commented on #1241
Heroic. Did they ever tell you what the problem was?

[2017-10-24 04:49] colinxfleming commented on #634
Spinning this into a `frontend` task and promoting it to active, I think it's shovel ready.

[2017-10-24 04:52] colinxfleming opened #1280 "Write frontend for reporting system"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Cleanly report on what's going on with our case managers and patient load. Or, in this case, implement the lovely designs @SerenaYudon built around this.

* **What feature or behavior is this required for?**

A blind spot w

[2017-10-24 16:21] alisonnjones commented on #1270
I support! Let me know what you two need from me. Thanks.

On Mon, Oct 23, 2017 at 6:53 PM, Colin <notifications@github.com> wrote:

[2017-10-24 16:24] alisonnjones commented on #1127
- Weird that date of check isn't pulling. I'll take a look and see what
   the deal is there. It's been a null field until recently due to a surprise
   bug, a fix for that should deploy soon-ish. *Can you confirm that this
   is pulling now?*
   - Yeah, it looks like there's some discrepancy there on Gestation at
   procedure in weeks, and possibly also Procedure cost. I'll figure out
   what's u

[2017-10-24 21:32] colinxfleming commented on #1232
So the final changes are:

* change the icon styling to 50% gray for calls, green for pledge sent
* Add some additional line spacing between entries (maybe an additional margin of 2-5px? and see how that looks?)

Tagging frontend, let's finish this out!

[2017-10-24 22:50] rudietuesdays commented on #1279
i'm on this!

[2017-10-24 23:53] mchelen commented on #1232
Should this just be styled based on the glyphicon classes, or do we want to add a class that defines the event type (call, pledge, etc)?

[2017-10-24 23:55] colinxfleming commented on #1232
Follow your heart! Im good with either

On Tue, Oct 24, 2017, 7:53 PM Mike Chelen <notifications@github.com> wrote:

[2017-10-25 00:51] mchelen commented on #1232
Ok I gave it a try, any feedback welcome!
![image](https://user-images.githubusercontent.com/30691/31975097-fc0accb0-b8fc-11e7-98bd-3dfac6f8398e.png)

[2017-10-25 14:31] mdworken commented on #1280
Is anyone currently working on this? If not I'd love to take a crack at it.

[2017-10-25 15:16] colinxfleming commented on #1280
@mdworken all you, go for it!

[2017-10-26 00:39] #1232 closed

[2017-10-27 15:00] colinxfleming opened #1285 "Change FactoryGirl to FactoryBot"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

FactoryGirl has been renamed to FactoryBot.

* **What feature or behavior is this required for?**

Keeping deps up to date

* **How could we solve this issue? (Not knowing is okay!)**

* Bump the gem
* Follow these directio

[2017-10-27 17:31] colinxfleming commented on #1029
Throwing out two possibilities:

* Sunday 12/3: The two year anniversary of `rails new dcaf_case_management`
* Saturday 11/18 (or Sunday): Just a nice date a few weeks in the future

[2017-10-27 18:04] lwaldsc commented on #1029
We're moving to the new place on 12/1 (FYI Colin, I will be a zombie when we meet up with NNAF that evening), so I will probably want to die on the 3rd. Not saying that's not a good option as I will probably _also_ want to have a drink after all that hard labor, but if the 18th is a good option for everyone, I'd probably prefer that.

[2017-10-27 18:11] lwaldsc commented on #1270
re: @alisonnjones @NerdyGirl537 consensus is "could be nice to have but not necessary feature and needs more thought to be really useful and not clogging the feed"

Jake Elliot it to revisit six months from now.

[2017-10-27 18:18] colinxfleming commented on #1270
Sounds good. I'm going to close in the interest of keeping the issue list down and if it winds up being an issue or if someone else wants it, please raise again.

[2017-10-27 18:18] #1270 closed

[2017-10-27 20:06] NerdyGirl537 commented on #1029
I can get behind the 18th!

[2017-10-28 12:49] mebates commented on #1029
Leaving for Costa Rica on the 18th!

[2017-10-28 18:53] colinxfleming commented on #1029
haha world travelers strike again! man...

I might throw down a doodle in the slack channel and see what we can whip up. Doing this via github is proving to be a little tough.

[2017-10-28 19:51] colinxfleming opened #1286 "If pledge sent, pledge_sent_at updates every time a field changes"
Not sure why, but if a patient is marked `pledge_sent`, then `pledge_sent_at` and `pledge_sent_by` refreshes every single time there's an update. This is a bug in the `PatientsController#update` behavior -- see L63. Task here is to resolve that. Gold medal version is to move this to an activerecord callback (probably an `after_save` or whatever the 'while you're in this transaction, also' callback

[2017-11-01 22:19] #1285 closed

[2017-11-03 14:31] alisonnjones opened #1289 "Can't create new vol roles for data team"
I need to be able to create new volunteer users under User Management for data team vols.

I clicked Admin Tools, User Management, Add New User, and entered their info. It saved, and they show up in the search when I search their name. But, they cannot see the admin toolbar (or CSV download) when they login.

Is this because data vols do not have access to the download? Do they have to be CM or a

[2017-11-04 23:00] colinxfleming commented on #1203
Legit might start redacting everything with pictures of Mr. Worldwide from now on

[2017-11-05 21:58] #453 closed

[2017-11-05 22:05] #1247 closed

[2017-11-05 22:25] #1099 closed

[2017-11-06 20:07] NerdyGirl537 opened #1293 "Can't preview note on call list"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
The note preview doesn't work when creating a new patient. I have to add the patient to the call list and then refresh the page to get the note to show.

* **What feature or behavior is this required for?**
Viewing notes.

*

[2017-11-06 23:11] colinxfleming commented on #1289
I think this is fixed by #1272 but I'll to make sure it's fixed after we merge it.

[2017-11-06 23:21] colinxfleming commented on #1200
AFAIK we've got paperwork, they've got a server, and the remaining stuff is them doing the transition. @NerdyGirl537 can you post the status of that and close if there are no next steps for engineering?

[2017-11-06 23:42] NerdyGirl537 commented on #1200
The site is live. I've sent a note to Tannis about the data import but no joy. On my task list for this week to check in with them.

[2017-11-07 00:36] NerdyGirl537 opened #1294 "Patient Not Showing in Call List"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Have a patient I reached and need to call back tonight. Used the activity feed option to add to the call list. Now, she doesn't show in the call list but when I search her, she only has the red X, not the Add option. I've X'

[2017-11-07 02:00] colinxfleming commented on #1029
December 3 is our winner. @colinxfleming is responsible for wrangling people, @alisonnjones is responsible for space reservation and DCAF wrangling.

[2017-11-07 14:46] NerdyGirl537 opened #1295 "Change Name of Fax Service"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
onlinefaxes.com is now www.efax.com. We should change all the references in DARIA to reflect this.

* **What feature or behavior is this required for?**
Direct access for the fax service.
* **How could we solve this issue? (

[2017-11-11 15:49] mdworken commented on #1295
#1297

[2017-11-11 21:06] mdworken commented on #1286
Did some digging, I think L61 is the problem. It looks like calling update_attributes is performing an update and therefore returning true, so the code runs each time. Is there any reason it can't just be written as

if :pledgesent

instead?

[2017-11-12 05:59] colinxfleming commented on #1286
The `update_attributes` there is proper-ish behavior -- we can read that as 'if the update from the web form succeeds, execute L62-L67, otherwise flash an error via L69-L70'.

Stylistically, I think it's a problem that we're overloading the method by stamping on L62-L65 to it -- that should probs be its own method with its own logic somewhere, rather than baked into the controller. But yeah, I thi

[2017-11-12 20:13] mdworken commented on #1286
Changing L61 to

if @patient.update_attributes params[:pledge_sent] and !pledge_sent

seems to resolve the issue.  Lmk your thoughts and I'll Pull Request it as appropriate.

[2017-11-13 15:46] mdworken commented on #1286
#1298

[2017-11-15 23:37] #1295 closed

[2017-11-16 22:50] alisonnjones opened #1299 "Are Corrupted PT Files Marked "Delete" or with Fake 555 Phone Numbers Being Exported in CSV Export"
I don't know how to confirm if this is happening, just looking for someone to confirm for me @colinxfleming @NerdyGirl537 @lwaldsc since I'm guessing this was part of the convo that went into building the export tool.

When PTs are duplicate or have incorrect data, CMs and the pledge fulfillment data team give them fake phone numbers and add "delete" in the name field. I just want to close the loo

[2017-11-16 23:01] colinxfleming commented on #1299
Nah, this isn't being handled app-side (and it probably shouldn't be since human intervention should be required to destroy data from the db).

There's some work being done by @rudietuesdays that would let admins destroy patients in the db, which I think functionally would handle the concern of getting records we don't need out.

If that works for you @alisonnjones let's close.

[2017-11-16 23:02] colinxfleming commented on #1299
The ticket for allowing admins to destroy patient records is in #1279

[2017-11-16 23:11] alisonnjones commented on #1299
Close away! Thanks  @colinxfleming

[2017-11-16 23:11] #1299 closed

[2017-11-16 23:15] alisonnjones commented on #1279
Hi @rudietuesdays! Very motivated to resolve this issue before we finalize our annual report next month. We really need to make sure we're publishing the most accurate/clean numbers, and that means we need to figure out a system for deleting the corrupt pt files. Let me know what I can do to help or if you have any questions.

[2017-11-17 00:43] colinmcglynn commented on #1293
Hey @NerdyGirl537 , I couldn't reproduce this issue. Here's what I did:

1) Seach for a number that isn't in the system and added a new patient
<img width="1288" alt="screen shot 2017-11-16 at 7 33 16 pm" src="https://user-images.githubusercontent.com/4335814/32923340-076b6b40-cb05-11e7-854b-c691d2297d81.png">
2) At which point it joins the call list and it doesn't have a note preview (which is ex

[2017-11-17 00:53] colinxfleming opened #1301 "update data model picture in docs"

[2017-11-17 01:23] mchelen commented on #1294
There seems to be some issues with "Add to call list" in the Activity Log. This is a slightly different usage than described, but it hopefully it helps find the issue.
Steps to reproduce:
Fresh database seed
Log in
Go to Activity Log
Scroll to Patient 1
Click "Add to call list"

-> Nothing happens. Expected behavior is for Patient 1 to be added to call list, right?

By contrast, clicking "Add to c

[2017-11-17 02:26] alisonnjones opened #1305 "Germantown clinic field missing in DARIA"
The Germantown field is no longer available in DARIA, and we need it to enter pledge fulfillment data. It looks like when the field option was removed, the clinic field was deleted from all Germantown pt files in DARIA. When did we remove this field? Please don't remove fields without considering implications for entering pledge fulfillment data!

@colinxfleming @lwaldsc @NerdyGirl537 any ideas/in

[2017-11-17 03:19] NerdyGirl537 commented on #1305
Oh, that's on me. I updated it in the clinic management section because it
(and Prince George's) showed up when I was case managing. Because they were
on that list and the list in the CM resources I kept trying to refer
patients to them.

El 16 nov. 2017 21:26, "alisonnjones" <notifications@github.com> escribió:

[2017-11-17 04:38] colinmcglynn commented on #1171
It looks like omniauth-google-oauth2 is locking down the omniauth-oauth2 version it uses so I think we can upgrade omniauth-google-oauth2 without running into the original omniauth-oauth2 issue https://github.com/zquestz/omniauth-google-oauth2/issues/204

[2017-11-17 05:55] colinxfleming commented on #1305
@alisonnjones Germantown should still be in the master list of clinics. Head to the clinics list, click on its name and control-f `Are we actively working with this clinic?` for the toggle button that'll make it show up again. (Note that you have to pound the save button.)

@NerdyGirl537 I would recommend turning Germantown and Prince George's and any others back on for the time being, so that thi

[2017-11-17 14:04] alisonnjones commented on #1305
@NerdyGirl537 @colinxfleming ahhh, so good to know! I clicked the toggle so "are we actively working with this clinic" is now selected. Will it restore the Germantown field to the pt files it was deleted from? I'll follow up with the data vol and circle back.

(Depending on what she says, I still might need your help finding a workaround so she doesn't have to manually resend pledges for all these

[2017-11-17 14:26] colinxfleming commented on #1305
@alisonnjones yeah, that should be the case. Was never really deleted, just
not showing up in the dropdown. Let me know if theres any weirdness around
that

On Fri, Nov 17, 2017, 9:04 AM alisonnjones <notifications@github.com> wrote:

[2017-11-17 14:30] alisonnjones commented on #1305
ahhh whew @colinxfleming  thank you! that sounds good. i'll let you know if we run into any snags.

[2017-11-17 15:24] colinxfleming commented on #1305
@alisonnjones good deal. Check a few people you've done already and make sure GT still persists, and if there's anything we need to take a look at from your list hmu outside of this thread.

The engineering task here is to, rather than filter out clinics we aren't working with, move them to a section at the bottom and flag them inline as 'no longer working with this clinic'. I'm going to assign th

[2017-11-17 16:25] NerdyGirl537 commented on #1293
Not quite. Ok, log onto the DC line in the sandbox. Use the phone number 123-123-1238 to search for the patient. This result has a note and the problem I had reproduces.

The note button doesn't work. The add button does. When I do a screen refresh, the note button works.

Did this help?

[2017-11-18 17:53] tingaloo commented on #1294
Spent some time cracking this, there is some magic happening in the back I think. Basically the patient IDs are different on previous days (any day before current day). Only the current date is valid for adding patients to the call list.

[2017-11-19 03:13] #1305 closed

[2017-11-19 03:48] colinxfleming opened #1307 "look into pundit for authorization"

[2017-11-19 04:35] #1143 closed

[2017-11-20 04:45] colinxfleming commented on #1279
Popping back open until we have the PR merged

[2017-11-22 05:56] colinxfleming opened #1311 "Make google sso integration test work with systemtest"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Something about the `mock_oauth` function gets weird when it runs after a systemtest has started. That is bad news.

* **What feature or behavior is this required for?**
Testing SSO, a major component of our app and a notabl

[2017-11-22 06:00] colinxfleming opened #1312 "test/system/call_list_test.rb is still flaky after moving to systemtest"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
There is a part of the call list behavior test that depends on some time travel, and it seems to be incompatible with the systemtest.

* **What feature or behavior is this required for?**
Testing call list behavior, a major

[2017-11-22 06:04] colinxfleming opened #1313 "test/system/navbar_links_test.rb has a flaw that's making it fail every time"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Test the behavior around showing the link to a fund's CM resources, which depends on an environment variable, which systemtest doesn't play nicely with.

* **What feature or behavior is this required for?**
Relatively minor

[2017-11-22 06:12] colinxfleming opened #1314 "update_patient_info_test chokes on the last date field"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The last part of the fulfillment info systemtest chokes, very consistently, on the last field, despite it being actually entered. The figure it logs, instead of a date like `11/22/2017`, is `11/22/0201` or something similar

[2017-11-23 05:39] colinxfleming commented on #990
Dupe of #1311

[2017-11-23 05:39] #990 closed

[2017-11-23 07:50] colinxfleming commented on #692
I want to really explicitly enumerate the decision tree in @mebates ' comment here:

[code]

Given that it's Thursday and that DCAF funding weeks run Monday thru Sunday,
* I called today and have money pledged but not sent for an appointment tomorrow (Friday). This should count in the budget bar as an outstanding pledge.
* I called today and have money pledged and sent for an appointment tomorrow

[2017-11-23 07:53] colinxfleming commented on #692
There's also a simplified option here which I'll suggest, and that's a `money this week` model. Would have the benefit of being less tailored to DCAF specifically and more general purpose -- something that looks like `Money pledged but not sent for appointments this week: 400, money sent for appointments this week: 500`. Not sure of the utility but I think this is a really tough problem to crack s

[2017-11-29 04:40] colinxfleming opened #1318 "Finish porting integration tests to systemtest"

[2017-11-29 05:10] colinxfleming opened #1321 "Random test failure in test/models/patient_test"
Failure:
PatientTest::search method#test_0004_should be able to find based on phone patterns [/home/ubuntu/dcaf_case_management/test/models/patient_test.rb:186]:
Expected: 2
  Actual: 3

bin/rails test test/models/patient_test.rb:185

[2017-12-03 20:02] colinxfleming opened #1323 "Depreciation warning in system/note_creation_test"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Prevent our app from breaking when we upgrade by keeping our depreciation warnings clean

* **What feature or behavior is this required for?**
Upgrading safely!

* **How could we solve this issue? (Not knowing is okay!)**
[c

[2017-12-03 20:19] colinxfleming opened #1326 "test/system/logging_calls_test is still flaky after porting to systemtest"
Failure:
LoggingCallsTest::logging reached patient#test_0002_should be viewable on the call log [/home/ubuntu/dcaf_case_management/test/system/logging_calls_test.rb:44]:
Expected false to be truthy.

bin/rails test test/system/logging_calls_test.rb:37

[2017-12-10 01:03] cfinucane opened #1327 "Trying to deploy a fresh Heroku instance fails, saying app.json is invalid"
* **What are we trying to do?**

Use the Heroku "Deploy a New App" link from
https://github.com/DCAFEngineering/dcaf_case_management/blob/master/docs/SETTING_UP_A_NEW_INSTANCE.md

* **What feature or behavior is this required for?**

Setting up a new instance.

* **Anything else?**

Full error:

[code]

[2017-12-10 04:43] cfinucane commented on #1327
I was able to work around this, but it still doesn't let you edit the env-vars before the initial deploy so you have to let it fail and then go edit them in the UI.
 (see diff at https://github.com/DCAFEngineering/dcaf_case_management/commit/5bfd7b106349f4fd28633bdf6e6eaac67a63daa3)

[2017-12-15 15:25] mdworken opened #1330 "Change log does not list updated by properly"
Hi all! I'll fix it myself, but the change log is not listing the name properly. Probably needs a .name at the end to make it the user's name instead of the user's user object.

![wrong user](https://user-images.githubusercontent.com/31595784/34048502-f4976a62-e181-11e7-8e70-a2042948cbb8.png)

[2017-12-16 22:00] #1327 closed

[2017-12-16 22:37] colinxfleming commented on #1330
@mdworken I think your inclination here is exactly right -- I'd consider throwing a function in a helper that properly parses the data depending on the object class (e.g. `if thing.is_a? User`...) Great catch!

[2017-12-17 03:56] #1318 closed

[2017-12-19 13:47] mdworken commented on #1293
Yep, I was able to reproduce it. Looking at views now.

[2017-12-20 21:24] dismantl opened #1337 "Add Geokit config"
In testing the /clinicfinder form, I was getting a 500 error due to a lack of Google Maps API Key. This is because the clinic_finder gem uses geokit, which requires some initialization.

To get it to work, I added https://github.com/geokit/geokit-rails/blob/master/lib/generators/templates/geokit_config.rb to config/initializers, and uncommented the Geokit::Geocoders::GoogleGeocoder.api_key line, a

[2017-12-20 21:40] dismantl commented on #1337
app.json references the GOOGLE_GEO_API_KEY env variable, which isn't reference anywhere else, so that should probably be used in the geokit_config.rb file.

[2017-12-21 21:03] mdworken commented on #1330
Will do, may be a bit depending on what work is like.

[2017-12-25 21:06] #1202 closed

[2017-12-31 20:20] mdworken opened #1338 "Change Log entries do not line up properly when changed to/from nil"
See screenshot in #1330 . Although this is not a severe issue (one can easily tell what was supposed to go where), it would be nice to make these line up properly.

I'll fix this myself, just wanted to put the issue out here.

[2017-12-31 21:12] mdworken commented on #1330
Did some digging, it looks like the methods in audit_trail.rb were written specifically to create  this behavior.

@colinxfleming any historical perspectives I'm missing?

[2018-01-02 04:18] #1286 closed

[2018-01-02 04:45] colinxfleming commented on #1029
We partied. Marking closed!

[2018-01-02 04:45] #1029 closed

[2018-01-02 04:47] colinxfleming commented on #903
I think these are largely resolved in our migration to ~ the new hotness ~, SystemTest. Should spin up new issues if we start to see failures again.

(miss u, CA hackathon team! <3 )

[2018-01-02 04:47] #903 closed

[2018-01-02 05:03] colinxfleming commented on #1330
@mdworken in `audit_trail.rb`, the `changed_by` method is what spits out the column on the right side. I would slap something additional in `changed_from` and `changed_to` that transforms `value` (on L57 and L63). Something like `if value.is_a? User then value.name else value`.

[2018-01-02 13:03] mdworken commented on #1330
Will do! Still somewhat confused by the fact that users, etc were called "IRRELEVANT FIELDS".

[2018-01-06 14:28] mdworken commented on #1266
Is this still an issue? If so, could you please assign it to me?

[2018-01-07 17:02] #1293 closed

[2018-01-07 21:22] #1203 closed

[2018-01-08 02:59] colinxfleming opened #1346 "Split out call list functionality from users controller"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Our users controller is doing double duty by managing the call lists and also users. We should split them out so we don't bog it down.

* **What feature or behavior is this required for?**
Not driving our future selves crazy

[2018-01-08 02:59] colinxfleming commented on #1346
Stems from #1345

[2018-01-08 03:04] colinxfleming opened #1347 "Add user accessible app changelog"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
More funds = more explanation of what's going on. We should add a link to the navbar that pops open a modal with a list of recent changes, so that we can make some notes about what's going on in the app.

* **What feature or

[2018-01-08 03:13] colinxfleming commented on #1266
@mdworken you need to be in the org to be assigned stuff - just popped an invite your way.

[2018-01-08 20:36] mdworken commented on #1346
I suspect we want to separate out the models too while we're at it?

[2018-01-09 00:49] #1271 closed

[2018-01-09 01:34] Kevin-Wei commented on #1323
Can probably just remove

`ActiveSupport.halt_callback_chains_on_return_false = false`
from
dcaf_case_management/config/initializers/new_framework_defaults.rb

https://blog.bigbinary.com/2016/02/13/rails-5-does-not-halt-callback-chain-when-false-is-returned.html

[2018-01-09 05:11] colinxfleming commented on #1240
@deesriv and/or @alisonnjones and/or @vtmeghan  is there any energy behind writing up a few paragraphs about how this has affected CM programs from DCAF's fund perspective?

[2018-01-09 05:11] colinxfleming commented on #1240
(Not for a blog post, just so we can have that documented in case other funds ask)

[2018-01-09 05:14] colinxfleming opened #1348 "Update the readme"
D:

[2018-01-09 14:50] vtmeghan commented on #692
I just realized something in the above (apologies for not seeing this until
now) - for this:

   - I called today and have money pledged and sent for an appointment next
   Tuesday. This should not count in the budget bar as sent money, until
   Monday rolls around, and then it should.

This actually SHOULD count in the budget bar as sent money. We count
pledges as sent money in the week they are

[2018-01-11 05:11] #1046 closed

[2018-01-11 05:16] colinxfleming commented on #1346
I think I'm okay with keeping all the meat on the User object -- when I was interacting with it in #1345 I was never like 'what the hell is going on', whereas I did that a couple times in the controller. So in other words, let's just split out the controllers for now.

[2018-01-11 16:32] mdworken commented on #1346
Okay! I'll be taking a crack at this the next 2 weeks :)

[2018-01-13 00:13] #1348 closed

[2018-01-13 00:14] colinxfleming commented on #1200
@NerdyGirl537 can we close this? They're all set at this point, no?

[2018-01-13 00:15] colinxfleming commented on #1187
@lwaldsc did you merge these comments into the master document? Can we get this closed?

[2018-01-13 00:15] NerdyGirl537 commented on #1200
I'll take a look this weekend to be sure.

El 12 ene. 2018 19:14, "Colin" <notifications@github.com> escribió:

[2018-01-13 00:23] colinxfleming opened #1351 "Events problems - n+1 query on users"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Not overload events endpoint - I think it's getting a) called on the patient edit page and b)

* **What feature or behavior is this required for?**
Keeping things snappy

* **How could we solve this issue? (Not knowing is ok

[2018-01-13 00:23] colinxfleming commented on #1307
Marking this backlog because odds are slim we're ever going to get around to it, but if someone is passionate about rolling out pundit they should do it up.

[2018-01-13 00:29] colinxfleming commented on #984
Our remaining depreciation warnings are:

[code]

I'll get this resolved.

[2018-01-13 16:02] colinxfleming commented on #1209
I think we have this resolved, or at least extremely mitigated, via #1336 . @lwaldsc let me know if this is still a problem next time you take a shift, but I'm going to close for now.

[2018-01-13 16:02] #1209 closed

[2018-01-13 19:30] #978 closed

[2018-01-14 01:39] colinxfleming opened #1353 "Viewing clinic details is slow"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
If you go to the clinic management page and click the expand chevron, it has a clunky feel. We should speed that up and put in a jquery `slideDown('fast')`.

* **What feature or behavior is this required for?**
Being able to

[2018-01-14 02:52] #1175 closed

[2018-01-14 03:12] colinxfleming commented on #692
@vtmeghan no worries! That makes it a lot easier, I think -- way fewer corner cases and rollover to account for.

[2018-01-15 06:29] colinxfleming commented on #692
@mebates @vtmeghan @NerdyGirl537 @lwaldsc

See the PR thread #1317 for the ongoing work, but I'm going to argue in defense of a 'money this week' approach. I think we can have something generally pretty useful if we're just like 'if a CM changes a pledge amount, it shows up on the budget bar until the week changes'.

[2018-01-15 06:57] colinxfleming opened #1355 "Save geo information for clinics"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
The clinic finder lookup is slow and doesn't cache the lat/long. We should persist clinic l/l in db so we're only doing a lat/long lookup for the patient.

* **What feature or behavior is this required for?**
Making clinic f

[2018-01-15 15:38] mdworken commented on #1338
Upon further research, it turns out that the rows are instantiated at the change level, and multiple changes are being entered in as separated by breaks. This means that if a previous entry was nil the other entries get "bumped up".

I believe this can be fixed by still entering a break for nil elements, but will see if there's a "nicer" way that won't add to technical debt.

[2018-01-15 19:59] #1330 closed

[2018-01-15 20:01] colinxfleming commented on #1177
This is resolved.

[2018-01-15 20:01] #1177 closed

[2018-01-16 00:53] mdworken commented on #1266
Update:

I found 2 things preventing it from working so far:
1) the route was commented out as a "Todo"
2) all unauthenticated users are redirect to sign in by the code:
root :to => redirect('/users/sign_in')

I am continuing to dig.

[2018-01-16 03:32] geoffreyyip commented on #989
Man, this one is rough.

First, agree with what @cfinucane said before. [request_forgery_protection.rb](https://github.com/rails/rails/blob/5-1-stable/actionpack/lib/action_controller/metal/request_forgery_protection.rb) shows that **any authentication token** will verify.

[code]

Second, there's no built-in way to pass a CSRF token to `jquery-ujs`. The handlers and helper methods are hardcoded t

[2018-01-17 01:25] colinxfleming commented on #1200
Tweaks requested by BRAF:

* If this box is left unchecked[ Are we actively working with this clinic?] in Clinic Management, clinics show in the drop down list in Abortion Information as (Not currently working with DCAF). Should be changed to FUND
* Change language on pledge generator if pledge generator is not being used

[2018-01-18 02:32] colinxfleming commented on #989
Smashin' that close button. Thanks for investigating this, @geoffreyyip !

[2018-01-18 02:32] #989 closed

[2018-01-18 02:35] colinxfleming commented on #1347
I have changed my mind about this -- I don't think this should be the eng team's responsibility, should be on the individual funds to distribute how they see fit.

[2018-01-18 02:35] #1347 closed

[2018-01-18 03:34] colinxfleming commented on #1289
@alisonnjones #1272 is merged so I think this might be fixed for both creating new users AND updating existing users, can you take a look on your end and close this if it looks good?

[2018-01-18 18:15] alisonnjones commented on #1289
Sure @colinxfleming let me test it tonight after work

[2018-01-18 18:17] alisonnjones commented on #1200
@NerdyGirl537 are we logging customization requests anywhere to revisit at the end of maintenance mode? sorry if we are and I missed it

[2018-01-18 18:20] alisonnjones commented on #1240
I can share the full feedback I received from CMs (that I quoted in the calendar) if that's helpful!

[2018-01-18 18:22] deesriv commented on #1240
i'm happy to help with soliciting feedback and pulling it together too if
the calendar isn't enough!

On Thu, Jan 18, 2018 at 1:20 PM, alisonnjones <notifications@github.com>
wrote:

[2018-01-18 18:38] NerdyGirl537 commented on #1200
@alisonnjones  We haven't really received customization requests. Right now, most requests are just to update Fund name or Fax info.

[2018-01-18 18:41] alisonnjones commented on #1200
ahh, no need then. Sounds good to me!

On Thu, Jan 18, 2018 at 1:38 PM, NerdyGirl537 <notifications@github.com>
wrote:

[2018-01-21 16:10] colinxfleming commented on #1337
IIRC the clinic_finder gem reads the environment variable, and that's probably a bad design pattern. We should rewire the gem so that it explicitly takes a token as an initializing argument, and then change the controller action to pass it in (so as to explicitly invoke that `GOOGLE_GEO_API_KEY` env var in the controller).

Tagging backend here, but should note that this is waiting on https://gith

[2018-01-21 16:28] colinxfleming commented on #1240
@deesriv @alisonnjones that would be enormously helpful, yeah. In particular I'm interested in something that takes the following form for features that our CMs have specifically identified:

* A concrete way that DARIA has improved CM operations.

Small explanatory block of text.

*CM feedback 1.*
*CM feedback 2.*

So something like:

[code]

@lwaldsc and @NerdyGirl537 can I put you two in charge

[2018-01-21 16:34] colinxfleming commented on #1266
I was under the impression that we were getting it for free as part of Devise, but I could definitely be wrong about that. Might behoove us to go through this part of the devise setup again and see if we missed a step, or broke a part of the config.

Running `rails routes | grep devise` might yield some clues about what we're currently getting from devise.

[2018-01-22 02:15] colinxfleming commented on #1249
Made some edits to the issue at hand to reflect the simplified stuff, and the fact that the chevron is a wontfix. Bumping to active.

[2018-01-22 02:38] colinxfleming commented on #817
@alisonnjones @deesriv @vtmeghan

I'm going to close this as a wontfix for now and we can revisit if we want, since as @mebates pointed out the data team can pull this data currently. In the event that they're doing it on the reg, we can explore building out a workflow for it. As it stands I think this is more effort for less reward than some of the other stuff we have on the remaining docket.

[2018-01-22 02:38] #817 closed

[2018-01-22 02:51] colinxfleming commented on #691
Here's what this has gelled into:

* On save, if a patient is marked pledge sent,
* Check that the user making the change is a data volunteer or admin
* If the editing user is a regular CM, and they aren't rescinding a pledge, flash an error message and abort the save
* Otherwise, all good

Assigning to myself but if someone else wants to take it, party up!

[2018-01-22 02:57] colinxfleming opened #1364 "Clinic finder: Implement medicaid and NAF filters"
TK

[2018-01-22 02:57] colinxfleming opened #1365 "Clinic finder: Implement gestation filter"
TK

[2018-01-22 03:26] #1259 closed

[2018-01-23 01:30] geoffreyyip commented on #1353
Main issue is HTML tables. bootstrap's toggle functionality doesn't play nicely with HTML tables. Some workarounds are described in this link. Posting it here so I can refer back to it later:

https://damienfremont.com/2014/12/19/how-to-expandcollapse-table-rows-with-bootstrap/

[2018-01-23 03:41] colinxfleming commented on #408
Mulling this over some -- I think we can install a heroku buildpack that will install mongodump, and then we can set up a mongodump rake task to an s3 bucket. I think.

[2018-01-27 22:02] geoffreyyip commented on #1353
Proposal: What if we got rid of the dropdown rows entirely?

Right now, we have this:
<img width="1177" alt="screen shot 2018-01-27 at 4 55 15 pm" src="https://user-images.githubusercontent.com/15312106/35476771-a84a91c4-0383-11e8-91fb-adbc966e7efd.png">

This is bad UI. Users have to click on the dropdown to learn about whether a clinic **Accepts Medicaid?**, **Accepts NAF?** or has a **Gestation

[2018-01-28 04:02] colinxfleming commented on #1353
I don't think it's bad UI, given how this endpoint is used. IIRC the thinking was that there were some things you needed, some things you were PROBABLY interested in that didn't necessarily warrant clicking into the form, and some stuff that was pretty much set-and-forget that CMs will never really have to worry about. I don't know that it'll ever really be necessary to compare clinics, since they

[2018-01-29 02:38] #1353 closed

[2018-01-29 05:05] colinxfleming opened #1368 "sqreen reporting busted"
I think we might need to update the gem, the reports I usually get are all duds.

[2018-01-30 00:34] #1368 closed

[2018-01-30 00:34] #984 closed

[2018-01-30 03:40] colinxfleming opened #1372 "Crank up sqreen with their devise stuff"
https://github.com/sqreen/devise_sqreener for later

[2018-01-31 23:43] colinxfleming commented on #1233
After a lot of reflection this is probably more trouble than it's worth and hitting reload won't kill anybody.

[2018-01-31 23:43] #1233 closed

[2018-02-03 19:09] NerdyGirl537 opened #1378 "BRAF Website Link is for DCAF"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
I was on the BRAF App today and noted that the BRAF Website link at the bottom of the page goes to the DCAF website. I checked heroku and that references BRAF's website so I'm not sure where it needs changed.

* **What featu

[2018-02-03 19:13] NerdyGirl537 commented on #1240
@lwaldsc @alisonnjones @deesriv I've been out of pocket a bit on all this. Could we talk about it this week and see what we need to move ahead?

[2018-02-03 19:45] alisonnjones commented on #1240
Yes I have some feedback from the calendar that I will add when I get home
tonight! And then we should be set. If you need more than we can have Dee
gather some but I think it should suffice.

On Sat, Feb 3, 2018 at 2:13 PM NerdyGirl537 <notifications@github.com>
wrote:

[2018-02-03 20:36] lomky commented on #1378
Oops - we still have that hardcoded!

[2018-02-03 20:43] lomky commented on #1378
So we do have a variable available called "FUND_DOMAIN", but it seems to be based on the assumption that the domain is the same as the full name. I.E. FUND_FULL = `DC Abortion Fund`, FUND_DOMAIN = `dcabortionfund`. Is this true for BRAF, @NerdyGirl537?

[2018-02-03 20:58] NerdyGirl537 commented on #1378
I know the fund website is a config variable in Heroku
(FUND_MAILER_DOMAIN). Would it be easier to just pull from there?

I'm not sure we can use the assumption. BRAF's website is blueridgeaaf.org
and they just changed their name.

2018-02-03 14:43 GMT-06:00 Kathryn Tipton <notifications@github.com>:

[2018-02-03 21:04] lomky commented on #1378
@NerdyGirl537 I think I found the disconnect. Despite having the Heroku variable `FUND_MAILER_DOMAIN` we weren't using that. I think I've got the fix in, but it will involve review for each running instance to make sure `FUND_MAILER_DOMAIN` is set properly. I.e. for BRAF we would want it set to `blueridgeaaf`, for DCAF `dcabortionfund`, etc.

[2018-02-03 21:11] lomky commented on #1378
PR in!

[2018-02-04 19:14] mdworken commented on #1266
Update: it was a routing issue! Sending a PR once I get the chance to manually test the fix.

[2018-02-05 22:28] #1223 closed

[2018-02-13 20:30] alisonnjones opened #1382 "Translate DARIA to Spanish"
~(CF NOTE: A list of the pieces of this to do are in https://github.com/DCAFEngineering/dcaf_case_management/issues/1382#issuecomment-441109800 )~
(KT NOTE: A list of subtickets are now connected to this ticket)

Hi,

We are looking to revamp the hotline so that when you call you would hear,  "Press 1 for DC, 2 for VA, 3 for MD/Other, and 4 for Spanish." What would it take to build this out in DAR

[2018-02-13 20:42] alisonnjones commented on #1382
@TeeSwanJr

[2018-02-14 00:17] colinxfleming commented on #1382
@alisonnjones adding another line is fortunately pretty trivial, it involves changing an environment variable in heroku and resetting the application. I don't think it'll have any significant effect on our CSV export (which is currently exporting everybody and not filtering on line).

A full on spanish language version of the patient form or other components would be a significant lift, though. La

[2018-02-14 04:47] TeeSwanJr commented on #1382
Thanks, @colinxfleming. I’m looping in @montanezp as well as she is our new deputy CM Director for this line.

If it would be a significant overhaul to create an entirely new page with the fields written in Spanish, I’m curious if an easier fix would be to use an English/Spanish version across all lines. If we do this the English portion should probably remain the primary, but at least with the Sp

[2018-02-15 02:43] colinxfleming commented on #1382
@TeeSwanJr bilingual anything is going to be a pretty significant thing that will involve a lot of collaboration and time. Even if we're just giving our current forms spanish labels in addition, the planning and collaboration and design stuff still has to happen. I don't think there's a version of this that isn't a pretty involved effort.

[2018-02-15 14:27] alisonnjones commented on #1382
@colinxfleming that is super helpful to know. It sounds like we can start brainstorming potential changes now, but really this will be better packaged with any other major system builds that we determine are top priority after we complete the post-maintenance mode assessment. I would recommend we start thinking about this as a piece of a package of updates/changes that could be done to make the cm

[2018-02-17 23:32] geoffreyyip commented on #825
Quick update, I am still working on this issue. No proposals yet. I'm still feeling out the app structure.

[2018-02-18 19:17] mdworken commented on #1132
I'd like to take ownership of this as it goes with what I'm hoping to do on the analytics side.

[2018-02-19 00:07] #1266 closed

[2018-02-19 23:17] geoffreyyip commented on #825
It seems like there's two different components we're trying to change.
- the search box to list existing patients
- the form to submit a new patient.

For the search box, what behavior do we want regarding multiple lines? I'm seeing different ideas.

For the new patient form, how about writing a [custom validator](http://guides.rubyonrails.org/active_record_validations.html#validates-with)? There'

[2018-02-23 05:18] colinxfleming commented on #825
@geoffreyyip I think we only really need to worry about the second form-to-submit-new-patient case here, and the rest will follow. I don't think we need to change search behavior at this time, just provide a more helpful error message that a CM can work off of. (My fault for bad issue title/problem description.) A custom validator that provides better errors on primary phone uniqueness is a great

[2018-02-25 16:39] colinxfleming commented on #1132
@mdworken I don't know if we're ever going to implement a Real Historical Sense of this in-app, so it might behoove us to port this issue over to https://github.com/DCAFEngineering/dcaf_analytics and have any relevant code checked in there. thoughts?

[2018-02-25 16:51] colinxfleming commented on #1382
@alisonnjones yeah, I think you're exactly right.

[2018-02-25 17:01] colinxfleming commented on #1240
nudge on this, how's it coming? @alisonnjones @NerdyGirl537

[2018-02-26 00:02] geoffreyyip opened #1385 "Improve syntax in patient querying methods"
* **What are we trying to do?**

Clean syntax up for clarity in patient querying methods. All the following methods take a `lines` parameter, implying an Array. In fact, the default parameter `LINES` defaults to `[:DC, :MD, :VA].

I didn't track down every instance where these methods were called... but it seems like these methods are always called with a String or Symbol. And as far as I could te

[2018-02-26 00:03] colinxfleming commented on #1289
@alisonnjones nudging on this!

[2018-02-26 02:27] mdworken opened #1387 "Create new widget to help with NAF eligibility and FPL"
The data team can't always calculate a patient's income vs FPL with the current brackets for income. I'm self assigning this to remind myself to add a column to the exportable file with FPL calculation for both (family size) and (family size + 1).

[2018-02-26 03:01] alisonnjones commented on #1240
Where do I add this again?

[2018-02-26 03:03] alisonnjones commented on #1240
CM Testimonials -

- When I started Case Managing with the DC Abortion Fund (DCAF), my biggest struggle was the learning curve of utilizing CryptoHeaven to record and track patient data. The time it took to troubleshoot, search for missing information, and correct errors took valuable time away from connecting with patients. When DARIA was introduced, those struggles ceased being a barrier. The ti

[2018-02-26 03:06] alisonnjones commented on #1382
sounds good! @TeeSwanJr @deesriv  @montanezp would love to keep brainstorming with you over the next few months on an ideal system and revisit this when we do our DARIA survey/assessment with @lwaldsc and @NerdyGirl537 later this spring

[2018-02-26 03:07] alisonnjones commented on #1289
so far so good! I've changed several current cm vols to data and it worked and i tested with a fake user for creating a whole new profile. thank you!

[2018-02-26 03:59] colinxfleming commented on #1289
thanks for checking!

[2018-02-26 03:59] #1289 closed

[2018-02-26 04:07] colinxfleming commented on #1240
solid, thanks @alisonnjones !

Next step is to break those up so they're feature based per https://github.com/DCAFEngineering/dcaf_case_management/issues/1240#issuecomment-359260706 , flesh out anything else, and then we can close. I'll hit up @lwaldsc or @NerdyGirl537 to handle.

[2018-02-27 22:44] colinxfleming opened #1388 "Upgrade CircleCI to 2.0 (or swap out for Travis)"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We currently use CircleCI format 1.0 for our builds and deploys to sandbox. They're sunsetting version 1.0 on August 31.

* **What feature or behavior is this required for?**
Being able to do CI builds and deploy the app.

*

[2018-02-27 22:45] colinxfleming commented on #1388
Here's the email from circle: https://circleci.com/blog/sunsetting-1-0

[2018-02-27 23:39] DarthHater commented on #1388
I'll play with both on some branches.

[2018-02-28 00:16] colinxfleming commented on #1388
Def do whatever's easiest! Keeping tests split across nodes would be nice
but isnt necessary

On Tue, Feb 27, 2018, 6:39 PM Jeffry Hesse <notifications@github.com> wrote:

[2018-03-06 01:34] colinxfleming commented on #1301
I took a picture at a hacknight tonight, so it's on me to get that picture off my phone and into the repo.

[2018-03-06 01:39] colinxfleming commented on #621
No movement on this in a year and a half means we're probably not going it -- marking closed unless someone from @DCAFEngineering/designers wants to pick it up.

[2018-03-06 01:39] #621 closed

[2018-03-06 17:43] alisonnjones commented on #1387
i know we're chatting in the slack about it now but tagging @deesriv

[2018-03-06 17:48] alisonnjones commented on #1387
Dumping our convo from the slack thread @lomky @mdworken @colinxfleming @lwaldsc @NerdyGirl537

MKD [10:03 AM]
@lwaldsc after discussing some potential proposals with @lomky (which I'll write up a summary of for gitlab later), I'd like to propose we add checkboxes for FPL

The way I propose it would work would be after family size is entered
(and income is determined)
Then the toggles come alive,

[2018-03-14 03:11] #1249 closed

[2018-03-14 21:19] alisonnjones opened #1393 "CSV export failing to export all pledges fulfilled"
Hi all,

The CSV export tool is not exporting pledge fulfilled data correctly. We cross checked our Quickbooks for a time period (July-December 2017) with what is exported in DARIA, and there's more than 200 pledge counts and $73k missing from the data. Need help assessing if this is a flaw in the export code or mislabeling or something. @colinxfleming @NerdyGirl537 @lwaldsc

I have no idea how to

[2018-03-14 21:33] alisonnjones commented on #1393
Is the field "DCAF pledge" in the CSV export correctly exporting the amount listed as "DCAF pledge" in DARIA? Could there be a break in the naming convention/what's exported? How can we test this?

[2018-03-14 21:57] colinxfleming commented on #1393
thanks for reporting this @alisonnjones . I'll follow up with you to identify a sample case and then we can figure out a fix from there.

[2018-03-14 22:31] colinxfleming commented on #1393
Since this involves some sensitive production data we're going to figure out the exact issue on background, and then we'll bring a fix back here for resolution.

[2018-03-20 00:14] lwaldsc opened #1395 "Activity log design going ¯\_(ツ)_/¯"
The activity log is acting wonky. Don't think this how Mollie designed it.
![screen shot 2018-03-19 at 8 10 56 pm](https://user-images.githubusercontent.com/10578608/37628886-fcd3f98c-2bb1-11e8-9270-333a50228245.png)

[2018-03-20 16:00] colinxfleming opened #1396 "Bump loofah gem to 2.2.1"
nt

[2018-03-20 21:07] mdworken commented on #1346
I've worked on doing this the "right" way for the past few weeks, and it's looking more and more 'high-risk, low reward' by the day.

[2018-03-21 04:22] colinxfleming commented on #1346
no worries -- go ahead and unassign and we can leave it backlogged for now / I'll do it on some plane ride when I don't have internet, haha. thanks for taking a whack at it!

[2018-03-21 04:27] colinxfleming commented on #1395
uhhhh pretty sure it is?

Just kidding, I can't write CSS worth anything so I bet I jacked this up at some point. Probably this ticket is removing the oval taking up the row body, which may or may not be as simple as swapping out a class somewhere. I'd look in the events helper in particular, which I think does a lot of lifting to render this.

[2018-03-21 04:28] colinxfleming commented on #1387
@mdworken @alisonnjones what's the proposed action here?

[2018-03-22 03:34] colinxfleming commented on #1127
Down the line:

* Date of check appears to be pulling. If problems persist on this please open another ticket.
* I'll be opening up an issue for procedure cost fulfillment/abortion cost pledge soon -- team braf also highlighted this as a concern. If gestation at procedure in weeks is a problem still please open up an issue for it with step by step instructions to recreate.
* Accounting tool ticket

[2018-03-22 03:34] colinxfleming commented on #1127
@alisonnjones are there any actions to take here? Would love to be able to close this.

[2018-03-22 13:46] alisonnjones commented on #1127
Yeah sounds like we're set to close then since we're opening separate
tickets for the other outstanding issues. Thanks, Colin!

On Wed, Mar 21, 2018 at 11:34 PM, Colin <notifications@github.com> wrote:

[2018-03-22 13:53] alisonnjones commented on #1387
I would love an estimate from the engineering team of what kind of lift this would entail and what the implications would be for the CSV export. Ideally, I would love to change the current fields in DARIA to FPL-relevant ranges that when you select that and enter in other info like minors/adults in household the FPL automatically calculates and NAF eligibility is automatically determined in the CM

[2018-03-22 14:12] mdworken commented on #1387
@alisonnjones I believe the current proposal is something like the following:
* leave the ranges as they stand (this is very important for backwards-compatibility of the data) and then to address FPL we'll have a few checkboxes, something like:
above FPL, below FPL, unspecified.
* The checkboxes will become active after household size becomes available, and the cutoff will be provided in a very "n

[2018-03-22 14:13] mdworken commented on #1387
I know some people were going to consult CMs regarding this, I'll ping the slack for an update.

[2018-03-22 18:28] alisonnjones commented on #1387
that would be great. and the proposed solutions sounds good to me

[2018-03-22 20:38] lwaldsc commented on #1387
I'm all good with it as well.
![200](https://user-images.githubusercontent.com/10578608/37797164-7905bec0-2def-11e8-9e37-1877e31fd1cf.gif)

[2018-03-24 02:15] #1115 closed

[2018-03-24 17:29] colinxfleming commented on #1396
resolved in #1397

[2018-03-24 17:29] #1396 closed

[2018-03-24 17:38] colinxfleming opened #1401 "CSV export is using procedure cost value for abortion care column"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Team BRAF alerted us to a bug in the export: abortion cost is getting repeated twice, and it's showing up where `procedure_cost` should be.

Steps to recreate:
* create a new patient
* fill out appointment date, clinic, `Abo

[2018-03-24 18:05] colinxfleming opened #1402 "Rename fulfillment.procedure_cost to something more reflective of what it is"
What's the difference between abortion cost and procedure cost? No idea, but one of them is the quoted pricetag by the clinic and the other is what a fund paid out. (Procedure cost is the latter.) We should rename this so it doesn't drive me, personally, up the wall.

Steps are:

* write a ruby one liner that renames the field to something
* change it in the model
* update exportable
* update our

[2018-03-28 17:57] mdworken commented on #1402
@colinxfleming I can knock this out for you if you'd like :)

[2018-03-28 17:58] mdworken commented on #1346
Unassigned. I may take another crack at it someday, but I have plenty of more pressing data team stuff to do atm.

[2018-03-29 03:52] colinxfleming commented on #1402
@mdworken sounds good. Please confirm with @alisonnjones / DCAF's accountant that my understanding of these fields is right, and that the number they're entering from the fulfillments is in fact what DCAF paid and not smoething else!

[2018-03-29 03:55] colinxfleming commented on #1395
@tingaloo after reviewing some of the designs it kinda looks like there was never a gray box around it, so idk what I was thinking. Maybe let's just ditch it? Not sure it really serves our needs here, and we're short on designers to whip us into shape.

[2018-03-29 03:56] #1378 closed

[2018-03-29 13:03] mdworken commented on #1402
Will do!

[2018-03-29 13:14] alisonnjones commented on #1402
Hi team! The data vols enter the fulfillment amount in the "Abortion care $" field in DARIA, and this is indeed the amount DCAF has paid. I think it exports as "Procedure cost" in the CSV, but I don't know if these different naming conventions has caused from fracturing in the export... The DARIA field "Abortion cost" is the total cost for the abortion, and is exported as "Abortion cost". The "DCA

[2018-03-29 15:24] mdworken commented on #1401
Self assigning to clarify that I'm fixing this with #1402

[2018-03-29 15:26] mdworken commented on #1387
Renamed to reflect what will actually change :)

[2018-03-31 04:58] colinxfleming commented on #858
Closed via #1292

[2018-03-31 04:58] #858 closed

[2018-03-31 04:59] colinxfleming commented on #643
Closed via #1292 . aw yis

[2018-03-31 04:59] #643 closed

[2018-03-31 05:50] colinxfleming commented on #1200
AFAIK this is all resolved so I'm closing. We can create new tickets if things pop up again.

[2018-03-31 05:50] #1200 closed

[2018-03-31 16:31] colinxfleming commented on #1127
Thanks @alisonnjones !

[2018-03-31 16:31] #1127 closed

[2018-03-31 16:32] colinxfleming commented on #1393
Update on this: Sent some possible sample cases to @alisonnjones for review and spotchecking. Will move forward when we hear back from DCAF brass, in this case probably @alisonnjones or DCAF's accountant.

[2018-03-31 17:08] colinxfleming commented on #1294
If what @tingaloo describes is right, this is a weird behavior even for mongo. I'm going to try and take a stab at this -- thanks @NerdyGirl537 @mchelen and @tingaloo for exploring!

[2018-03-31 19:58] colinxfleming commented on #1307
eh, our current before_actions are fine

[2018-03-31 19:58] #1307 closed

[2018-04-01 05:03] #1301 closed

[2018-04-05 03:30] #1279 closed

[2018-04-09 00:39] mdworken opened #1407 "Delete Patient Record button is being triggered when setting Appointment Date"
As an admin using Chrome, the date-picker for Appointment Date is triggering the delete patient record. This occurs both from clicking the date and entering a date and pressing enter.

 My branch was 40519bd8 Merge pull request #1404 from DCAFEngineering/destroy-route.

Update: I had this occur in edge too now.

[2018-04-09 00:57] mdworken commented on #1393
I think I've found the problem: the Bootstrap form for fulfillment isn't actually updating any of the patient attributes. Digging in to why now.

[2018-04-10 19:49] colinxfleming commented on #1393
@mdworken can you post steps to recreate the bootstrap form problem in this ticket when you get a chance so that we can verify and figure out a test to write against it?

[2018-04-10 20:26] mdworken commented on #1393
@colinxfleming I'll do step-by-step and a test once I get off work, but you can look at the following in the sandbox. Notice the variables are being saved but the export is not working. Can you check what's being saved in the DB?

https://sandbox.dcabortionfund.org/patients/5acab4a320e5ff000af51ada/edit

[2018-04-11 03:02] colinxfleming commented on #1407
Can verify this is happening on sandbox currently, so we should hold on shipping to production until we get this sorted out.

@tingaloo any chance you've seen this problem before with in-browser datepickers?

[2018-04-11 03:04] colinxfleming commented on #1407
Steps to recreate:

* log in as an admin and go to a patient page
* click on the appointment date field and set it to something

Expected outcome: Field updates as normal
Actual outcome: Patient gets destroyed (woof)

[2018-04-11 03:56] colinxfleming commented on #1407
There are a few ways around this; we might try moving the button away from the dropdown and onto the sidebar below 'send pledge'; we might disable the button while the input is focused; we might implement a proper jquery deal instead if it goes well with bootstrap forms. Will confer with frontenders about how to handle this.

[2018-04-12 02:34] colinxfleming commented on #1393
Here's a snippet from the rails console looking at the fulfillment for this patient:

[code]

I updated it in the form to 335 and that was reflected in db:

[code]

@mdworken are you sure this is a technical problem separate from #1401 , which is putting the wrong column in the export (the `fund_pledge` field instead of whatever the fulfillment field is currently called), and which I believe will

[2018-04-12 02:35] colinxfleming commented on #1393
(a note for ref: sandbox was on 59b9fb84 when I pulled that)

[2018-04-13 02:50] #1401 closed

[2018-04-13 02:57] colinxfleming commented on #1407
Temporarily just shut this off for safety's sake so we can run a deploy. Shutoff commit is fd49d030

[2018-04-13 14:57] mdworken commented on #1393
Update: there must've been a problem with my local branch when I thought values weren't updating.

At first pass comparing data this looks fixed by #1409 , but I'll work with @alisonnjones this weekend to confirm before closing this out.

[2018-04-14 15:46] colinxfleming opened #1411 "Rails 5.2 upgrade"

[2018-04-14 21:51] tingaloo commented on #1407
Taking a look at this, any change in the upper patient dashboard triggers the deletion.

[2018-04-14 22:47] colinxfleming commented on #1407
oh, durf! It's probably because it's a button within the form?

[2018-04-16 23:26] #1407 closed

[2018-04-16 23:29] #1395 closed

[2018-04-17 02:15] alisonnjones commented on #1393
It looks like we're still off by $1k when comparing the cvs export procedure costs to the quickbooks finances. any idea what could be causing this discrepancy?

[2018-04-17 02:50] colinxfleming commented on #1393
That's within the range of what I would expect from data entry issues, honestly. I'd recommend doing an audit of what you have on file vs what CMs have entered to see if you can hone in on individual cases we can look at. I'm not sure there's an engineering reason it'd be off by that little. What number of pledges is it off by?

[2018-04-17 12:05] alisonnjones commented on #1393
It looks like I'm off by 10 pledges (csv = 126, quickbooks = 136). Let me go line by line to see if it's bc of individual files. So excited this is a much more accurate reflection, though!

[2018-04-17 16:45] colinxfleming commented on #1393
I would have guessed that regenerating a pledge thru the UI would bump the pledge generated timestamp, per https://github.com/DCAFEngineering/dcaf_case_management/blob/master/app/controllers/patients_controller.rb#L50 . Do we think they're just updating the pledge amount and communicating with the clinics verbally, or do we think that they're re-generating pledge forms thru the UI and it's just no

[2018-04-17 16:58] alisonnjones commented on #1393
Quickbooks is what our accountant enters, and they entered the pledge sent date.

But, you're right that regenerating the "pledge generated" isn't affected, it's the "pledge sent" field. Sorry for the confusion. I double checked this with the test case I mentioned above, and even tho the data vol resent the pledge to update the total pledge sum ("abortion care $" in DARIA), the pledge generated fi

[2018-04-22 15:35] colinxfleming commented on #1385
@geoffreyyip sorry for taking awhile to get to this! I think this is an excellent flag and an opportunity to bury a premature optimization we made that turned out not to quite pan out.

I think for the call list methods and urgent patients, this gets a 👍 from me. You're correct that there's never really a circumstance where someone wouldn't have a line set when they're working with urgent patients

[2018-04-26 22:46] mdworken commented on #1382
If this is something that'd be super helpful, I'd be more than happy to work on i18n/translation tables so we can support other languages more easily! We're doing a lot of that at my work-work rn so this would fit in well with that :)

[2018-04-27 21:36] colinxfleming commented on #1382
@mdworken that's a good thing to keep in back of my mind, since I don't know much of anything about localization! I definitely want to hold on it until we've worked down our existing load though.

[2018-05-01 23:06] NerdyGirl537 opened #1417 "eIntake Form Interface"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Create an interface for DCAF's eIntake form that will allow the information to be directly ported into DARIA. We will be working with Kate Bertash <kate@securityfund.io> of the Cyber Security Fund to select the form and inte

[2018-05-02 15:39] NerdyGirl537 commented on #1417
We've been doing eIntake planning calls with Kate and have a form that's
been thoroughly vetted. This is the current version:
https://docs.google.com/document/d/1iNZvP5RIft07veH4sZ6FBK_pPZC08fA-7ZESmQhIhlc/edit.
Kate is looking for what is needed to bring the information directly from
the form to DARIA. We did talk about the manual entry process as an
alternative. Kate needs to talk to the technic

[2018-05-03 00:12] geoffreyyip commented on #1385
I don't expect to have time to work on this anytime soon, so I'm kicking the can down to the next person who feels like tackling it.

[2018-05-03 22:07] colinxfleming commented on #1393
hey @alisonnjones or @mdworken  are there further DARIA fixes to make here?

[2018-05-03 22:17] colinxfleming commented on #1417
Got it. I'd favor a manual entry for now, I don't want the engineering team to be a holdup for rolling this out if it's a priority for DCAF!

If we do want to pursue an automatic deal now or in the future, here's what it would PROBABLY involve DARIA side:
* set up a custom endpoint that takes a payload and maps it to a DARIA patient (OR something that knows to monitor a URL on its own, which might

[2018-05-05 14:38] colinxfleming opened #1418 "Audit trail on fulfillment doesn't work"
Either take it out or fix it

[2018-05-05 16:02] colinxfleming commented on #408
So it turns out mlab's paid plans include free daily backups, so we don't need to do anything on that front for DCAF, just other funds. Built in snapshots managed by mlab that we can pull and restore from is preferable to rolling our own, but other funds will take awhile before they get to the point where they start to get close to space concerns.

[2018-05-05 21:34] #1312 closed

[2018-05-05 21:34] #1313 closed

[2018-05-05 22:05] colinxfleming commented on #1382
Talked to Paulina about a Spanish view, here's where this landed. Not a mission critical fix but would be helpful for efforts.

* spanish CMs have a tough time context / language switching at times and while it doesn't severely affect service, a principle of DARIA is that we shouldn't be fighting with tools,
* we probably should favor a spanish language view, rather than english/spanish labels on

[2018-05-07 01:12] #812 closed

[2018-05-07 21:34] alisonnjones commented on #408
Well that's good news. When do you think we'll need to revisit again? Approaching our new FY budgeting process this June...

[2018-05-07 21:36] alisonnjones commented on #1382
Is this something we can incorporate into the DARIA post-maintenance mode user survey @lwaldsc @NerdyGirl537 ? Can we hash out some next steps on what we want that evaluation to cover?

Or, do you think you can start making some simple fixes to improve Spanish-speakers user experience now @colinxfleming ? Is it best to tie this into bigger builds? I am not sure what kind of a lift it would entail.

[2018-05-07 21:46] colinxfleming commented on #1382
It's an extremely significant lift that should involve a dedicated engineer, a dedicated designer, and a dedicated CM working together.

[2018-05-07 21:49] alisonnjones commented on #1382
Noted! Thanks for context.

[2018-05-09 00:39] lomky opened #1420 "Add Audited Field to Patient"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Adding a boolean field to Patients that denotes whether the patient fulfillment has been audited.

* **What feature or behavior is this required for?**

Avoiding archiving fulfilled patients until they have been audited, up

[2018-05-13 16:42] #825 closed

[2018-05-13 16:42] #1098 closed

[2018-05-14 02:34] colinxfleming commented on #408
Due to archiving rolling out (which saves us some space by removing data we don't need to keep) it'll be at least two years before we have to buy another DB upgrade, and probably several more; when we do have to get a db upgrade we can just pay for another gb and it'll be another $15/month or so.

[2018-05-14 02:41] colinxfleming commented on #408
I am still not sure what I want to do about other funds backups. +$18/m is tripling the cost. I like the idea of archiving to s3 but I'm not sure I want to deal with the overhead of having our own AWS account (and getting DCAF administration to handle payments, etc). At the same time, we should do SOMETHING about this so that we're keeping something warm.

[2018-05-15 22:05] alisonnjones commented on #408
Hm, I'm open to what you think is best. Budgeting for FY19 is around the
corner, so let me know what you recommend. I'd rather have a bit of a
cushion in the projections in case any of these costs shift.

On Sun, May 13, 2018 at 10:41 PM, Colin <notifications@github.com> wrote:

[2018-05-26 01:56] colinxfleming commented on #1294
At least based on the steps recreating here, this is because pt 1 is already on the call list under completed calls. (The calls are created before the rename.)

I'll make a change to the seedfile that should resolve this behavior from a fresh seed, but since there hasn't been any mention of this in a minute, going to mark closed after that.

[2018-05-26 15:40] colinxfleming commented on #1132
I'm gonna port this over to the analytics repo, since there will almost definitely not be a rails solution for this work.

[2018-05-26 15:41] #1132 closed

[2018-05-30 22:19] #713 closed

[2018-06-01 05:54] mdworken commented on #1417
@NerdyGirl537 not sure if this is the right place, but I have slight concerns regarding the phrasing for the checkbox "☐ I have called the NAF hotline......" as to me it reads as too heavy of a directive. Has this been discussed much at all? I wonder if phrasing like 'I have _already_ called the NAF hotline...." should be considered.

[2018-06-02 23:48] colinxfleming commented on #679
Swapping this to future features since it needs more context and some sense of how useful it would be.

[2018-06-02 23:53] colinxfleming commented on #691
Future featuring this since we've gotten away without it for this long.

[2018-06-03 05:33] colinxfleming commented on #826
Spent ~15m screwing with this tonight and getting it working seems to be nontrivial, still (no big shocker there, thanks to @mpetazzoni 's research in the issue thread on this front). Going to mark this as a future feature for the time being.

[2018-06-03 05:37] colinxfleming commented on #413
Setting this up has proven to be such an unbelievable pain that I am inclined to mark this futuretech for the time being.

[2018-06-03 05:58] colinxfleming commented on #1280
This is repped in the other ticket, so closing in favor of that and marking it futuretech

[2018-06-03 05:58] #1280 closed

[2018-06-03 06:00] colinxfleming commented on #634
Marking futuretech since there's already a limited implementation of this in place.

[2018-06-04 02:38] #1242 closed

[2018-06-04 03:09] #626 closed

[2018-06-04 03:09] #1100 closed

[2018-06-04 03:33] #1097 closed

[2018-06-06 00:38] colinxfleming commented on #1372
Per https://github.com/sqreen/devise_sqreener/issues/3#issuecomment-394399009 the api this depends on is depreciated, so this is a wontfix. RIP

[2018-06-06 00:38] #1372 closed

[2018-06-06 02:15] colinxfleming commented on #634
I'm going to start moving reporting related tickets into here.

[2018-06-06 02:18] colinxfleming commented on #1095
Migrating into #634

[2018-06-06 02:18] #1095 closed

[2018-06-06 02:18] colinxfleming commented on #634
Per https://github.com/DCAFEngineering/dcaf_case_management/issues/1095 we should explore chartkick as a simplified library for graphs; we should also move the loads to be async actions if we haven't already.

[2018-06-06 02:21] colinxfleming commented on #877
Punching into #634

[2018-06-06 02:21] #877 closed

[2018-06-06 02:28] colinxfleming commented on #814
Developer centric but test data that reflects reality is still clutch for understanding, so marking futuretech.

[2018-06-06 23:43] colinxfleming commented on #1351
@natedana

[2018-06-06 23:44] colinxfleming commented on #1355
@natedana

[2018-06-06 23:46] colinxfleming commented on #1355
Rough steps to solve:

* Add geo field(s) to Clinic model
* Clinic finder returns geo lat/long data when called; the Clinic model should save that data from the call if it isn't set
* Clinic geo fields should expire if the address of the clinic changes

[2018-06-07 00:16] colinxfleming opened #1429 "Make admin manual"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

* **What feature or behavior is this required for?**

* **How could we solve this issue? (Not knowing is okay!)**

* **Anything else?**

[2018-06-07 00:18] colinxfleming commented on #1429
data entry / fulfillment, reporting

[2018-06-07 00:22] lwaldsc opened #1430 "Abortron Cost Calculator not automatically calculating"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make sure the internal calculator that works out how much a patient has left to fundraise works automatically.

* **What feature or behavior is this required for?**
I needs to work.

* **How could we solve this issue? (Not k

[2018-06-07 00:27] lwaldsc commented on #1187
Updated and sent to CMDs.

http://www.instantrapairhorn.com

[2018-06-07 00:30] #1240 closed

[2018-06-07 00:33] colinxfleming commented on #1268
I am going to turn this into a backend issue to make this the CMD's problem; let's slap a new config on

[2018-06-07 23:29] #1171 closed

[2018-06-08 04:18] #1187 closed

[2018-06-08 04:18] colinxfleming commented on #1187
Got notice from team CM that new guidance is out in the world, declaring victory.

[2018-06-11 23:36] colinxfleming commented on #1418
Covered in #826

[2018-06-11 23:36] #1418 closed

[2018-06-11 23:38] colinxfleming commented on #1411
I'm honestly not sure whether or not we should Future Features this or not! My inclination is to keep it hot, but we'll see what happens when we actually have the futuretech conversation on Tuesday. Keeping hot for now.

[2018-06-11 23:39] colinxfleming commented on #1393
I'm going to close this since I don't think there's a rails fix to make here. @alisonnjones please reopen if there is a software change we need to make.

[2018-06-11 23:39] #1393 closed

[2018-06-12 22:28] colinxfleming opened #1431 "Rewire comment box email"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

* **What feature or behavior is this required for?**

* **How could we solve this issue? (Not knowing is okay!)**

* **Anything else?**

[2018-06-14 03:10] colinxfleming commented on #1431
@lwaldsc dug out the keys so we can take forward steps to fix this now

[2018-06-16 21:27] colinxfleming opened #1435 "Turn brakeman pro back on in CI"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Brakeman Pro is failingbuilds with the following warning:

[code]

We need to do the following to fix:

* adjust the password length
* reset passwords in prod that don't meet this standards
* fix the seeds
* uncomment the c

[2018-06-16 22:10] colinxfleming opened #1436 "Turn push to docker back on in CI"
Or take it out, if we aren't using it anymore!

CirclecI error message:

[code]

[2018-06-21 16:07] mdworken opened #1438 "Add tests for display of disabled user statuses"
According to our code coverage report, we aren't testing the display of disabled user statuses. Self assigning an issue to add tests for this.
![image](https://user-images.githubusercontent.com/31595784/41731141-9de4e236-754b-11e8-8aa6-79dc0137d397.png)

[2018-06-27 23:39] colinxfleming commented on #1431
This is fixed via @lwaldsc 's work

[2018-06-27 23:39] #1431 closed

[2018-06-27 23:44] colinxfleming opened #1441 "Should we get in on Skylight for Open Source?"
https://www.skylight.io/support/skylight-for-open-source

[2018-06-28 00:02] colinxfleming commented on #1388
We're on circle via #1394 , closing

[2018-06-28 00:02] #1388 closed

[2018-06-28 00:08] colinxfleming commented on #1351
I can't recreate this and I think the entry above is a product of lazyloading, not the partial actually being on the page. Closing this for the time being.

[2018-06-28 00:08] #1351 closed

[2018-06-28 00:14] colinxfleming commented on #408
I think there's an unresolved deal here over what to do for other funds but idk what it is. Marking futuretech for now and we can revisit after the survey.

[2018-06-28 13:51] #1268 closed

[2018-06-30 05:04] colinxfleming commented on #1435
I'm going to go back on this and close as a wontfix because:

* brakeman getting bought means that the nature of this relationship is going to change
* beef already has plenty going on and we can't reasonably expect him to honor "very expensive software... for free!" going forward
* we're unlikely to actually ever squelch that error above

For this reason I think going with vanilla brakeman in ci

[2018-06-30 05:04] #1435 closed

[2018-06-30 05:18] colinxfleming commented on #1436
Fixed via 011c01d489fa18146a9a8a6d8e5906047ab41df1 and fa27ec8d22c97d9bd42cbcd3f6d89812d3bd50dc

[2018-06-30 05:18] #1436 closed

[2018-07-01 03:53] colinxfleming commented on #1314
This is almost definitely not worth the trouble it would take to fix.

[2018-07-01 03:53] #1314 closed

[2018-07-01 03:53] colinxfleming commented on #1321
Reopen if it continues to be a problem

[2018-07-01 03:53] #1321 closed

[2018-07-01 05:22] #1311 closed

[2018-07-01 06:06] colinxfleming commented on #1429
started work on this

[2018-07-08 16:10] colinxfleming opened #1447 "High response time for Events endpoint"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're regularly getting logentries alerts like:

[code]

We should do something about this to reduce the response time, or start loading events lazier (pagination, semi-infinite scroll, etc).

* **What feature or behavior i

[2018-07-09 23:38] #692 closed

[2018-07-12 01:52] #1326 closed

[2018-07-12 02:04] colinxfleming opened #1449 "Add city to CSV export"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Team BRAF analyzes on city and would like it on the export.

* **What feature or behavior is this required for?**

Data analysis.

* **How could we solve this issue? (Not knowing is okay!)**

This is a straightforward chang

[2018-07-14 21:40] colinxfleming commented on #987
An update here, this has a new maintainer (yay) and we can hopefully ditch our fork soon (double yay)

[2018-07-15 12:08] mdworken commented on #1402
Removed myself as assignee as I don't want to accidentally mess up the command for the rails console.

[2018-07-15 13:46] #1449 closed

[2018-07-18 17:38] mdworken commented on #1447
Have we added indexing along `created_at:` in mongoid? It looks like it's not done automatically according to this ticket:  https://stackoverflow.com/questions/22797773/mongoid-timestamp-indexing

Not sure how much this will help, but it seems like something easy we can try!

[2018-07-21 16:52] colinxfleming opened #1454 "User Search Admin Flaw"
Leaving this ticket blank because it refers to an ext document I don't want to ref here.

[2018-07-21 17:00] colinxfleming opened #1455 "Admin Edit Page Flaw"
Refs external document.

[2018-07-21 17:01] colinxfleming opened #1456 "Accounting / reporting page admin flaw"
Refs external document.

[2018-07-21 17:50] colinxfleming opened #1457 "Rewire redirect in UsersController#create to redirect to a DARIA url instead of session referrer"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

* **What feature or behavior is this required for?**

Security! This is only a problem in theory but something we should fix.

* **How could we solve this issue? (Not knowing is okay!)**

* **Anything else?**

Steps to recr

[2018-07-21 18:06] #1430 closed

[2018-07-21 19:53] colinxfleming opened #1458 "Budget bar feedback omnibus"
I talked to Olivia about her experience with the budget bar thus far. It's working reasonably well for its intended purposes, contextualizing what's going out and coming in, and making reconciliation with the actual budget realities much easier.

She had a few points of feedback:

* It doesn't gracefully expand (andthey had an extremely busy week, so it capped out basically immediately). Olivia as

[2018-07-21 20:29] tingaloo commented on #413
@colinxfleming interested in bumping this?

[2018-07-21 21:02] colinxfleming commented on #1454
lol this is already fixed

[2018-07-21 21:02] #1454 closed

[2018-07-21 22:33] #1447 closed

[2018-07-21 23:02] harumhelmy commented on #1458
On Sat, Jul 21, 2018 at 15:23 Lew <notifications@github.com> wrote:

--
Sent from my phone!

[2018-07-21 23:13] colinxfleming opened #1460 "Investigate `devise-security` gem"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The `devise-security` gem has some extra security stuff we could take advantage of. I'm thinking specifically of `:session_limitable` and possibly `:paranoid_verification` and maybe an out of the box `:expirable` to replace

[2018-07-21 23:17] colinxfleming opened #1461 "Implement the password_strength password gem"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

A soft-ish spot that we should revisit according to best practices are our practices around passwords. This isn't terribly urgent since much of our userbase is using oauth, but it couldn't hurt to crank this up for the stra

[2018-07-21 23:20] colinxfleming opened #1462 "Slap an additional cloud based app firewall up"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Several major cloud service providers offer free DDoS protection/web application firewalls to non-profit organizations. We have rack-attack which saves us from this in the small scale, but big corporations have more securit

[2018-07-21 23:26] colinxfleming opened #1463 "Add DARIA admin panel view"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

A suggested enhancement from our report:

They're right, we should do this. Here's my proposal:

* Make a list of events that require tracking within DARIA and divide them into notices and warnings
* An Event-style log that

[2018-07-21 23:27] colinxfleming opened #1464 "Should we go google auth only?"
ehhhhhhhhhhh?

sub-question, is there a way we can require 2fa on google auth?

[2018-07-22 04:05] colinxfleming commented on #893
Tagging this out as futuretech since it hasn't moved in awhile.

[2018-07-23 15:42] colinxfleming commented on #1458
@tingaloo  and @harumhelmy let's talk when it comes time to assign tickets from this.

Feedback from Toby @ BRAF:

* Not clear when the bar resets. In the spirit of making the implicit explicit, should add a tooltip helper for this.
* Sort order of pledges can change. Should explicitly sort somehow - name, appt date, pledge sent are our options.
* Asked for an archive of how the bars finished at t

[2018-07-24 23:55] tingaloo commented on #1460
From the readme.
```Note: Unlike Devise, devise-security does not currently support mongoid. Pull requests are welcome!```

There's a [WIP pr](
https://github.com/devise-security/devise-security/pull/43)

[2018-07-28 16:16] colinxfleming opened #1465 "Make BRAF related changes to user manual"
@NerdyGirl537 wrangled some client feedback out of Team BRAF because she is a national treasure. I'm rolling the specific points from their doc into an omnibus thread that we can break things out from, but calling this futuretech for now so it doesn't interfere with any of the current stuff. Keeping in mind that this is more or less straight from their feedback and does not reflect a planned imple

[2018-08-15 13:53] mdworken opened #1467 "Add External Pledges to Exportable"
Pretty self-explanatory. I'll knock this out sometime in the next few days.

(Needed for an active request of the data team)

[2018-08-15 19:38] #1457 closed

[2018-08-17 16:14] mdworken opened #1469 "Create system test for exportable"
Since we've had data-integrity problems in the past (including but not limited to #1286) I and the rest of the data team would feel a lot more comfortable if we included an end-to-end test of data and exportable in the test suite.

Self-assigning this issue before I knock it out over the coming week.

[2018-08-17 16:15] mdworken commented on #1467
#1468 waiting on approval :)

[2018-08-19 18:08] #1455 closed

[2018-08-19 18:08] #1456 closed

[2018-08-19 18:28] colinxfleming commented on #1469
Can you do me a solid and spec out what exact behavior we need to test and lock in @mdworken ?

[2018-08-20 15:16] mdworken commented on #1469
Yes, will do!

I'm super swamped with data team stuff, but I should be able to flesh this out a little more within the next week or two.

[2018-08-26 16:46] alisonnjones commented on #1465
Here are some preliminary thoughts re: prioritization

**Let's follow up on these technical fixes and start new issue in Github (HIGH PRIORITY)-**
Add to Call LIst in Event Log doesn't work/noops
Change footer link from gotfreefax to hellofax.com (CF note: probably can set this as an admin config)
Requested way to add whether or not someone has had an ultrasoundRequested way to ID a patient's Requ

[2018-08-28 14:49] alisonnjones commented on #1382
So to keep the ball rolling, @harrumph can you follow up with thoughts on design implementation? How should the Spanish language view look? How would the line be labeled? What fields would be exportable/whether it would change anything in the current export? Maybe it makes sense to sit down with @lomky and @NerdyGirl537 to sketch out what your dream design would look like.

[2018-08-28 20:32] lwaldsc commented on #1465
Before we make any movement, I would also want more information on:

"Can we control when data is archived? We want access much longer, at least more than a year. So at the end of the fiscal year when we are trying to get some statistics we can actually look at the person's intake record when needed."

Kat and others have thought long and hard around archiving policy, so I'd like a lot more specif

[2018-09-01 04:27] colinxfleming commented on #1382
Engineering side we can likely roll this out in pieces. Here's the rails localization API https://guides.rubyonrails.org/i18n.html (and a talk that DCAF contributor @valeriecodes gave on il8n a few years back, https://confreaks.tv/videos/railsconf2016-finding-translations-localization-and-internationalization )

[2018-09-04 16:10] harumhelmy commented on #1382
Hi all! Sorry for the delayed response, @alisonnjones. I don't know all the answers to this! Would love to involve Paulina and a couple other Spanish-speaking CMs and see what needs to be emphasized/what needs to be different than the DMV line, or maybe we can all meet with @lomky and @NerdyGirl537

[2018-09-04 16:11] harumhelmy commented on #1382
Hmm, thinking I'll touch base with Paulina to get her thoughts, see how much she wants to be involved, and then get back to y'all.

[2018-09-23 14:55] colinxfleming opened #1473 "Perform heroku stack upgrades"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Our heroku stack images are heroku-16, and they've since released new ones into production. In the spirit

* **What feature or behavior is this required for?**

Safety, up-to-date-ness

* **How could we solve this issue? (N

[2018-09-23 15:34] colinxfleming opened #1474 "Web fulfillment form doesn't bump fulfillment timestamps, which is screwing up archiving"
@verbingthenoun found a bug / surprise behavior with the mongo timestamp library where the parent object gets updated instead of the subobject. Steps to recreate below:

The archiver is specifically looking for the timestamp on the fulfillment to see if it is less than or equal to 120 days ago (e.g. have 120 days passed since the fulfillment was modified), OR cases where the initial call was less

[2018-09-23 16:29] colinxfleming opened #1476 "Nightly cleanup of call list misfiring due to sign in times"
CM Arona reported that after logging in for the first time in a few months, her call list had been mysteriously cleared the next morning.

I had a hypothesis here that we had a bug on setting last sign in timestamps, but that doesn't appear to be the case as Arona's last sign in is this morning in the db.

However, the 'it had been a few months' was a useful clue. It looks like we've set this rule

[2018-09-24 00:30] #1474 closed

[2018-09-24 01:11] lomky opened #1478 "Surface Archive Date on Patients"
* **What are we trying to do?**
Share the information about when a patient will archive with the data and admin folks.

* **What feature or behavior is this required for?**
Better information sharing & feeling secure in our data. Catching bugs like #1475 before they affect our data.

* **How could we solve this issue? (Not knowing is okay!)**

 - Option A: Show the info on the patient page
 - Opti

[2018-09-24 02:52] #1476 closed

[2018-09-29 02:14] #1467 closed

[2018-09-29 02:28] colinxfleming commented on #1473
Resolved

[2018-09-29 02:28] #1473 closed

[2018-09-29 04:34] colinxfleming commented on #1461
I'm interested in revisiting this. Consider a world where:

* We allow password login if an env var is set, like `DARIA_ALLOW_PASSWORD_LOGIN=true`, so we could still allow password entry on sandbox, for training, and development environments
* We implement by either showing or not showing the password box on the login screen
* and by making password-related, non-oauth endpoints 400 bad request
* A

[2018-09-29 04:34] colinxfleming commented on #1461
also @DarthHater

[2018-09-29 04:47] colinxfleming commented on #1461
and @alisonnjones @NerdyGirl537 to address the politics of this

[2018-09-29 12:42] lomky commented on #1461
I'd be curious what our current oauth adoption rate looks like?
How many people are we inconveniencing in the swap over?
How painful/painless is swapping your account to OAuth?

I'm still pretty indifferent on Oauth vs high-quality passwords as far as tech & security goes, but since we've thrown in with OAuth I don't have any issue with trying to move there completely and only have one secure acce

[2018-09-29 16:12] alisonnjones commented on #1461
Our friends at DDF recently shared a tool for us to do a comprehensive security upgrade org-wide, and would love to fold any changes from this into that roll out. Of course, I also wouldn't want to hold this up for other security policy changes, but would be great to coordinate timing if possible

[2018-09-29 19:40] verbingthenoun commented on #1478
Thanks for tagging me in. Hmm, I think most of the data team doesn't need this - just me and @alisonnjones. I can't see the accountant page so I won't weigh in there, but having it show on the patient page would be very useful.

[2018-10-09 21:19] lomky opened #1485 "Update "The Data Collection Practices" Post-Archive"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Update The Data Collection Practices doc's last section with finalized Archive practices!

https://github.com/DCAFEngineering/dcaf_case_management/blob/master/docs/OUR_DATA_COLLECTION_PRACTICES.md

* **What feature or behavi

[2018-10-11 00:01] colinxfleming opened #1489 "update setup"

[2018-10-11 00:10] colinxfleming opened #1491 "Builds from forks failing on being unable to download previous test results"
@rudietuesdays observed an issue in #1487 where builds would fail immediately due to being unable to download previous test results. Not sure why but this blocks us being able to accept contributions from people operating on forks, so we should fix it asap.

Steps to recreate:

* fork repo
* make any commit
* make a pull request with that commit
* watch build fail

[2018-10-11 00:49] rudietuesdays commented on #1420
I'm on it!

[2018-10-13 17:14] mlindberg61 opened #1493 "Adding Practical Support to Abortion Info Tab"
@lwaldsc @vtmeghan @lomky @alisonnjones (couldn't find handles for Jenn and Harum)

* **What are we trying to do?**
Better integrate practical support needs and tracking into Daria -- now that there are more options for providing practical support for PTs (Brigid, DMV AB Support, etc), it's more important that CMs are able to specifically track progress on those issues.

* **What feature or behavi

[2018-10-14 21:14] valeriecodes commented on #1461
A quick Google turned up this tool: https://github.com/fnando/password_strength
Seems like it can just be added in a validation step.

[2018-10-20 15:23] colinxfleming opened #1494 "Add to call list in event log doesn't work"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The event log has a link to 'add to call list'. For some reason, it doesn't work! We've heard from several sources that this would be extremely helpful; let's do it.

* **What feature or behavior is this required for?**

CM

[2018-10-20 15:29] colinxfleming opened #1495 "Set fax link in footer to an app config instead of an env var"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Our footer:

![image](https://user-images.githubusercontent.com/3866868/47257375-c9a55180-d45a-11e8-924a-d9cf87bd4cb1.png)

It's nice, right? But sometimes people switch fax services, and we don't want to be on the hook for

[2018-10-20 15:45] colinxfleming opened #1497 "Add indicator to tell if someone has had an ultrasound"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

DCAF and BRAF both work in VA, which since 2012 has required people seeking abortions to complete ultrasounds for `$BAD_REASON`. This has an effect of adding an additional fee and hurdle on top of abortion costs, but clinic

[2018-10-20 15:51] colinxfleming opened #1498 "Add indicator to tell if someone's phone is textable"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

BRAF texts. That's pretty sweet. A lot of funds are moving in this direction (I'm not sure if BAF texts or not). We should account for that

* **What feature or behavior is this required for?**

Better patient service

* **

[2018-10-20 16:01] colinxfleming opened #1499 "Change label of `Referred by` to `How they heard about FUND`"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We have a little bit of confusing

* **What feature or behavior is this required for?**

Keeping language not-confusing helps keep conversations flowing and prevents CMs from accidentally asking awkward questions, which is

[2018-10-20 16:05] colinxfleming opened #1500 "Add additional referred by fields to config"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

While we have a pretty solid list of `referred_by` fields, we don't cover every case, and BRAF is interested in reshaping this list. So we should make it fund-configurable.

* **What feature or behavior is this required for

[2018-10-20 16:05] colinxfleming commented on #1465
Have moved the high priority items into their own github issues

[2018-10-21 15:46] colinxfleming commented on #1478
hm! Let's surface this on the patient page for now under the fulfillment partial. So I think steps to complete here are:

* writing a method that returns the archive date, with a test
* dropping that in on `views/patients/_fulfillment` in its own `p` tag with text like 'This patient will be archived on YYYY-MM-DD`.

Tagging it in

[2018-10-21 15:50] vraravam commented on #1495
I'll sign up for this

[2018-10-21 16:03] colinxfleming commented on #1495
hey @vraravam , I think @tingaloo  beat you to it, but could I point you toward #1499 instead?

[2018-10-21 16:19] nikobozi commented on #1497
hi, i would like to work on this one! :)

[2018-10-23 04:15] colinxfleming opened #1508 "Fix required ruby version in readme"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I overlooked the documentation when bumping ruby to 2.5.3. We should fix that in `docs/SETUP.md`

[2018-10-23 04:16] #1508 closed

[2018-10-23 04:19] #1499 closed

[2018-10-25 13:45] colinxfleming commented on #1500
looks like @tingaloo has got this

[2018-10-25 13:45] colinxfleming commented on #1498
claimed

[2018-10-25 13:45] colinxfleming commented on #1494
looks like @tingaloo has got this

[2018-10-26 19:17] Kevin-Wei commented on #1438
https://github.com/DCAFEngineering/dcaf_case_management/pull/1514

[2018-10-28 02:59] #1438 closed

[2018-10-28 03:04] colinxfleming opened #1515 "A few unit and systemtests to add"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

In the sprint of hacktoberfest, we left a few things uncovered. So let's cover them per comments below.

* **What feature or behavior is this required for?**

Safety first!

* **How could we solve this issue? (Not knowing i

[2018-10-28 03:04] colinxfleming commented on #1515
Confirm `:textable` checkbox persists in `system/update_patient_info`

[2018-10-28 03:28] colinxfleming opened #1516 "Tidy up dead functions from searchable"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

remove dead code

* **What feature or behavior is this required for?**

* **How could we solve this issue? (Not knowing is okay!)**

* **Anything else?**

astutely identified by #1510

[2018-10-28 03:28] #1516 closed

[2018-10-29 03:51] colinxfleming commented on #1478
@Kevin-Wei

[2018-10-29 20:55] Kevin-Wei commented on #1478
https://github.com/DCAFEngineering/dcaf_case_management/pull/1518
Not 100% about the logic here

[2018-10-30 19:01] Kevin-Wei commented on #1515
https://github.com/DCAFEngineering/dcaf_case_management/pull/1519 system test here

[2018-10-31 00:58] vraravam commented on #1495
@colinxfleming : @tingaloo had asked me to take over the PR, but as I had mentioned, I would much rather start afresh (attributing to him as well). Hope that is ok with you. Please ack before I can start the work.

[2018-10-31 02:32] vraravam opened #1520 "Unable to join the Slack channel"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Join the Slack channel

* **What feature or behavior is this required for?**
Contribution and discussions with the leads.

* **How could we solve this issue? (Not knowing is okay!)**
Either allow self-signups for that slack

[2018-10-31 18:37] mdworken commented on #1520
It appears the link is currently down, but one will normally use https://codefordc.org/joinslack.html as a method of joining the slack. I will see to it that the readme is updated appropriately.

[2018-10-31 18:39] mdworken commented on #1520
Update: it appears the link is included on the readme. The people responsible for the invite link are an external org so we don't have direct control over downtime, but I will ping them to ask on the status

[2018-10-31 21:04] Kevin-Wei commented on #1520
Yeah I don't remember having to be approved to join slack but this was years ago

[2018-11-12 00:03] lomky opened #1523 "Revamp Archive to give logic to Patient object"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Surface archive issues earlier by giving over archive calculations to hte patient object.

* **What feature or behavior is this required for?**
Debugging issues with archive.

* **How could we solve this issue? (Not knowing

[2018-11-15 18:48] colinxfleming opened #1525 "Add scheduled task to refresh address data"
either to heroku or as some kind of thing committed into the code, so address coordinates don't get stale

`rake clinics:update_coordinates` is the command in question

[2018-11-15 22:47] colinxfleming commented on #1498
Closed via #1502 / #1512

[2018-11-15 22:47] #1498 closed

[2018-11-17 00:48] #1497 closed

[2018-11-19 16:10] harumhelmy commented on #1382
@lomky @alisonnjones @NerdyGirl537 I've been the bottleneck for too long! Thanks for your patience. I spoke with Paulina, the case management team's deputy director for the Spanish language line, last week. She said she doesn't think the Spanish DARIA needs to look much different than the other lines - other than that it would be smoother for people if everything is in Spanish. I'm realizing I don

[2018-11-19 16:13] harumhelmy commented on #1382
I just looked up this thread and it looks like y'all already figured some of this stuff out - my bad for doubling work.

[2018-11-19 17:19] montanezp commented on #1382
Hi team! Ready to jump in to answer any questions regarding the user
experience whenever appropriate!

Paulina Montañez-Montes *(she/her/ella)*
Montanezp@gmail.com
Montanezp@gwu.edu
LinkedIn Profile <http://www.linkedin.com/in/pmontanezmontes>
@P_MMontes <https://twitter.com/@P_MMontes>
(916) 519-9733

On Mon, Nov 19, 2018 at 11:13 AM Harum Helmy <notifications@github.com>
wrote:

[2018-11-19 18:33] DarthHater commented on #1382
As a pretty poor speaker of Castellano, I would love to tackle this. Near and dear to mi corazon.

[2018-11-21 20:20] #1494 closed

[2018-11-22 19:40] colinxfleming commented on #1382
Here's a list of partials we need to localize. I think this is everything:

- [ ] login
- [ ] patient edit page
- [ ] patient data entry workflow
- [ ] accounting index
- [ ] calls new
- [ ] clinics new, edit, index
- [ ] configs index
- [ ] dashboards index
- [ ] events index
- [ ] flash messages?
- [ ] lines new
- [ ] header
- [ ] footer
- [ ] reports index
- [ ] users index, new, edit

We can w

[2018-11-23 17:36] colinxfleming commented on #1382
@alisonnjones @harumhelmy @montanezp another thing to note while the translation work is happening: if there's an official-like line for Spanish, would you like that to be reflected in daria? adding new lines is a use case we've kind of planned for, so while we haven't done it yet, it should be pretty quick (and not require a deployment).

[2018-11-23 18:53] colinxfleming commented on #1515
Controller tests for NAF and Medicaid clinics in clinicfinders per #1531

[2018-11-23 19:09] alisonnjones commented on #1382
I would think so! Right? We want that pulled out of the DC MD VA line data
sets? @harumhelmy @montanezp?

On Fri, Nov 23, 2018 at 12:36 PM Colin <notifications@github.com> wrote:

[2018-11-23 19:45] colinxfleming commented on #1520
yeah, I think code for dc has had some website issues recently, but I believe they're out of the woods now? I think they have an autobot that grants slack accounts, so no org-side approval necessary that I remember.

hey @vraravam I'm gonna close this, but please flag in here if you need an assist or if this is still an issue when you try again!

[2018-11-23 19:45] #1520 closed

[2018-11-23 19:56] #1485 closed

[2018-11-23 20:01] colinxfleming commented on #1478
resolved via #1524 I do believe

[2018-11-23 20:01] #1478 closed

[2018-11-23 20:02] colinxfleming commented on #1420
resolved via #1524

[2018-11-23 20:02] #1420 closed

[2018-11-23 20:02] colinxfleming commented on #1523
resolved via #1524

[2018-11-23 20:02] #1523 closed

[2018-11-24 03:57] montanezp commented on #1382
Yes please! Agree with Alison.

On Fri, Nov 23, 2018 at 2:09 PM alisonnjones <notifications@github.com>
wrote:

--
Paulina Montañez-Montes
http://linkedin.com/in/pmontanezmontes
Montanezp@gmail.com
Montanezp@gwu.edu
(916) 519-9733

[2018-11-24 04:10] colinxfleming commented on #1382
Sounds good. I sent out a calendar invite for Tuesday. Should only take a few min but should get confirmation from you all that it'll work.

[2018-11-24 04:23] colinxfleming opened #1532 "Add tooltip for budget bar"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
The budget bar has complicated business logic that we don't surface at all, which means when there are questions, people are taking it more or less on faith.

* **What feature or behavior is this required for?**
A Better Bud

[2018-11-24 04:39] colinxfleming opened #1533 "Consistently sort budget bar entries"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
It can be kind of annoying to have to shuffle through patients in the budget bar, and they aren't always ordered consistently. We should explicitly do some sorting to avoid this surprise.

* **What feature or behavior is thi

[2018-11-24 04:48] colinxfleming opened #1534 "Filter patients resolved_without_assistance from the budget bar"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Patients marked as `Resolved Without Assistance` are showing up in the budget bar. Since the budget bar is supposed to represent live expenditures we're keeping track of, and people marked as such are saying they no longer w

[2018-11-24 04:50] colinxfleming commented on #1458
Spun the minor stuff into its own issues. I'm kinda clueless about what to do re: unsent pledges and graceful expansion in the first post in this issue thread. Going to sleep on it, but we can knock out the easy stuff now.

[2018-11-24 18:05] alisonnjones commented on #1382
Works for me. Thanks, Colin! Looking forward to connecting then.

On Fri, Nov 23, 2018 at 11:10 PM Colin <notifications@github.com> wrote:

[2018-11-26 01:00] #1402 closed

[2018-11-26 04:55] colinxfleming opened #1535 "Add mongoid migrations gem"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

There are scenarios like #1529 where we do want to actually do real data migrations, so we should start doing that. https://github.com/adacosta/mongoid_rails_migrations is a maintained library that looks like it'll do this

[2018-11-26 16:35] Kevin-Wei commented on #1478
👍

[2018-11-29 22:28] DarthHater opened #1537 "Figure out how to best Integration Test the locale changes"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Now that we are introducing another locale (Spanish) in #1526 and follow on work, figure out the best way to test this.

* **What feature or behavior is this required for?**
Essentially just figuring out that all the Spanish

[2018-12-02 15:50] #1364 closed

[2018-12-04 01:02] Kevin-Wei commented on #1537
One option is relying on i18n keys.

I18n.t('key.for.something') can be used by both capybara helpers and matchers

For example
`click_link 'Lock account' ` -> `click_link 'I18n.t("lock_account")' `
`assert_text 'Build your call list'` -> `assert_text 'I18n.t("build_call_list")' `

of course the downside now is you have to change your tests whenever you I18n keys change.

[2018-12-04 18:24] BintLopez opened #1539 "mLabs sunsetting products -- what does this mean for the heroku add-on"
**What are we trying to do?**
MLab is becoming part of MongoDB and as such its products will eventually need to be migrated to MongoDB Atlas.

MLabs announcement blog post here:  https://blog.mlab.com/2018/10/mlab-is-becoming-a-part-of-mongodb-inc/, relevant excerpt below:

**What feature or behavior is this required for?**
required for database and basic app functionality

**How could we solve th

[2018-12-06 18:56] BintLopez opened #1540 "Rake db:seed errors out due to missing procedure_cost field on Fulfillment"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Running rake db:seed should not throw an error.
[code]

* **What feature or behavior is this required for?**
This is required to set up test data. Also, I'd expect an error in the app if procedure_cost is referenced or set w

[2018-12-07 04:40] colinxfleming commented on #1537
I think I'd be good with the 'prove the locale switch works' method -- something like:

[code]

I don't think we need to exhaustively test every key, or key values. I'm mostly interested in 'when we smash the button the language switches'. But I am def open to hearing otherwise. @Kevin-Wei @DarthHater yr thoughts?

[2018-12-07 20:47] DarthHater commented on #1537
@colinxfleming I am 100% on board with that, not because it reduces work load, just because I think it is about as much as I think you SHOULD test. Keys can change quickly, it's really only important to test them if it's like mission critical that something says an exact thing.

[2018-12-07 22:33] alisonnjones opened #1545 "Adopting DARIA 101"
We want to make a one-pager guide with all the top line information another fund would want to know if they are thinking about adopting DARIA. I know this lives in a few peoples’ heads, but will be good to have it all in one place that’s easy to share with folks who are new to DARIA (shoutout to @harumhelmy the idea! 💡).

Tagging DARIA gurus @NerdyGirl537 @lwaldsc

[2018-12-07 22:38] colinxfleming commented on #1545
Lets structure as one paragraph summaries about each of the following: case
management flow, admin tools, security, how to migrate, costs.

On Fri, Dec 7, 2018, 5:33 PM alisonnjones <notifications@github.com> wrote:

[2018-12-08 14:56] #1535 closed

[2018-12-09 18:39] colinxfleming commented on #1495
resolved

[2018-12-09 18:39] #1495 closed

[2018-12-09 18:44] colinxfleming commented on #1493
@NerdyGirl537 @harumhelmy to finish the cc's at the top

@alisonnjones and @mlindberg61 please let us know if there's anything we need to do in the medium term here, or whether this can wait until we promote another set of things from the backlog.

[2018-12-09 21:44] alisonnjones commented on #1493
@colinxfleming i think it makes sense to prioritize this with other future features whenever you're ready to tackle those, but let me know if you have any other questions to answer or if we can flesh this out further in the meantime. looks like some folks are tagged to add on more detail, but would love to have this as firmed up as possible so we can move forward quickly when there is capacity fro

[2018-12-09 22:21] cvaldivia19 opened #1548 "Enforcing 2FA"
Hi! I'm helping review the security audit recommendations and one is to review opportunities to enforce 2FA at the service level. Is this an option with how authentication is currently set up? Thoughts on added benefits?

[2018-12-10 02:40] colinxfleming commented on #1493
I think I'd like some clarification around what we need to really track and what we hope to get out of it, and why we should separate that out into its own fields or data. Maybe another way of asking this question is 'why can't we just stick this kind of thing in the notes field and scramble it when we're done'?

[2018-12-10 02:51] colinxfleming commented on #1548
hey @cvaldivia19 , thanks for surfacing this! It's about time we revisited this question probably.

The answer to your question: sort of. There are plugins that work well with our authentication library (devise) which would do this, but we haven't for a few reasons:

* if we set it up we have to maintain it, and I don't want to maintain a two factor auth system that could go out of date
* my hope

[2018-12-10 13:51] alisonnjones commented on #1493
great questions - tagging @mlindberg61 to respond

[2018-12-10 15:12] mlindberg61 commented on #1493
TL;DR currently DARIA isn't meeting our coordination needs in complicated
cases.

Using the "notes" tab is logical when cases tend to be less complicated,
but a number of factors have changed so that cases can become really
involved (see list of changing circumstances below) -- doing tracking in
"notes" along with the "abortion information" (1) makes it too hard for
multiple people to log in and e

[2018-12-11 15:39] colinxfleming opened #1551 "Fix accountants index n+1 join"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

The accountants index has an n+1 join -- should include/join the clinics collection in the controller

[code]

[2018-12-12 19:19] Kevin-Wei commented on #1537
I didn't mean that it is critical that _every_ key is tested. What I'm recommending is a path forward for areas that have existing view tests that rely directly on text in the test that will be translated.

I also agree that keys should rarely change and its not necessarily a bad thing to add that kind of overhead. It could reveal to us where we are over-testing text on the view. Therefore we can

[2018-12-12 19:22] Kevin-Wei commented on #1551
If this kind of thing gets bad we can consider the bullet gem

https://github.com/flyerhzm/bullet - in can help detect these things while in development (obviously do not enable in production lol)

[2018-12-13 02:10] #1551 closed

[2018-12-14 23:42] #1515 closed

[2018-12-14 23:52] colinxfleming opened #1553 "mongodb in mode studio"
I am interested in whether or not we can punt on doing all our reporting by simply having mode studio rigged up. Mode doesn't support mongodb out of the box but it looks like stitch data will let you.

Note to self to go fishin'.

[2018-12-15 17:01] colinxfleming opened #1555 "Rig up il8n-health"
@lomky set up this gem; we should close the loop after this round of spanish PRs goes in by:

* running `il8n-tasks health` and resolving anything in a PR
* adding this to CI so our builds eat mud if the health check doesn't come back clean

[2018-12-16 05:58] #1337 closed

[2018-12-16 15:54] #1532 closed

[2018-12-17 05:15] colinxfleming opened #1559 "UI cleanup work on Config index page"
Config improvements via an excellent flag by @lomky in https://github.com/DCAFEngineering/dcaf_case_management/pull/1503#pullrequestreview-185419523 --

this is an excellent flag and we should do it!

[2018-12-17 05:15] #1500 closed

[2018-12-21 14:23] colinxfleming opened #1560 "Update Oauth SSO"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Google is phasing out G+ and at least one of our oauth methods (`dcaf single sign on production (dcaf-single-sign-on-production)`) relies on this. We should bump this.

* **What feature or behavior is this required for?**

[2018-12-21 17:47] colinxfleming opened #1561 "Investigate what BRAF wants to report on that they can't now because of the archive process"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

From BRAF:

It's not clear from this what they want to do and can't now, and what 'looking at intake record' means, really. but we should talk to them about it and give them a go or no go just so we  don't leave them hangin

[2018-12-21 18:00] colinxfleming opened #1562 "Add ability to generate pledges for everyone"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

DCAF lets you generate pledges. Other funds do not because we have a bunch of dcaf stuff hardcoded. I am not sure what to do.

* **What feature or behavior is this required for?**

pledge generation

* **How could we solve

[2018-12-21 18:01] colinxfleming commented on #1465
made a few extra issues. The remaining issues in here are all admin manual changes.

[2018-12-22 21:35] colinxfleming opened #1565 "Budget bar: color unsent pledges for appointments in a different week"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

From my conversation with CM Olivia after the first week of the long awaited budget bar:

I think the way to do this is to add another classification of unsent pledge to the effect of 'is for future pledge period' and give

[2018-12-22 21:51] colinxfleming opened #1566 "Budget bar: Gracefully expand when it hits an upper limit"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

When the budget bar starts to really hit its upper limits, it stays within its container and gets extremely scrunched up. We should figure out a way to make it expand gracefully when it gets this full (which I think is usua

[2018-12-22 21:55] colinxfleming commented on #1458
popped everything else outstanding into an issue; closing

[2018-12-22 21:55] #1458 closed

[2018-12-24 03:53] colinxfleming commented on #1555
completed in #1550 so we can close, right @lomky ?

[2018-12-26 03:17] colinxfleming commented on #1555
confirmed done!

[2018-12-26 03:17] #1555 closed

[2018-12-26 21:39] colinxfleming opened #1569 "Make how-to documents/admin manuals available"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We have a few user manuals/admin manuals in google drive (#1429 for example, and the user manual). Having them hidden in a private google drive is not super effective. We should figure out a way to surface these in app, and

[2019-01-16 05:13] colinxfleming commented on #1493
We had a meeting about this today feat @mlindberg61 @deesriv @vtmeghan . The major takeaway here is that patients coming in from out of town and needing some practical are a common enough thing that we should have some kind of in-DARIA accounting for this. We should make it as uncomplex as possible though.

Team DCAF agreed to provide us a CM who would work with us on this. @lwaldsc might put you

[2019-01-16 21:04] lomky opened #1571 "I18n Spanish: Patients - Part 1 (of 3)"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Patient views.
Code links:
app/views/patients/edit.html.erb
app/views/patients/_menu.html.erb
app/views/patients/_patient_information.html.erb

The current English text should be moved to `config/loca

[2019-01-16 21:05] lomky opened #1572 "I18n Spanish: Patients - Part 2 (of 3)"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Patient views.
Code links:
app/views/patients/_abortion_information.html.erb
app/views/clinicfinders/_search_form.html.erb
app/views/patients/_change_log.html.erb
app/views/patients/_call_log.html.erb

[2019-01-16 21:06] lomky opened #1573 "I18n Spanish: Patients - Part 3 (of 3)"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Patient views.
Code links:
app/views/patients/_notes.html.erb
app/views/patients/_fulfillment.html.erb
app/views/patients/_pledge.html.erb
app/views/patients/_new_patient.html.erb

The current English

[2019-01-16 21:07] lomky opened #1574 "I18n Spanish: Clinics"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Clinics views.
Code link:
app/views/clinics/index.html.erb
app/views/clinics/edit.html.erb
app/views/clinics/new.html.erb
app/views/clinics/_clinic_form.html.erb
~app/views/clinicfinders/_search_form.

[2019-01-16 21:08] lomky opened #1575 "I18n Spanish: Dashboards"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the dashboard views.
Code link:
app/views/dashboards/*

_This may not be a good intro i18n ticket_

The current English text should be moved to `config/locales/en.yml`,
and new Spanish text should be adde

[2019-01-16 21:08] lomky opened #1576 "I18n Spanish: Users"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the User views.
Code link:
app/views/users/_search_form.html.erb
app/views/users/_users_table.html.erb
app/views/users/edit.html.erb
app/views/users/index.html.erb
app/views/users/new.html.erb

The curren

[2019-01-16 21:09] lomky opened #1577 "I18n Spanish: Reports"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Report view.
Code link:
app/views/reports/index.html.erb
app/views/reports/_fulfillment.html.erb
app/views/reports/_patient_report.html.erb

The current English text should be moved to `config/locales

[2019-01-16 21:10] lomky opened #1578 "I18n Spanish: Events"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Event view.
Code link:
app/models/event.rb - `EVENT_TYPES`
may require more files updated, due to model string changes.

_This may not be a good intro i18n ticket_

The current English text should be

[2019-01-16 21:11] lomky opened #1579 "I18n Spanish: Configs"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Config views.
Code link:
app/views/configs/index.html.erb
app/views/configs/_config.html.erb

The current English text should be moved to `config/locales/en.yml`,
and new Spanish text should be added

[2019-01-16 21:13] lomky opened #1580 "I18n Spanish: Calls"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Calls view.
Code link:
app/views/calls/_new_call.html.erb
app/helpers/calls_helper.rb

The current English text should be moved to `config/locales/en.yml`,
and new Spanish text should be added to `con

[2019-01-16 21:14] lomky opened #1581 "I18n Spanish: Patient - Data Entry"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Patient Data Entry view.
Code link:
app/views/patients/data_entry.html.erb

The current English text should be moved to `config/locales/en.yml`,
and new Spanish text should be added to `config/locales

[2019-01-16 21:15] lomky opened #1582 "I18n Spanish: External Pledges"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the External Pledges views.
Code link:
app/views/external_pledges/_edit.html.erb
app/views/external_pledges/_new.html.erb
app/views/external_pledges/_external_pledges_table.html.erb

The current English t

[2019-01-16 21:16] lomky opened #1583 "I18n Spanish: Accounting"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n* process.

This ticket is for the Accounting views.
Code link:
app/views/accountants/index.html.erb
app/views/accountants/_search_form.html.erb
app/views/accountants/_table_content.html.erb

The current English text should be moved to

[2019-01-16 21:17] lomky opened #1584 "I18n Spanish: Flash Alerts"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n process.

This ticket is for all outstanding Flash Alerts. It should be picked up after we have finished our initial translation in order to find and translate any missed flash alerts.

_This may not be a good intro i18n ticket_

The

[2019-01-16 21:18] lomky opened #1585 "I18n Spanish: Final Pass!"
## What are we trying to do?

This ticket is part of the DARIA translation effort. The goal is to implement all our text in both English and Spanish through the i18n process.

This ticket is to run through the app in Spanish mode, finding and fixing any missing text fields!
It should be picked up after we have finished our other `I18n Spanish:` tickets.

_This may not be a good intro i18n ticket_

[2019-01-16 21:30] lomky commented on #1579
WIP: #1556

[2019-01-21 15:55] #1525 closed

[2019-01-21 22:13] colinxfleming opened #1587 "Investigate and or turn on Rails 5.2. CSP module, instead of secure_headers"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Rails 5.2 has a CSP module built in, which may or may not be nicer than what we're doing now. Let's investigate and either throw the switch or not do that.

An explanation of the CSP module is here: https://blog.bigbinary.c

[2019-01-21 23:05] #1533 closed

[2019-01-21 23:05] #1534 closed

[2019-01-21 23:06] #1579 closed

[2019-01-23 04:00] #1411 closed

[2019-01-27 05:38] #1545 closed

[2019-01-27 05:50] colinxfleming commented on #759
should come up organically and there isn't a next step for this issue so I'm closing it

[2019-01-27 06:37] colinxfleming commented on #987
marking this futuretech since this hasn't moved in six months and the dude hasn't merged our PR yet.

[2019-01-27 22:12] colinxfleming commented on #1338
After a brief exploratory PR I think this is going to entail a refactor of how we're displaying audit trails. I don't feel super scared of it though!

[2019-01-29 04:16] colinxfleming commented on #1493
![20190128_205150](https://user-images.githubusercontent.com/3866868/51882168-fd422280-234b-11e9-9936-214159a7e432.jpg)

We did some whiteboarding and that was what came out of it. We noted the following commonalities or things we'd want to highlight:

- separate tab within DARIA (agreed upon by everyone)
- Fields are: Travel to DMV; Travel within DMV; Lodging; Buddy (agreed upon by everyone)
- Ot

[2019-01-29 04:20] mlindberg61 commented on #1493
Harum wants to take the DCAF/case manager lead on this so she can take
things from here!!

On Mon, Jan 28, 2019 at 11:16 PM Colin <notifications@github.com> wrote:

--
Marie Lindberg
Deputy Director, Maryland/Other Line
DC Abortion Fund
email: marie.dcaf@gmail.com mobile: 443-789-0824
------------------------------------------------------------------------------------------------------------------

[2019-02-02 14:01] #1560 closed

[2019-02-07 03:16] colinxfleming commented on #1493
Here's a working design based on the pizza box that I think will cover most cases. A thing it doesn't cover is practical support specific notes -- I don't want to implement that unless we absolutely, positively have to because it makes a lot of things a lot more complicated.

Elements of the exquisite corpse designs we incorporated:

* transit, lodging, companions are their own categories
* they h