[2019-02-07 03:19] colinxfleming commented on #1493
![img_20190206_221746](https://user-images.githubusercontent.com/3866868/52388615-391c6c80-2a5d-11e9-993e-907f204df8b6.jpg)

[2019-02-08 16:07] lwaldsc commented on #1493
I would break out Transit into Transit (to DMV) and Transit (in DMV) to separate out say a flight to DC and car transportation to and from a clinic.

Maybe we should add an "Other (See Notes)" line as well with checkboxes and dropdowns to cover all those other needs (childcare, clothing, meals, etc). That removes the need for a separate notes section here.

Otherwise, I think this looks fucking aw

[2019-02-09 02:30] #1338 closed

[2019-02-09 02:55] colinxfleming commented on #1493
I do like the idea of other as a way to avoid the notes section, but I wonder if we can avoid splitting transit Transit to DMV and Transit in DMV? How common is someone needing travel assistance both to and in, and does Companion cover that? Definitely potentially wrong here but want to avoid tracking more info if we can help it!

[2019-02-09 03:01] colinxfleming commented on #1575
Most of this is handled in #1592 and #1593 but there's some partial stuff we can't do with URL params, so I think we can call this okay for now.

[2019-02-09 10:21] mlindberg61 commented on #1493
I think the range of needs and how we cover them are wide enough that it
would be helpful to track them separately. For example, Brigid will pay for
airfare and cabs while DAPSN volunteer will provide escort. Or Fund TX
Choice will cover airfare while Brigid covers hotel and cabs.

On Fri, Feb 8, 2019 at 9:55 PM Colin <notifications@github.com> wrote:

[2019-02-09 15:20] NerdyGirl537 commented on #1493
How hard would it be to do transit like we do when we add other funds to the abortion page? So we can track the type (to or within), what's being provided (airfare, cabs, escort) and which org is doing that.

[2019-02-09 15:37] colinxfleming commented on #1493
tbh I hadn't thought of that, and I'm very glad you brought it up because I think it's a great idea! It would increase the engineering complexity, but the model works well for us with ext pledges, and moves the responsibility of defining types of practical support to funds rather than engineers. I'll draft a design.

[2019-02-10 00:47] harumhelmy commented on #1493
Ooh - agreed that a similar design to the add other funds on the abortion
tab could work real well! Thanks for drafting Colin.

*Harum Helmy*
(ha-room hell-me)
Pronouns: she/her/hers or they/them/theirs

On Sat, Feb 9, 2019 at 7:37 AM Colin <notifications@github.com> wrote:

[2019-02-10 03:56] colinxfleming commented on #728
This has been open for two years plus. I'd like to close it since we've made it this far without it being strictly necessary. @lomky @DarthHater @lwaldsc @NerdyGirl537 please reopen this issue if you think there's a material gain we're losing.

[2019-02-10 03:56] #728 closed

[2019-02-10 03:59] colinxfleming commented on #1429
this got approval, so we're good. Made a ticket to make these accessible thru the UI, but the writing part is done, so closing.

[2019-02-10 03:59] #1429 closed

[2019-02-10 19:05] colinxfleming commented on #1548
Tagging future features since this is something we'll want to revisit, but isn't germane to any work being done currently

[2019-02-10 19:06] colinxfleming commented on #1561
@NerdyGirl537 @alisonnjones has there been any movement on this? Is now a good time to reach out and ask them about this, or should we assume that anything that's really troublesome for them will pop up again organically, or (third option here)?

[2019-02-10 19:07] colinxfleming commented on #1569
Not germane to current work and requires a little bit of planning, so tagging future features

[2019-02-11 05:36] colinxfleming commented on #1493
Here's a modified version that handles more like the external pledges. Pardon the bad drawing.

![img_20190211_002803](https://user-images.githubusercontent.com/3866868/52547284-9e8d9780-2d94-11e9-9160-7243f1130307.jpg)

The gist of it is that up top we have practical support needs already established, and down below we have a 'Also, they need help with' form, to add new stuff. This can work more

[2019-02-12 04:39] colinxfleming commented on #1575
#1600 leaves just the tooltips left.

[2019-02-12 14:11] NerdyGirl537 commented on #1493
I'm on board!

[2019-02-13 05:21] colinxfleming opened #1602 "Add Practical Support view partial to patient view"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Add the Practical Support partial to the patient edit view for when we wire things together. We don't need it working entirely, but we do want to stub out the frontend for when we do want to wire it up. This is a ticket to

[2019-02-13 05:29] colinxfleming opened #1603 "Create Practical Support model embedded under Patient"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Create a model to represent practical support embedded under Patient.

* **What feature or behavior is this required for?**

Keeping tabs on Practical Support assistance a patient needs.

* **How could we solve this issue?

[2019-02-13 05:34] colinxfleming opened #1604 "Create practical support controller"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

If we're going to be changing

* **What feature or behavior is this required for?**

Manipulating practical support.

* **How could we solve this issue? (Not knowing is okay!)**

Let's start by copying over the external ple

[2019-02-14 04:37] colinxfleming commented on #1580
claimed by evan s

[2019-02-18 00:06] colinxfleming commented on #1602
saving this for @harumhelmy

[2019-02-18 06:03] #1578 closed

[2019-02-18 06:05] #1575 closed

[2019-02-18 12:29] #1571 closed

[2019-02-18 22:01] #1365 closed

[2019-02-18 22:45] DarthHater commented on #1576
YO! ✋

[2019-02-20 01:06] DarthHater commented on #1584
YO ✋

[2019-02-20 03:42] #1604 closed

[2019-02-20 21:36] lomky opened #1615 "Flakey Call Log Test"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make out test suite stronger by fixing a flakey test.

* **How could we solve this issue? (Not knowing is okay!)**

Dunno!

* **Anything else?**

Error:

[code]

Maybe the same issue failing in another way here:

[code]

![s

[2019-02-23 18:48] colinxfleming commented on #1603
this is gtg as of #1605 I believe

[2019-02-23 18:49] #1603 closed

[2019-02-23 19:22] colinxfleming opened #1619 "Add practical support config option"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We'll want funds to be able to set their own categories of practical support. We should do this with a config so someone can just add this in the admin panel and we aren't getting fancy.

* **What feature or behavior is thi

[2019-02-24 13:20] lomky commented on #1493
This is going wonderfully! Thank you all for the awesome work!

I'm curious how we want to handle this data we're capturing for reporting & patient archiving purposes.

Since this resembles external pledges far more than it resembles notes, I feel initially okay with keeping this data even after we strip PII off of the patient. Can we brainstorm ways this information could contribute to identifyin

[2019-02-24 13:52] #1582 closed

[2019-02-24 13:53] #1572 closed

[2019-02-24 17:35] colinxfleming commented on #1493
I think the mental model of external pledges for practical support is right on. I think your inclination that we should keep this information in archiving is also right on.

I think w/r/t using this information to identify an anonymized record, the same rules of external pledges also apply -- you would have to either have another organization's data somehow and be able to tie that back, or you wou

[2019-02-24 22:39] colinxfleming opened #1622 "Set up JS build security tools"
Now that we're on webpack, our builds should reflect that. We should add equivalents of brakeman and ruby-audit for JS to our build process.

[2019-02-24 22:42] colinxfleming opened #1623 "Set up docker for yarn"
Since we're on webpack we'll need to update our docker build. Let's make it so `docker-compose build` and `docker-compose up` work again. (Yarn needs to be installed as an executable.)

[2019-02-24 22:43] colinxfleming commented on #1623
@DarthHater  this is your ears burning

[2019-02-24 22:49] colinxfleming opened #1624 "Set up eslint"

[2019-02-25 03:13] colinxfleming commented on #1622
(We have `yarn audit` but I do not know what else to add. This is a ticket to investigate and implement it.)

[2019-02-27 19:45] DarthHater commented on #1623
YO! ✋

[2019-03-01 21:47] colinxfleming opened #1629 "Bump ruby version to 2.6.2"
'tis the season!

[2019-03-01 22:33] colinxfleming commented on #1493
I emailed a friend at a practical support fund re: categories and here's what she said re: how they bucket things:

[code]

I think how this practical support group conceives of these issues squares nicely with how we're conceiving of them generally. Meals and lodging is a little more granular but I think this should be perfectly fine.

[2019-03-02 15:11] #1619 closed

[2019-03-02 18:02] lomky opened #1630 "Erroring Gunk on First Load"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

First startup:
[code]

* **What are we trying to do?**

Figure out whats up and clean this up.

* **What feature or behavior is this required for?**

./shrug

* **How could we solve this issue? (Not knowing is okay!)**

* **Anything else?**

[2019-03-02 19:42] #1576 closed

[2019-03-02 20:01] #1584 closed

[2019-03-02 21:08] #1583 closed

[2019-03-02 22:06] colinxfleming commented on #1566
After thinking about it some I'm closing this as a wontfix -- I think if this is a real pain point it will come up again organically.

[2019-03-02 22:06] #1566 closed

[2019-03-03 15:51] colinxfleming opened #1632 "Move to bootstrap 4 and bootstrap_form 4"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're a major version behind on bootstrap, which wouldn't be a terribly huge deal except our form builder is also moving on, and I want to make sure we're taking advantage of what it offers us in terms of security. So we sh

[2019-03-03 15:54] lomky opened #1633 "Final Pass - User Facing Spanish Review"
This ticket is to capture the last needed Spanish translations _for the Case Manager facing sections_. Admin & Data manager sections _are not required_ for this review.

* **What are we trying to do?**

Browse around on the [Spanish Review](https://github.com/DCAFEngineering/dcaf_case_management/tree/spanish_review) branch and look for English. Look at the regular text, any helper text (the "?"s),

[2019-03-03 15:56] lomky commented on #1633
"Forgot your password?". Would also be nice to have a language swap button on this screen.

![screenshot from 2019-03-03 10-55-23](https://user-images.githubusercontent.com/6129479/53697782-ddff4080-3da2-11e9-96b9-111062dbfccc.png)

[2019-03-03 15:57] lomky commented on #1633
Alert upon login: `translation missing: es.devise.sessions.user.signed_in`

![screenshot from 2019-03-03 10-56-39](https://user-images.githubusercontent.com/6129479/53697797-1272fc80-3da3-11e9-96ed-d891052ac726.png)

[2019-03-03 16:04] lomky commented on #1633
Confirmation box for deleting a call: "Are you sure you want to remove this call from the call log?", "Cancel", "OK".

![screenshot from 2019-03-03 11-03-15](https://user-images.githubusercontent.com/6129479/53697890-00de2480-3da4-11e9-8c1f-39e38417cd05.png)

(Unrelated, this is also an ugly box so we should theme it)

[2019-03-03 16:09] colinxfleming commented on #1633
From a fresh seed, logging a call for Other Contact:

![image](https://user-images.githubusercontent.com/3866868/53697981-dd67a980-3da4-11e9-9daa-dd96c2006d85.png)

[2019-03-03 16:10] colinxfleming commented on #1633
Most Recent Note in the note expander on the patient dashboard:

![image](https://user-images.githubusercontent.com/3866868/53697993-fa03e180-3da4-11e9-9434-0367d0099ff2.png)

[2019-03-03 16:15] colinxfleming commented on #1633
This is bizarre, but on the patient dashboard locale seems to reset to english in table content partials after a manual control-r reload. We might just file this as a bug and move on but wanted to log it.

![image](https://user-images.githubusercontent.com/3866868/53698033-8a422680-3da5-11e9-82c8-271bdc515b44.png)

Steps to recreate:

* Log in
* Switch to spanish
* Control-R to reload the page

[2019-03-03 16:18] colinxfleming commented on #1633
Another weird bug -- Status seems to lag one way or the other in the patient edit view if you click back and forth. Here's an example of the spanish Resolved Without DCAF on the english page:
![image](https://user-images.githubusercontent.com/3866868/53698081-16ece480-3da6-11e9-9b0b-eb776fdecbda.png)

[2019-03-03 16:20] colinxfleming commented on #1633
If you update a field in the patient dashboard (top thing), it doesn't Respect The Localization when it reloads the weeks along calculations:

![image](https://user-images.githubusercontent.com/3866868/53698103-4996dd00-3da6-11e9-8b66-952e4b4fc524.png)

To recreate:

* Go to a patient edit page
* Set appointment date to be sometime in the future

[2019-03-03 16:27] colinxfleming commented on #1633
I don't think we should worry about this for this round, but we should figure out what to do about the changelog field names:

![image](https://user-images.githubusercontent.com/3866868/53698190-6089ff00-3da7-11e9-9f45-0b0c4c71b824.png)

[2019-03-03 16:32] colinxfleming commented on #1633
Need to set locale in the clinic finder search:

![image](https://user-images.githubusercontent.com/3866868/53698243-f45bcb00-3da7-11e9-8eed-9fbc64cebe30.png)

[2019-03-03 16:32] colinxfleming commented on #1633
On logout, a missing translation:

![image](https://user-images.githubusercontent.com/3866868/53698257-15bcb700-3da8-11e9-9dd9-592e48b96520.png)

[2019-03-03 16:54] colinxfleming opened #1635 "Port coffeescript to webpack"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're a webpack household now, and near nobody on the earth writes coffeescript in 2019. Let's convert that all to es6.

* **What feature or behavior is this required for?**

Having our JS code be maintainable and usable in

[2019-03-03 20:26] lomky commented on #1633
Reset password and all else in the file `app/views/devise/shared/_links.html.erb`

![screenshot from 2019-03-03 15-26-06](https://user-images.githubusercontent.com/6129479/53701223-c33fc280-3dc8-11e9-8719-144ba1d6b3ab.png)

[2019-03-03 20:40] lomky commented on #1633
Missing translation:

![screenshot from 2019-03-03 15-39-50](https://user-images.githubusercontent.com/6129479/53701382-9ee4e580-3dca-11e9-8db3-73710e639be2.png)

To recreate:
Hit forgot password
Hit me password reset intructions

[2019-03-03 21:28] lomky commented on #1633
For later, we should standardize our Devise wording either into separate files, or included in the base locale file, but not both.

[2019-03-05 01:16] #1573 closed

[2019-03-05 01:21] #1574 closed

[2019-03-05 01:21] #1580 closed

[2019-03-05 02:23] colinxfleming opened #1638 "Translate changelog"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Here's the changelog in spanish:

![image](https://user-images.githubusercontent.com/3866868/53698190-6089ff00-3da7-11e9-9f45-0b0c4c71b824.png)

We should translate the actual table content.

* **What feature or behavior is

[2019-03-05 02:30] colinxfleming opened #1639 "Translations get mixed up when switching back and forth on patient edit page"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Status seems to lag one way or the other in the patient edit view if you click back and forth. Here's an example of the spanish Resolved Without DCAF on the english page:

![image](https://user-images.githubusercontent.com/

[2019-03-05 03:19] colinxfleming opened #1643 "On patient dashboard, locale seems to reset to english in table content partials after a manual control-r reload"
This is me using the new github split-out-into-issue feature.

This is bizarre, but on the patient dashboard locale seems to reset to english in table content partials after a manual control-r reload. We might just file this as a bug and move on but wanted to log it.

![image](https://user-images.githubusercontent.com/3866868/53698033-8a422680-3da5-11e9-82c8-271bdc515b44.png)

Steps to recreate:

[2019-03-05 16:34] deesriv commented on #1493
Agreed but maybe with a slight addendum to the companion section, since our
clinics require that? Thank you Colin!

On Fri, Mar 1, 2019 at 5:33 PM Colin <notifications@github.com> wrote:

[2019-03-05 22:55] lomky opened #1645 "Clean up Devise Locale Config"
We should standardize our Devise wording either into separate files, or included in the base locale file, but not both.

_Originally posted by @lomky in https://github.com/DCAFEngineering/dcaf_case_management/issues/1633#issuecomment-469066188_

[2019-03-06 00:28] BintLopez commented on #1622
Came across this tool -- https://snyk.io/docs/using-snyk/#wizard

Need to read deeper but at first glance, this might be a good fit.

[2019-03-06 00:36] #1633 closed

[2019-03-06 01:54] lomky opened #1648 "Spanish Bugs!"
More tk

_sometimes_ the locale is lost on login and logout?

Cancel/Ok buttons
Cancel/Next/Complete on Pledge gen

Error on log out: `translation missing: es.devise.failure.user.unauthenticated` (fixed in #1652)

User Page needs translated! (fixed in #1650 )

Weird behavior:
Insurance options - No se reset to Don't Know, both options in list. ( fixed in #1651  )
Database options not routing back

[2019-03-10 02:27] colinxfleming commented on #1648
What do you think about opening up longer term tickets for the cancel/ok buttons, and sometimes the locale being lost?

The cancel/ok button is a particularly hard one since we've rarely touched the multimodal since setting it up, and I don't think the text on a few buttons should hold up a more general launch. (though maybe @montanezp would disagree.)

The language not sticking on logout is a wei

[2019-03-10 14:56] lomky commented on #1645
See i18n devise project:

https://github.com/plataformatec/devise/wiki/I18n
https://github.com/tigrish/devise-i18n/blob/master/rails/locales/es.yml

[2019-03-22 23:59] colinxfleming opened #1654 "Absolutely positively final pass at spanish translations"
from sitting side by side with @montanezp at a coffeeshop doing things side by side to confirm the tenses and tone was right for everything, here are our notes:

diffs

Admin Tools in header should just be admin
Spanish config in admin dropdown -  Manejo de Configuracíon instead of just configuracion

On user profile:
under change your password:
Password -> New Password (and Contraseña nueva)

on

[2019-03-23 16:43] colinxfleming opened #1656 "Abbreviate semanas and dias in a few places"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

If you look at a table on the dashboard in spanish, you'll see something like this:

![image](https://user-images.githubusercontent.com/3866868/54868948-74060580-4d68-11e9-8512-e175dbbe1a46.png)

Note that in the weeks alon

[2019-03-23 17:14] colinxfleming opened #1657 "Clinic finder: Location and distance headers do not translate"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

If you use the clinic finder utility in spanish mode, the result table does not translate the Distance and Location headers. They should be, respectively, `Distancia` and `Ubicación`.

* **What feature or behavior is this r

[2019-03-23 17:17] colinxfleming opened #1658 "Change log: Translate patient model fields to spanish"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The changelog uses english for all the model attributes. This makes it hard to read if you are a spanish CM who needs to work thru it.

* **What feature or behavior is this required for?**

Consistency!

* **How could we so

[2019-03-23 17:35] colinxfleming opened #1659 "Spanish bug: Status not translating on dashboard or patient edit view"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

It's an absolute mystery to me what's going on here, but patient status is not translating in production and I cannot figure out why. See this screenshot from sandbox:

![image](https://user-images.githubusercontent.com/386

[2019-03-24 04:15] colinxfleming opened #1662 "Squelch sass warning on app startup"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

On app startup first load, we get a heaving dose of this:

[code]

Let's fix this!

* **What feature or behavior is this required for?**

Long term health of the app!

* **How could we solve this issue? (Not knowing is okay

[2019-03-31 17:11] colinxfleming opened #1665 "Restore yarn audit after webpacker 4 gets fixed"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Webpacker 4 uses an insecure JS library, js-yaml. Until it gets a new release it's triggering yarn audit in CI and failing builds. This is a ticket to bump the gem, redo the yarn install, and turn `yarn audit` back on.

* *

[2019-03-31 17:23] #1654 closed

[2019-03-31 17:24] #1382 closed

[2019-03-31 17:29] colinxfleming opened #1666 "Squelch devise deprecation warning"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

CI is throwing a lot of warnings to this effect:

[code]

* **What feature or behavior is this required for?**

being able to keep devise up to date, which is really important since it's our auth library!

* **How could we

[2019-04-02 01:08] colinxfleming opened #1667 "Turn on yarn integrity check in docker"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We had to turn off the yarn integrity check in development mode because it was jacking up docker builds. While this isn't SUPER problematic for containerized development environments, we should get it tidied up if we can.

[2019-04-02 01:10] #1623 closed

[2019-04-02 23:01] colinxfleming commented on #1629
fixed in #1663

[2019-04-02 23:01] #1629 closed

[2019-04-02 23:02] colinxfleming commented on #1622
someone exploring that and figuring out if it's a) free and b) better than yarn audit that would rule!

[2019-04-02 23:05] lomky commented on #1577
Closing as not needed. We do not have a use case for reports in Spanish.

[2019-04-02 23:05] #1577 closed

[2019-04-02 23:07] rudietuesdays commented on #1666
I can grab this tonight!

[2019-04-02 23:08] colinxfleming commented on #1645
Let's please go with separate file if we can, and vendor as much as possible!

[2019-04-02 23:09] rudietuesdays commented on #1665
ambitiously planning to tackle this tonight as well!

[2019-04-02 23:11] lomky commented on #1658
@colinxfleming Is this a repeat of #1638?

[2019-04-02 23:13] lomky commented on #1648
I'll break this out into real tickets tonight at the hacknight!

[2019-04-02 23:46] drubaby commented on #1581
I'd like to work on this issue tonight!

[2019-04-03 00:00] lomky opened #1670 "Spanish: Translate Multimodal Buttons"
Cancel/Ok buttons and the Cancel/Next/Complete on Pledge gen need to be translated to Spanish.

[2019-04-03 00:04] lomky opened #1671 "Spanish Bug: Locale setting sometimes lost on Login / Logout"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Sometimes the app swaps back to English when you log in or log out. The log out isn't such a big problem, but it's annoying to swap the app to Spanish twice.

* **What feature or behavior is this required for?**

Better Spa

[2019-04-03 00:04] lomky commented on #1648
All issues addressed or broken out into distinct issues.

[2019-04-03 00:04] #1648 closed

[2019-04-03 00:34] lomky commented on #1581
@drubaby this is already in progress in #1649 - sorry that wasn't tagged on here!

[2019-04-03 00:39] #1581 closed

[2019-04-03 00:50] #1602 closed

[2019-04-04 02:19] #1630 closed

[2019-04-04 02:26] #1624 closed

[2019-04-07 16:11] colinxfleming opened #1680 "JS: Port calls.coffee from coffeescript to ES6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're porting our custom javascript to ES6! This ticket is to port over:

calls.coffee into app/javascript/src/call_list_drag_and_drop.js

* **What feature or behavior is this required for?**

Long term project health and m

[2019-04-07 16:12] colinxfleming opened #1681 "JS: Port clinics.coffee from coffeescript to ES6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're porting our custom javascript to ES6! This ticket is to port over:

clinics.coffee into app/javascript/src/clinic_select_filter.js

* **What feature or behavior is this required for?**

Long term project health and ma

[2019-04-07 16:12] colinxfleming opened #1682 "JS: Port external_pledges.coffee from coffeescript to ES6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're porting our custom javascript to ES6! This ticket is to port over:

external_pledges.coffee into app/javascript/src/pledge_modal.js

* **What feature or behavior is this required for?**

Long term project health and m

[2019-04-07 16:13] colinxfleming opened #1683 "JS: Port pledge calculator part of patients.coffee from coffeescript to ES6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're porting our custom javascript to ES6! This ticket is to port over:

patients.coffee into app/javascript/src/pledge_calculator.js

Note that this file contains a lot of unrelated functionality, so no need to port it al

[2019-04-07 16:14] colinxfleming opened #1684 "JS: Port table_sorting.coffee from coffeescript to ES6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're porting our custom javascript to ES6! This ticket is to port over:

table_sorting.coffee into app/javascript/src/table_sorting.js

* **What feature or behavior is this required for?**

Long term project health and mai

[2019-04-07 16:15] colinxfleming opened #1685 "JS: Port tooltips.coffee from coffeescript to ES6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're porting our custom javascript to ES6! This ticket is to port over:

tooltips.coffee into app/src/javascript/tooltips.js

* **What feature or behavior is this required for?**

Long term project health and maintainabili

[2019-04-07 16:25] colinxfleming opened #1686 "JS: Port over autosave part of patients.coffee from coffeescript to ES6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We're porting our custom javascript to ES6! This ticket is to port over:

L57-58 and L65-66 of patients.coffee into app/src/javascript/autosave.js

* **What feature or behavior is this required for?**

Long term project hea

[2019-04-07 16:37] colinxfleming commented on #1587
resolved in #1668

[2019-04-07 16:37] #1587 closed

[2019-04-07 19:00] colinxfleming commented on #1565
@alisonnjones @harumhelmy @mlindberg61 @vtmeghan because the rules here are complicated (and probably DCAF-specific) as they are, I'm going to close this as a wontfix. In the event that this does need to be done and is a priority for you all, please let me know, otherwise I'm content to assume this is okay unless it comes up again organically.

[2019-04-07 19:00] #1565 closed

[2019-04-07 19:05] colinxfleming commented on #1417
@alisonnjones @NerdyGirl537 I'm going to close this since it's not really a DARIA issue and if we have to do it, it'll come up on its own. Please reopen or let me know if you object.

[2019-04-07 19:20] colinxfleming commented on #1464
We can't require MFA on auth: https://stackoverflow.com/questions/30291770/oauth2-but-require-multi-factor-authentication-mfa

Should we go google auth only (in production)? yeah probably! It might be prudent to shut off the routes `unless [nil, 'Sandbox'].include? ENV['DARIA_FUND']`,  but we should 10000% confirm that with user funds first. Last I looked almost all of the accounts were google rel

[2019-04-07 19:23] colinxfleming commented on #1387
Is this something we still want to do? @alisonnjones

[2019-04-07 19:24] colinxfleming commented on #1635
Released into the pond -- now this is #1680 #1681 #1682 #1683 #1684 #1685 #1686

[2019-04-07 19:24] #1635 closed

[2019-04-07 19:24] colinxfleming commented on #1635
(Bumping this up in the chain because we've had a lack of good hacknight issues lately and these are kind of ideal)

[2019-04-07 19:26] colinxfleming commented on #1559
marking future features since there isn't an obvious Next Step to this / there's a little hashing out to do yet

[2019-04-07 19:57] colinxfleming commented on #1441
We aren't eligible for this because DARIA is not on the open internet, and I don't think sandbox counts.

[2019-04-07 19:57] #1441 closed

[2019-04-07 20:00] colinxfleming commented on #1460
Mongoid support got merged! https://github.com/devise-security/devise-security/pull/76

[2019-04-07 21:40] deesriv commented on #1387
@alisonnjones we probably don’t want to do this because NAF has actively
asked us not to during our most recent convos with them— but open to
others’ opinions!

On Sun, Apr 7, 2019 at 3:23 PM Colin <notifications@github.com> wrote:

[2019-04-08 16:19] alisonnjones commented on #1417
No this makes sense to me. We're planning to use an external service for
the eform and have CMs copy and paste the info in DARIA, so no DARIA
engineering necessary here. Thanks.

On Sun, Apr 7, 2019 at 3:05 PM Colin <notifications@github.com> wrote:

[2019-04-08 16:21] alisonnjones commented on #1387
I think we should close this thread. We explored different options (proxy
for FPL, calculator for NAF formula, etc.), but we really don't have the
info we need from NAF to make this possible and/or useful for case
management. Glad we explored it and did our due diligence, but let's move
on.

On Sun, Apr 7, 2019 at 5:40 PM deesriv <notifications@github.com> wrote:

[2019-04-08 16:22] alisonnjones commented on #1565
Sounds good to me. Thanks!

On Sun, Apr 7, 2019 at 3:00 PM Colin <notifications@github.com> wrote:

[2019-04-08 17:08] colinxfleming commented on #1387
thanks all!

[2019-04-08 17:08] #1387 closed

[2019-04-08 17:11] #1417 closed

[2019-04-08 21:55] colinxfleming opened #1687 "Upgrade prod DARIA MongoDB to 3.6"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

MLab sent us an email about part of their transition, and how it includes upgrading a bunch of mongodb instances to 3.6. The DCAF DARIA prod DB is one of them. This is a ticket for @colinxfleming to do that.

There's a self

[2019-04-09 01:21] colinxfleming commented on #1656
I'm tackling this as it winds up being a good opportunity to refactor some of the LMP Measureable code and just have the methods return numbers.

[2019-04-13 16:54] #1657 closed

[2019-04-14 03:56] colinxfleming commented on #1658
it definitely is, thanks for flagging!

I found out a pretty surgical adjustment that I think is going to work.

[2019-04-21 15:40] colinxfleming opened #1691 "Perform an a11y/WCAG review"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We've got a decent userbase and haven't holistically looked at accessibility for our case management corps. Disability and accommodation are a reproductive justice issue so we should take the time to step back and make sure

[2019-04-21 15:46] colinxfleming commented on #679
This is coming up on three years without any forward action, which makes me think there isn't a critical pain point around this. @alisonnjones @vtmeghan @deesriv @mlindberg61 can we close?

[2019-04-21 15:51] colinxfleming commented on #1469
@mdworken is this still a pressing concern? Can we either close or spec this out? I'm not familiar with the particular pain point you all have been experiencing, and there's not a next step here currently.

[2019-04-21 16:44] deesriv commented on #679
This is one of the proposed interventions to prevent drop off, it doesn’t
impact CM operations but it will reduce burden for callers— @alisonnjones
and harum and I started having scattered convos about it but would love to
revisit about what’s possible and reasonable!

On Sun, Apr 21, 2019 at 11:46 AM Colin <notifications@github.com> wrote:

[2019-04-23 01:16] colinxfleming commented on #679
My opinion is that if there is a specific and identified pain point for CMs that this would address then we should keep it on the backlog and prioritize it accordingly. If it's not, then we should close this out as something we won't do unless it comes up again organically, since that probably means it's going to hang out on the backlog forever.

[2019-04-23 01:25] deesriv commented on #679
For sure! Closing for now makes sense, but I don’t want to completely lose
this thread, as it relates to some of the operational changes to CMing that
we’ve been thinking about over the last few months with our strategic
planning workgroups and such. Cool if we bring it back to y’all once we’ve
ironed out a more comprehensive plan to handling/preventing caller drop
off?

On Mon, Apr 22, 2019 at 9:

[2019-04-23 01:27] colinxfleming commented on #679
yeah, if it comes back up organically as part of a broader thing then that's cool, but absent a broader thing we'll never get to it so there's no point considering it 'outstanding work to do'. thanks much @deesriv

[2019-04-23 01:27] #679 closed

[2019-04-23 02:43] #1656 closed

[2019-04-23 02:43] #1491 closed

[2019-04-23 23:24] bravogolfgolf commented on #1686
I got this one.

[2019-04-23 23:25] jmhooper commented on #1681
I'll grab this one and see how far I can get.

[2019-04-23 23:28] colinxfleming commented on #1680
I got this one!

[2019-04-24 00:00] rudietuesdays commented on #1685
boopin onto this!

[2019-04-24 00:08] jmhooper commented on #1684
Looking into this one :eyes:

[2019-04-24 00:41] colinxfleming commented on #1683
This one is patients.coffee L4-L48, 60-68, and 77-82

[2019-04-24 00:47] bravogolfgolf commented on #1683
I will take this one.

[2019-04-24 00:48] jmhooper commented on #1682
Looking at this one :eyes:

[2019-05-01 16:10] colinxfleming opened #1697 "Railsconf punchlist"
Leaving some notes in here from railsconf:

* fasterer looks fun!
* someone made a good point about too many build commands, instead of just rails test. might be worth rolling other linting type stuff like brakeman and bundle audit into rails test, so that everything runs in the context of that
* we should set up sentry

[2019-05-01 16:24] colinxfleming commented on #1697
should make sure that success/warning text has some other textual indication, since red/green colorblindness is a thing

[2019-05-01 16:54] colinxfleming commented on #1697
Derailed benchmarks gem

[2019-05-01 18:57] colinxfleming commented on #1697
cedar stack EOL, time to bump heroku instances

[2019-05-01 19:04] colinxfleming commented on #1697
look at the actionview components talk

[2019-05-01 19:49] colinxfleming commented on #1697
Salus gem

[2019-05-18 16:57] colinxfleming opened #1698 "Add option to start budget week on non-Monday"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Per correspondence, BRAF is experimenting with weekly budgets and planning on having their budget start day be on something that isn't monday, which isn't as helpful since there's a day shift. To that effect, we should make

[2019-05-20 16:53] colinxfleming opened #1699 "Remove spring gem"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The spring gem has kind of outlived its usefulness in Rails world ever since bootsnap became a thing, and can make things behave a little weird. We should remove this and any related artifacts.

* **What feature or behavior

[2019-05-20 18:51] valeriecodes commented on #1698
I'll take a look at this.

[2019-05-21 17:56] valeriecodes commented on #1698
@colinxfleming I'm looking around and not finding where the budgets are calculated based on date, just the individual patient pledges. Would you be able to point me to a file in the codebase or a page in the app where I could see?

[2019-05-21 18:16] valeriecodes commented on #1691
@colinxfleming I'd like to tackle this. Here's what I'm thinking:

* Generate reports on a subset of pages
* Assess and prioritize fixes
* Potentially add a11y linting step to CI process

[2019-05-21 20:32] colinxfleming commented on #1698
@valeriecodes sorry, my bad for not adding more detail for this! Should have added more of a grand tour.

The method that generates the report is here: https://github.com/DCAFEngineering/dcaf_case_management/blob/master/app/models/patient.rb#L143

The place this actually shows up in a view is the patient dashboard here: https://github.com/DCAFEngineering/dcaf_case_management/blob/master/app/views/

[2019-05-21 20:53] colinxfleming commented on #1691
@valeriecodes I think that's a wonderful game plan, and consistent with how we've done reviews on this project. (Personally, I take it to be a good sign that our approach matches yours!) I also think that this can be done independently of case management feedback, so no need to wait on that if you've got the energy to tackle this.

in short, thumbs up, this is a great plan. Is there a way I can be

[2019-05-21 20:55] valeriecodes commented on #1691
@colinxfleming I'm gonna take a run at generating some reports and then I'll loop you in. ✨

[2019-05-22 21:40] valeriecodes commented on #1691
@colinxfleming Here's what I came up with: https://docs.google.com/spreadsheets/d/1qh08MwZhg6ILWrzx-rMKJK3hbNv4RI8Z4s1k0osNieE/edit?usp=sharing

These are generated using axe and [axe-reports](https://github.com/louis-reed/axe-reports), with a Selenium script that I wrote and ran locally. There's certainly more surface area to cover.

I ran the report on a handful of pages and sorted by severity o

[2019-05-23 00:41] colinxfleming commented on #1691
honestly I think if we get the main stuff that CMs interact with (login page, main dashboard, patient edit page) that gets us pretty far! and it seems that this does, so I think this is a wonderful list that makes a significant stride toward making DARIA much more accessible for CMs. (I think doing it for the other views is awesome too but the bulk of our users are case managers.)

It also looks l

[2019-05-23 01:38] colinxfleming commented on #1463
@valeriecodes this is something that I've been meaning to do for awhile that I think would be a great security and administration value-add, if you've got interest and capacity. If it sounds good or interesting to you, lmk!

[2019-05-23 01:39] valeriecodes commented on #1463
YES!

[2019-05-23 02:19] colinxfleming commented on #1463
❗️
so if left to my own devices, I would implement something along the lines of this:
* a new page
* can hook up the actual events into our existing event model and having it include some other stuff, though you'll probably want to add a new type of event.
* the simplest event to make is probably new user being added -- let's start with that and then see about adding the other stuff.
* our existin

[2019-05-23 15:43] valeriecodes commented on #1691
I'll knock 'em out! The script is here: https://gist.github.com/valeriecodes/459cf5e4039cc5b0ec3034cd0236b4c3
I did it semi-manually and would require some additional work to turn into something that could be run and have it spit out something useful on any computer, but with that caveat I'm happy to check it in still if you'd like.

[2019-05-23 15:49] valeriecodes opened #1701 "Accessibility fixes from aXe audit"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make DARIA more accessible

* **What feature or behavior is this required for?**
Allow folks with screenreaders or other assistive technology to use the app

* **How could we solve this issue? (Not knowing is okay!)**

* Add

[2019-05-26 04:37] colinxfleming commented on #1691
I def don't think it's necessary to make it reproducible, but I do think it's good news to have some reference to what happened in case we do decide we need to look at it again someday. thank you very much for checking that into a gist!

[2019-05-26 14:42] #1684 closed

[2019-05-30 02:49] #1701 closed

[2019-05-31 20:29] valeriecodes opened #1704 "Insufficient color contrast in several locations"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make the app accessible.

* **What feature or behavior is this required for?**
aXe identified a few elements that do not have sufficient color contrast to meet accessibility standards. Related: https://github.com/DCAFEnginee

[2019-06-01 17:44] colinxfleming commented on #1461
Let's make the action item herre to install the `password_strength` library and call this good. I do still want to be all oauth someday but I think that will require more time and energy than we have right now.

[2019-06-04 01:19] colinxfleming commented on #1622
I did some wrenching in here not long ago to squelch npm vulns and I think we can safely declare this okay with yarn audit. Also, after taking a look at snyk on an unrelated project it looks very nice but I'm not sure it gives us that much more than yarn audit. #1665 should rep the work here. Let's close.

[2019-06-04 01:19] #1622 closed

[2019-06-04 01:42] colinxfleming opened #1706 "Set up sentry"
I had a lovely conversation with the Sentry reps at Railsconf and I think the free plan of sentry might be a good investment. Let's investigate and see if we can rig this up.

[2019-06-04 01:42] colinxfleming commented on #1697
spun sentry into its own issue but the rest probably aren't worth it. declaring victory

[2019-06-04 01:42] #1697 closed

[2019-06-11 01:57] colinxfleming commented on #1687
this happened automatically!

[2019-06-11 01:57] #1687 closed

[2019-06-11 17:27] mdworken commented on #1698
@valeriecodes are you still working on this one? Mind if I grab it?

[2019-06-11 17:31] valeriecodes commented on #1698
Go ahead @mdworken !

[2019-06-11 18:06] colinxfleming commented on #1685
@rudietuesdays still on this?

[2019-06-11 18:07] colinxfleming commented on #1682
@jmhooper still on this one?

[2019-06-11 18:09] colinxfleming commented on #1665
this might be live again! webpacker is on 4.0.7 now so this is probably boopable, hopefully?

[2019-06-11 18:11] colinxfleming commented on #1666
@rudietuesdays still working on this one?

[2019-06-11 22:56] jmhooper commented on #1682
Yep!

[2019-06-11 23:42] colinxfleming commented on #1699
completed in #1708

[2019-06-11 23:42] #1699 closed

[2019-06-12 00:24] #1680 closed

[2019-06-12 00:26] #1681 closed

[2019-06-13 02:44] #1683 closed

[2019-06-20 04:04] colinxfleming commented on #1698
Resolved by #1709

[2019-06-20 04:04] #1698 closed

[2019-06-26 02:02] colinxfleming opened #1719 "Add config to turn off practical support module"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Not every fund does practical support and it might confuse CMs that do.  We should add an option to turn this shit off.

* **What feature or behavior is this required for?**
Practical support rollout!

* **How could we solve

[2019-06-26 02:07] colinxfleming opened #1720 "Add config to add custom practical support type options"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Funds might be interested in their own types of practical support and we should support that. So we should add a config to add practical support types like we do for, like, insurance options.

* **What feature or behavior is

[2019-06-26 02:12] colinxfleming opened #1721 "Hook up practical support to exportable"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We should represent practical support in exportable.

* **What feature or behavior is this required for?**
Making good data on practical support available!

* **How could we solve this issue? (Not knowing is okay!)**
Follow

[2019-06-26 02:19] colinxfleming opened #1722 "Translate Practical Support module"
* **What are we trying to do?**
This ticket is part of the DARIA translation effort. We are trying to implement our text in both English and Spanish thru the i18n process.

This ticket is for the practical support module.
Code link:
app/views/views/practical_supports/*
app/controllers/practical_supports_controller.rb (flash messages)

In addition, there's an additional menu item to translate, `pra

[2019-06-26 02:24] colinxfleming opened #1723 "Practical support omnibus"
placeholder ticket for review

UX portion of #1493

[2019-06-26 23:16] colinxfleming commented on #1722
please note that we shouldn't do this until we get a UX review.

[2019-06-26 23:17] colinxfleming commented on #1493
I think this ticket now reflects the state of the world -- we have some backend stuff to do, some additional wiring to do, translations to do, and we need to wire up.

I'm not comfortable shipping this until we get a UX review from either @mlindberg61 or @harumhelmy or preferably both, so we'll need to do that as well and address any changes then.

[2019-07-02 02:48] rcackerman commented on #1645
@colinxfleming I'd be down for working on this! Would using the [devise-i18n gem](https://github.com/tigrish/devise-i18n) be of interest, or are you trying to limit dependencies?

[2019-07-08 21:59] valeriecodes commented on #1463
Hi @colinxfleming, took a closer look at this one today. I also noticed the AuditTrail, which could also potentially be used for the created user use case, but in the interest of extensibility I assume it's preferable to take the events approach?

[2019-07-10 04:56] colinxfleming commented on #1463
@valeriecodes I could def be convinced that we could do this all with audittrail. Down the line we're going to care about stuff like privilege escalations, logins, etc, and maybe some other stuff outside the user model Events as its own model felt like the most straightforward way to do that when we were setting up the CM activity feed, but if AuditTrail works out of the box without having to writ

[2019-07-12 04:15] colinxfleming commented on #1723
some UX feedback:

* possible to be exploring multiple practical support providers, so probably don't want to enforce uniqueness on that.
* not clear whether the organization is quarterbacking or providing. Probably should be quarterbacking, but need to make that clear.
* some ext pledge options aren't relevant and we should strip them from the list (Clinic Discount doesn't make sense, for example

[2019-07-13 14:53] #1719 closed

[2019-07-13 15:58] colinxfleming commented on #1720
we apparently already did this, though I don't remember it. (must be getting old)

[2019-07-13 15:58] #1720 closed

[2019-07-18 05:05] colinxfleming commented on #1723
particulars are done here, but keeping open until we get final sign off.

[2019-07-23 04:43] #1662 closed

[2019-08-03 05:11] colinxfleming opened #1733 "Replace state text field with state_geo_tools gem list"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I wrote a oneshot library that builds lists of states, `state_geo_tools`. Should use it in selects instead of text inputs where people are inputting state.

It looks like we have state

* app/views/clinics/_clinic_form.html

[2019-08-03 05:11] #1722 closed

[2019-08-07 22:49] colinxfleming opened #1736 "Add config for fund specific psupport documentation"
Similar to `resources_url`, but called `practical_support_guidance_url` instead

[2019-08-07 22:51] colinxfleming commented on #1666
freeing this up!

[2019-08-08 00:27] cassidyjean9 opened #1741 "Docker Build Broken"
![image](https://user-images.githubusercontent.com/51214010/62666526-c596e180-b951-11e9-9be6-47a168486b13.png)

[2019-08-11 02:00] #1736 closed

[2019-08-12 03:46] colinxfleming commented on #1493
We have a few remaining ticketed items to take care of but the bulk of the work here is resolved.

[2019-08-12 03:46] #1493 closed

[2019-08-12 03:47] colinxfleming commented on #1723
:shipit:

[2019-08-12 03:47] #1723 closed

[2019-08-13 04:06] colinxfleming opened #1744 "heroku terraform?"
leaving this here to think about whether it's worth checking in the heroku devops stuff to the codebase!

[2019-08-16 03:45] #1721 closed

[2019-08-18 05:39] colinxfleming commented on #1686
Here's a hint: https://github.com/rails/jquery-ujs/wiki/How-to-trigger-a-form-submit-from-code

[2019-08-21 04:10] colinxfleming opened #1749 "It's possible to create users without a role?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Here's a weird bug:

* go to user management page
* add a new user
* fill in email and name, don't change the role, click add
* for some reason, they don't have a role set?

The expected behavior should be that the user is c

[2019-08-22 03:30] colinxfleming opened #1750 "Replace glyphicons with font-awesome icons"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Unfortunately for us, they took glyphicons out of bootstrap 3, so we gotta make the switch. Fortunately it looks like font-awesome library is an effective replacement for the basic stuff we're using like phone and magnifyin

[2019-08-22 03:34] colinxfleming commented on #1685
this has an x-factor in it of its dependency on a bootstrap jquery function, `tooltip()`. Our bootstrap assets live in sprockets and this lives in webpack, so we either need to port over the tooltips stuff adhoc or wholesale move bootstrap to webpack. Prrrrobably we should do the latter but let's call this dead in the water for now, since operating out of sprockets isn't super painful.

[2019-08-22 03:36] colinxfleming commented on #1682
`modalSteps()` depends on a vendored library which isn't on npm, and which hasn't been touched in several years. We should either re-vendor it in webpack or kill it dead and replace it with something else, but this file is fine to hang out in sprockets for now.

[2019-08-22 03:36] colinxfleming commented on #1686
This has been a real mystical journey that's been high time and low reward, so I'm backlogging it again for now.

[2019-08-22 04:11] colinxfleming opened #1751 "Let's talk about whether moving to postgres is feasible"
I know a bunch of us have done some independent exploration of this, so I'm interested in getting a team decision on paper. Should we port DARIA over from mongodb to postgres? I would like to open up a discussion on this and make a team decision to commit for the next year or two years.

We originally picked mongoid because we thought it would jumpstart development, and it definitely did. By not w

[2019-08-22 04:21] colinxfleming opened #1752 "Let's talk about whether installing some limited js framework is a good idea"
I am admittedly starting from a place where I don't want to do this, but I think that the patient edit view is pretty complicated and I think we might benefit from some one-way state management of the variety that stimulus or react provides. Now that we are a webpack operation I think this would be much easier to maintain, and the fact is that stuff like `patients/update.js.erb` is really, really

[2019-08-22 04:23] colinxfleming opened #1753 "Replace circleci with github actions"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Our problems with CircleCI are pretty well established, but the big one is that builds from forks all fail. That sucks. Can we do better with github actions?

* **What feature or behavior is this required for?**

a CI Syste

[2019-08-22 21:51] colinxfleming opened #1754 "ACCESSIBILITY: Fix color contrast in navbar"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
To make our app accessible we want to make sure colors contrast enough. To that end we should fix these color contrast issues on the main navbar:

* `<li class="navbar-text-alt">Your current line: DC</li>`: Element has insuf

[2019-08-22 22:03] colinxfleming opened #1755 "Squelch js vulnerabilities"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The following things are things in our yarn.lock which need updating to squash vulnerabilities:

* fstream (update to @^1.0.12)
* lodash (update to @^4.17.13)
* lodash.template (update to @^4.5.0, but might be covered if we

[2019-08-22 22:10] colinxfleming commented on #1744
update: no

[2019-08-22 22:10] #1744 closed

[2019-08-22 22:13] colinxfleming commented on #1741
(this is what happens when, from a fresh clone, you run `docker-compose build && docker-compose up` and go to localhost:3000 in your browser.)

[2019-08-22 23:06] tingaloo commented on #1755
i'll check this out.

[2019-08-22 23:46] tingaloo commented on #1755
should we handle criticals only?

[2019-08-22 23:49] colinxfleming commented on #1755
If you want to resolve others that arent listed critical, i would say go
for it

On Thu, Aug 22, 2019, 7:46 PM Lew <notifications@github.com> wrote:

[2019-08-23 00:03] geoffreyyip commented on #1733
@colinxfleming I can give this a shot

[2019-08-23 00:07] tingaloo commented on #1741
looking into this.

[2019-08-23 02:18] #1755 closed

[2019-08-23 03:59] tingaloo commented on #1741
This stumped me, applying this https://github.com/rails/webpacker/blob/master/docs/docker.md didn't exactly work.

Webpacker is not being read in the web_1 docker build even after ```yarn install```
Going to look more into the dockerfile later.

[2019-08-23 14:50] tingaloo commented on #1752
Since we have webpacker in place, these guys open up https://github.com/rails/webpacker#integrations.

[React](https://github.com/facebook/react): Safe choice since it is widely adopted all around. (was thinking of other funds adopting the app).

[Stimulus](https://github.com/stimulusjs/stimulus): It looks really stable but neglected (The copyright on the github page has not been updated.)

[vuejs

[2019-08-30 04:50] colinxfleming opened #1764 "Upgrade devise"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We're on version 4.6.1 of devise and it's not rails 6 ready. Bump to a version that is.

* **What feature or behavior is this required for?**
rails 6!

* **How could we solve this issue? (Not knowing is okay!)**
figure out w

[2019-09-01 15:10] colinxfleming commented on #1469
I think we're likely to broadcast any particular major breaking changes to this, and core functionality is covered by the controller tests, so I'm going to close this out as a wontfix for now. If we have specific concerns around locking in behavior we can revisit, but this hanging out in the backlog for a full year is I think a signal that it's not particularly scary; also as we've seen the export

[2019-09-01 15:10] #1469 closed

[2019-09-01 15:12] colinxfleming commented on #1615
This has not been super problematic recently so I'm closing. Can always reopen if it winds up continuing to bite.

[2019-09-01 15:12] #1615 closed

[2019-09-01 15:22] colinxfleming commented on #1752
Thank you very much for the great overview of potential solutions to this problem! My inclinations are toward stimulus (rails-y, stable, not very intrusive) or react (heavy, but extremely widely adopted). I think vue is a tough sell because it's not as widely understood, so we'd all have to learn it; angular I agree is much too heavy for what we're trying to do, and I've honestly never been able t

[2019-09-01 15:30] colinxfleming commented on #1753
@DarthHater wrote an initial port in #1756 that covers core testing workflows that is lovely. It looks like they haven't quite worked out ruby version management per https://github.com/actions/setup-ruby/issues/8 so that's a thing we'll have to wait for before full adoption; we also still need to work out the deployment to sandbox on bump of master, but that's fine living in circle for now.

To ma

[2019-09-02 16:59] tingaloo commented on #1752
I'll give this a shot with react, i'll push a WIP PR with the amount of effort with gutting tests/controller.

[2019-09-07 16:23] colinxfleming opened #1770 "Add option for monthly tracking to budget bar (DUE: Nov 1)"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Carolina is mostly set with our existing suite, but they do calculate their budget monthly. After confirming with them that they aren't going to use the budget bar as their canon budget system, I think it's reasonable to su

[2019-09-10 03:41] colinxfleming commented on #1753
alternatively, we might be able to define a container image?

[2019-09-11 04:40] colinxfleming commented on #1741
I think this mysteriously started working out of nowhere with a recent docker upgrade? would like to have someone besides me investigate this at hacknight.

[2019-09-11 22:54] lomky commented on #1770
Working on this!

[2019-09-11 23:45] #1749 closed

[2019-09-11 23:48] colinxfleming commented on #1764
fixed by #1774

[2019-09-11 23:48] #1764 closed

[2019-09-11 23:51] mdworken commented on #1666
Closed via #1737

[2019-09-11 23:51] #1666 closed

[2019-09-14 21:08] #1750 closed

[2019-09-15 01:12] colinxfleming opened #1786 "Implement feedback from #1776"
https://github.com/DCAFEngineering/dcaf_case_management/pull/1776

I messed up and merged thisbefore it was approved.

[2019-09-15 01:18] colinxfleming opened #1787 "Remove section tags and bootstrap_form_tags from app"
bootstrap_form_tag / bootstrap_form_for

section elements

[2019-09-17 16:01] colinxfleming commented on #1632
This is underway. We're doing it in such a way that at the end we'll still be in sprockets, but will be firmly on bootstrap 4 (with much cleaner HTML as a fringe benefit).

After that, we should ticket moving our BS4 install from sprockets to webpacker, and then write a gameplan for a JS framework implementation if that still feels like a good idea.

[2019-09-18 17:00] colinxfleming commented on #1770
Added due date to the issue title -- CAF is coming on Nov 1 and we should aim to have this in place for them then, or shortly after.

[2019-09-20 15:00] colinxfleming opened #1788 "Implement mt-* and d-none classes over custom hidden classes"
see @tingaloo in   https://github.com/DCAFEngineering/dcaf_case_management/pull/1779  for example

[2019-09-21 05:10] colinxfleming commented on #1788
mb-* too per https://github.com/DCAFEngineering/dcaf_case_management/pull/1782/files

[2019-09-24 03:23] colinxfleming opened #1791 "Add new fields to data entry form"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Our data entry view is a little dusty and a lot has happened to the data model since we built it, so we should spruce it up by adding the new fields.

* **What feature or behavior is this required for?**

Keeping data entry

[2019-09-28 21:22] colinxfleming opened #1793 "Fix factorybot deprecation warnings"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I was getting my test on this afternoon and I noticed this deprecation warning:

[code]

Let's squelch this deprecation warning!

* **What feature or behavior is this required for?**

Keeping our dependencies fresh!

* **Ho

[2019-10-02 01:26] colinxfleming opened #1800 "Upgrade ruby version to 2.6.5"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

it's upgrade season! search for instances of our current ruby version 2.6.2 across the codebase, and replace them with 2.6.5 to squelch some CVEs.

* **What feature or behavior is this required for?**

squashin' CVEs, keepi

[2019-10-08 00:35] andersonfernandes commented on #1793
Hi @colinxfleming, I could work on this issue if it's ok to you.

[2019-10-08 03:00] colinxfleming commented on #1793
@andersonfernandes that would be delightful! Don't worry about CI failures on your fork, those are because of some circleci deal. Let me know if I can be helpful on anything!

[2019-10-09 16:09] andersonfernandes commented on #1793
@colinxfleming it's a pleasure to help on such great project. I'm available to work on new fixes or features.

[2019-10-10 22:59] colinxfleming commented on #1800
this is handled by @andrewrosario in #1805

[2019-10-10 23:02] colinxfleming commented on #1793
@andersonfernandes we try and make it a point to keep the issues list pretty fresh, so I would advise skimming it and seeing if anything not marked `future features` or `admin` looks juicy. if something does, please post in the issue and let me know you're working on it so we don't assign it out to another vol. I am always around in issues or slack to be helpful if you ever have any questions or n

[2019-10-10 23:07] #1793 closed

[2019-10-13 22:12] colinxfleming commented on #1800
resolved, thank you @andrewrosario and congrats again on your first open source PR!

[2019-10-13 22:12] #1800 closed

[2019-10-14 06:01] colinxfleming commented on #1753
We should define a container image, or figure out a way to use our own here. Github's ruby action seems like it's despite this being a security release, and they seem to suggest in the linked issue that we should just run everything in a docker container.

So I think the way to go here is something like:
* Use our core dockerfile as a base, if we can
* set up mongodb on it too
* run tests on that

[2019-10-14 17:38] colinxfleming commented on #1786
I think we have this repped in #1788 so let's just handle this in there, possibly after BS4 gets finished.

[2019-10-14 17:39] #1786 closed

[2019-10-16 00:55] colinxfleming opened #1816 "Begin porting SCSS into webpacker"
*WARNING: This one's tough and involves configuring webpacker, the rails implementation of webpack. Not for the faint of heart, or the new to rails!*

* **What are we trying to do?**

We want to start managing frontend assets in webpacker for easier maintenance, and for simpler package management. (Asset gems are a little clunky, unfortunately.) As part of that, let's set up webpacker

Let's start

[2019-10-16 00:58] #1770 closed

[2019-10-17 00:07] colinxfleming opened #1817 "Is having DARIA be a single tenant application still serving us?"
TK

[2019-10-18 23:48] lomky opened #1821 "BS4: Clean up Practical Support Tab Layout"
* **What are we trying to do?**
Make the Practical Support page look pretty on BS4.

* **What feature or behavior is this required for?**
\~\*\~Design~*~

#### A bit cluttered
![Screenshot from 2019-10-18 19-25-08](https://user-images.githubusercontent.com/6129479/67134439-278c8680-f1e0-11e9-98bd-c6817a62d376.png)

#### Oh no my columns
![Screenshot from 2019-10-18 19-25-30](https://user-images.gi

[2019-10-18 23:59] lomky opened #1822 "BS4: Fix the 'Generate your Pledge' button"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
On the BS4 upgrade the PDF generator button isn't working!

To recreate: make sure your patient has an appointment date, a clinic name, and all the funding squared away. Then hit "Submit Pledge", "Next", and "Generate your P

[2019-10-19 00:15] lomky opened #1823 "BS4: User & Clinic Management Pages Button Styling"
* **What are we trying to do?**
BS4 ticket! The Styling of the Add New buttons on our User Management Page and Clinic Management Page look like they've been activated, when they should be idle.

![Screenshot from 2019-10-18 19-32-08](https://user-images.githubusercontent.com/6129479/67135068-ea29f800-f1e3-11e9-83d2-24a93648686f.png)

We want to make this look like other buttons on the site, for ex

[2019-10-19 00:38] lomky opened #1824 "Patient Details page should load at the top of the page, not scrolled down"
* **What are we trying to do?**

Right now when you scroll down the main page and click a patient, the Patient Details page loads also scrolled down. Can we make it load at the top of the page, instead?

* **What feature or behavior is this required for?**
Saving our Case Managers from Repetitive Stress Injuries!

* **How could we solve this issue? (Not knowing is okay!)**

I dunno!

[2019-10-19 00:45] colinxfleming commented on #1823
Once you've pulled down the proper branch, you can see this by going to the URL localhost:3000/users . The file itself that generates that view is in app/views/users/index.html.

Embarrassingly I don't know where the CSS classes for this live!

[2019-10-19 00:49] colinxfleming commented on #1824
Steps to recreate:

* Log in to localhost:3000/ and pick 'DC' as your line, which will take you to the main case manager dashboard
* Scroll down to the 'Urgent Patients' section and click on a patient's name to go to their edit view
* This takes you to the bottom of their edit view, when it should be at the top!

[2019-10-19 00:54] #1741 closed

[2019-10-19 00:55] lomky opened #1825 "Status Helper Text should update alongside the Status Text"
* **What are we trying to do?**
Our Status field dynamically updates without having the whole page reload, which is great! But the helper text associated with it (hover on the "?") does not! So they can mismatch :frowning: Can we make it update dynamically too?

To recreate: After seeding your data, click a patient with status "Needs Appointment". Notice the hover text matches! Pick an appointment

[2019-10-19 00:57] colinxfleming commented on #1822
To recreate:

* Log in at localhost:3000 and pick DC as your line
* On the patient dashboard, find the patient named `Clinic and Appt - 2` and click on their name to go to their patient edit view
* Once there, click on the Abortion Information link and enter 100 in the `DCAF pledge` field. This should log the amount of money the case manager's going to send.
* At this point, we're ready to generat

[2019-10-19 01:03] colinxfleming commented on #1825
Rails has a cool thing that runs some javascript when an endpoint gets hit -- it's (pretty sick)[https://guides.rubyonrails.org/working_with_javascript_in_rails.html#server-side-concerns]! The javascript actually executing when you update a patient is in app/views/patients/update.js.erb .

[2019-10-19 01:03] lomky opened #1826 "Make the Fax Service link less finicky"
* **What are we trying to do?**
We have the fax URL set as a user configurable option. Right now if the user forgets to type `https://` at the front of the link in the Configuration Management entry, the link at the bottom of the page is broken. It works fine if they have the https, but let's make the app worry about this instead of putting it on our users! Let's make it work regardless of https o

[2019-10-19 01:12] colinxfleming commented on #1826
The way we do Configs is via a Config model in `app/models/config.rb` -- basically it saves a unique config row to the database, and that gets invoked in `app/views/layouts/_footer.html.erb`, by a `fax_service` function in `app/helpers/footer_helper.rb`.

There are a few different ways to handle this and you can pick your poison:

* We can handle it on the Config model level by adding a class meth

[2019-10-19 01:17] colinxfleming commented on #1821
To see these, take the following steps:

* Log in to the app and select the DC line to go to the case manager dashboard
* Click on Patient 0's name to go to that patient's edit view
* Click the practical support link to see the practical support forms
* Resize them. They look really cramped!

Don't worry too much about cell-phone sized stuff, but do use your discretion for making this look nice!

[2019-10-19 01:27] colinxfleming commented on #1754
This is in app/views/layouts/_navbar_links.html.erb

[2019-10-19 01:33] lomky opened #1827 "CSV Export shows all TRUE for special circumstances"
* **What are we trying to do?**
Our CSV export provides a limited about of anonymized information, including a boolean field specifying whether the patient had any Special Circumstances checked under Patient Information. But right now it is exporting TRUE for everyone, regardless of whether there are any checked.

 - Fix the CSV export to properly export `has special circumstances`
 - Update our t

[2019-10-19 01:44] colinxfleming opened #1828 "Update system tests to account for changes to data_entry workflow"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We recently merged https://github.com/DCAFEngineering/dcaf_case_management/pull/1815/files which updated our data entry workflow with some new fields. We want to now update the test in test/system/data_entry_test.rb to matc

[2019-10-19 01:45] colinxfleming commented on #1828
ps the actual view is available at localhost:3000/data_entry and the file is app/views/patients/data_entry.html.erb

[2019-10-19 01:46] colinxfleming commented on #1791
resolved via #1815 ; tests in #1828

[2019-10-19 01:46] #1791 closed

[2019-10-19 03:35] colinxfleming commented on #1828
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:36] colinxfleming commented on #1826
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:36] colinxfleming commented on #1825
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:37] colinxfleming commented on #1824
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:37] colinxfleming commented on #1823
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:37] colinxfleming commented on #1822
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:37] colinxfleming commented on #1821
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:37] colinxfleming commented on #1816
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:38] colinxfleming commented on #1754
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:38] colinxfleming commented on #1733
(Please leave for tech rebalanced volunteers!)

[2019-10-19 03:42] colinxfleming commented on #1827
Popping this out of the TR milestone since a fix became available quickly. I will write up a data analysis ticket.

[2019-10-19 05:54] colinxfleming opened #1830 "Write generalizable analytics scripts for reporting over time"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

One of the things we're trying to do with this project is to make things available to funds that they otherwise wouldn't have, and one of those things is decent analytics. I'm attaching here a CSV of fake data.

You are wel

[2019-10-19 06:19] colinxfleming commented on #1830
Also these are all fake records, so if there's a weird pattern in the data, it's probably that the script I used to generate them isn't that great.

[2019-10-19 06:21] colinxfleming commented on #1830
[fake_daria_data.zip](https://github.com/DCAFEngineering/dcaf_case_management/files/3746268/fake_daria_data.zip)

[2019-10-19 15:16] minhtranbear commented on #1830
commenting on this to claim as work for today

[2019-10-19 16:21] Elexc commented on #1821
Working on this!

[2019-10-19 17:13] minhtranbear opened #1833 ""Pledge Count" missing from DARIA data dictionary"
Update the [Data Dictionary](https://github.com/DCAFEngineering/dcaf_case_management/blob/master/docs/DATA_DICTIONARY.md) with the field information for "Pledge Count"

[2019-10-19 18:42] ealiao commented on #1830
The start of some analysis in R:
`require(ggplot2)
require(dplyr)
require(readr)

### REPLACE patient_data_export_20191019.csv WITH THE NAME OF YOUR DOC ###
df <- read.csv("patient_data_export_20191019.csv")

# Data Cleaning -----------------------------------------------------------
df$Initial.Call.Date <- as.Date(as.character(paste(df$Initial.Call.Date)), format="%m/%d/%y")
df$Initial.Call.Month

[2019-10-20 03:28] colinxfleming opened #1835 "Build rake task to generate fake data"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

This would have been extremely helpful as we let some data scientists at DARA today! Let's build a rake task that will just generate like 5k rows of fake patients for export.

* **What feature or behavior is this required f

[2019-10-20 15:43] colinxfleming commented on #1833
note that this is not resolved by #1832

[2019-10-22 00:12] #1827 closed

[2019-10-22 01:44] colinxfleming opened #1836 "Add note to data dictionary about why archived patient data is null before 2019-10-21"
This is a good ticket if you are learning Github's pull request flow!

## Context
https://codefordc.slack.com/archives/C0E6APB36/p1571703212151600
We had a bug in the archive & export code leading to all patients being marked as having special circumstances (hint: 1/0 are not truthy/falsey, they're both truthy :sob:).

Because of this we bug we had every archived patient flagged as having special

[2019-10-22 23:05] colinxfleming opened #1837 "Update roster of leads in README"

[2019-10-23 00:18] valeriecodes commented on #1828
I can take a look at this.

[2019-10-23 01:10] Elexc opened #1839 "Practical Support Layout"
**Job:** When a case manager is adding practical support, they wants to be able to quickly add a new entry and manage the list of practical support, so that they can document the practical support for the patient.

**What are we trying to do?**
   - Improve the hierarchy and readability of the content
   - Revise the copy to be clear, concise, and consistent

**Tasks**
- Changing the table + entry

[2019-10-23 01:52] valeriecodes commented on #1751
Would we get any benefits from the querying power of Postgres/SQL? I think that's where it shines the most, but if there's not a desire from the perspective of the project to do more complicated data analysis/modeling, then it seems like a lot of trouble in data migration for a limited payoff.

[2019-10-23 02:07] valeriecodes commented on #1733
I can grab this.

[2019-10-23 17:27] harumhelmy commented on #1825
Unless we're still waiting on Tech, Rebalanced vols, I'd love to take a crack at this!

[2019-10-23 17:31] colinxfleming commented on #1825
we aren't! go for it @harumhelmy

[2019-10-26 17:45] Kevin-Wei commented on #1751
Wild thing I've heard about as a migration path is dumping entire DB's into the JSON-B columns first and then going from there. At a minimum JSON-B columns let you dump the truly unstructured data somewhere.

[2019-10-26 19:00] Kevin-Wei commented on #1824
Whoever wants to fight Turbolinks feel free... lol

[2019-10-26 19:50] Kevin-Wei commented on #1826
I'm def not going to get bonus points here.

[2019-10-28 01:08] colinxfleming commented on #1824
haha. so the short of it that @Kevin-Wei and I worked out is that this is probably a turbolinks issue -- turbolinks works by dynamically replacing the contents of the page body, and so it's preserving scroll location when it subs things in and out. So fixing this is probably a small dive into turbolinks and finding a way to snap to top in its library. (Let's not do anything wild like being like 'e

[2019-10-28 01:37] #1754 closed

[2019-11-05 22:29] harumhelmy commented on #1835
I've never built a rake task before but I'm interested in trying it out - maybe pairing with @mdworken this weekend? :)

[2019-11-05 23:15] colinxfleming commented on #1733
open season on this!

[2019-11-05 23:56] Elexc commented on #1839
I'm working on this!

[2019-11-05 23:56] rudietuesdays commented on #1816
I'm on this!

[2019-11-06 00:17] lomky commented on #1836
## Context
We had a bug in the archive & export code leading to all patients being marked as having special circumstances (hint: 1/0 are not truthy/falsey, they're both truthy :sob:).

Because of this we bug we had every archived patient flagged as having special circumstances. We decided to mark all those patients as not having, instead, since we have no way of discovering this after archiving.

[2019-11-06 01:03] geoffreyyip commented on #1733
@colinxfleming I don't have bandwidth right now. Hope someone else can get it!

[2019-11-09 04:59] colinxfleming commented on #1821
resolved by #1838

[2019-11-09 04:59] #1821 closed

[2019-11-09 05:08] colinxfleming commented on #1822
Bit by the form_with being remote by default again!

[2019-11-09 05:13] colinxfleming commented on #1788
not strictly needed for rollout of BS4 so let's accept this as debt

[2019-11-09 05:13] colinxfleming commented on #1787
not strictly necessary for BS4 so let's accept these as debt

[2019-11-09 15:11] #1825 closed

[2019-11-09 15:12] #1828 closed

[2019-11-09 15:34] #1667 closed

[2019-11-10 18:52] #1837 closed

[2019-11-11 02:58] colinxfleming opened #1854 "Webpackerize and refactor our SCSS"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We do a lot of work making sure this codebase is easy to dig into; a place where we have historically had a hard time with that is our stylesheets. At this point, the codebase has a couple years of hacked together styleshee

[2019-11-11 07:26] #1632 closed

[2019-11-11 19:56] colinxfleming opened #1859 "Move bootstrap 4 to npm/webpacker"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Bootstrap 4 is a frontend package and we should try our best to keep our frontend packages in npm. (This would also let us start REALLY modernizing our js.) So that end, I'd like to drop our bootstrap gem dependency and hav

[2019-11-11 20:09] colinxfleming commented on #1787
there are a bunch of bootstrap_form_fors, so I'll split that into its own ticket for hacknight

[2019-11-11 20:18] colinxfleming opened #1861 "Replace bootstrap_form_for with bootstrap_form_with"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Rails used to do forms that were backed by models with `form_for obj` and forms that just hit a URL with `form_tag url`. Around 5.1 they introduced `form_with`, which took a keyword argument `url` or `model` and could do ei

[2019-11-11 20:24] colinxfleming commented on #1830
@ealiao did some incredible work in shiny that I am posting in here: https://codefordc.slack.com/archives/C0E6APB36/p1573004761218900

[code]

We were trying to explore something like this with mode analytics but I wonder if another approach might be to stand up an analyzer app like this that people can load an export into and go wild on. Benefits to this approach:

* data sciencey people would ha

[2019-11-11 20:30] #1822 closed

[2019-11-11 20:30] #1823 closed

[2019-11-12 05:04] colinxfleming commented on #1752
To close some of the loop on this:

* Before we do any real work we have to get bootstrap into webpacker at a minimum; getting stuff out of sprockets is nice
* We only really do fancy state management in two spots: the CM dashboard and the call lists. Those are good candidates for js
* let's try react on the patient edit page and see what problems we run into. (early research from @tingaloo sugges

[2019-11-12 05:06] colinxfleming commented on #1585
(I'm declaring victory on this)

[2019-11-12 05:06] #1585 closed

[2019-11-17 21:04] #1787 closed

[2019-11-20 01:20] Kevin-Wei commented on #1826
might actually get bonus points here

[2019-11-20 01:32] jpkarvonen commented on #1824
I didn't have too much time to look into this after a fresh install of the app on a new machine, but I did find this thread which focuses on the issue. This comment in particular may offer a solution: https://github.com/turbolinks/turbolinks/issues/181#issuecomment-423736911

[2019-11-20 01:56] harumhelmy opened #1863 "Incorporate information from the weekly email to on-duty CMs into DARIA!"
Hello beloved DARIA team!

**TL;DR:** I propose we build an Info tab that admins/DCAF CM team can populate with latest information re: clinics, new budget policies, new sibling fund policies, budget policies, etc.

**The problem**:
Every Sunday evening, DCAF case managers who are getting ready to start their shifts get a really, really long email from the CM leadership team with new information, o

[2019-11-20 02:08] marycodes2 commented on #1835
@harumhelmy I'd be happy to pair with you if you'd like!

[2019-11-21 06:18] colinxfleming commented on #1863
first off, holy goodness is that email long.

Here are some more productive reactions. My head goes a few different places on this:

* do other funds issue regular communiques like this, or is this primarily DCAF? how often do the contents of that change? Particularly interested in whether CAF or BRAF do it (BAF lifted their program from DCAF more heavily and aren't a good indicator of whether thi

[2019-11-30 15:50] colinxfleming commented on #1733
@Kevin-Wei we talked about using a different library for this, do you remember what it was?

[2019-11-30 16:22] colinxfleming commented on #691
We've survived without this for several years and nobody has complained, and we're unlikely to ever get to it. I suspect that if this is something we want it will come up again organically. I'm going to mark it closed.

[2019-11-30 16:22] #691 closed

[2019-11-30 16:24] colinxfleming commented on #634
Let's turn this into a concern for daria-analytics-shiny and deprecate our reporting endpoints, since all they do is cause memory errors.

[2019-12-01 05:48] #1788 closed

[2019-12-02 05:06] colinxfleming opened #1868 "Surface what roles do in app"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

@NerdyGirl537 quite accurately pointed out that roles are really confusing - it's not clear to anyone in the UI who has access to what, or what permissions they're granted. We should surface some information about what thes

[2019-12-03 01:44] NerdyGirl537 commented on #1868
I thought it would be helpful to also say what function those tabs for the data volunteers have. Wasn't 100% on the phrasing. Suggestions greatly appreciated.

[2019-12-03 01:46] colinxfleming commented on #1868
How about:

Does that cover it, or are there spots we're still missing?

[2019-12-03 02:09] NerdyGirl537 commented on #1868
Looks good to me. @lwaldsc @alisonnjones thoughts?

[2019-12-05 16:17] colinxfleming opened #1869 "CSRF in remote forms redux"
(note to self to re-look at including authenticity tokens in remote forms)

[2019-12-06 05:01] #1833 closed

[2019-12-08 21:45] harumhelmy commented on #1835
Sorry this is taking me ten million years to get started on! But I am working on it, hoping to show my work sometime this week :)

[2019-12-10 01:07] harumhelmy commented on #1861
I'll take this! I'll be sure to ask for help as things break.

[2019-12-10 05:18] colinxfleming opened #1874 "Install Chrome in Docker to run system tests"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I'd like to be able to run systemtests in github actions, but when you run this command it errors out with something like "chrome not found in path": `docker-compose run --rm web rails test test/system/routing_test.rb`

If

[2019-12-15 00:35] colinxfleming commented on #1553
Nonstarter unless we're on postgres.

[2019-12-15 00:35] #1553 closed

[2019-12-15 17:12] colinxfleming opened #1876 "Parallelize test suite"
Please forgive not following the issue template. These aren't necessary to ship the gem upgrade, but are necessary to declare victory on this upgrade generally.

- [x] Move to rails 6 defaults by setting `config.load_defaults 6.0` in `application.rb`; ditch the two framework defaults migration things we have. (#1893)
- [x] Affirm that we autoload with zeitwerk properly - https://edgeguides.rubyonr

[2019-12-19 05:19] colinxfleming opened #1882 "Data entry mode causes pledges to write to budget bar"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
If you add a patient with a pledge in data entry mode, their pledge shows up on the budget bar. This is bad news, because the budget bar is supposed to be for pledges that case managers are making, not historical pledges. We

[2019-12-21 22:31] lomky opened #1883 "Create Config for Budget Bar Maximim"
* **What are we trying to do?**
Make the budget bar maximum a Configuration option.

* **What feature or behavior is this required for?**
This will allow the funds to set their own budgets, instead of having it hardset to a value.

* **How could we solve this issue? (Not knowing is okay!)**
Implement a new option in [the config model](https://github.com/DCAFEngineering/dcaf_case_management/blob/ma

[2019-12-22 15:26] lomky opened #1885 "Deprecation Warning `Single arity template`"
Startup is issuing a new warning we should address!
[code]

* **What are we trying to do?**
Update our template handlers to accept two parameters, as per the warning above.

* **What feature or behavior is this required for?**
Listen to the nice deprecation warning and update our code!

* **How could we solve this issue? (Not knowing is okay!)**
Start with the directions above, make sure tests kee

[2019-12-29 15:22] lomky opened #1887 "Design Scalable Budget Bar Look"
* **What are we trying to do?**
Ensure the budget bar continues to look :nail_care: now that our funds budgets can adjust the maximum.

* **What feature or behavior is this required for?**
A lovely budget bar!

* **How could we solve this issue? (Not knowing is okay!)**
Dunno!

* **Anything else?**

How the budget bar looks at our default scale of $1,000, with various sized pledges:
![Screenshot_2

[2019-12-29 15:30] lomky opened #1888 "Extend Config Model with Validations"
* **What are we trying to do?**
Extend the Config model to provide validations for each field.

These validations should be optional, and defined in the code. When the fund admin then enters data into the config field these validations will inform them if the input is invalid.

I.e. `budget_bar_max` will want to enforce an int with no `$` on it. `start_of_week` should be either a day (`Monday`, `T

[2019-12-29 19:18] #1885 closed

[2019-12-31 22:19] #1883 closed

[2019-12-31 23:12] cmgiven commented on #1887
Playing with some ideas (👋 from Chicago).

![1](https://user-images.githubusercontent.com/5375557/71635474-8f9d1700-2bea-11ea-84be-b2760d266043.png)

Let's start by going dead simple. If it's just a progress bar, how much of the goal does that achieve?

Also suggested a label to show the amount remaining. Seems like that could save some mental math, and perhaps is useful if the budget maximum is c

[2020-01-05 16:01] colinxfleming commented on #1859
taking this off hacknights because it does, in fact, dpeend on #1816

[2020-01-09 01:14] colinxfleming opened #1897 "Add a next step to the welcome email"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
@verbingthenoun noted that one of the things data vols consistently ask for is 'where exactly do I go now that I have an account'. The template that gets sent is in https://github.com/DCAFEngineering/dcaf_case_management/blo

[2020-01-09 05:57] colinxfleming opened #1900 "Refix patient ids to be more random"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
our current ids follow the old pattern that DCAF had, which generates ids that aren't REALLY unique. @verbingthenoun reports seeing duplicates in the course of looking up people for data entry, which is not an ideal behavior

[2020-01-09 12:46] verbingthenoun commented on #1897
point of clarification: data volunteers don't actually get _any_ email when I create their account, at least if they're Gmail users

[2020-01-09 16:09] duaimei commented on #1874
Unless somebody else says anything. I will be taking a look at this ticket next week.

[2020-01-11 16:29] #1836 closed

[2020-01-17 21:25] mdworken commented on #1900
@colinxfleming regarding surfacing these, common guidelines for retroactive data analysis/"chart reviews" specify that a record is NOT considered anonymized if a matching code exists anywhere. Therefore, I propose that these should not ever be exportable, but viewable within the app for non-archived patients should be fine.

[2020-01-18 16:46] colinxfleming commented on #1900
that makes sense to me. That gives us two options that I can think of:
* take the UUID off the export, and use a subset of that (e.g. last 6 or 8 chars) as the identifier for clinics
* keep the UUID on the export, and continue using the `patient_identifier` or whatever field it's called, but generate it more randomly; continue to not export it

Which of those do you think would be the better optio

[2020-01-20 17:01] Jello opened #1904 "docker-compose build step fails on Windows 10"
Attempting to follow the Docker steps on Windows fails on the docker-compose step.

[code]

[2020-01-20 17:18] Jello commented on #1904
Fixed, Dockers on Windows needs experimental features enabled:
1. Right click Docker icon in the Windows System Tray
2. Go to Settings
3. Go to Daemon
4. Check Experimental features
5. Hit Apply

[2020-01-20 19:45] Jello opened #1907 "Docker on Windows fails to start application due to CRLF line endings"
Docker-compose up step fails on Windows due to git autoconversion to CRLF. This can be solved globally with git on Windows with:
`git config --global core.autocrlf false`
Which forces the Unix line endings expected by the Docker instance.

Will create a pull request that creates a .gitattributes file to specify this setting for the repo.

[2020-01-20 19:58] harumhelmy commented on #1861
Taking another crack at this! FOR REAL THIS TIME

[2020-01-21 19:46] duaimei commented on #1874
I'm still working on this.

[2020-01-22 05:49] colinxfleming commented on #1874
thanks much @duaimei , let us know if we can be helpful!

[2020-01-23 04:45] colinxfleming opened #1911 "Budget bar not catching pledge sents if they're in a different week from soft pledge"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
BRAF reported an unexpected behavior on the budget bar:

For a patient with a pledge amount filled in on one week and with a sent pledge the following week, that pledge doesn't show up in the budget bar. That's because the `

[2020-01-26 07:17] #1861 closed

[2020-01-28 19:33] harumhelmy commented on #1911
On this!

[2020-01-29 18:55] duaimei commented on #1874
I am still working on this issue, for about an hour a week. I got Chrome driver installed, but it isn't respecting the argument options for selenium.

https://github.com/heroku/heroku-buildpack-google-chrome/issues/56
(except none of the accepted solutions have worked)

A lot of the examples that I am seeing on the internet are using RSpec. RSpec has some integration with selenium, so I might end

[2020-02-04 07:02] colinxfleming opened #1913 "Remove hover fade on flash messages"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

When you save an attribute on the patient edit page, you get a flash message. Hovering over it makes it more transparent, but this is kinda awkward. I'd like to remove this opacity change on hover.

* **What feature or beha

[2020-02-04 07:07] colinxfleming opened #1914 "Adjust Archive Window to Match Workflow Needs"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
@verbingthenoun has flagged that some patients are getting archived a little before the data team wants them archived. We should figure out a way to prevent this from happening.

@verbingthenoun suggested loosening this agai

[2020-02-04 23:12] colinxfleming commented on #1888
let's start by enforcing the validation on `budget_bar_max` to knock out a straightforward one first. After we have a working example, we can release the rest into the hacknite pool I think.

[2020-02-05 00:28] #1826 closed

[2020-02-05 00:49] lomky commented on #1914
Definitely happy to adjust this based on user needs!

[2020-02-05 01:04] Kevin-Wei commented on #1733
https://github.com/loureirorg/city-state/ <- had the most downloads, hasn't been touched in a 5 years which for a gem like this is a good thing

[2020-02-05 01:20] evornov commented on #1868
I'm taking a look!

[2020-02-08 16:57] colinxfleming commented on #1868
@evornov got super close on this at hacknite, so I'm going to pull this out of active work while we wait for it to drop.

[2020-02-08 17:04] colinxfleming commented on #1733
it looks like it uses an ext db for data and the issues list is a little scary. I think I'd sorta prefer using hardloaded constants, but I think ultimately this is the implementer's choice.

[2020-02-08 17:49] #1904 closed

[2020-02-11 03:55] #1911 closed

[2020-02-14 06:21] colinxfleming opened #1920 "Include patient#pledge_sent_at and patient#fund_pledged_at in exports"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

A fund is trying to recreate the budget bar from the CSV export, but can't because the export doesn't have the two key fields used to figure out whether something belongs in the budget bar: `pledge_sent_at` and `fund_pledge

[2020-02-14 18:21] #1868 closed

[2020-02-14 18:48] colinxfleming opened #1921 "Missing changelog translation for clinic"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I clicked into a random patient's changelog in sandbox and saw this:

![image](https://user-images.githubusercontent.com/3866868/74557263-c4acc100-4f2d-11ea-8d87-e6df0d5abc2a.png)

That seems like bad news! Let's fix it.

*

[2020-02-14 21:26] colinxfleming opened #1922 "Add LMP on appointment date to CSV export"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

The app does a lot of LMP calculation in the patient view, but that doesn't show up in the CSV export, which means that if you want that information as an analyst you would have to individually grab things. That is unpleasa

[2020-02-16 17:24] colinxfleming opened #1924 "Remove links to the reports endpoint from the navbar"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Our reports endpoint has never really worked right and it's starting to become a thing that I have to explain pretty often when we do demos, so let's take the link down until we actually get it set up. The endpoints can sta

[2020-02-17 08:01] colinxfleming opened #1925 "Remove skylight from app"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We have this monitoring-ish system Skylight, but frankly it's not that helpful, and we're over the number of requests where we get things for free now. Let's take it out for now.

* **What feature or behavior is this requir

[2020-02-21 14:35] sofijaj commented on #884
I love this <3 thanks for doing it, CMs will appreciate it for sure.

[2020-02-22 23:05] #1925 closed

[2020-02-22 23:07] colinxfleming opened #1927 "Remove remaining vestiges of skylight"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We have a few vestiges of skylight in our app after #1925 as follows:

* environment variables to remove from heroku apps
* an active account with skylight to delete

This is done when those two things are done

* **What fe

[2020-02-24 21:07] sofijaj opened #1930 "UX Ideation Meeting"
I'd like to organize an ideation meeting to bring DCAF CMs and Developers together sometime in mid or late March

* **What are we trying to do?**
--give CMs and coders a chance to meet and chat about DARIA
--allow CMs and coders to express issues and do some creative problem solving
--take a high level look at DARIA and figure out a way to
--EAT

* **What feature or behavior is this required for?*

[2020-02-24 21:14] sofijaj opened #1931 "Handoff within DARIA"
* **What are we trying to do?**
--At the end of each shift DCAF volunteers write a handoff email to the next volunteer(s) on shift. We're curious if this would be possible to do this handoff within DARIA to reduce the amount of replication and paperwork done by CMs and also keep this data outside of email as much as possible.

* **What feature or behavior is this required for?**
¯\_(ツ)_/¯

* **How

[2020-02-25 20:50] harumhelmy commented on #1882
Hiya! Would love to help with this but having some trouble figuring out how to access data entry mode. I changed one of the test users' roles to a data_volunteer and still can't find it. Might be missing something obvious here but would love some help :) @colinxfleming

[2020-02-26 03:27] colinxfleming commented on #1882
ah, sorry! There's a data entry workflow at http://localhost:3000/data_entry .

[2020-02-26 06:38] #1913 closed

[2020-02-27 05:05] colinxfleming commented on #1931
I think this is a good idea, and I think calling out the value of not emailing stuff back and forth is right on. Here's what I think I'd like to know that will help us figure out how to approach this:

* what gets a patient to the handoff email vs not? Can we make it programmatic?
* how standard is this behavior around DCAF? does every CM do it different or is every CM pretty much compiling the sa

[2020-02-28 06:01] colinxfleming opened #1936 "Turn on CircleCI pipelines"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I got this email from CircleCI. The tldr is that we need to turn on pipelines for this project. I'm not sure what that entails or how hard it is (hopefully ez).

[code]

* **What feature or behavior is this required for?**

[2020-02-29 03:42] #1924 closed

[2020-02-29 20:06] sofijaj commented on #1931
- what gets a patient to the handoff email vs not? Can we make it programmatic?
PTs typically go into the handoff email if:
-- we are actively working on their case and want the next CM to be aware of them
-- their appointment is upcoming and the next CM needs to watch out for their call or call them back to confirm
--CM needs to call that PT back
-CM hasn't been able to get ahold of that PT

- [

[2020-03-02 02:14] colinxfleming commented on #1931
@harumhelmy 's email there is helpful context, thank you!

By programmatic I mean basically 'can we do this by just applying a rule based on information within daria'. Harum's email gets pretty granular, though hopefully that kinda information is in the notes.

It sounds like the Urgent function is doing a lot of the lifting on this right now. (Which is good, because that's why we put it in.)

Wha

[2020-03-02 20:54] sofijaj commented on #1931
what I copied to you isn't an email but a google doc attached to our coverage emaiul that Harum's put together to use as a template for writing these handoff notes. I'm going to forward you the coverage email so you have a better idea of why it's such a pain in the ass.

I agree Urgent function is doing a great job of this, but my concern is that it's used inconsistently and it isn't clear to CMs

[2020-03-09 03:04] colinxfleming opened #1941 "User docs: Data export guide"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We need a guide explaining what data analyst functionality there is in DARIA. This should primarily cover how to use the CSV export.

* **What feature or behavior is this required for?**

Good reference documentation that w

[2020-03-09 03:05] colinxfleming opened #1942 "User docs: Accounting guide"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We need a guide explaining what accountants functions there are. This should cover fulfillments, and the accountant view page.

* **What feature or behavior is this required for?**

Good reference documentation that we can

[2020-03-09 03:07] colinxfleming opened #1943 "User docs: Admin guide"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We need a guide explaining what admin functionality there is in DARIA. There's a lot to cover here. We should cover:

* managing users (making, locking)
* managing configs in the config panel
* managing patient information

[2020-03-17 00:57] colinxfleming opened #1945 "Recreate training video"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Once upon a time, @lwaldsc cut a training video to show CMs how the basic workflows of DARIA could be used - stuff like manage a call list, edit a patient record, send and withdraw a pledge.

@alisonnjones pointed out how i

[2020-03-22 06:28] colinxfleming opened #1947 "Swap uptime monitor for something that does not assume a single human at the root of it"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

StatusCake is a little too centered on me and stem from my account. We should get it centered on either a distro list or something else.

We'll want it to do scheduled checks, notify over email, and ideally have the monitor

[2020-03-22 16:12] colinxfleming commented on #1936
The cunning strategy of doing nothing has paid off - CircleCI turned on this feature for us and we're still successfully deploying, so I think we don't need to do anything here.

[2020-03-22 16:12] #1936 closed

[2020-03-22 16:20] colinxfleming commented on #1907
resolved via https://github.com/DCAFEngineering/dcaf_case_management/pull/1908

[2020-03-22 16:20] #1907 closed

[2020-03-22 16:35] colinxfleming commented on #1876
I'm not sure we can parallelize on mongoid - even with the minitest-spec-rails fix attached it's blowing up, unfortunately. I'm going to backlog this and change the title from `Rails 6 Followups` to `parallelize test suite`.

[2020-03-23 05:36] colinxfleming commented on #1869
This is fine, here's what this looks like on our forms now:

![image](https://user-images.githubusercontent.com/3866868/77285144-bc6f4080-6ca6-11ea-8a42-92a5ece68c42.png)

[2020-03-23 05:54] #1869 closed

[2020-03-23 06:29] colinxfleming commented on #408
I think we can be permanently out of the woods here if we do the three following things:
* add a cleanup task that deletes sessions in the db if they're over 72 hours old (See the `mongo_session_store` gem for a hint at how to query this collection - https://github.com/mongoid/mongo_session_store)
* delete audit trail history on patient archive
* delete orphaned audit trails (can be done with a ru

[2020-03-23 06:33] colinxfleming commented on #1539
looked at this to see what was going on and here's what this came back with: https://docs.mlab.com/mlab-to-atlas/ probably nothing to do here yet.

[2020-03-23 20:39] colinxfleming commented on #1927
deleted skylight account!

[2020-03-23 20:42] colinxfleming commented on #1927
ran `heroku config:unset SKYLIGHT_AUTH_TOKEN` on prod apps!

[2020-03-23 20:42] #1927 closed

[2020-03-25 00:28] #1816 closed

[2020-03-25 03:58] #1920 closed

[2020-03-27 14:51] colinxfleming opened #1952 "Docker: upgrade node version"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We're starting to brush up against the back of what node version rails wants us to run in docker. I'd like to take a hop forward to the next LTS version, which I think is 12 / Erbium?

* **What feature or behavior is this re

[2020-03-30 04:28] #1922 closed

[2020-03-30 05:01] #1706 closed

[2020-03-31 23:40] colinxfleming commented on #1942
probably we should document the following:

* how to get to the accountant panel
* how the search works (covers all lines)
* who's populating the table (patients who are marked as pledge sent)
* how the table gets populated (from a patient's fulfillment information)
* how to log that a patient's pledge was cashed (use the pen icon to fill in the fulfillment form)

[2020-04-06 01:16] susanjw commented on #1942
1. Log into Daria
2. Do not select a line. Instead, open drop down menu under Admin.
3. Select Accounting from the drop down menu. This will allow you to search all lines.
4. The Accountant Dashboard shows fulfillment information for patients that have been marked by case managers as "Pledge Sent."
5. To log that a patient's pledge was cashed, use the pen icon on the right end of the relevant line

[2020-04-08 00:35] colinxfleming opened #1957 "Fix n+1 query on CSV export"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

DCAF's CSV export is starting to fail, and I think when funds do this we see memory spikes generally.

We seem to have an n+1 join on clinic, so I think we can eager load that and fix this.

* **What feature or behavior is

[2020-04-11 18:25] #1957 closed

[2020-04-11 18:43] colinxfleming opened #1959 "Heroku H12 error on CSV export"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

DCAF's CSV export endpt is still choking with a 500/Heroku H12 error.

https://devcenter.heroku.com/articles/limits#router

We're hitting this in particular:

I thought we were doing that with headers, but maybe not the cas

[2020-04-11 18:59] colinxfleming commented on #1959
heroku seems to suggest the way to go here is a delayed job / async process to not block server requests. Looks like it is time to set up ActiveJob?

[2020-04-12 17:20] colinxfleming commented on #1959
@valeriecodes a gut check, if you have a sec - my recollection is that the way this worked, we'd hit a download, it would ask where to save the file, and then it would stream data into that file. That doesn't seem to be what's happening on for me in chrome or firefox currently - in sandbox, it runs the db queries and then asks for a location to save at the end. Am I mis-remembering this?

[2020-04-12 18:05] valeriecodes commented on #1959
Nope, that is my recollection as well

On Sun, Apr 12, 2020, 1:21 PM Colin <notifications@github.com> wrote:

[2020-04-13 00:56] colinxfleming commented on #1959
dang. I spent some time moving the enumerators around, but couldn't recreate the 'it saves first and then streams data to the file' behavior. I might try out some of the stuff in ActionController::Live to see if that works like we want it to.

I also might go on a git bisect journey. I'm still not quite convinced that we didn't accidentally muck this up.

https://api.rubyonrails.org/classes/Action

[2020-04-13 05:38] colinxfleming commented on #1959
logs do seem to indicate that the initial response is happening right away which is wild:

[code]

[2020-04-13 05:53] colinxfleming commented on #1959
Looks like more or less identical behavior on sandbox:

[code]

[2020-04-13 06:04] colinxfleming commented on #1959
This behavior does not occur on https://github.com/DCAFEngineering/dcaf_case_management/commit/bb40df2f732ba9b1cb1573f3d6567fdf4ad81c9f (commit bb40df2f732ba9b1cb1573f3d6567fdf4ad81c9f ) so we have some git bisecting ahead of us.

[2020-04-14 05:12] colinxfleming commented on #1959
tomorrow: bisect starting at 946ebdf761feb0557b2f0748ee8d8e4fe4dc3cf1 and see what happens.

I bet this is turbolinks.

[2020-04-18 06:34] colinxfleming commented on #1959
Problem commit seems to be 1b93eb022ca197bcc8335650aa7a4af55c21e756 ?

[2020-04-18 06:37] colinxfleming commented on #1959
can confirm it works on 045b15a2698829781697a2662075d9536e9cfa95 , the previous commit. time to have a fun jaunt thru changes to sprockets.

[2020-04-18 06:54] colinxfleming commented on #1959
I tried just doing sprockets and reverting that back and forth, but didn't have much luck, and it's not clear what problems are 3am and what problems are sprockets. For now I'm going to work on the assumption that bumping rails to 6.0.2.2 and its bump to sprockets is our breaking change.

[2020-04-29 22:35] #1835 closed

[2020-05-06 23:41] colinxfleming opened #1968 "Upgrade rails to 6.0.3"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

6.0.3 is out! It resolves a lot of problems with the new ruby version coming out. Let's get this in place.

* **What feature or behavior is this required for?**

* **How could we solve this issue? (Not knowing is okay!)**

[2020-05-08 02:26] colinxfleming opened #1970 "AccountantsController#search bug when pledge_sent_at is nil"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We got an error report in Sentry about a minor bug in the Accountants controller search. The nut of it is: `comparison of NilClass with ActiveSupport::TimeWithZone failed`

The failure was around here:

https://github.com/D

[2020-05-10 02:34] colinxfleming commented on #1959
pre-sprockets upgrade full request:

![image](https://user-images.githubusercontent.com/3866868/81489594-38b4e780-9245-11ea-8acd-6a9063e97f8e.png)

[2020-05-10 02:39] colinxfleming commented on #1959
on master:

![image](https://user-images.githubusercontent.com/3866868/81489624-e0cab080-9245-11ea-89e3-81eda4e1bb2d.png)

[2020-05-10 02:42] colinxfleming commented on #1959
difference seems to be that master has an `ETag` header? they appear identical other than that.

(also interesting thatboth have the `Transfer-Encoding: chunked` header already set)

[2020-05-10 03:36] colinxfleming commented on #1959
an interesting github thread pointing out issues between streaming and etag interactions:

https://github.com/rails/rails/issues/14358

[2020-05-10 04:46] colinxfleming commented on #1959
I wrote up some findings here https://github.com/rails/rails/issues/14358#issuecomment-626272884 ; looks like a minor version bump of `rack` changed how ETag headers were being set in a way that no longer skipped it.

[2020-05-11 04:29] #1952 closed

[2020-05-11 15:07] #1959 closed

[2020-05-12 02:07] colinxfleming opened #1974 "Delete history on patient archive and clean them out of db"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

While doing something unrelated in db I noticed that we have a bunch of spare ~Audit Trail~ PaperTrailVersion objects hanging out, including from patients that have been archived or deleted. We should remove these, since we

[2020-05-12 02:15] colinxfleming opened #1975 "Delete unused session objects from db"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

For a security boost we use the `mongo_session_store` gem, which persists session data to db. This is highly useful, but we aren't currently deleting sessions, so we should get on that.

The gem documentation is at: https:/

[2020-05-13 02:20] colinxfleming opened #1976 "Sendgrid blocking password reset emails"
description tk, but it looks like @xmunoz found that they're being added to a suppression list. this is a ticket to investigate.

[2020-05-13 02:53] xmunoz commented on #1976
Here is what I'm seeing in Sendgrid:

[2020-05-13 02:59] xmunoz commented on #1976
It's important to note that the email address that we're attempting to send password-reset emails to is a google group. If the sender doesn't pass domain authentication, there is a chance that google will bounce it. Also, we've tested that this group can receive messages from non-group users.

[2020-05-14 02:34] xmunoz commented on #1976
Good news! I have a workaround. It looks like the full content of these password reset emails is output to the logs, so I should be able to grab the token from  there. Also, while I was looking at the logs recently, I did observe that the "From" field is missing the domain name. Should hopefully be an easy fix for ya'll.

[code]

[2020-05-14 13:32] mdworken opened #1977 "Create "FAQ" like document for common errors/resolutions when setting up the app"
A few I can think of off the top of my head

- [ ] Mongoid won't boot: this is usually mongoid not shutting down properly and won't boot again (usually just have to `mongod --repair` )
- [ ] Wrong node version:  Daria uses 10 but the new default is 13. This can lead to webpack giving errors about SHAs and missing asset files. (Logged it at https://discuss.rubyonrails.org/t/webpacker-gets-mad-when-

[2020-05-14 23:16] susanjw commented on #1561
We reached out to BRAF, and they confirmed this is no longer an active request.

[2020-05-15 02:58] colinxfleming commented on #1976
we found the cause of this doing thehandoff this afternoon - looks like we moved to `DARIA_MAILER_DOMAIN` env var but didn't catch the instances of it in the config, so we'll need to address that and that should solve this.

[2020-05-17 05:46] #1942 closed

[2020-05-17 06:01] colinxfleming commented on #1537
I'm not super concerned about this - i18n tools that @lomky adopted into our test suite make it so we don't have to be too scared of this, in my opinion. I'm closing unless @DarthHater or @Kevin-Wei have a strong opinion and/or a path to doing this.

[2020-05-17 06:01] #1537 closed

[2020-05-17 06:02] colinxfleming commented on #408
This is on its way to being done - these are all represented in ticketed or impending work. I'm opening up a ticket for the fourth and closing.

[2020-05-17 06:02] #408 closed

[2020-05-17 06:04] colinxfleming opened #1978 "Bump production DB instances where applicable"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Per the ancient #408 we want to bump db instances in prod to buy our way out of a technical problem.

* **What feature or behavior is this required for?**

DB sustainability

* **How could we solve this issue? (Not knowing

[2020-05-17 06:12] colinxfleming commented on #1970
I looked under the hood of how search works and it's not going to lend itself well to going harder on activerecord. There's a dragon to slay there someday.

[2020-05-17 06:15] colinxfleming commented on #1947
UptimeRobot does not seem to do this, though we could rewire it to have a shared DCAF account. Not ideal though.

[2020-05-17 06:19] colinxfleming opened #1979 "'Delete patient' not working in sandbox"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Steps to recreate:
* log in to sandbox using the test@example.com account
* search for a patient (without a sent pledge) and go to their patient record by clicking the link
* click the big red Delete this patient button and

[2020-05-17 21:08] colinxfleming commented on #1977
Do you think these gotchas might be a good fit for https://github.com/DCAFEngineering/dcaf_case_management/blob/master/docs/SETUP.md ? From the context it looks like this came up on repo setups.

[2020-05-19 00:30] xmunoz commented on #1976
FWIW caf-daria sent me a password reset email, but none of the other sites did, so whatever was done to configure caf-daria worked :shrug:

[2020-05-19 02:40] colinxfleming opened #1982 "Documentation followups from OTS onboarding"
Some followups from onboarding in a group setting to clarify the process. Due this wknd.

- [x] clarify what DCAF needs to provide
- [x] better sqreen instructions
- [x] document what app name to use in heroku template
- [x] sentry - add instructions
- [x] rake nightly_clean up in setup instructions
- [x] add instructions for the rails console step in setup doc (initial user creatin)
- [x] add ins

[2020-05-19 03:18] colinxfleming opened #1983 "Resolve sendgrid-noaf issues"
I had an issue provisioning sendgrid for noaf. I have opened a ticket to resolve it with heroku, but want to keep tabs on it here so it doesn't slip.

Done when NOAF's daria instance is able to send emails.

[2020-05-19 03:19] colinxfleming opened #1984 "Resolve sentry setup"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I added some other people to sentry in a hurry, but they've got a legit open source plan that we should move to.

* **How could we solve this issue? (Not knowing is okay!)**

* add other dcaf devs/engineering lead types
* g

[2020-05-20 02:33] #1975 closed

[2020-05-21 00:22] #1561 closed

[2020-05-25 06:07] colinxfleming commented on #1983
Post conversation with @xmunoz and with our inability to get sendgrid set up thru attachment I've rigged them up with a separate mailer (tied to my email for now), but we have to do some DNS auth before we get that set up. I'm going to hopefully crack into DCAF's DNS panel tomorrow and rewire things to allow us to send emails from DCAF's domain, and then rewire everything else to use that.

[2020-05-25 06:12] colinxfleming commented on #1984
We're on the legit open source plan now.

[2020-05-25 06:12] #1984 closed

[2020-05-25 06:14] colinxfleming commented on #1984
(also invited @harumhelmy and @lomky )

[2020-05-25 06:20] colinxfleming commented on #1968
fixed via #1986

[2020-05-25 06:20] #1968 closed

[2020-05-25 06:22] colinxfleming commented on #1976
Fixed via #1987

[2020-05-25 06:22] #1976 closed

[2020-05-25 06:22] colinxfleming commented on #1976
(note that NOAF is still busted but this should resolve for the rest)

[2020-05-25 06:58] colinxfleming opened #1988 "Remove extra env vars in heroku envs"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

To make sure things are clean for when I'm out of pocket soon, clean up the extra env vars in heroku - these make wrenching around trying to find problems way more confusing than they should be!

[2020-05-25 19:31] #1982 closed

[2020-05-26 00:31] #1970 closed

[2020-05-26 01:07] #1988 closed

[2020-05-26 01:07] colinxfleming commented on #1988
(did this)

[2020-05-26 01:31] colinxfleming opened #1990 "On config page, dropdown configs should display as dropdowns"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

On the config management panel, there are several options that are for fleshing out dropdowns. In the UI, though, they show up as lists of options with some confusing array notation:

![image](https://user-images.githubuser

[2020-05-27 20:29] sofijaj opened #1991 "Fix initial_call_date before appointment_date Validation"
* **What are we trying to do?**
When using the data entry view, if you try to create a new patient without an initial call date but WITH an appointment date, DARIA crashes instead of relaying what's wrong to the person on the frontend.

* **What feature or behavior is this required for?**
Robust Data Entry!

* **How could we solve this issue? (Not knowing is okay!)**
Check `initial_call_date.prese

[2020-05-29 03:55] colinxfleming commented on #1978
resolved (by upgrading everyone)

[2020-05-29 03:55] #1978 closed

[2020-06-04 18:05] xmunoz commented on #1983
From the slack channel, it looks like @colinxfleming is hooking up all email sending to a newly purchased domain to resolve this issue and future sendgrid issues. Not sure that this solution is fully in place yet though.

[2020-06-06 06:56] #1983 closed

[2020-06-06 06:58] colinxfleming commented on #1983
NOAF's instance and all other instances are now sending emails via this singular shared sendgrid from a dariaservices-specific domain. Have done all the associated cleanup I could find. gl hf!

[2020-06-07 19:42] colinxfleming commented on #1686
Here's the story:
* `jquery-ujs` in webpack is required for this
* we'll know that works when $
* we should replace `form.submit()` with `$.rails.fire(form, 'submit')` or something similar in webpacker (see the ill-fated https://github.com/DCAFEngineering/dcaf_case_management/pull/1747 )
* this is made MUCH more complex by the fact that we're doublestacking jquery in both sprockets and webpacker

[2020-06-07 20:00] colinxfleming commented on #1752
There are a few other tough things we gotta sort out:
* i18n handling (probably an argument for stimulus as the framework, though more people know react and that matters a ton to us)
* js.erb handling (controllers do a lot of heavy js lifting now; tbh this causes us all sorts fo problems)
* rails might be adopting limited components sometime soonish, does that influence our plan here? (probably no

[2020-06-07 20:01] colinxfleming commented on #1752
also, there's a lot of lifting currently done by model methods (LastMenstrualPeriodMeasureable for example), and dealing with those will be difficult.

[2020-06-07 20:56] colinxfleming commented on #1947
I was not able to find a good uptime monitor that was a) free and b) supported teams. If someone finds that, they should post it here!

[2020-06-07 20:57] colinxfleming commented on #1945
Assigning to @sofijaj

[2020-06-07 20:58] colinxfleming commented on #1897
@verbingthenoun as an fyi, the mailer issue bug should be fixed as of earlier this week! Sorry about that.

[2020-06-07 23:11] tingaloo commented on #1752
It's a lot of work and would be an ongoing war to integrate both of them. More so have developers comfortable both with Rails and React.

Maybe there's a better way to make use of that effort like making an independent backend API?

[2020-06-13 07:06] colinxfleming opened #1999 "Autogenerate pledge forms for non-DCAF funds"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

BRAF mentioned this on a call -- they're seeing some errors generating pledges by hand, and are interested in this.

Should be something we look into after 2020.

* **What feature or behavior is this required for?**

Other

[2020-06-18 06:12] colinxfleming opened #2000 "Add fax service to pledge workflow"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

DARIA will generate a PDF for you (if you're DCAF), but to send it you're heading to an external While funds do tend to have different faxing services, we've got reason to believe that this isn't because they particularly l

[2020-06-18 06:26] colinxfleming commented on #634
This came up within the working group. @SerenaYudon 's option 1 should still be the central goal we're trying to implement here to start, but I'm increasingly agnostic on whether this should be in the rails service. Maybe we swap to postgres and then become a Mode Analytics client and embed dashboards? Maybe we stand up that shiny server or similar? Maybe we take advantage of that buckwild mongodb

[2020-06-19 02:13] colinxfleming opened #2003 "Add multifactor authentication"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Up to this point we've taken advantage of googly account security. I looked pretty hard and we unfortunately can't make people have 2fa on their google accounts. We can require general 2fa for all accounts, though, or requi

[2020-06-19 02:22] colinxfleming commented on #413
Adding this to our DARIA Independence milestone.

I think what we've learned from our attempts at this so far is that a) doing this on the fly is hard; b) plugging it into mongoid is also really hard. (Maybe the ecosystem has changed a bit.)

Before we start on this, we should probably make a decision on whether or not to move to postgres one way or the other.

[2020-06-22 19:37] verbingthenoun commented on #1914
hey all! we're still running into pretty significant issues with folks not being able to audit records because they're already archived, on the order of 20-30ish records per month. any update on this?

[2020-06-22 19:39] verbingthenoun commented on #1914
although, now that I've said that - changing timing of archive after audit actually won't fix this because these are patients that have NOT been audited yet. would it be helpful for me to give some examples of fulfillment dates on records that got archived too early?

[2020-06-28 15:03] #1733 closed

[2020-06-28 23:36] lomky opened #2008 "CircleCI Failing on Deploy Step"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
  - Build clean when features are merged

* **What feature or behavior is this required for?**
  - CI/CD health

* **How could we solve this issue? (Not knowing is okay!)**
Futz around with CircleCI!

* **Anything else?**

W

[2020-06-30 20:25] lomky commented on #1914
Hey @verbingthenoun - I might have an explanation for what you're seeing. While we archive at different time frames for audited records, we don't actually archive based on `fulfillment date`, today.

We actually archive based on the `initial call date`. For a patient with a audited pledge pledge, we archive when we pass 3 months after the initial call date, and for patients without an audited pled

[2020-06-30 23:55] lomky commented on #1914
My proposal:

  - shift our 'fast track' archiving option to track on `fulfillment_date` - archive a patient **six months after their fulfillment is entered**
  - extend our dropoff catch - archive any patient who's `initial_call_date` is **over two years old ago**

@verbingthenoun would that timeline allow your folks to do their work before the patient data gets anonymized?

[2020-07-01 12:28] verbingthenoun commented on #1914
Yes @lomky that’s perfect!

[2020-07-01 22:52] colinxfleming commented on #1914
@verbingthenoun @lomky what are the odds we could keep the dropoff catch as is? That does a lot of lifting to prevent us from having duplicate patients, which tend to be tough for CMs to handle. would limiting to the fulfillment date swap would catch @verbingthenoun 's issues here?

[2020-07-01 23:01] verbingthenoun commented on #1914
ahhh, got it @colinxfleming - I think we could give it a try with just the post-fulfillment date changing and see how things go. Thanks!

[2020-07-02 01:17] lomky commented on #1914
@colinxfleming That was my initial instinct, but it sounds like the dropoff catch is what's causing the problem here, since these were unaudited patients

[2020-07-07 22:59] lomky opened #2010 "Allow admins to edit the Pledge Sent At and Fund Pledge at dates for backfilled patients"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make the `Pledge Sent At` and `Fund Pledged At` on the Data Entry tab editable

* **What feature or behavior is this required for?**
 - Support accurate info for backfilled patient data
 - Avoiding backfilled data from showi

[2020-07-08 15:49] harumhelmy commented on #2010
Thanks for this @lomky!

Assuming that most data entry vols enter data through the `/data_entry` route, it could be useful to have a field to enter the Pledge Sent date on that form instead/in addition.

<img width="919" alt="Screen Shot 2020-07-08 at 11 49 12" src="https://user-images.githubusercontent.com/13320420/86940636-0d4d5c80-c111-11ea-9567-75941968be65.png">

[2020-07-09 01:42] lomky commented on #2010
@harumhelmy that is a great suggestion, and is actually much cleaner engineering as well! Pinging Elizabeth to see if that workflow fits for them.

[2020-07-11 20:25] lomky commented on #2010
Elizabeth says that'll work! Amazing catch :sparkles: :tada:

[2020-07-13 17:12] #2010 closed

[2020-07-16 23:04] BintLopez commented on #2003
This is the gem that I'm using and working through:  https://github.com/twilio/authy-devise

[2020-07-18 06:08] colinxfleming commented on #1751
Checking in from my sabbatical to post about this - the more I've thought about it, the more I've come down on the side of making the swap over, even knowing what a huge pain it's going to be. The reasons I think this are a good idea include:

* the main benefit that we get from mongo is that it's very easy to iterate on. Since we're no longer building out models as fast as we can, the pain of man

[2020-07-18 06:30] colinxfleming commented on #1751
oh, I almost forgot thebig one, which is that `attr-encrypted` on mongoid is EXTREMELY hard but attr-encrypted on pg is ez breezy by comparison.

[2020-07-18 19:28] #1991 closed

[2020-07-18 20:20] #2008 closed

[2020-07-18 20:39] lomky opened #2019 "Pledged data entry patients should have pledge fields set on save"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Right now the hook for update_pledge_sent_by_sent_at is only invoked on update, instead of on save.
https://github.com/DCAFEngineering/dcaf_case_management/blob/f600471bb898df8cff1510c7857ee727f04c5a40/app/models/patient.rb#

[2020-07-23 22:54] lomky opened #2021 "Migrate our primary branch to `main`"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Rename `master`->`main`

* **How could we solve this issue? (Not knowing is okay!)**

 - [x] create a new branch `main` with the move command in git; push it up to GH
[code]
   ([source](https://www.hanselman.com/blog/Easily

[2020-07-23 23:08] lomky commented on #2021
Heroku: has instructions available: https://help.heroku.com/O0EXQZTA/how-do-i-switch-branches-from-master-to-main

[2020-07-23 23:25] lomky commented on #2021
NB: add protection on the `main` branch

[2020-07-23 23:28] lomky commented on #2021
do need to update base for existing PRs!

[2020-07-23 23:33] lomky commented on #2021
:sweat_smile:

[2020-07-23 23:43] lomky commented on #2021
For fork-based projects, the local instructions are actually:

[code]

but if you push directly to the main repo, you follow these ones:

[code]

[2020-07-24 00:07] lomky commented on #2021
CircleCI isn't building `main` :sweat:

Disabled only build on PRs - now runs when a commit hits main

Reenabled build on PRs (_should_ still run on default...)

[2020-07-24 00:12] lomky commented on #2021
It looks like CodeCov hasn't been working for 2 years :cold_sweat: adding an issue to fix that separately

[2020-07-24 00:23] lomky commented on #2021
[CircleCI article from a few years ago](https://discuss.circleci.com/t/circleci-doesnt-notice-when-github-default-branch-is-updated/10469/4) suggests this is an issue that will resolve itself, or we can manually bash the webhooks to make it happen faster. given that AWS issues are acomplicated CircleCI runs atm anyway, going to revisit this tomorrow.

[2020-07-24 13:57] lomky commented on #2021
[GitHub is making it so deleted branch names redirect to the default](https://github.blog/changelog/2020-07-17-links-to-deleted-branches-now-redirect-to-the-default-branch/) - can we get away with setting all our references to other repos to link to `main` - or will it only work if the branch _has_ existed?

[2020-07-25 00:13] lomky commented on #2021
Heroku plan!

 - clone the stage env locally
 - set up main & push via their instructions
 - go to dev repo
 - update circle config to be pure `main`
 - push new main dev

 - [ ] sandbox works!
 - [ ] ?? prod?? might need to set up a time to test this with possible downtime

[2020-07-25 00:23] lomky commented on #2021
[code]

[2020-07-25 00:23] lomky commented on #2021
CircleCI still doesn't know about `main` :confounded:

[2020-07-25 00:31] lomky commented on #2021
for the sake of testing heroku and being functional, disabling `Only build pull requests` for now

[2020-07-25 00:36] lomky opened #2024 "Fix CodeCov"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Fix the CodeCov!

* **What feature or behavior is this required for?**
Keeping an eye on coverage

* **How could we solve this issue? (Not knowing is okay!)**
dunno!

* **Anything else?**
might need admin access?

[2020-07-25 00:43] lomky commented on #2021
Heroku circleci integration now works! :tada:

[2020-07-25 00:48] lomky commented on #2021
CircleCI - I deleted the `master` branch on our repo; I toggled the webhook. No dice. going back to disabling `Only build pull requests`

[2020-07-25 00:52] lomky commented on #2021
resetting prod heroku envs:
 - [ ] Chicago
 - [ ] Baltimore
 - [ ] Blue Ridge
 - [ ] Carolina
 - [ ] New Orleans
 - [ ] DC

[2020-07-25 01:21] #2021 closed

[2020-07-28 22:59] xmunoz opened #2025 "Fix slow queries for mongodb Atlas migration"
The [migration prerequisites](https://docs.mlab.com/how-to-migrate-to-atlas/#migration-prereqs) for Mongodb Atlas indicate the following:

Here is the command to remove:
[code]

It looks like this is considered a "slow query" across all of the clusters. It also looks like building this index is a single mouse-click. How do ya'll feel about me clicking that button?

![Screenshot from 2020-07-28 15-

[2020-07-28 23:00] lomky commented on #2025
@xmunoz click it!

[2020-07-28 23:36] arjunrawal07 commented on #1921
I'm picking this one up!

[2020-07-28 23:52] xmunoz commented on #2025
Alright, I've created those indexes. Since those indices was created for the `sessions` collection, and that collection is managed by a [3rd-party gem](https://github.com/mongoid/mongo_session_store), there is nothing else to really do there.

However, on two fund sites, the following queries are problematic because of an in-memory sort (i.e. `order_by` clause): [patients.rb line 148-154](https://

[2020-07-29 00:14] lomky opened #2027 "Restore CircleCI zeitwerk:check"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Turn back on `zeitwerk:check` and `yarn install` now that our rails version is 6.0.3

https://github.com/DCAFEngineering/dcaf_case_management/blob/main/.circleci/config.yml#L40

* **What feature or behavior is this required

[2020-07-29 01:21] xmunoz commented on #1539
I am in the process of actioning this migration. The sandbox instance has already been migrated to atlas, and the other instances will be migrated later this week. I will close this ticket once that happens.

[2020-07-29 01:29] lomky commented on #2024
Got it to circle! not yet to codecov

[2020-08-05 16:45] xmunoz commented on #1539
It is done!

[2020-08-05 16:45] #1539 closed

[2020-08-05 16:47] xmunoz commented on #2025
We went ahead with the migration without fixing the slow queries. These queries probably need to be rewritten as the number of records grows.

[2020-08-09 19:03] xmunoz opened #2030 "vulnerable dependency: omniauth 1.9.0"
Just got an update from Sqreen that we have a vulnerable second-order dependency: omniauth 1.9.0. This is a dependency of the DCAF dependency omniauth-google-oauth2. The solution is to upgrade  omniauth-google-oauth2.

[2020-08-10 00:29] #2030 closed

[2020-08-10 16:17] xmunoz opened #2032 "Turn off Mongodb DEBUG logging"
Currently, the prod logs are polluted with messages like this:

[code]

This noise makes it difficult to sift through the logs and diagnose the cause of outages. Let's switch the logging level to info or warn if possible.

[2020-08-13 21:16] lomky commented on #1882
data entry now allows you to enter the dates manually, avoiding having them hit the budget bar!

[2020-08-13 21:16] #1882 closed

[2020-08-18 17:16] xmunoz opened #2035 "Upgrade Ruby version"
Sqreen triggered an alert about the Ruby runtime version ([2.6.6](https://github.com/DCAFEngineering/dcaf_case_management/blob/main/Gemfile#L2)):

The current normal ruby maintenance version is 2.7, so we should probably upgrade to that.
https://www.ruby-lang.org/en/downloads/branches/

[2020-08-18 17:17] xmunoz commented on #2035
This will involve upgrading the docker image as well as the Gemfile.
https://github.com/DCAFEngineering/dcaf_case_management/blob/main/.docker/Dockerfile#L1

[2020-08-20 01:12] lomky opened #2037 "Let's talk about Practical Support Process Improvements"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Keep the processing of Practical Support Patients inside the application, and not out on whiteboards, etc.

* **What feature or behavior is this required for?**
Better experience for both funds and patients.

* **How could w

[2020-08-20 01:40] lomky opened #2038 "Support gestation over 30 wks"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Increase the gestation pulldown options available for "weeks along aat intake" and "weeks along at proceedure"

* **What feature or behavior is this required for?**
Accurately recording information reported by the patients a

[2020-08-20 02:05] xmunoz opened #2039 "UI bug"
I was verifying the most recent deploy, and clicked on a screen that showed this:
![bug](https://user-images.githubusercontent.com/1065196/90707985-9518a180-e24d-11ea-97d3-a09aeddeddbc.png)

Looks like some frontend code is failing to evaluate on the "Patient history" section, causing the UI to dump HTML. This bug needs triage from someone who knows this codebase better than I, but this seems rela

[2020-08-20 02:17] #2032 closed

[2020-08-20 02:19] xmunoz commented on #2039
Dupe of https://github.com/DCAFEngineering/dcaf_case_management/issues/1921

[2020-08-20 02:19] #2039 closed

[2020-08-21 00:27] #1921 closed

[2020-08-27 00:32] #2038 closed

[2020-08-29 22:52] xmunoz opened #2049 "Enable mongodb IP whitelist"
The application is deployed on Heroku, which doesn't offer static IPs. Configure a static IP for each deployment, and whitelist that IP address on the mongodb cluster firewall.

[2020-09-09 23:01] lomky opened #2053 "Add a Zip Code field to the Patient Model"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
(Re)add the Zip Code field for Patients

* **What feature or behavior is this required for?**
Chicago needs zip codes to provide accurate funding info! Rather than have them hack it into another field, let's explicitly suppo

[2020-09-09 23:26] lomky opened #2054 "Add a Gender Identity/Pronouns field to the Patient Model"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Make a freeform field for patient gender identity/pronouns

* **What feature or behavior is this required for?**
Make sure patient identities are respected front & center, instead of hidden in Notes

* **How could we solve t

[2020-09-09 23:34] lomky opened #2055 "Add Config to Extend "Voicemail preference" options"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Allow funds to extend Voicemail preference with per-fund options.

* **What feature or behavior is this required for?**
Chicago supports leaving messages under a codename, but right now stores that detail under notes. Lets a

[2020-09-10 23:47] elimbaum commented on #2055
I am working on this!

[2020-09-10 23:48] arjunrawal07 commented on #2053
Picking this up!

[2020-09-11 14:36] elimbaum commented on #2055
We're currently using a static enum (`:no`, `:not_specified`, and `:yes`), but it looks like mongo is storing them as strings. We might be able to get away with using a string, and then mirroring the language settings closely. Will need some work to convert all the enum code to string handling, but should be ok. We'll also need to make sure that any new options don't clobber the existing defaults

[2020-09-11 20:59] #1704 closed

[2020-09-13 15:54] #2054 closed

[2020-09-17 19:27] lomky opened #2062 "Upgrade to Capybara 3"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Upgrade our Systems Tests gem Capybara to version 3. V2 is two years old and has started throwing a lot of deprecation warnings at us.

* **What feature or behavior is this required for?**
App Health

* **How could we solve

[2020-09-22 23:44] ccedacero commented on #1461
Hi all! I'm gonna tackle this case :)

[2020-09-23 00:55] lomky commented on #1461
Looking at `password_strength` a bit - its still very popular but it hasn't been touched in 5 years and the repo itself is archived.

Alternatives
 - [strong_password](https://rubygems.org/gems/strong_password) - [github](https://github.com/bdmac/strong_password)
 - [devise_zxcvbn](https://rubygems.org/gems/devise_zxcvbn) - [github](https://github.com/bitzesty/devise_zxcvbn)

[2020-10-08 20:12] ccedacero commented on #1461
hi! I implemented Strong Password  and I'm wondering if we have want to add any additional conditions. I'm using the validation below and it seems to work fine. I don't know if we want a higher entropy or if we want to disable dictionary checking. Also, our current test user  password is too weak and I'm gonna change it because the seeding fails otherwise.  We can chat about this today:)
`  valida

[2020-10-08 21:33] lomky commented on #1461
awesome @ccedacero! Could you push up what you've got as a PR? its okay if its still a work in progress

[2020-11-12 23:41] lomky commented on #1665
Let's give this a shot again maybe? :eyes:

[2020-11-12 23:46] lomky commented on #1658
I _think_ we have them all, and if we dont we can do individual tickets like #1921

[2020-11-12 23:46] #1658 closed

[2020-11-12 23:47] lomky commented on #1638
I think we have them all, and if we dont we can do individual tickets like #1921

[2020-11-12 23:47] #1638 closed

[2020-11-13 00:38] dcbeergoddess commented on #1990
Gonna attempt to tackle this issue for Hacknight!

[2020-11-13 00:53] arjunrawal07 commented on #2019
picking this up!

[2020-11-13 01:40] #2053 closed

[2020-11-17 03:01] colinxfleming commented on #2049
hey @xmunoz , what's the state of the world on this front? I think I've seen a PR but feel like I've also seen chatter/an email that this is more pain than it's probably worth given the cost, technical hassle, and looming possibility of someday being Children of Postgres. Should we consider this still live (in which case, how can I help?) or has this gradually drifted into wontfix territory?

[2020-11-17 06:42] colinxfleming commented on #2062
Claiming this (as a reintroduction to programming in rails, since I have done exactly zero of that for awhile)

[2020-11-17 16:04] xmunoz commented on #2049
I think it's drifting in the "won't fix" direction. Take a look at the attached PR for a sample implementation. Outstanding questions:
1. Is this even worth it, given that we would need to pay for more quota than we initially anticipated
2. Figuring out how to circumvent the tunneling for local development, which the attached PR does not have a solution for.

[2020-11-18 01:01] colinxfleming commented on #2049
big yikes @ the local development bullet. I'm def interested in @lomky and @harumhelmy 's opinions on this, but kinda feels like this would be double the cost to have only a slightly better security stance?

In other words, inclined to wontfix but want opinions from the people who have been leading the project first!

[2020-11-19 01:32] lomky commented on #2049
File me under _very frustrated_ and leaning strongly to the blissful world of Postgres. Whats the sttae of that big ol lift? week/month/6mo/1y+ out, assuming we focused it?

[2020-11-19 01:35] #2062 closed

[2020-11-19 01:43] #2035 closed

[2020-11-19 16:32] colinxfleming commented on #2049
6m would be my guess - my research branch indicated that we could get things working but it's hard and really sucks up time and energy.

[2020-11-19 23:07] colinxfleming commented on #1751
postgres!

[2020-11-19 23:07] #1751 closed

[2020-11-19 23:28] xmunoz commented on #2049
I'm a bit confused by the Postgres remark. Even if Daria were using some kind of hosted Postgres solution, the concern about open network access would still need to be addressed in a similar way (e.g. setting a static IP for the app). If anything, the real culprit here is Heroku, which makes the process of configuring a private subnet or static IP expensive and cumbersome.

[2020-11-20 02:17] colinxfleming opened #2072 "Move to postgres and off of MongoDB"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Move to postgres! (in stages)

MongoDB is less and less supported as time goes on, and means we're dependent on a lot of extra stuff. Moving to pg has its drawbacks but makes most of our problems much more googleable, and t

[2020-11-20 02:35] colinxfleming commented on #2049
@xmunoz has rightly pointed out that I've put the cart before the horse here, and that the root cause is heroku making static IP setting difficult to impossible. So scratch what I said about a postgres swap addressing the root cause of this issue.

That said, it _does_ feel like this is really hard and costs more for not that much additional benefit, so doing nothing still feels like the default.

[2020-11-20 03:45] colinxfleming commented on #1817
So here's what this was all about: When we made the decision to spin up new instances for BAF and BRAF, we didn't have a great sense of how much custom work they'd require, or how close their systems were to us. Turns out funds will mostly adhere to our systems pretty well, so that's good, and raises the question: Should we pool everything into one app and scope users to a particular fund?

Some a

[2020-11-20 03:45] colinxfleming commented on #1817
@lomky @harumhelmy @mdworken @xmunoz interested in your thoughts here!

[2020-11-21 06:56] colinxfleming commented on #2049
@lomky and I did in fact talk about this when we checked in! I think our consensus was that while fixing this is almost certainly a cure worse than the disease, we'd feel like world class dingdongs if we got hit by it.

Our consensus was that the primary point of this would be to protect against brute force attacks (e.g. just hucking combos of logins and passwords until it found something good) -

[2020-11-23 00:21] elimbaum commented on #2055
Currently working with admin-configurable values. Call modal displays same as "unspecified" (yellow warning text).

I'm not sure how to handle configuration modification. I guess this is also an issue with other fields (language, referral, etc.): what happens if I set a patient's vm preference to CostomValueA, then realize my mistake and (in configs) change CostomValueA to CustomValueA? Currently,

[2020-11-27 04:54] colinxfleming commented on #1817
note to self https://github.com/ErwinM/acts_as_tenant

[2020-11-28 08:07] colinxfleming commented on #1914
@lomky is this still live, or is there more to resolve on this front?

@verbingthenoun is this still problematic?

[2020-11-28 08:09] colinxfleming commented on #1753
I have decided that this is probably more trouble than it's worth, unless something about CircleCI radically changes, until we figure out the whole system tests in docker thing.

[2020-11-28 08:09] #1753 closed

[2020-11-28 08:22] colinxfleming commented on #1691
@valeriecodes feels like the meat of this got resolved in #1704, but I'm curious about the a11y linting step - would you recommend we implement that (and if so, can you recommend a strategy?), or does that feel like more trouble than it's worth?

[2020-11-28 18:42] verbingthenoun commented on #1914
Thanks @colinxfleming - yes, this is still an issue.

[2020-11-29 01:08] colinxfleming commented on #1914
Got it, thanks.

The solution we were poised to implement was `shift our 'fast track' archiving option to track on fulfillment_date - archive a patient six months after their fulfillment is entered`. @lomky does that still make sense as a remediation strategy? @verbingthenoun do we still feel this would fix the core issue you were describing here?

[2020-11-29 07:24] colinxfleming commented on #2024
What's the next step here?

[2020-11-29 18:16] verbingthenoun commented on #1914
Yes, that should work!

[2020-11-29 19:59] colinxfleming commented on #814
I'm still kinda interested in doing this; I think it's also a good opportunity to clean up some of the bitrot in our seeds file. Going to mess around with this some in 5-10m increments over the next week.

[2020-11-29 21:26] lomky commented on #1914
Sounds good to me - updating the topline comment!

[2020-11-29 21:30] lomky commented on #2024
haven't the slightest - I realized while moving to `main` that we weren't tying to CodeCov anymore and our README badge was broken. my goal is to make sure we're keeping an eye on coverage numbers (and to brag about it)

[2020-12-04 04:14] colinxfleming commented on #2049
I settled down to do this tonight -- I tried to connect via CLI to see what would happen if I tried to brute force. Got some pretty promising results when I initially tried to log in (with proper creds, even):

[code]

I wonder if there's some under the hood stuff where heroku is on an auth'd IP allowlist or something. Either way I take this to be a promising sign that we're okay to declare victor

[2020-12-04 07:26] #2055 closed

[2020-12-04 07:49] colinxfleming commented on #2024
I opened up the codecov console and swapped some stuff on that over to main, but I suspect this will still need some ci reconfiguring regardless.

[2020-12-04 16:22] #1897 closed

[2020-12-04 17:54] xmunoz commented on #2049
Hmm, interesting. Let me look into this a bit more today. I have some time in the afternoon.

[2020-12-05 00:40] elimbaum opened #2084 "Prevent changes to custom configs from clobbering existing values"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
When custom configurations change (insurance, voicemail, language, etc.), we don't want users with the old values to be broken. Currently, both insurance & voicemail implement special code to show the available options, _as

[2020-12-05 18:39] colinxfleming commented on #2084
This plan of attack as written (which I understand to be, basically, 'apply our practices around voicemail pref and insurance to other dropdown-selects') sounds great to me! Thanks very much for taking the time to make an issue about this - will look forward to seeing what you come up with on this front.

[2020-12-05 18:54] elimbaum commented on #2084
I'm also thinking about adding some kind of alert to users, so they know certain values are outdated. But I'm not sure how to do that in a way that is intuitive. I can't really think of a universal "this value is outdated, please update it!" symbol.

Some ideas: [this is what the select box would look like]

[code]

[code]

[code]

[code]

If I use a symbol, would probably need some kind of help t

[2020-12-05 22:23] colinxfleming commented on #2024
Our umbrella's back due to #2083  -
![image](https://user-images.githubusercontent.com/3866868/101266625-97303e80-371e-11eb-8e97-000d0b7e1a5b.png)

declaring victory!

[2020-12-05 22:23] #2024 closed

[2020-12-06 00:26] xmunoz commented on #2049
Yup, I was definitely able to log in locally. There is no network level protection.

[code]

[2020-12-06 07:05] colinxfleming commented on #2084
I think the instincts you're showing here are right on, but I think I'd lean against alerting on outdated values. My thinking here is that even old/deprecated values will be safe to have in db, and (as @lomky has pointed out) in the event of values Really Needing to Get Fixed we can reasonably expect a fund to hit us up and ask us to do this via db query directly. Put another way, we're generally

[2020-12-06 18:05] elimbaum commented on #2084
ok, that sounds good. I guess my edge-case alarms were going off with something like a misspelling – where you might have an option that gets used a bunch, someone realizes there's a mistake, updates it. But if we're fine with not totally consistent fields I'll just go ahead and add it without alert.

[2020-12-07 19:52] colinxfleming commented on #2084
Yeah, we are extremely fine with not consistent fields, so no alert sounds good. Thanks much for talking this out with me!

[2020-12-07 22:43] colinxfleming opened #2088 "Fix deprecation warning on URI.escape"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

`rails test` is yielding the following warnings:

[code]

The task here is track this down and switch it to something that keeps tests passing but doesn't yield that warning.

* **What feature or behavior is this required f

[2020-12-08 00:23] lomky commented on #1817
I'm not super convinced the positives here are worth the real and potential downsides.
We save one some one time costs (app spin up) and some literal small costs. I don't really find the multile prod envs that complicated to manage at our current scale.

On the downside, now each of the funds has to trust every other fund in their security practices, and every new fund we bring on increases the ri

[2020-12-08 17:43] xmunoz opened #2091 "Add Github Action or CircleCI automation to build a dev env for every PR"
The following steps are required to bring up a local dev environment.

[code]

Add automation (either in Github Actions or CircleCI) to preform this test on every PR, to ensure that bringing up a dev environment remains possible on every change.

Inspiration: #2075

[2020-12-08 17:48] xmunoz commented on #2025
This can be closed once #2072 is closed, since we will be moving off of Mongo.

[2020-12-08 17:50] xmunoz commented on #2049
I'm fine doing whatever you decide. If/when you close this issue, make sure to decline the accompanying PR: #2050

[2020-12-08 19:42] colinxfleming commented on #2091
love this idea

[2020-12-11 05:49] colinxfleming commented on #1817
re: devops costs stacking up, we're starting to see some early examples of that with postgres - a plan with a security bump (standard 0) is $50/m. Spread across our six client funds that's $300/m, which would roughly quadruple our hosting bill at the moment.

[2020-12-18 18:58] elimbaum opened #2099 "Create user test sometimes fails"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Pass system tests! `test/system/create_user_test.rb:26` fails on CircleCI, sometimes. For example, see [here](https://app.circleci.com/pipelines/github/DCAFEngineering/dcaf_case_management/405/workflows/a1e160b0-07c4-4105-af

[2020-12-18 19:01] elimbaum commented on #2099
I wonder if the system test is trying to create a duplicate user. Unclear why that would only happen _sometimes_, however.

![Screen Shot 2020-12-18 at 14 00 53](https://user-images.githubusercontent.com/7085805/102650804-75c94c80-4139-11eb-8e27-ee9de718aa79.png)

[2020-12-21 16:23] colinxfleming commented on #2099
thanks a ton for spinning this up @elimbaum !

Can confirm that this test seems to be failing spuriously pretty often lately, which is annoying, so definitely worth fixing up.

[2020-12-22 02:51] elimbaum commented on #2099
Do we have any insight as to why this is inconsistent? Or what could influence it? Is it possible CircleCI isn't building a fresh database? Do we have any tests that intentionally operate in a random manner which could be influencing this one down the line?

[2020-12-22 07:07] colinxfleming commented on #2099
yeah -- system tests use selenium, which fires up a web browser and dummy rails server, issues commands to the browser, and sometimes runs the minitest asserts before the commands have completely resolved. Most likely the reason this is happening is because of this.

What's unusual about this is that we see this kinda thing more commonly with things involving lots of ajax, and not so much synchron

[2020-12-30 18:42] colinxfleming opened #2104 "Extract call lists into their own model"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Call lists and their ordering was never super elegant, but moving this over to postgres increases the ruby complexity quite a bit. This is a ticket to explore doing that in mongo to get the railsy parts right in isolation.

[2020-12-30 19:24] colinxfleming commented on #2104
this is a minor pain because of the lack of has_many through in mongoid but initial work on it shows we can probably build an approximation of it that's still much easier to port to pg after the fact.

[2021-01-08 22:23] colinxfleming opened #2110 "Bump to rails 6.1"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

It's upgrade season. HOOOOONK

* **What feature or behavior is this required for?**

new hotness; safe rails

* **How could we solve this issue? (Not knowing is okay!)**

* bump gem
* run the rails app upgrade command and i

[2021-01-14 14:02] verbingthenoun commented on #1914
Hola friends. This issue is still ongoing but my thinking on this has changed--I think this might be a clinic side problem. We had at least one clinic send in all of their 2020 pledge forms going back to January in one batch in December. I have flagged this for the clinic liaison and hoping it can be resolved by clinics doing something other than WAITING AN ENTIRE YEAR to tell us how much funds th

[2021-01-14 15:45] colinxfleming commented on #1914
wut

[2021-01-14 15:48] colinxfleming commented on #1914
I'm going to pop this out of hacknights for now until we have a chance to sync, if that's okay. I think a fulfillment delay might still be a good thing but I want to have another conversation before we implement anything.

[2021-01-15 01:34] lomky commented on #2019
Back out for general work!

[2021-01-17 18:14] #2084 closed

[2021-02-01 18:06] xmunoz opened #2117 "Flaky VoicemailPreferenceInCallModalTest"
I opened PR #2116 and this test failed, even though my changes only touch documentation. This test is probably flaky and need to be fixed.

[2021-02-01 18:22] xmunoz commented on #2117
Proof: https://app.circleci.com/pipelines/github/DCAFEngineering/dcaf_case_management?branch=docs-cleanup

[2021-02-01 23:57] colinxfleming opened #2120 "Go through Google App Verification"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
We're coming up on a domain limit for Oauth - google allows you 10 before you have to give them an explanation of who you are and what kinda ship you're running. We're there, so it's time.

* **What feature or behavior is th

[2021-02-04 01:08] colinxfleming commented on #413
I'd like to revisit this:

* I've generally assumed that 'encryption at rest' would mean implementing something like this. I think there's some disagreement on that - drive encryption (like macs have) counts under some standards. By that standard we have a lot more wiggle room, as heroku postgres above a certain tier + mongo atlas both have that.
* I think the fact that we've been meaning to do th

[2021-02-04 01:09] colinxfleming commented on #2000
I'm going to very ruthlessly take this out of the priority list, since it's in a broadly workable state now.

[2021-02-08 04:38] #2104 closed

[2021-02-10 20:14] sentry-io[bot] opened #2125 "patient dashboard bug: undefined method `calls' for nil:NilClass for some reason"
Sentry Issue: [DARIA-1G](https://sentry.io/organizations/dcaf-engineering/issues/2211128563/?referrer=github_integration)

[code]

[2021-02-10 20:44] colinxfleming commented on #2125
this blew up for DARIA DCAF user Eve, here's the sitch:

* when patients get deleted their associated call list entries aren't necessarily also deleted
* you can find people in this purgatory state with `CallListEntry.includes(:patient).reject(&:patient)`
* we should change the call list cleanup method to nuke people using that snippet, and/or remove nils from `User#ordered_patients`, and/or figur

[2021-02-10 20:44] colinxfleming commented on #2125
(it's fixed now)

[2021-02-11 01:05] elimbaum commented on #2099
@colinxfleming pointed out [this other system test][1] that uses `OptionalRetry`, so I'm trying that.

[1]: https://github.com/DCAFEngineering/dcaf_case_management/blob/main/test/system/logging_calls_test.rb

[2021-02-11 01:27] DarthHater commented on #2110
This is almost ready to work on, it is held up by `mongoid`, whomsteve merged rails 6.1 support but it has yet to be released, more info here: https://github.com/mongodb/mongoid/pull/4938 (would pause until this is released)

[2021-02-11 06:04] #2099 closed

[2021-02-11 06:25] #2125 closed

[2021-02-11 17:04] elimbaum commented on #2117
This looks like it's probably a similar thing as #2099. @colinxfleming same auto-retry fix?

[2021-02-12 06:25] colinxfleming opened #2131 "Zipcode is a number but should be a string"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

A DCAF CM pointed out that leading zeroes, such as in New England area codes, are getting cut off from zip codes.

* **What feature or behavior is this required for?**

This is workable, but not totally accurate, and since

[2021-02-12 06:25] colinxfleming commented on #2131
@elimbaum you interested in maybe taking a whack at this?

[2021-02-12 16:52] elimbaum commented on #2131
This is also probably a generally good idea, i.e. zip+4. I guess we're probably not worried about international addresses.

[2021-02-24 22:48] lomky opened #2137 "Create a basic Admin Reporting page"
**What are we trying to do?**

Create the MVP of the admin reporting page outlined below!

For the MVP:
 - Create the page available to admin users
 - have it show the three numbers for the current line/week

_Out of scope!_
 - changing the date window
 - changing the line
 - personal summary

**What feature or behavior is this required for?**
Eventual goal!
![Reporting page mockup](https://user-i

[2021-02-24 22:51] lomky opened #2138 "Investigate Twilo as a MFA integration option"
* **What are we trying to do?**
Run through the [Twilo Authy demo](https://github.com/twilio/authy-devise-demo) and write up how this could plug into Daria!

* **What feature or behavior is this required for?**
Multifactor Authorization!

* **How could we solve this issue? (Not knowing is okay!)**
Follow directions in that link

* **Anything else?**
This is probably best done by one of the repo ad

[2021-02-25 00:49] #2117 closed

[2021-03-02 00:00] xmunoz opened #2141 "upgrade omniauth"
Sqreen currently recommends version 2.0.3.

[2021-03-05 05:54] colinxfleming opened #2142 "How to mark patients complete for a practical support fund?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

NMRCRC is pushing us forward in this respect. They need a way to mark someone as all clear without pledges. How do we do that? I have no idea, but we should figure something out for them.

* **What feature or behavior is th

[2021-03-05 05:54] colinxfleming commented on #2142
a quick idea: practical support mode, which hides some fields and instead shows a 'all set' checkbox or something to mark stuff donezo?

[2021-03-07 20:58] xmunoz commented on #2141
Attached PR is an attempt at this, but it still has some problems.

[2021-03-09 20:13] verbingthenoun opened #2148 "Making fulfillment date field easier to use for data entry volunteers?"
* **What are we trying to do?**
Procedure date field in Fulfillment tab requires date to be entered as mm/dd/yyyy. Volunteers are used to typing dates as anything from mm/dd/yy to m/d/yy for single-digit months and days. This introduces errors into the data entry process that require additional auditor time to correct and are not always corrected before records archive. In an ideal world, DARIA wo

[2021-03-10 16:35] colinxfleming opened #2149 "Require US IP"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We got a request from France the other day. I think it was fine (someone using a VPN) but would be nice to cut this kinda stuff off, so let's investigate ways to ban non-US requesters.

* **What feature or behavior is this

[2021-03-11 00:57] lomky commented on #1914
@verbingthenoun I love a good tl;dr - please and thank you.

So the main thing that has us hesitating on pushing the button to implement the solutions for your scenario 1 & 2 is the tension that archiving enables ease of handling repeat patients. The longer we go before archiving a patient, the chance that same patient calls back and we run into data entry errors increases.

That said, @colinxflem

[2021-03-11 01:12] verbingthenoun commented on #1914
Works for me!

[2021-03-11 01:48] lomky opened #2150 "Add Configs to set Archive windows"
* **What are we trying to do?**
Make the Archive timelines for Dropoff and Fulfilled patients a fund-controlled configuration

Mockup:
![archive config mockup](https://user-images.githubusercontent.com/6129479/110719278-935aff00-81da-11eb-9985-f2adf1d102c6.png)

* **What feature or behavior is this required for?**
Some funds have frustrations around our data anonymizing too early for their process

[2021-03-11 01:51] lomky commented on #1914
Created #2150 to handle this work since this issue is pretty long and we've changed our minds a couple times on it.  Closing this one!

[2021-03-11 01:51] #1914 closed

[2021-03-11 23:25] lomky commented on #1990
Going to throw this one back into the hacknight pool!

[2021-03-12 02:05] elimbaum commented on #2088
So, it turns out that this method was being used to encode URLs before they were parsed. I think we should *just* be parsing them. (also, for reference, I believe this method is only being used by the fax service.)

https://github.com/DCAFEngineering/dcaf_case_management/blob/851bf72f0b67898bce06fceb32829d28ec1af346/app/services/uri_service.rb#L4-L12

The successor to `URI.escape` is either [`enco

[2021-03-12 02:10] elimbaum commented on #2088
See also https://docs.knapsackpro.com/2020/uri-escape-is-obsolete-percent-encoding-your-query-string

[2021-03-13 00:57] elimbaum opened #2153 "URI parsing (for fax service) is unstable"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Properly parse user-entered URLs, particularly ones that have slashes in them or are otherwise funky! Currently, we _only_ support URLs of the form `http://website.com`. Stumbled across this while working on PR #2151.

* **W

[2021-03-13 19:02] elimbaum commented on #2149
Do we necessarily want to prevent people from using VPNs, though (especially considering work-from-home trends)? Maybe something like fail2ban (i.e. blacklist, not whitelist) makes more sense if we're worried about DoS + brute force proection.

[2021-03-16 05:35] colinxfleming commented on #2149
We have something similar to fail2ban in place now (`rack-attack` iirc, which I think is essentially the same guard).

I don't mind VPNs necessarily, but I don't think there's a good reason someone for someone to connect to DARIA from a machine outside the states - that's way more likely to be a red flag than it is a proper human I think!

[2021-03-16 05:36] colinxfleming commented on #2153
thank you for spinning this up and tagging it @elimbaum !

[2021-03-16 23:56] elimbaum commented on #2153
I've done some digging, and it looks like much of this code was added last year in #1843 and #1845. It looks like we added some edge-case handling but aren't handling everything. Kevin mentioned using [this gem, addressable](https://github.com/sporkmonger/addressable), which would be more robust and may make sense. However, I'm not even sure it solves the most basic edge case of adding schemes to

[2021-03-19 01:51] elimbaum commented on #2153
I've settled on the following but welcome comments:

- Add `https://` if the URL doesn't already start with it (replace if `http://`)
- Validate that what we now have is a URL using the ruby parser.

This makes the following changes to these example URLs:
[code]

So this doesn't allow for relative paths. I'm not sure that would really be an issue unless a fund was hosting resources on their own se

[2021-03-19 05:23] colinxfleming opened #2154 "docker setup issue - webpack out of sync"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Setup instructions, on docker-compose up, are returning an error because webpack is being weird and not compiled yet. Maybe there's a depends_on we need to do or something?

* **What feature or behavior is this required for

[2021-03-19 23:40] colinxfleming commented on #2120
I submitted us for app verification thru google on 3/19.

[2021-03-20 03:31] patriciaDAscientist commented on #2154
ISO new issues

[2021-03-21 19:25] #1990 closed

[2021-03-24 19:40] elimbaum commented on #1888
Would love to chat about this at next hacknight - while browsing issues I realized I just (accidentally) replicated a good deal of @lomky's #2002 while working on #2153, so maybe we can bring this back!

[2021-03-25 21:48] #2154 closed

[2021-04-05 15:14] xmunoz commented on #2149
Just to throw a wrench into this issue thread: I'm in Ecuador currently. For most of my work, I VPN into Miami, but sometimes I forget and directly connect to an instance to validate a deployment or triage an issue.

[2021-04-05 15:21] xmunoz commented on #2120
Any updates?

[2021-04-05 23:54] #2027 closed

[2021-04-05 23:54] #2091 closed

[2021-04-05 23:58] colinxfleming commented on #2019
hm I think this might still be live, going to reopen it until we have a chance to take an eyeballing. @xmunoz let me know if I'm reading wrong

[2021-04-06 00:05] xmunoz commented on #2019
That's correct. I initially accidentally linked my PR to this issue number instead of #2091 :/

[2021-04-06 00:41] colinxfleming commented on #2120
This is on me to bump - looks like next steps are going thru the steps here https://stackoverflow.com/questions/54231660/i-cant-deploy-google-oauth-app-in-heroku

[2021-04-06 01:58] #2131 closed

[2021-04-06 02:26] colinxfleming commented on #2120
place to register individual domains which I think covers us: https://search.google.com/search-console/welcome?hl=en

[2021-04-07 01:58] colinxfleming commented on #2120
domains are officially verified

[2021-04-16 06:54] colinxfleming opened #2172 "Better language around urgent patients?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

NOAF pointed out that `Urgent` in urgent patients is kinda inaccurate - it gets used in practice as the 'flag/share with other case managers'. I think this is the case with more than just NOAF, so I'd like to check and see

[2021-04-16 06:57] colinxfleming opened #2173 "'Quick add' button on search"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

A NOAF CM writes:

* **What feature or behavior is this required for?**

CM tension levels

* **How could we solve this issue? (Not knowing is okay!)**

Probably true that this is additional button clicks and stress. Would

[2021-04-19 16:11] xmunoz commented on #2120
Cool! I'm going to try to add Sandbox back to verified domains list here, which we had previously removed to make space for a newly onboarded fund: https://console.cloud.google.com/apis/credentials?authuser=1&project=dcaf-single-sign-on-production

We need to add it back because:
- Sandbox should, as much as possible, closely mirror production
- I want to test the omniauth upgrade before rolling i

[2021-04-21 00:37] colinxfleming opened #2174 "Adjustments for practical support only funds?"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We got our first completely practical support based fund. Since they aren't doing pledges, the pledge of the app is not super helpful.

Generally CMs consider a patient good to go when they fire off the pledge, and the fund

[2021-04-21 04:19] colinxfleming commented on #1463
I'd like to revisit this in the nearish future. Here's what I think I'd like, specifically, to start:

* a new view, `/admin/`
* powered by a new controller, `AdminsController`
* that starts by loading events from all lines, paginated (copying and pasting what we do on the main call list dashboard is fine for UX)
* and is only available to people with admin privileges
* and which is linked to in t

[2021-04-22 13:30] xmunoz commented on #2120
Good news! I was able to add back Sandbox to our Google Oauth config. I updated the config vars in Heroku, restarted the app, and add my user (xmunoz@opentechstrategies.com) from the admin login. I was then able to successfully login with Google. I think we can mark this done?

Bad news! The instructions here for creating a new user on the command line no longer work:
https://github.com/DCAFEngine

[2021-04-22 13:32] xmunoz opened #2175 "Instructions for creating a new user using Heroku cli don't work"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Create an admin user when provisioning a new fund.

* **How could we solve this issue? (Not knowing is okay!)**
There is documentation here: https://github.com/DCAFEngineering/dcaf_case_management/blob/8264dd3b411c769d4c2bbc

[2021-04-22 23:56] rudietuesdays commented on #1979
I'm able to recreate on sandbox and locally, looks like it's responding with a 404 on first hit but succeeding on page refresh. Digging in more!

[2021-04-23 00:17] colinxfleming commented on #2175
This scans --

[code]

with a proper password (in my case, `Cats12345`) it does seem to blend.

[2021-04-23 00:25] colinxfleming commented on #2175
I'll bump this in such a way that we can just copy a snippet and not think about it.

[2021-04-23 05:33] colinxfleming commented on #1974
(this is claimed!)

[2021-04-25 23:45] #2175 closed

[2021-04-26 00:23] #2088 closed

[2021-04-26 00:23] #2153 closed

[2021-05-02 21:34] colinxfleming commented on #2120
per conversation with @xmunoz I think we're all clear here!

[2021-05-03 01:14] elimbaum opened #2183 "URL validation isn't strict enough"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

Validate URLs in config page (after #2162, #2157) more accurately.

* **What feature or behavior is this required for?**

Config URLs should be validated in a way that is helpful and correct. The URL specification is too br

[2021-05-07 22:28] elimbaum commented on #2150
I might give this one a crack since I've been looking at Configs recently!

[2021-05-09 00:05] colinxfleming opened #2188 "Add city/state to the clinics dropdown in patient edit view"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

If you go to a patient edit page, here's how the clinic dropdown renders:

![image](https://user-images.githubusercontent.com/3866868/117556529-f7ae0980-b037-11eb-93b6-d003f8a949af.png)

Those are just the names of the clin

[2021-05-09 19:04] #1888 closed

[2021-05-09 19:17] elimbaum commented on #2150
What should the default values and bounds be? Currently we are doing what's in the screenshot - 120 and 365 days. I'm not super familiar with this part of the process so would just be making up numbers for min/max.

[2021-05-09 19:49] lomky commented on #2150
I'd go with the values currently hardcoded as the default, that way folks who don't mind the current settings won't have any change

[2021-05-09 19:53] elimbaum commented on #2150
Sure. And no bounds?

Also, welcome input on language. I currently have this:
<img width="562" alt="image" src="https://user-images.githubusercontent.com/7085805/117585105-9b51f500-b0de-11eb-80ab-5afb470bd72f.png">

which sounds a bit weird. But then again if we want them to be together on the config list (sorts alphabetically), it may need to be that wording.

[2021-05-09 19:59] colinxfleming opened #2193 "Add practical supports to seeds"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

We have a model, practical support, that CMs use pretty heavily, but when we seed the database with test data, none of the patients have practical support entries. We should adjust our test data to fix this!

* **What featu

[2021-05-09 20:03] lomky commented on #2150
Oh bounds. good point. I'd think the same for both, but I don't have a good idea what our acceptable latest archive should be.
Just a stab in the dark, minimum 2 months, maximum 1.5 years?
Any opinions, @colinxfleming?

For the wording, how about the titles :

[2021-05-09 20:17] elimbaum opened #2194 "Singleton Configs act funny with commas"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Parse singleton values (integers, URLS, etc) in configs.

* **What feature or behavior is this required for?**
Budget bar, archive days (upcoming), URL handling, few other single-word configs.

* **How could we solve this is

[2021-05-09 20:18] elimbaum commented on #2150
are you ok with "options" being added at the end... that text is automatically plugged into the header and save button. So it would be

and then

[2021-05-09 20:29] colinxfleming commented on #2150
honestly, @verbingthenoun you've thought more about this than anyone, probably -- what do you think the boundaries should be on each of these?

I do like 1.5 years as a high max if not audited. I subscribe to the philosophy of 'data is a liability' when it comes to PII.

[2021-05-09 21:10] lomky commented on #2150
Yeah totally chill to have it follow the existing `... options` and `Update ... options` flow

[2021-05-09 21:12] verbingthenoun commented on #2150
Agree with "data is a liability" but it's also really critical that we not set the low bound too low, especially for unfulfilled. I *think* two months is reasonable, although I'm actually not sure if we have cases that take 2+ months to resolve. maybe worth looping in someone on CM team?

[2021-05-09 21:39] lomky commented on #2150
Also, I wouldn't let this block you Eli! throw in a low bound and we can always hold on merging the final PR until we hammer out the right number

[2021-05-14 17:06] #2141 closed

[2021-05-19 05:03] #1461 closed

[2021-05-20 00:30] nsiwnf commented on #2188
Picking this up!

[2021-05-20 04:22] colinxfleming opened #2208 "Alter accountant dashboard to include more data"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

NOAF is experiencing a pain point around accounting. We should talk about the strat I've laid out here, but I think we can adjust things to mitigate some of their pain points.

* **What feature or behavior is this required

[2021-05-20 04:23] colinxfleming commented on #2208
(also of note, they requested adding weeks at procedure to the fulfillment partial/edit page in the info spot, and requested the ability to sort by clinic on the main accounting page.)

[2021-05-24 01:51] colinxfleming commented on #2208
So three issues here, with complexity:
* Add Weeks at Procedure to fulfillment partial
* On accounting, search by, or sort by, clinic. either one is fine
* On accounting, make the search shell have scrolly overflow and add pt name, line; ditch initials; keep other info

[2021-05-28 21:14] colinxfleming opened #2213 "Add weeks at procedure to fulfillment partial"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

`Weeks along at procedure` is a field that I believe is contained in the export, but not surfaced anywhere else. It would help one of our funds out if we could surface that in app; let's add it to the static information in

[2021-05-28 21:20] elimbaum commented on #2213
Cool! Just to make sure I'm understanding all the parts -- we do this first, then #2208 and friends, correct?

[2021-05-28 21:22] elimbaum commented on #2213
Also, I'm not totally clear on the change here - we already have `weeks along at procedure` dropdown on the fulfillment partial. Are we looking for an additional view of that value?

[2021-05-28 21:37] colinxfleming commented on #2213
yeah, you're right, and I embarrassingly seem to have lost my notes on this. I think the useful piece of information is 'was estimated gestation WAY OFF from real gestation', so let's use the estimated gestation on the main patient view:

![image](https://user-images.githubusercontent.com/3866868/120043941-dc04a600-bfda-11eb-8e54-a8a8cb34abad.png)

and have that be the piece of info we surface?

T

[2021-05-28 21:49] colinxfleming opened #2214 "Add clinic filter system to accountants view"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

I would like to add a clinic filter to the accounting workflow form, in addition to the existing patients filter.

* **What feature or behavior is this required for?**

When funds are cutting checks and reconciling, they're

[2021-05-28 21:59] elimbaum commented on #2214
Makes sense!

- For patients who have _no clinic_ set, we will of course want them to show up when `All clinics` is selected. Should we _also_ have a `No clinic` option in the dropdown to filter for those patients?
- I assume we want to do both filters at the same time? So if you search for "Susan" and then pick a clinic, you'll get all the Susans @ that clinic, right? (vs. clearing the first sear

[2021-05-28 22:00] elimbaum commented on #2214
Note to self: looks like the "Displaying X patients" text doesn't update properly. Look into this.

[2021-05-28 22:07] colinxfleming opened #2215 "Change information displayed on accountants workflow"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
A fund has requested that we add some more information to the accountants workflow, to help ease their (currently very unpleasant through no fault of anyone's) accounting process. This is a ticket to adjust the UX a little a

[2021-05-28 22:13] elimbaum commented on #2215
Just for my background knowledge - are there "accountant" privileges that are distinct from volunteers? i.e. are we actually exposing new information to (possibly) new groups of users, or are we just providing that same information (i.e. that would be on the call list) on a new page?

[2021-05-28 22:14] colinxfleming commented on #2208
Individual steps are ticketed, so closing this out and tracking programming in individual tickets

[2021-05-28 22:14] #2208 closed

[2021-05-28 22:16] colinxfleming commented on #2215
yeah! The `data volunteer` permissions level gives you access to this, since (at DCAF) the data team led by @verbingthenoun leads this process. You can see that in the code at https://github.com/DCAFEngineering/dcaf_case_management/blob/main/app/controllers/accountants_controller.rb#L3

[2021-05-28 22:18] colinxfleming commented on #2214
Patients that show up in this should have a clinic set by nature of them having a pledge, I think. If a patient is in this rack and doesn't have a clinic, that's a validation bug on our side!

Yes please to both filters at the same time!

[2021-05-31 17:26] elimbaum commented on #2215
I think as part of this issue I will also update some of the plumbing for the table - we're currently hacking in search results by manually inserting rows into a table, rather than using (presumably) native kaminari pagination utilities. I stumbled across this because the number of search results doesn't update correctly.

[2021-05-31 17:29] colinxfleming commented on #2215
Definitely a good idea to poke at that and see what's up. That said, don't get too hung up on it I think -- the postgres work is wrapping up soon hopefully, and that'll probably change the stance / approach at least a little bit.

[2021-06-01 19:58] elimbaum commented on #2215
What's the difference between `fund payout` (existing) and `fund pledge` (new)?

[2021-06-02 01:41] lomky commented on #2215
This is definitely a slight increase in our risk, but given that it is a restricted role page I'm okay with this - we should be sure to communicate this change our to our funds so they can audit the access properly

[2021-06-02 02:23] colinxfleming commented on #2215
@lomky good call on communicating the change in available data, and a flag to give funds a chance to get ahead of this. Thank you very much!

@elimbaum fund payout is on the fulfillment model and represents how much money a fund actually contributed; fund pledge is how much a fund was planning on contributing. Usually they're the same, but occasionally funds will bump the pledge amount on the fly

[2021-06-08 02:40] #2150 closed

[2021-06-09 01:00] #2188 closed

[2021-06-09 01:41] colinxfleming opened #2225 "Fix postgres n+1 joins"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

For expedience, we're adding some n+1 joins to some controllers. We shouldn't let that sit for too long though!

* **What feature or behavior is this required for?**

fast app

* **How could we solve this issue? (Not knowin

[2021-06-11 04:33] colinxfleming opened #2226 "Fix postgres clinic finders controller"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

As part of the pg work I forgot to convert the database calls in the clinics finder controller. This is a fix it ticket to get that square.

* **What feature or behavior is this required for?**
using the clinic finders cont

[2021-06-11 04:35] colinxfleming opened #2227 "For Config, enforce uniqueness on config_key at the database level"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
I don't know how on earth we managed to do this but we somehow created two patient fulfillment archive config entries in staging. We only enforce their uniqueness in the rails model; let's do that in postgres too.

* **What

[2021-06-12 20:40] colinxfleming opened #2236 "enable activerecord-session_store"
We had this in mongo and we should do it in pg too -- https://github.com/rails/activerecord-session_store

[2021-06-12 21:09] colinxfleming opened #2237 "replace kaminari-mongoid with regular kaminari"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**

* **What feature or behavior is this required for?**

* **How could we solve this issue? (Not knowing is okay!)**

* **Anything else?**

[2021-06-13 18:23] sentry-io[bot] opened #2239 "PG afterfix: User search can return a nil result and cause error"
Unlike a lot of the errors I caused in migrating, this one's real and caused by CM activity. The short of it is that, by my read, it's possible to have `@results` evaluate to nil rather than an iterable on the users search page. Legit bug! Probably the fix here is to pop into the controller, replicate, and squash (and write a regression test).

Error details below:

Sentry Issue: [DARIA-2D](https:

[2021-06-13 18:24] colinxfleming commented on #2239
(my apologies to github user at-results, who I accidentally tagged in making this issue)

[2021-06-13 20:00] #2236 closed

[2021-06-14 00:34] #2237 closed

[2021-06-15 22:19] colinxfleming opened #2247 "Double-check our deploy pipeline is using appropriately rigged up github tokens"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
@lomky posted a github notice that they've finished their redoing of auth tokens. We should check our CI system and make sure that if we _are_ using github tokens, we're using them safely. (I can't remember if we are or not,

[2021-06-16 00:27] #2226 closed

[2021-06-16 02:40] xmunoz commented on #2049
No longer relevant

[2021-06-16 02:40] #2049 closed

[2021-06-16 02:40] xmunoz commented on #2025
No longer relevant

[2021-06-16 02:40] #2025 closed

[2021-06-16 02:42] xmunoz commented on #2072
Remaining work:
- Remove the mongo_id field
-- https://github.com/DCAFEngineering/dcaf_case_management/blob/main/db/schema.rb#L55
- Delete mongo instances in Atlas so that we aren't getting billed for those dbs anymore

[2021-06-16 02:44] xmunoz commented on #987
No longer relevant

[2021-06-16 02:44] #987 closed

[2021-06-16 03:13] colinxfleming commented on #2239
fixed by #2243

[2021-06-16 03:13] #2239 closed

[2021-06-16 13:04] lomky opened #2249 "Setup a shared 1Pass"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
Now that 1Password is doing free-for-FOSS, let's join in on that and then gather all our sensitive stuff into one shared place and to reduce any lock out risk.

* **What feature or behavior is this required for?**
Better res

[2021-06-16 19:41] colinxfleming commented on #634
We're on postgres now. Should we try and just set up an embeddable mode analytics dashboard?

[2021-06-18 19:58] colinxfleming opened #2251 "Rails 6.1"
Thanks for creating an issue! Please fill out this form so we can be sure to have all the information we need, and to minimize back and forth.

* **What are we trying to do?**
upgrade rails time; mongo was a blocker for this

* **What feature or behavior is this required for?**
new and shiny, and I'd kind of like strict loading and actioncomponent

* **How could we solve this issue? (Not knowing i

[2021-06-18 20:40] colinxfleming commented on #2110
oops, duped this in #2251 - closing in favor of that

[2021-06-18 20:40] #2110 closed

[2021-06-18 22:17] colinxfleming commented on #2120
We Thought Wrong

[2021-06-18 22:21] lomky commented on #2249
PR opened with 1Pass: https://github.com/1Password/1password-teams-open-source/pull/355

[2021-06-19 14:34] lomky commented on #2249
Completed!